<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<composite:interface componentType="arfCompositeComponent"> 
    <composite:attribute name="label" required="true" type="java.lang.String"/>    
    <composite:attribute name="requiredCond" required="true" type="java.lang.Boolean"/>
    <composite:attribute name="compId" required="true" type="java.lang.String"/>
    <composite:attribute name="value" required="true" type="java.lang.Object"/> 
    <composite:attribute name="style" required="false" type="java.lang.String" default=""/> 
    <composite:attribute name="changeEventUpdateComp" required="false" />      
	<composite:attribute name="ajaxEventListener" required="false" method-signature="void listener(javax.faces.event.AjaxBehaviorEvent)" />
	<composite:attribute name="updateCompWithoutEvent" required="false" />  
	<composite:attribute name="disabledCond" required="false" default="false" /> 
</composite:interface>

<composite:implementation> 
	<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde,otuzYuzde,kirkYuzde"> 
		<c:if test="#{!cc.attrs.requiredCond}">	
			<h:outputText value="#{cc.attrs.label} : " 
				styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px"/> 
			<h:selectBooleanCheckbox id="#{cc.attrs.compId}" 
				value="#{cc.attrs.value}" disabled="#{cc.attrs.disabledCond}" 
				title="#{cc.attrs.label}" required="#{cc.attrs.requiredCond}"
				styleClass="optionalInputText" style="#{cc.attrs.style}">  
				<c:if test="${not empty cc.attrs.changeEventUpdateComp}">   
					<f:ajax event="valueChange" listener="#{cc.ajaxEventListener}" render="#{cc.attrs.changeEventUpdateComp}" execute="@this" />
				</c:if>
				<c:if test="${not empty cc.attrs.updateCompWithoutEvent}">   
					<f:ajax event="valueChange" render="#{cc.attrs.updateCompWithoutEvent}" execute="@this" />
				</c:if>
			</h:selectBooleanCheckbox>
			<p:message for="#{cc.attrs.compId}" />
		</c:if>
		<c:if test="#{cc.attrs.requiredCond}">	
			<h:outputText value="#{cc.attrs.label} : " 
				styleClass="requiredOutputText" style="padding-left:5px; padding-right:10px"/> 
			<h:selectBooleanCheckbox id="#{cc.attrs.compId}" 
				value="#{cc.attrs.value}" disabled="#{cc.attrs.disabledCond}"
				title="#{cc.attrs.label}" required="true" 
				styleClass="optionalInputText" style="#{cc.attrs.style}">   
				<c:if test="${not empty cc.attrs.changeEventUpdateComp}">   
					<f:ajax event="valueChange" listener="#{cc.ajaxEventListener}" render="#{cc.attrs.changeEventUpdateComp}" execute="@this" />
				</c:if>
				<c:if test="${not empty cc.attrs.updateCompWithoutEvent}">   
					<f:ajax event="valueChange" render="#{cc.attrs.updateCompWithoutEvent}" execute="@this" />
				</c:if>
			</h:selectBooleanCheckbox>
			<p:message for="#{cc.attrs.compId}" />
		</c:if> 
	</h:panelGrid>	
</composite:implementation> 
</html>