<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:composite="http://java.sun.com/jsf/composite" xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core">

<composite:interface>
	<composite:attribute name="controllerClassName" required="false" type="tr.com.arf.framework.view.controller.form._base.BaseController" />
	<composite:attribute name="modelName" required="true" type="java.lang.String" />
	<composite:attribute name="rowItem" required="true" type="java.lang.Object" />
	<composite:attribute name="loggable" required="true" type="java.lang.Boolean" default="false" />

	<composite:attribute name="addRendered" required="true" type="java.lang.Boolean" default="true" />
	<composite:attribute name="updateRendered" required="true" type="java.lang.Boolean" default="true" />
	<composite:attribute name="deleteRendered" required="true" type="java.lang.Boolean" default="true" />
	
	<composite:attribute name="downloadRendered" required="true" type="java.lang.Boolean" default="false" />
</composite:interface>

<composite:implementation>

	<p:commandButton onsuccess="detailEditDialog.show()" action="#{cc.attrs.controllerClassName.newDetail(cc.attrs.modelName)}" icon="new" immediate="true" process="@this"
		update="@this" styleClass="commandButton" ajax="true" style="width:30px"
		rendered="#{cc.attrs.controllerClassName.updateRecordRenderedFor(cc.attrs.modelName) and cc.attrs.addRendered}" />

	<p:commandButton onsuccess="detailEditDialog.show()" action="#{cc.attrs.controllerClassName.updateDetail(cc.attrs.modelName, cc.attrs.rowItem)}" icon="edit" immediate="true"
		process="@this" update="@this" styleClass="commandButton" ajax="true" style="width:30px"
		rendered="#{cc.attrs.controllerClassName.updateRecordRenderedFor(cc.attrs.modelName) and cc.attrs.updateRendered}" />

	<p:commandButton action="#{cc.attrs.controllerClassName.deleteDetail(cc.attrs.modelName, cc.attrs.rowItem)}"
		onclick="if (confirm('#{label['recordDelete']}')) {return true} else {return false}"
		rendered="#{cc.attrs.controllerClassName.deleteRenderedFor(cc.attrs.modelName) and cc.attrs.deleteRendered}" icon="delete" update="@form :globalMessages"
		styleClass="commandButton" ajax="true" style="width:30px" immediate="true" process="@this"/>

	<h:outputLink rendered="#{cc.attrs.loggable}"
		onclick="window.open('#{facesContext.externalContext.requestContextPath}/faces/_page/_main/islemDialog.xhtml?referansId=#{cc.attrs.rowItem.RID}&amp;tablo=#{cc.attrs.modelName}', 'popupWindowRapor', 'dependent=yes, menubar=no, toolbar=no'); return false;">
		<p:commandButton id="islemLogCommand" icon="history" styleClass="commandButton" ajax="true" style="width:30px" immediate="true" />
	</h:outputLink>

	<h:commandLink actionListener="#{sessionController.execute(cc.attrs.rowItem)}" immediate="true" rendered="#{cc.attrs.downloadRendered}" target="_blank">
		<p:commandButton id="downloadCommand" icon="download" styleClass="commandButton" ajax="true" style="width:30px" immediate="true" /> 
	</h:commandLink>

</composite:implementation>
</html>