<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:composite="http://java.sun.com/jsf/composite" xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core">

<composite:interface>
	<composite:attribute name="label" required="true" type="java.lang.String" />
	<composite:attribute name="pattern" required="true" type="java.lang.String" />
	<composite:attribute name="requiredCond" required="false" type="java.lang.Boolean" default="false" />
	<composite:attribute name="compId" required="true" type="java.lang.String" />
	<composite:attribute name="value" required="true" type="java.util.Date" />
	<composite:attribute name="valueMax" required="true" type="java.util.Date" />
	<composite:attribute name="style" required="false" type="java.lang.String" default="" />
	<composite:attribute name="navigatorRendered" required="true" type="java.lang.Boolean" default="true" />
	<composite:attribute name="yearRange" required="true" type="java.lang.String" default="1990:2020" />
	<composite:attribute name="columnCount" required="false" type="java.lang.String" default="2" />
	<composite:attribute name="columnClasses" required="false" type="java.lang.String" default="otuzYuzde,yetmisYuzde" />
</composite:interface>

<composite:implementation>
	<h:panelGrid columns="#{cc.attrs.columnCount}" width="100%" border="0" columnClasses="#{cc.attrs.columnClasses}" style="margin-top:5px; margin-bottom:5px">

		<h:outputText value="#{cc.attrs.label} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
		<h:panelGroup>
			<p:calendar id="#{cc.attrs.compId}ForFilter" value="#{cc.attrs.value}" navigator="#{cc.attrs.navigatorRendered}" label="#{cc.attrs.label}" required="false"
				pattern="#{configurationController.datePattern}" showFooter="true" showApplyButton="false" yearRange="#{cc.attrs.yearRange}">
			</p:calendar>
			<p:calendar id="#{cc.attrs.compId}MaxForFilter" value="#{cc.attrs.valueMax}" navigator="#{cc.attrs.navigatorRendered}" label="#{cc.attrs.label}" required="false"
				pattern="#{configurationController.datePattern}" showFooter="true" showApplyButton="false" yearRange="#{cc.attrs.yearRange}" style="margin-left:5px">
			</p:calendar>
			<p:message for="#{cc.attrs.compId}ForFilter" />
		</h:panelGroup>		
	</h:panelGrid>
</composite:implementation>
</html>