<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<composite:interface componentType="arfCompositeComponent"> 
    <composite:attribute name="label" required="true" type="java.lang.String"/>  
    <composite:attribute name="label2" required="true" type="java.lang.String"/>
    <composite:attribute name="listSource" required="true"/> 
    <composite:attribute name="listSource2" required="true"/>
    <composite:attribute name="compId" required="true" type="java.lang.String"/>
    <composite:attribute name="compId2" required="true" type="java.lang.String"/>
    <composite:attribute name="requiredCond" required="false" type="java.lang.Boolean" default="false"/>
    <composite:attribute name="value" required="true" type="java.lang.Object"/>
    <composite:attribute name="value2" required="true" type="java.lang.Object"/>
    <composite:attribute name="converterId" required="false" type="java.lang.String"/>
    <composite:attribute name="converterId2" required="false" type="java.lang.String"/>
    <composite:attribute name="style" required="false" type="java.lang.String" default=""/> 
    <composite:attribute name="style2" required="false" type="java.lang.String" default=""/>
    <composite:attribute name="changeEventUpdateComp" required="false" />      
	<composite:attribute name="ajaxEventListener" required="false" method-signature="void listener(javax.faces.event.AjaxBehaviorEvent)" />
	<composite:attribute name="disabledCond" required="false" default="false" />
	<composite:attribute name="disabledCond2" required="false" default="false" />
	<composite:attribute name="addNullOption" required="false" default="false" type="java.lang.Boolean" />	 
	<composite:attribute name="addNullOption2" required="false" default="false" type="java.lang.Boolean" />
</composite:interface>

<composite:implementation> 
	<h:panelGrid columns="2" width="100%" border="0" columnClasses="otuzYuzde, yetmisYuzde">  
		<h:outputText value="#{cc.attrs.label} - #{cc.attrs.label2} : " 
			styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px"/> 
		<h:panelGroup>	
			<h:selectOneMenu id="#{cc.attrs.compId}ForFilter" 
				value="#{cc.attrs.value}" disabled="#{cc.attrs.disabledCond}" 
				title="#{cc.attrs.label}" required="#{cc.attrs.requiredCond}" 
				styleClass="optionalInputText" style="#{cc.attrs.style}">
				<c:if test="#{cc.attrs.addNullOption}">
					<f:selectItem itemValue="" itemLabel="#{label['kayit.seciniz']}" />
				</c:if>	
				<f:selectItems value="#{cc.attrs.listSource}" /> 
				<c:if test="${not empty cc.attrs.converterId }">
					<f:converter converterId="#{cc.attrs.converterId}" />
				</c:if>
				<c:if test="${not empty cc.attrs.changeEventUpdateComp}">   
					<f:ajax event="valueChange" listener="#{cc.ajaxEventListener}" render="#{cc.attrs.changeEventUpdateComp}" execute="@this" />
				</c:if>
			</h:selectOneMenu>
			
			<h:selectOneMenu id="#{cc.attrs.compId2}ForFilter" 
				value="#{cc.attrs.value2}" disabled="#{cc.attrs.disabledCond2}" 
				title="#{cc.attrs.label2}" required="#{cc.attrs.requiredCond2}" 
				styleClass="optionalInputText" style="margin-left:5px; #{cc.attrs.style2}">
				<c:if test="#{cc.attrs.addNullOption2}">
					<f:selectItem itemValue="" itemLabel="#{label['kayit.seciniz']}" />
				</c:if>	
				<f:selectItems value="#{cc.attrs.listSource2}" /> 
				<c:if test="${not empty cc.attrs.converterId2 }">
					<f:converter converterId="#{cc.attrs.converterId2}" />
				</c:if> 
			</h:selectOneMenu>
		</h:panelGroup> 
	</h:panelGrid>	
</composite:implementation> 
</html>