<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<composite:interface> 
    <composite:attribute name="label" required="true" type="java.lang.String"/>  
    <composite:attribute name="requiredCond" required="true" type="java.lang.Boolean"/>
    <composite:attribute name="compId" required="true" type="java.lang.String"/>
    <composite:attribute name="value" required="true" type="java.lang.String"/> 
    <composite:attribute name="style" required="false" type="java.lang.String" default=""/>
    <composite:attribute name="maxLength" required="false" type="java.lang.String"/>
    <composite:attribute name="minLength" required="false" type="java.lang.String"/>
    <composite:attribute name="longMin" required="false" type="java.lang.String"/>
    <composite:attribute name="longMax" required="false" type="java.lang.String"/>
    <composite:attribute name="readOnlyStatus" required="false" type="java.lang.String" default="false"/>
    <composite:attribute name="doubleMin" required="false" type="java.lang.String"/>
    <composite:attribute name="doubleMax" required="false" type="java.lang.String"/>
    <composite:attribute name="customValidatorId" required="false" type="java.lang.String"/>  
    
    <composite:attribute name="compId2" required="true" type="java.lang.String"/>
    <composite:attribute name="value2" required="true" type="java.lang.String"/> 
    <composite:attribute name="maxLength2" required="false" type="java.lang.String"/>
    <composite:attribute name="minLength2" required="false" type="java.lang.String"/>
    <composite:attribute name="longMin2" required="false" type="java.lang.String"/>
    <composite:attribute name="longMax2" required="false" type="java.lang.String"/> 
    <composite:attribute name="doubleMin2" required="false" type="java.lang.String"/>
    <composite:attribute name="doubleMax2" required="false" type="java.lang.String"/>  
    <composite:attribute name="readOnlyStatus2" required="false" type="java.lang.String" default="false"/>
    <composite:attribute name="customValidatorId2" required="false" type="java.lang.String"/>
    <composite:attribute name="style2" required="false" type="java.lang.String" default=""/>
</composite:interface>

<composite:implementation>  
	<h:panelGrid columns="2" width="100%" border="0" columnClasses="otuzYuzde, yetmisYuzde">  	 
		<h:outputText value="#{cc.attrs.label} : " 
			styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px"/>			
		<h:panelGroup>					 
			<h:inputText id="#{cc.attrs.compId}ForFilter" value="#{cc.attrs.value}"  
				title="#{cc.attrs.label}" required="false"  
				styleClass="optionalInputText" size="5" style="#{cc.attrs.style}" readonly="#{cc.attrs.readOnlyStatus}">
				<c:if test="${not empty cc.attrs.maxLength}">
					<f:validateLength maximum="#{cc.attrs.maxLength}" />
				</c:if>
				<c:if test="${not empty cc.attrs.minLength}">
					<f:validateLength minimum="#{cc.attrs.minLength}" />
				</c:if>
				<c:if test="${not empty cc.attrs.longMin}">
					<f:validateLongRange minimum="#{cc.attrs.longMin}" />
				</c:if>	 
				<c:if test="${not empty cc.attrs.longMax}">
					<f:validateLongRange maximum="#{cc.attrs.longMax}" />
				</c:if>	  
				<c:if test="${not empty cc.attrs.doubleMin}">
					<f:validateDoubleRange minimum="#{cc.attrs.doubleMin}" />
				</c:if>
				<c:if test="${not empty cc.attrs.doubleMax}">
					<f:validateDoubleRange maximum="#{cc.attrs.doubleMax}" />
				</c:if>
				<c:if test="${not empty cc.attrs.customValidatorId}">
					<f:validator validatorId="#{cc.attrs.customValidatorId}"/>
				</c:if>
			</h:inputText>   				
			<h:inputText id="#{cc.attrs.compId2}ForFilter" value="#{cc.attrs.value2}"  
				title="#{cc.attrs.label}" required="false"  
				styleClass="optionalInputText" size="5" style="margin-left:5px; #{cc.attrs.style2}" readonly="#{cc.attrs.readOnlyStatus2}">
				<c:if test="${not empty cc.attrs.maxLength2}">
					<f:validateLength maximum="#{cc.attrs.maxLength2}" />
				</c:if>
				<c:if test="${not empty cc.attrs.minLength2}">
					<f:validateLength minimum="#{cc.attrs.minLength2}" />
				</c:if>
				<c:if test="${not empty cc.attrs.longMin2}">
					<f:validateLongRange minimum="#{cc.attrs.longMin2}" />
				</c:if>	 
				<c:if test="${not empty cc.attrs.longMax2}">
					<f:validateLongRange maximum="#{cc.attrs.longMax2}" />
				</c:if>	  
				<c:if test="${not empty cc.attrs.doubleMin2}">
					<f:validateDoubleRange minimum="#{cc.attrs.doubleMin2}" />
				</c:if>
				<c:if test="${not empty cc.attrs.doubleMax2}">
					<f:validateDoubleRange maximum="#{cc.attrs.doubleMax2}" />
				</c:if>
				<c:if test="${not empty cc.attrs.customValidatorId2}">
					<f:validator validatorId="#{cc.attrs.customValidatorId2}"/>
				</c:if>
			</h:inputText>   
		</h:panelGroup>	 
	</h:panelGrid>	
</composite:implementation> 
</html>