<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:composite="http://java.sun.com/jsf/composite" xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:pe="http://primefaces.org/ui/extensions">

<composite:interface>
	<composite:attribute name="label" required="true" type="java.lang.String" />
	<composite:attribute name="requiredCond" required="true" type="java.lang.Boolean" />
	<composite:attribute name="compId" required="true" type="java.lang.String" />
	<composite:attribute name="value" required="true" type="java.lang.String" />
	<composite:attribute name="style" required="false" type="java.lang.String" default="" /> 
	<composite:attribute name="readOnlyStatus" required="false" type="java.lang.String" default="false" />
	<composite:attribute name="height" required="false" type="java.lang.String" default="300" />
	<composite:attribute name="width" required="false" type="java.lang.String" default="600" />
	<composite:attribute name="controls" required="true" type="java.lang.String" default="[['Bold','Italic','Underline','Strike','Subscript','Superscript','-','RemoveFormat','Cut','Copy','Paste','PasteText','PasteFromWord','-', 'Undo','Redo', 'Format','Font','FontSize', 'Outdent', 'Indent' ]]" />
	
	<composite:attribute name="columnCount" required="false" type="java.lang.String" default="2" />
	<composite:attribute name="columnClasses" required="false" type="java.lang.String" default="otuzYuzde,yetmisYuzde" />
</composite:interface>

<composite:implementation>
	<h:panelGrid columns="#{cc.attrs.columnCount}" width="100%" border="0" columnClasses="#{cc.attrs.columnClasses}" style="margin-top:10px; margin-bottom:10px">
		<c:if test="#{!cc.attrs.requiredCond}">
			<h:outputText value="#{cc.attrs.label} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
		</c:if>
		<c:if test="#{cc.attrs.requiredCond}">
			<h:outputText value="#{cc.attrs.label} : " styleClass="requiredOutputText" style="padding-left:5px; padding-right:10px" />
		</c:if>	  
		<pe:ckEditor id="#{cc.attrs.compId}" value="#{cc.attrs.value}" readOnly="#{cc.attrs.readOnlyStatus}" required="#{cc.attrs.requiredCond}"
			width="#{cc.attrs.width}" height="#{cc.attrs.height}" toolbar="#{cc.attrs.controls}"/> 
		<p:spacer width="10" height="10" />	
		<p:message for="#{cc.attrs.compId}" /> 
	</h:panelGrid>
	 
</composite:implementation>
</html>