<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:composite="http://java.sun.com/jsf/composite" xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:pe="http://primefaces.org/ui/extensions">

<composite:interface>
	<composite:attribute name="controllerClassName" required="false" type="tr.com.arf.framework.view.controller.form._base.BaseController" />
	<composite:attribute name="formName" required="true" type="java.lang.String" />
	<composite:attribute name="listPanelName" required="true" type="java.lang.String" />
	<composite:attribute name="editPanelName" required="true" type="java.lang.String" />
	<composite:attribute name="modelName" required="true" type="java.lang.String" />
	<composite:attribute name="renderCancelButton" default="true" required="true" type="java.lang.Boolean" />
</composite:interface>

<composite:implementation>
	<p align="center" style="margin-top:10px; margin-bottom:10px">
		<p:commandButton id="postCommandFor#{cc.attrs.modelName}" action="#{cc.attrs.controllerClassName.save}"
			value="#{label['command.post']}" ajax="true" process=":#{cc.attrs.formName}:#{cc.attrs.editPanelName}" update=":#{cc.attrs.formName} :globalMessages" icon="save"
			styleClass="arfCommandButton" />
		<p:commandButton id="browseCommandFor#{cc.attrs.modelName}" action="#{cc.attrs.controllerClassName.cancel}" process="@this" update=":#{cc.attrs.formName}"
			rendered="#{cc.attrs.renderCancelButton}" value="#{label['command.cancel']}" immediate="true" icon="iptal" styleClass="arfCommandButton" />
		<br />
	</p>
	<p:blockUI block=":#{cc.attrs.formName}" trigger="postCommandFor#{cc.attrs.modelName}, browseCommandFor#{cc.attrs.modelName}">
		<h:outputText value="#{label['common.loading']}" />
		<br />
		<h:graphicImage library="_image" name="ajax-loader.gif" />
	</p:blockUI>

	<pe:ajaxErrorHandler title="Error" body="Server return exception  {error-name} with description {error-message}" button="Hide" widgetVar="myAjaxErrorHandler"
		buttonOnclick="myAjaxErrorHandler.hide()" />

</composite:implementation>
</html>