<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

<composite:interface>
    <composite:attribute name="evrakObject" required="false" type="tr.com.arf.framework.db.model._base.BaseEntity"/> 
</composite:interface>

<composite:implementation>
	<div style="width: 98%; position: relative; top: 0px; height: 100%; left:1%">

		<div style="position: relative; top: 5px; width: 100%; text-align: center"> 
			<h4 style="margin-top:10px">
				TMMOBB<br />
				<h:outputText value="#{cc.attrs.evrakObject.sistemeTanimlayan.birimRef.ad}" />
			</h4>  
		</div>
		<div style="position: relative; top: 10px; width: 100%; text-align: left">
			<h:outputText value="#{cc.attrs.evrakObject.gizlilikderecesi.label} / #{cc.attrs.evrakObject.teslimturu.label} " />
		</div>
		<div style="position: relative; top: 10px; width: 100%; text-align: left">
			<b>Kayıt Tarihi ve No : </b>
			<h:outputText value="#{cc.attrs.evrakObject.kayittarihi}">
				<f:convertDateTime type="date" timeZone="#{configurationController.timeZone}" pattern="#{configurationController.datePattern}" />
			</h:outputText>
			<h:outputText value=" / #{cc.attrs.evrakObject.kayitno}" />
			<br />
			<h:outputText value="#{cc.attrs.evrakObject.evrakturu.label} - " style="margin-left:105px" />
			<red>
			<h:outputText value="#{cc.attrs.evrakObject.aciliyetturu.label}" /></red>
		</div>
		<div style="position: relative; top: 20px; width: 100%; text-align: left">
			<b>Dosya Kodu : </b>
			<h:outputText value="#{cc.attrs.evrakObject.dosyaKoduRef.UIString}" />
			<br /> <b>Konu : </b>
			<h:outputText value="#{cc.attrs.evrakObject.konusu}" />
			<br /> <b>İlgi : </b>
			<h:outputText value="#{cc.attrs.evrakObject.ilgi}" />
		</div>
		<div style="position: relative; top: 50px; width: 100%; text-align: left">
			<b><h:outputText value="#{label['evrak.hazirlayanPersonelRef']} : " /></b>
			<h:outputText value="#{cc.attrs.evrakObject.hazirlayanPersonelRef.UIString}" />
			<br /> <b><h:outputText value="#{label['evrak.takdimmakami']} : " /></b>
			<h:outputText value="#{cc.attrs.evrakObject.takdimmakami}" />
			<br /> <b><h:outputText value="#{label['evrak.anahtarkelime']} : " /></b>
			<h:outputText value="#{cc.attrs.evrakObject.anahtarkelime}" />
			<br /> <b><h:outputText value="#{label['evrak.gittigiUyeRef']} : " /></b>
			<h:outputText value="#{cc.attrs.evrakObject.gittigiUyeRef.UIString}" />			
			<br /> <b><h:outputText value="#{label['evrak.gonderenRef']} : " /></b>
			<h:outputText value="#{cc.attrs.evrakObject.gonderenKurumRef.UIString}" escape="false" rendered="#{evrakRow.gonderenKurumRef.RID != null}" />
			<h:outputText value="#{cc.attrs.evrakObject.gonderenkisiRef.UIString}" escape="false" rendered="#{evrakRow.gonderenkisiRef.RID != null}" /> 
			<br /> 
						
			<h:outputText value="#{cc.attrs.evrakObject.icerik}" escape="false" />			
		</div>
	</div>
</composite:implementation> 
</html>