<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<composite:interface> 
 	<composite:attribute name="controllerClassName" required="false" type="tr.com.arf.framework.view.controller.form._base.BaseController"/>
    <composite:attribute name="label" required="true" type="java.lang.String"/>  
    <composite:attribute name="requiredCond" required="true" type="java.lang.Boolean"/>
    <composite:attribute name="compId" required="true" type="java.lang.String"/> 
    <composite:attribute name="style" required="false" type="java.lang.String" default="width:450px"/>
    <composite:attribute name="allowTypes" required="false" type="java.lang.String"/>
    <composite:attribute name="updateComp" required="false" type="java.lang.String" default="@form"/>
    <composite:attribute name="processComp" required="false" type="java.lang.String" default="@parent"/>
    <composite:attribute name="sizeLimit" required="false" default="1500000"/> 
</composite:interface>

<composite:implementation>  
	<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde,otuzYuzde,kirkYuzde"> 	 
		<c:if test="#{!cc.attrs.requiredCond}">	 
			<h:outputText value="#{cc.attrs.label} : " 
				styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px"/>  
		</c:if>
		<c:if test="#{cc.attrs.requiredCond}">	
			<h:outputText value="#{cc.attrs.label} : " 
				styleClass="requiredOutputText" style="padding-left:5px; padding-right:10px"/>  
		</c:if>
		<c:if test="${not empty cc.attrs.allowTypes}">  
			<p:fileUpload fileUploadListener="#{cc.attrs.controllerClassName.fileUploadListener}"
				 description="#{label['dosya.dosya']}" process="#{cc.attrs.processComp}" style="#{cc.attrs.style}"	 
				 allowTypes="#{cc.attrs.allowTypes}"
				 update="#{cc.attrs.updateComp}" required="#{cc.attrs.requiredCond}" sizeLimit="#{cc.attrs.sizeLimit}" id="#{cc.attrs.compId}" cancelLabel="#{label['login.cancel']}"
				 uploadLabel="#{label['command.upload']}" oncomplete="alert('#{label['dosya.yuklendi']}')" multiple="false" auto="true" /> 
			<p:message for="#{cc.attrs.compId}" />
		</c:if>	
		<c:if test="${empty cc.attrs.allowTypes}">  
			<p:fileUpload fileUploadListener="#{cc.attrs.controllerClassName.fileUploadListener}"
				 description="#{label['dosya.dosya']}" process="#{cc.attrs.processComp}" style="#{cc.attrs.style}"	 
				 update="#{cc.attrs.updateComp}" required="#{cc.attrs.requiredCond}" sizeLimit="#{cc.attrs.sizeLimit}" id="#{cc.attrs.compId}" cancelLabel="#{label['login.cancel']}"
				 uploadLabel="#{label['command.upload']}" oncomplete="alert('#{label['dosya.yuklendi']}')" multiple="false" auto="true" /> 
			<p:message for="#{cc.attrs.compId}" />
		</c:if>
	</h:panelGrid>	
</composite:implementation> 
</html>