<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:composite="http://java.sun.com/jsf/composite" xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core">

<composite:interface>
	<composite:attribute name="controllerClassName" required="false" type="tr.com.arf.framework.view.controller.form._base.BaseController" />
	<composite:attribute name="label" required="true" type="java.lang.String" />
	<composite:attribute name="requiredCond" required="true" type="java.lang.Boolean" />
	<composite:attribute name="compId" required="true" type="java.lang.String" />
	<composite:attribute name="style" required="false" type="java.lang.String" default="width:450px" />
	<composite:attribute name="allowTypes" required="false" type="java.lang.String" />
	<composite:attribute name="updateComp" required="false" type="java.lang.String" default="@form" />
	<composite:attribute name="processComp" required="false" type="java.lang.String" default="@parent" />
	<composite:attribute name="sizeLimit" required="false" default="1500000" />
	<composite:attribute name="formName" required="true" type="java.lang.String" />
	<composite:attribute name="editPanelName" required="true" type="java.lang.String" />
	<composite:attribute name="columnCount" required="true" type="java.lang.String" default="2"/> 
	<composite:attribute name="columnClasses" required="true" type="java.lang.String" default="otuzYuzde, yetmisYuzde" />
</composite:interface>

<composite:implementation>
	<h:panelGrid columns="#{cc.attrs.columnCount}" width="100%" border="0" columnClasses="#{cc.attrs.columnClasses}">
		<c:if test="#{!cc.attrs.requiredCond}">
			<h:outputText value="#{cc.attrs.label} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
		</c:if>
		<c:if test="#{cc.attrs.requiredCond}">
			<h:outputText value="#{cc.attrs.label} : " styleClass="requiredOutputText" style="padding-left:5px; padding-right:10px" />
		</c:if>
		<h:panelGroup>
			<p:blockUI widgetVar="bui" block=":#{cc.attrs.formName}" trigger="#{cc.attrs.compId}"> 
				<h:graphicImage library="_image" name="ajax-loader.gif" />
			</p:blockUI>
			<c:if test="${not empty cc.attrs.allowTypes}">
				<p:fileUpload fileUploadListener="#{cc.attrs.controllerClassName.fileUploadAndSaveListener}" description="#{label['dosya.dosya']}" style="#{cc.attrs.style}"
					allowTypes="#{cc.attrs.allowTypes}" process=":#{cc.attrs.formName}:#{cc.attrs.editPanelName}" update=":#{cc.attrs.formName} :globalMessages"
					required="#{cc.attrs.requiredCond}" sizeLimit="#{cc.attrs.sizeLimit}" id="#{cc.attrs.compId}" cancelLabel="#{label['login.cancel']}"
					uploadLabel="#{label['command.upload']}"  multiple="false" auto="true"
					onstart="bui.show()" oncomplete="bui.hide()" showButtons="false" />
			</c:if>
			<c:if test="${empty cc.attrs.allowTypes}">
				<p:fileUpload fileUploadListener="#{cc.attrs.controllerClassName.fileUploadAndSaveListener}" description="#{label['dosya.dosya']}" style="#{cc.attrs.style}"
					process=":#{cc.attrs.formName}:#{cc.attrs.editPanelName}" update=":#{cc.attrs.formName} :globalMessages" required="#{cc.attrs.requiredCond}"
					sizeLimit="#{cc.attrs.sizeLimit}" id="#{cc.attrs.compId}" cancelLabel="#{label['login.cancel']}" uploadLabel="#{label['command.upload']}"
					onstart="bui.show()" oncomplete="bui.hide()" multiple="false" auto="true" showButtons="false"/>
			</c:if>
			<p:message for="#{cc.attrs.compId}" /> 
		</h:panelGroup>
	</h:panelGrid>
</composite:implementation>
</html>