<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:composite="http://java.sun.com/jsf/composite" xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<composite:interface>
	<composite:attribute name="controllerClassName" required="false" type="tr.com.arf.framework.view.controller.form._base.BaseFilteredController" />
	<composite:attribute name="formName" required="true" type="java.lang.String" />
	<composite:attribute name="listPanelName" required="true" type="java.lang.String" />
	<composite:attribute name="detailPanelName" required="true" type="java.lang.String" />
	<composite:attribute name="filterPanelName" required="true" type="java.lang.String" />
	<composite:attribute name="modelName" required="true" type="java.lang.String" />
	<composite:attribute name="renderResetFilter" required="true" type="java.lang.Boolean" default="true" />
</composite:interface>

<composite:implementation>
	<p align="center">
		<p:hotkey bind="enter" action="#{cc.attrs.controllerClassName.newFilter}" async="true" process=":#{cc.attrs.formName}:#{cc.attrs.filterPanelName}"
			update=":#{cc.attrs.formName}:#{cc.attrs.listPanelName} :#{cc.attrs.formName}:#{cc.attrs.detailPanelName} :globalMessages" />

		<p:commandButton id="filterCommandFor#{cc.attrs.modelName}" icon="search" value="#{label['command.query']}" action="#{cc.attrs.controllerClassName.newFilter}" async="true"
			ajax="false" process=":#{cc.attrs.formName}:#{cc.attrs.filterPanelName}" update="@form :globalMessages"
			styleClass="arfCommandButton" />
		<p:commandButton id="resetFilterCommandFor#{cc.attrs.modelName}" action="#{cc.attrs.controllerClassName.resetFilter}" process="@this"
			update="@form :globalMessages" style="width:110px"
			value="#{label['command.resetFilter']}" immediate="true" icon="iptal" styleClass="arfCommandButton" rendered="#{cc.attrs.renderResetFilter}" />
	</p>
</composite:implementation>
</html>