<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:arf="http://java.sun.com/jsf/composite/arfComposite"
	  xmlns:arftags="http://arf.com/column" 
      xmlns:f="http://java.sun.com/jsf/core">

	<composite:interface> 
	</composite:interface>
	
	<composite:implementation>
		<p:dialog header="#{label['islemlog.query']}" widgetVar="islemlogDialog" width="1000" height="700" style="position:absolute; left:%; top:10%" modal="true"> 	
			<p:fieldset legend="#{label['islemlog.list']}" styleClass="pageFieldSet" id="islemlogListPanel">
				<p:dataTable style="margin-top:10px" id="islemlogTable" value="#{islemlogController.list}" var="islemlogRow" binding="#{islemlogController.table}"
					rowIndexVar="rowIndex" filteredValue="#{islemlogController.filteredList}" widgetVar="filterTable" rowKey="#{islemlogRow.RID}" resizableColumns="false">

					<arftags:filteredColumn filterMatchMode="contains" val="#{islemlogRow.islemturu.label}" header="#{label['islemlog.islemturu']}" width="10" />
					<arftags:filteredColumn filterMatchMode="contains" val="#{islemlogRow.kullaniciRef.UIString}" header="#{label['islemlog.kullaniciRef']}" width="10" />
					<arftags:filteredDateColumn filterMatchMode="contains" val="#{islemlogRow.islemtarihi}" header="#{label['islemlog.islemtarihi']}" width="10" /> 
					<arftags:filteredColumn filterMatchMode="contains" val="#{islemlogRow.eskideger}" header="#{label['islemlog.eskideger']}" width="28" />
					<arftags:filteredColumn filterMatchMode="contains" val="#{islemlogRow.yenideger}" header="#{label['islemlog.yenideger']}" width="28" />

				</p:dataTable>

				<arf:paging controllerClassName="#{islemlogController}" formName="islemlogForm" listPanelName="islemlogListPanel" pagingOption="false" tableName="islemlogTable" addExport="true"
					addOption="false" updateOption="false" deleteOption="false" />
			</p:fieldset> 
		</p:dialog>
	</composite:implementation>
</html>