<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:composite="http://java.sun.com/jsf/composite" xmlns:p="http://primefaces.org/ui"
	xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" xmlns:f="http://java.sun.com/jsf/core">

<composite:interface>
	<composite:attribute name="controllerClassName" required="false" type="tr.com.arf.framework.view.controller.form._base.BaseFilteredController" />
	<composite:attribute name="formName" required="true" type="java.lang.String" />
	<composite:attribute name="entityName" required="true" type="tr.com.arf.framework.db.model._base.BaseEntity" />
	<composite:attribute name="updatePanel" required="true" type="java.lang.String" />
</composite:interface>

<composite:implementation>
	<p:dialog header="#{label['kisi.query']}" widgetVar="kisiQueryDialog" width="1000" height="700" style="position:absolute; left:10%; top:10%" modal="true">
		<h:form id="kisiQueryForm">

			<p:fieldset id="kisiQueryFilterPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kisi.query']}">
				<h:panelGrid columns="2" columnClasses="elliYuzde,elliYuzde" styleClass="arfEditGrid">

					<arf:textinput label="#{label['kisi.kayitno']}" requiredCond="false" compId="kayitnoForQueryFilter" value="#{cc.attrs.controllerClassName.kisiFilter.kayitno}"
						maxLength="15" id="kayitnoForQueryFilterInputText" />

					<arf:textinput label="#{label['kisi.ad']}" requiredCond="false" compId="adForQueryFilter" value="#{cc.attrs.controllerClassName.kisiFilter.ad}" maxLength="30"
						id="adForQueryFilterInputText" />

					<arf:textinput label="#{label['kisi.soyad']}" requiredCond="false" compId="soyadForQueryFilter" value="#{cc.attrs.controllerClassName.kisiFilter.soyad}" maxLength="30"
						id="soyadForQueryFilterInputText" />

					<arf:dropdown label="#{label['kisi.durum']}" requiredCond="false" compId="durumForQueryFilter" value="#{cc.attrs.controllerClassName.kisiFilter.durum}"
						id="durumForQueryFilterDropDown" listSource="#{enumeratedController.kisiDurumItems}" />

				</h:panelGrid>
				<p align="center">
					<p:commandButton id="kisiQueryCommand" icon="search" value="#{label['command.query']}" action="#{cc.attrs.controllerClassName.queryKisi}" async="true" ajax="true"
						process="kisiQueryFilterPanel" update="@form :globalMessages" styleClass="arfCommandButton" />
				</p>
			</p:fieldset>

			<p:fieldset legend="#{label['kisi.list']}" styleClass="pageFieldSet" id="kisiQueryListPanel">
				<p:dataTable style="margin-top:10px" id="kisiTable" value="#{cc.attrs.controllerClassName.kisiList}" var="kisiRow" binding="#{cc.attrs.controllerClassName.kisiTable}"
					rowIndexVar="rowIndex" selectionMode="single" selection="#{cc.attrs.entityName.kisiRef}" rowKey="#{kisiRow.RID}" resizableColumns="false">

					<p:ajax event="rowSelect" listener="#{cc.attrs.controllerClassName.tableRowSelectForKisiQuery}" update="@this" />
 
					<arftags:filteredColumn filterMatchMode="contains" val="#{kisiRow.ad}" header="#{label['kisi.ad']}" width="20%" />
					<arftags:filteredColumn filterMatchMode="contains" val="#{kisiRow.soyad}" header="#{label['kisi.soyad']}" width="20%" /> 

				</p:dataTable>

			</p:fieldset>

			<p align="center" style="margin-top: 20px">
				<p:commandButton id="saveSelectedKisi" icon="select" value="#{label['common.selected']}" styleClass="commandButton"
					action="#{cc.attrs.controllerClassName.completeSelection}" onclick="kisiQueryDialog.hide()" update="#{cc.attrs.updatePanel}" process="@this" />

				<p:commandButton id="closeDialog" icon="iptal" action="#{cc.attrs.controllerClassName.tableRowUnSelectForKisiQuery}" value="#{label['command.cancel']}"
					styleClass="commandButton" onclick="kisiQueryDialog.hide()" update="#{cc.attrs.updatePanel}" process="@this" />
				<br />
			</p>
		</h:form>
	</p:dialog>
</composite:implementation>
</html>