<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

<composite:interface>
    <composite:attribute name="controllerClassName" required="false" type="tr.com.arf.framework.view.controller.form._base.BaseController"/>
    <composite:attribute name="formName" required="true" type="java.lang.String"/>
    <composite:attribute name="listPanelName" required="true" type="java.lang.String"/>
    <composite:attribute name="tableName" required="true" type="java.lang.String"/>
    <composite:attribute name="addExport" required="true" type="java.lang.Boolean" default="false"/>
    <composite:attribute name="updateOption" required="true" type="java.lang.Boolean" default="true"/>
    <composite:attribute name="deleteOption" required="true" type="java.lang.Boolean" default="true"/>
    <composite:attribute name="addOption" required="true" type="java.lang.Boolean" default="true"/>
    <composite:attribute name="exportToWord" required="true" type="java.lang.Boolean" default="false"/>
</composite:interface>

<composite:implementation>  
	<h:panelGrid columns="3" border="0" styleClass="editPanelGrid" style="text-align:center" columnClasses="onYuzde, seksenYuzde, onYuzde"> 
	 	<p:spacer />
	 	<h:panelGroup>  
			<p:commandButton id="insertCommandFor#{cc.attrs.listPanelName}"   
				action="#{cc.attrs.controllerClassName.insert}" value="#{label['command.insert']}" 
				rendered="#{cc.attrs.controllerClassName.updateRecordRendered and cc.attrs.addOption}" 
				icon="new" styleClass="arfCommandButton" update=":#{cc.attrs.formName}"/> 
			<p:commandButton id="updateCommandFor#{cc.attrs.listPanelName}"   
				action="#{cc.attrs.controllerClassName.update}" value="#{label['command.update']}" 
				rendered="#{cc.attrs.controllerClassName.updateRecordRendered and cc.attrs.updateOption}" 
				icon="edit" styleClass="arfCommandButton" update=":#{cc.attrs.formName}"/> 
			<p:commandButton id="deleteCommandFor#{cc.attrs.listPanelName}"  
				action="#{cc.attrs.controllerClassName.delete}" value="#{label['command.delete']}"  
				onclick="if (confirm('#{label['recordDelete']}')) {return true} else {return false}" 
				rendered="#{cc.attrs.controllerClassName.deleteRendered and cc.attrs.deleteOption}" 
				icon="delete" styleClass="arfCommandButton" update=":#{cc.attrs.formName}:#{cc.attrs.listPanelName} :globalMessages"/>  
		</h:panelGroup> 
	 	
 		<h:panelGroup>
 			<div style="float:right">
 				<p:commandLink ajax="false" pageOnly="true" image="pdf" immediate="true" rendered="#{cc.attrs.addExport}">
 					<p:dataExporter type="pdf" target=":#{cc.attrs.formName}:#{cc.attrs.tableName}" fileName="#{cc.attrs.tableName}PdfExport"/>  
				    <h:graphicImage library="_image" name="pdf.png" width="24px" height="24px" />
				</p:commandLink>
				<p:commandLink ajax="false" pageOnly="true" image="excel" immediate="true" rendered="#{cc.attrs.addExport}">
 					<p:dataExporter type="xls" target=":#{cc.attrs.formName}:#{cc.attrs.tableName}" fileName="#{cc.attrs.tableName}XlsExport"/>  
				    <h:graphicImage library="_image" name="excel.png" width="24px" height="24px" style="margin-left:2px" />
				</p:commandLink> 
				<p:commandLink ajax="false" pageOnly="true" image="word" immediate="true" action="#{cc.attrs.controllerClassName.exportToWord}" rendered="#{cc.attrs.exportToWord}">
						    <h:graphicImage library="_image" name="word.png" width="20px" height="20px" style="margin-left:4px" styleClass="exportImage"/>
				</p:commandLink>
			</div>
		</h:panelGroup>   
	</h:panelGrid>   
</composite:implementation> 
</html>