<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:composite="http://java.sun.com/jsf/composite" xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core">

<composite:interface>
	<composite:attribute name="label" required="true" type="java.lang.String" />
	<composite:attribute name="requiredCond" required="true" type="java.lang.Boolean" />
	<composite:attribute name="compId" required="true" type="java.lang.String" />
	<composite:attribute name="value" required="true" type="java.lang.String" />
	<composite:attribute name="style" required="false" type="java.lang.String" default="" />
	<composite:attribute name="maxLength" required="false" type="java.lang.String" />
	<composite:attribute name="minLength" required="false" type="java.lang.String" />
	<composite:attribute name="longMin" required="false" type="java.lang.String" />
	<composite:attribute name="longMax" required="false" type="java.lang.String" />
	<composite:attribute name="readOnlyStatus" required="false" type="java.lang.String" default="false" />
	<composite:attribute name="doubleMin" required="false" type="java.lang.String" />
	<composite:attribute name="doubleMax" required="false" type="java.lang.String" />
	<composite:attribute name="customValidatorId" required="false" type="java.lang.String" />
	<composite:attribute name="mask" required="true" type="java.lang.String" />
	<composite:attribute name="keyFilterMask" required="false" type="java.lang.String" />
	<composite:attribute name="keyFilterRegex" required="false" type="java.lang.String" />
	<composite:attribute name="columnCount" required="false" type="java.lang.String" default="2" />
	<composite:attribute name="columnClasses" required="false" type="java.lang.String" default="otuzYuzde,yetmisYuzde" />
</composite:interface>

<composite:implementation>
	<h:panelGrid columns="#{cc.attrs.columnCount}" width="100%" border="0" columnClasses="#{cc.attrs.columnClasses}" style="margin-top:5px; margin-bottom:5px">
		<c:if test="#{!cc.attrs.requiredCond}">
			<h:outputText value="#{cc.attrs.label} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
			<h:panelGrid columns="2">
				<p:inputMask id="#{cc.attrs.compId}" value="#{cc.attrs.value}" title="#{cc.attrs.label}" required="false" mask="#{cc.attrs.mask}" styleClass="optionalInputText" size="5"
					style="#{cc.attrs.style}" readonly="#{cc.attrs.readOnlyStatus}">
					<c:if test="${not empty cc.attrs.maxLength}">
						<f:validateLength maximum="#{cc.attrs.maxLength}" />
					</c:if>
					<c:if test="${not empty cc.attrs.minLength}">
						<f:validateLength minimum="#{cc.attrs.minLength}" />
					</c:if>
					<c:if test="${not empty cc.attrs.longMin}">
						<f:validateLongRange minimum="#{cc.attrs.longMin}" />
					</c:if>
					<c:if test="${not empty cc.attrs.longMax}">
						<f:validateLongRange maximum="#{cc.attrs.longMax}" />
					</c:if>
					<c:if test="${not empty cc.attrs.doubleMin}">
						<f:validateDoubleRange minimum="#{cc.attrs.doubleMin}" />
					</c:if>
					<c:if test="${not empty cc.attrs.doubleMax}">
						<f:validateDoubleRange maximum="#{cc.attrs.doubleMax}" />
					</c:if>
					<c:if test="${not empty cc.attrs.customValidatorId}">
						<f:validator validatorId="#{cc.attrs.customValidatorId}" />
					</c:if>
				</p:inputMask>
				<p:message for="#{cc.attrs.compId}" />
			</h:panelGrid>
		</c:if>
		<c:if test="#{cc.attrs.requiredCond}">
			<h:outputText value="#{cc.attrs.label} : " styleClass="requiredOutputText" style="padding-left:5px; padding-right:10px" />
			<h:panelGrid columns="2">
				<p:inputMask id="#{cc.attrs.compId}" value="#{cc.attrs.value}" title="#{cc.attrs.label}" required="true" mask="#{cc.attrs.mask}" styleClass="requiredInputText" size="5"
					style="#{cc.attrs.style}" readonly="#{cc.attrs.readOnlyStatus}">
					<c:if test="${not empty cc.attrs.maxLength}">
						<f:validateLength maximum="#{cc.attrs.maxLength}" />
					</c:if>
					<c:if test="${not empty cc.attrs.minLength}">
						<f:validateLength minimum="#{cc.attrs.minLength}" />
					</c:if>
					<c:if test="${not empty cc.attrs.longMin}">
						<f:validateLongRange minimum="#{cc.attrs.longMin}" />
					</c:if>
					<c:if test="${not empty cc.attrs.longMax}">
						<f:validateLongRange maximum="#{cc.attrs.longMax}" />
					</c:if>
					<c:if test="${not empty cc.attrs.doubleMin}">
						<f:validateDoubleRange minimum="#{cc.attrs.doubleMin}" />
					</c:if>
					<c:if test="${not empty cc.attrs.doubleMax}">
						<f:validateDoubleRange maximum="#{cc.attrs.doubleMax}" />
					</c:if>
					<c:if test="${not empty cc.attrs.customValidatorId}">
						<f:validator validatorId="#{cc.attrs.customValidatorId}" />
					</c:if>
				</p:inputMask>
				<p:message for="#{cc.attrs.compId}" />
			</h:panelGrid>
		</c:if>
	</h:panelGrid>
</composite:implementation>
</html>