<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<composite:interface>
    <composite:attribute name="controllerClassName" required="false" type="tr.com.arf.framework.view.controller.form._base.BaseFilteredController"/>
    <composite:attribute name="masterLabel" required="false" type="java.lang.String"/> 
    <composite:attribute name="modelName" required="true" type="java.lang.String"/>
</composite:interface>

<composite:implementation>  

	<p:panel id="#{cc.attrs.modelName}Master" styleClass="pageFieldSetMasterLink"> 
		<h:commandLink action="#{cc.attrs.controllerClassName.backToMaster}" styleClass="masterLink" immediate="true">
			 <h:graphicImage id="imgFor#{cc.attrs.modelName}" library="_image" name="toMasterPage.png" styleClass="masterLinkIcon" width="16" height="16" style="margin-right:10px; vertical-align:middle !important"/>
			 <h:outputText value="#{label['common.parent']} : #{cc.attrs.controllerClassName.masterEntity.UIString}" />
			 <c:if test="${not empty cc.attrs.masterLabel}">
			 	<h:outputText value=" (#{cc.attrs.masterLabel})" />
			 </c:if>	
		</h:commandLink> 
	</p:panel>  
</composite:implementation> 
</html>