<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:composite="http://java.sun.com/jsf/composite" xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:pe="http://primefaces.org/ui/extensions">

<composite:interface>
	<composite:attribute name="controllerClassName" required="false" type="tr.com.arf.framework.view.controller.form._base.BaseFilteredController" />
	<composite:attribute name="formName" required="true" type="java.lang.String" />
	<composite:attribute name="pagingOption" required="true" type="java.lang.Boolean" default="true" />
	<composite:attribute name="listPanelName" required="true" type="java.lang.String" />
	<composite:attribute name="tableName" required="true" type="java.lang.String" />
	<composite:attribute name="addExport" required="true" type="java.lang.Boolean" default="false" />
	<composite:attribute name="updateOption" required="true" type="java.lang.Boolean" default="true" />
	<composite:attribute name="deleteOption" required="true" type="java.lang.Boolean" default="true" />
	<composite:attribute name="addOption" required="true" type="java.lang.Boolean" default="true" />
	<composite:attribute name="addSubRecordOption" required="true" type="java.lang.Boolean" default="false" />
	<composite:attribute name="excludedColumns" required="true" type="java.lang.String" default="" />
	<composite:attribute name="wizardOption" required="true" type="java.lang.Boolean" default="false" />
	<composite:attribute name="exportToWord" required="true" type="java.lang.Boolean" default="false" />
	<composite:attribute name="exportToOpenOffice" required="true" type="java.lang.Boolean" default="false" />
	<composite:attribute name="logOption" required="true" type="java.lang.Boolean" default="false" />
	<composite:attribute name="pdfPreviewRendered" required="true" type="java.lang.Boolean" default="false" />
    <!--Kullanici.xhtml sayfasindaki buton ihtiyaci nedeniyle eklendi.
        Fonksiyon direk KullaniciController sinifina erisiyor o yuzden diger sayfalarda kullanilmasi anlamsiz-->
    <composite:attribute name="blokKaldirButton" required="true" type="java.lang.Boolean" default="false" />
</composite:interface>

<composite:implementation>
	<br />
	<div style="float: left; height: 35px; width: 100%;" class="pagingPanel">
		<h:panelGrid columns="3" style="width:100%; text-align:center;" columnClasses="yirmiBesYuzde,elliBesYuzde,yirmiYuzde">
			<h:panelGroup>
				<h:outputText value="#{label['common.currentPage']} : #{cc.attrs.controllerClassName.currentPage}" style="float:left; font-weight:bold; font-size:12px"
					rendered="#{cc.attrs.pagingOption}" />
				<h:outputText value="#{cc.attrs.controllerClassName.listMessage}" style="font-size:12px; float:left; margin-left:10px" />
			</h:panelGroup>
			<h:panelGroup>

				<c:if test="#{cc.attrs.addOption}">
					<p:blockUI block=":#{cc.attrs.formName}" trigger="insertCommandFor#{cc.attrs.formName}" rendered="#{cc.attrs.controllerClassName.updateRecordRendered}">
						<h:outputText value="#{label['common.loading']}" /><br /><h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:commandButton id="insertCommandFor#{cc.attrs.formName}" action="#{cc.attrs.controllerClassName.insert}" value="#{label['command.insert']}"
						rendered="#{cc.attrs.controllerClassName.updateRecordRendered}" icon="new" update=":#{cc.attrs.formName} :globalMessages" />
				</c:if>
				<c:if test="#{cc.attrs.wizardOption}">
					<p:blockUI block=":#{cc.attrs.formName}" trigger="wizardCommandFor#{cc.attrs.formName}" rendered="#{cc.attrs.controllerClassName.updateRecordRendered}">
						<h:outputText value="#{label['common.loading']}" /><br /><h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:commandButton id="wizardCommandFor#{cc.attrs.formName}" action="#{cc.attrs.controllerClassName.wizardPage}" value="#{label['command.wizard']}"
						rendered="#{cc.attrs.controllerClassName.updateRecordRendered}" icon="wizard" style="width:160px" />
				</c:if>
				<c:if test="#{cc.attrs.addSubRecordOption}">
					<p:blockUI block=":#{cc.attrs.formName}" trigger="insertSubRecordCommandFor#{cc.attrs.formName}" rendered="#{cc.attrs.controllerClassName.updateRecordRendered}">
						<h:outputText value="#{label['common.loading']}" /><br /><h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:commandButton id="insertSubRecordCommandFor#{cc.attrs.formName}" action="#{cc.attrs.controllerClassName.addSubRecord}" value="#{label['command.insertSub']}"
						rendered="#{cc.attrs.controllerClassName.updateRecordRendered}" icon="addSubRecord" update=":#{cc.attrs.formName} :globalMessages" />
				</c:if>
				<c:if test="#{cc.attrs.updateOption}">
					<p:blockUI block=":#{cc.attrs.formName}" trigger="updateCommandFor#{cc.attrs.formName}" rendered="#{cc.attrs.controllerClassName.updateRecordRendered}">
						<h:outputText value="#{label['common.loading']}" /><br /><h:graphicImage library="_image" name="ajax-loader.gif"/>
					</p:blockUI>
					<p:commandButton id="updateCommandFor#{cc.attrs.formName}" action="#{cc.attrs.controllerClassName.update}" value="#{label['command.update']}"
						rendered="#{cc.attrs.controllerClassName.updateRecordRendered}" icon="edit" update=":#{cc.attrs.formName} :globalMessages"  disabled="#{cc.attrs.controllerClassName.entity.RID == null}"/>
				</c:if>
				<c:if test="#{cc.attrs.deleteOption}">
					<p:blockUI block=":#{cc.attrs.formName}" trigger="deleteCommandFor#{cc.attrs.formName}" rendered="#{cc.attrs.controllerClassName.deleteRendered}">
						<h:outputText value="#{label['common.loading']}" /><br /><h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:commandButton id="deleteCommandFor#{cc.attrs.formName}" action="#{cc.attrs.controllerClassName.delete}" value="#{label['command.delete']}"
						onclick="if (confirm('#{label['recordDelete']}')) {return true} else {return false}" rendered="#{cc.attrs.controllerClassName.deleteRendered}" icon="delete"
						update=":#{cc.attrs.formName}:#{cc.attrs.listPanelName} :globalMessages" disabled="#{cc.attrs.controllerClassName.entity.RID == null}" />
				</c:if>
                <c:if test="#{cc.attrs.blokKaldirButton}">
                    <p:blockUI block=":#{cc.attrs.formName}" trigger="blokCommandFor#{cc.attrs.formName}"
                               rendered="#{cc.attrs.controllerClassName.deleteRendered}">
                        <h:outputText value="#{label['common.loading']}"/><br/><h:graphicImage library="_image"
                                                                                               name="ajax-loader.gif"/>
                    </p:blockUI>
                    <p:commandButton id="blokCommandFor#{cc.attrs.formName}"
                                     action="#{cc.attrs.controllerClassName.blokKaldir}" value="Kullanici Blok Kaldir"
                                     onclick="if (confirm('Kullanici Uzerindeki Blok Kaldirilacak. Devam Etmek Istiyor musunuz?')) {return true} else {return false}"
                                     rendered="true" icon="kisi"
                                     update=":#{cc.attrs.formName}:#{cc.attrs.listPanelName} :globalMessages"
                                     disabled="#{cc.attrs.controllerClassName.entity.RID == null}"/>
                </c:if>
                <p:spacer width="15" />
				<span style="position: relative; top: 5px"> 
					<p:commandLink ajax="false" pageOnly="true" image="pdf" immediate="true" rendered="#{cc.attrs.addExport}" target="newPopup">
						<p:dataExporter type="pdf" target=":#{cc.attrs.formName}:#{cc.attrs.tableName}" fileName="#{cc.attrs.tableName}PdfExport" excludeColumns="#{cc.attrs.excludedColumns}" />
						<h:graphicImage library="_image" name="pdf.png" width="20px" height="20px" styleClass="exportImage" />
					</p:commandLink>
					<p:commandLink ajax="false" pageOnly="true" image="excel" immediate="true" rendered="#{cc.attrs.addExport}" target="newPopup">
						<p:dataExporter type="xls" target=":#{cc.attrs.formName}:#{cc.attrs.tableName}" fileName="#{cc.attrs.tableName}XlsExport" excludeColumns="#{cc.attrs.excludedColumns}" />
						<h:graphicImage library="_image" name="excel.png" width="20px" height="20px" style="margin-left:4px" styleClass="exportImage" />
					</p:commandLink>
					<p:commandLink ajax="false" pageOnly="true" image="csv" immediate="true" rendered="#{cc.attrs.addExport}" target="newPopup">
						<p:dataExporter type="csv" target=":#{cc.attrs.formName}:#{cc.attrs.tableName}" fileName="#{cc.attrs.tableName}CsvExport" excludeColumns="#{cc.attrs.excludedColumns}" />
						<h:graphicImage library="_image" name="csv.png" width="20px" height="20px" style="margin-left:4px" styleClass="exportImage" />
					</p:commandLink>
					<p:commandLink ajax="false" pageOnly="true" image="word" immediate="true" rendered="#{cc.attrs.exportToWord}" action="#{cc.attrs.controllerClassName.wordExport}" target="newPopup">
						<h:graphicImage library="_image" name="word.png" width="20px" height="20px" style="margin-left:4px" styleClass="exportImage" />
					</p:commandLink>
					<p:commandLink ajax="false" pageOnly="true" image="openoffice" immediate="true" rendered="#{cc.attrs.exportToOpenOffice}"
						action="#{cc.attrs.controllerClassName.openOfficeExport}" target="newPopup">
						<h:graphicImage library="_image" name="openoffice.png" width="20px" height="20px" style="margin-left:4px" styleClass="exportImage" />
					</p:commandLink>
					<h:outputLink
						onclick="window.open('#{facesContext.externalContext.requestContextPath}/faces/_page/_main/islemDialog.xhtml', 'popupWindowRapor', 'dependent=yes, menubar=no, toolbar=no'); return false;"
						value="#" rendered="#{cc.attrs.controllerClassName.loggable and cc.attrs.controllerClassName.entity.RID != null and cc.attrs.logOption == true}">
						<h:graphicImage library="_image" name="history.png" width="20px" height="20px" style="margin-left:20px" styleClass="exportImage" />
					</h:outputLink>
				</span>
			</h:panelGroup>
			<h:panelGroup style="margin-left:1%">
				<p:blockUI block=":#{cc.attrs.formName}:#{cc.attrs.listPanelName}" trigger="#{cc.attrs.formName}FirstPage, #{cc.attrs.formName}PreviousPage, #{cc.attrs.formName}Paging,
							#{cc.attrs.formName}NextPage, #{cc.attrs.formName}LastPage" rendered="#{cc.attrs.pagingOption}">
						<h:outputText value="#{label['common.loading']}" /><br /><h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>

				<p:commandLink id="#{cc.attrs.formName}FirstPage" action="#{cc.attrs.controllerClassName.changePage('first')}" process="@this"
					update=":#{cc.attrs.formName}:#{cc.attrs.listPanelName} :globalMessages" rendered="#{cc.attrs.pagingOption}">
					<h:graphicImage library="_image" name="pagingIcons/first.png" styleClass="exportImage" style="margin-top:2px" />
				</p:commandLink>
				<p:commandLink id="#{cc.attrs.formName}PreviousPage" action="#{cc.attrs.controllerClassName.changePage('previous')}" process="@this"
					update=":#{cc.attrs.formName}:#{cc.attrs.listPanelName} :globalMessages" rendered="#{cc.attrs.pagingOption}">
					<h:graphicImage library="_image" name="pagingIcons/previous.png" styleClass="exportImage" />
				</p:commandLink>

				<p:selectOneMenu value="#{cc.attrs.controllerClassName.currentPage}" styleClass="optionalInputText" id="#{cc.attrs.formName}Paging"
					style="width:45px; margin-left:5px; margin-right:5px" rendered="#{cc.attrs.pagingOption}">
					<f:selectItems value="#{cc.attrs.controllerClassName.pagingIntervals}" />
					<p:ajax event="change" process="@this" update=":#{cc.attrs.formName}:#{cc.attrs.listPanelName} :globalMessages" listener="#{cc.attrs.controllerClassName.handlePageChange}" />
				</p:selectOneMenu>

				<p:commandLink id="#{cc.attrs.formName}NextPage" action="#{cc.attrs.controllerClassName.changePage('next')}" process="@this"
					update=":#{cc.attrs.formName}:#{cc.attrs.listPanelName} :globalMessages" rendered="#{cc.attrs.pagingOption}">
					<h:graphicImage library="_image" name="pagingIcons/next.png" styleClass="exportImage" />
				</p:commandLink>
				<p:commandLink id="#{cc.attrs.formName}LastPage" action="#{cc.attrs.controllerClassName.changePage('last')}" process="@this"
					update=":#{cc.attrs.formName}:#{cc.attrs.listPanelName} :globalMessages" rendered="#{cc.attrs.pagingOption}" style="margin-left:1px">
					<h:graphicImage library="_image" name="pagingIcons/last.png" styleClass="exportImage" />
				</p:commandLink>
			</h:panelGroup>
		</h:panelGrid>
	</div>
	<pe:ajaxErrorHandler title="Error" body="Server return exception  {error-name} with description {error-message}" button="Hide" widgetVar="myAjaxErrorHandler"
		buttonOnclick="myAjaxErrorHandler.hide()" />
</composite:implementation>
</html>