<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:arf="http://java.sun.com/jsf/composite/arfComposite"
	  xmlns:arftags="http://arf.com/column" 
      xmlns:f="http://java.sun.com/jsf/core">

<composite:interface>
    <composite:attribute name="controllerClassName" required="false" type="tr.com.arf.framework.view.controller.form._base.BaseFilteredController"/>
    <composite:attribute name="formName" required="true" type="java.lang.String"/>
    <composite:attribute name="entityName" required="true" type="tr.com.arf.framework.db.model._base.BaseEntity"/>
    <composite:attribute name="updatePanel" required="true" type="java.lang.String"/>
</composite:interface>

<composite:implementation>  
	<p:dialog header="#{label['personel.query']}" widgetVar="personelQueryDialog" width="1000" height="700" 
		style="position:absolute; left:10%; top:10%" modal="true">
		<h:form id="personelQueryForm"> 
		
			<p:fieldset id="personelQueryFilterPanel" toggleable="false" styleClass="pageFieldSet" 
				legend="#{label['personel.query']}"> 
				<h:panelGrid columns="2" columnClasses="elliYuzde,elliYuzde"  styleClass="arfEditGrid">
				 	
				 	<arf:textinput label="#{label['personel.kayitno']}" requiredCond="false" compId="kayitnoForQueryFilter" value="#{cc.attrs.controllerClassName.personelFilter.kayitno}" 
						maxLength="15" id="kayitnoForQueryFilterInputText" /> 
					
					<arf:textinput label="#{label['personel.ad']}" requiredCond="false" compId="adForQueryFilter" value="#{cc.attrs.controllerClassName.personelFilter.ad}" 
						maxLength="30" id="adForQueryFilterInputText" /> 
						
					<arf:textinput label="#{label['personel.soyad']}" requiredCond="false" compId="soyadForQueryFilter" value="#{cc.attrs.controllerClassName.personelFilter.soyad}" 
						maxLength="30" id="soyadForQueryFilterInputText" /> 
					
					<arf:dropdown label="#{label['personel.durum']}" requiredCond="false" compId="durumForQueryFilter" value="#{cc.attrs.controllerClassName.personelFilter.durum}"
						id="durumForQueryFilterDropDown" listSource="#{enumeratedController.personelDurumItems}" /> 

				</h:panelGrid> 
					<p align="center">
					<p:commandButton id="personelQueryCommand" icon="search" 
						value="#{label['command.query']}" 
						action="#{cc.attrs.controllerClassName.queryPersonel}" async="true" ajax="true" 
						process="personelQueryFilterPanel" update="@form :globalMessages" styleClass="arfCommandButton"/>
				</p>	  
			</p:fieldset> 
			
			<p:fieldset legend="#{label['personel.list']}" styleClass="pageFieldSet" id="personelQueryListPanel"> 
				<p:dataTable style="margin-top:10px" id="personelTable" 
						value="#{cc.attrs.controllerClassName.personelList}" var="personelRow"  
						binding="#{cc.attrs.controllerClassName.personelTable}" rowIndexVar="rowIndex"  
						selectionMode="single" selection="#{cc.attrs.entityName.personelRef}"   
						rowKey="#{personelRow.RID}" resizableColumns="false">  

					<p:ajax event="rowSelect" listener="#{cc.attrs.controllerClassName.tableRowSelectForPersonelQuery}" update="@this" />  
						
					<arftags:filteredColumn filterMatchMode="contains" val="#{personelRow.kayitno}" header="#{label['personel.kayitno']}" width="20%"/> 
					<arftags:filteredColumn filterMatchMode="contains" val="#{personelRow.ad}" header="#{label['personel.ad']}" width="20%"/> 
					<arftags:filteredColumn filterMatchMode="contains" val="#{personelRow.soyad}" header="#{label['personel.soyad']}" width="20%"/> 
					<arftags:filteredColumn filterMatchMode="contains" val="#{personelRow.durum.label}" header="#{label['personel.durum']}" width="20%"/> 

				</p:dataTable>
 
			</p:fieldset> 
			 		 
			<p align="center" style="margin-top:20px">
				<p:commandButton id="saveSelectedPersonel" icon="select" 
					value="#{label['common.selected']}" styleClass="commandButton"
					action="#{cc.attrs.controllerClassName.completeSelection}"
					onclick="personelQueryDialog.hide()" update="#{cc.attrs.updatePanel}" process="@this" />
						
				<p:commandButton id="closeDialog" icon="iptal" action="#{cc.attrs.controllerClassName.tableRowUnSelectForPersonelQuery}"
					value="#{label['command.cancel']}" styleClass="commandButton"
					onclick="personelQueryDialog.hide()" update="#{cc.attrs.updatePanel}" process="@this" />
				<br /> 
			</p> 
		</h:form>
	</p:dialog> 
</composite:implementation> 
</html>