<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<composite:interface> 
    <composite:attribute name="label" required="true" type="java.lang.String"/>   
    <composite:attribute name="requiredCond" required="true" type="java.lang.Boolean"/>
    <composite:attribute name="compId" required="true" type="java.lang.String"/>
    <composite:attribute name="value" required="true"/>
    <composite:attribute name="converterId" required="true" type="java.lang.String"/>
    <composite:attribute name="style" required="false" type="java.lang.String" default=""/> 
	<composite:attribute name="var"/>
	<composite:attribute name="itemLabel"/>
	<composite:attribute name="itemValue" /> 
	<composite:attribute name="disabledCond" required="false" default="false" />
	<composite:attribute name="updateCompWithoutEvent" required="false" />  	
	<composite:attribute name="sourceCaption" required="false" type="java.lang.String"/> 
	<composite:attribute name="targetCaption" required="false" type="java.lang.String"/> 
</composite:interface>

<composite:implementation>   
	<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde,otuzYuzde,kirkYuzde">
		<c:if test="#{!cc.attrs.requiredCond}">
			<h:outputText value="#{cc.attrs.label} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
		</c:if>
		<c:if test="#{cc.attrs.requiredCond}">
			<h:outputText value="#{cc.attrs.label} : " styleClass="requiredOutputText" style="padding-left:5px; padding-right:10px" />
		</c:if>
		<p:pickList value="#{cc.attrs.value}" 
			id="#{cc.attrs.compId}" required="#{cc.attrs.requiredCond}" 
			style="#{cc.attrs.style}" var="#{cc.attrs.var}" itemValue="#{cc.attrs.itemValue}" 
			itemLabel="#{cc.attrs.itemLabel}" disabled="#{cc.attrs.disabledCond}">			
			<c:if test="${not empty cc.attrs.sourceCaption}">
				<f:facet name="sourceCaption">#{cc.attrs.sourceCaption}</f:facet>
			</c:if>	
			<c:if test="${not empty cc.attrs.targetCaption}">	
				<f:facet name="targetCaption">#{cc.attrs.targetCaption}</f:facet>
			</c:if>
			<f:converter converterId="#{cc.attrs.converterId}" />  
			<c:if test="${not empty cc.attrs.updateCompWithoutEvent}">   
				<f:ajax event="itemSelect" render="#{cc.attrs.updateCompWithoutEvent}" execute="@this" />
			</c:if> 
		</p:pickList>	 
		<p:message for="#{cc.attrs.compId}" /> 
	</h:panelGrid>	
</composite:implementation> 
</html>