<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:composite="http://java.sun.com/jsf/composite" xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core">

<composite:interface>
	<composite:attribute name="label" required="true" type="java.lang.String" />
	<composite:attribute name="requiredCond" required="false" type="java.lang.Boolean" default="false" />
	<composite:attribute name="compId" required="true" type="java.lang.String" />
	<composite:attribute name="value" required="true" type="java.lang.String" />
	<composite:attribute name="style" required="false" type="java.lang.String" default="" />
	<composite:attribute name="stars" required="true" type="java.lang.Integer" default="5" />
	<composite:attribute name="readOnlyStatus" required="false" type="java.lang.String" default="false" />
	<composite:attribute name="customValidatorId" required="false" type="java.lang.String" />
	<composite:attribute name="columnCount" required="false" type="java.lang.String" default="2" />
	<composite:attribute name="columnClasses" required="false" type="java.lang.String" default="otuzYuzde,yetmisYuzde" />
</composite:interface>

<composite:implementation>
	<h:panelGrid columns="#{cc.attrs.columnCount}" width="100%" border="0" columnClasses="#{cc.attrs.columnClasses}" style="margin-top:5px; margin-bottom:5px">
		<c:if test="#{!cc.attrs.requiredCond}">
			<h:outputText value="#{cc.attrs.label} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
			<h:panelGrid columns="2">
				<p:rating id="#{cc.attrs.compId}ForFilter" value="#{cc.attrs.value}" required="false" stars="#{cc.attrs.stars}" readonly="#{cc.attrs.readOnlyStatus}"
					styleClass="optionalInputText" style="#{cc.attrs.style}">
					<c:if test="${not empty cc.attrs.customValidatorId}">
						<f:validator validatorId="#{cc.attrs.customValidatorId}" />
					</c:if>
				</p:rating>
				<p:message for="#{cc.attrs.compId}ForFilter" />
			</h:panelGrid>
		</c:if>
		<c:if test="#{cc.attrs.requiredCond}">
			<h:outputText value="#{cc.attrs.label} : " styleClass="requiredOutputText" style="padding-left:5px; padding-right:10px" />
			<h:panelGrid columns="2">
				<p:rating id="#{cc.attrs.compId}ForFilter" value="#{cc.attrs.value}" required="true" stars="#{cc.attrs.stars}" readonly="#{cc.attrs.readOnlyStatus}"
					styleClass="optionalInputText" style="#{cc.attrs.style}">
					<c:if test="${not empty cc.attrs.customValidatorId}">
						<f:validator validatorId="#{cc.attrs.customValidatorId}" />
					</c:if>
				</p:rating>
				<p:message for="#{cc.attrs.compId}ForFilter" />
			</h:panelGrid>
		</c:if>
	</h:panelGrid>
</composite:implementation>
</html>