<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<composite:interface> 
    <composite:attribute name="label" required="true" type="java.lang.String"/>  
    <composite:attribute name="requiredCond" required="true" type="java.lang.Boolean"/>
    <composite:attribute name="compId" required="true" type="java.lang.String"/>
    <composite:attribute name="value" required="true" type="java.lang.String"/> 
    <composite:attribute name="style" required="false" type="java.lang.String" default=""/>
    <composite:attribute name="stars" required="true" type="java.lang.Integer" default="5"/>
    <composite:attribute name="readOnlyStatus" required="false" type="java.lang.String" default="false"/>
    <composite:attribute name="customValidatorId" required="false" type="java.lang.String"/> 
</composite:interface>

<composite:implementation>  
	<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde,otuzYuzde,kirkYuzde"> 	 
		<c:if test="#{!cc.attrs.requiredCond}">	
			<h:outputText value="#{cc.attrs.label} : " 
				styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px"/> 
			<p:rating id="#{cc.attrs.compId}" value="#{cc.attrs.value}"
				required="false" stars="#{cc.attrs.stars}" 	readonly="#{cc.attrs.readOnlyStatus}"
				styleClass="optionalInputText" style="#{cc.attrs.style}"> 
				<c:if test="${not empty cc.attrs.customValidatorId}">
					<f:validator validatorId="#{cc.attrs.customValidatorId}"/>
				</c:if> 
			</p:rating>
			<p:message for="#{cc.attrs.compId}" />
		</c:if>
		<c:if test="#{cc.attrs.requiredCond}">	
			<h:outputText value="#{cc.attrs.label} : " 
				styleClass="requiredOutputText" style="padding-left:5px; padding-right:10px"/> 
			<p:rating id="#{cc.attrs.compId}" value="#{cc.attrs.value}"
				required="true" stars="#{cc.attrs.stars}" 	readonly="#{cc.attrs.readOnlyStatus}"
				styleClass="optionalInputText" style="#{cc.attrs.style}"> 
				<c:if test="${not empty cc.attrs.customValidatorId}">
					<f:validator validatorId="#{cc.attrs.customValidatorId}"/>
				</c:if> 
			</p:rating>
			<p:message for="#{cc.attrs.compId}" />
		</c:if>
	</h:panelGrid>	
</composite:implementation> 
</html>