<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:composite="http://java.sun.com/jsf/composite" xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core">

<composite:interface>
	 <composite:attribute name="actionMethod" method-signature="java.lang.String  action()" required="true"/> 
	<composite:attribute name="modelName" required="true" type="java.lang.String" /> 
	<composite:attribute name="label1" required="true" type="java.lang.String" /> 
	<composite:attribute name="label2" required="false" type="java.lang.String" />
	<composite:attribute name="icon" required="true" type="java.lang.String" />  
</composite:interface>

<composite:implementation>											
	<h:column rendered="#{sessionController.listRenderedFor(cc.attrs.modelName)}">
		<h:commandLink action="#{cc.attrs.actionMethod}" style="text-decoration: none" > 
			<div class="ribbon-button ribbon-button-large" id="add-table-btn"> 
				<h:graphicImage library="_ribbonIcons" name="#{cc.attrs.icon}" class="ribbon-icon ribbon-normal" width="20" height="20"/>
				<h:graphicImage library="_ribbonIcons" name="#{cc.attrs.icon}" class="ribbon-icon ribbon-hot" width="20" height="20"/>
				<h:graphicImage library="_ribbonIcons" name="#{cc.attrs.icon}" class="ribbon-icon ribbon-disabled" width="20" height="20"/>
				<c:if test="${not empty cc.attrs.label2}">   
					<span class="button-title"><h:outputText value="#{cc.attrs.label1}" /><br/><h:outputText value="#{cc.attrs.label2}" /></span>
				</c:if>
				<c:if test="${empty cc.attrs.label2}">   
					<span class="button-title"><h:outputText value="#{cc.attrs.label1}" /></span>
				</c:if>	
			</div>
		</h:commandLink>
	</h:column>		 
</composite:implementation>
</html>