<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:composite="http://java.sun.com/jsf/composite" xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core">

<composite:interface>
	<composite:attribute name="label" required="true" type="java.lang.String" />
	<composite:attribute name="requiredCond" required="true" type="java.lang.Boolean" />
	<composite:attribute name="compId" required="true" type="java.lang.String" />
	<composite:attribute name="value" required="true" type="java.lang.String" />
	<composite:attribute name="style" required="false" type="java.lang.String" default="" />
	<composite:attribute name="maxLength" required="true" type="java.lang.String" default="5" />
	<composite:attribute name="min" required="false" />
	<composite:attribute name="max" required="false" />
	<composite:attribute name="stepFactor" required="true" default="1" />
	<composite:attribute name="manualInput" default="false" type="java.lang.Boolean" />
	<composite:attribute name="readOnlyStatus" required="false" type="java.lang.String" default="false" />
	<composite:attribute name="customValidatorId" required="false" type="java.lang.String" />
	<composite:attribute name="allowDouble" required="true" default="false" type="java.lang.Boolean" />

	<composite:attribute name="updateCompWithoutEvent" required="false" />
	<composite:attribute name="changeEventUpdateComp" required="false" />
	<composite:attribute name="ajaxEventListener" method-signature="void listener()" required="false" />

	<composite:attribute name="columnCount" required="true" type="java.lang.String" default="2" />
	<composite:attribute name="columnClasses" required="true" type="java.lang.String" default="otuzYuzde, yetmisYuzde" />
</composite:interface>

<composite:implementation>
	<h:panelGrid columns="#{cc.attrs.columnCount}" width="100%" border="0" columnClasses="#{cc.attrs.columnClasses}" style="margin-top:5px; margin-bottom:5px">
		<c:if test="#{!cc.attrs.requiredCond}">
			<h:outputText value="#{cc.attrs.label} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
		</c:if>
		<c:if test="#{cc.attrs.requiredCond}">
			<h:outputText value="#{cc.attrs.label} : " styleClass="requiredOutputText" style="padding-left:5px; padding-right:10px" />
		</c:if>
		<h:panelGrid columns="2">
			<p:spinner id="#{cc.attrs.compId}ForFilter" value="#{cc.attrs.value}" onkeypress="return #{cc.attrs.manualInput}" required="false" min="#{cc.attrs.min}"
				max="#{cc.attrs.max}" maxlength="#{cc.attrs.maxLength}" readonly="#{cc.attrs.readOnlyStatus}" stepFactor="#{cc.attrs.stepFactor}" styleClass="optionalInputText"
				style="#{cc.attrs.style}">
				<c:if test="${not empty cc.attrs.changeEventUpdateComp}">
					<f:ajax event="change" execute="@this" listener="#{cc.attrs.ajaxEventListener}" render="#{cc.attrs.changeEventUpdateComp}" />
				</c:if>
				<c:if test="${not empty cc.attrs.updateCompWithoutEvent}">
					<f:ajax event="change" render="#{cc.attrs.updateCompWithoutEvent}" execute="@this" />
				</c:if>
				<c:if test="${!cc.attrs.allowDouble}">
					<f:validateLongRange minimum="#{cc.attrs.min}" maximum="#{cc.attrs.max}" />
				</c:if>
				<c:if test="${cc.attrs.allowDouble}">
					<f:validateDoubleRange minimum="#{cc.attrs.min}" maximum="#{cc.attrs.max}" />
				</c:if>
				<c:if test="${not empty cc.attrs.customValidatorId}">
					<f:validator validatorId="#{cc.attrs.customValidatorId}" />
				</c:if>
			</p:spinner>
			<p:message for="#{cc.attrs.compId}ForFilter" />
		</h:panelGrid>
	</h:panelGrid>
</composite:implementation>
</html>