<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:composite="http://java.sun.com/jsf/composite" xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core">

<composite:interface>
	<composite:attribute name="label" required="true" type="java.lang.String" />
	<composite:attribute name="methodName" required="true" method-signature="java.util.List completeMethod(java.lang.String)" />
	<composite:attribute name="modelName" required="true" type="java.lang.String" />
	<composite:attribute name="requiredCond" required="true" type="java.lang.Boolean" />
	<composite:attribute name="requiredCondForInput" required="true" type="java.lang.Boolean" default="false" />
	<composite:attribute name="compId" required="true" type="java.lang.String" />
	<composite:attribute name="value" required="true" type="java.lang.String" />
	<composite:attribute name="converterId" required="true" type="java.lang.String" />
	<composite:attribute name="style" required="false" type="java.lang.String" default="" />
	<composite:attribute name="var" />
	<composite:attribute name="itemLabel" />
	<composite:attribute name="itemValue" />
	<composite:attribute name="disabledCond" required="false" default="false" />
	<composite:attribute name="updateCompWithoutEvent" required="false" />
	<composite:attribute name="changeEventUpdateComp" required="false" />
	<composite:attribute name="ajaxEventListener" method-signature="void listener()" required="false" />
	<composite:attribute name="columnCount" required="false" type="java.lang.String" default="2" />
	<composite:attribute name="scrollHeightPixel" required="true" type="java.lang.String" default="250" />
	<composite:attribute name="columnClasses" required="false" type="java.lang.String" default="otuzYuzde,yetmisYuzde" />
	<composite:attribute name="blockComponentId" type="java.lang.String" required="false" />
</composite:interface>

<composite:implementation>
	<h:panelGrid columns="#{cc.attrs.columnCount}" width="100%" border="0" columnClasses="#{cc.attrs.columnClasses}" style="margin-top:5px; margin-bottom:5px">
		<c:if test="#{!cc.attrs.requiredCond}">
			<h:outputText value="#{cc.attrs.label} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
		</c:if>
		<c:if test="#{cc.attrs.requiredCond}">
			<h:outputText value="#{cc.attrs.label} : " styleClass="requiredOutputText" style="padding-left:5px; padding-right:10px" />
		</c:if>
		<h:panelGrid columns="2">
			<p:autoComplete value="#{cc.attrs.value}" completeMethod="#{cc.attrs.methodName}" maxResults="50" queryDelay="1000" id="#{cc.attrs.compId}" minQueryLength="3"
				required="#{cc.attrs.requiredCondForInput}" forceSelection="true" style="#{cc.attrs.style}" var="#{cc.attrs.var}" itemValue="#{cc.attrs.itemValue}"
				itemLabel="#{cc.attrs.itemLabel}" scrollHeight="#{cc.attrs.scrollHeightPixel}">
				<c:if test="${not empty cc.attrs.changeEventUpdateComp}">
					<f:ajax event="itemSelect" execute="@this" listener="#{cc.attrs.ajaxEventListener}" render="#{cc.attrs.changeEventUpdateComp}" />
				</c:if>
				<f:converter converterId="#{cc.attrs.converterId}" />
				<c:if test="${not empty cc.attrs.updateCompWithoutEvent}">
					<f:ajax event="itemSelect" render="#{cc.attrs.updateCompWithoutEvent}" execute="@this" />
				</c:if>
				<f:attribute name="modelNameForAutoComplete" value="#{cc.attrs.modelName}" />
			</p:autoComplete>
			<c:if test="${not empty cc.attrs.blockComponentId }">
				<p:blockUI block="#{cc.attrs.blockComponentId}" trigger="#{cc.attrs.compId}">
					<h:outputText value="#{label['common.loading']}" />
					<br />
					<h:graphicImage library="_image" name="ajax-loader.gif" />
				</p:blockUI>
			</c:if>
			<p:message for="#{cc.attrs.compId}" />
		</h:panelGrid>
	</h:panelGrid>
</composite:implementation>
</html>