<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:composite="http://java.sun.com/jsf/composite" xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:pe="http://primefaces.org/ui/extensions">

<composite:interface>
	<composite:attribute name="label" required="true" type="java.lang.String" />
	<composite:attribute name="compId" required="true" type="java.lang.String" />
	<composite:attribute name="requiredCond" required="false" type="java.lang.Boolean" default="false" />
	<composite:attribute name="value" required="true" type="java.lang.String" />
	<composite:attribute name="style" required="false" type="java.lang.String" default="" />
	<composite:attribute name="maxLength" required="false" type="java.lang.String" />
	<composite:attribute name="minLength" required="false" type="java.lang.String" />
	<composite:attribute name="longMin" required="false" type="java.lang.String" />
	<composite:attribute name="longMax" required="false" type="java.lang.String" />
	<composite:attribute name="readOnlyStatus" required="false" type="java.lang.String" default="false" />
	<composite:attribute name="doubleMin" required="false" type="java.lang.String" />
	<composite:attribute name="doubleMax" required="false" type="java.lang.String" />
	<composite:attribute name="keyFilterMask" required="false" type="java.lang.String" />
	<composite:attribute name="keyFilterRegex" required="false" type="java.lang.String" />
	<composite:attribute name="columnCount" required="false" type="java.lang.String" default="2" />
	<composite:attribute name="columnClasses" required="false" type="java.lang.String" default="otuzYuzde,yetmisYuzde" />
	<composite:attribute name="renderValidationMessage" required="true" type="java.lang.Boolean" default="true" />
	<composite:attribute name="watermarkValue" required="false" type="java.lang.String" />
	<composite:attribute name="updateCompWithoutEvent" required="false" />

	<composite:attribute name="changeEventUpdateComp" required="false" />
	<composite:attribute name="ajaxEventListener" method-signature="void listener()" required="false" />
</composite:interface>

<composite:implementation>
	<h:panelGrid columns="#{cc.attrs.columnCount}" width="100%" border="0" columnClasses="#{cc.attrs.columnClasses}" style="margin-top:5px; margin-bottom:5px">
		<c:if test="#{!cc.attrs.requiredCond}">
			<h:outputText value="#{cc.attrs.label} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
		</c:if>
		<c:if test="#{cc.attrs.requiredCond}">
			<h:outputText value="#{cc.attrs.label} : " styleClass="requiredOutputText" style="padding-left:5px; padding-right:10px" />
		</c:if>
		<h:panelGrid columns="2">
			<h:inputText id="#{cc.attrs.compId}ForFilter" value="#{cc.attrs.value}" title="#{cc.attrs.label}" required="false" styleClass="optionalInputText" size="5"
				style="#{cc.attrs.style}" readonly="#{cc.attrs.readOnlyStatus}">
				<c:if test="${not empty cc.attrs.maxLength}">
					<f:validateLength maximum="#{cc.attrs.maxLength}" />
				</c:if>
				<c:if test="${not empty cc.attrs.minLength}">
					<f:validateLength minimum="#{cc.attrs.maxLength}" />
				</c:if>
				<c:if test="${not empty cc.attrs.longMin}">
					<f:validateLongRange minimum="#{cc.attrs.longMin}" />
				</c:if>
				<c:if test="${not empty cc.attrs.longMax}">
					<f:validateLongRange maximum="#{cc.attrs.longMax}" />
				</c:if>
				<c:if test="${not empty cc.attrs.doubleMin}">
					<f:validateDoubleRange minimum="#{cc.attrs.doubleMin}" />
				</c:if>
				<c:if test="${not empty cc.attrs.doubleMax}">
					<f:validateDoubleRange maximum="#{cc.attrs.doubleMax}" />
				</c:if>
				<c:if test="${not empty cc.attrs.updateCompWithoutEvent}">
					<f:ajax render="#{cc.attrs.updateCompWithoutEvent}" execute="@this" />
				</c:if>
				<c:if test="${not empty cc.attrs.changeEventUpdateComp}">
					<f:ajax event="keyup" execute="@this" render="#{cc.attrs.changeEventUpdateComp}" listener="#{cc.attrs.ajaxEventListener}" />
				</c:if>
			</h:inputText>
			<h:panelGroup>
				<c:if test="#{cc.attrs.renderValidationMessage}">
					<p:message for="#{cc.attrs.compId}ForFilter" />
				</c:if>
				<c:if test="#{!cc.attrs.renderValidationMessage}">
					<p:spacer width="1" height="1" />
				</c:if>
				<c:if test="${not empty cc.attrs.keyFilterMask}">
					<pe:keyFilter for="#{cc.attrs.compId}ForFilter" mask="#{cc.attrs.keyFilterMask}" />
				</c:if>
				<c:if test="${not empty cc.attrs.keyFilterRegex}">
					<pe:keyFilter for="#{cc.attrs.compId}ForFilter" regEx="#{cc.attrs.keyFilterRegex}" />
				</c:if>
				<c:if test="${not empty cc.attrs.watermarkValue}">
					<p:watermark for="#{cc.attrs.compId}" value="#{cc.attrs.watermarkValue}" />
				</c:if>
			</h:panelGroup>
		</h:panelGrid>
	</h:panelGrid>
</composite:implementation>
</html>