<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<composite:interface> 
    <composite:attribute name="label" required="true" type="java.lang.String"/>   
    <composite:attribute name="value" required="true" />  
    <composite:attribute name="compId" required="true" type="java.lang.String"/>
    <composite:attribute name="renderedCondition" required="false" type="java.lang.String" default="true"/>
    <composite:attribute name="convertToDate" required="true" type="java.lang.Boolean" default="false"/>  
</composite:interface>

<composite:implementation>  
	<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde,otuzYuzde,kirkYuzde" rendered="#{cc.attrs.renderedCondition}">
		<c:if test="#{cc.attrs.convertToDate}">
			<h:outputText value="#{cc.attrs.label} : " 
				styleClass="requiredOutputText" style="padding-left:5px; padding-right:10px"/> 
			<h:outputText value="#{cc.attrs.value}" 
				styleClass="requiredInputText" id="#{cc.attrs.compId}"> 
				<f:convertDateTime type="date"
		 			timeZone="#{configurationController.timeZone}" 
	 				pattern="#{configurationController.datePattern}" /> 
			</h:outputText>	 
			<p:spacer />
		</c:if>	
		<c:if test="#{! cc.attrs.convertToDate}">
			<h:outputText value="#{cc.attrs.label} : " 
				styleClass="requiredOutputText" style="padding-left:5px; padding-right:10px"/> 
			<h:outputText value="#{cc.attrs.value}" 
				styleClass="requiredInputText" id="#{cc.attrs.compId}">  
			</h:outputText>
			<p:spacer />	 
		</c:if>		
	</h:panelGrid>	
</composite:implementation> 
</html>