<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:composite="http://java.sun.com/jsf/composite" xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:pe="http://primefaces.org/ui/extensions">

<composite:interface>
	<composite:attribute name="label" required="true" type="java.lang.String" />
	<composite:attribute name="requiredCond" required="true" type="java.lang.Boolean" />
	<composite:attribute name="compId" required="true" type="java.lang.String" />
	<composite:attribute name="value" required="true" type="java.lang.String" />
	<composite:attribute name="style" required="false" type="java.lang.String" default="" />
	<composite:attribute name="maxLength" required="false" type="java.lang.String" />
	<composite:attribute name="keyFilterMask" required="false" type="java.lang.String" />
	<composite:attribute name="keyFilterRegex" required="false" type="java.lang.String" />
	<composite:attribute name="columnCount" required="false" type="java.lang.String" default="2" />
	<composite:attribute name="columnClasses" required="false" type="java.lang.String" default="otuzYuzde,yetmisYuzde" />
	<composite:attribute name="updateCompWithoutEvent" required="false" />
	<composite:attribute name="watermarkValue" required="false" type="java.lang.String" />

	<composite:attribute name="changeEventUpdateComp" required="false" />
	<composite:attribute name="ajaxEventListener" method-signature="void listener()" required="false" />
</composite:interface>

<composite:implementation>
	<h:panelGrid columns="#{cc.attrs.columnCount}" width="100%" border="0" columnClasses="#{cc.attrs.columnClasses}" style="margin-top:5px; margin-bottom:5px">
		<c:if test="#{!cc.attrs.requiredCond}">
			<h:outputText value="#{cc.attrs.label} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
			<h:panelGrid columns="2">
				<h:inputTextarea id="#{cc.attrs.compId}" value="#{cc.attrs.value}" title="#{cc.attrs.label}" required="false" styleClass="optionalInputText" size="5"
					style="#{cc.attrs.style}">
					<c:if test="${not empty cc.attrs.maxLength}">
						<f:validateLength maximum="#{cc.attrs.maxLength}" />
					</c:if>
					<c:if test="${not empty cc.attrs.updateCompWithoutEvent}">
						<f:ajax render="#{cc.attrs.updateCompWithoutEvent}" execute="@this" />
					</c:if>
					<c:if test="${not empty cc.attrs.changeEventUpdateComp}">
						<f:ajax event="keyup" execute="@this" render="#{cc.attrs.changeEventUpdateComp}" listener="#{cc.attrs.ajaxEventListener}" />
					</c:if>
				</h:inputTextarea>
				<h:panelGroup>
					<p:message for="#{cc.attrs.compId}" />
					<c:if test="${not empty cc.attrs.keyFilterMask}">
						<pe:keyFilter for="#{cc.attrs.compId}" mask="#{cc.attrs.keyFilterMask}" />
					</c:if>
					<c:if test="${not empty cc.attrs.keyFilterRegex}">
						<pe:keyFilter for="#{cc.attrs.compId}" regEx="#{cc.attrs.keyFilterRegex}" />
					</c:if>
					<c:if test="${not empty cc.attrs.watermarkValue}">
						<p:watermark for="#{cc.attrs.compId}" value="#{cc.attrs.watermarkValue}" />
					</c:if>
				</h:panelGroup>
			</h:panelGrid>
		</c:if>
		<c:if test="#{cc.attrs.requiredCond}">
			<h:outputText value="#{cc.attrs.label} : " styleClass="requiredOutputText" style="padding-left:5px; padding-right:10px" />
			<h:panelGrid columns="2">
				<h:inputTextarea id="#{cc.attrs.compId}" value="#{cc.attrs.value}" title="#{cc.attrs.label}" required="true" styleClass="requiredInputText" size="5"
					style="#{cc.attrs.style}">
					<c:if test="${not empty cc.attrs.maxLength}">
						<f:validateLength maximum="#{cc.attrs.maxLength}" />
					</c:if>
					<c:if test="${not empty cc.attrs.changeEventUpdateComp}">
						<f:ajax execute="@this" listener="#{cc.attrs.ajaxEventListener}" render="#{cc.attrs.changeEventUpdateComp}" />
					</c:if>
					<c:if test="${not empty cc.attrs.updateCompWithoutEvent}">
						<f:ajax render="#{cc.attrs.updateCompWithoutEvent}" execute="@this" />
					</c:if>
					<c:if test="${not empty cc.attrs.changeEventUpdateComp}">
						<f:ajax event="keyup" execute="@this" render="#{cc.attrs.changeEventUpdateComp}" listener="#{cc.attrs.ajaxEventListener}" />
					</c:if>
				</h:inputTextarea>
				<h:panelGroup>
					<c:if test="${not empty cc.attrs.keyFilterMask}">
						<pe:keyFilter for="#{cc.attrs.compId}" mask="#{cc.attrs.keyFilterMask}" />
					</c:if>
					<c:if test="${not empty cc.attrs.keyFilterRegex}">
						<pe:keyFilter for="#{cc.attrs.compId}" regEx="#{cc.attrs.keyFilterRegex}" />
					</c:if>
					<p:message for="#{cc.attrs.compId}" />
					<c:if test="${not empty cc.attrs.watermarkValue}">
						<p:watermark for="#{cc.attrs.compId}" value="#{cc.attrs.watermarkValue}" />
					</c:if>
				</h:panelGroup>
			</h:panelGrid>
		</c:if>
	</h:panelGrid>
</composite:implementation>
</html>