<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

<composite:interface>
    <composite:attribute name="controllerClassName" required="false" type="tr.com.arf.framework.view.controller.form._base.BaseFilteredController"/>
    <composite:attribute name="formName" required="true" type="java.lang.String"/>
    <composite:attribute name="panelName" required="true" type="java.lang.String"/>  
    <composite:attribute name="modelName" required="true" type="java.lang.String"/>
    <composite:attribute name="listLabel" required="true" type="java.lang.String"/> 
    <composite:attribute name="treeLabel" required="true" type="java.lang.String"/> 
    
    <composite:attribute name="addOption" required="false" type="java.lang.Boolean" default="true"/>
    <composite:attribute name="updateOption" required="false" type="java.lang.Boolean" default="true"/>
    <composite:attribute name="deleteOption" required="false" type="java.lang.Boolean" default="true"/>
    
</composite:interface>

<composite:implementation> 
		<p:fieldset legend="#{cc.attrs.treeLabel}" styleClass="pageFieldSet" id="#{cc.attrs.panelName}" style="margin:none !important; padding:none !important">
			<div style="position:relative; left:20%; top:15px">
				<h:panelGrid columns="2" style="width:220px;border:0px outset #999999; margin:none !important; padding:none !important">
					<h:commandLink actionListener="#{cc.attrs.controllerClassName.expandAll}" immediate="true">
							<f:ajax execute="@this" render="@form" />		
							<h:panelGrid columns="2">					  
								<h:graphicImage library="_image" name="treeIcons/expandAll.png" width="14" height="14"/>
								<h:outputText value="#{label['command.expandAll']}" styleClass="treeLink"/>
							</h:panelGrid>
					</h:commandLink> 
					<h:commandLink actionListener="#{cc.attrs.controllerClassName.collapseAll}" immediate="true" >
							<f:ajax execute="@this" render="@form" />  
							<h:panelGrid columns="2">					  
								<h:graphicImage library="_image" name="treeIcons/collapseAll.png" width="14" height="14"/>
								<h:outputText value="#{label['command.collapseAll']}" styleClass="treeLink"/>
							</h:panelGrid>						
					</h:commandLink> 
				</h:panelGrid> 
			</div>
			<h:dataTable id="treeTableFor#{cc.attrs.modelName}" var="treeRec" binding="#{cc.attrs.controllerClassName.treeTable}"
				value="#{cc.attrs.controllerClassName.treeList}" styleClass="arfJsfDataTable" style="width:60%; margin-left:20%; margin-top:none !important; padding:none !important">

				<h:column style="width:20%" headerClass="ui-state-default ui-state-active">
					<f:facet name="header">
						<h:outputText value="#{label['common.ad']}" />
					</f:facet>
					<h:commandLink actionListener="#{cc.attrs.controllerClassName.expandTree}" immediate="true">
						<f:ajax execute="@this" render="@form" /> 
						<f:param value="#{treeRec.RID}" name="rid" />
						<h:graphicImage library="_image" name="treeIcons/plusIcon.gif" rendered="#{treeRec.icon == 'plus'}" style="margin-left:#{treeRec.emptyBlockSize}"/>
					</h:commandLink>
					<h:commandLink actionListener="#{cc.attrs.controllerClassName.collapseTree}" immediate="true">
						<f:ajax execute="@this" render="@form" /> 
						<f:param value="#{treeRec.RID}" name="rid" />
						<h:graphicImage library="_image" name="treeIcons/minusIcon.gif" rendered="#{treeRec.icon == 'minus'}"  style="margin-left:#{treeRec.emptyBlockSize}"/>
					</h:commandLink>
					<h:graphicImage library="_image" name="treeIcons/emptyBlock.gif" rendered="#{treeRec.icon == 'bosluk'}"
							width="9" height="8" style="margin-left:#{treeRec.emptyBlockSize}"/>
		 			<h:outputText value="#{treeRec.ad}" style="margin-left:5px"/> 
				</h:column>
				<h:column style="width:5%; text-align:center" headerClass="ui-state-default ui-state-active">
					<f:facet name="header">
						<h:outputText value="#{label['common.islem']}" />
					</f:facet>
					<div style="text-align:center"> 
						<h:commandLink actionListener="#{cc.attrs.controllerClassName.addToTree(treeRec.RID)}" immediate="true" rendered="#{cc.attrs.addOption}">
							<f:ajax execute="@this" render="@form" />  
							<h:graphicImage library="_image" name="add.png" style="margin-right:5px" />
						</h:commandLink> 
						<h:commandLink actionListener="#{cc.attrs.controllerClassName.editFromTree(treeRec.RID)}" immediate="true" rendered="#{cc.attrs.updateOption}">
							<f:ajax execute="@this" render="@form" />  
							<h:graphicImage library="_image" name="edit.png" style="margin-right:5px"/>
						</h:commandLink> 
						<h:commandLink actionListener="#{cc.attrs.controllerClassName.deleteFromTree(treeRec.RID)}" immediate="true"
							onclick="if (confirm('#{label['recordDelete']}')) {return true} else {return false}" rendered="#{cc.attrs.deleteOption}">
							<f:ajax execute="@this" render="@form" />  
							<h:graphicImage library="_image" name="delete.png" />
						</h:commandLink> 
					</div>	
				</h:column>
			</h:dataTable>
			<p align="center"> 
				<p:commandButton id="backToList" process="@this"
						style="margin-left:20px" action="#{cc.attrs.controllerClassName.listPage}"  
						rendered="#{cc.attrs.controllerClassName.listRendered}" icon="list"
						value="#{cc.attrs.listLabel}" styleClass="arfCommandButton" />   
			</p>
		</p:fieldset>	 
</composite:implementation> 
</html>