<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:composite="http://java.sun.com/jsf/composite" xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:pe="http://primefaces.org/ui/extensions">

<composite:interface>
	<composite:attribute name="controllerClassName" required="false" type="tr.com.arf.framework.view.controller.form._base.BaseController" />
	<composite:attribute name="containerDivStyle" required="true" type="java.lang.String" default="margin-left: 30%" />

	<composite:attribute name="labelFor1" required="true" type="java.lang.String" />
	<composite:attribute name="labelFor2" required="true" type="java.lang.String" />
	<composite:attribute name="labelFor3" required="true" type="java.lang.String" />
	<composite:attribute name="labelFor4" required="true" type="java.lang.String" />
	<composite:attribute name="labelFor5" required="true" type="java.lang.String" />
	<composite:attribute name="labelFor6" required="true" type="java.lang.String" />

	<composite:attribute name="directAccessToWizardSteps" required="true" type="java.lang.Boolean" default="false" />
</composite:interface>

<composite:implementation>
	<h:outputStylesheet name="wizard.css" library="style" />

	<c:if test="#{cc.attrs.directAccessToWizardSteps}">
		<div class="wizard-steps" style="#{cc.attrs.containerDivStyle}">
			<div class="#{cc.attrs.controllerClassName.getStyleClassForWizard('1')}">
				<p:commandLink ajax="true" process="@this" update="@form" action="#{cc.attrs.controllerClassName.setWizardPage('1')}">
					<span>1</span>
					<h:outputText value="#{cc.attrs.labelFor1}" />
				</p:commandLink>
			</div>
			<div class="#{cc.attrs.controllerClassName.getStyleClassForWizard('2')}">
				<p:commandLink ajax="true" process="@this" update="@form" action="#{cc.attrs.controllerClassName.setWizardPage('2')}">
					<span>2</span>
					<h:outputText value="#{cc.attrs.labelFor2}" />
				</p:commandLink>
			</div>
			<c:if test="#{not empty cc.attrs.labelFor3}">
				<div class="#{cc.attrs.controllerClassName.getStyleClassForWizard('3')}">
					<p:commandLink ajax="true" process="@this" update="@form" action="#{cc.attrs.controllerClassName.setWizardPage('3')}">
						<span>3</span>
						<h:outputText value="#{cc.attrs.labelFor3}" />
					</p:commandLink>
				</div>
			</c:if>
			<c:if test="#{not empty cc.attrs.labelFor4}">
				<div class="#{cc.attrs.controllerClassName.getStyleClassForWizard('4')}">
					<p:commandLink ajax="true" process="@this" update="@form" action="#{cc.attrs.controllerClassName.setWizardPage('4')}">
						<span>4</span>
						<h:outputText value="#{cc.attrs.labelFor4}" />
					</p:commandLink>
				</div>
			</c:if>
			<c:if test="#{not empty cc.attrs.labelFor5}">
				<div class="#{cc.attrs.controllerClassName.getStyleClassForWizard('5')}">
					<p:commandLink ajax="true" process="@this" update="@form" action="#{cc.attrs.controllerClassName.setWizardPage('5')}">
						<span>5</span>
						<h:outputText value="#{cc.attrs.labelFor5}" />
					</p:commandLink>
				</div>
			</c:if>
			<c:if test="#{not empty cc.attrs.labelFor6}">
				<div class="#{cc.attrs.controllerClassName.getStyleClassForWizard('6')}">
					<p:commandLink ajax="true" process="@this" update="@form" action="#{cc.attrs.controllerClassName.setWizardPage('6')}">
						<span>6</span>
						<h:outputText value="#{cc.attrs.labelFor6}" />
					</p:commandLink>
				</div>
			</c:if>
		</div>
	</c:if>
	
	<c:if test="#{!cc.attrs.directAccessToWizardSteps}">
		<div class="wizard-steps" style="#{cc.attrs.containerDivStyle}">
			<div class="#{cc.attrs.controllerClassName.getStyleClassForWizard('1')}">
				<p:commandLink ajax="true" process="@this" update="@form" action="#">
					<span>1</span>
					<h:outputText value="#{cc.attrs.labelFor1}" />
				</p:commandLink>
			</div>
			<div class="#{cc.attrs.controllerClassName.getStyleClassForWizard('2')}">
				<p:commandLink ajax="true" process="@this" update="@form" action="#">
					<span>2</span>
					<h:outputText value="#{cc.attrs.labelFor2}" />
				</p:commandLink>
			</div>
			<c:if test="#{not empty cc.attrs.labelFor3}">
				<div class="#{cc.attrs.controllerClassName.getStyleClassForWizard('3')}">
					<p:commandLink ajax="true" process="@this" update="@form" action="#">
						<span>3</span>
						<h:outputText value="#{cc.attrs.labelFor3}" />
					</p:commandLink>
				</div>
			</c:if>
			<c:if test="#{not empty cc.attrs.labelFor4}">
				<div class="#{cc.attrs.controllerClassName.getStyleClassForWizard('4')}">
					<p:commandLink ajax="true" process="@this" update="@form" action="#">
						<span>4</span>
						<h:outputText value="#{cc.attrs.labelFor4}" />
					</p:commandLink>
				</div>
			</c:if>
			<c:if test="#{not empty cc.attrs.labelFor5}">
				<div class="#{cc.attrs.controllerClassName.getStyleClassForWizard('5')}">
					<p:commandLink ajax="true" process="@this" update="@form" action="#">
						<span>5</span>
						<h:outputText value="#{cc.attrs.labelFor5}" />
					</p:commandLink>
				</div>
			</c:if>
			<c:if test="#{not empty cc.attrs.labelFor6}">
				<div class="#{cc.attrs.controllerClassName.getStyleClassForWizard('6')}">
					<p:commandLink ajax="true" process="@this" update="@form" action="#">
						<span>6</span>
						<h:outputText value="#{cc.attrs.labelFor6}" />
					</p:commandLink>
				</div>
			</c:if>
		</div>
	</c:if>
</composite:implementation>
</html>