<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="dolasimsablonForm" prependId="false">
				<ui:include src="/_page/form/evrak/dolasimsablon_Edit.xhtml" />

				<p:fieldset id="dolasimsablonFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{dolasimsablonController.collapsed}"
					legend="#{label['dolasimsablon.query']}" rendered="#{!dolasimsablonController.editPanelRendered}">
					<p:ajax listener="#{dolasimsablonController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

						<arf:dropdownForFilter label="#{label['dolasimsablon.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="false" compId="birimRef"
							value="#{dolasimsablonController.dolasimsablonFilter.birimRef}" id="birimRefForFilterDropDown" converterId="birimConverter"
							rendered="#{sessionUser.superUser}" />
							
						<arf:textoutput label="#{label['dolasimsablon.birimRef']}" value="#{dolasimsablonController.dolasimsablonFilter.birimRef.UIString}"  rendered="#{!sessionUser.superUser}" />	

						<arf:dropdownForFilter label="#{label['dolasimsablon.evrakHareketTuru']}" listSource="#{enumeratedController.evrakHareketTuruItems}" requiredCond="false"
							compId="evrakHareketTuru" value="#{dolasimsablonController.dolasimsablonFilter.evrakHareketTuru}" id="evrakHareketTuruForFilterDropDown" addNullOption="true" />

						<arf:textinputForFilter label="#{label['dolasimsablon.ad']}" value="#{dolasimsablonController.dolasimsablonFilter.ad}" compId="ad" requiredCond="false"
							id="adForFilterInputText" maxLength="100" />

					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{dolasimsablonController}" formName="dolasimsablonForm" listPanelName="dolasimsablonListPanel"
						filterPanelName="dolasimsablonFilterPanel" modelName="Dolasimsablon" />
				</p:fieldset>

				<p:fieldset legend="#{label['dolasimsablon.list']}" styleClass="pageFieldSet" id="dolasimsablonListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
						<p:commandButton id="dolasimsablondetayCommand" process="@this" icon="child" action="#{dolasimsablonController.dolasimsablondetay}"
							rendered="#{dolasimsablonController.listRenderedFor('Dolasimsablondetay')}" disabled="#{dolasimsablonController.dolasimsablon.RID == null}"
							value="#{label['command.dolasimsablondetay']}" styleClass="arfCommandButton" />

					</h:panelGrid>
					<div id="#{dolasimsablonController.detailPanelDivId}">
						<p:blockUI block="dolasimsablonTable" trigger="dolasimsablonTable">
							<h:outputText value="#{label['common.loading']}" />
							<br />
							<h:graphicImage library="_image" name="ajax-loader.gif" />
						</p:blockUI>
						<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="dolasimsablonTable" value="#{dolasimsablonController.list}" var="dolasimsablonRow" binding="#{dolasimsablonController.table}"
							rowIndexVar="rowIndex" selectionMode="single" selection="#{dolasimsablonController.entity}" filteredValue="#{dolasimsablonController.filteredList}"
							widgetVar="filterTable" rowKey="#{dolasimsablonRow.RID}" resizableColumns="false">

							<p:ajax event="rowSelect" listener="#{dolasimsablonController.tableRowSelect}" update=":dolasimsablonForm" />
							<p:ajax event="rowUnselect" listener="#{dolasimsablonController.tableRowCancelSelection}" update=":dolasimsablonForm" />
							
							<arftags:column val="#{dolasimsablonRow.ad}" header="#{label['dolasimsablon.ad']}" width="30" />
							<arftags:column val="#{dolasimsablonRow.evrakHareketTuru.label}" header="#{label['dolasimsablon.evrakHareketTuru']}" width="30" />
							<arftags:column val="#{dolasimsablonRow.birimRef.UIString}" header="#{label['dolasimsablon.birimRef']}" width="30" rendered="#{sessionUser.superUser}" />
						</p:dataTable>
					</div>
					<p:outputPanel rendered="#{dolasimsablonController.dolasimsablon.RID != null}" id="dolasimsablonSummaryPanel">
						<div id="divright" style="overflow-x: hidden">
							<p:panel style="margin-left:1%; overflow-x:hidden; height:50%; overflow-y:auto" header="#{label['dolasimsablon.summary']}">
								<ui:repeat var="dolasimsablondetayRec" value="#{dolasimsablonController.dolasimsablondetayList}">
									<h:panelGrid columns="2" columnClasses="besYuzde, doksanBesYuzde" width="100%">
										<h:outputText value="#{dolasimsablondetayRec.sirano}." styleClass="detayBaslik" escape="false" />
										<h:outputText value="#{dolasimsablondetayRec.birimPersonelRefUIString}" styleClass="detayMetin" escape="false" />
									</h:panelGrid>
								</ui:repeat>
							</p:panel>
						</div>
					</p:outputPanel>
					<arf:pagingWithBlockUI controllerClassName="#{dolasimsablonController}" formName="dolasimsablonForm" listPanelName="dolasimsablonListPanel" pagingOption="true"
						tableName="dolasimsablonTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>

			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
