<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="dolasimsablonEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['dolasimsablon.edit']}"
		rendered="#{dolasimsablonController.editPanelRendered}">
		<h:panelGrid columns="1" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['dolasimsablon.birimRef']}" listSource="#{dolasimsablonController.selectItemListFor('Birim')}" requiredCond="false" compId="birimRef"
				converterId="birimConverter" value="#{dolasimsablonController.dolasimsablon.birimRef}" id="birimRefDropDown" rendered="#{sessionUser.superUser}" />
				
			<arf:textoutput label="#{label['dolasimsablon.birimRef']}" value="#{dolasimsablonController.dolasimsablon.birimRef.UIString}"  rendered="#{!sessionUser.superUser}" />

			<arf:dropdown label="#{label['dolasimsablon.evrakHareketTuru']}" listSource="#{enumeratedController.evrakHareketTuruItems}" requiredCond="true" compId="evrakHareketTuru"
				value="#{dolasimsablonController.dolasimsablon.evrakHareketTuru}" id="evrakHareketTuruDropDown" addNullOption="true" />


			<arf:textinput label="#{label['dolasimsablon.ad']}" value="#{dolasimsablonController.dolasimsablon.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="100" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{dolasimsablonController}" formName="dolasimsablonForm" listPanelName="dolasimsablonListPanel"
			editPanelName="dolasimsablonEditPanel" modelName="Dolasimsablon" />
	</p:fieldset>

</ui:composition>