<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="dosyakoduForm" prependId="false">

				<ui:include src="/_page/form/evrak/dosyakodu_Edit.xhtml" />

				<p:fieldset id="dosyakoduFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{dosyakoduController.collapsed}" legend="#{label['dosyakodu.query']}"
					rendered="#{!dosyakoduController.editPanelRendered and true}">
					<p:ajax listener="#{dosyakoduController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:textinputForFilter label="#{label['dosyakodu.ad']}" requiredCond="false" compId="ad" value="#{dosyakoduController.dosyakoduFilter.ad}" id="adTextInput"
							maxLength="20" />

						<arf:textinputForFilter label="#{label['dosyakodu.kod']}" requiredCond="false" compId="kod" value="#{dosyakoduController.dosyakoduFilter.kod}" id="kodTextInput"
							maxLength="20" />

					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{dosyakoduController}" formName="dosyakoduForm" listPanelName="dosyakoduListPanel"
						filterPanelName="dosyakoduFilterPanel" modelName="Dosyakodu" />
				</p:fieldset>

				<p:fieldset legend="#{label['dosyakodu.list']}" styleClass="pageFieldSet" id="dosyakoduListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
						<p:commandButton id="dosyakoduTreeCommand" process="@this" style="width:150px" action="#{dosyakoduController.treePage}" icon="tree"
							rendered="#{dosyakoduController.listRendered}" value="#{label['dosyakodu.tree']}" styleClass="arfCommandButton" />

					</h:panelGrid>

					<div id="#{dosyakoduController.detailPanelDivId}">
						<p:blockUI block="dosyakoduTable" trigger="dosyakoduTable">
							<h:outputText value="#{label['common.loading']}" />
							<br />
							<h:graphicImage library="_image" name="ajax-loader.gif" />
						</p:blockUI>
						<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="dosyakoduTable" value="#{dosyakoduController.list}" var="dosyakoduRow" binding="#{dosyakoduController.table}"
							rowIndexVar="rowIndex" selectionMode="single" selection="#{dosyakoduController.entity}" filteredValue="#{dosyakoduController.filteredList}" widgetVar="filterTable"
							rowKey="#{dosyakoduRow.RID}" resizableColumns="false">

							<p:ajax event="rowSelect" listener="#{dosyakoduController.tableRowSelect}" update=":dosyakoduForm" />
							<p:ajax event="rowUnselect" listener="#{dosyakoduController.tableRowCancelSelection}" update=":dosyakoduForm" />

							<arftags:column val="#{dosyakoduRow.ad}" header="#{label['dosyakodu.ad']}" width="25" />
							<arftags:column val="#{dosyakoduRow.kod}" header="#{label['dosyakodu.kod']}" width="25" />
						</p:dataTable>

						<arf:pagingWithBlockUI controllerClassName="#{dosyakoduController}" formName="dosyakoduForm" listPanelName="dosyakoduListPanel" pagingOption="true"
							tableName="dosyakoduTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="true" exportToWord="false" />
					</div>
					<p:outputPanel rendered="#{dosyakoduController.dosyakodu.RID != null}">
						<div id="divright">
							<p:panel header="#{label['dosyakodu.summary']}">
								<h:outputText value="#{dosyakoduController.dosyakodu.UIStringTreeFormat}" escape="false" styleClass="requiredInputText" />
							</p:panel>
						</div>
					</p:outputPanel>

				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
