<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="dosyakoduEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['dosyakodu.edit']}" rendered="#{dosyakoduController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['dosyakodu.ustRef']}" listSource="#{dosyakoduController.selectItemListFor('Dosyakodu')}" requiredCond="true" compId="ustRef"
				value="#{dosyakoduController.dosyakodu.ustRef}" converterId="#{'dosyakoduConverter'}" id="ustRefDropDown" />

			<arf:textinput label="#{label['dosyakodu.kod']}" value="#{dosyakoduController.dosyakodu.kod}" compId="kod" requiredCond="true" id="kodInputText" maxLength="400" />

			<arf:textinput label="#{label['dosyakodu.ad']}" value="#{dosyakoduController.dosyakodu.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="400" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{dosyakoduController}" formName="dosyakoduForm" listPanelName="dosyakoduListPanel" editPanelName="dosyakoduEditPanel"
			modelName="Dosyakodu" />
	</p:fieldset>

</ui:composition>