<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:panel style="margin-top:20px; height:300px" id="evrakSummaryPanel" rendered="#{evrakController.evrak.RID != null}">
		<arf:evrakPreview evrakObject="#{evrakController.evrak}" />
	</p:panel>
</ui:composition>
