<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml" xmlns:pe="http://primefaces.org/ui/extensions">

	<ui:define name="content">
		<style>
#kayittarihiForFilterCalendar:kayittarihiForFilter input {
	width: 70px !important;
}
</style>
		<h:body>
			<h:form id="evrakForm" prependId="false" enctype="multipart/form-data">

				<ui:include src="/_page/form/evrak/evrak_Edit.xhtml" />

				<p:fieldset id="evrakFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{evrakController.collapsed}" legend="#{label['evrak.query']}"
					rendered="#{!evrakController.editPanelRendered and !evrakController.oncekiAdimPanelRendered and !evrakController.sonrakiAdimPanelRendered and !evrakController.onayPanelRendered}">
					<p:ajax listener="#{evrakController.onToggle}" event="toggle" />

					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:spinnerForFilter label="#{label['evrak.yil']}" value="#{evrakController.evrakFilter.yil}" compId="yil" requiredCond="false" id="yilForFilterInputText" min="2000" max="2020" />
						<arf:dropdownForFilter label="#{label['evrak.evrakHareketTuru']}" listSource="#{enumeratedController.evrakHareketTuruItems}" requiredCond="false" compId="evrakHareketTuru"
							value="#{evrakController.evrakFilter.evrakHareketTuru}" id="evrakHareketTuruDropDownForFilter" addNullOption="true" updateCompWithoutEvent="@this" />
						<arf:doubleCalendarForFilter label="#{label['evrak.kayittarihi']}" value="#{evrakController.evrakFilter.kayittarihi}" valueMax="#{evrakController.evrakFilter.kayittarihiMax}" id="kayittarihiForFilterCalendar"
							pattern="#{configurationController.dateTimePattern}" requiredCond="false" compId="kayittarihi" />
						<arf:textinputForFilter label="#{label['evrak.kayitno']}" value="#{evrakController.evrakFilter.kayitno}" compId="kayitno" requiredCond="false" id="kayitnoForFilterInputText" maxLength="100" />

						<arf:suggestbox label="#{label['evrak.dosyaKoduRef']}" methodName="#{evrakController.completeMethod}" requiredCond="false" compId="dosyaKoduRefForFilter" value="#{evrakController.evrakFilter.dosyaKoduRef}"
							id="dosyaKoduRefSuggestBoxForFilter" converterId="#{'dosyakoduConverter'}" modelName="#{'Dosyakodu'}" var="dosyakoduRec" itemValue="#{dosyakoduRec}" itemLabel="#{dosyakoduRec}" />
						<arf:doubleCalendarForFilter label="#{label['evrak.evraktarihi']}" value="#{evrakController.evrakFilter.evraktarihi}" valueMax="#{evrakController.evrakFilter.evraktarihiMax}" id="evraktarihiForFilterCalendar"
							pattern="#{configurationController.datePattern}" requiredCond="false" compId="evraktarihi" />
						<arf:textinputForFilter label="#{label['evrak.evrakno']}" value="#{evrakController.evrakFilter.evrakno}" compId="evrakno" requiredCond="false" id="evraknoForFilterInputText" maxLength="100" />
						<arf:dropdownForFilter label="#{label['evrak.durum']}" listSource="#{enumeratedController.evrakDurumItems}" requiredCond="false" compId="durum" value="#{evrakController.evrakFilter.durum}" id="durumForFilterDropDown"
							addNullOption="true" />
						<arf:dropdownForFilter label="#{label['evrak.hazirEvrakTuru']}" listSource="#{enumeratedController.hazirEvrakTuruItems}" requiredCond="false" compId="hazirEvrakTuru" value="#{evrakController.evrakFilter.hazirEvrakTuru}"
							id="hazirEvrakTuruForFilterDropDown" addNullOption="true" />
					</h:panelGrid>
					<p:panel toggleable="true" collapsed="true" header="Detaylar">
						<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
							<arf:suggestbox label="#{label['evrak.gonderenKurumRef']}" methodName="#{evrakController.completeMethod}" requiredCond="false" compId="gonderenKurumRefForFilter" value="#{evrakController.evrakFilter.gonderenKurumRef}"
								id="gonderenKurumRefSuggestBoxForFilter" converterId="#{'kurumConverter'}" modelName="#{'Kurum'}" var="gonderenRec" itemValue="#{gonderenRec}" itemLabel="#{gonderenRec}" />
							<arf:suggestbox label="#{label['evrak.gittigiUyeRef']}" methodName="#{evrakController.completeMethod}" requiredCond="false" compId="gittigiUyeRef" converterId="#{'uyeConverter'}" modelName="#{'Uye'}"
								value="#{evrakController.evrakFilter.gittigiUyeRef}" id="gittigiUyeRefForFilterDropDown" var="gittigiUyeRec" itemValue="#{gittigiUyeRec}" itemLabel="#{gittigiUyeRec}" />
							<arf:dualtextinputForFilter label="#{label['evrak.gonderenRef']} #{label['kisi.ad']} - #{label['kisi.soyad']}" requiredCond="false" compId="kisiad" style="width:80px" value="#{evrakController.evrakFilter.gonderenad}"
								maxLength="10" id="kisiAdSoyadForFilterDualTextInput" requiredCond2="false" compId2="kisisoyad" style2="width:80px" value2="#{evrakController.evrakFilter.gonderensoyad}" maxLength2="10" />
							<arf:dropdownForFilter label="#{label['evrak.evrakturu']}" listSource="#{enumeratedController.evrakTuruItems}" requiredCond="false" compId="evrakturu" value="#{evrakController.evrakFilter.evrakturu}"
								id="evrakturuForFilterDropDown" addNullOption="true" />
							<arf:dropdownForFilter label="#{label['evrak.teslimturu']}" listSource="#{enumeratedController.teslimTuruItems}" requiredCond="false" compId="teslimturu" value="#{evrakController.evrakFilter.teslimturu}"
								id="teslimturuForFilterDropDown" addNullOption="true" />
							<arf:dropdownForFilter label="#{label['evrak.gizlilikderecesi']}" listSource="#{enumeratedController.gizlilikDerecesiItems}" requiredCond="false" compId="gizlilikderecesi"
								value="#{evrakController.evrakFilter.gizlilikderecesi}" id="gizlilikderecesiForFilterDropDown" addNullOption="true" />
							<arf:dropdownForFilter label="#{label['evrak.aciliyetturu']}" listSource="#{enumeratedController.aciliyetTuruItems}" requiredCond="false" compId="aciliyetturu" value="#{evrakController.evrakFilter.aciliyetturu}"
								id="aciliyetturuForFilterDropDown" addNullOption="true" />
							<arf:dropdownForFilter label="#{label['evrak.hazirlayanPersonelRef']}" listSource="#{evrakController.selectItemListFor('Personel')}" requiredCond="false" compId="hazirlayanPersonelRef"
								value="#{evrakController.evrakFilter.hazirlayanPersonelRef}" converterId="#{'personelConverter'}" id="hazirlayanPersonelRefForFilterDropDown" />
						</h:panelGrid>
					</p:panel>
					<arf:filterBottomWithBlockUI controllerClassName="#{evrakController}" formName="evrakForm" listPanelName="evrakListPanel" filterPanelName="evrakFilterPanel" detailPanelName="evrakListPanel" modelName="Evrak" />
				</p:fieldset>

				<p:fieldset legend="#{label['evrak.list']}" styleClass="pageFieldSet" id="evrakListPanel" rendered="#{!evrakController.editPanelRendered}">

					<h:panelGrid columns="8">
						<p:commandButton id="evrakdolasimCommand" process="@this" update="@form" icon="dolasim" action="#{evrakController.evrakdolasim}" rendered="#{evrakController.listRenderedFor('Evrakdolasim')}"
							disabled="#{evrakController.evrak.RID == null}" value="#{label['evrakdolasim.list']}" styleClass="arfCommandButton" style="width:160px" />
						<p:commandButton id="evrakdolasimbildirimCommand" process="@this" icon="bildirim" action="#{evrakController.evrakdolasimbildirim}" rendered="#{evrakController.listRenderedFor('Evrakdolasimbildirim')}"
							disabled="#{evrakController.evrak.RID == null}" value="#{label['command.evrakdolasimbildirim']}" styleClass="arfCommandButton" />

						<p:commandButton id="evrakekCommand" process="@this" update="@form" icon="evrakek" action="#{evrakController.evrakek}" rendered="#{evrakController.listRenderedFor('Evrakek')}" disabled="#{evrakController.evrak.RID == null}"
							value="#{label['evrakek.list']}" styleClass="arfCommandButton" style="width:100px" />

						<p:commandButton onsuccess="detailEditDialog.show()" id="evrakOnaylaCommand" process="@this" update="@form" icon="approve" action="#{evrakController.newDetail('evrakonayaciklama')}"
							rendered="#{evrakController.updateRecordRenderedFor('evrakonayaciklama') and evrakController.evrak.durum.code == sessionController.evrakTaslakCode}" disabled="#{evrakController.evrak.RID == null}"
							value="#{label['command.onay']}" styleClass="arfCommandButton" style="width:100px" />

						<p:commandButton onsuccess="detailEditDialog.show()" id="evrakSonrakiAdimCommand" process="@this" update="@form" icon="forward" action="#{evrakController.newDetail('evraksonrakiadimaciklama')}"
							rendered="#{evrakController.updateRecordRenderedFor('evraksonrakiadimaciklama') and evrakController.evrak.RID != null and evrakController.evrak.durum.code != sessionController.evrakTaslakCode}"
							disabled="#{!evrakController.evrakDolasimSonrakiAdimVar}" value="#{label['evrak.sonrakiDolasimAdim']}" styleClass="arfCommandButton" style="width:150px" />

						<p:commandButton onsuccess="detailEditDialog.show()" id="evrakOncekiAdimCommand" process="@this" update="@form" icon="backward" action="#{evrakController.newDetail('evrakoncekiadimaciklama')}"
							rendered="#{evrakController.updateRecordRenderedFor('evrakoncekiadimaciklama') and evrakController.evrak.RID != null and evrakController.evrak.durum.code != sessionController.evrakTaslakCode}"
							value="#{label['evrak.oncekiDolasimAdim']}" styleClass="arfCommandButton" style="width:150px" />

						<p:commandButton id="evrakKapatCommand" process="@this" update="@form" icon="uyariIcon" action="#{evrakController.evrakKapat}" onclick="if (confirm('#{label['evrak.kapatConfirm']}')) {return true} else {return false}"
							rendered="#{evrakController.updateRecordRendered and evrakController.evrak.RID != null and evrakController.evrak.durum.code != sessionController.evrakTaslakCode}" disabled="#{!evrakController.evrakDolasimTamamlanmis}"
							value="#{label['evrak.evrakKapat']}" styleClass="arfCommandButton" style="width:100px" />

						<h:commandLink ajax="false" immediate="true" rendered="#{evrakController.listRendered}" action="#{evrakController.createPdfPreview}" target="_blank"
							disabled="#{evrakController.evrak.RID == null or evrakController.evrak.evrakHareketTuru.code == sessionController.gelenEvrakCode}">
							<p:commandButton icon="uyeBelge" value="#{label['evrak.goster']}" style="width:100px" disabled="#{evrakController.evrak.RID == null}" />
						</h:commandLink>

						<h:outputLink onclick="window.open('#{facesContext.externalContext.requestContextPath}/faces/_page/_main/islemDialog.xhtml', 'popupWindowRapor', 'dependent=yes, menubar=no, toolbar=no'); return false;" value="#"
							rendered="#{evrakController.loggable and evrakController.entity.RID != null}">
							<h:graphicImage library="_image" name="history.png" width="16px" height="16px" style="margin-left:20px" styleClass="exportImage" />
						</h:outputLink>
					</h:panelGrid>
					<p:blockUI block="evrakTable" trigger="evrakTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="evrakTable" value="#{evrakController.list}" var="evrakRow" binding="#{evrakController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{evrakController.entity}" rowKey="#{evrakRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{evrakController.tableRowSelect}" update=":evrakForm" />
						<p:ajax event="rowUnselect" listener="#{evrakController.tableRowCancelSelection}" update=":evrakForm" />

						<arftags:downloadColumn val="#{evrakRow}" />
						<arftags:column val="#{evrakRow.evrakHareketTuru.label}" header="#{label['evrak.evrakHareketTuru']}" width="6" />
						<arftags:columnHtml val="#{evrakRow.durum.labelForEvrakList}" header="#{label['evrak.durum']}" width="5" />
						<arftags:column val="#{evrakRow.yil}" header="#{label['evrak.yil']}" width="5" />
						<arftags:dateColumn val="#{evrakRow.kayittarihi}" header="#{label['evrak.kayittarihi']}" width="10" />
						<arftags:column val="#{evrakRow.kayitno}" header="#{label['evrak.kayitno']}" width="12" />
						<arftags:column val="#{evrakRow.dosyaKoduRef.UIString}" header="#{label['evrak.dosyaKoduRef']}" width="12" />
						<arftags:column val="#{evrakRow.konusu}" header="#{label['evrak.konusu']}" width="10" />
						<arftags:dateColumn val="#{evrakRow.evraktarihi}" header="#{label['evrak.evraktarihi']}" width="8" />
						<arftags:column val="#{evrakRow.evrakno}" header="#{label['evrak.evrakno']}" width="8" />
						<arftags:column val="#{evrakRow.hazirEvrakTuru.label}" header="#{label['evrak.hazirEvrakTuru']}" width="10" />
						<p:column style="text-align:center; width:60px" rendered="true">
							<f:facet name="header">
								<h:outputText value="#{label['common.detay']}" />
							</f:facet>
							<p:commandLink action="#{evrakController.setSelectedRID(evrakRow.RID)}" process="@this" update="@this" ajax="true">
								<h:graphicImage library="_image" name="detail.png" />
							</p:commandLink>
						</p:column>
					</p:dataTable>
					<arf:pagingWithBlockUI controllerClassName="#{evrakController}" formName="evrakForm" listPanelName="evrakListPanel" pagingOption="true" tableName="evrakTable" addExport="true" addOption="true" updateOption="true"
						deleteOption="true" addSubRecordOption="false" exportToWord="false" logOption="true" />
				</p:fieldset>
			</h:form>

			<p:dialog header="#{label['common.previewImage']}" widgetVar="previewDialog" width="1000" height="500" style="position:absolute; left:5%; top:5%" modal="false" id="previewDialogBox">
				<div style="width: 98%; position: relative; top: 0px; height: 100%; left: 1%">
					<div style="position: relative; top: 5px; width: 100%; text-align: center">
						<h4 style="margin-top: 10px">
							TMMOBB<br />
							<h:outputText value="#{evrakController.evrak.sistemeTanimlayan.birimRef.ad}" />
						</h4>
					</div>
					<div style="position: relative; top: 10px; width: 100%; text-align: left">
						<h:outputText value="#{evrakController.evrak.gizlilikderecesi.label} / #{evrakController.evrak.teslimturu.label} " />
					</div>
					<div style="position: relative; top: 10px; width: 100%; text-align: left">
						<b>Kayıt Tarihi ve No : </b>
						<h:outputText value="#{evrakController.evrak.kayittarihi}">
							<f:convertDateTime type="date" timeZone="#{configurationController.timeZone}" pattern="#{configurationController.datePattern}" />
						</h:outputText>
						<h:outputText value=" / #{evrakController.evrak.kayitno}" />
						<br />
						<h:outputText value="#{evrakController.evrak.evrakturu.label} - " style="margin-left:105px" />
						<span style="color: red"> <h:outputText value="#{evrakController.evrak.aciliyetturu.label}" /></span>
					</div>
					<div style="position: relative; top: 20px; width: 100%; text-align: left">
						<b>Dosya Kodu : </b>
						<h:outputText value="#{evrakController.evrak.dosyaKoduRef.UIString}" />
						<br /> <b>Konu : </b>
						<h:outputText value="#{evrakController.evrak.konusu}" />
						<br /> <b>İlgi : </b>
						<h:outputText value="#{evrakController.evrak.ilgi}" />
					</div>
					<div style="position: relative; top: 50px; width: 100%; text-align: left">
						<b><h:outputText value="#{label['evrak.hazirlayanPersonelRef']} : " /></b>
						<h:outputText value="#{evrakController.evrak.hazirlayanPersonelRef.UIString}" />
						<br /> <b><h:outputText value="#{label['evrak.takdimmakami']} : " /></b>
						<h:outputText value="#{evrakController.evrak.takdimmakami}" />
						<br /> <b><h:outputText value="#{label['evrak.anahtarkelime']} : " /></b>
						<h:outputText value="#{evrakController.evrak.anahtarkelime}" />
						<br /> <b><h:outputText value="#{label['evrak.gittigiUyeRef']} : " /></b>
						<h:outputText value="#{evrakController.evrak.gittigiUyeRef.UIString}" />
						<br /> <b><h:outputText value="#{label['evrak.gonderenRef']} : " /></b>
						<h:outputText value="#{evrakController.evrak.gonderenKurumRef.UIString}" escape="true" rendered="#{evrakRow.gonderenKurumRef.RID != null}" />
						<h:outputText value="#{evrakController.evrak.gonderenkisiRef.UIString}" escape="true" rendered="#{evrakRow.gonderenkisiRef.RID != null}" />
						<br />
						<h:outputText value="#{evrakController.evrak.icerik}" escape="false" />
					</div>
					<p align="center">
						<p:spacer height="100" />
						<p:commandButton id="previewDialogcancelDetailsButton3" icon="iptal" value="#{label['command.cancel']}" styleClass="commandButton" onclick="previewDialog.hide()" process="@this" />
						<br />
						<p:spacer height="50" />
					</p>
				</div>
			</p:dialog>

			<p:dialog header="#{label['common.detailEdit']}" widgetVar="detailEditDialog" width="1000" height="#{evrakController.heightOfEditDialog}" style="position:absolute; left:5%; top:5%" modal="true" id="dialogUpdateBox"
				visible="#{evrakController.detailEditType != null}">
				<h:form id="detailEditForm" prependId="false">
					<p:fieldset id="evrakOncekiAdimPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['evrak.query']}" rendered="#{evrakController.detailEditType == 'evrakoncekiadimaciklama'}">
						<arf:textoutput style="white-space:normal" value="#{evrakController.kime}" escape="false" label="#{label['evrak.siradakikisi']}" />
						<h:panelGrid columns="1" styleClass="arfEditGrid">
							<arf:textinputarea label="#{label['evrak.aciklama']}" value="#{evrakController.aciklama}" compId="oncekiAdim" requiredCond="true" id="oncekiAdimInputText" maxLength="255" style="width:300px" />
						</h:panelGrid>
						<p style="margin-top: 10px; margin-bottom: 10px; margin-left: 35%">
							<p:commandButton id="oncekiAdimCommandForEvrak" value="#{label['command.post']}" ajax="true" onclick="cdOnceki.show()" process="evrakOncekiAdimPanel" icon="save" styleClass="arfCommandButton" />
							<p:commandButton id="cancelDetailsOncekiAdim" icon="iptal" value="#{label['command.cancel']}" styleClass="commandButton" onclick="detailEditDialog.hide()" process="@this" />
							<br />
						</p>
						<p:confirmDialog message="#{label['evrak.dolasimOncekiConfirm']}" header="#{label['evrak.dolasimOncekiConfirm']}" severity="alert" widgetVar="cdOnceki" appendToBody="true">
							<p align="center">
								<p:commandButton id="oncekiAdimConfirm" action="#{evrakController.oncekiAdim}" value="#{label['command.post']}" oncomplete="cdOnceki.hide(); detailEditDialog.hide();" process="evrakOncekiAdimPanel"
									update="@form :globalMessages" icon="save" styleClass="arfCommandButton" />
								<p:commandButton id="cancelOncekiAdim" icon="iptal" value="#{label['command.cancel']}" styleClass="commandButton" onclick="cdOnceki.hide();" process="@this" />
							</p>
						</p:confirmDialog>
					</p:fieldset>
					<p:fieldset id="evrakSonrakiAdimPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['evrak.query']}" rendered="#{evrakController.detailEditType == 'evraksonrakiadimaciklama'}">
						<arf:textoutput style="white-space:normal" value="#{evrakController.kime}" escape="false" label="#{label['evrak.siradakikisi']}" />
						<h:panelGrid columns="1" styleClass="arfEditGrid">
							<arf:textinputarea label="#{label['evrak.aciklama']}" value="#{evrakController.aciklama}" compId="sonrakiAdim" requiredCond="true" id="sonrakiAdimInputText" maxLength="255" style="width:300px" />
						</h:panelGrid>

						<p style="margin-top: 10px; margin-bottom: 10px; margin-left: 35%">
							<p:commandButton id="sonrakiAdimCommandForEvrak" value="#{label['command.post']}" ajax="true" onclick="cdSonraki.show()" process="evrakSonrakiAdimPanel" icon="save" styleClass="arfCommandButton" />
							<p:commandButton id="cancelDetailsSonrakiAdim" icon="iptal" value="#{label['command.cancel']}" styleClass="commandButton" onclick="detailEditDialog.hide()" process="@this" />
							<br />
						</p>
						<p:confirmDialog message="#{label['evrak.dolasimConfirm']}" header="#{label['evrak.dolasimConfirm']}" severity="alert" widgetVar="cdSonraki" appendToBody="true">
							<p align="center">
								<p:commandButton id="sonrakiAdimConfirm" action="#{evrakController.sonrakiAdim}" value="#{label['command.post']}" oncomplete="cdSonraki.hide(); detailEditDialog.hide();" process="evrakSonrakiAdimPanel"
									update="@form :globalMessages" icon="save" styleClass="arfCommandButton" />
								<p:commandButton id="cancelSonrakiAdim" icon="iptal" value="#{label['command.cancel']}" styleClass="commandButton" onclick="cdSonraki.hide();" process="@this" />
							</p>
						</p:confirmDialog>
					</p:fieldset>

					<p:fieldset id="evrakOnayPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['evrak.query']}" rendered="#{evrakController.detailEditType == 'evrakonayaciklama'}">
						<arf:textoutput style="white-space:normal" value="#{evrakController.kime}" escape="false" label="#{label['evrak.siradakikisi']}" />
						<h:panelGrid columns="1" styleClass="arfEditGrid">
							<arf:textinputarea label="#{label['evrak.aciklama']}" value="#{evrakController.aciklama}" compId="onay" requiredCond="true" id="onayNedeniInputText" maxLength="255" style="width:300px" />
						</h:panelGrid>
						<p style="margin-top: 10px; margin-bottom: 10px; margin-left: 35%">
							<p:commandButton id="onayAdimCommandForEvrak" value="#{label['command.post']}" ajax="true" onclick="cd.show()" process="evrakOnayPanel" icon="save" styleClass="arfCommandButton" />
							<p:commandButton id="cancelDetailsButton3" icon="iptal" value="#{label['command.cancel']}" styleClass="commandButton" onclick="detailEditDialog.hide()" process="@this" />
							<br />
						</p>
						<p:confirmDialog message="#{label['evrak.onayConfirm']}" header="#{label['evrak.onayConfirm']}" severity="alert" widgetVar="cd" appendToBody="true">
							<p align="center">
								<p:commandButton id="onayAdimConfirm" action="#{evrakController.onayla}" value="#{label['command.post']}" oncomplete="cd.hide(); detailEditDialog.hide();" process="evrakOnayPanel" update="@form :globalMessages" icon="save"
									styleClass="arfCommandButton" />
								<p:commandButton id="cancelConfirm" icon="iptal" value="#{label['command.cancel']}" styleClass="commandButton" onclick="cd.hide();" process="@this" />
							</p>
						</p:confirmDialog>
					</p:fieldset>
				</h:form>
			</p:dialog>
		</h:body>
	</ui:define>
</ui:composition>
