<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="evrakForm" prependId="false">
				<p:panel style="margin-top:20px; height:300px" id="evrakSummaryPanel" rendered="#{evrakController.evrakDetay.RID != null}">
					<arf:evrakPreview evrakObject="#{evrakController.evrakDetay}" />
				</p:panel>

				<p:panel id="evrakPanel" style="padding:none">
					<p:toolbar style="width:100%; height:25px; border:none lightgray; background:none; margin-left:1.5%; width:96%">
						<p:toolbarGroup align="left" style="width:100%; padding:none">
							<p:commandButton process="@this" value="#{label['evrak.listeyeDon']}" icon="evrakListesineDon" action="#{evrakController.listPage}"
								rendered="#{evrakController.listRenderedFor('Evrak')}" style="margin-right:30px" />

							<p:commandButton process="@this" update="@form" value="#{label['evrak.ekleri']}" rendered="#{evrakController.listRenderedFor('Evrakek')}" icon="evrakek"
								action="#{evrakController.createEvrakDetay('evrakek')}" disabled="#{evrakController.evrakDetay.RID == null or evrakController.selectedTab == 'evrakek'}" />
						</p:toolbarGroup>
					</p:toolbar>

					<p:fieldset legend="#{label['evrakek.list']}" styleClass="pageFieldSetStronger" id="evrakekListPanel" rendered="#{evrakController.selectedTab == 'evrakek'}"
						style="width:98% !important; margin-left:1% !important; border: ">
						<p:panel id="evrakekMaster" styleClass="innerFieldSet">
							<h:graphicImage library="_image" name="toMasterPage.png" styleClass="masterLinkIcon" width="16" height="16" style="margin-right:10px; vertical-align:middle !important" />
							<h:outputText value="#{label['common.parent']} : #{evrakController.evrakDetay.UIString}" />
						</p:panel>
						<p:blockUI block="evrakekTable" trigger="evrakekTable">
							<h:outputText value="#{label['common.loading']}" />
							<br />
							<h:graphicImage library="_image" name="ajax-loader.gif" />
						</p:blockUI>
						<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="evrakekTable" value="#{evrakekController.list}" var="evrakekRow" binding="#{evrakekController.table}" rowIndexVar="rowIndex"
							rowKey="#{evrakekRow.RID}" resizableColumns="false">

							<p:ajax event="rowSelect" listener="#{evrakekController.tableRowSelect}" update=":evrakForm" />
							<p:ajax event="rowUnselect" listener="#{evrakekController.tableRowCancelSelection}" update=":evrakForm" />

							<arftags:column val="#{evrakekRow.tanim}" header="#{label['evrakek.tanim']}" width="73" />
							<p:column width="180" style="text-align:center" headerText="#{label['common.islem']}">
								<arf:buttonSetForDetailList controllerClassName="#{evrakController}" modelName="Evrakek" rowItem="#{evrakekRow}" downloadRendered="true"
									loggable="#{evrakController.evrakekController.loggable}" updateRendered="false" />
							</p:column>
						</p:dataTable>
						<p:commandButton onsuccess="detailEditDialog.show()" value="#{label['command.insert']}" action="#{evrakController.newDetail('evrakek')}" icon="new" immediate="true"
							process="@this" update="@this" styleClass="commandButton" ajax="true" style="width:70px; margin-left:45%; margin-bottom:30px"
							rendered="#{evrakController.updateRecordRenderedFor('Evrakek') and evrakekController.list.size() == 0}" />
					</p:fieldset>
				</p:panel>
			</h:form>

			<p:dialog header="#{label['common.detailEdit']}" widgetVar="detailEditDialog" width="1000" height="#{evrakController.heightOfEditDialog}"
				style="position:absolute; left:5%; top:5%" modal="true" id="dialogUpdateBox" visible="#{evrakController.detailEditType != null}">

				<h:form id="detailEditForm">

					<p:fieldset id="evrakekEditDialogPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['evrakek.edit']}"
						rendered="#{evrakController.detailEditType == 'evrakek'}">

						<arf:textinputarea label="#{label['evrakek.tanim']}" value="#{evrakController.evrakek.tanim}" compId="tanim" requiredCond="true" id="tanimInputText" maxLength="2500" />

						<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde, otuzYuzde, kirkYuzde">
							<h:outputText value="#{label['evrakek.path']} : " styleClass="requiredOutputText" style="padding-left:5px; padding-right:10px" />
							<p:fileUpload fileUploadListener="#{evrakController.fileUploadListenerForEvrakek}" description="#{label['dosya.dosya']}" process="evrakekEditDialogPanel"
								allowTypes="/(\.|\/)(pdf|doc|docx|xls|xlsx|png|jpeg|gif|jpg)$/" update="evrakekEditDialogPanel" required="true" sizeLimit="1500000" id="dosyaRef"
								cancelLabel="#{label['login.cancel']}" uploadLabel="#{label['command.upload']}" oncomplete="alert('#{label['dosya.yuklendi']}');" multiple="false" auto="true" />
							<p:message for="dosyaRef" />
						</h:panelGrid>
					</p:fieldset>

					<p align="center" style="margin-top: 20px">
						<p:hotkey bind="esc" handler="detailEditDialog.hide()" process="@this" />

						<p:commandButton id="saveDetailsButton" icon="save" value="#{label['command.post']}" styleClass="commandButton" action="#{evrakController.saveDetails}"
							update="@form :globalMessages" process="@form" ajax="true" rendered="#{not empty evrakController.detailEditType}" />
						<p:commandButton id="cancelDetailsButton" icon="iptal" value="#{label['command.cancel']}" styleClass="commandButton" onclick="detailEditDialog.hide()" process="@this" />
						<br />
					</p>
				</h:form>
			</p:dialog>
		</h:body>
	</ui:define>
</ui:composition>
