<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<ui:define name="content">
		<h:body>
			<h:form id="evrakUploadForm" prependId="false">
				<p:fieldset id="evrakEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['evrak.edit']}">
					<h:panelGrid columns="2"
						style="font-size: small !important; padding-left: 10px !important; padding-top: 10px !important; width: 98% !important; margin-left: 0.25% !important"
						columnClasses="elliYuzde, elliYuzde">
						<arf:textoutput label="#{label['evrak.yil']}" value="#{evrakController.evrak.yil}" />
						<arf:textoutput label="#{label['evrak.kayittarihi']}" value="#{evrakController.evrak.kayittarihi}" convertToDate="true" />
						<arf:textoutput label="#{label['evrak.kayitno']}" value="#{evrakController.evrak.kayitno}" />
						<arf:textoutput label="#{label['evrak.durum']}" value="#{evrakController.evrak.durum.label}" />
						<p:spacer width="100%" style="border-top: 1px dotted blue; margin-top:20px;" height="20" />
						<p:spacer width="100%" style="border-top: 1px dotted blue; margin-top:20px;" height="20" />
						<arf:textoutput label="#{label['evrak.evrakHareketTuru']}" value="#{evrakController.evrak.evrakHareketTuru.label}" />
						<arf:textoutput label="#{label['evrak.hazirEvrakTuru']}" value="#{evrakController.evrak.hazirEvrakTuru.label}" />
					</h:panelGrid>

					<p:spacer width="100%" style="border-top: 1px dotted blue; margin-top:20px;" height="20" />

					<h:outputText value="#{label['evrak.path']} : " styleClass="requiredOutputText" style="padding-left:5px; padding-right:10px" />
					<p:fileUpload fileUploadListener="#{evrakController.fileUploadListener}" description="#{label['dosya.dosya']}" process="@parent"
						allowTypes="/(\.|\/)(pdf|doc|docx|xls|xlsx|jpg|jpeg|gif|png)$/" update="@parent :globalMessages" required="true" sizeLimit="1500000"
						id="evrakGelenUpload" cancelLabel="#{label['login.cancel']}" uploadLabel="#{label['command.upload']}" oncomplete="alert('#{label['dosya.yuklendi']}')"
						multiple="false" auto="true" style="width:70%; margin-left:15%" immediate="false">
					</p:fileUpload>	
					<p:message for="evrakGelenUpload" />
				</p:fieldset>
				<pe:ajaxErrorHandler title="Error" body="Server return exception  {error-name} with description {error-message}" button="Hide" widgetVar="myAjaxErrorHandler"
					buttonOnclick="myAjaxErrorHandler.hide()" />
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>