<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" xmlns:pe="http://primefaces.org/ui/extensions">

	<p:fieldset id="evrakEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['evrak.edit']}" rendered="#{evrakController.editPanelRendered}">
		<p:outputPanel rendered="#{evrakController.editStep == 1}">
			<h:panelGrid columns="2" style="font-size: small !important; padding-left: 10px !important; padding-top: 10px !important; width: 98% !important; margin-left: 0.25% !important" columnClasses="elliYuzde, elliYuzde">
				<arf:textoutput label="#{label['evrak.yil']}" value="#{evrakController.evrak.yil}" />
				<arf:textoutput label="#{label['evrak.kayittarihi']}" value="#{evrakController.evrak.kayittarihi}" convertToDate="true" />
				<arf:textoutput label="#{label['evrak.kayitno']}" value="#{evrakController.evrak.kayitno}" />
				<arf:textoutput label="#{label['evrak.durum']}" value="#{evrakController.evrak.durum.label}" />
				<p:spacer width="100%" style="border-top: 1px dotted blue; margin-top:20px;" height="20" />
				<p:spacer width="100%" style="border-top: 1px dotted blue; margin-top:20px;" height="20" />
				<arf:dropdown label="#{label['evrak.evrakHareketTuru']}" listSource="#{enumeratedController.evrakHareketTuruItems}" requiredCond="true" compId="evrakHareketTuru" value="#{evrakController.evrak.evrakHareketTuru}"
					id="evrakHareketTuruDropDown" addNullOption="true" ajaxEventListener="#{evrakController.handleEvrakHareketTuruChange}" changeEventUpdateComp="#{':evrakForm'}" disabledCond="#{evrakController.renderPanelGrids}" />
				<arf:dropdown label="#{label['evrak.hazirEvrakTuru']}" listSource="#{evrakController.hazirEvrakTuruItems}" requiredCond="true" compId="hazirEvrakTuru" value="#{evrakController.evrak.hazirEvrakTuru}" id="hazirEvrakTuruDropDown"
					addNullOption="true" ajaxEventListener="#{evrakController.handleEvrakHareketTuruChange}" changeEventUpdateComp="#{':evrakForm'}" disabledCond="#{evrakController.renderPanelGrids}" />
			</h:panelGrid>
			<p:outputPanel id="evrakOutputPanel">
				<h:panelGrid columns="2" style="font-size: small !important; padding-left: 10px !important; padding-top: 10px !important; width: 98% !important; margin-left: 0.25% !important" columnClasses="elliYuzde, elliYuzde"
					rendered="#{evrakController.renderPanelGrids}">
					<arf:suggestbox label="#{label['evrak.gonderenKurumRef']}" methodName="#{evrakController.completeMethod}" requiredCond="false" compId="gonderenKurumRef" value="#{evrakController.evrak.gonderenKurumRef}"
						id="gonderenKurumRefSuggestBox" converterId="#{'kurumConverter'}" modelName="#{'Kurum'}" var="gonderenRec" itemValue="#{gonderenRec}" itemLabel="#{gonderenRec}"
						rendered="#{evrakController.evrak.evrakHareketTuru.code == sessionController.gelenEvrakCode}" />
					<arf:suggestbox label="#{label['evrak.gonderenkisiRef']}" methodName="#{evrakController.completeMethod}" requiredCond="false" compId="gonderenkisiRef" value="#{evrakController.evrak.gonderenkisiRef}"
						id="gonderenkisiRefSuggestBox" converterId="#{'kisiConverter'}" modelName="#{'Kisi'}" var="gonderenKisiRec" itemValue="#{gonderenKisiRec}" itemLabel="#{gonderenKisiRec}"
						rendered="#{evrakController.evrak.evrakHareketTuru.code == sessionController.gelenEvrakCode}" />

					<arf:suggestboxWithPreviousValue label="#{label['evrak.dosyaKoduRef']}" methodName="#{evrakController.completeMethod}" requiredCond="false" compId="dosyaKoduRef" value="#{evrakController.evrak.dosyaKoduRef}"
						id="dosyaKoduRefSuggestBox" converterId="#{'dosyakoduConverter'}" modelName="#{'Dosyakodu'}" var="dosyaKoduRec" itemValue="#{dosyaKoduRec}" itemLabel="#{dosyaKoduRec}" deleteRendered="true"
						compIdForPreviousValue="dosyaKoduPrevious" outputValue="#{evrakController.evrak.dosyaKoduRefPrev}" action="#{evrakController.deletePreviousDosyaKodu}" />

					<arf:dropdown label="#{label['evrak.dosyaKoduRef']}" listSource="#{evrakController.selectItemListFor('Dosyakodu')}" requiredCond="true" compId="dosyaKoduRef" value="#{evrakController.evrak.dosyaKoduRef}"
						converterId="#{'dosyakoduConverter'}" id="dosyaKoduRefDropDown" />
					<arf:textinputarea label="#{label['evrak.konusu']}" value="#{evrakController.evrak.konusu}" compId="konusu" requiredCond="true" id="konusuInputText" maxLength="2500" keyFilterRegex="/^[-\w\sşŞıİçÇöÖüÜĞğ.,;:-]+$/"
						updateCompWithoutEvent="@this" />
					<arf:calendar label="#{label['evrak.evraktarihi']}" value="#{evrakController.evrak.evraktarihi}" id="evraktarihiCalendar" pattern="#{configurationController.datePattern}" requiredCond="true" compId="evraktarihi"
						rendered="#{evrakController.evrak.evrakHareketTuru.code != sessionController.gidenEvrakCode}" />
					<arf:textoutput label="#{label['evrak.evraktarihi']}" value="#{evrakController.evrak.evraktarihi}" id="evraktarihiCalendarOut" convertToDate="true" compId="evraktarihiOut"
						rendered="#{evrakController.evrak.evrakHareketTuru.code == sessionController.gidenEvrakCode}" />
					<arf:textinput label="#{label['evrak.evrakno']}" value="#{evrakController.evrak.evrakno}" compId="evrakno" requiredCond="true" id="evraknoInputText" maxLength="100"
						rendered="#{evrakController.evrak.evrakHareketTuru.code == sessionController.gelenEvrakCode}" disabledCond="true" keyFilterRegex="/^[-\w\sşŞıİçÇöÖüÜĞğ]+$/" />

					<arf:suggestboxWithPreviousValue label="#{label['evrak.gittigiKurumRef']}" methodName="#{evrakController.completeMethod}"
						requiredCond="#{evrakController.evrak.hazirEvrakTuru != null and 
						(evrakController.evrak.hazirEvrakTuru.code == sessionController.ihaleBelgesiCode or evrakController.evrak.hazirEvrakTuru.code == sessionController.santiyeSefligiCode)}"
						compId="gittigiKurumRef" minQueryLength="5" value="#{evrakController.evrak.gittigiKurumRef}" id="gittigiKurumRefSuggestBox" converterId="#{'kurumConverter'}" modelName="#{'Kurum'}" var="gittigiRec" itemValue="#{gittigiRec}"
						itemLabel="#{gittigiRec}" rendered="#{evrakController.evrak.evrakHareketTuru.code == sessionController.gidenEvrakCode}" deleteRendered="#{evrakController.evrak.RID != null}" compIdForPreviousValue="gittigiKurumPrevious"
						outputValue="#{evrakController.evrak.gittigiKurumRefPrev}" action="#{evrakController.deletePreviousKurum}" yeniDegerRendered="#{evrakController.evrak.gittigiKurumRefPrev.RID != null}"
						ajaxEventListener="#{evrakController.handleChangeForKurum}" changeEventUpdateComp="#{':evrakForm:icerikEditorComponent:icerikEditor :evrakForm:konusuInputText:konusu :evrakForm:ilgiInputText:ilgi'}" />

					<arf:suggestboxWithPreviousValue label="#{label['evrak.gittigiUyeRef']}" methodName="#{evrakController.completeMethod}" minQueryLength="5"
						requiredCond="#{evrakController.evrak.hazirEvrakTuru != null and evrakController.evrak.hazirEvrakTuru.code != sessionController.genelEvrakTuruCode}" compId="gittigiUyeRef" value="#{evrakController.evrak.gittigiUyeRef}"
						id="gittigiUyeRefSuggestBox" converterId="#{'uyeConverter'}" modelName="#{'Uye'}" var="gittigiRec" itemValue="#{gittigiRec}" itemLabel="#{gittigiRec}"
						rendered="#{evrakController.evrak.evrakHareketTuru.code == sessionController.gidenEvrakCode}" deleteRendered="#{evrakController.evrak.RID != null}" compIdForPreviousValue="gittigiUyePrevious"
						outputValue="#{evrakController.evrak.gittigiUyeRefPrev}" action="#{evrakController.deletePreviousUye}" yeniDegerRendered="#{evrakController.evrak.gittigiUyeRefPrev.RID != null}"
						ajaxEventListener="#{evrakController.handleChangeForUye}" changeEventUpdateComp="#{':evrakForm:icerikEditorComponent:icerikEditor :evrakForm:konusuInputText:konusu :evrakForm:ilgiInputText:ilgi'}" />

					<arf:dropdown label="#{label['evrak.gittigiBirimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="false" compId="gittigiBirimRef" value="#{evrakController.evrak.gittigiBirimRef}"
						converterId="#{'birimConverter'}" id="gittigiBirimRefDropDown" rendered="#{evrakController.evrak.evrakHareketTuru.code == sessionController.gidenEvrakCode}" />
				</h:panelGrid>

				<h:panelGrid columns="1" style="font-size: small !important; padding-left: 10px !important; padding-top: 10px !important; width: 98% !important; margin-left: 0.25% !important" rendered="#{evrakController.renderPanelGrids}">
					<arf:editorLimited id="icerikEditorComponent" compId="icerikEditor" value="#{evrakController.evrak.icerik}" width="100%" height="250" label="#{label['evrak.icerik']}" requiredCond="true" columnCount="2"
						columnClasses="onBesYuzde, seksenBesYuzde" />
				</h:panelGrid>

				<h:panelGrid columns="2" style="font-size: small !important; padding-left: 10px !important; padding-top: 10px !important; width: 98% !important; margin-left: 0.25% !important" columnClasses="elliYuzde, elliYuzde"
					rendered="#{evrakController.renderPanelGrids}">
					<arf:dropdown label="#{label['evrak.sablonRef']}" listSource="#{evrakController.dolasimsablonItemList}" requiredCond="true" compId="sablonRef" value="#{evrakController.evrak.sablonRef}"
						converterId="#{'dolasimsablonConverter'}" id="sablonRefDropDown" />
					<arf:dropdown label="#{label['evrak.teslimturu']}" listSource="#{enumeratedController.teslimTuruItems}" requiredCond="true" compId="teslimturu" value="#{evrakController.evrak.teslimturu}" id="teslimturuDropDown"
						addNullOption="true" />
					<arf:dropdown label="#{label['evrak.gizlilikderecesi']}" listSource="#{enumeratedController.gizlilikDerecesiItems}" requiredCond="true" compId="gizlilikderecesi" value="#{evrakController.evrak.gizlilikderecesi}"
						id="gizlilikderecesiDropDown" addNullOption="true" />
					<arf:dropdown label="#{label['evrak.aciliyetturu']}" listSource="#{enumeratedController.aciliyetTuruItems}" requiredCond="true" compId="aciliyetturu" value="#{evrakController.evrak.aciliyetturu}" id="aciliyetturuDropDown"
						addNullOption="true" />
					<arf:dropdown label="#{label['evrak.evrakturu']}" listSource="#{enumeratedController.evrakTuruItems}" requiredCond="true" compId="evrakturu" value="#{evrakController.evrak.evrakturu}" id="evrakturuDropDown"
						addNullOption="true" />
					<arf:textoutput value="#{evrakController.evrak.hazirlayanPersonelRef.UIString}" label="#{label['evrak.hazirlayanPersonelRef']}" rendered="#{evrakController.evrak.evrakHareketTuru.code != sessionController.gelenEvrakCode}" />
					<arf:textinput label="#{label['evrak.ilgi']}" value="#{evrakController.evrak.ilgi}" compId="ilgi" requiredCond="false" id="ilgiInputText" maxLength="255" keyFilterRegex="/^[-\w\sşŞıİçÇöÖüÜĞğ]+$/" />
					<arf:textinputarea label="#{label['evrak.takdimmakami']}" value="#{evrakController.evrak.takdimmakami}" compId="takdimmakami" requiredCond="false" id="takdimmakamiInputText" maxLength="2500"
						keyFilterRegex="/^[-\w\sşŞıİçÇöÖüÜĞğ]+$/" />
					<arf:textinputarea label="#{label['evrak.anahtarkelime']}" value="#{evrakController.evrak.anahtarkelime}" compId="anahtarkelime" requiredCond="false" id="anahtarkelimeInputText" maxLength="2500"
						keyFilterRegex="/^[-\w\sşŞıİçÇöÖüÜĞğ]+$/" />
				</h:panelGrid>
			</p:outputPanel>
			<p:spacer width="100%" style="border-top: 1px dotted blue; margin-top:20px;" height="20" />

			<arf:editPanelBottomWithBlockUI controllerClassName="#{evrakController}" formName="evrakForm" listPanelName="evrakListPanel" editPanelName="evrakEditPanel" modelName="Evrak"
				rendered="#{evrakController.evrak.evrakHareketTuru.code != sessionController.gelenEvrakCode}" />
			<arf:editPanelBottomForForwardWithBlockUI controllerClassName="#{evrakController}" formName="evrakForm" listPanelName="evrakListPanel" editPanelName="evrakEditPanel" modelName="Evrak"
				rendered="#{evrakController.evrak.evrakHareketTuru.code == sessionController.gelenEvrakCode}" />
		</p:outputPanel>
		<p:outputPanel rendered="#{evrakController.editStep == 2}">
			<arf:fileUploadAndSave label="#{label['evrak.path']}" requiredCond="true" compId="#{'evrakRef'}" allowTypes="/(\.|\/)(pdf|doc|docx|xls|xlsx|jpg|jpeg|gif|png)$/" sizeLimit="1500000" controllerClassName="#{evrakController}"
				style="width:800px" editPanelName="evrakEditPanel" formName="evrakForm" />
			<arf:editPanelBottomWithBlockUI controllerClassName="#{evrakController}" formName="evrakForm" listPanelName="evrakListPanel" editPanelName="evrakEditPanel" modelName="Evrak" />
		</p:outputPanel>
	</p:fieldset>

</ui:composition>