<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="kullaniciIslemForm" prependId="false">

				<div style="width: 75%; height: 75%; margin-left: 12%; margin-top: 7%">

					<ul class="ca-menu menulist">
						<h:column rendered="#{sessionController.listRenderedFor('Role')}">
							<li><h:commandLink action="#{menuController.gotoPage('menu_Role')}">
									<h:graphicImage styleClass="menu_icon" library="_image" name="menuIcons/menuIcon_Roller.png" align="middle" />
									<div class="ca-content">
										<span class="ca-main menu_text">
											<center>
												<h:outputText value="#{label['role.list']}" />
											</center>
										</span>
									</div>
								</h:commandLink></li>
						</h:column>
						<h:column rendered="#{sessionController.listRenderedFor('Kullanici')}">
							<li><h:commandLink action="#{menuController.gotoPage('menu_Kullanici')}">
									<h:graphicImage styleClass="menu_icon" library="_image" name="menuIcons/menuIcon_Kullanicilar.png" align="middle" />
									<div class="ca-content">
										<span class="ca-main menu_text">
											<center>
												<h:outputText value="#{label['kullanici.list']}" />
											</center>
										</span>
									</div>
								</h:commandLink></li>
						</h:column>
						<h:column rendered="#{sessionController.listRenderedFor('Islem')}">
							<li><h:commandLink action="#{menuController.gotoPage('menu_Islem')}">
									<h:graphicImage styleClass="menu_icon" library="_image" name="menuIcons/menuIcon_Islem.png" align="middle" />
									<div class="ca-content">
										<span class="ca-main menu_text">
											<center>
												<h:outputText value="#{label['menuItem.islemList']}" />
											</center>
										</span>
									</div>
								</h:commandLink></li>
						</h:column>
					</ul>
				</div>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
