<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="kullaniciIslemForm" prependId="false">

				<div style="width: 75%; height: 75%; margin-left: 12%; margin-top: 7%">
					<ul class="ca-menu menulist">
						<h:column rendered="#{sessionController.listRenderedFor('Ulke')}">
							<li><h:commandLink action="#{menuController.gotoPage('menu_Ulke')}">
									<h:graphicImage styleClass="menu_icon" library="_image" name="menuIcons/menuIcon_Ulke.png" align="middle" />
									<div class="ca-content">
										<span class="ca-main menu_text">
											<center>
												<h:outputText value="#{label['ulke.list']}" />
											</center>
										</span>
									</div>
								</h:commandLink></li>
						</h:column>
						<h:column rendered="#{sessionController.listRenderedFor('Birim')}">
							<li><h:commandLink action="#{menuController.gotoPage('menu_Birim')}">
									<h:graphicImage styleClass="menu_icon" library="_image" name="menuIcons/menuIcon_Birimler.png" align="middle" />
									<div class="ca-content">
										<span class="ca-main menu_text">
											<center>
												<h:outputText value="#{label['birim.list']}" />
											</center>
										</span>
									</div>
								</h:commandLink></li>
						</h:column>
						<h:column rendered="#{sessionController.listRenderedFor('Aidat')}">
							<li><h:commandLink action="#{menuController.gotoPage('menu_Aidat')}">
									<h:graphicImage styleClass="menu_icon" library="_image" name="menuIcons/menuIcon_Aidat.png" align="middle" />
									<div class="ca-content">
										<span class="ca-main menu_text">
											<center>
												<h:outputText value="#{label['aidat.list']}" />
											</center>
										</span>
									</div>
								</h:commandLink></li>
						</h:column>
						<h:column rendered="#{sessionController.listRenderedFor('Belgetip')}">
							<li><h:commandLink action="#{menuController.gotoPage('menu_Belgetip')}">
									<h:graphicImage styleClass="menu_icon" library="_image" name="menuIcons/menuIcon_Belgetip.png" align="middle" />
									<div class="ca-content">
										<span class="ca-main menu_text">
											<center>
												<h:outputText value="#{label['belgetip.list']}" />
											</center>
										</span>
									</div>
								</h:commandLink></li>
						</h:column>
						<h:column rendered="#{sessionController.listRenderedFor('Cezatip')}">
							<li><h:commandLink action="#{menuController.gotoPage('menu_Cezatip')}">
									<h:graphicImage styleClass="menu_icon" library="_image" name="menuIcons/menuIcon_Cezatip.png" align="middle" />
									<div class="ca-content">
										<span class="ca-main menu_text">
											<center>
												<h:outputText value="#{label['cezatip.list']}" />
											</center>
										</span>
									</div>
								</h:commandLink></li>
						</h:column>
						<h:column rendered="#{sessionController.listRenderedFor('Odemetip')}">
							<li><h:commandLink action="#{menuController.gotoPage('menu_Odemetip')}">
									<h:graphicImage styleClass="menu_icon" library="_image" name="menuIcons/menuIcon_Odemetip.png" align="middle" />
									<div class="ca-content">
										<span class="ca-main menu_text">
											<center>
												<h:outputText value="#{label['odemetip.list']}" />
											</center>
										</span>
									</div>
								</h:commandLink></li>
						</h:column>
						<h:column rendered="#{sessionController.listRenderedFor('Odultip')}">
							<li><h:commandLink action="#{menuController.gotoPage('menu_Odultip')}">
									<h:graphicImage styleClass="menu_icon" library="_image" name="menuIcons/menuIcon_Odultip.png" align="middle" />
									<div class="ca-content">
										<span class="ca-main menu_text">
											<center>
												<h:outputText value="#{label['odultip.list']}" />
											</center>
										</span>
									</div>
								</h:commandLink></li>
						</h:column>
						<h:column rendered="#{sessionController.listRenderedFor('OgrenimKurum')}">
							<li><h:commandLink action="#{menuController.gotoPage('menu_OgrenimKurum')}">
									<h:graphicImage styleClass="menu_icon" library="_image" name="menuIcons/menuIcon_OgrenimKurum.png" align="middle" />
									<div class="ca-content">
										<span class="ca-main menu_text">
											<center>
												<h:outputText value="#{label['ogrenimKurum.list']}" />
											</center>
										</span>
									</div>
								</h:commandLink></li>
						</h:column>
						<h:column rendered="#{sessionController.listRenderedFor('Uzmanliktip')}">
							<li><h:commandLink action="#{menuController.gotoPage('menu_Uzmanliktip')}">
									<h:graphicImage styleClass="menu_icon" library="_image" name="menuIcons/menuIcon_Uzmanliktip.png" align="middle" />
									<div class="ca-content">
										<span class="ca-main menu_text">
											<center>
												<h:outputText value="#{label['uzmanliktip.list']}" />
											</center>
										</span>
									</div>
								</h:commandLink></li>
						</h:column>
						<h:column rendered="#{sessionController.listRenderedFor('Yayin')}">
							<li><h:commandLink action="#{menuController.gotoPage('menu_Yayin')}">
									<h:graphicImage styleClass="menu_icon" library="_image" name="menuIcons/menuIcon_Yayin.png" align="middle" />
									<div class="ca-content">
										<span class="ca-main menu_text">
											<center>
												<h:outputText value="#{label['yayin.list']}" />
											</center>
										</span>
									</div>
								</h:commandLink></li>
						</h:column>
						<h:column rendered="#{sessionController.listRenderedFor('Menuitem')}">
							<li><h:commandLink action="#{menuController.gotoPage('menu_MenuItem')}">
									<h:graphicImage styleClass="menu_icon" library="_image" name="menuIcons/menuIcon_menuItem.png" align="middle" />
									<div class="ca-content">
										<span class="ca-main menu_text">
											<center>
												<h:outputText value="#{label['menuitem.list']}" />
											</center>
										</span>
									</div>
								</h:commandLink></li>
						</h:column>
					</ul>
				</div>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
