<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="tanimlamalarForm" prependId="false">

				<div style="width: 75%; height: 75%; margin-left: 12%; margin-top: 7%">
					<ul class="ca-menu menulist">

						<h:column rendered="#{sessionController.listRenderedFor('Kisi')}">
							<li><h:commandLink action="#{menuController.gotoPage('menu_Kisi')}">
									<h:graphicImage styleClass="menu_icon" library="_image" name="menuIcons/menuIcon_Roller.png" align="middle" />
									<div class="ca-content">
										<span class="ca-main menu_text">
											<center>
												<h:outputText value="#{label['kisi.list']}" />
											</center>
										</span>
									</div>
								</h:commandLink></li>
						</h:column>
						<h:column rendered="#{sessionController.listRenderedFor('Evrak')}">
							<li><h:commandLink action="#{menuController.gotoPage('menu_Evrak')}">
									<h:graphicImage styleClass="menu_icon" library="_image" name="menuIcons/menuIcon_Document.png" align="middle" />
									<div class="ca-content">
										<span class="ca-main menu_text">
											<center>
												<h:outputText value="#{label['evrak.list']}" />
											</center>
										</span>
									</div>
								</h:commandLink></li>
						</h:column>
						<h:column rendered="#{sessionController.listRenderedFor('Kurum')}">
							<li><h:commandLink action="#{menuController.gotoPage('menu_Kurum')}">
									<h:graphicImage styleClass="menu_icon" library="_image" name="menuIcons/menuIcon_Kurum.png" align="middle" />
									<div class="ca-content">
										<span class="ca-main menu_text">
											<center>
												<h:outputText value="#{label['kurum.list']}" />
											</center>
										</span>
									</div>
								</h:commandLink></li>
						</h:column>
						<h:column rendered="#{sessionUser.superUser}">
							<li><h:commandLink action="#{menuController.gotoPage('kullaniciIslemleri')}">
									<h:graphicImage styleClass="menu_icon" library="_image" name="menuIcons/menuIcon_KullaniciIslemleri.png" align="middle" />
									<div class="ca-content">
										<span class="ca-main menu_text">
											<center>
												<h:outputText value="#{label['menu.kullaniciIslem']}" />
											</center>
										</span>
									</div>
								</h:commandLink></li>
						</h:column>
						<h:column rendered="#{sessionUser.superUser}">
							<li><h:commandLink action="#{menuController.gotoPage('sabitIslemleri')}">
									<h:graphicImage styleClass="menu_icon" library="_image" name="menuIcons/menuIcon_AbitTanimlama.png" align="middle" />
									<div class="ca-content">
										<span class="ca-main menu_text">
											<center>
												<h:outputText value="#{label['menu.sabitTanimlama']}" />
											</center>
										</span>
									</div>
								</h:commandLink></li>
						</h:column>
					</ul>
				</div>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
