<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="ilceForm" prependId="false">

				<arf:masterPanel controllerClassName="#{ilceController}" masterLabel="#{label['sehir.list']}" modelName="ilce" />

				<ui:include src="/_page/form/system/systemDetay/ilce_Edit.xhtml" />

				<p:fieldset legend="#{label['ilce.list']}" styleClass="pageFieldSet" id="ilceListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
						<p:commandButton id="koyCommand" process="@this" icon="child" action="#{ilceController.koy}" rendered="#{ilceController.listRenderedFor('Koy')}"
							disabled="#{ilceController.ilce.RID == null}" value="#{label['command.koy']}" styleClass="arfCommandButton" />

					</h:panelGrid>
					<p:blockUI block="ilceTable" trigger="ilceTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="ilceTable" value="#{ilceController.list}" var="ilceRow" binding="#{ilceController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{ilceController.entity}" filteredValue="#{ilceController.filteredList}" widgetVar="filterTable" rowKey="#{ilceRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{ilceController.tableRowSelect}" update=":ilceForm" />
						<p:ajax event="rowUnselect" listener="#{ilceController.tableRowCancelSelection}" update=":ilceForm" />

						<arftags:column val="#{ilceRow.ad}" header="#{label['ilce.ad']}" width="50" />
						<arftags:column val="#{ilceRow.ilcekodu}" header="#{label['ilce.ilcekodu']}" width="33" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{ilceController}" formName="ilceForm" listPanelName="ilceListPanel" pagingOption="false" tableName="ilceTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
