<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="ilceEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['ilce.edit']}" rendered="#{ilceController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">


			<arf:textinput label="#{label['ilce.ad']}" value="#{ilceController.ilce.ad}" compId="ad" requiredCond="false" id="adInputText" maxLength="100" />
			<arf:textinput label="#{label['ilce.ilcekodu']}" value="#{ilceController.ilce.ilcekodu}" compId="ilcekodu" requiredCond="false" id="ilcekoduInputText" maxLength="30" />
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{ilceController}" formName="ilceForm" listPanelName="ilceListPanel" editPanelName="ilceEditPanel" modelName="Ilce" />
	</p:fieldset>

</ui:composition>