<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="islemRoleEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['islemRole.edit']}" rendered="#{islemRoleController.editPanelRendered}">
		<h:panelGrid columns="9" columnClasses="onBirYuzde, onBirYuzde, onBirYuzde, onBirYuzde, onBirYuzde, onBirYuzde, onBirYuzde, onBirYuzde, onBirYuzde" styleClass="arfEditGrid">

			<h:outputText value="#{label['islemRole.islemRef']}" styleClass="requiredOutputText" />
			<h:selectOneMenu id="islemRef" value="#{islemRoleController.islemRole.islemRef}" title="#{label['islemRole.islemRef']}" required="true" styleClass="requiredInputText">
				<f:selectItems value="#{islemController.selectItemList}" />
				<f:converter converterId="islemConverter" />
			</h:selectOneMenu>
			<p:message for="islemRef" styleClass="errorMessage" />

			<h:outputText value="#{label['islemRole.updatePermission']}" styleClass="requiredOutputText" />
			<h:selectOneMenu id="updatePermission" value="#{islemRoleController.islemRole.updatePermission}" title="#{label['islemRole.updatePermission']}" required="true"
				styleClass="requiredInputText">
				<f:selectItems value="#{enumeratedController.evetHayirItems}" />
			</h:selectOneMenu>
			<p:message for="updatePermission" styleClass="errorMessage" />

			<h:outputText value="#{label['islemRole.deletePermission']}" styleClass="requiredOutputText" />
			<h:selectOneMenu id="deletePermission" value="#{islemRoleController.islemRole.deletePermission}" title="#{label['islemRole.deletePermission']}" required="true"
				styleClass="requiredInputText">
				<f:selectItems value="#{enumeratedController.evetHayirItems}" />
			</h:selectOneMenu>
			<p:message for="deletePermission" styleClass="errorMessage" />

			<h:outputText value="#{label['islemRole.listPermission']}" styleClass="requiredOutputText" />
			<h:selectOneMenu id="listPermission" value="#{islemRoleController.islemRole.listPermission}" title="#{label['islemRole.listPermission']}" required="true"
				styleClass="requiredInputText">
				<f:selectItems value="#{enumeratedController.evetHayirItems}" />
			</h:selectOneMenu>
			<p:message for="listPermission" styleClass="errorMessage" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{islemRoleController}" formName="islemRoleForm" listPanelName="islemRoleListPanel" editPanelName="islemRoleEditPanel"
			modelName="IslemRole" />
	</p:fieldset>

</ui:composition>