<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="islemkullaniciEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['islemkullanici.edit']}"
		rendered="#{islemkullaniciController.editPanelRendered}">
		<h:panelGrid columns="9" columnClasses="onBirYuzde, onBirYuzde, onBirYuzde, onBirYuzde, onBirYuzde, onBirYuzde, onBirYuzde, onBirYuzde, onBirYuzde" styleClass="arfEditGrid">


			<h:outputText value="#{label['islemkullanici.kullaniciRoleRef']}" styleClass="requiredOutputText" />
			<h:selectOneMenu id="kullaniciRoleRef" value="#{islemkullaniciController.islemkullanici.kullaniciRoleRef}" title="#{label['islemkullanici.kullaniciRoleRef']}"
				required="true" styleClass="requiredInputText">
				<f:selectItems value="#{islemkullaniciController.selectItemListFor('KullaniciRole')}" />
				<f:converter converterId="kullaniciRoleConverter" />
			</h:selectOneMenu>
			<p:message for="kullaniciRoleRef" styleClass="errorMessage" />

			<h:outputText value="#{label['islemkullanici.updatePermission']}" styleClass="requiredOutputText" />
			<h:selectOneMenu id="updatePermission" value="#{islemkullaniciController.islemkullanici.updatePermission}" title="#{label['islemkullanici.updatePermission']}"
				required="true" styleClass="requiredInputText">
				<f:selectItems value="#{enumeratedController.evetHayirItems}" />
			</h:selectOneMenu>
			<p:message for="updatePermission" styleClass="errorMessage" />

			<h:outputText value="#{label['islemkullanici.deletePermission']}" styleClass="requiredOutputText" />
			<h:selectOneMenu id="deletePermission" value="#{islemkullaniciController.islemkullanici.deletePermission}" title="#{label['islemkullanici.deletePermission']}"
				required="true" styleClass="requiredInputText">
				<f:selectItems value="#{enumeratedController.evetHayirItems}" />
			</h:selectOneMenu>
			<p:message for="deletePermission" styleClass="errorMessage" />

			<h:outputText value="#{label['islemkullanici.listPermission']}" styleClass="requiredOutputText" />
			<h:selectOneMenu id="listPermission" value="#{islemkullaniciController.islemkullanici.listPermission}" title="#{label['islemkullanici.listPermission']}" required="true"
				styleClass="requiredInputText">
				<f:selectItems value="#{enumeratedController.evetHayirItems}" />
			</h:selectOneMenu>
			<p:message for="listPermission" styleClass="errorMessage" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{islemkullaniciController}" formName="islemkullaniciForm" listPanelName="islemkullaniciListPanel"
			editPanelName="islemkullaniciEditPanel" modelName="IslemKullanici" />
	</p:fieldset>

</ui:composition>