<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="islemKullaniciForm" prependId="false">

				<arf:masterPanel controllerClassName="#{islemKullaniciController}" masterLabel="#{label['kullaniciRole.list']}" modelName="islemKullanici" />

				<ui:include src="/_page/form/system/systemDetay/islemKullanici_Edit.xhtml" />

				<p:fieldset id="islemKullaniciFilterPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['islemKullanici.query']}"
					rendered="#{!islemKullaniciController.editPanelRendered}">
					<h:panelGrid columns="6" columnClasses="onAltiYuzde, onAltiYuzde, onAltiYuzde, onAltiYuzde, onAltiYuzde, onAltiYuzde" styleClass="arfEditGrid">

						<arf:textinputForFilter compId="islemName" value="#{islemKullaniciController.islemKullaniciFilter.name}" label="#{label['islem.name']}" required="false"
							id="islemNameInput" />
					</h:panelGrid>
					<arf:filterBottomWithBlockUI controllerClassName="#{islemKullaniciController}" formName="islemKullaniciForm" listPanelName="islemKullaniciListPanel"
						filterPanelName="islemKullaniciFilterPanel" modelName="IslemKullanici" />
				</p:fieldset>

				<p:fieldset legend="#{label['islemKullanici.list']}" styleClass="pageFieldSet" id="islemKullaniciListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center">
						<p:commandButton id="enableSelectedForIslemKullanici" action="#{islemKullaniciController.enableDisableSelected('enable')}" style="width:170px"
							rendered="#{islemKullaniciController.updateRecordRendered}" disabled="#{islemKullaniciController.islemKullanici.RID == null}" process="@this"
							update=":islemKullaniciForm :globalMessages" icon="ui-icon-check" value="#{label['islemKullanici.enableSelected']}" styleClass="commandButton">
						</p:commandButton>
						<p:commandButton id="disableSelectedForIslemKullanici" action="#{islemKullaniciController.enableDisableSelected('disable')}" style="width:190px"
							rendered="#{islemKullaniciController.updateRecordRendered}" process="@this" update=":islemKullaniciForm :globalMessages"
							disabled="#{islemKullaniciController.islemKullanici.RID == null}" icon="ui-icon-closethick" value="#{label['islemKullanici.disableSelected']}"
							styleClass="commandButton">
						</p:commandButton>

						<p:commandButton id="changeListPermission" action="#{islemKullaniciController.changePermission('listPermission')}" style="width:200px; margin-left:50px"
							rendered="#{islemKullaniciController.updateRecordRendered}" disabled="#{islemKullaniciController.islemKullanici.RID == null}" process="@this"
							update=":islemKullaniciForm :globalMessages" icon="recycle" value="#{label['islemRole.changeListPermission']}" styleClass="commandButton">
						</p:commandButton>
						<p:commandButton id="changeUpdatePermission" action="#{islemKullaniciController.changePermission('updatePermission')}" style="width:180px"
							rendered="#{islemKullaniciController.updateRecordRendered}" disabled="#{islemKullaniciController.islemKullanici.RID == null}" process="@this"
							update=":islemKullaniciForm :globalMessages" icon="recycle" value="#{label['islemRole.changeUpdatePermission']}" styleClass="commandButton">
						</p:commandButton>
						<p:commandButton id="changeDeletePermission" action="#{islemKullaniciController.changePermission('deletePermission')}" style="width:180px"
							rendered="#{islemKullaniciController.updateRecordRendered}" disabled="#{islemKullaniciController.islemKullanici.RID == null}" process="@this"
							update=":islemKullaniciForm :globalMessages" icon="recycle" value="#{label['islemRole.changeDeletePermission']}" styleClass="commandButton">
						</p:commandButton>
					</h:panelGrid>
					<p:blockUI block="islemKullaniciTable" trigger="islemKullaniciTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="islemKullaniciTable" value="#{islemKullaniciController.list}" var="islemKullaniciRow" binding="#{islemKullaniciController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{islemKullaniciController.entity}" filteredValue="#{islemKullaniciController.filteredList}"
						widgetVar="filterTable" rowKey="#{islemKullaniciRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{islemKullaniciController.tableRowSelect}" update=":islemKullaniciForm" />
						<p:ajax event="rowUnselect" listener="#{islemKullaniciController.tableRowCancelSelection}" update=":islemKullaniciForm" />

						<arftags:column val="#{islemKullaniciRow.islemRef.UIString}" header="#{label['islemKullanici.islemRef']}" widthPer="20" />
						<arftags:column val="#{islemKullaniciRow.listPermission.label}" header="#{label['islemKullanici.listPermission']}" widthPer="20" />
						<arftags:column val="#{islemKullaniciRow.updatePermission.label}" header="#{label['islemKullanici.updatePermission']}" widthPer="20" />
						<arftags:column val="#{islemKullaniciRow.deletePermission.label}" header="#{label['islemKullanici.deletePermission']}" widthPer="20" />
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{islemKullaniciController}" pagingOption="false" formName="islemKullaniciForm" listPanelName="islemKullaniciListPanel"
						tableName="islemKullaniciTable" addExport="true" addOption="false" updateOption="false" deleteOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
