<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="islemRoleForm" prependId="false">

				<arf:masterPanel controllerClassName="#{islemRoleController}" masterLabel="#{label['role.list']}" modelName="islemRole" />

				<ui:include src="/_page/form/system//systemDetay/islemRole_Edit.xhtml" />

				<p:fieldset id="islemRoleFilterPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['islemRole.query']}" rendered="#{!islemRoleController.editPanelRendered}">
					<h:panelGrid columns="6" columnClasses="onAltiYuzde, onAltiYuzde, onAltiYuzde, onAltiYuzde, onAltiYuzde, onAltiYuzde" styleClass="arfEditGrid">

						<arf:textinputForFilter compId="islemName" value="#{islemRoleController.islemRoleFilter.name}" label="#{label['islem.name']}" required="false" id="islemNameInput" />
					</h:panelGrid>
					<arf:filterBottomWithBlockUI controllerClassName="#{islemRoleController}" formName="islemRoleForm" listPanelName="islemRoleListPanel"
						filterPanelName="islemRoleFilterPanel" modelName="IslemRole" />
				</p:fieldset>

				<p:fieldset legend="#{label['islemRole.list']}" styleClass="pageFieldSet" id="islemRoleListPanel">

					<h:panelGrid columns="10" border="0" style="text-align:center">
						<p:commandButton id="enableSelectedForIslemKullanici" action="#{islemRoleController.enableDisableSelected('enable')}" style="width:170px"
							rendered="#{islemRoleController.updateRecordRendered and false}" disabled="#{islemRoleController.islemRole.RID == null}" process="islemRoleListPanel"
							update=":islemRoleForm :globalMessages" icon="ui-icon-check" value="#{label['islemRole.enableSelected']}" styleClass="commandButton" >
						</p:commandButton>
						<p:commandButton id="disableSelectedForIslemKullanici" action="#{islemRoleController.enableDisableSelected('disable')}" style="width:190px"
							rendered="#{islemRoleController.updateRecordRendered and false}" process="islemRoleListPanel" update=":islemRoleForm :globalMessages"
							disabled="#{islemRoleController.islemRole.RID == null}" icon="ui-icon-closethick" value="#{label['islemRole.disableSelected']}" 
							styleClass="commandButton" >
						</p:commandButton>
						<p:commandButton id="enableSelectedForAll" action="#{islemRoleController.enableDisableAll('enable')}" style="width:170px"
							rendered="#{islemRoleController.updateRecordRendered}" disabled="#{islemRoleController.list.size()==0}" process="islemRoleListPanel"
							update=":islemRoleForm :globalMessages" icon="ui-icon-check" value="#{label['islemRole.enableSelectedAll']}" styleClass="commandButton">
						</p:commandButton>
						<p:commandButton id="disableSelectedForAll" action="#{islemRoleController.enableDisableAll('disable')}" style="width:190px"
							rendered="#{islemRoleController.updateRecordRendered}" process="islemRoleListPanel" update=":islemRoleForm :globalMessages"
							disabled="#{islemRoleController.list.size()==0}" icon="ui-icon-closethick" value="#{label['islemRole.disableSelectedAll']}" styleClass="commandButton">
						</p:commandButton>

						<p:commandButton id="changeListPermission" action="#{islemRoleController.changePermission('listPermission')}" style="width:200px; margin-left:50px"
							rendered="#{islemRoleController.updateRecordRendered}" disabled="#{islemRoleController.islemRole.RID == null}" process="islemRoleListPanel"
							update=":islemRoleForm :globalMessages" icon="recycle" value="#{label['islemRole.changeListPermission']}" styleClass="commandButton">
						</p:commandButton>
						<p:commandButton id="changeUpdatePermission" action="#{islemRoleController.changePermission('updatePermission')}" style="width:180px"
							rendered="#{islemRoleController.updateRecordRendered}" disabled="#{islemRoleController.islemRole.RID == null}" process="islemRoleListPanel"
							update=":islemRoleForm :globalMessages" icon="recycle" value="#{label['islemRole.changeUpdatePermission']}" styleClass="commandButton">
						</p:commandButton>
						<p:commandButton id="changeDeletePermission" action="#{islemRoleController.changePermission('deletePermission')}" style="width:180px"
							rendered="#{islemRoleController.updateRecordRendered}" disabled="#{islemRoleController.islemRole.RID == null}" process="islemRoleListPanel"
							update=":islemRoleForm :globalMessages" icon="recycle" value="#{label['islemRole.changeDeletePermission']}" styleClass="commandButton">
						</p:commandButton>

						<p:spacer />
						<h:outputText value="#{label['islemRole.kullaniciGuncelle']} : "></h:outputText>
						<h:selectBooleanCheckbox id="kullaniciYetkileriniGuncelle" value="#{islemRoleController.kullaniciYetkileriniGuncelle}" styleClass="optionalInputText"></h:selectBooleanCheckbox>

					</h:panelGrid>

					<p:blockUI block="islemRoleTable" trigger="islemRoleTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="islemRoleTable" value="#{islemRoleController.list}" var="islemRoleRow" binding="#{islemRoleController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{islemRoleController.entity}" filteredValue="#{islemRoleController.filteredList}" widgetVar="filterTable"
						rowKey="#{islemRoleRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{islemRoleController.tableRowSelect}" update=":islemRoleForm" />
						<p:ajax event="rowUnselect" listener="#{islemRoleController.tableRowCancelSelection}" update=":islemRoleForm" />

						<arftags:column val="#{islemRoleRow.islemRef.UIString}" header="#{label['islemRole.islemRef']}" width="20%" />
						<arftags:column val="#{islemRoleRow.listPermission.label}" header="#{label['islemRole.listPermission']}" width="20%" />
						<arftags:column val="#{islemRoleRow.updatePermission.label}" header="#{label['islemRole.updatePermission']}" width="20%" />
						<arftags:column val="#{islemRoleRow.deletePermission.label}" header="#{label['islemRole.deletePermission']}" width="20%" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{islemRoleController}" pagingOption="false" formName="islemRoleForm" listPanelName="islemRoleListPanel"
						tableName="islemRoleTable" addExport="true" addOption="false" updateOption="false" deleteOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
