<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="koyForm" prependId="false">

				<arf:masterPanel controllerClassName="#{koyController}" masterLabel="#{label['ilce.list']}" modelName="koy" />

				<ui:include src="/_page/form/system/systemDetay/koy_Edit.xhtml" />

				<p:fieldset legend="#{label['koy.list']}" styleClass="pageFieldSet" id="koyListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="koyTable" trigger="koyTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="koyTable" value="#{koyController.list}" var="koyRow" binding="#{koyController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{koyController.entity}" filteredValue="#{koyController.filteredList}" widgetVar="filterTable" rowKey="#{koyRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{koyController.tableRowSelect}" update=":koyForm" />
						<p:ajax event="rowUnselect" listener="#{koyController.tableRowCancelSelection}" update=":koyForm" />

						<arftags:column val="#{koyRow.turu}" header="#{label['koy.turu']}" width="33" />
						<arftags:column val="#{koyRow.ad}" header="#{label['koy.ad']}" width="33" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{koyController}" formName="koyForm" listPanelName="koyListPanel" pagingOption="false" tableName="koyTable" addExport="true"
						addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
