<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="koyEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['koy.edit']}" rendered="#{koyController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">


			<arf:textinput label="#{label['koy.turu']}" value="#{koyController.koy.turu}" compId="turu" requiredCond="false" id="turuInputText" />

			<arf:textinput label="#{label['koy.ad']}" value="#{koyController.koy.ad}" compId="ad" requiredCond="false" id="adInputText" maxLength="200" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{koyController}" formName="koyForm" listPanelName="koyListPanel" editPanelName="koyEditPanel" modelName="Koy" />
	</p:fieldset>

</ui:composition>