<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="kullaniciRoleForm" prependId="false">

				<arf:masterPanel controllerClassName="#{kullaniciRoleController}" masterLabel="#{label['kullanici.list']}" modelName="kullaniciRole" />

				<ui:include src="/_page/form/system/systemDetay/kullaniciRole_Edit.xhtml" />

				<p:fieldset legend="#{label['kullaniciRole.list']}" styleClass="pageFieldSet" id="kullaniciRoleListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center">
						<p:commandButton id="islemKullaniciCommand" process="@this" action="#{kullaniciRoleController.islemKullanici}" icon="child" style="width:130px"
							rendered="#{kullaniciRoleController.listRenderedFor('IslemKullanici')}" disabled="#{kullaniciRoleController.kullaniciRole.RID == null}"
							value="#{label['islemKullanici.list']}" styleClass="arfCommandButton" />
					</h:panelGrid>
					<p:blockUI block="kullaniciRoleTable" trigger="kullaniciRoleTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kullaniciRoleTable" value="#{kullaniciRoleController.list}" var="kullaniciRoleRow" binding="#{kullaniciRoleController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{kullaniciRoleController.entity}" filteredValue="#{kullaniciRoleController.filteredList}"
						widgetVar="filterTable" rowKey="#{kullaniciRoleRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{kullaniciRoleController.tableRowSelect}" update=":kullaniciRoleForm" />
						<p:ajax event="rowUnselect" listener="#{kullaniciRoleController.tableRowCancelSelection}" update=":kullaniciRoleForm" />

						<arftags:column val="#{kullaniciRoleRow.roleRef.UIString}" header="#{label['kullaniciRole.roleRef']}" width="33%" />
						<arftags:column val="#{kullaniciRoleRow.active.label}" header="#{label['kullaniciRole.active']}" width="33%" />

					</p:dataTable>
					<arf:pagingWithBlockUI controllerClassName="#{kullaniciRoleController}" formName="kullaniciRoleForm" pagingOption="false" listPanelName="kullaniciRoleListPanel"
						tableName="kullaniciRoleTable" addExport="true" addOption="true" updateOption="false" deleteOption="true" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
