<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="kullaniciRoleEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kullaniciRole.edit']}"
		rendered="#{kullaniciRoleController.editPanelRendered}">
		<h:panelGrid columns="9" columnClasses="onBirYuzde, onBirYuzde, onBirYuzde, onBirYuzde, onBirYuzde, onBirYuzde, onBirYuzde, onBirYuzde, onBirYuzde" styleClass="arfEditGrid">

			<h:outputText value="#{label['kullaniciRole.roleRef']}" styleClass="requiredOutputText" />
			<h:selectOneMenu id="roleRef" value="#{kullaniciRoleController.kullaniciRole.roleRef}" title="#{label['kullaniciRole.roleRef']}" required="true"
				styleClass="requiredInputText">
				<f:selectItems value="#{kullaniciRoleController.selectItemListForRole}" />
				<f:converter converterId="roleConverter" />
			</h:selectOneMenu>
			<p:message for="roleRef" styleClass="errorMessage" />

			<h:outputText value="#{label['kullaniciRole.active']}" styleClass="requiredOutputText" />
			<h:selectOneMenu id="active" value="#{kullaniciRoleController.kullaniciRole.active}" title="#{label['kullaniciRole.active']}" required="true" styleClass="requiredInputText">
				<f:selectItems value="#{enumeratedController.evetHayirItems}" />
			</h:selectOneMenu>
			<p:message for="active" styleClass="errorMessage" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{kullaniciRoleController}" formName="kullaniciRoleForm" listPanelName="kullaniciRoleListPanel"
			editPanelName="kullaniciRoleEditPanel" modelName="KullaniciRole" />
	</p:fieldset>

</ui:composition>