<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="personelBirimGorevEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['personelBirimGorev.edit']}"
		rendered="#{personelBirimGorevController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">


			<arf:dropdown label="#{label['personelBirimGorev.gorevRef']}" listSource="#{personelBirimGorevController.selectItemListFor('Gorev')}" requiredCond="true" compId="gorevRef"
				value="#{personelBirimGorevController.personelBirimGorev.gorevRef}" converterId="#{'gorevConverter'}" id="gorevRefDropDown" />

			<arf:dropdown label="#{label['personelBirimGorev.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="true" compId="birimRef"
				value="#{personelBirimGorevController.personelBirimGorev.birimRef}" converterId="#{'birimConverter'}" id="birimRefDropDown" />

			<arf:calendar label="#{label['personelBirimGorev.baslangictarih']}" value="#{personelBirimGorevController.personelBirimGorev.baslangictarih}" id="baslangictarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="baslangictarih" />

			<arf:calendar label="#{label['personelBirimGorev.bitistarih']}" value="#{personelBirimGorevController.personelBirimGorev.bitistarih}" id="bitistarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="false" compId="bitistarih" />

			<arf:textinputarea label="#{label['personelBirimGorev.aciklama']}" value="#{personelBirimGorevController.personelBirimGorev.aciklama}" compId="aciklama"
				requiredCond="false" id="aciklamaInputText" maxLength="2500" />

			<arf:textoutput label="#{label['personelBirimGorev.durum']}" value="#{personelBirimGorevController.personelBirimGorev.durum.label}" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{personelBirimGorevController}" formName="personelBirimGorevForm" listPanelName="personelBirimGorevListPanel"
			editPanelName="personelBirimGorevEditPanel" modelName="PersonelBirimGorev" />
	</p:fieldset>

</ui:composition>