<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="personelBirimGorevForm" prependId="false">

				<arf:masterPanel controllerClassName="#{personelBirimGorevController}" masterLabel="#{label['personel.list']}" modelName="personelBirimGorev" />

				<ui:include src="/_page/form/system/systemDetay/personelBirimGorev_Edit.xhtml" />

				<p:fieldset legend="#{label['personelBirimGorev.list']}" styleClass="pageFieldSet" id="personelBirimGorevListPanel">

					<p:blockUI block="personelBirimGorevTable" trigger="personelBirimGorevTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="personelBirimGorevTable" value="#{personelBirimGorevController.list}" var="personelBirimGorevRow"
						binding="#{personelBirimGorevController.table}" rowIndexVar="rowIndex" selectionMode="single" selection="#{personelBirimGorevController.entity}"
						filteredValue="#{personelBirimGorevController.filteredList}" widgetVar="filterTable" rowKey="#{personelBirimGorevRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{personelBirimGorevController.tableRowSelect}" update=":personelBirimGorevForm" />
						<p:ajax event="rowUnselect" listener="#{personelBirimGorevController.tableRowCancelSelection}" update=":personelBirimGorevForm" />

						<arftags:column val="#{personelBirimGorevRow.gorevRef.UIString}" header="#{label['personelBirimGorev.gorevRef']}" width="14" />
						<arftags:column val="#{personelBirimGorevRow.birimRef.UIString}" header="#{label['personelBirimGorev.birimRef']}" width="14" />
						<arftags:dateColumn val="#{personelBirimGorevRow.baslangictarih}" header="#{label['personelBirimGorev.baslangictarih']}" width="14" />
						<arftags:dateColumn val="#{personelBirimGorevRow.bitistarih}" header="#{label['personelBirimGorev.bitistarih']}" width="14" />
						<arftags:column val="#{personelBirimGorevRow.aciklama}" header="#{label['personelBirimGorev.aciklama']}" width="14" />
						<arftags:column val="#{personelBirimGorevRow.durum.label}" header="#{label['personelBirimGorev.durum']}" width="14" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{personelBirimGorevController}" formName="personelBirimGorevForm" listPanelName="personelBirimGorevListPanel"
						pagingOption="true" tableName="personelBirimGorevTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
