<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="sehirEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['sehir.edit']}" rendered="#{sehirController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:textinput label="#{label['sehir.ad']}" value="#{sehirController.sehir.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="100" />

			<arf:dropdown label="#{label['sehir.plakaKodu']}" value="#{sehirController.sehir.ilKodu}" compId="plakaKodu" requiredCond="true" id="plakaKoduDropDown"
				listSource="#{sehirController.plakaKoduList}" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{sehirController}" formName="sehirForm" listPanelName="sehirListPanel" editPanelName="sehirEditPanel" modelName="Sehir" />
	</p:fieldset>

</ui:composition>