<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="sehirForm" prependId="false">
				<ui:include src="/_page/form/system/systemDetay/sehir_Edit.xhtml" />

				<p:fieldset legend="#{label['sehir.list']}" styleClass="pageFieldSet" id="sehirListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
						<p:commandButton id="ilceCommand" process="@this" icon="child" action="#{sehirController.ilce}" rendered="#{sehirController.listRenderedFor('Ilce')}"
							disabled="#{sehirController.sehir.RID == null}" value="#{label['command.ilce']}" styleClass="arfCommandButton" />

						<p:commandButton id="updateCommand" process="@this" update="@form" icon="webService" action="#{sehirController.kpsGuncelleme}"
							onclick="if (confirm('Tüm il ve ilçe verisi güncellenecek! Bu işlem uzun sürebilir! Emin misiniz?')) {return true} else {return false}"
							rendered="#{sehirController.updateRecordRenderedFor('Ilce') }" value="KPS'den Güncelle" styleClass="arfCommandButton" />

					</h:panelGrid>
					<p:blockUI block="sehirTable" trigger="sehirTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="sehirTable" value="#{sehirController.list}" var="sehirRow" binding="#{sehirController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{sehirController.entity}" filteredValue="#{sehirController.filteredList}" widgetVar="filterTable" rowKey="#{sehirRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{sehirController.tableRowSelect}" update=":sehirForm" />
						<p:ajax event="rowUnselect" listener="#{sehirController.tableRowCancelSelection}" update=":sehirForm" />

						<arftags:column val="#{sehirRow.ilKodu}" header="#{label['sehir.plakaKodu']}" width="20" />
						<arftags:column val="#{sehirRow.ad}" header="#{label['sehir.ad']}" width="50" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{sehirController}" formName="sehirForm" listPanelName="sehirListPanel" pagingOption="false" tableName="sehirTable"
						addExport="true" addOption="false" updateOption="false" deleteOption="false" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
