<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="degerlendiriciForm" prependId="false">
				<ui:include src="/_page/form/egitim/degerlendirici_Edit.xhtml" />

				<p:fieldset legend="#{label['degerlendirici.list']}" styleClass="pageFieldSet" id="degerlendiriciListPanel">
					
					<p:blockUI block="degerlendiriciTable" trigger="degerlendiriciTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="degerlendiriciTable" value="#{degerlendiriciController.list}" var="degerlendiriciRow" binding="#{degerlendiriciController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{degerlendiriciController.entity}" filteredValue="#{degerlendiriciController.filteredList}" widgetVar="filterTable" rowKey="#{degerlendiriciRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{degerlendiriciController.tableRowSelect}" update=":degerlendiriciForm" />
						<p:ajax event="rowUnselect" listener="#{degerlendiriciController.tableRowCancelSelection}" update=":degerlendiriciForm" />

						<arftags:column val="#{degerlendiriciRow.kisiRef.UIString}#{degerlendiriciRow.uyeRef.UIString}" header="#{label['degerlendirici.degerlendirici']}" width="25" />
						<arftags:column val="#{degerlendiriciRow.birimRef.UIString}" header="#{label['degerlendirici.birimRef']}" width="25" />
						<arftags:column val="#{degerlendiriciRow.aciklama}" header="#{label['degerlendirici.aciklama']}" width="25" />
						<arftags:column val="#{degerlendiriciRow.durum.label}" header="#{label['degerlendirici.durum']}" width="25" />
						
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{degerlendiriciController}" formName="degerlendiriciForm" listPanelName="degerlendiriciListPanel" pagingOption="true" tableName="degerlendiriciTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
