<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="degerlendiriciEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['degerlendirici.edit']}" rendered="#{degerlendiriciController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

		<arf:dropdown label="#{label['degerlendirici.birimRef']}" listSource="#{degerlendiriciController.selectItemListFor('Birim')}" requiredCond="true" compId="birimRef"
			value="#{degerlendiriciController.degerlendirici.birimRef}" converterId="#{'birimConverter'}" id="birimRefDropDown" />	
			
		<arf:booleanbox id="kisiuyeCheckBox" compId="kisiuye" styleClass="optionalInputText" value="#{degerlendiriciController.kisiuye}"
				label="#{label['egitim.kisiuye']}" requiredCond="false" checked="true" ajaxEventListener="#{degerlendiriciController.handleKisiChange}" 
				changeEventUpdateComp="#{':degerlendiriciForm:kisiPanel :degerlendiriciForm:uyePanel'}"/>
		
		<p:outputPanel id="kisiPanel" rendered="true">
			<arf:suggestbox label="#{label['degerlendirici.kisiRef']}" methodName="#{degerlendiriciController.completeMethod}" requiredCond="false" compId="kisiRef"
				value="#{degerlendiriciController.degerlendirici.kisiRef}" id="kisiRefSuggestBox" converterId="#{'kisiConverter'}" modelName="#{'Kisi'}" var="kisiRec" itemValue="#{kisiRec}"
				itemLabel="#{kisiRec}" rendered="#{degerlendiriciController.kisimi}"/>
		</p:outputPanel>
		
		<p:outputPanel id="uyePanel" rendered="true">
			<arf:suggestbox label="#{label['degerlendirici.uyeRef']}" methodName="#{degerlendiriciController.completeMethod}" requiredCond="false" compId="degerlendiriciRef"
				value="#{degerlendiriciController.degerlendirici.uyeRef}" id="uyeRefSuggestBox" converterId="#{'uyeConverter'}" modelName="#{'Uye'}" var="uyeRec" itemValue="#{uyeRec}"
				itemLabel="#{uyeRec}" rendered="#{!degerlendiriciController.kisimi}" />
		</p:outputPanel>
			
		<arf:dropdown label="#{label['degerlendirici.durum']}" listSource="#{enumeratedController.etkinDurumItems}" requiredCond="true" compId="durum"
				value="#{degerlendiriciController.degerlendirici.durum}" id="durumDropDown" addNullOption="true" />
		
		<arf:textinputarea label="#{label['degerlendirici.aciklama']}" value="#{degerlendiriciController.degerlendirici.aciklama}" compId="degerlendirici" requiredCond="false"
				id="degerlendiriciInputText" maxLength="500" />	
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{degerlendiriciController}" formName="degerlendiriciForm" listPanelName="degerlendiriciListPanel"
			editPanelName="degerlendiriciEditPanel" modelName="degerlendirici" />
	</p:fieldset>

</ui:composition>