<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="egitimLisansEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['egitimLisans.edit']}" rendered="#{egitimLisansController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

		<arf:dropdown label="#{label['egitimLisans.bolumRef']}" listSource="#{egitimLisansController.selectItemListFor('Bolum')}" requiredCond="true" compId="bolumRef"
			value="#{egitimLisansController.egitimLisans.bolumRef}" converterId="#{'bolumConverter'}" id="bolumRefDropDown" />		

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{egitimLisansController}" formName="egitimLisansForm" listPanelName="egitimLisansListPanel"
			editPanelName="egitimLisansEditPanel" modelName="EgitimLisans" />
	</p:fieldset>

</ui:composition>