<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="egitimtanimEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['egitimtanim.edit']}" rendered="#{egitimtanimController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

			<arf:textinput label="#{label['egitimtanim.ad']}" value="#{egitimtanimController.egitimtanim.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="200" />
			
			<arf:textinput label="#{label['egitimtanim.egitimtanimkodu']}" value="#{egitimtanimController.egitimtanim.egitimtanimkodu}" compId="ad" requiredCond="true" id="egitimkoduInputText" maxLength="200" />
			
			<arf:dropdown label="#{label['egitimtanim.sinavRef']}" listSource="#{egitimtanimController.selectItemListFor('Sinav')}" requiredCond="false" compId="sinavRef"
				value="#{egitimtanimController.egitimtanim.sinavRef}" converterId="#{'sinavConverter'}" id="sinavRefDropDown" />		
			
			<arf:dropdown label="#{label['egitimtanim.egitimturu']}" listSource="#{enumeratedController.egitimturuItems}" requiredCond="true" compId="egitimturu"
				value="#{egitimtanimController.egitimtanim.egitimturu}" id="egitimturuDropDown" addNullOption="true" />

			<arf:textinputarea label="#{label['egitimtanim.aciklama']}" value="#{egitimtanimController.egitimtanim.aciklama}" compId="aciklama" requiredCond="false"
				id="aciklamaInputText" maxLength="2500" />
			
			<arf:dropdown label="#{label['egitimtanim.durum']}" listSource="#{enumeratedController.egitimDurumItems}" requiredCond="true" compId="durum"
				value="#{egitimtanimController.egitimtanim.durum}" id="durumDropDown" addNullOption="true" />
			
			<arf:textinput label="#{label['egitimtanim.sure']}" value="#{egitimtanimController.egitimtanim.sure}" compId="sure" requiredCond="true" id="sureInputText" maxLength="200" />
			

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{egitimtanimController}" formName="egitimtanimForm" listPanelName="egitimtanimListPanel"
			editPanelName="egitimtanimEditPanel" modelName="Egitimtanim" />
	</p:fieldset>

</ui:composition>