<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="egitimUcretiForm" prependId="false">
				<arf:masterPanel controllerClassName="#{egitimUcretiController}" masterLabel="#{label['egitimUcreti.list']}" modelName="egitimUcreti" />
				<ui:include src="/_page/form/egitim/egitimUcreti_Edit.xhtml" />

				<p:fieldset legend="#{label['egitimUcreti.list']}" styleClass="pageFieldSet" id="egitimUcretiListPanel">
					
					<p:blockUI block="egitimUcretiTable" trigger="egitimUcretiTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="egitimUcretiTable" value="#{egitimUcretiController.list}" var="egitimUcretiRow" binding="#{egitimUcretiController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{egitimUcretiController.entity}" filteredValue="#{egitimUcretiController.filteredList}" widgetVar="filterTable" rowKey="#{egitimUcretiRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{egitimUcretiController.tableRowSelect}" update=":egitimUcretiForm" />
						<p:ajax event="rowUnselect" listener="#{egitimUcretiController.tableRowCancelSelection}" update=":egitimUcretiForm" />

						<arftags:column val="#{egitimUcretiRow.egitimtanimRef.UIString}" header="#{label['egitimUcreti.egitimtanimRef']}" width="25" />
						<arftags:column val="#{egitimUcretiRow.ucret}" header="#{label['egitimUcreti.ucret']}" width="25" />
						<arftags:column val="#{egitimUcretiRow.yil}" header="#{label['egitimUcreti.yil']}" width="25" />
						<arftags:column val="#{egitimUcretiRow.egitimUcretTipi.label}" header="#{label['egitimUcreti.egitimUcretTipi']}" width="25" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{egitimUcretiController}" formName="egitimUcretiForm" listPanelName="egitimUcretiListPanel" pagingOption="true" tableName="egitimUcretiTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
