<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="egitmenEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['egitmen.edit']}" rendered="#{egitmenController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

			<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde, otuzYuzde, kirkYuzde">
				<h:outputText value="#{label['egitmen.birimref']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
				<h:panelGroup>
					<p:autoComplete value="#{egitmenController.egitmen.birimRef}" completeMethod="#{egitmenController.completeMethod}"
						maxResults="50" queryDelay="500" id="birimRefAutoComplete" minQueryLength="3" required="false" forceSelection="true" var="birimRec" itemValue="#{birimRec}"
						itemLabel="#{birimRec.UIString}">
						<f:converter converterId="birimConverter" />
						<f:ajax event="itemSelect" process="@this" />
						<f:attribute name="modelNameForAutoComplete" value="#{'Birim'}" />
					</p:autoComplete>
				</h:panelGroup>
				<p:message for="birimRefAutoComplete" />
			</h:panelGrid>
			<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde, otuzYuzde, kirkYuzde">
				<h:outputText value="#{label['egitmen.kisiRef']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
				<h:panelGroup>
					<p:autoComplete value="#{egitmenController.egitmen.kisiRef}" completeMethod="#{egitmenController.completeMethod}"
						maxResults="50" queryDelay="500" id="kisiRefAutoComplete" minQueryLength="3" required="false" forceSelection="true" var="kisiRec" itemValue="#{kisiRec}"
						itemLabel="#{kisiRec.UIString}">
						<f:converter converterId="kisiConverter" />
						<f:ajax event="itemSelect" process="@this" />
						<f:attribute name="modelNameForAutoComplete" value="#{'Kisi'}" />
					</p:autoComplete>
				</h:panelGroup>
				<p:message for="kisiRefAutoComplete" />
			</h:panelGrid>
			
			<arf:dropdown label="#{label['egitmen.durum']}" listSource="#{enumeratedController.etkinDurumItems}" requiredCond="true" compId="durum"
				value="#{egitmenController.egitmen.durum}" id="durumDropDown" addNullOption="true" />
			
			<arf:textinputarea label="#{label['egitmen.aciklama']}" value="#{egitmenController.egitmen.aciklama}" compId="aciklama" requiredCond="false"
				id="aciklamaInputText" maxLength="500" />
			

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{egitmenController}" formName="egitmenForm" listPanelName="egitmenListPanel"
			editPanelName="egitmenEditPanel" modelName="Egitmen" />
	</p:fieldset>

</ui:composition>