<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="egitimGunleriEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['egitimGunleri.edit']}" rendered="#{egitimGunleriController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

			<arf:calendar label="#{label['egitimGunleri.tarih']}" value="#{egitimGunleriController.egitimGunleri.tarih}" id="tarihCalendar"
				pattern="#{configurationController.dateTimePattern}" requiredCond="true" compId="tarih" />
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{egitimGunleriController}" formName="egitimGunleriForm" listPanelName="egitimGunleriListPanel"
			editPanelName="egitimGunleriEditPanel" modelName="EgitimGunleri" />
	</p:fieldset>

</ui:composition>