<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="egitimDegerlendiriciEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['egitimDegerlendirici.edit']}" rendered="#{egitimDegerlendiriciController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

		<arf:dropdown label="#{label['egitimDegerlendirici.egitimtanimRef']}" listSource="#{egitimDegerlendiriciController.selectItemListFor('Egitimtanim')}" requiredCond="true" compId="egitimtanimRef"
			value="#{egitimDegerlendiriciController.egitimDegerlendirici.egitimtanimRef}" converterId="#{'egitimtanimConverter'}" id="egitimtanimRefDropDown" />		

		<arf:dropdown label="#{label['egitimDegerlendirici.degerlendiriciRef']}" listSource="#{egitimDegerlendiriciController.selectItemListFor('Degerlendirici')}" requiredCond="true" compId="degerlendiriciRef"
		value="#{egitimDegerlendiriciController.egitimDegerlendirici.degerlendiriciRef}" converterId="#{'degerlendiriciConverter'}" id="degerlendiriciRefDropDown" />		
		
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{egitimDegerlendiriciController}" formName="egitimDegerlendiriciForm" listPanelName="egitimDegerlendiriciListPanel"
			editPanelName="egitimDegerlendiriciEditPanel" modelName="EgitimDegerlendirici" />
	</p:fieldset>

</ui:composition>