<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="egitimDegerlendiriciForm" prependId="false">
				<arf:masterPanel controllerClassName="#{egitimDegerlendiriciController}" masterLabel="#{label['egitimDegerlendirici.list']}" modelName="egitimDegerlendirici" />
				<ui:include src="/_page/form/egitim/egitimDegerlendirici_Edit.xhtml" />

				<p:fieldset id="egitimDegerlendiriciFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{egitimDegerlendiriciController.collapsed}" legend="#{label['egitimDegerlendirici.query']}"
					rendered="#{!egitimDegerlendiriciController.editPanelRendered}">
					<p:ajax listener="#{egitimDegerlendiriciController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						
						<arf:dropdownForFilter label="#{label['egitimDegerlendirici.degerlendiriciRef']}" listSource="#{egitimDegerlendiriciController.selectItemListFor('Degerlendirici')}" requiredCond="false" compId="degerlendiriciRef"
							value="#{egitimDegerlendiriciController.egitimDegerlendiriciFilter.degerlendiriciRef}" converterId="#{'degerlendiriciConverter'}" id="degerlendiriciRefDropDownFor" />
						
					</h:panelGrid>
					<arf:filterBottomWithBlockUI controllerClassName="#{egitimDegerlendiriciController}" formName="egitimDegerlendiriciForm" listPanelName="egitimDegerlendiriciListPanel" filterPanelName="egitimDegerlendiriciFilterPanel"
						modelName="EgitimLisans" />
				</p:fieldset>
				<p:fieldset legend="#{label['egitimDegerlendirici.list']}" styleClass="pageFieldSet" id="egitimDegerlendiriciListPanel">
					
					<p:blockUI block="egitimDegerlendiriciTable" trigger="egitimDegerlendiriciTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="egitimDegerlendiriciTable" value="#{egitimDegerlendiriciController.list}" var="egitimDegerlendiriciRow" binding="#{egitimDegerlendiriciController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{egitimDegerlendiriciController.entity}" filteredValue="#{egitimDegerlendiriciController.filteredList}" widgetVar="filterTable" rowKey="#{egitimDegerlendiriciRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{egitimDegerlendiriciController.tableRowSelect}" update=":egitimDegerlendiriciForm" />
						<p:ajax event="rowUnselect" listener="#{egitimDegerlendiriciController.tableRowCancelSelection}" update=":egitimDegerlendiriciForm" />

						<arftags:column val="#{egitimDegerlendiriciRow.egitimtanimRef.UIString}" header="#{label['egitimDegerlendirici.egitimtanimRef']}" width="8" />
						<arftags:column val="#{egitimDegerlendiriciRow.degerlendiriciRef.UIString}" header="#{label['egitimDegerlendirici.degerlendiriciRef']}" width="8" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{egitimDegerlendiriciController}" formName="egitimDegerlendiriciForm" listPanelName="egitimDegerlendiriciListPanel" pagingOption="true" tableName="egitimDegerlendiriciTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
