<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="egitmenEgitimtanimForm" prependId="false">
				
				<arf:masterPanel controllerClassName="#{egitmenEgitimtanimController}" masterLabel="#{label['egitmenEgitimtanim.list']}" modelName="egitmenEgitimtanim" />
				<ui:include src="/_page/form/egitim/egitmenEgitimtanim_Edit.xhtml" />
				
				<p:fieldset id="egitmenEgitimtanimFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{egitmenEgitimtanimController.collapsed}" legend="#{label['egitmenEgitimtanim.query']}"
					rendered="#{!egitmenEgitimtanimController.editPanelRendered}">
					<p:ajax listener="#{egitmenEgitimtanimController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						
						<arf:dropdownForFilter label="#{label['egitmenEgitimtanim.egitmenRef']}" listSource="#{egitmenEgitimtanimController.selectItemListFor('Egitmen')}" requiredCond="false" compId="egitmenRef"
							value="#{egitmenEgitimtanimController.egitmenEgitimtanimFilter.egitmenRef}" converterId="#{'egitmenConverter'}" id="egitmenRefDropDownFor" />
						
					</h:panelGrid>
					<arf:filterBottomWithBlockUI controllerClassName="#{egitmenEgitimtanimController}" formName="egitmenEgitimtanimForm" listPanelName="egitmenEgitimtanimListPanel" filterPanelName="egitmenEgitimtanimFilterPanel"
						modelName="EgitmenEgitimtanim" />
				</p:fieldset>
				<p:fieldset legend="#{label['egitmenEgitimtanim.list']}" styleClass="pageFieldSet" id="egitmenEgitimtanimListPanel">
					
					<p:blockUI block="egitmenEgitimtanimTable" trigger="egitmenEgitimtanimTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="egitmenEgitimtanimTable" value="#{egitmenEgitimtanimController.list}" var="egitmenEgitimtanimRow" binding="#{egitmenEgitimtanimController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{egitmenEgitimtanimController.entity}" filteredValue="#{egitmenEgitimtanimController.filteredList}" widgetVar="filterTable" rowKey="#{egitmenEgitimtanimRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{egitmenEgitimtanimController.tableRowSelect}" update=":egitmenEgitimtanimForm" />
						<p:ajax event="rowUnselect" listener="#{egitmenEgitimtanimController.tableRowCancelSelection}" update=":egitmenEgitimtanimForm" />

						<arftags:column val="#{egitmenEgitimtanimRow.egitimtanimRef.UIString}" header="#{label['egitmenEgitimtanim.egitimtanimRef']}" width="8" />
						<arftags:column val="#{egitmenEgitimtanimRow.egitmenRef.UIString}" header="#{label['egitmenEgitimtanim.egitmenRef']}" width="8" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{egitmenEgitimtanimController}" formName="egitmenEgitimtanimForm" listPanelName="egitmenEgitimtanimListPanel" pagingOption="true" tableName="egitmenEgitimtanimTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
