<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="egitimtanimForm" prependId="false">
				<table width="98.5%" cellspacing="5" border="0" style="margin-left: 1%; border: 1px inset gray; -moz-border-radius: 5px; border-radius: 5px;">
					<tr>
					<td width="80%" style="vertical-align: top; valign: top">
						<p:panel id="egitimtanimPanel" style="padding:none">
						<p:toolbar style="width:100%; height:25px; border:none lightgray; background:none; margin-left:1.5%; width:96%">
							<p:toolbarGroup align="left" style="width:100%; padding:none">
								
								<p:commandButton process="@this" update="@form" value="#{label['egitimtanim.summary']}" icon="kimlik" action="#{egitimtanimController.egitimtanim}"
									rendered="#{egitimtanimController.listRenderedFor('Egitimtanim')}" />
								
								<p:commandButton process="@this" update="@form" value="#{label['command.egitimlisans']}" icon="kimlik" action="#{egitimtanimController.createEgitimtanimDetay('egitimlisans')}"
									rendered="#{egitimtanimController.listRenderedFor('EgitimLisans')}" />
								
								<p:commandButton process="@this" update="@form" value="#{label['command.egitmenegitimtanim']}" rendered="#{egitimtanimController.listRenderedFor('EgitmenEgitimtanim')}" icon="kimlik"
									action="#{egitimtanimController.createEgitimtanimDetay('egitmenegitimtanim')}" />
								
								<p:commandButton process="@this" update="@form" value="#{label['command.egitimDegerlendirici']}" rendered="#{egitimtanimController.listRenderedFor('EgitimDegerlendirici')}" icon="kimlik"
									action="#{egitimtanimController.createEgitimtanimDetay('egitimdegerlendirici')}" />
								
								<p:commandButton process="@this" update="@form" value="#{label['command.egitimdosya']}" rendered="#{egitimtanimController.listRenderedFor('Egitimdosya')}" icon="kimlik"
									action="#{egitimtanimController.createEgitimtanimDetay('egitimdosya')}" />
									
								<p:commandButton process="@this" value="#{label['egitimtanim.listeyeDon']}" icon="kimlik" action="#{egitimtanimController.egitimtanimListesineDon}" 
									style="margin-top: 15px" />
							</p:toolbarGroup>
						</p:toolbar>

						<p:fieldset legend="#{label['egitimtanim.summary']}" styleClass="pageFieldSet" id="egitimtanimListPanel" rendered="#{egitimtanimController.selectedTab == 'egitimtanim'}">
							<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" width="100%">
								<h:panelGrid columns="4" columnClasses="otuzUcYuzde, otuzUcYuzde,otuzUcYuzde,otuzUcYuzde" width="100%">
									<arftags:detailItem colName="egitimtanimkodu" header="#{label['egitimtanim.egitimtanimkodu']}" renderCondition="true" val="#{egitimtanimController.egitimtanimDetay.egitimtanimkodu}" />
									<arftags:detailItem colName="ad" header="#{label['egitimtanim.ad']}" renderCondition="true" val="#{egitimtanimController.egitimtanimDetay.ad}" />
									<arftags:detailItem colName="sinavRef" header="#{label['egitimtanim.sinavRef']}" renderCondition="true" val="#{egitimtanimController.egitimtanimDetay.sinavRef.UIString}" />
									<arftags:detailItem colName="egitimturu" header="#{label['egitimtanim.egitimturu']}" renderCondition="true"  val="#{egitimtanimController.egitimtanimDetay.egitimturu.label}" />
									<arftags:detailItem colName="durum" header="#{label['egitimtanim.durum']}" val="#{egitimtanimController.egitimtanimDetay.durum.label}"  renderCondition="true"/>
									<arftags:detailItem colName="sure" header="#{label['egitimtanim.sure']}" val="#{egitimtanimController.egitimtanimDetay.sure}"  renderCondition="true"/>
									<arftags:detailItem colName="aciklama" header="#{label['egitimtanim.aciklama']}" val="#{egitimtanimController.egitimtanimDetay.aciklama}"  renderCondition="true"/>
								</h:panelGrid>
							</h:panelGrid>
						</p:fieldset>

						<p:fieldset legend="#{label['common.egitimLisans']}" styleClass="pageFieldSet" id="egitimLisansListPanel"
							rendered="#{egitimtanimController.selectedTab == 'egitimlisans'}">

							<p:blockUI block="egitimLisansTable" trigger="egitimLisansTable">
								<h:outputText value="#{label['common.loading']}" />
								<br />
								<h:graphicImage library="_image" name="ajax-loader.gif" />
							</p:blockUI>
							<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" id="egitimLisansTable" value="#{egitimtanimController.egitimLisansController.list}" var="egitimLisansRow" binding="#{egitimtanimController.egitimLisansController.table}" rowIndexVar="rowIndex"
								rowKey="#{egitimLisansRow.RID}" resizableColumns="false">
								
								<arftags:column val="#{egitimLisansRow.egitimtanimRef.UIString}" header="#{label['egitimLisans.egitimtanimRef']}" width="40" />
								<arftags:column val="#{egitimLisansRow.bolumRef.UIString}" header="#{label['egitimLisans.bolumRef']}" width="40" />

								<p:column width="140" style="text-align:center" headerText="#{label['common.islem']}">
									<arf:buttonSetForDetailList controllerClassName="#{egitimtanimController}" modelName="EgitimLisans" rowItem="#{egitimLisansRow}" loggable="#{egitimtanimController.egitimLisansController.loggable}" />
								</p:column>
							</p:dataTable>
							
							<p:commandButton onsuccess="detailEditDialog.show()" value="#{label['command.insert']}" action="#{egitimtanimController.newDetail('egitimlisans')}" icon="new"
								immediate="true" process="@this" update="@this" styleClass="commandButton" ajax="true" style="width:70px; margin-left:45%; margin-bottom:30px"
								rendered="#{egitimtanimController.updateRecordRenderedFor('EgitimLisans') and egitimtanimController.egitimLisansController.list.size() == 0}" />
	
						</p:fieldset>

						<p:fieldset legend="#{label['egitmenEgitimtanim.list']}" styleClass="pageFieldSet" id="egitmenEgitimtanimListPanel" rendered="#{egitimtanimController.selectedTab == 'egitmenegitimtanim'}">
						
							<p:blockUI block="egitmenEgitimtanimTable" trigger="egitmenEgitimtanimTable">
								<h:outputText value="#{label['common.loading']}" />
								<br />
								<h:graphicImage library="_image" name="ajax-loader.gif" />
							</p:blockUI>
							
							<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="egitmenEgitimtanimTable" value="#{egitimtanimController.egitmenEgitimtanimController.list}" var="egitmenEgitimtanimRow"
								binding="#{egitimtanimController.egitmenEgitimtanimController.table}" rowIndexVar="rowIndex" rowKey="#{egitmenEgitimtanimRow.RID}" resizableColumns="false">
								
								<arftags:column val="#{egitmenEgitimtanimRow.egitimtanimRef.UIString}" header="#{label['egitmenEgitimtanim.egitimtanimRef']}" width="40" />
								<arftags:column val="#{egitmenEgitimtanimRow.egitmenRef.UIString}" header="#{label['egitmenEgitimtanim.egitmenRef']}" width="40" />
							
								<p:column width="140" style="text-align:center" headerText="#{label['common.islem']}">
									<arf:buttonSetForDetailList controllerClassName="#{egitimtanimController}" modelName="EgitmenEgitimtanim" rowItem="#{egitmenEgitimtanimRow}" loggable="#{egitimtanimController.egitmenEgitimtanimController.loggable}" />
								</p:column>
							</p:dataTable>
							<p:commandButton onsuccess="detailEditDialog.show()" value="#{label['command.insert']}" action="#{egitimtanimController.newDetail('egitmenegitimtanim')}" icon="new"
								immediate="true" process="@this" update="@this" styleClass="commandButton" ajax="true" style="width:70px; margin-left:45%; margin-bottom:30px"
								rendered="#{egitimtanimController.updateRecordRenderedFor('EgitmenEgitimtanim') and egitimtanimController.egitmenEgitimtanimController.list.size() == 0}" />
	
						</p:fieldset>
						
						<p:fieldset legend="#{label['common.egitimDegerlendirici']}" styleClass="pageFieldSet" id="egitimDegerlendiriciListPanel"
							rendered="#{egitimtanimController.selectedTab == 'egitimdegerlendirici'}">

							<p:blockUI block="egitimDegerlendiriciTable" trigger="egitimDegerlendiriciTable">
								<h:outputText value="#{label['common.loading']}" />
								<br />
								<h:graphicImage library="_image" name="ajax-loader.gif" />
							</p:blockUI>
							<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" id="egitimDegerlendiriciTable" value="#{egitimtanimController.egitimDegerlendiriciController.list}" var="egitimDegerlendiriciRow" binding="#{egitimtanimController.egitimDegerlendiriciController.table}" rowIndexVar="rowIndex"
								rowKey="#{egitimDegerlendiriciRow.RID}" resizableColumns="false">
								
								<arftags:column val="#{egitimDegerlendiriciRow.egitimtanimRef.UIString}" header="#{label['egitimDegerlendirici.egitimtanimRef']}" width="40" />
								<arftags:column val="#{egitimDegerlendiriciRow.degerlendiriciRef.UIString}" header="#{label['egitimDegerlendirici.degerlendiriciRef']}" width="40" />

								<p:column width="140" style="text-align:center" headerText="#{label['common.islem']}">
									<arf:buttonSetForDetailList controllerClassName="#{egitimtanimController}" modelName="EgitimDegerlendirici" rowItem="#{egitimDegerlendiriciRow}" loggable="#{egitimtanimController.egitimDegerlendiriciController.loggable}" />
								</p:column>
							</p:dataTable>
							<p:commandButton onsuccess="detailEditDialog.show()" value="#{label['command.insert']}" action="#{egitimtanimController.newDetail('egitimdegerlendirici')}" icon="new"
								immediate="true" process="@this" update="@this" styleClass="commandButton" ajax="true" style="width:70px; margin-left:45%; margin-bottom:30px"
								rendered="#{egitimtanimController.updateRecordRenderedFor('EgitimDegerlendirici') and egitimtanimController.egitimDegerlendiriciController.list.size() == 0}" />
							
						</p:fieldset>
								
						<p:fieldset legend="#{label['common.egitimdosya']}" styleClass="pageFieldSet" id="egitimdosyaListPanel"
							rendered="#{egitimtanimController.selectedTab == 'egitimdosya'}">

							<p:blockUI block="egitimdosyaTable" trigger="egitimdosyaTable">
								<h:outputText value="#{label['common.loading']}" />
								<br />
								<h:graphicImage library="_image" name="ajax-loader.gif" />
							</p:blockUI>
							<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" id="egitimdosyaTable" value="#{egitimtanimController.egitimdosyaController.list}" var="egitimdosyaRow" binding="#{egitimtanimController.egitimdosyaController.table}" rowIndexVar="rowIndex"
								rowKey="#{egitimdosyaRow.RID}" resizableColumns="false">
								
								<arftags:column val="#{egitimdosyaRow.ad}" header="#{label['egitimdosya.ad']}" width="20" />
								<arftags:column val="#{egitimdosyaRow.path}" header="#{label['egitimdosya.path']}" width="60" />

								<p:column width="140" style="text-align:center" headerText="#{label['common.islem']}">
									<arf:buttonSetForDetailList controllerClassName="#{egitimtanimController}" modelName="Egitimdosya" rowItem="#{egitimdosyaRow}" loggable="#{egitimtanimController.egitimdosyaController.loggable}" />
								</p:column>
							</p:dataTable>
							<p:commandButton onsuccess="detailEditDialog.show()" value="#{label['command.insert']}" action="#{egitimtanimController.newDetail('egitimdosya')}" icon="new"
								immediate="true" process="@this" update="@this" styleClass="commandButton" ajax="true" style="width:70px; margin-left:45%; margin-bottom:30px"
								rendered="#{egitimtanimController.updateRecordRenderedFor('Egitimdosya') and egitimtanimController.egitimdosyaController.list.size() == 0}" />
							
						</p:fieldset>		
							
					</p:panel></td>
					</tr>
				</table>
			</h:form>
			
			<p:dialog header="#{label['common.detailEdit']}" widgetVar="detailEditDialog" width="1000" height="#{egitimtanimController.heightOfEditDialog}"
				style="position:absolute; left:5%; top:5%" modal="true" id="dialogUpdateBox" visible="#{egitimtanimController.detailEditType != null}">

				<h:form id="detailEditForm">
					
					<p:fieldset id="egitimDegerlendiriciDialogPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['egitimDegerlendirici.edit']}"
						rendered="#{egitimtanimController.detailEditType == 'egitimdegerlendirici'}">
						
						<arf:dropdown label="#{label['egitimDegerlendirici.degerlendiriciRef']}" listSource="#{egitimtanimController.selectItemListFor('Degerlendirici')}" requiredCond="true" compId="degerlendiriciRef"
							value="#{egitimtanimController.egitimDegerlendirici.degerlendiriciRef}" converterId="#{'degerlendiriciConverter'}" id="degerlendiriciRefDropDown" />		
		
					</p:fieldset>
					
					<p:fieldset id="egitmenEgitimtanimDialogPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['egitmenEgitimtanim.edit']}"
						rendered="#{egitimtanimController.detailEditType == 'egitmenegitimtanim'}">
						
						<arf:dropdown label="#{label['egitmenEgitimtanim.egitmenRef']}" listSource="#{egitimtanimController.selectItemListFor('Egitmen')}" requiredCond="true" compId="egitmenRef"
							value="#{egitimtanimController.egitmenEgitimtanim.egitmenRef}" converterId="#{'egitmenConverter'}" id="egitmenRefDropDown" />		

					</p:fieldset>
					
					<p:fieldset id="egitimLisansDialogPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['egitmenEgitimtanim.edit']}"
						rendered="#{egitimtanimController.detailEditType == 'egitimlisans'}">
						
						<arf:dropdown label="#{label['egitimLisans.bolumRef']}" listSource="#{egitimtanimController.selectItemListFor('Bolum')}" requiredCond="true" compId="bolumRef"
							value="#{egitimtanimController.egitimLisans.bolumRef}" converterId="#{'bolumConverter'}" id="bolumRefDropDown" />		
						
					</p:fieldset>
					
					<p:fieldset id="egitimDosyaDialogPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['egitimdosya.edit']}"
						rendered="#{egitimtanimController.detailEditType == 'egitimdosya'}">
						
						<h:panelGrid columns="1" styleClass="arfEditGrid">
							<arf:textinput label="#{label['egitimdosya.ad']}" value="#{egitimtanimController.egitimdosya.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="200" />
						</h:panelGrid>
						
						<h:panelGrid columns="2" styleClass="arfEditGrid">
							<arf:fileUpload label="#{label['egitimdosya.path']}" requiredCond="true" compId="#{'egitimdosyaRef'}"
								allowTypes="/(\.|\/)(pdf|doc|docx|xls|xlsx|png|jpeg|gif|jpg)$/" updateComp="@parent :detailEditForm:filenamePanel" processComp="@parent" sizeLimit="1500000"
								controllerClassName="#{egitimtanimController}" style="width:800px" />
							<p:outputPanel id="filenamePanel" rendered="true">
								<h:outputText value="#{egitimtanimController.filename}" id="dosyaaditext" />
							</p:outputPanel>
						</h:panelGrid>
						
					</p:fieldset>

					<p align="center" style="margin-top: 20px">
						<p:hotkey bind="esc" handler="detailEditDialog.hide()" process="@this" />

						<p:commandButton id="saveDetailsButton" icon="save" value="#{label['command.post']}" styleClass="commandButton" action="#{egitimtanimController.saveDetails}"
							update="@form :globalMessages" process="@form" ajax="true"  />
						<p:commandButton id="cancelDetailsButton" icon="iptal" value="#{label['command.cancel']}" styleClass="commandButton" onclick="detailEditDialog.hide()" process="@this" />
						<br />
					</p>
				</h:form>
			</p:dialog>
		</h:body>
	</ui:define>
</ui:composition>
