<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="egitimEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['egitim.edit']}" rendered="#{egitimlistesiController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">
			<arf:dropdown label="#{label['egitimtanim.egitimturu']}" listSource="#{egitimlistesiController.selectItemListFor('Egitimtanim')}" requiredCond="true" compId="egitimturu"
				value="#{egitimlistesiController.egitim.egitimtanimRef}" id="egitimturuDropDown" converterId="#{'egitimtanimConverter'}" />
			<arf:textinput label="#{label['egitim.ad']}" value="#{egitimlistesiController.egitim.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="200" />
			<arf:calendar label="#{label['egitim.tarih']}" value="#{egitimlistesiController.egitim.tarih}" id="tarihCalendar" pattern="#{configurationController.datePattern}"
				requiredCond="true" compId="tarih" />
			<arf:dropdown label="#{label['egitim.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="true" compId="birimRef"
				value="#{egitimlistesiController.egitim.birimRef}" converterId="#{'birimConverter'}" id="birimRefDropDown" />
			<arf:dropdown label="#{label['egitim.sehirRef']}" listSource="#{sessionUser.sehirItemList}" requiredCond="true" compId="sehirRef"
				value="#{egitimlistesiController.egitim.sehirRef}" converterId="#{'sehirConverter'}" id="sehirRefDropDown" ajaxEventListener="#{egitimlistesiController.handleChange}"
				changeEventUpdateComp="#{':egitimForm:ilceRefDropDown:ilceRef'}" />
			<arf:dropdown label="#{label['egitim.ilceRef']}" listSource="#{egitimlistesiController.ilceItemList}" requiredCond="true" compId="ilceRef"
				value="#{egitimlistesiController.egitim.ilceRef}" converterId="#{'ilceConverter'}" id="ilceRefDropDown" />
			<arf:textinputarea label="#{label['egitim.yer']}" value="#{egitimlistesiController.egitim.yer}" compId="yer" requiredCond="true" id="yerInputText" maxLength="2500" />
			<arf:textinput label="#{label['egitim.kontenjan']}" value="#{egitimlistesiController.egitim.kontenjan}" compId="kontenjan" requiredCond="true" id="kontenjanInputText"
				longmin="0" longmax="400" />
			<arf:textinput label="#{label['egitim.sure']}" value="#{egitimlistesiController.egitim.sure}" compId="sure" requiredCond="true" id="sureInputTextForEgitim" />
			<arf:dropdown label="#{label['egitim.sinavli']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="sinavli"
				value="#{egitimlistesiController.egitim.sinavli}" id="sinavliDropDown" addNullOption="true" ajaxEventListener="#{egitimlistesiController.handleSinavliChange}"
				changeEventUpdateComp=":egitimForm" />
			<arf:dropdown label="#{label['egitim.durum']}" listSource="#{enumeratedController.egitimDurumItems}" requiredCond="true" compId="durum"
				value="#{egitimlistesiController.egitim.durum}" id="durumDropDown" addNullOption="true" />
			<arf:calendar label="#{label['egitim.baslangictarih']}" value="#{egitimlistesiController.egitim.baslangictarih}" id="baslangictarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="baslangictarih" />
			<arf:calendar label="#{label['egitim.bitistarih']}" value="#{egitimlistesiController.egitim.bitistarih}" id="bitistarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="bitistarih" />
			<p:outputPanel id="sinavbilgi" rendered="#{egitimlistesiController.egitim.sinavli.code == sessionController.evetCode}">
				<arf:textinput label="#{label['egitim.sinavyeri']}" value="#{egitimlistesiController.egitim.sinavyeri}" compId="sinavyeri"
					requiredCond="#{egitimlistesiController.egitim.sinavli.code == sessionController.evetCode}" id="sinavyeriInputText" maxLength="500"
					rendered="#{egitimlistesiController.egitim.sinavli.code == sessionController.evetCode}" />
				<arf:calendar label="#{label['egitim.sinavtarihi']}" value="#{egitimlistesiController.egitim.sinavtarihi}" id="sinavtarihiCalendar"
					pattern="#{configurationController.datePattern}" requiredCond="#{egitimlistesiController.egitim.sinavli.code == sessionController.evetCode}" compId="sinavtarihi"
					rendered="#{egitimlistesiController.egitim.sinavli.code == sessionController.evetCode}" />
			</p:outputPanel>
		</h:panelGrid>


		<arf:editPanelBottomWithBlockUI controllerClassName="#{egitimlistesiController}" formName="egitimForm" listPanelName="egitimListPanel" editPanelName="egitimEditPanel"
			modelName="Egitim" />
	</p:fieldset>

</ui:composition>