<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="egitimUcretiEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['egitimUcreti.edit']}" rendered="#{egitimUcretiController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

			<arf:textinput label="#{label['egitimUcreti.ucret']}" value="#{egitimUcretiController.egitimUcreti.ucret}" compId="ucret" requiredCond="true" id="ucretInputText"
					customValidatorId="#{'bigDecimalValidator'}" keyFilterMask="num" />
					
			<arf:maskinput label="#{label['egitimUcreti.yil']}" value="#{egitimUcretiController.egitimUcreti.yil}" compId="kimliknoKisi" requiredCond="true" id="yilInputTextKisi"
					minLength="4" maxLength="4"  longMin="0000" longMax="9999" mask="9999"/>
					
			<arf:dropdown label="#{label['egitimUcreti.egitimUcretTipi']}" listSource="#{enumeratedController.egitimUcretTipiItems}" requiredCond="false" compId="egitimUcretTipi"
				value="#{egitimUcretiController.egitimUcreti.egitimUcretTipi}" id="egitimUcretTipiDropDown" addNullOption="true" />
		
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{egitimUcretiController}" formName="egitimUcretiForm" listPanelName="egitimUcretiListPanel"
			editPanelName="egitimUcretiEditPanel" modelName="EgitimUcreti" />
	</p:fieldset>
	
</ui:composition>