<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="egitimtanimForm" prependId="false">
				<ui:include src="/_page/form/egitim/egitimtanim_Edit.xhtml" />

				<p:fieldset id="egitimtanimFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{egitimtanimController.collapsed}" legend="#{label['egitimtanim.query']}"
					rendered="#{!egitimtanimController.editPanelRendered}">
					<p:ajax listener="#{egitimtanimController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:textinputForFilter label="#{label['egitimtanim.ad']}" value="#{egitimtanimController.egitimtanimFilter.ad}" compId="ad" requiredCond="false"
							id="adForFilterInputText" maxLength="200" />
							
						<arf:textinputForFilter label="#{label['egitimtanim.egitimtanimkodu']}" value="#{egitimtanimController.egitimtanimFilter.egitimtanimkodu}" compId="egitimtanimkodu" requiredCond="false"
							id="egitimtnmkoduForFilterInputText" maxLength="200" />
						<arf:textinputForFilter label="#{label['egitimtanim.sure']}" value="#{egitimtanimController.egitimtanimFilter.sure}" compId="sure" requiredCond="false" id="sureForFilterInputText" />
						
						<arf:dropdownForFilter label="#{label['egitimtanim.egitimturu']}" listSource="#{enumeratedController.egitimturuItems}" requiredCond="false" compId="egitimturu"
							value="#{egitimtanimController.egitimtanimFilter.egitimturu}" id="egitimturuForFilterDropDown" addNullOption="true" />
						
						<arf:dropdownForFilter label="#{label['egitimtanim.durum']}" listSource="#{enumeratedController.egitimDurumItems}" requiredCond="false" compId="durum"
							value="#{egitimtanimController.egitimtanimFilter.durum}" id="durumForFilterDropDown" addNullOption="true" />
					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{egitimtanimController}" formName="egitimtanimForm" listPanelName="egitimtanimListPanel"
						filterPanelName="egitimtanimFilterPanel" modelName="Egitimtanim" />
				</p:fieldset>

					<p:fieldset legend="#{label['egitimtanim.list']}" styleClass="pageFieldSet" id="egitimtanimListPanel">
						<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
							<p:commandButton id="egitimUcretiCommand" process="@this" icon="child" action="#{egitimtanimController.egitimUcreti}"
								rendered="#{egitimtanimController.listRenderedFor('EgitimUcreti')}" disabled="#{egitimtanimController.egitimtanim.RID == null}" value="#{label['command.egitimUcreti']}"
								styleClass="arfCommandButton" />
						</h:panelGrid>
						<p:blockUI block="egitimtanimTable" trigger="egitimtanimTable">
							<h:outputText value="#{label['common.loading']}" />
							<br />
							<h:graphicImage library="_image" name="ajax-loader.gif" />
						</p:blockUI>
						<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="egitimtanimTable" value="#{egitimtanimController.list}" var="egitimtanimRow" binding="#{egitimtanimController.table}"
							rowIndexVar="rowIndex" selectionMode="single" selection="#{egitimtanimController.entity}" filteredValue="#{egitimtanimController.filteredList}" widgetVar="filterTable"
							rowKey="#{egitimtanimRow.RID}" resizableColumns="false">

							<p:ajax event="rowSelect" listener="#{egitimtanimController.tableRowSelect}" update=":egitimtanimForm" />
							<p:ajax event="rowUnselect" listener="#{egitimtanimController.tableRowCancelSelection}" update=":egitimtanimForm" />
							
							<p:column style="text-align:center; width:60px">
								<f:facet name="header">
									<h:outputText value="#{label['common.detay']}" />
								</f:facet>
								<h:commandLink action="#{egitimtanimController.detailPage(egitimtanimRow.RID)}">
									<h:graphicImage library="_image" name="detail.png" />
								</h:commandLink>
							</p:column>
							<arftags:column val="#{egitimtanimRow.egitimtanimkodu}" header="#{label['egitimtanim.egitimtanimkodu']}" width="20" />
							<arftags:column val="#{egitimtanimRow.ad}" header="#{label['egitimtanim.ad']}" width="20" />
							<arftags:column val="#{egitimtanimRow.sinavRef.UIString}" header="#{label['egitimtanim.sinavRef']}" width="20" />
							<arftags:column val="#{egitimtanimRow.egitimturu.label}" header="#{label['egitimtanim.egitimturu']}" width="20" />
							<arftags:column val="#{egitimtanimRow.aciklama}" header="#{label['egitimtanim.aciklama']}" width="20" />
							<arftags:column val="#{egitimtanimRow.durum.label}" header="#{label['egitimtanim.durum']}" width="8" />
							<arftags:column val="#{egitimtanimRow.sure}" header="#{label['egitimtanim.sure']}" width="8" />
							
						</p:dataTable>

						<arf:pagingWithBlockUI controllerClassName="#{egitimtanimController}" formName="egitimtanimForm" listPanelName="egitimtanimListPanel" pagingOption="true"
							tableName="egitimtanimTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
					</p:fieldset>
			
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
