<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="egitimForm" prependId="false">

				<ui:include src="/_page/form/egitim/egitimlistesi_Edit.xhtml" />

				<p:fieldset id="egitimFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{egitimlistesiController.collapsed}" legend="#{label['egitim.query']}"
					rendered="#{!egitimlistesiController.editPanelRendered}">
					<p:ajax listener="#{egitimlistesiController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:textinputForFilter label="#{label['egitim.ad']}" value="#{egitimlistesiController.egitimFilter.ad}" compId="ad" requiredCond="false" id="adForFilterInputText"
							maxLength="200" />

						<arf:calendarForFilter label="#{label['egitim.tarih']}" value="#{egitimlistesiController.egitimFilter.tarih}" id="tarihForFilterCalendar"
							pattern="#{configurationController.datePattern}" requiredCond="false" compId="tarih" />

						<arf:dropdownForFilter label="#{label['egitim.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="false" compId="birimRef"
							value="#{egitimlistesiController.egitimFilter.birimRef}" converterId="#{'birimConverter'}" id="birimRefForFilterDropDown" />

						<arf:dropdownForFilter label="#{label['egitim.sehirRef']}" listSource="#{sessionUser.sehirItemList}" requiredCond="false" compId="sehirRef"
							value="#{egitimlistesiController.egitimFilter.sehirRef}" converterId="#{'sehirConverter'}" id="sehirRefDropDownForFilter"
							ajaxEventListener="#{egitimlistesiController.handleChange}" changeEventUpdateComp="#{':egitimForm:ilceRefForFilterDropDown:ilceRefForFilter'}" />

						<arf:dropdownForFilter label="#{label['egitim.ilceRef']}" listSource="#{egitimlistesiController.ilceItemList}" requiredCond="false" compId="ilceRef"
							value="#{egitimlistesiController.egitimFilter.ilceRef}" converterId="#{'ilceConverter'}" id="ilceRefForFilterDropDown" />

						<arf:textinputForFilter label="#{label['egitim.kontenjan']}" value="#{egitimlistesiController.egitimFilter.kontenjan}" compId="kontenjan" requiredCond="false"
							id="kontenjanForFilterInputText" />
						<arf:textinputForFilter label="#{label['egitim.sure']}" value="#{egitimlistesiController.egitimFilter.sure}" compId="sure" requiredCond="false"
							id="sureForFilterInputText" />
						<arf:dropdownForFilter label="#{label['egitim.sinavli']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="false" compId="sinavli"
							value="#{egitimlistesiController.egitimFilter.sinavli}" id="sinavliForFilterDropDown" addNullOption="true" />

						<arf:calendarForFilter label="#{label['egitim.sinavtarihi']}" value="#{egitimlistesiController.egitimFilter.sinavtarihi}" id="sinavtarihiForFilterCalendar"
							pattern="#{configurationController.datePattern}" requiredCond="false" compId="sinavtarihi" />

						<arf:dropdownForFilter label="#{label['egitim.durum']}" listSource="#{enumeratedController.egitimDurumItems}" requiredCond="false" compId="durum"
							value="#{egitimlistesiController.egitimFilter.durum}" id="durumForFilterDropDown" addNullOption="true" />

						<arf:calendarForFilter label="#{label['egitim.tarih']}" value="#{egitimlistesiController.egitimFilter.baslangictarih}" id="baslangictarihiForFilterCalendar"
							pattern="#{configurationController.datePattern}" requiredCond="false" compId="baslangictarih" />

						<arf:calendarForFilter label="#{label['egitim.tarih']}" value="#{egitimlistesiController.egitimFilter.bitistarih}" id="bitistarihiForFilterCalendar"
							pattern="#{configurationController.datePattern}" requiredCond="false" compId="bitistarih" />

					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{egitimlistesiController}" formName="egitimForm" listPanelName="egitimListPanel" filterPanelName="egitimFilterPanel"
						modelName="Egitim" />
				</p:fieldset>

				<p:fieldset legend="#{label['egitim.list']}" styleClass="pageFieldSet" id="egitimListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
						<p:commandButton id="egitimkatilimciCommand" process="@this" icon="child" action="#{egitimlistesiController.egitimkatilimci}"
							rendered="#{egitimlistesiController.listRenderedFor('Egitimkatilimci')}" disabled="#{egitimlistesiController.egitim.RID == null}"
							value="#{label['command.egitimkatilimci']}" styleClass="arfCommandButton" />
						<p:commandButton id="egitimdersCommand" process="@this" icon="child" action="#{egitimlistesiController.egitimders}"
							rendered="#{egitimlistesiController.listRenderedFor('Egitimders')}" disabled="#{egitimlistesiController.egitim.RID == null ||  egitimlistesiController.durumKontrol}"
							value="#{label['command.egitimders']}" styleClass="arfCommandButton" />
						<p:commandButton id="egitimogretmenCommand" process="@this" icon="child" action="#{egitimlistesiController.egitimogretmen}"
							rendered="#{egitimlistesiController.listRenderedFor('Egitimogretmen')}"
							disabled="#{egitimlistesiController.egitim.RID == null || egitimlistesiController.durumKontrolForGerceklesen || egitimlistesiController.durumKontrolForIptalEdilen }"
							value="#{label['command.egitimogretmen']}" styleClass="arfCommandButton" />
						<p:commandButton id="egitimdosyaCommand" process="@this" icon="child" action="#{egitimlistesiController.egitimdosya}"
							rendered="#{egitimlistesiController.listRenderedFor('Egitimdosya')}" disabled="#{egitimlistesiController.egitim.RID == null  || egitimlistesiController.durumKontrol}"
							value="#{label['command.egitimdosya']}" styleClass="arfCommandButton" />

					</h:panelGrid>
					<p:blockUI block="egitimTable" trigger="egitimTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="egitimTable" value="#{egitimlistesiController.list}" var="egitimRow" binding="#{egitimlistesiController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{egitimlistesiController.entity}" filteredValue="#{egitimlistesiController.filteredList}"
						widgetVar="filterTable" rowKey="#{egitimRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{egitimlistesiController.tableRowSelect}" update=":egitimForm" />
						<p:ajax event="rowUnselect" listener="#{egitimlistesiController.tableRowCancelSelection}" update=":egitimForm" />

						<arftags:column val="#{egitimRow.ad}" header="#{label['egitim.ad']}" width="8" />
						<arftags:column val="#{egitimRow.durum.label}" header="#{label['egitim.durum']}" width="8" />
						<arftags:column val="#{egitimRow.birimRef.UIString}" header="#{label['egitim.birimRef']}" width="8" />
						<arftags:column val="#{egitimRow.yer}" header="#{label['egitim.yer']}" width="8" />
						<arftags:column val="#{egitimRow.sure}" header="#{label['egitim.sure']}" width="8" />
						<arftags:dateColumn val="#{egitimRow.baslangictarih}" header="#{label['egitim.baslangictarih']}" width="8" />
						<arftags:dateColumn val="#{egitimRow.bitistarih}" header="#{label['egitim.bitistarih']}" width="8" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{egitimlistesiController}" formName="egitimForm" listPanelName="egitimListPanel" pagingOption="true" tableName="egitimTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
