<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="egitimGunleriForm" prependId="false">
				<arf:masterPanel controllerClassName="#{egitimGunleriController}" masterLabel="#{label['egitimGunleri.list']}" modelName="egitimGunleri" />
				<ui:include src="/_page/form/egitim/egitimGunleri_Edit.xhtml" />

				<p:fieldset legend="#{label['egitimGunleri.list']}" styleClass="pageFieldSet" id="egitimGunleriListPanel">
					
					<p:blockUI block="egitimGunleriTable" trigger="egitimGunleriTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="egitimGunleriTable" value="#{egitimGunleriController.list}" var="egitimGunleriRow" binding="#{egitimGunleriController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{egitimGunleriController.entity}" filteredValue="#{egitimGunleriController.filteredList}" widgetVar="filterTable" rowKey="#{egitimGunleriRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{egitimGunleriController.tableRowSelect}" update=":egitimGunleriForm" />
						<p:ajax event="rowUnselect" listener="#{egitimGunleriController.tableRowCancelSelection}" update=":egitimGunleriForm" />
						
						<arftags:dateTimeColumn val ="#{egitimGunleriRow.tarih}" header="#{label['egitimGunleri.tarih']}" width="50" />
						<arftags:column val="#{egitimGunleriRow.egitimRef.UIString}" header="#{label['egitimGunleri.egitimRef']}" width="50" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{egitimGunleriController}" formName="egitimGunleriForm" listPanelName="egitimGunleriListPanel" pagingOption="true" tableName="egitimGunleriTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
