<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="egitimLisansForm" prependId="false">
				<arf:masterPanel controllerClassName="#{egitimLisansController}" masterLabel="#{label['egitimLisans.list']}" modelName="egitimLisans" />
				<ui:include src="/_page/form/egitim/egitimLisans_Edit.xhtml" />

				<p:fieldset id="egitimLisansFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{egitimLisansController.collapsed}" legend="#{label['egitimLisans.query']}"
					rendered="#{!egitimLisansController.editPanelRendered}">
					<p:ajax listener="#{egitimLisansController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						
						<arf:dropdownForFilter label="#{label['egitimLisans.bolumRef']}" listSource="#{egitimLisansController.selectItemListFor('Bolum')}" requiredCond="false" compId="bolumRef"
							value="#{egitimLisansController.egitimLisansFilter.bolumRef}" converterId="#{'bolumConverter'}" id="bolumRefDropDownFor" />
						
					</h:panelGrid>
					<arf:filterBottomWithBlockUI controllerClassName="#{egitimLisansController}" formName="egitimLisansForm" listPanelName="egitimLisansListPanel" filterPanelName="egitimLisansFilterPanel"
						modelName="EgitimLisans" />
				</p:fieldset>
				<p:fieldset legend="#{label['egitimLisans.list']}" styleClass="pageFieldSet" id="egitimLisansListPanel">
					
					<p:blockUI block="egitimLisansTable" trigger="egitimLisansTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="egitimLisansTable" value="#{egitimLisansController.list}" var="egitimLisansRow" binding="#{egitimLisansController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{egitimLisansController.entity}" filteredValue="#{egitimLisansController.filteredList}" widgetVar="filterTable" rowKey="#{egitimLisansRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{egitimLisansController.tableRowSelect}" update=":egitimLisansForm" />
						<p:ajax event="rowUnselect" listener="#{egitimLisansController.tableRowCancelSelection}" update=":egitimLisansForm" />

						<arftags:column val="#{egitimLisansRow.egitimtanimRef.UIString}" header="#{label['egitimLisans.egitimtanimRef']}" width="8" />
						<arftags:column val="#{egitimLisansRow.bolumRef.UIString}" header="#{label['egitimLisans.bolumRef']}" width="8" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{egitimLisansController}" formName="egitimLisansForm" listPanelName="egitimLisansListPanel" pagingOption="true" tableName="egitimLisansTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
