<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="egitmenEgitimtanimEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['egitmenEgitimtanim.edit']}" rendered="#{egitmenEgitimtanimController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

		<arf:dropdown label="#{label['egitmenEgitimtanim.egitmenRef']}" listSource="#{egitmenEgitimtanimController.selectItemListFor('Egitmen')}" requiredCond="true" compId="egitmenRef"
			value="#{egitmenEgitimtanimController.egitmenEgitimtanim.egitmenRef}" converterId="#{'egitmenConverter'}" id="egitmenRefDropDown" />		

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{egitmenEgitimtanimController}" formName="egitmenEgitimtanimForm" listPanelName="egitmenEgitimtanimListPanel"
			editPanelName="egitmenEgitimtanimEditPanel" modelName="egitmenEgitimtanim" />
	</p:fieldset>

</ui:composition>