<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="egitmenForm" prependId="false">
				<ui:include src="/_page/form/egitim/egitmen_Edit.xhtml" />

			<p:fieldset legend="#{label['egitmen.list']}" styleClass="pageFieldSet" id="egitmenListPanel">
					<p:blockUI block="egitmenTable" trigger="egitmenTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="egitmenTable" value="#{egitmenController.list}" var="egitmenRow" binding="#{egitmenController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{egitmenController.entity}" filteredValue="#{egitmenController.filteredList}" widgetVar="filterTable"
						rowKey="#{egitmenRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{egitmenController.tableRowSelect}" update=":egitmenForm" />
						<p:ajax event="rowUnselect" listener="#{egitmenController.tableRowCancelSelection}" update=":egitmenForm" />

						<arftags:column val="#{egitmenRow.birimRef.UIString}" header="#{label['egitmen.birimref']}" width="33" />
						<arftags:column val="#{egitmenRow.kisiRef.UIString}" header="#{label['egitmen.kisiRef']}" width="33" />
						<arftags:column val="#{egitmenRow.aciklama}" header="#{label['egitmen.aciklama']}" width="33" />
						<arftags:column val="#{egitmenRow.durum.label}" header="#{label['egitmen.durum']}" width="33" />
						
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{egitmenController}" formName="egitmenForm" listPanelName="egitmenListPanel" pagingOption="true"
						tableName="egitmenTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
