<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="egitimkatilimcilistesiForm" prependId="false">
				<!-- <ui:include src="/_page/form/egitim/egitimDetay/egitimkatilimcilistesi_Edit.xhtml" /> -->

				<p:fieldset id="egitimkatilimciFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{egitimkatilimcilistesiController.collapsed}"
					legend="#{label['egitimkatilimcilistesi.query']}" rendered="#{!egitimkatilimcilistesiController.editPanelRendered}">
					<p:ajax listener="#{egitimkatilimcilistesiController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="elliYuzde, elliUcYuzde" styleClass="arfEditGrid">

					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{egitimkatilimcilistesiController}" formName="egitimkatilimcilistesiForm"
						listPanelName="egitimkatilimcilistesiListPanel" filterPanelName="egitimkatilimciFilterPanel" modelName="egitimkatilimcilistesi" />
				</p:fieldset>
				<p:fieldset legend="#{label['egitimkatilimcilistesi.list']}" styleClass="pageFieldSet" id="egitimkatilimcilistesiListPanel">
					<h:panelGrid columns="2" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
						<p:commandButton id="egitimdegerlendirmeCommand" process="@this" icon="child" action="#{egitimkatilimcilistesiController.egitimdegerlendirme}"
							rendered="#{egitimkatilimcilistesiController.listRenderedFor('Egitimdegerlendirme')}" disabled="#{egitimkatilimcilistesiController.egitimkatilimci.RID == null}"
							value="#{label['command.egitimdegerlendirme']}" styleClass="arfCommandButton" />

					</h:panelGrid>

					<p:blockUI block="egitimkatilimcilistesiTable" trigger="egitimkatilimcilistesiTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="egitimkatilimcilistesiTable" value="#{egitimkatilimcilistesiController.list}" var="egitimkatilimcilistesiRow"
						binding="#{egitimkatilimcilistesiController.table}" rowIndexVar="rowIndex" selectionMode="single" selection="#{egitimkatilimcilistesiController.entity}"
						filteredValue="#{egitimkatilimcilistesiController.filteredList}" widgetVar="filterTable" rowKey="#{egitimkatilimcilistesiRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{egitimkatilimcilistesiController.tableRowSelect}" update=":egitimkatilimcilistesiForm" />
						<p:ajax event="rowUnselect" listener="#{egitimkatilimcilistesiController.tableRowCancelSelection}" update=":egitimkatilimcilistesiForm" />

						<arftags:column val="#{egitimkatilimcilistesiRow.kisiRef.UIString}" header="#{label['egitimkatilimcilistesi.kisiRef']}" width="12" />
						<arftags:column val="#{egitimkatilimcilistesiRow.egitimRef.UIString}" header="#{label['egitimkatilimcilistesi.egitimRef']}" width="12" />
						<arftags:column val="#{egitimkatilimcilistesiRow.durum.label}" header="#{label['egitimkatilimcilistesi.durum']}" width="12" />
						<arftags:column val="#{egitimkatilimcilistesiRow.katilimbelgesi.label}" header="#{label['egitimkatilimcilistesi.katilimbelgesi']}" width="12" />
						<arftags:column val="#{egitimkatilimcilistesiRow.sertifika.label}" header="#{label['egitimkatilimcilistesi.sertifika']}" width="12" />
						<arftags:column val="#{egitimkatilimcilistesiRow.sinavnotu}" header="#{label['egitimkatilimcilistesi.sinavnotu']}" width="12" />
						<arftags:column val="#{egitimkatilimcilistesiRow.sinavbasariDurum.label}" header="#{label['egitimkatilimcilistesi.sinavbasariDurum']}" width="12" />
						<arftags:column val="#{egitimkatilimcilistesiRow.aciklama}" header="#{label['egitimkatilimcilistesi.aciklama']}" width="12" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{egitimkatilimcilistesiController}" formName="egitimkatilimcilistesiForm" listPanelName="egitimkatilimcilistesiListPanel"
						pagingOption="true" tableName="egitimkatilimcilistesiTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false"
						exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
