<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="gozetmenEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['gozetmen.edit']}" rendered="#{gozetmenController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

		<arf:suggestbox label="#{label['gozetmen.uyeRef']}" methodName="#{gozetmenController.completeMethod}" requiredCond="true" compId="uyeRef"
			value="#{gozetmenController.gozetmen.uyeRef}" id="uyeRefSuggestBox" converterId="#{'uyeConverter'}" modelName="#{'Uye'}" var="uyeRec" itemValue="#{uyeRec}"
			itemLabel="#{uyeRec}" />
		
		<arf:dropdown label="#{label['gozetmen.birimRef']}" listSource="#{gozetmenController.selectItemListFor('Birim')}" requiredCond="true" compId="birimRef"
			value="#{gozetmenController.gozetmen.birimRef}" converterId="#{'birimConverter'}" id="birimRefDropDown" />	
			
		<arf:textinputarea label="#{label['gozetmen.aciklama']}" value="#{gozetmenController.gozetmen.aciklama}" compId="gozetmen" requiredCond="false"
			id="gozetmenInputText" maxLength="500" />		

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{gozetmenController}" formName="gozetmenForm" listPanelName="gozetmenListPanel"
			editPanelName="gozetmenEditPanel" modelName="EgitimLisans" />
	</p:fieldset>

</ui:composition>