<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="gozetmenForm" prependId="false">
				<ui:include src="/_page/form/egitim/gozetmen_Edit.xhtml" />

			<p:fieldset legend="#{label['gozetmen.list']}" styleClass="pageFieldSet" id="gozetmenListPanel">
					<p:blockUI block="gozetmenTable" trigger="gozetmenTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="gozetmenTable" value="#{gozetmenController.list}" var="gozetmenRow" binding="#{gozetmenController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{gozetmenController.entity}" filteredValue="#{gozetmenController.filteredList}" widgetVar="filterTable"
						rowKey="#{gozetmenRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{gozetmenController.tableRowSelect}" update=":gozetmenForm" />
						<p:ajax event="rowUnselect" listener="#{gozetmenController.tableRowCancelSelection}" update=":gozetmenForm" />

						<arftags:column val="#{gozetmenRow.birimRef.UIString}" header="#{label['gozetmen.birimRef']}" width="33" />
						<arftags:column val="#{gozetmenRow.uyeRef.UIString}" header="#{label['gozetmen.uyeRef']}" width="33" />
						<arftags:column val="#{gozetmenRow.aciklama}" header="#{label['gozetmen.aciklama']}" width="33" />
						
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{gozetmenController}" formName="gozetmenForm" listPanelName="gozetmenListPanel" pagingOption="true"
						tableName="gozetmenTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
