<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="sinavDegerlendiriciForm" prependId="false">
				<arf:masterPanel controllerClassName="#{sinavDegerlendiriciController}" masterLabel="#{label['sinavDegerlendirici.list']}" modelName="sinavDegerlendirici" />
				<ui:include src="/_page/form/egitim/sinavDegerlendirici_Edit.xhtml" />

				<p:fieldset legend="#{label['sinavDegerlendirici.list']}" styleClass="pageFieldSet" id="sinavDegerlendiriciListPanel">
					
					<p:blockUI block="sinavDegerlendiriciTable" trigger="sinavDegerlendiriciTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="sinavDegerlendiriciTable" value="#{sinavDegerlendiriciController.list}" var="sinavDegerlendiriciRow" binding="#{sinavDegerlendiriciController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{sinavDegerlendiriciController.entity}" filteredValue="#{sinavDegerlendiriciController.filteredList}" widgetVar="filterTable" rowKey="#{sinavDegerlendiriciRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{sinavDegerlendiriciController.tableRowSelect}" update=":sinavDegerlendiriciForm" />
						<p:ajax event="rowUnselect" listener="#{sinavDegerlendiriciController.tableRowCancelSelection}" update=":sinavDegerlendiriciForm" />

						<arftags:column val="#{sinavDegerlendiriciRow.sinavRef.UIString}" header="#{label['sinavDegerlendirici.sinavRef']}" width="33" />
						<arftags:column val="#{sinavDegerlendiriciRow.degerlendiriciRef.UIString}" header="#{label['sinavDegerlendirici.degerlendiriciRef']}" width="33" />
						<arftags:column val="#{sinavDegerlendiriciRow.aciklama}" header="#{label['sinavDegerlendirici.aciklama']}" width="33" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{sinavDegerlendiriciController}" formName="sinavDegerlendiriciForm" listPanelName="sinavDegerlendiriciListPanel" pagingOption="true" tableName="sinavDegerlendiriciTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
