<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="sinavKatilimciForm" prependId="false">
				<arf:masterPanel controllerClassName="#{sinavKatilimciController}" masterLabel="#{label['sinavKatilimci.list']}" modelName="sinavKatilimci" />
				<ui:include src="/_page/form/egitim/sinavKatilimci_Edit.xhtml" />

				<p:fieldset legend="#{label['sinavKatilimci.list']}" styleClass="pageFieldSet" id="sinavKatilimciListPanel">
					
					<p:blockUI block="sinavKatilimciTable" trigger="sinavKatilimciTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="sinavKatilimciTable" value="#{sinavKatilimciController.list}" var="sinavKatilimciRow" binding="#{sinavKatilimciController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{sinavKatilimciController.entity}" filteredValue="#{sinavKatilimciController.filteredList}" widgetVar="filterTable" rowKey="#{sinavKatilimciRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{sinavKatilimciController.tableRowSelect}" update=":sinavKatilimciForm" />
						<p:ajax event="rowUnselect" listener="#{sinavKatilimciController.tableRowCancelSelection}" update=":sinavKatilimciForm" />

						<arftags:column val="#{sinavKatilimciRow.sinavRef.UIString}" header="#{label['sinavKatilimci.sinavRef']}" width="10" />
						<arftags:column val="#{sinavKatilimciRow.kisiRef.UIString}" header="#{label['sinavKatilimci.kisiRef']}" width="10" />
						<arftags:column val="#{sinavKatilimciRow.kisituru.label}" header="#{label['sinavKatilimci.kisituru']}" width="10" />
						<arftags:column val="#{sinavKatilimciRow.sonuc.label}" header="#{label['sinavKatilimci.sonuc']}" width="10" />
						<arftags:column val="#{sinavKatilimciRow.teorikpuan}" header="#{label['sinavKatilimci.teorikpuan']}" width="10" />
						<arftags:column val="#{sinavKatilimciRow.toplampuan}" header="#{label['sinavKatilimci.toplampuan']}" width="10" />
						<arftags:column val="#{sinavKatilimciRow.aciklama}" header="#{label['sinavKatilimci.aciklama']}" width="10" />
						<arftags:column val="#{sinavKatilimciRow.projeuygulama}" header="#{label['sinavKatilimci.projeuygulama']}" width="10" />
						
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{sinavKatilimciController}" formName="sinavKatilimciForm" listPanelName="sinavKatilimciListPanel" pagingOption="true" tableName="sinavKatilimciTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
