<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="sinavEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['sinav.edit']}" rendered="#{sinavController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

			<arf:textinput label="#{label['sinav.pbkkod']}" value="#{sinavController.sinav.pbkkod}" compId="pbkkod"
					requiredCond="true" id="pbkkodInputText" maxLength="10" />
			<arf:textinput label="#{label['sinav.ad']}" value="#{sinavController.sinav.ad}" compId="ad"
					requiredCond="true" id="adInputText" maxLength="255" />
			<arf:dropdown label="#{label['sinav.egitimRef']}" listSource="#{sinavController.selectItemListFor('Egitim')}" requiredCond="true" compId="egitimRef"
				value="#{sinavController.sinav.egitimRef}" converterId="#{'egitimConverter'}" id="egitimRefDropDown" />		
			<arf:dropdown label="#{label['sinav.sehirRef']}" listSource="#{sessionUser.sehirItemList}" requiredCond="true" compId="sehirRef"
				value="#{sinavController.sinav.sehirRef}" converterId="#{'sehirConverter'}" id="sehirRefDropDown" ajaxEventListener="#{sinavController.handleChange}"
				changeEventUpdateComp="#{':sinavForm:ilceRefDropDown:ilceRef'}" />
			<arf:dropdown label="#{label['sinav.ilceRef']}" listSource="#{sinavController.ilceItemList}" requiredCond="true" compId="ilceRef"
				value="#{sinavController.sinav.ilceRef}" converterId="#{'ilceConverter'}" id="ilceRefDropDown" />
			<arf:calendar label="#{label['sinav.baslangictarih']}" value="#{sinavController.sinav.baslangictarih}" id="baslangictarihCalendar"
					pattern="#{configurationController.dateTimePattern}" requiredCond="true" compId="baslangictarih" />
			<arf:calendar label="#{label['sinav.bitistarih']}" value="#{sinavController.sinav.bitistarih}" id="bitistarihCalendar"
					pattern="#{configurationController.dateTimePattern}" requiredCond="true" compId="bitistarih" />
			<arf:textinput label="#{label['sinav.kontenjan']}" value="#{sinavController.sinav.kontenjan}" compId="kontenjan"
				requiredCond="false" id="kontenjanInputText" maxLength="255" />
			<arf:textinput label="#{label['sinav.aciklama']}" value="#{sinavController.sinav.aciklama}" compId="aciklama"
				requiredCond="false" id="aciklamaInputText" maxLength="255" />
			<arf:booleanbox id="yayindaCheckBox" compId="yayinda" styleClass="optionalInputText" value="#{sinavController.yayinda}"
				label="#{label['sinav.yayinda']}" requiredCond="false" checked="true" />
			<arf:dropdown label="#{label['sinav.sinavturu']}" listSource="#{enumeratedController.sinavTuruItems}" requiredCond="true" compId="sinavturu"
				value="#{sinavController.sinav.sinavturu}" id="sinavturuDropDown" addNullOption="true" />
			<arf:dropdown label="#{label['sinav.durum']}" listSource="#{enumeratedController.sinavDurumItems}" requiredCond="true" compId="sinavdurum"
				value="#{sinavController.sinav.sinavdurum}" id="sinavdurumDropDown" addNullOption="true" />
		</h:panelGrid>
			<arf:editPanelBottomWithBlockUI controllerClassName="#{sinavController}" formName="sinavForm" listPanelName="sinavListPanel"
				editPanelName="sinavEditPanel" modelName="Sinav" />
	</p:fieldset>

</ui:composition>