<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="sinavDegerlendiriciEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['sinavDegerlendirici.edit']}" rendered="#{sinavDegerlendiriciController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

		<arf:dropdown label="#{label['sinavDegerlendirici.degerlendiriciRef']}" listSource="#{sinavDegerlendiriciController.selectItemListFor('Degerlendirici')}" requiredCond="true" compId="degerlendiriciRef"
			value="#{sinavDegerlendiriciController.sinavDegerlendirici.degerlendiriciRef}" converterId="#{'degerlendiriciConverter'}" id="degerlendiriciRefDropDown" />		
		
		<arf:textinputarea label="#{label['sinavDegerlendirici.aciklama']}" value="#{sinavDegerlendiriciController.sinavDegerlendirici.aciklama}" compId="aciklama" requiredCond="false"
				id="aciklamaInputText" maxLength="500" />
		
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{sinavDegerlendiriciController}" formName="sinavDegerlendiriciForm" listPanelName="sinavDegerlendiriciListPanel"
			editPanelName="sinavDegerlendiriciEditPanel" modelName="sinavDegerlendirici" />
	</p:fieldset>

</ui:composition>