<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="sinavGozetmenForm" prependId="false">
				<arf:masterPanel controllerClassName="#{sinavGozetmenController}" masterLabel="#{label['sinavGozetmen.list']}" modelName="sinavGozetmen" />
				<ui:include src="/_page/form/egitim/sinavGozetmen_Edit.xhtml" />

			<p:fieldset legend="#{label['sinavGozetmen.list']}" styleClass="pageFieldSet" id="sinavGozetmenListPanel">
					<p:blockUI block="sinavGozetmenTable" trigger="sinavGozetmenTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="sinavGozetmenTable" value="#{sinavGozetmenController.list}" var="sinavGozetmenRow" binding="#{sinavGozetmenController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{sinavGozetmenController.entity}" filteredValue="#{sinavGozetmenController.filteredList}" widgetVar="filterTable"
						rowKey="#{sinavGozetmenRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{sinavGozetmenController.tableRowSelect}" update=":sinavGozetmenForm" />
						<p:ajax event="rowUnselect" listener="#{sinavGozetmenController.tableRowCancelSelection}" update=":sinavGozetmenForm" />

						<arftags:column val="#{sinavGozetmenRow.gozetmenRef.UIString}" header="#{label['sinavGozetmen.gozetmenRef']}" width="33" />
						<arftags:column val="#{sinavGozetmenRow.sinavRef.UIString}" header="#{label['sinavGozetmen.sinavRef']}" width="33" />
						<arftags:column val="#{sinavGozetmenRow.aciklama}" header="#{label['sinavGozetmen.aciklama']}" width="33" />
						
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{sinavGozetmenController}" formName="sinavGozetmenForm" listPanelName="sinavGozetmenListPanel" pagingOption="true"
						tableName="sinavGozetmenTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
