<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="sinavGozetmenEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['sinavGozetmen.edit']}" rendered="#{sinavGozetmenController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

		<arf:dropdown label="#{label['sinavGozetmen.gozetmenRef']}" listSource="#{sinavGozetmenController.selectItemListFor('Gozetmen')}" requiredCond="true" compId="gozetmenRef"
			value="#{sinavGozetmenController.sinavGozetmen.gozetmenRef}" converterId="#{'gozetmenConverter'}" id="gozetmenRefDropDown" />
		
		<arf:dropdown label="#{label['sinavGozetmen.sinavRef']}" listSource="#{sinavGozetmenController.selectItemListFor('Sinav')}" requiredCond="true" compId="sinavRef"
			value="#{sinavGozetmenController.sinavGozetmen.sinavRef}" converterId="#{'sinavConverter'}" id="sinavRefDropDown" />	
			
		<arf:textinputarea label="#{label['sinavGozetmen.aciklama']}" value="#{sinavGozetmenController.sinavGozetmen.aciklama}" compId="aciklama" requiredCond="false"
			id="aciklamaInputText" maxLength="500" />		

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{sinavGozetmenController}" formName="sinavGozetmenForm" listPanelName="sinavGozetmenListPanel"
			editPanelName="sinavGozetmenEditPanel" modelName="SinavGozetmen" />
	</p:fieldset>

</ui:composition>