<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml" 
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:define name="content">
		<h:body>
			<h:form id="sinavForm" prependId="false">
				<ui:include src="/_page/form/egitim/sinav_Edit.xhtml" />

				<p:fieldset legend="#{label['sinav.list']}" styleClass="pageFieldSet" id="sinavListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
							<p:commandButton id="sinavdegerlendiriciCommand" process="@this" icon="child" action="#{sinavController.sinavDegerlendirici}"
								rendered="#{sinavController.listRenderedFor('SinavDegerlendirici')}" disabled="#{sinavController.sinav.RID == null}" value="#{label['command.sinavDegerlendirici']}"
								styleClass="arfCommandButton" />
							<p:commandButton id="sinavGozetmenCommand" process="@this" icon="child" action="#{sinavController.sinavGozetmen}"
								rendered="#{sinavController.listRenderedFor('SinavGozetmen')}" disabled="#{sinavController.sinav.RID == null}" value="#{label['command.sinavGozetmen']}"
								styleClass="arfCommandButton" />
							<p:commandButton id="sinavKatilimciCommand" process="@this" icon="child" action="#{sinavController.sinavKatilimci}"
								rendered="#{sinavController.listRenderedFor('SinavKatilimci')}" disabled="#{sinavController.sinav.RID == null}" value="#{label['command.sinavKatilimci']}"
								styleClass="arfCommandButton" />
							<p:commandButton id="egitimnotCommand" process="@this" icon="child" action="#{sinavController.katilimNotGuncelle}"
								rendered="#{sinavController.listRenderedFor('Egitimkatilimci')}" value="#{label['command.egitimnot']}"
								disabled="#{sinavController.sinav.RID == null}" onsuccess="egitimnotDialog.show()" styleClass="arfCommandButton" />
						</h:panelGrid>
					<p:blockUI block="sinavTable" trigger="sinavTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="sinavTable" value="#{sinavController.list}" var="sinavRow" binding="#{sinavController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{sinavController.entity}" filteredValue="#{sinavController.filteredList}" widgetVar="filterTable" rowKey="#{sinavRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{sinavController.tableRowSelect}" update=":sinavForm" />
						<p:ajax event="rowUnselect" listener="#{sinavController.tableRowCancelSelection}" update=":sinavForm" />

						<arftags:column val="#{sinavRow.pbkkod}" header="#{label['sinav.pbkkod']}" width="10" />
						<arftags:column val="#{sinavRow.ad}" header="#{label['sinav.ad']}" width="10" />
						<arftags:column val="#{sinavRow.sinavturu.label}" header="#{label['sinav.sinavturu']}" width="10" />
						<arftags:column val="#{sinavRow.egitimRef.UIString}" header="#{label['sinav.egitimRef']}" width="10" />
						<arftags:column val="#{sinavRow.sehirRef.UIString}" header="#{label['sinav.sehirRef']}" width="10" />
						<arftags:column val="#{sinavRow.ilceRef.UIString}" header="#{label['sinav.ilceRef']}" width="10" />
						<arftags:dateTimeColumn val ="#{sinavRow.baslangictarih}" header="#{label['sinav.baslangictarih']}" width="15" />
						<arftags:dateTimeColumn val ="#{sinavRow.bitistarih}" header="#{label['sinav.bitistarih']}" width="15" />
						<arftags:column val="#{sinavRow.kontenjan}" header="#{label['sinav.kontenjan']}" width="10" />
						<arftags:column val="#{sinavRow.aciklama}" header="#{label['sinav.aciklama']}" width="10" />
						<arftags:column val="#{sinavRow.yayinda}" header="#{label['sinav.yayinda']}" width="10" />
						<arftags:column val="#{sinavRow.sinavdurum.label}" header="#{label['sinav.durum']}" width="10" />
						
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{sinavController}" formName="sinavForm" listPanelName="sinavListPanel" pagingOption="true" tableName="sinavTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
			
			<p:dialog header="#{label['common.detailEdit']}" widgetVar="egitimnotDialog" width="600" height="400"
				style="position:absolute; left:5%; top:5%" modal="true" id="egitimnotDialogUpdateBox" visible="#{sinavController.egitimNotuPanelAc}" >
				<h:form id="ktlmForm">
					<h:panelGrid columns="2" border="0"  cellspacing="0" cellpadding="0">				
						<c:forEach style="margin-top:10px" id="egitimkatilimciTable" items="#{sinavController.egitimkatilimciController.list}" var="egitimkatilimciRow" columns="1"> 
			 				<h:column>
				            	<h:outputText value="#{egitimkatilimciRow.kisiRef.UIStringShort} :" styleClass="requiredInputText"  /> 
					        </h:column>
					        <h:column>
					            <p:inputText value="#{egitimkatilimciRow.sinavnotu}" />
					        </h:column>
						</c:forEach> 
					</h:panelGrid>
					<p align="center" style="margin-top: 20px">
						<p:commandButton id="kaydet" icon="save" value="#{label['command.post']}" styleClass="commandButton" action="#{sinavController.notVer}"
							update=":egitimnotDialogUpdateBox :sinavForm :globalMessages" process=":ktlmForm" ajax="true"/>
						<p:commandButton id="iptall" icon="iptal" value="#{label['command.cancel']}" styleClass="commandButton" action="#{sinavController.dialogKapat}"
							update=":egitimnotDialogUpdateBox :sinavForm :globalMessages" process=":ktlmForm" ajax="true"/>
						<br />
					</p>
				</h:form>
			</p:dialog>
			
		</h:body>
	</ui:define>
</ui:composition>
