<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="sinavKatilimciEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['sinavKatilimci.edit']}" rendered="#{sinavKatilimciController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">
		
		<arf:suggestbox label="#{label['sinavKatilimci.kisiRef']}" methodName="#{sinavKatilimciController.completeMethod}" requiredCond="false" compId="kisiRef"
			value="#{sinavKatilimciController.sinavKatilimci.kisiRef}" id="kisiRefSuggestBox" converterId="#{'kisiConverter'}" modelName="#{'Kisi'}" var="kisiRec" itemValue="#{kisiRec}"
			itemLabel="#{kisiRec}" />
		
		<arf:dropdown label="#{label['sinavKatilimci.sinavRef']}" listSource="#{sinavKatilimciController.selectItemListFor('Sinav')}" requiredCond="true" compId="sinavRef"
			value="#{sinavKatilimciController.sinavKatilimci.sinavRef}" converterId="#{'sinavConverter'}" id="sinavRefDropDown" />		
		
		<arf:dropdown label="#{label['sinavKatilimci.kisituru']}" listSource="#{enumeratedController.kisiTuruItems}" requiredCond="true" compId="kisituru"
			value="#{sinavKatilimciController.sinavKatilimci.kisituru}" id="kisituruDropDown" addNullOption="true" />
		
		<arf:dropdown label="#{label['sinavKatilimci.sonuc']}" listSource="#{enumeratedController.sonucTuruItems}" requiredCond="true" compId="sonuc"
			value="#{sinavKatilimciController.sinavKatilimci.sonuc}" id="sonucDropDown" addNullOption="true" />
		
		<arf:textinput label="#{label['sinavKatilimci.projeuygulama']}" value="#{sinavKatilimciController.sinavKatilimci.projeuygulama}" compId="projeuygulama"
			requiredCond="true" id="projeuygulamaInputText" maxLength="10" />
				
		<arf:textinput label="#{label['sinavKatilimci.teorikpuan']}" value="#{sinavKatilimciController.sinavKatilimci.teorikpuan}" compId="teorikpuan"
			requiredCond="true" id="teorikpuanInputText" maxLength="10" />
					
		<arf:textinput label="#{label['sinavKatilimci.toplampuan']}" value="#{sinavKatilimciController.sinavKatilimci.toplampuan}" compId="toplampuan"
			requiredCond="true" id="toplamInputText" maxLength="10" />
					
		<arf:textinputarea label="#{label['sinavKatilimci.aciklama']}" value="#{sinavKatilimciController.sinavKatilimci.aciklama}" compId="aciklama" requiredCond="false"
			id="aciklamaInputText" maxLength="500" />
				
		
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{sinavKatilimciController}" formName="sinavKatilimciForm" listPanelName="sinavKatilimciListPanel"
			editPanelName="sinavKatilimciEditPanel" modelName="sinavKatilimci" />
	</p:fieldset>

</ui:composition>