<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="borcodemeEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['borcodeme.edit']}" rendered="#{borcodemeController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:calendar label="#{label['borcodeme.tarih']}" value="#{borcodemeController.borcodeme.tarih}" id="tarihCalendar" pattern="#{configurationController.datePattern}"
				requiredCond="true" compId="tarih" />
			<arf:textinput label="#{label['borcodeme.miktar']}" value="#{borcodemeController.borcodeme.miktar}" compId="miktar" requiredCond="true" id="miktarInputText" />
			<arf:dropdown label="#{label['borcodeme.odemeRef']}" listSource="#{borcodemeController.selectItemListFor('Odeme')}" requiredCond="true" compId="odemeRef"
				value="#{borcodemeController.borcodeme.odemeRef}" id="odemeRefDropDown" converterId="#{'odemeConverter'}" />
			<arf:dropdown label="#{label['borcodeme.odemetip']}" listSource="#{enumeratedController.odemeTipItems}" requiredCond="true" compId="odemetip"
				value="#{borcodemeController.borcodeme.odemetip}" id="odemetipDropDown" />
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{borcodemeController}" formName="borcodemeForm" listPanelName="borcodemeListPanel" editPanelName="borcodemeEditPanel"
			modelName="Borcodeme" />
	</p:fieldset>

</ui:composition>