<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="borcodemeForm" prependId="false">

				<arf:masterPanel controllerClassName="#{borcodemeController}" masterLabel="#{label['borc.list']}" modelName="borcodeme" />

				<ui:include src="/_page/form/finans/finansDetay/borcodeme_Edit.xhtml" />

				<p:fieldset legend="#{label['borcodeme.list']}" styleClass="pageFieldSet" id="borcodemeListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="borcodemeTable" trigger="borcodemeTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="borcodemeTable" value="#{borcodemeController.list}" var="borcodemeRow" binding="#{borcodemeController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{borcodemeController.entity}" filteredValue="#{borcodemeController.filteredList}" widgetVar="filterTable"
						rowKey="#{borcodemeRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{borcodemeController.tableRowSelect}" update=":borcodemeForm" />
						<p:ajax event="rowUnselect" listener="#{borcodemeController.tableRowCancelSelection}" update=":borcodemeForm" />

						<arftags:dateColumn val="#{borcodemeRow.tarih}" header="#{label['borcodeme.tarih']}" width="25" />
						<arftags:filteredNumericColumn filterMatchMode="contains" val="#{borcodemeRow.miktar}" header="#{label['borcodeme.miktar']}" width="25" />
						<arftags:column val="#{borcodemeRow.odemeRef.UIString}" header="#{label['borcodeme.odemeRef']}" width="25" />
						<arftags:column val="#{borcodemeRow.odemetip.label}" header="#{label['borcodeme.odemetip']}" width="25" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{borcodemeController}" formName="borcodemeForm" listPanelName="borcodemeListPanel" pagingOption="true"
						tableName="borcodemeTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
