<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:column style="text-align:center; width:80px">
		<f:facet name="header">
			<h:outputText value="#{label['common.detay']}" />
		</f:facet>
		<h:commandLink action="#{val}" immediate="true">
			<h:graphicImage value="detail.png" />
		</h:commandLink>
	</p:column>

</ui:composition>