<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:outputText id="#{colName}HeaderOfDetailItem" value="#{header} : " styleClass="detayBaslik" rendered="#{renderCondition}" />
	<h:panelGroup>
		<h:outputText id="#{colName}ValueOfDetailItem" styleClass="detayMetin" value="#{val}" rendered="#{renderCondition}" escape="true">
			<f:convertNumber pattern="#0.00" />
		</h:outputText>
		<h:outputText value=" #{text}" styleClass="detayMetin" />
	</h:panelGroup>
</ui:composition>