<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:outputText id="#{colName}HeaderOfDetailItem" value="#{header} : " styleClass="detayBaslik" rendered="#{renderCondition}" />
	<h:panelGroup>
		<h:outputText id="#{colName}ValueOfDetailItem" styleClass="detayMetin" value="#{val}" rendered="#{renderCondition}" escape="true">
			<f:convertNumber pattern="#0.00" />
		</h:outputText>
		<h:outputText value=" #{text}" styleClass="detayMetin" />
		
		<h:graphicImage id="#{colName}TooltipImage" library="_image/boxIcons" name="info.png" width="14px" height="14px"
			style="cursor:pointer; vertical-align:middle; valign:middle; margin-left:5px" />
		<p:tooltip for="#{colName}TooltipImage" value="#{toolTipValue}" />
	</h:panelGroup>
</ui:composition>