<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:column style="text-align:center; width:80px !important">
		<f:facet name="header">
			<h:outputText value="#{label['common.islem']}" />
		</f:facet>
		<h:commandLink actionListener="#{sessionController.execute(val)}" immediate="true" rendered="#{val != null}">
			<h:graphicImage library="_image" name="download.png" />
		</h:commandLink>
	</p:column>
</ui:composition>