<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div style="overflow: auto; height: 95%; width: 90%; margin-left:5%">
		<h:graphicImage value="/images/dynamic/?file=#{file}&amp;path=#{path}" rendered="#{renderCondition}" />
	</div>
</ui:composition>