<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:column width="100">
		<f:facet name="header">
			<h:outputText value="#{label['common.previewImage']}" styleClass="columnHeader" />
		</f:facet>
		<h:graphicImage value="/images/dynamic/?file=#{file}&amp;path=#{path}" style="width:80px; height:80px" />
	</p:column>
</ui:composition>