<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core">

	<p:column sortBy="#{val}" style="width:#{width}%; text-align:#{align};">
		<f:facet name="header">
			<h:outputText value="#{header}" styleClass="columnHeader" />
		</f:facet>
			<b><h:outputText style="white-space:normal;" value="#{headerInColumn}" escape="true" /></b> <h:outputText style="white-space:normal" value="#{val}" escape="#{escape}" />		
		<c:if test="${showVal2}">
			<br /><b><h:outputText style="white-space:normal;" value="#{header2} : " escape="true" /></b> <h:outputText style="white-space:normal" value="#{val2}" escape="#{escape}" />
		</c:if> 
		<c:if test="${showVal3}">
			<br /><b><h:outputText style="white-space:normal;" value="#{header3} : " escape="true" /></b> <h:outputText style="white-space:normal" value="#{val3}" escape="#{escape}" />
		</c:if> 
		<c:if test="${showVal4}">
			<br /><b><h:outputText style="white-space:normal;" value="#{header4} : " escape="true" /></b> <h:outputText style="white-space:normal" value="#{val4}" escape="#{escape}" />
		</c:if> 
	</p:column>
</ui:composition>
