<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions" xmlns:p="http://primefaces.org/ui">

	<p:column style="width:#{width}%">
		<f:facet name="header">
			<h:outputText value="#{header}" styleClass="columnHeader" />
		</f:facet>
		<h:outputFormat value="#{val}" escape="true">
			<f:param value="#{fn:escapeXml(val)}" />
		</h:outputFormat> 
	</p:column>
</ui:composition>
