<ui:composition xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui"  
>
    <p:column sortBy="#{val}" style="width:#{width}%" >
        <f:facet name="header">
        	<h:outputText value="#{header}" styleClass="columnHeader" />
        </f:facet> 
        <h:outputText style="white-space:normal" value="#{val}">
	        <f:convertDateTime type="date"
	 			timeZone="#{configurationController.timeZone}" 
 				pattern="#{configurationController.timePattern}" /> 
		</h:outputText> 
    </p:column>
</ui:composition>