<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" template="/_page/_main/main.xhtml" xmlns:arftags="http://arf.com/column">

	<ui:define name="content">
		<h:body>
			<h:form id="dashboardForm" prependId="false">
				<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" style="text-align:center">
					<p:panel id="evrakdolasimbildirim" style="width:98%; margin-left:1%; height:300px" header="#{label['evrakdolasimbildirim.list']}" closable="true" toggleable="true">
						<div style="width: 100%; height: 290px; overflow-y: auto">
							<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="evrakdolasimbildirimTable" value="#{dashboardCommon.evrakdolasimbildirimList}" var="evrakdolasimbildirimRow"
								binding="#{dashboardCommon.evrakdolasimbildirimTable}" rowIndexVar="rowIndex" selectionMode="single" selection="#{dashboardCommon.entity}" rowKey="#{evrakdolasimbildirimRow.RID}" resizableColumns="false">

								<p:ajax event="rowUnselect" listener="#{dashboardCommon.tableRowCancelSelection}" update=":dashboardForm" />
								<p:ajax event="rowDblselect" listener="#{dashboardCommon.onRowDblClckSelect}" update=":dashboardForm" global="false" />

								<arftags:column val="#{evrakdolasimbildirimRow.evrakRef.UIString}" header="#{label['evrakdolasimbildirim.evrakRef']}" width="30" />
								<arftags:column val="#{evrakdolasimbildirimRow.gonderenRef}" header="#{label['evrakdolasimbildirim.gonderenRef']}" width="15" />
								<arftags:dateColumn val="#{evrakdolasimbildirimRow.tarih}" header="#{label['evrakdolasimbildirim.tarih']}" width="15" />
								<arftags:column val="#{evrakdolasimbildirimRow.aciklama}" header="#{label['evrakdolasimbildirim.aciklama']}" width="30" />
							</p:dataTable>
						</div>
					</p:panel>

					<p:panel id="duyurular" style="width:98%; margin-left:1%; height:300px;" header="#{label['duyuru.list']}" closable="true" toggleable="true">
						<div style="width: 100%; height: 290px; overflow-y: auto">
							<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="duyuruTable" value="#{dashboardCommon.duyuruList}" var="duyuruRow" binding="#{dashboardCommon.duyuruTable}"
								rowIndexVar="rowIndex" rowKey="#{duyuruRow.RID}" resizableColumns="false">

								<arftags:column val="#{duyuruRow.duyurubasligi}" header="#{label['duyuru.duyurubasligi']}" width="15" />
								<arftags:column val="#{duyuruRow.duyurumetni}" header="#{label['duyuru.duyurumetni']}" width="8" />
								<arftags:dateColumn filterMatchMode="contains" val="#{duyuruRow.baslangictarih}" header="#{label['duyuru.baslangictarih']}" width="14" />
								<arftags:dateColumn filterMatchMode="contains" val="#{duyuruRow.bitistarih}" header="#{label['duyuru.bitistarih']}" width="14" />
								<p:column width="20" style="text-align:center" headerText="#{label['common.islem']}" rendered="#{sessionUser.superUser}">
									<arf:buttonSetForDetailList controllerClassName="#{duyuruController}" modelName="duyuru" rowItem="#{duyuruRow}" updateRendered="false" addRendered="false" loggable="#{duyuruController.loggable}" width="20" />
								</p:column>
							</p:dataTable>
							<p align="center">
								<p:commandButton onsuccess="detailEditDialog.show()" icon="new" immediate="true" action="#{dashboardCommon.newDetail('duyuru')}" process="@this" update="@this" value="#{label['command.insert']}"
									styleClass="commandButton" ajax="true" style="width:50px" rendered="#{sessionUser.superUser}" />
							</p>
						</div>
					</p:panel>
				</h:panelGrid>
			</h:form>

			<p:dialog header="#{label['common.detailEdit']}" widgetVar="detailEditDialog" width="1000" style="position:absolute; left:5%; top:5%" modal="true" id="dialogUpdateBox"
				visible="#{dashboardCommon.detailEditType != null}">

				<h:form id="detailEditForm">
					<p:fieldset id="duyuruEditDialogPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['duyuru.edit']}" rendered="#{dashboardCommon.detailEditType == 'duyuru'}">

						<arf:textinput label="#{label['duyuru.duyurubasligi']}" value="#{dashboardCommon.duyuru.duyurubasligi}" compId="duyurubasligi" requiredCond="false" id="duyurubasligiInputText" maxLength="200" />
						<arf:textinputarea label="#{label['duyuru.duyurumetni']}" value="#{dashboardCommon.duyuru.duyurumetni}" compId="duyurumetni" requiredCond="false" id="duyurumetniInputText" maxLength="200" />
						<arf:calendar label="#{label['duyuru.baslangictarih']}" value="#{dashboardCommon.duyuru.baslangictarih}" id="baslangictarihCalendar" pattern="#{configurationController.datePattern}" requiredCond="true"
							compId="baslangictarih" />
						<arf:calendar label="#{label['duyuru.bitistarih']}" value="#{dashboardCommon.duyuru.bitistarih}" id="bitistarihCalendar" pattern="#{configurationController.datePattern}" requiredCond="false" compId="bitistarih" />
					</p:fieldset>

					<p align="center" style="margin-top: 20px">
						<p:commandButton id="saveDetailsButton" icon="save" value="#{label['command.post']}" styleClass="commandButton" action="#{dashboardCommon.saveDetails}" update="@form :globalMessages" process="@form" ajax="true"
							rendered="#{dashboardCommon.detailEditType != null}" />
						<p:commandButton id="cancelDetailsButton" icon="iptal" value="#{label['command.cancel']}" styleClass="commandButton" onclick="detailEditDialog.hide()" process="@this" />
						<br />
					</p>
				</h:form>
			</p:dialog>
		</h:body>
	</ui:define>
</ui:composition>

