<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<h:head>
		<f:facet name="first">
			<meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
			<meta http-equiv="X-Frame-Options" content="SAMEORIGIN" />
		</f:facet>
		<h:outputStylesheet library="style" name="main.css" />
		<h:outputScript name="primefaces_locales.js" library="scripts" target="head" />
	</h:head>
	<h:body onload="window.resizeTo(1200, 800);">

		<h:form id="islemlogForm" prependId="false">
			<p:fieldset legend="#{label['islemlog.list']}" styleClass="pageFieldSet" id="islemlogListPanel">
				<p:panel id="islemLogMaster" styleClass="innerFieldSet">
					<h:graphicImage library="_image" name="toMasterPage.png" styleClass="masterLinkIcon" width="16" height="16" style="margin-right:10px; vertical-align:middle !important" />
					<h:outputText value="#{islemlogController.islemLogBaslik}" />
				</p:panel>
				
				<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="islemlogTable" value="#{islemlogController.list}" var="islemlogRow" binding="#{islemlogController.table}" rowIndexVar="rowIndex"
					filteredValue="#{islemlogController.filteredList}" widgetVar="filterTable" rowKey="#{islemlogRow.RID}" resizableColumns="false">

					<arftags:column val="#{islemlogRow.islemturu.label}" header="#{label['islemlog.islemturu']}" width="10" />
					<arftags:column val="#{islemlogRow.kullaniciText}" header="#{label['islemlog.kullaniciRef']}" width="10" />
					<arftags:dateTimeColumn val="#{islemlogRow.islemtarihi}" header="#{label['islemlog.islemtarihi']}" width="10" />
					<arftags:column val="#{islemlogRow.eskideger}" header="#{label['islemlog.eskideger']}" width="28" />
					<arftags:column val="#{islemlogRow.yenideger}" header="#{label['islemlog.yenideger']}" width="28" />

				</p:dataTable>

				<arf:paging controllerClassName="#{islemlogController}" formName="islemlogForm" listPanelName="islemlogListPanel" pagingOption="false" tableName="islemlogTable"
					addExport="true" addOption="false" updateOption="false" deleteOption="false" />
			</p:fieldset>
		</h:form>
	</h:body>
</ui:composition>
