<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:arftags="http://arf.com/column">

<h:head>
	<f:facet name="first">
		<meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
		<meta http-equiv="X-Frame-Options" content="SAMEORIGIN" />
	</f:facet>
	<h:outputStylesheet library="style" name="main.css" />
	<h:outputStylesheet library="style" name="buttonIconsToys.css" />
	<ui:insert name="head" />
</h:head>

<f:view locale="#{sessionUser.locale}"> 
	<h:body style="margin: none !important; overflow-x:hidden; overflow-y:auto; ">
		<p:panel id="globalMessages">
			<p:outputPanel rendered="#{not empty sessionUser.messageWithoutClearing}">
				<h:outputText value="#{sessionUser.message}" id="globalSessionUserMessage" class="infoBox" style="position:absolute;  left: 35%; top: 25px; " 
					escape="false"/>
			</p:outputPanel>	
			<h:messages globalOnly="true" showDetail="true" showSummary="false" id="globalMessages_HMessage" infoClass="infoBox" errorClass="errorBox"
				fatalClass="errorBox" warnClass="warningBox" />
		</p:panel>
		<div id="header">
			<div class="arfBannerText floatLeft textShadow1">
				<div style="float: left"> 
					<h:graphicImage library="_image" name="#{sessionUser.logoPath}" style="width: 154px; height: 50px; margin-left: 10px; margin-top:-2px" 
						rendered="#{sessionUser.sistemParametre == null}" />
					
					<arftags:scaledImageViewer file="#{sessionUser.logoPath}" path="/" renderCondition="#{sessionUser.sistemParametre != null}" imageHeight="50px" imageWidth="50px" /> 
				</div>
				<div style="display: block; padding-top: 2px;">
					<font size="3"><h:outputText value="#{sessionUser.odaadi}" styleClass="ownerTitle" /></font><br /> 
					<font size="2"><h:outputText value="#{label['owner.info2']}" styleClass="ownerTitle" /></font><br/>
				</div>
				<div style="position: absolute; top: 30px; right: 10px;">
					<h:form id="headerOperationForm" style="border:none !important">					
						<h:panelGrid columns="3" styleClass="headerOperationPanel" style="border:none !important">
							<p:commandButton process="@this" id="sifredegistir" icon="password" 
									action="#{kullaniciController.sifredegistirSayfa}" />
							<p:selectOneMenu value="#{sessionUser.theme}" id="theme" style="width:120px; font-weight:normal !important" styleClass="optionalInputText">
								<f:selectItems value="#{sessionUser.themes}" />
							</p:selectOneMenu>
							<p:commandButton id="saveTheme" icon="save" action="#{sessionUser.anasayfa}" immediate="false" styleClass="commandButton" />							
						</h:panelGrid>
					</h:form>
				</div>
			</div>
		</div>
		<div id="headerBottom">
			<h:form id="breadCrumbForm">
				<h:outputScript name="primefaces_locales.js" library="scripts" target="head" />
				<div style="float: left; width: 100%">
					<p:breadCrumb preview="false" id="breadCrumbMenu" style="vertical-align:bottom !important">
						<c:forEach var="menuItem" items="#{menuController.menuItems}">
							<p:menuitem>
								<span style="margin-top: 2px !important"><p:commandLink value="#{menuItem.value}" action="#{menuController.gotoPageForMenu(menuItem.url)}" ajax="false" /></span>
							</p:menuitem>
						</c:forEach>
					</p:breadCrumb>
				</div>
				<div style="position: absolute; right: 0px; top: 13px; font-family: Calibri, Tahoma, Arial; font-weight: bold; font-size: 13px; color: #ffffff; text-shadow: 1px 1px #000000;">
					<span><h:outputText
							value="#{sessionUser.personelRef.UIStringShortest} (#{sessionUser.personelRef.birimRef.ad})" /></span>
					<h:commandLink action="#{menuController.logout}">
						<h:graphicImage library="_image" name="exit.png" style="margin-right:20px; margin-left:10px; vertical-align:middle" />
					</h:commandLink>
				</div>
			</h:form>
		</div>
		<div id="page" style="margin-top: 100px">
			<div style="float: left; width: 210px">
				<h:form id="menuForm">
					<p:accordionPanel activeIndex="#{sessionController.activeIndexNo}" id="menuAccordion" dynamic="true" multiple="false" styleClass="menuAccordion" rendered="true">
						<p:ajax event="tabChange" listener="#{sessionController.onTabChange}" />

						<p:tab title="#{label['menu.UyeYonetimi']}" id="uyeYonetimIslemleri">
							<c:forEach var="uyeYonetimiMenuItem" items="#{menuController.uyeYonetimiMenuItems}">
								<div class="menu">
									<h:commandLink value="#{uyeYonetimiMenuItem.ad}" action="#{menuController.gotoPageForMenu(uyeYonetimiMenuItem.kod)}" ajax="false" styleClass="menuLinks" />
								</div>
							</c:forEach>
						</p:tab>
						<p:tab title="#{label['menu.evrakIslemleri']}" id="evrakIslemleri">
							<c:forEach var="evrakMenuItem" items="#{menuController.evrakMenuItems}">
								<div class="menu">
									<h:commandLink value="#{evrakMenuItem.ad}" action="#{menuController.gotoPageForMenu(evrakMenuItem.kod)}" ajax="false" styleClass="menuLinks" />
								</div>
							</c:forEach>
						</p:tab>
						<p:tab title="#{label['menu.kisikurumyonetimi']}" id="kisiKurumYonetimiIslemleri">
							<c:forEach var="kisiKurumYonetimiMenuItem" items="#{menuController.kisiKurumYonetimiMenuItems}">
								<div class="menu">
									<h:commandLink value="#{kisiKurumYonetimiMenuItem.ad}" action="#{menuController.gotoPageForMenu(kisiKurumYonetimiMenuItem.kod)}" ajax="false" styleClass="menuLinks" />
								</div>
							</c:forEach>
						</p:tab>
						<p:tab title="#{label['menu.raporlama']}" id="raporlamaIslemleri">
							<c:forEach var="raporMenuItem" items="#{menuController.raporlamaMenuItems}">
								<div class="menu">
									<h:commandLink value="#{raporMenuItem.ad}" action="#{menuController.gotoPageForMenu(raporMenuItem.kod)}" ajax="false" styleClass="menuLinks" />
								</div>
							</c:forEach>
						</p:tab>
						<p:tab title="#{label['menu.odaYonetimi']}" id="odaYonetimiIslemleri">
							<c:forEach var="odaYonetimiMenuItem" items="#{menuController.odaYonetimiMenuItems}">
								<div class="menu">
									<h:commandLink value="#{odaYonetimiMenuItem.ad}" action="#{menuController.gotoPageForMenu(odaYonetimiMenuItem.kod)}" ajax="false" styleClass="menuLinks" />
								</div>
							</c:forEach>
						</p:tab>
						<p:tab title="#{label['menu.iletisim']}" id="iletisimIslemleri">
							<c:forEach var="iletisimMenuItem" items="#{menuController.iletisimMenuItems}">
								<div class="menu">
									<h:commandLink value="#{iletisimMenuItem.ad}" action="#{menuController.gotoPageForMenu(iletisimMenuItem.kod)}" ajax="false" styleClass="menuLinks" />
								</div>
							</c:forEach>
						</p:tab>
						<p:tab title="#{label['menu.etkinlik']}" id="etkinlikIslemleri">
							<c:forEach var="etkinlikMenuItem" items="#{menuController.etkinlikMenuItems}">
								<div class="menu">
									<h:commandLink value="#{etkinlikMenuItem.ad}" action="#{menuController.gotoPageForMenu(etkinlikMenuItem.kod)}" ajax="false" styleClass="menuLinks" />
								</div>
							</c:forEach>
						</p:tab>
						<p:tab title="#{label['menu.egitim']}" id="egitimIslemleri">
							<c:forEach var="egitimMenuItem" items="#{menuController.egitimMenuItems}">
								<div class="menu">
									<h:commandLink value="#{egitimMenuItem.ad}" action="#{menuController.gotoPageForMenu(egitimMenuItem.kod)}" ajax="false" styleClass="menuLinks" />
								</div>
							</c:forEach>
						</p:tab>

						<p:tab title="#{label['menu.sistemYonetimi']}" id="tanimlamaIslemleri">
							<p:panel header="#{label['menu.kullaniciIslem']}" style="width:100%" toggleable="true">
								<c:forEach var="kullaniciMenuItem" items="#{menuController.kullanicilarMenuItems}">
									<div class="menu">
										<h:commandLink value="#{kullaniciMenuItem.ad}" action="#{menuController.gotoPageForMenu(kullaniciMenuItem.kod)}" ajax="false" styleClass="menuLinks" />
									</div>
								</c:forEach>
							</p:panel>
							<p:panel header="#{label['menu.sabitTanimlama']}" style="width:100%" toggleable="true">
								<c:forEach var="tanimMenuItem" items="#{menuController.tanimlamalarMenuItems}">
									<div class="menu">
										<h:commandLink value="#{tanimMenuItem.ad}" action="#{menuController.gotoPageForMenu(tanimMenuItem.kod)}" ajax="false" styleClass="menuLinks" />
									</div>
								</c:forEach>
							</p:panel>
							<p:panel header="#{label['menu.logtanimlama']}" style="width:100%" toggleable="true">
								<c:forEach var="logMenuItem" items="#{menuController.logMenuItems}">
									<div class="menu">
										<h:commandLink value="#{logMenuItem.ad}" action="#{menuController.gotoPageForMenu(logMenuItem.kod)}" ajax="false" styleClass="menuLinks" />
									</div>
								</c:forEach>
							</p:panel>
						</p:tab>
						<p:tab title="#{label['menu.finans']}" id="finansIslemleri">
							<c:forEach var="finansMenuItem" items="#{menuController.finansMenuItems}">
								<div class="menu">
									<h:commandLink value="#{finansMenuItem.ad}" action="#{menuController.gotoPageForMenu(finansMenuItem.kod)}" ajax="false" styleClass="menuLinks" />
								</div>
							</c:forEach>
						</p:tab>
					</p:accordionPanel>

				</h:form>
			</div>
			<div style="margin-left: 215px">
				<ui:insert name="content" />
			</div>
			<div class="footer ui-widget ui-widget-header " style="clear: both;height:40px;">
				
				<p align="center">
					©2013 <a href="http://www.arf-bt.com" target="null">ARF Bilgi Teknolojileri</a>
					<p:commandButton id="sorunBildir" icon="uyariIcon" value="#{label['sorun.list']}" action="#{menuController.gotoPageForMenu('menu_SorunBildir')}" immediate="false"
					 style="position: absolute; width:100px ;right:10px;  " />
				</p>
			</div>
			
		</div>
	</h:body>
</f:view>
</html>
