				 <!-- Auto Generated --> 
			<div class="menu"> 
				<h:commandLink value="#{label['menuItem.uyeformList']}" action="#{uyeformController.listPage}" ajax="false" styleClass="menuLinks" 				rendered="#{uyeformController.listRendered}" 
 /> 
			</div> 
			<arf:ribbonItemLarge icon="uyeform_Large.png" label1="#{label['menuLabel.parametre']}" label2="#{label['menuLabel.list']}" modelName="Uyeform" actionMethod="#{uyeformController.listPage}" /> 
