<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:arftags="http://arf.com/column">

<h:head>
	<f:facet name="first">
		<meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
		<meta http-equiv="X-Frame-Options" content="SAMEORIGIN" />
	</f:facet>
	<h:outputStylesheet library="style" name="uyemain.css" /> 
	<h:outputStylesheet library="style" name="buttonIconsToys.css" /> 
	<ui:insert name="head" />
</h:head>

<f:view locale="#{sessionUser.locale}">  
	<h:body style="margin: none !important; overflow-x:hidden; overflow-y:auto; padding:none !important;">
		<p:panel id="globalMessages">
			<br />
			<h:panelGrid columns="2" width="100%" border="0" columnClasses="kirkYuzde, altmisYuzde">
				<h:outputText value="#{sessionUser.message}" id="globalSessionUserMessage" styleClass="infoBox" style="width:50%; height:25px; position:absolute; left:25%; top:30px" rendered="#{not empty sessionUser.messageWithoutClearing}" />
				<h:messages globalOnly="true" showDetail="true" showSummary="false" id="globalMessages_HMessage" style="width:50%; position:absolute; left:25%; top:15px" infoClass="infoBox" errorClass="errorBox" fatalClass="errorBox" warnClass="warningBox"  />
			</h:panelGrid>
		</p:panel>
		<div id="header">
			<div class="arfBannerText floatLeft textShadow1">
				<div style="float: left"> 
					<h:graphicImage library="_image" name="#{sessionUser.logoPath}" style="width: 154px; height: 50px; margin-left: 10px; margin-top:-2px" 
						rendered="#{sessionUser.sistemParametre == null}" />

					<arftags:scaledImageViewer file="#{sessionUser.logoPath}" path="/" renderCondition="#{sessionUser.sistemParametre != null}" imageHeight="50px" imageWidth="50px" />
				</div>
				<div style="display: block; padding-top: 5px">
					<font size="3">
					<h:outputText value="#{sessionUser.odaadi}" styleClass="ownerTitle" /></font><br /> 
					<font size="2"><h:outputText value="#{label['owner.info2']}" styleClass="ownerTitle" /> </font>
				</div>
			</div>
		</div>
		<div id="headerBottom">
			<h:form>
				<h:outputScript name="primefaces_locales.js" library="scripts" target="head" />
				<div style="float: left; width: 100%">
					<p:breadCrumb preview="false" id="breadCrumbMenu" style="vertical-align:bottom !important">
					</p:breadCrumb>
				</div>
				<div style="position: absolute; left: 20px; top: 13px; font-family: Calibri, Tahoma, Arial; font-weight: bold; font-size: 15px; color: #ffffff; text-shadow: 1px 1px #333333;">
					<span><h:outputText value="#{sessionUser.uyeRef.kisiRef.ad} #{sessionUser.uyeRef.kisiRef.soyad} (Sicil No: #{sessionUser.uyeRef.sicilno})" /></span> 
				</div>
				<div style="position: absolute; right: 20px; top: 11px;">
					<h:commandLink action="#{sessionController.uyelogout}">
						<h:graphicImage library="_image" name="exit.png" width="24" height="24"/>
                        <h:outputText value="Çıkış" style="font-family: Calibri, Tahoma, Arial; font-weight: bold; font-size: 24px; color: #ffffff; text-shadow: 1px 1px #333333; vertical-align: top"></h:outputText>
                    </h:commandLink>
				</div>
			</h:form>
		</div> 	
		<div id="page" style="margin-top:100px; padding:none; width:100%;">		 
			<ui:insert name="content" /> 
			<div class="footer " style="clear: both;">
                <p align="center">
                    <a href="http://www.bimo.org.tr/mevzuat" target="null">Mevzuat</a>
                    | <a href="http://www.bimo.org.tr/gizlilik-ve-guvenlik-politikasi" target="null">Gizlilik ve Güvenlik Politikası</a>
                    | <a href="http://www.bimo.org.tr/iptal-iade-kosullari" target="null">İptal İade Koşulları</a>
                    <br /><p:spacer height="20"/>
                </p>
				<p align="center">
					TMMOB BİLGİSAYAR MÜHENDİSLERİ ODASI Anayasanın 135. Maddesinde tanımlanan, 6235 sayılı Yasaya göre kurulmuş kamu kurumu niteliğinde bir meslek kuruluşudur.<br/>
					Adres: Necatibey Cad. No:88/7 Çankaya/ ANKARA | Telefon : 0312 230 3145 | Faks: 0312 230 3146 | E-Posta:iletisim[at]bimo.org.tr
					<br /><p:spacer height="20"/>					
				</p>
				<p align="center">
					©2013 <a href="http://www.arf-bt.com" target="null">ARF Bilgi Teknolojileri</a>
				</p>
			</div>
		</div>
	</h:body>
</f:view>
</html>
