<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="etkinlikForm" prependId="false">
				<ui:include src="/_page/form/etkinlik/etkinlik_Edit.xhtml" />

				<p:fieldset id="etkinlikFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{etkinlikController.collapsed}" legend="#{label['etkinlik.query']}"
					rendered="#{!etkinlikController.editPanelRendered}">
					<p:ajax listener="#{etkinlikController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

						<arf:dropdownForFilter label="#{label['etkinlik.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="false" compId="etkinlikbirimRef"
							value="#{etkinlikController.etkinlikFilter.birimRef}" converterId="#{'birimConverter'}" id="birimRefForFilterDropDown" />

						<arf:dropdownForFilter label="#{label['etkinlik.donemRef']}" listSource="#{etkinlikController.selectItemListFor('Donem')}" requiredCond="false" compId="etkinlikdonemRef"
							value="#{etkinlikController.etkinlikFilter.donemRef}" converterId="#{'donemConverter'}" id="donemRefForFilterDropDown" />

						<arf:dropdownForFilter label="#{label['etkinlik.etkinliktanimRef']}" listSource="#{etkinlikController.selectItemListFor('Etkinliktanim')}" requiredCond="false"
							compId="etkinliktanimRef" value="#{etkinlikController.etkinlikFilter.etkinliktanimRef}" converterId="#{'etkinliktanimConverter'}" id="etkinliktanimRefForFilterDropDown" />

						<arf:textinputForFilter label="#{label['etkinlik.ad']}" value="#{etkinlikController.etkinlikFilter.ad}" compId="ad" requiredCond="false" id="adForFilterInputText"
							maxLength="200" />

						<arf:doubleCalendarForFilter label="#{label['etkinlik.tarih']}" value="#{etkinlikController.etkinlikFilter.baslamatarih}"
							valueMax="#{etkinlikController.etkinlikFilter.baslamatarihMax}" id="tarihForFilterCalendar" pattern="#{configurationController.dateTimePattern}" requiredCond="false"
							compId="tarih" />

						<arf:dropdownForFilter label="#{label['etkinlik.sehirRef']}" listSource="#{sessionUser.sehirItemList}" requiredCond="false" compId="sehirRef"
							value="#{etkinlikController.etkinlikFilter.sehirRef}" converterId="#{'sehirConverter'}" id="sehirRefDropDownForFilter"
							ajaxEventListener="#{etkinlikController.handleChange}" changeEventUpdateComp="#{':etkinlikForm:ilceRefForFilterDropDown:ilceRefForFilter'}" />

						<arf:dropdownForFilter label="#{label['etkinlik.ilceRef']}" listSource="#{etkinlikController.ilceItemList}" requiredCond="false" compId="ilceRef"
							value="#{etkinlikController.etkinlikFilter.ilceRef}" converterId="#{'ilceConverter'}" id="ilceRefForFilterDropDown" />

						<arf:dualtextinputForFilter label="#{label['etkinlik.sorumlukisiRef']} - #{label['kisi.ad']} - #{label['kisi.soyad']}" requiredCond="false" compId="kisiad"
							style="width:80px" value="#{etkinlikController.etkinlikFilter.sorumluad}" maxLength="10" id="kisiAdSoyadForFilterDualTextInput" requiredCond2="false"
							compId2="kisisoyad" style2="width:80px" value2="#{etkinlikController.etkinlikFilter.sorumlusoyad}" maxLength2="10" />

						<arf:dropdownForFilter label="#{label['etkinlik.durum']}" listSource="#{enumeratedController.etkinlikDurumItems}" requiredCond="false" compId="durum"
							value="#{etkinlikController.etkinlikFilter.durum}" id="durumForFilterDropDown" addNullOption="true" />

					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{etkinlikController}" formName="etkinlikForm" listPanelName="etkinlikListPanel" filterPanelName="etkinlikFilterPanel"
						modelName="Etkinlik" />
				</p:fieldset>

				<div id="divleft">
					<p:fieldset legend="#{label['etkinlik.list']}" styleClass="pageFieldSet" id="etkinlikListPanel">
						<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
							<p:commandButton id="etkinlikkatilimciCommand" process="@this" icon="child" action="#{etkinlikController.etkinlikkatilimci}"
								rendered="#{etkinlikController.listRenderedFor('Etkinlikkatilimci')}" disabled="#{etkinlikController.etkinlik.RID == null || etkinlikController.etkinlik.durumKontrol}"
								value="#{label['command.etkinlikkatilimci']}" styleClass="arfCommandButton" />
							<p:commandButton id="etkinlikkurulCommand" process="@this" icon="child" action="#{etkinlikController.etkinlikkurul}"
								rendered="#{etkinlikController.listRenderedFor('Etkinlikkurul')}" disabled="#{etkinlikController.etkinlik.RID == null || etkinlikController.etkinlik.durumKontrol}"
								value="#{label['command.etkinlikkurul']}" styleClass="arfCommandButton" />
							<p:commandButton id="etkinlikKurumCommand" process="@this" icon="child" action="#{etkinlikController.etkinlikKurum}"
								rendered="#{etkinlikController.listRenderedFor('EtkinlikKurum')}" disabled="#{etkinlikController.etkinlik.RID == null || etkinlikController.etkinlik.durumKontrol}"
								value="#{label['command.etkinlikKurum']}" styleClass="arfCommandButton" />
							<p:commandButton id="etkinlikdosyaCommand" process="@this" icon="child" action="#{etkinlikController.etkinlikdosya}"
								rendered="#{etkinlikController.listRenderedFor('Etkinlikdosya')}" disabled="#{etkinlikController.etkinlik.RID == null || etkinlikController.etkinlik.durumKontrol}"
								value="#{label['command.etkinlikdosya']}" styleClass="arfCommandButton" />

						</h:panelGrid>
						<p:blockUI block="etkinlikTable" trigger="etkinlikTable">
							<h:outputText value="#{label['common.loading']}" />
							<br />
							<h:graphicImage library="_image" name="ajax-loader.gif" />
						</p:blockUI>
						<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="etkinlikTable" value="#{etkinlikController.list}" var="etkinlikRow" binding="#{etkinlikController.table}" rowIndexVar="rowIndex"
							selectionMode="single" selection="#{etkinlikController.entity}" filteredValue="#{etkinlikController.filteredList}" widgetVar="filterTable" rowKey="#{etkinlikRow.RID}"
							resizableColumns="false">

							<p:ajax event="rowSelect" listener="#{etkinlikController.tableRowSelect}" update=":etkinlikForm" />
							<p:ajax event="rowUnselect" listener="#{etkinlikController.tableRowCancelSelection}" update=":etkinlikForm" />

							<arftags:column val="#{etkinlikRow.durum.label}" header="#{label['etkinlik.durum']}" width="9" />
							<arftags:column val="#{etkinlikRow.birimRef.UIString}" header="#{label['etkinlik.birimRef']}" width="9" />
							<arftags:column val="#{etkinlikRow.donemRef.UIString}" header="#{label['etkinlik.donemRef']}" width="9" />
							<arftags:column val="#{etkinlikRow.etkinliktanimRef.UIString}" header="#{label['etkinlik.etkinliktanimRef']}" width="9" />
							<arftags:column val="#{etkinlikRow.ad}" header="#{label['etkinlik.ad']}" width="9" />
							<arftags:dateColumn filterMatchMode="contains" val="#{etkinlikRow.baslamatarih}" header="#{label['etkinlik.baslamatarih']}" width="9" />
							<!-- <arftags:dateColumn val="#{etkinlikRow.bitistarih}" header="#{label['etkinlik.bitistarih']}" width="9" />
							<arftags:column val="#{etkinlikRow.sehirRef.UIString}" header="#{label['etkinlik.sehirRef']}" width="9" />
							<arftags:column val="#{etkinlikRow.ilceRef.UIString}" header="#{label['etkinlik.ilceRef']}" width="9" />
							<arftags:column val="#{etkinlikRow.yer}" header="#{label['etkinlik.yer']}" width="9" />
							<arftags:column val="#{etkinlikRow.webadresi}" header="#{label['etkinlik.webadresi']}" width="9" />
							<arftags:column val="#{etkinlikRow.epostaadresi}" header="#{label['etkinlik.epostaadresi']}" width="9" />
							<arftags:column val="#{etkinlikRow.telefonno}" header="#{label['etkinlik.telefonno']}" width="9" /> -->
							<arftags:column val="#{etkinlikRow.sorumlukisiRef.UIString}" header="#{label['etkinlik.sorumlukisiRef']}" width="9" />

						</p:dataTable>

						<arf:pagingWithBlockUI controllerClassName="#{etkinlikController}" formName="etkinlikForm" listPanelName="etkinlikListPanel" pagingOption="true"
							tableName="etkinlikTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
					</p:fieldset>
				</div>
				<div id="divright">
					<p:fieldset id="etkinlikprogramSummaryPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['etkinlik.program']}"
						rendered="#{etkinlikController.etkinlik.RID != null}" style="width:94%">
						<h:panelGrid columns="2" columnClasses="otuzYuzde, yetmisYuzde">
							<arftags:detailItem header="#{label['etkinlik.program']}" val="#{etkinlikController.etkinlik.program}" colName="program" renderCondition="true" />
						</h:panelGrid>
					</p:fieldset>
				</div>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
