<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="etkinliktanimEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['etkinliktanim.edit']}"
		rendered="#{etkinliktanimController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

			<arf:textinput label="#{label['etkinliktanim.ad']}" value="#{etkinliktanimController.etkinliktanim.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="200" />

			<arf:dropdown label="#{label['etkinliktanim.periyodik']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="periyodik"
				value="#{etkinliktanimController.etkinliktanim.periyodik}" id="periyodikDropDown" addNullOption="false" ajaxEventListener="#{etkinliktanimController.handleChange}"
				changeEventUpdateComp="#{':etkinliktanimForm:inputPanel'}" />

			<arf:textinputarea label="#{label['etkinliktanim.genelbilgi']}" value="#{etkinliktanimController.etkinliktanim.aciklama}" compId="aciklama" requiredCond="false"
				id="aciklamaInputText" maxLength="2500" />

			<arf:textinputarea label="#{label['etkinliktanim.anahtarkelimeler']}" value="#{etkinliktanimController.etkinliktanim.anahtarkelimeler}" compId="anahtarkelimeler"
				requiredCond="true" id="anahtarkelimelerInputText" maxLength="1000" />

		</h:panelGrid>
		<p:outputPanel id="inputPanel">
			<p:fieldset id="etkinlikEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['etkinlik.edit']}"
				rendered="#{etkinliktanimController.etkinliktanim.goster}">
				<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

					<arf:dropdown label="#{label['etkinlik.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="true" compId="birimRef"
						value="#{etkinliktanimController.etkinlik.birimRef}" converterId="#{'birimConverter'}" id="birimRefDropDown" />

					<arf:dropdown label="#{label['etkinlik.donemRef']}" listSource="#{etkinliktanimController.selectItemListFor('Donem')}" requiredCond="true" compId="donemRef"
						value="#{etkinliktanimController.etkinlik.donemRef}" converterId="#{'donemConverter'}" id="donemRefDropDown" />

					<arf:calendar label="#{label['etkinlik.baslamatarih']}" value="#{etkinliktanimController.etkinlik.baslamatarih}" id="baslamatarihCalendar"
						pattern="#{configurationController.datePattern}" requiredCond="true" compId="baslamactarih" />

					<arf:calendar label="#{label['etkinlik.bitistarih']}" value="#{etkinliktanimController.etkinlik.bitistarih}" id="bitistarihCalendar"
						pattern="#{configurationController.datePattern}" requiredCond="true" compId="bitistarih" />

					<arf:dropdown label="#{label['etkinlik.sehirRef']}" listSource="#{sessionUser.sehirItemList}" requiredCond="true" compId="sehirRef"
						value="#{etkinliktanimController.etkinlik.sehirRef}" converterId="#{'sehirConverter'}" id="sehirRefDropDown" ajaxEventListener="#{etkinliktanimController.handleChange}"
						changeEventUpdateComp="#{':etkinliktanimForm:ilceRefDropDown:ilceRef'}" />

					<arf:dropdown label="#{label['birim.ilceRef']}" listSource="#{etkinliktanimController.ilceItemList}" requiredCond="true" compId="ilceRef"
						value="#{etkinliktanimController.etkinlik.ilceRef}" converterId="#{'ilceConverter'}" id="ilceRefDropDown" />

					<arf:textinputarea label="#{label['etkinlik.yer']}" value="#{etkinliktanimController.etkinlik.yer}" compId="yer" requiredCond="true" id="yerInputText" maxLength="2500" />

					<arf:textinputarea label="#{label['etkinlik.program']}" value="#{etkinliktanimController.etkinlik.program}" compId="program" requiredCond="true" id="programInputText"
						maxLength="5000" />

					<arf:textinput label="#{label['etkinlik.webadresi']}" value="#{etkinliktanimController.etkinlik.webadresi}" compId="webadresi" requiredCond="false"
						id="webadresiInputText" maxLength="500" />

					<arf:textinput label="#{label['etkinlik.epostaadresi']}" value="#{etkinliktanimController.etkinlik.epostaadresi}" compId="epostaadresi" requiredCond="false"
						id="epostaadresiInputText" maxLength="500" />

					<arf:textinput label="#{label['etkinlik.telefonno']}" value="#{etkinliktanimController.etkinlik.telefonno}" compId="telefonno" requiredCond="false"
						id="telefonnoInputText" maxLength="500" />

					<arf:suggestbox label="#{label['etkinlik.sorumlukisiRef']}" methodName="#{etkinliktanimController.completeMethod}" requiredCond="false" compId="sorumlukisiRef"
						value="#{etkinliktanimController.etkinlik.sorumlukisiRef}" id="sorumlukisiRefSuggestBox" converterId="#{'kisiConverter'}" modelName="#{'Kisi'}" var="sorumluRec"
						itemValue="#{sorumluRec}" itemLabel="#{sorumluRec}" />

					<arf:dropdown label="#{label['etkinlik.durum']}" listSource="#{enumeratedController.etkinlikDurumItems}" requiredCond="true" compId="durum"
						value="#{etkinliktanimController.etkinlik.durum}" id="durumDropDown" addNullOption="false" />

				</h:panelGrid>

			</p:fieldset>
		</p:outputPanel>
		<arf:editPanelBottomWithBlockUI controllerClassName="#{etkinliktanimController}" formName="etkinliktanimForm" listPanelName="etkinliktanimListPanel"
			editPanelName="etkinliktanimEditPanel" modelName="Etkinliktanim" />
	</p:fieldset>


</ui:composition>