<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="etkinliktanimForm" prependId="false">
				<ui:include src="/_page/form/etkinlik/etkinliktanim_Edit.xhtml" />

				<p:fieldset id="etkinliktanimFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{etkinliktanimController.collapsed}"
					legend="#{label['etkinliktanim.query']}" rendered="#{!etkinliktanimController.editPanelRendered}">
					<p:ajax listener="#{etkinliktanimController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:textinputForFilter label="#{label['etkinliktanim.ad']}" value="#{etkinliktanimController.etkinliktanimFilter.ad}" compId="ad" requiredCond="false"
							id="adForFilterInputText" maxLength="200" />

						<arf:dropdownForFilter label="#{label['etkinliktanim.periyodik']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="false" compId="periyodik"
							value="#{etkinliktanimController.etkinliktanimFilter.periyodik}" id="periyodikForFilterDropDown" addNullOption="true" />

						<arf:textinputForFilter label="#{label['etkinliktanim.anahtarkelimeler']}" value="#{etkinliktanimController.etkinliktanimFilter.anahtarkelimeler}"
							compId="anahtarkelimeler" requiredCond="false" id="anahtarkelimelerForFilterInputText" maxLength="100" />

					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{etkinliktanimController}" formName="etkinliktanimForm" listPanelName="etkinliktanimListPanel"
						filterPanelName="etkinliktanimFilterPanel" modelName="Etkinliktanim" />
				</p:fieldset>

				<div id="divleft">
					<p:fieldset legend="#{label['etkinliktanim.list']}" styleClass="pageFieldSet" id="etkinliktanimListPanel">
						<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
						</h:panelGrid>
						<p:blockUI block="etkinliktanimTable" trigger="etkinliktanimTable">
							<h:outputText value="#{label['common.loading']}" />
							<br />
							<h:graphicImage library="_image" name="ajax-loader.gif" />
						</p:blockUI>
						<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="etkinliktanimTable" value="#{etkinliktanimController.list}" var="etkinliktanimRow" binding="#{etkinliktanimController.table}"
							rowIndexVar="rowIndex" selectionMode="single" selection="#{etkinliktanimController.entity}" filteredValue="#{etkinliktanimController.filteredList}"
							widgetVar="filterTable" rowKey="#{etkinliktanimRow.RID}" resizableColumns="false">

							<p:ajax event="rowSelect" listener="#{etkinliktanimController.tableRowSelect}" update=":etkinliktanimForm" />
							<p:ajax event="rowUnselect" listener="#{etkinliktanimController.tableRowCancelSelection}" update=":etkinliktanimForm" />

							<arftags:column val="#{etkinliktanimRow.ad}" header="#{label['etkinliktanim.ad']}" width="33" />
							<arftags:column val="#{etkinliktanimRow.periyodik.label}" header="#{label['etkinliktanim.periyodik']}" width="33" />
							<arftags:column val="#{etkinliktanimRow.anahtarkelimeler}" header="#{label['etkinliktanim.anahtarkelimeler']}" width="33" />

						</p:dataTable>

						<arf:pagingWithBlockUI controllerClassName="#{etkinliktanimController}" formName="etkinliktanimForm" listPanelName="etkinliktanimListPanel" pagingOption="true"
							tableName="etkinliktanimTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
					</p:fieldset>

				</div>
				<div id="divright">
					<p:fieldset id="etkinliktanimSummaryPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['etkinliktanim.summary']}"
						rendered="#{etkinliktanimController.etkinliktanim.RID != null}" style="width:94%">
						<h:panelGrid columns="2" columnClasses="otuzYuzde, yetmisYuzde">
							<arftags:detailItem header="#{label['etkinliktanim.genelbilgi']}" val="#{etkinliktanimController.etkinliktanim.aciklama}" colName="aciklama" renderCondition="true" />
						</h:panelGrid>
					</p:fieldset>
				</div>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
