<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="etkinlikEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['etkinlik.edit']}" rendered="#{etkinlikController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['etkinlik.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="true" compId="birimRef"
				value="#{etkinlikController.etkinlik.birimRef}" converterId="#{'birimConverter'}" id="birimRefDropDown" />

			<arf:dropdown label="#{label['etkinlik.donemRef']}" listSource="#{etkinlikController.selectItemListFor('Donem')}" requiredCond="true" compId="donemRef"
				value="#{etkinlikController.etkinlik.donemRef}" converterId="#{'donemConverter'}" id="donemRefDropDown" />

			<arf:dropdown label="#{label['etkinlik.etkinliktanimRef']}" listSource="#{etkinlikController.selectItemListFor('Etkinliktanim')}" requiredCond="true"
				compId="etkinliktanimRef" value="#{etkinlikController.etkinlik.etkinliktanimRef}" converterId="#{'etkinliktanimConverter'}" id="etkinliktanimRefDropDown" />

			<arf:textinput label="#{label['etkinlik.ad']}" value="#{etkinlikController.etkinlik.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="200" />

			<arf:calendar label="#{label['etkinlik.baslamatarih']}" value="#{etkinlikController.etkinlik.baslamatarih}" id="baslamatarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="baslamactarih" />

			<arf:calendar label="#{label['etkinlik.bitistarih']}" value="#{etkinlikController.etkinlik.bitistarih}" id="bitistarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="bitistarih" />

			<arf:dropdown label="#{label['etkinlik.sehirRef']}" listSource="#{sessionUser.sehirItemList}" requiredCond="true" compId="sehirRef"
				value="#{etkinlikController.etkinlik.sehirRef}" converterId="#{'sehirConverter'}" id="sehirRefDropDown" ajaxEventListener="#{etkinlikController.handleChange}"
				changeEventUpdateComp="#{':etkinlikForm:ilceRefDropDown:ilceRef'}" />

			<arf:dropdown label="#{label['birim.ilceRef']}" listSource="#{etkinlikController.ilceItemList}" requiredCond="true" compId="ilceRef"
				value="#{etkinlikController.etkinlik.ilceRef}" converterId="#{'ilceConverter'}" id="ilceRefDropDown" />

			<arf:textinputarea label="#{label['etkinlik.yer']}" value="#{etkinlikController.etkinlik.yer}" compId="yer" requiredCond="true" id="yerInputText" maxLength="2500" />

			<arf:textinputarea label="#{label['etkinlik.program']}" value="#{etkinlikController.etkinlik.program}" compId="program" requiredCond="true" id="programInputText"
				maxLength="5000" />

			<arf:textinput label="#{label['etkinlik.webadresi']}" value="#{etkinlikController.etkinlik.webadresi}" compId="webadresi" requiredCond="false" id="webadresiInputText"
				maxLength="500" />

			<arf:textinput label="#{label['etkinlik.epostaadresi']}" value="#{etkinlikController.etkinlik.epostaadresi}" compId="epostaadresi" requiredCond="false"
				id="epostaadresiInputText" maxLength="500" />

			<arf:textinput label="#{label['etkinlik.telefonno']}" value="#{etkinlikController.etkinlik.telefonno}" compId="telefonno" requiredCond="false" id="telefonnoInputText"
				maxLength="500" />

			<arf:suggestboxWithPreviousValue label="#{label['etkinlik.sorumlukisiRef']}" methodName="#{etkinlikController.completeMethod}" requiredCond="false" compId="sorumlukisiRef"
				value="#{etkinlikController.etkinlik.sorumlukisiRef}" id="sorumlukisiRefSuggestBox" converterId="#{'kisiConverter'}" modelName="#{'Kisi'}" var="sorumlukisiRec"
				itemValue="#{sorumlukisiRec}" itemLabel="#{sorumlukisiRec}" deleteRendered="true" compIdForPreviousValue="sorumlukisiPrevious"
				outputValue="#{etkinlikController.etkinlik.sorumlukisiRefPrev}" action="#{etkinlikController.deletePreviousSorumlu}" />

			<arf:dropdown label="#{label['etkinlik.durum']}" listSource="#{enumeratedController.etkinlikDurumItems}" requiredCond="true" compId="durum"
				value="#{etkinlikController.etkinlik.durum}" id="durumDropDown" addNullOption="false" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{etkinlikController}" formName="etkinlikForm" listPanelName="etkinlikListPanel" editPanelName="etkinlikEditPanel"
			modelName="Etkinlik" />
	</p:fieldset>

</ui:composition>