<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="dolasimsablondetayEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['dolasimsablondetay.edit']}"
		rendered="#{dolasimsablondetayController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

			<arf:textoutput label="#{label['dolasimsablondetay.sirano']}" value="#{dolasimsablondetayController.dolasimsablondetay.sirano}" id="siranoOutputText" />

			<arf:dropdown label="#{label['dolasimsablondetay.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="false" compId="birimRef"
				value="#{dolasimsablondetayController.dolasimsablondetay.birimRef}" converterId="#{'birimConverter'}" id="birimRefDropDown" />

			<arf:dropdown label="#{label['dolasimsablondetay.personelRef']}" listSource="#{dolasimsablondetayController.selectItemListFor('Personel')}" requiredCond="false"
				compId="personelRef" value="#{dolasimsablondetayController.dolasimsablondetay.personelRef}" converterId="#{'personelConverter'}" id="personelRefDropDown" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{dolasimsablondetayController}" formName="dolasimsablondetayForm" listPanelName="dolasimsablondetayListPanel"
			editPanelName="dolasimsablondetayEditPanel" modelName="Dolasimsablondetay" />
	</p:fieldset>

</ui:composition>