<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="dolasimsablondetayForm" prependId="false">
				<arf:masterPanel controllerClassName="#{dolasimsablondetayController}" masterLabel="#{label['dolasimsablon.list']}" modelName="dolasimsablondetay" />
				<ui:include src="/_page/form/evrak/evrakDetay/dolasimsablondetay_Edit.xhtml" />
				<p:fieldset legend="#{label['dolasimsablondetay.list']}" styleClass="pageFieldSet" id="dolasimsablondetayListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="dolasimsablondetayTable" trigger="dolasimsablondetayTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="dolasimsablondetayTable" value="#{dolasimsablondetayController.list}" var="dolasimsablondetayRow"
						binding="#{dolasimsablondetayController.table}" rowIndexVar="rowIndex" selectionMode="single" selection="#{dolasimsablondetayController.entity}"
						filteredValue="#{dolasimsablondetayController.filteredList}" widgetVar="filterTable" rowKey="#{dolasimsablondetayRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{dolasimsablondetayController.tableRowSelect}" update=":dolasimsablondetayForm" />
						<p:ajax event="rowUnselect" listener="#{dolasimsablondetayController.tableRowCancelSelection}" update=":dolasimsablondetayForm" />

						<arftags:column filterMatchMode="contains" val="#{dolasimsablondetayRow.sirano}" header="#{label['dolasimsablondetay.sirano']}" width="10" />
						<arftags:column filterMatchMode="contains" val="#{dolasimsablondetayRow.birimRef.UIString}" header="#{label['dolasimsablondetay.birimRef']}" width="45" />
						<arftags:column filterMatchMode="contains" val="#{dolasimsablondetayRow.personelRef.UIString}" header="#{label['dolasimsablondetay.personelRef']}" width="45" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{dolasimsablondetayController}" formName="dolasimsablondetayForm" listPanelName="dolasimsablondetayListPanel"
						pagingOption="true" tableName="dolasimsablondetayTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false"
						exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
