<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="evrakdolasimForm" prependId="false">
				<arf:masterPanel controllerClassName="#{evrakdolasimController}" masterLabel="#{label['evrak.list']}" modelName="evrakdolasim" />
				<ui:include src="/_page/form/evrak/evrakDetay/evrakdolasim_Edit.xhtml" />
				<p:fieldset legend="#{label['evrakdolasim.list']}" styleClass="pageFieldSet" id="evrakdolasimListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="evrakdolasimTable" trigger="evrakdolasimTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="evrakdolasimTable" value="#{evrakdolasimController.list}" var="evrakdolasimRow" binding="#{evrakdolasimController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{evrakdolasimController.entity}" filteredValue="#{evrakdolasimController.filteredList}" widgetVar="filterTable"
						rowKey="#{evrakdolasimRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{evrakdolasimController.tableRowSelect}" update=":evrakdolasimForm" />
						<p:ajax event="rowUnselect" listener="#{evrakdolasimController.tableRowCancelSelection}" update=":evrakdolasimForm" />

						<arftags:column val="#{rowIndex + 1}" header="#" width="2" />
						<arftags:column val="#{evrakdolasimRow.birimRef.UIString}" header="#{label['evrakdolasim.birimRef']}" width="20" />
						<arftags:column val="#{evrakdolasimRow.personelRef.UIString}" header="#{label['evrakdolasim.personelRef']}" width="20" />
						<arftags:dateColumn val="#{evrakdolasimRow.gelistarih}" header="#{label['evrakdolasim.gelistarih']}" width="20" />
						<arftags:dateColumn val="#{evrakdolasimRow.gidistarih}" header="#{label['evrakdolasim.gidistarih']}" width="20" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{evrakdolasimController}" formName="evrakdolasimForm" listPanelName="evrakdolasimListPanel" pagingOption="true"
						tableName="evrakdolasimTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
