<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="evrakekEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['evrakek.edit']}" rendered="#{evrakekController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="kirkYuzde, altmisYuzde" styleClass="arfEditGrid">

			<arf:textinputarea label="#{label['evrakek.tanim']}" value="#{evrakekController.evrakek.tanim}" compId="tanim" requiredCond="true" id="tanimInputText" maxLength="2500" />

			<arf:fileUpload label="#{label['evrakek.path']}" requiredCond="true" compId="#{'evrakekRef'}" allowTypes="/(\.|\/)(pdf|doc?x|xls?x|jpe?g|gif|png)$/" updateComp="@parent"
				processComp="@parent" sizeLimit="1500000" controllerClassName="#{evrakekController}" style="width:600px" />
		</h:panelGrid>



		<arf:editPanelBottomWithBlockUI controllerClassName="#{evrakekController}" formName="evrakekForm" listPanelName="evrakekListPanel" editPanelName="evrakekEditPanel"
			modelName="Evrakek" />
	</p:fieldset>

</ui:composition>