<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="evrakekForm" prependId="false">
				<arf:masterPanel controllerClassName="#{evrakekController}" masterLabel="#{label['evrak.list']}" modelName="evrakek" />

				<ui:include src="/_page/form/evrak/evrakDetay/evrakek_Edit.xhtml" />

				<p:fieldset legend="#{label['evrakek.list']}" styleClass="pageFieldSet" id="evrakekListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="evrakekTable" trigger="evrakekTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="evrakekTable" value="#{evrakekController.list}" var="evrakekRow" binding="#{evrakekController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{evrakekController.entity}" filteredValue="#{evrakekController.filteredList}" widgetVar="filterTable" rowKey="#{evrakekRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{evrakekController.tableRowSelect}" update=":evrakekForm" />
						<p:ajax event="rowUnselect" listener="#{evrakekController.tableRowCancelSelection}" update=":evrakekForm" />

						<arftags:column val="#{evrakekRow.tanim}" header="#{label['evrakek.tanim']}" width="70" />
						<arftags:downloadColumn val="#{evrakekRow}" width="25" />
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{evrakekController}" formName="evrakekForm" listPanelName="evrakekListPanel" pagingOption="true" tableName="evrakekTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
