<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="evrakdolasimEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['evrakdolasim.edit']}"
		rendered="#{evrakdolasimController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['evrakdolasim.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="false" compId="birimRef"
				value="#{evrakdolasimController.evrakdolasim.birimRef}" converterId="#{'birimConverter'}" id="birimRefDropDown" />
			<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde, otuzYuzde, kirkYuzde">
				<h:outputText value="#{label['evrakdolasim.personelRef']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
				<h:panelGroup>
					<p:autoComplete value="#{evrakdolasimController.evrakdolasim.personelRef}" completeMethod="#{evrakdolasimController.completeMethod}" maxResults="50" queryDelay="500"
						id="personelRefAutoComplete" minQueryLength="3" required="false" forceSelection="true" var="personelRec" itemValue="#{personelRec}" itemLabel="#{personelRec.UIString}">
						<f:converter converterId="personelConverter" />
						<f:ajax event="itemSelect" process="@this" />
						<f:attribute name="modelNameForAutoComplete" value="#{'Personel'}" />
					</p:autoComplete>
				</h:panelGroup>
				<p:message for="personelRefAutoComplete" />
			</h:panelGrid>
			<arf:calendar label="#{label['evrakdolasim.gelistarih']}" value="#{evrakdolasimController.evrakdolasim.gelistarih}" id="gelistarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="gelistarih" />

			<arf:calendar label="#{label['evrakdolasim.gidistarih']}" value="#{evrakdolasimController.evrakdolasim.gidistarih}" id="gidistarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="gidistarih" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{evrakdolasimController}" formName="evrakdolasimForm" listPanelName="evrakdolasimListPanel"
			editPanelName="evrakdolasimEditPanel" modelName="Evrakdolasim" />
	</p:fieldset>

</ui:composition>