<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="evrakdolasimbildirimForm" prependId="false">
				<arf:masterPanel controllerClassName="#{evrakdolasimbildirimController}" masterLabel="#{label['evrak.list']}" modelName="evrakdolasimbildirim" />
				<ui:include src="/_page/form/evrak/evrakDetay/evrakdolasimbildirim_Edit.xhtml" />
				<p:fieldset legend="#{label['evrakdolasimbildirim.list']}" styleClass="pageFieldSet" id="evrakdolasimbildirimListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="evrakdolasimbildirimTable" trigger="evrakdolasimbildirimTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="evrakdolasimbildirimTable" value="#{evrakdolasimbildirimController.list}" var="evrakdolasimbildirimRow"
						binding="#{evrakdolasimbildirimController.table}" rowIndexVar="rowIndex" selectionMode="single" selection="#{evrakdolasimbildirimController.entity}"
						filteredValue="#{evrakdolasimbildirimController.filteredList}" widgetVar="filterTable" rowKey="#{evrakdolasimbildirimRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{evrakdolasimbildirimController.tableRowSelect}" update=":evrakdolasimbildirimForm" />
						<p:ajax event="rowUnselect" listener="#{evrakdolasimbildirimController.tableRowCancelSelection}" update=":evrakdolasimbildirimForm" />

						<arftags:column val="#{evrakdolasimbildirimRow.gonderenRef}" header="#{label['evrakdolasimbildirim.gonderenRef']}" width="20" />
						<arftags:column val="#{evrakdolasimbildirimRow.aliciRef}" header="#{label['evrakdolasimbildirim.aliciRef']}" width="20" />
						<arftags:dateColumn val="#{evrakdolasimbildirimRow.tarih}" header="#{label['evrakdolasimbildirim.tarih']}" width="20" />
						<arftags:column val="#{evrakdolasimbildirimRow.aciklama}" header="#{label['evrakdolasimbildirim.aciklama']}" width="20" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{evrakdolasimbildirimController}" formName="evrakdolasimbildirimForm" listPanelName="evrakdolasimbildirimListPanel"
						pagingOption="true" tableName="evrakdolasimbildirimTable" addExport="true" addOption="false" updateOption="false" deleteOption="true" addSubRecordOption="false"
						exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
