<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="evrakdolasimbildirimEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['evrakdolasimbildirim.edit']}"
		rendered="#{evrakdolasimbildirimController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">


			<arf:dropdown label="#{label['evrakdolasimbildirim.gonderenRef']}" listSource="#{evrakdolasimbildirimController.selectItemListFor('Personel')}" requiredCond="true"
				compId="gonderenRef" value="#{evrakdolasimbildirimController.evrakdolasimbildirim.gonderenRef}" converterId="#{'personelConverter'}" id="gonderenRefDropDown" />

			<arf:dropdown label="#{label['evrakdolasimbildirim.aliciRef']}" listSource="#{evrakdolasimbildirimController.selectItemListFor('Personel')}" requiredCond="true"
				compId="aliciRef" value="#{evrakdolasimbildirimController.evrakdolasimbildirim.aliciRef}" converterId="#{'personelConverter'}" id="aliciRefDropDown" />

			<arf:calendar label="#{label['evrakdolasimbildirim.tarih']}" value="#{evrakdolasimbildirimController.evrakdolasimbildirim.tarih}" id="tarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="tarih" />

			<arf:textinput label="#{label['evrakdolasimbildirim.aciklama']}" value="#{evrakdolasimbildirimController.evrakdolasimbildirim.aciklama}" compId="aciklama"
				requiredCond="false" id="aciklamaInputText" maxLength="255" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{evrakdolasimbildirimController}" formName="evrakdolasimbildirimForm" listPanelName="evrakdolasimbildirimListPanel"
			editPanelName="evrakdolasimbildirimEditPanel" modelName="Evrakdolasimbildirim" />
	</p:fieldset>

</ui:composition>