@CHARSET "UTF-8";

* {
	font-family: Calibri, Arial, Tahoma, sans-Serif;
}

body {
	color: #616161;
	margin: none !important;
	padding: none !important;
}

.mainPageFieldSet {
	width: 100% !important;
	margin-left: -5px !important;
	margin-top: -5px !important;
	margin-bottom: 5px !important;
	padding: none !important;
	height: 98% !important;
	color: #333333 !important;
}

/* Header */
.headerOperationPanel {
	border: 1px dotted #5774C7;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

.arfBannerText {
	text-align: left;
	font-size: 14px;
	font-weight: normal;
	width: 99.2%;
	background: #04518C !important;
	border: solid 0px red;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	height: 60px !important;
}

.ownerTitle {
	font-size: 12px;
	font-family: inherit;
	font-weight: bold;
	color: #ffffff;
	margin-left: 8px !important;
}

.textShadow1 {
	text-shadow: 0px 0px #ffffff, 1px 1px #000000;
	font-family: calibri;
}

.floatLeft {
	float: left;
}

#headerBottom {
	margin: none;
	left: 0px;
	width: 100%;
	height: 24px;
	padding-top: 3px;
	color: #FFFFFF;
	background-color: #04518C;
}

.projectTitle {
	color: #6A747E;
	font-size: 18px;
	margin: 10px;
}

/* Main Page */
#page {
	background-color: #eaedf1;
	margin: none;
	width: 100%;
}

/* Content */
.content {
	float: left;
	width: 100%;
	min-width: 500px;
	margin-right: 0px;
	margin-top: 5px;
}

/* Navigation */
.navigator {
	float: left;
	width: 10%;
	height: 810px;
	margin-left: 0px;
	margin-right: 5px;
	margin-top: 5px;
	overflow: hidden;
}

.menuAccordion {
	padding-top: 1px !important;
	border: 1px solid lighgray;
	-moz-border-radius: 10px !important;
	border-radius: 10px !important;
	-webkit-box-shadow: 2px 2px 0px 0px !important;
	box-shadow: 2px 2px 0px 0px !important;
}

div.menu a {
	color: #1B1B1B;
	background-color: #E2E2E2;
	padding: .3em .8em;
	text-decoration: none;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 2px 2px lightgray;
	-moz-box-shadow: 2px 2px lightgray;
	-webkit-box-shadow: 2px 2px lightgray;
	display: table;
	border: 1px solid #ffffff;
	white-space: nowrap;
	width: 90%;
}

div.menu a:hover {
	background-color: #999;
}

.menuLinks {
	margin-top: 5px;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}

.menuLinks:hover {
	color: #ffffff;
	text-decoration: none;
}

/* Footer */
.footer {
	height: 30px;
	font-size: x-small;
	margin-top: 10px;
	width: 100%;
	margin-left: none;
}

/* Message Boxes */
#globalMessages {
	position: absolute !important;
	left: 30%;
	top: 5px;
	width: 40%;
	height: 18px;
	z-index: 60;
	background: none;
	border: none;
}

.infoBox,.successBox,.warningBox,.errorBox,.validation {
	border: 3px inset !important;
	margin: 0px 0px 0px 0px !important; /*top-right-bottom-left*/
	padding: 8px 3px 0px 50px !important; /*top-right-bottom-left*/
	background-repeat: no-repeat !important;
	background-position: 10px center !important;
	font-size: 11px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
	height: 25px;
	vertical-align: middle;
	valign: middle;
	list-style-type: none;
}

.infoBox {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('_image/boxIcons/info.png') !important;
	-moz-border-radius: 6px !important;
	border-radius: 6px !important;
}

.successBox {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('_image/boxIcons/success.png') !important;
	-moz-border-radius: 6px !important;
	border-radius: 6px !important;
}

.warningBox {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('_image/boxIcons/warning.png');
	-moz-border-radius: 6px !important;
	border-radius: 6px !important;
}

.errorBox {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('_image/boxIcons/error.png');
	-moz-border-radius: 6px !important;
	border-radius: 6px !important;
}

.validationBox {
	color: #D63301;
	background-color: #FFCCBA;
	background-image: url('_image/boxIcons/error.png');
}

/* Form & Query Page */
.editPanel .ui-panel {
	height: 100%;
	width: 100%;
	font-size: xx-small;
	background-color: navy;
	position: relative;
	margin: 0 0 0 0;
}

.editPanelGrid {
	width: 100%;
	margin-left: 2%;
	margin-top: 10px;
	margin-bottom: 10px;
}

ui-growl {
	position: fixed;
	top: 20px;
	left: 37%;
	width: 360px;
	height: 110px;
	z-index: 9999;
}

.arfDataPanel {
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px gray;
	-webkit-box-shadow: 2px 2px gray;
	box-shadow: 2px 2px gray;
	width: 100%;
	margin-left: 1.5%;
	margin-top: 10px;
	margin-bottom: 20px;
}

.pageFieldSet {
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 2px 2px gray;
	-webkit-box-shadow: 2px 2px gray;
	box-shadow: 2px 2px gray;
	width: 99%;
	margin-left: none !important;
	margin-top: 10px;
	margin-bottom: 10px;
}

.pageFieldSetMasterLink {
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 1px 1px gray;
	-webkit-box-shadow: 1px 1px gray;
	box-shadow: 1px 1px gray;
	width: 99.5%;
	margin-left: none !important;
	margin-top: 5px !important;
	margin-bottom: none !important;
	height: 25px !important;
}

.pageFieldSetStronger {
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 3px 3px gray;
	-webkit-box-shadow: 3px 3px gray;
	box-shadow: 3px 3px gray;
	margin-top: 10px;
	margin-bottom: 10px;
}

.innerFieldSet {
	-moz-border-radius: 1px;
	border-radius: 1px;
	-moz-box-shadow: 1px 1px gray;
	-webkit-box-shadow: 1px 1px gray;
	box-shadow: 1px 1px gray;
	width: 99.5%;
	margin-top: 5px !important;
	margin-bottom: none !important;
	height: 25px !important;
}

.headerLink {
	font-size: 14px !important;
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;
}

.headerLink:hover {
	font-size: 14px !important;
	font-weight: bold;
	text-decoration: none;
	color: yellow;
}

.masterLink {
	font-size: 12px !important;
	font-weight: bold;
	text-decoration: none;
	color: #222222;
}

.masterLink:hover {
	font-size: 12px !important;
	font-weight: bold;
	text-decoration: none;
	color: orange;
}

.treeLink {
	font-size: 11px !important;
	font-weight: normal;
	text-decoration: none;
	color: #222222;
}

.treeLink:hover {
	text-decoration: none;
	color: orange;
}

#divfull {
	width: 99%;
	float: left;
	overflow-x: auto;
	border: 1px solid transparent !important;
}

#divleft {
	width: 68%;
	float: left;
	display: inline-block;
	overflow-x: auto;
	border: 1px solid transparent !important;
	border-right: 1px dotted gray !important;
	padding-right: 10px;
}

#divright {
	width: 30%;
	margin-left: 20px;
	padding-left: 10px;
	overflow-x: auto;
	border: 1px solid transparent !important;
}

.arfEditPanel {
	border-style: hidden;
}

.oddPanelGridRow {
	background: #D5E5E5;
}

.evenPanelGridRow {
	background: #FFFFFF;
}

.arfPanelGrid {
	font-size: small;
}

.arfEditGrid {
	font-size: small !important;
	padding-left: 0px !important;
	padding-top: 10px !important;
	width: 99% !important;
	margin-left: .5% !important;
}

.arfEditGridRow {
	padding-bottom: 20px;
}

.arfEditCommandGrid {
	font-size: small;
	padding-left: 40px;
	padding-top: 20px;
}

/* Button Styles*/
.arfCommandButton {
	font-size: small;
	margin-right: 3px !important;
}

.arfCommandButtonTopBottomMargin {
	font-size: small;
	margin-right: 5px !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

/* */
.arfMasterLink {
	color: navy;
	font-weight: bold;
}

.arfExportButton {
	margin-right: 2px;
	height: 28px;
	width: 28px;
}

.arfDataTable {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: small;
	-webkit-border-radius: 5px !important;
	border-radius: 5px !important;
	width: 99% !important;
	overflow-x: auto !important;
}

.errorMessages {
	color: red;
	font-weight: bold;
	font-size: 11px;
}

.arfJsfDataTable {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: small;
	border: 1px solid #C9D7E3;
	-moz-border-radius: 2px !important;
	border-radius: 2px !important;
	-moz-box-shadow: 2px 2px #C9D7E3 !important;
	-webkit-box-shadow: 2px 2px #C9D7E3 !important;
	box-shadow: 2px 2px #C9D7E3 !important;
}

.arfColumnHeader {
	font-weight: bold;
}

.optionalOutputText {
	color: black;
	font-size: 13px;
}

.requiredOutputText {
	color: red;
	font-weight: bold;
	font-size: 13px;
}

.requiredOutputText:after {
	content: " *";
}

.optionalInputText {
	color: black;
	width: 180px;
	font-size: 12px;
	font-weight: normal;
	height: 18px !important;
}

.requiredInputText {
	color: navy;
	width: 180px;
	font-size: 12px;
	font-weight: bold;
}

.detayBaslik {
	font-weight: bold;
	color: red;
	font-size: 13px;
}

.detayMetin {
	font-weight: normal;
	font-size: 13px;
	white-space: normal;
}

.exportImage {
	box-shadow: 1px 1px 1px #888888 !important;
	-moz-box-shadow: 1px 1px 1px #888888 !important;
	-webkit-box-shadow: 1px 1px 1px #888888 !important;
}

.columnFilterItem {
	width: 60px !important;
	height: 14px !important;
	float: right !important;
	clear: both !important;
	margin: 0px 20px 0px 5px !important;
	font-size: 10px !important;
	line-height: 12px !important;
}

.columnHeader {
	margin-left: 20px;
	font-family: inherit !important;
	font-size: 12px !important;
}

/* PANEL GRID WIDTH STYLES*/
.besYuzde {
	width: 5%;
}

.onYuzde {
	width: 10%;
}

.onUcYuzde {
	width: 13%;
}

.onBesYuzde {
	width: 15%;
}

.onAltiYuzde {
	width: 16%;
}

.yirmiYuzde {
	width: 20%;
}

.yirmiBesYuzde {
	width: 25%;
}

.otuzYuzde {
	width: 30%;
}

.otuzUcYuzde {
	width: 33%;
}

.otuzDortYuzde {
	width: 34%;
}

.otuzBesYuzde {
	width: 35%;
}

.kirkYuzde {
	width: 40%;
}

.kirkBesYuzde {
	width: 40%;
}

.elliYuzde {
	width: 50%;
}

.elliBesYuzde {
	width: 55%;
}

.altmisYuzde {
	width: 60%;
}

.altmisBesYuzde {
	width: 65%;
}

.yetmisYuzde {
	width: 70%;
}

.seksenYuzde {
	width: 80%;
}

.doksanYuzde {
	width: 90%;
}

/* Primefaces Modifications */
.ui-growl {
	left: 50%;
	top: 50%;
}

.ui-widget-content {
	font-size: small !important;
	padding: none !important;
}

.ui-widget-header {
	font-weight: bold !important;
}

.ui-datatable {
	margin-top: 10px !important;
	width: 100% !important;
	overflow: auto !important;
	padding-bottom: 10px !important;
	overflow-x: auto !important;
	overflow-y: none !important;
}

.ui-datatable .ui-sortable-column {
	cursor: pointer !important;
	font-weight: bold !important;
	text-align: left !important;
}

.ui-datatable .ui-paginator,.ui-datatable .ui-paginator {
	padding: none !important;
}

.ui-widget input {
	font-size: 12px !important;
	font-family: inherit;
}

.ui-widget select {
	font-size: 12px !important;
	font-family: inherit;
}

.ui-widget select list {
	width: 300px !important;
}

.ui-widget textarea {
	font-size: 11px !important;
	font-family: inherit;
}

.ui-stack {
	bottom: 28px !important;
	right: 40px !important;
}

.ui-button {
	margin: none !important;
	padding: none !important;
	height: 22px !important;
	font-size: 11px !important;
	font-family: inherit !important;
	box-shadow: 1px 1px 1px #888888 !important;
	-moz-box-shadow: 1px 1px 1px #888888 !important;
	-webkit-box-shadow: 1px 1px 1px #888888 !important;
}

.ui-button-icon-left {
	border-top: 0px solid transparent !important;
}

.ui-button-text {
	font-size: 11px !important;
	margin-left: 2px !important;
}

.ui-dt-c {
	font-size: 13px !important;
}

.ui-button-text-only {
	margin: none !important;
	padding: none !important;
	height: 20px !important;
	font-size: 11px !important;
}

.ui-growl {
	position: fixed;
	top: 40%;
	left: 37%;
	width: 300px;
	height: 90px;
	font-size: 11px !important;
}

.ui-widget,.ui-widget .ui-widget {
	font-size: 11px !important;
}

.ui-fieldset {
	padding-left: 5px !important;
	padding-right: 5px !important;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}

.ui-fieldset-legend {
	padding-left: 10px !important;
	padding-right: 10px !important;
	margin-bottom: 2px !important;
	margin-left: 10px !important;
	height: 10px !important;
	font-size: 12px !important;
	font-weight: bold !important;
	color: black !important;
	-moz-box-shadow: 1px 1px gray !important;
	-webkit-box-shadow: 1px 1px gray !important;
	box-shadow: 1px 1px gray !important;
	background: #ffffff !important;
}

/* .ui-icon-plusthick { */
/* 	background-image: url('../_image/plus.png') !important; */
/* 	background-position: 0px 0px !important; */
/* } */

/* .ui-icon-minusthick { */
/* 	background-image: url('../_image/minus.png') !important; */
/* 	background-position: 0px 0px !important; */
/* } */
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default
	{
	padding: none;
}

.ui-paginator,.ui-paginator-top .ui-widget-header {
	padding: none;
	margin: none;
}

.ui-widget,.ui-widget-content .ui-corner-all {
	-webkit-border-radius: .1em;
	-moz-border-radius: .1em;
	border-radius: .1em;
	margin: none;
	padding: none;
}

.ui-spinner {
	margin: none !important;
	padding: none !important;
	width: 80px !important;
}

.ui-spinner-input {
	width: 60px !important;
	font-size: 10px !important;
	height: 16px !important;
	margin: none !important;
	padding: none !important;
	padding-right: 2px !important;
	font-weight: bold !important;
}

.ui-spinner-button {
	height: 7px !important;
	margin: none !important;
	padding: none !important;
	-webkit-border-radius: none !important;
	-moz-border-radius: none !important;
	border-radius: none !important;
}

.ui-spinner-up {
	margin: none !important;
	padding: none !important;
	padding-top: 1px !important;
	-webkit-border-radius: none !important;
	-moz-border-radius: none !important;
	border-radius: none !important;
}

.ui-spinner-down {
	margin: none !important;
	padding: none !important;
	padding-bottom: 1px !important;
	-webkit-border-radius: none !important;
	-moz-border-radius: none !important;
	border-radius: none !important;
}

.ui-button-icon-only {
	height: 22px;
	width: 16px;
}

.ui-inputfield,.ui-widget-content .ui-inputfield,.ui-widget-header .ui-inputfield
	{
	box-shadow: none;
	margin: none;
	padding: none;
	font-size: 12px !important;
	padding: 1px;
	height: 18px !important;
	border: solid 1px #85b1de;
	background-color: white;
}

.ui-inputfield,.ui-widget-content .ui-inputfield,.ui-widget-header .ui-inputfield:active
	{
	font-size: 11px !important;
	margin: none;
	padding: none;
	height: 15px;
	border: solid 1px #85b1de;
	background-color: white;
}

.ui-datepicker-trigger {
	vertical-align: middle;
	padding-bottom: 2px;
}

.ui-selectonemenu {
	padding: none !important;
	margin: none !important;
	height: 18px !important;
	font-size: 11px !important;
	vertical-align: top !important;
	background: pink !important;
}

.ui-selectonemenu-label {
	padding: none !important;
	margin: none !important;
	font-size: 12px !important;
	text-align: left !important;
	font-weight: bold !important;
}

.ui-selectonemenu-trigger {
	padding: none !important;
	margin: none !important;
	width: 12px !important;
	font-size: 12px !important;
	vertical-align: top !important;
}

.ui-icon ui-icon-triangle-1-s {
	text-align: left !important;
	width: 10px !important;
	height: 10px !important;
}

.ui-selectonemenu-items {
	padding: none !important;
	margin: none !important;
	font-size: 11px !important;
	border: solid 1px #85b1de !important;
}

.ui-menubar {
	padding: none;
	margin: none;
	height: 24px;
	border: none;
	vertical-align: middle;
}

.ui-autocomplete-input {
	border: 1px inset green !important;
	height: 18px !important;
	background: #F1F1F1 !important;
	width: 180px !important;
}

.ui-autocomplete-panel {
	width: 320px !important;
}

.ui-autocomplete-list {
	width: 300px !important;
}

.ui-menuitem {
	padding: none;
	margin: none;
	margin-bottom: 2px;
}

.ui-dock-container-bottom {
	background: #757575;
}

.ui-dock-item-bottom {
	color: orange;
	font-weight: bold;
}

.ui-dock-item-bottom:hover {
	color: red;
}

.ui-fieldset-content {
	padding-top: 5px;
}

.ui-tabs {
	border: 1px solid lightgray !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	-moz-box-shadow: 1px 1px gray !important;
	-webkit-box-shadow: 1px 1px gray !important;
	box-shadow: 1px 1px gray !important;
	width: 99.5% !important;
	margin-left: .3% !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.ui-tabs-nav {
	color: #0088CC !important;
	margin: none !important;
	padding: none !important;
}

.ui-tabs-nav a {
	color: #0088CC !important;
}

.ui-tabs-selected {
	color: #0088CC !important;
	font-weight: bold !important;
	border-top: 1px solid darkgray !important;
	border-left: 1px solid darkgray !important;
	border-right: 1px solid darkgray !important;
	-moz-border-radius: 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}

.ui-breadcrumb {
	background-color: #04518C !important;
	height: 18px !important;
}

.ui-breadcrumb ul li a {
	text-decoration: none !important;
	font-weight: bold !important;
	font-size: 13px !important;
}

.ui-breadcrumb ul li a:hover {
	text-decoration: none !important;
	font-weight: bold !important;
	font-size: 13px !important;
	color: orange !important;
}

.ui-accordion-header {
	font-weight: bold !important;
	font-size: 14px !important;
	margin-bottom: 1px !important;
	border: 1px outset lightgray !important;
}

.ui-accordion-content {
	margin: none !important;
	padding: none !important;
}

.ui-panel-title {
	font-size: 13px !important;
}

.ui-panel-titlebar-icon {
	background: none !important;
	border: none !important;
}

.ui-state-highlight {
	opacity: 0.6 !important;
	filter: alpha(opacity =   60) !important; /* For IE8 and earlier */
	font-weight: bold !important;
}

.ui-dashboard {
	width: 99.5% !important;
	margin-left: .25% !important;
	height: 75% !important;
	background-color: #eaedf1;
	border: none !important;
	padding: none !important;
}

.ui-dashboard-column {
	width: 49.5% !important;
	margin-left: .5% !important;
	background-color: #eaedf1;
}

.keypad-clear {
	width: 70px !important;
}

.keypad-back {
	width: 70px !important;
}

.keypad-close {
	width: 70px !important;
}

/* RIBBON STYLE PAGES */
#ribbonPage {
	font-family: "Segoe UI", Verdana, Tahoma, Helvetica, sans-serif;
	cursor: default;
	font-size: 8pt;
	padding-top: 10px;
	background-color: #eaedf1;
	/* border-bottom: 1px solid #8b9097;
	-webkit-box-shadow: #8b9097 0px 1px 3px;
	-moz-box-shadow: #8b9097 0px 1px 3px;
	box-shadow: #8b9097 0px 1px 3px; */
	overflow: hidden;
	behavior: url(/PIE.htc);
	z-index: 25;
}

.ribbonPageTable {
	width: 100%;
	border: none;
	padding: none;
	margin: none;
	background: #EAEDF1;
	border-bottom: 1px solid #b6babf;
	border-left: 1px solid #b6babf;
	border-right: 1px solid #b6babf;
	-webkit-border-radius: 4px 4px 4px 4px; /*top-right-bottom-left*/
	-moz-border-radius: 4px 4px 4px 4px; /*top-right-bottom-left*/
	border-radius: 4px 4px 4px 4px; /*top-right-bottom-left*/
}

#ribbonPage .ribbonPage-tab-header {
	display: inline;
	margin: 0 5px;
	padding: 5px 10px;
	font-size: 10pt;
	color: #444; /*border: 1px solid #eaedf1;*/
	border-bottom: 1px solid #b6babf;
	border-top: 1px solid #b6babf;
	border-right: 1px solid #b6babf;
	-webkit-border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
	position: relative;
	z-index: 40;
}

#ribbonPage .ribbonPage-tab-headerDisabled {
	display: inline;
	margin: 0 5px;
	padding: 5px 10px;
	font-size: 10pt;
	border-bottom: 1px solid #b6babf;
	position: relative;
	z-index: 40;
}

#ribbonPage.backstage .ribbonPage-tab-header {
	border-bottom: 1px solid #1f48a1;
}

#ribbonPage .ribbonPage-tab-header:hover {
	background: #f1f3f4;
	border: 1px solid #b6babf;
	margin: -1px 4px;
	cursor: pointer;
}

#ribbonPage.backstage .ribbonPage-tab-header {
	border-bottom: 1px solid #1f48a1;
}

#ribbonPage .ribbonPage-tab-header.sel,#ribbonPage .ribbonPage-tab-header.sel:hover
	{
	background: #fff;
	margin: -1px 4px;
	border: 1px solid #b6babf;
	border-bottom: 1px solid #fff;
	cursor: default;
	z-index: 45;
}

#ribbonPage .ribbonPage-tab {
	padding: 5px;
	margin-top: 5px;
	border-top: 1px solid #b6babf;
	background: #FFFFFF;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff),
		to(#eaedf1));
	background: -moz-linear-gradient(#ffffff, #eaedf1);
	/*-pie-background: linear-gradient(#ffffff, #eaedf1);*/
	overflow: hidden;
	min-width: 500px;
	behavior: url(/PIE.htc);
	z-index: 30;
	-pie-watch-ancestors: 2;
}

#ribbonPage .section-title {
	color: #5B626C;
	text-align: center;
	clear: left;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

#ribbonPage .ribbonPage-section {
	float: left;
	position: relative;
}

#ribbonPage .ribbonPage-section-sep {
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #fff;
	margin: 0 5px;
	height: 70px;
	position: relative;
	width: 0;
	float: left;
}

/* END OF RIBBON STYLE PAGES */