@CHARSET "UTF-8";

* {
	font-family: Calibri, Arial, Tahoma, sans-Serif;
}

body {
	color: #616161;
	margin: none !important;
	padding: none !important; 
} 
/* Header */
#globalMessages {
	position: fixed;
	left: 25%;
	top: -25px;
	width: 60%;
	height: 40px;
	z-index: 60;
	background: none;
	border: none;
}

#header {
	height: 55px;
	position: absolute;
	top: -5px;
	left: 0px;
	margin: none !important;
	width: 99% !important;
	padding: 10px !important;
	background-color: #F0F0F4;
	background-image: url('_image/uyeTopBackground.png') !important;
	background-position: center center;
	background-repeat: repeat-x;
}

.headerOperationPanel {
	border: 1px dotted #5774C7;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

.arfBannerText {
	text-align: left;
	color: #5B5C5C;
	font-size: 16pt;
	font-weight: normal;
	width: 40%;
	border: solid 0px red;
}

.ownerTitle {
	font-size: 18px;
	font-family: Tahoma, Calibri, Arial;
	font-weight: bold;
	margin-left: 20px;
}

.textShadow1 {
	text-shadow: 0px 0px black, 1px 1px #ffffff;
	font-family: calibri;
}

.floatLeft {
	float: left;
}

.uyeMainMenuItemNoHover{
	display : block !important;
	padding: 6px !important;
	background: #CC161D !important;
	cursor: pointer;
	color: #ffffff; 
	font-size: 16px;
	text-decoration:none;
	font-family: calibri;
	border-bottom:1px solid #999999;
}

.uyeMainMenuItem{
	display : block !important;
	padding: 6px !important;
	background: #CC161D !important;
	cursor: pointer;
	color: #ffffff; 
	font-size: 16px;
	text-decoration:none;
	font-family: calibri;
	border-bottom:1px solid #999999;
}

.uyeMainMenuItem:hover{
	display : block !important;
	padding: 6px !important;
	background: #ffffff !important;
	cursor: pointer;
	color: #000000;
	text-decoration:none;
	font-family: calibri;
	border-bottom:1px solid #ffffff;
}

#headerBottom {
	margin: none;
	position: absolute;
	left: 0px;
	top: 56px;
	width: 100%;
	height: 24px;
	padding-top: 3px;
	color: #FFFFFF;
	/* background-color: #04518C;*/
}

.projectTitle {
	color: #6A747E;
	font-size: 18px;
	margin: 10px;
}

/* Main Page */
#page {
	background: #FFFFFF !important; 
	margin: none !important; 
	margin-top: 90px;
	width: 100% !important; 
}

/* Content */
.content {
	float: left;
	width: 100%;
	min-width: 500px;
	margin-right: 0px;
	margin-top: 5px;
}

/* Navigation */
.navigator {
	float: left;
	width: 10%;
	height: 810px;
	margin-left: 0px;
	margin-right: 5px;
	margin-top: 5px;
	overflow: hidden;
}

.menuAccordion {
	padding-top: 1px !important;
	border: 1px solid lighgray;
	-moz-border-radius: 10px !important;
	border-radius: 10px !important;
	-webkit-box-shadow: 2px 2px 0px 0px !important;
	box-shadow: 2px 2px 0px 0px !important;
}

div.menu a {
	color: #1B1B1B;
	background-color: #E2E2E2;
	padding: .3em .8em;
	text-decoration: none;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 2px 2px lightgray;
	-moz-box-shadow: 2px 2px lightgray;
	-webkit-box-shadow: 2px 2px lightgray;
	display: table;
	border: 1px solid #ffffff;
	white-space: nowrap;
	width: 90%;
}

div.menu a:hover {
	background-color: #999;
}

.menuLinks {
	margin-top: 5px;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.menuLinks:hover {
	color: #ffffff;
	text-decoration: none;
}

/* Footer */
.footer {	
	height: 95px;
	font-size: 14px;
	margin-top: 10px;
	width: 100%;
	margin-left: none;
	color: #ffffff;
	background-color: #CC161D; 
}
/* Info Boxes */
.infoBox,.successBox,.warningBox,.errorBox,.validation {
	border: 1px solid !important;
	margin: 0px 0px !important;
	padding: 15px 3px 0px 50px !important;
	background-repeat: no-repeat !important;
	background-position: 10px center !important;
	font-size: 12px !important;
	-moz-border-radius: 10px !important;
	border-radius: 10px !important;
	height: 30px;
	width: 300px;
	vertical-align: middle;
	valign: middle;
	list-style-type: none;
}

.infoBox {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('_image/boxIcons/info.png');
	-moz-border-radius: 10px !important;
	border-radius: 10px !important;
}

.successBox {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('_image/boxIcons/success.png') !important;
	-moz-border-radius: 10px !important;
	border-radius: 10px !important;
}

.warningBox {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('_image/boxIcons/warning.png');
	-moz-border-radius: 10px !important;
	border-radius: 10px !important;
}

.errorBox {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('_image/boxIcons/error.png');
	-moz-border-radius: 10px !important;
	border-radius: 10px !important;
}

.validationBox {
	color: #D63301;
	background-color: #FFCCBA;
	background-image: url('_image/boxIcons/error.png');
}

/* Form & Query Page */
.editPanel .ui-panel {
	height: 100% !important;
	width: 100% !important; 
	background-color: navy; 
	margin:  none !important;
	padding: none !important;
}

.editPanelGrid {
	width: 96%;
	margin-left: 2%;
	margin-top: 10px;
	margin-bottom: 10px;
}

ui-growl {
	position: fixed;
	top: 20px;
	left: 37%;
	width: 360px;
	height: 110px;
	z-index: 9999;
}

.arfDataPanel {
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px gray;
	-webkit-box-shadow: 2px 2px gray;
	box-shadow: 2px 2px gray;
	width: 96%;
	margin-left: 1.5%;
	margin-top: 10px;
	margin-bottom: 20px;
}

.pageFieldSet { 
	width: 99%; 
	margin-bottom: 10px;
	z-index: 55;
}

.pageFieldSetStronger {
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 3px 3px gray;
	-webkit-box-shadow: 3px 3px gray;
	box-shadow: 3px 3px gray;
	margin-top: 10px;
	margin-bottom: 10px;
}

.pageFieldSetMasterLink {
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 3px 3px gray;
	-webkit-box-shadow: 3px 3px gray;
	box-shadow: 3px 3px gray;
	width: 97%;
	margin-left: 1.5%;
	margin-top: 5px !important;
	margin-bottom: none !important;
	height: 25px !important;
}

.innerFieldSet {
	-moz-border-radius: 1px;
	border-radius: 1px;
	-moz-box-shadow: 1px 1px gray;
	-webkit-box-shadow: 1px 1px gray;
	box-shadow: 1px 1px gray;
	width: 99.5%;
	margin-top: 5px !important;
	margin-bottom: none !important;
	height: 25px !important;
}

.headerLink {
	font-size: 14px !important;
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;
}

.headerLink:hover {
	font-size: 14px !important;
	font-weight: bold;
	text-decoration: none;
	color: yellow;
}

.masterLink {
	font-size: 12px !important;
	font-weight: bold;
	text-decoration: none;
	color: #222222;
}

.masterLink:hover {
	font-size: 12px !important;
	font-weight: bold;
	text-decoration: none;
	color: orange;
}

.treeLink {
	font-size: 12px !important;
	font-weight: normal;
	text-decoration: none;
	color: #222222;
}

.treeLink:hover {
	text-decoration: none;
	color: orange;
}

#divfull {
	width: 100% !important;
	overflow-x: auto;
	border: 1px solid transparent !important;
}

#divleft {
	width: 68%;
	float: left;
	display: inline-block;
	overflow-x: auto;
	border: 1px solid transparent !important;
	border-right: 1px dotted gray !important;
	padding-right: 10px;
}

#divright {
	width: 30%;
	margin-left: 20px;
	padding-left: 10px;
	overflow-x: auto;
	border: 1px solid transparent !important;
}

.divleftYirmiYuzde {
	width: 19.5%;
	float: left;
	display: inline-block;
	overflow-x: none; 
	border-right: 1px dotted gray !important;
	padding: none;
}

.divrightSeksenYuzde {
	width: 80%;
	background: #ffffff;
	padding-left: .3% !important; 
	overflow-x: auto; 
	padding: none;
}

.divleftElliYuzde {
	width: 48.7%;
	float: left;
	display: inline-block;
	overflow-x: auto; 
	border-right: 1px dotted gray !important;
	padding: none;
}

.divrightElliYuzde {
	width: 48.7%;
	background: transparent;
	margin-left: 0.5% !important; 
	overflow-x: auto; 
	padding: none;
}


.arfEditPanel {
	border-style: hidden;
}

.oddPanelGridRow {
	background: #D5E5E5;
}

.evenPanelGridRow {
	background: #FFFFFF;
}

.arfPanelGrid {
	font-size: small;
}

.arfEditGrid {
	font-size: small !important;
	padding-left: 0px !important;
	padding-top: 10px !important;
	width: 99% !important;
	margin-left: .5% !important;
}

.arfEditGridRow {
	padding-bottom: 20px;
}

.arfEditCommandGrid {
	font-size: small;
	padding-left: 40px;
	padding-top: 20px;
}

/* Button Styles*/
.arfCommandButton {
	font-size: small;
	margin-right: 3px !important;
}

.arfCommandButtonTopBottomMargin {
	font-size: small;
	margin-right: 5px !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.kurumKisi {
	background-image: url('_image/menuIcon_KurumKisi.png') !important;
}

.gorev {
	background-image: url('_image/gorev.png') !important;
}

.print {
	background-image: url('_image/print.png') !important;
}
/* */
.arfMasterLink {
	color: navy;
	font-weight: bold;
}

.arfExportButton {
	margin-right: 2px;
	height: 28px;
	width: 28px;
}

.arfDataTable {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: small;
	-webkit-border-radius: 5px !important;
	border-radius: 5px !important;
}

.errorMessages {
	color: red;
	font-weight: bold;
	font-size: 12px;
}

.arfJsfDataTable {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: small;
	border: 1px solid #C9D7E3;
	-moz-border-radius: 2px !important;
	border-radius: 2px !important;
	-moz-box-shadow: 2px 2px #C9D7E3 !important;
	-webkit-box-shadow: 2px 2px #C9D7E3 !important;
	box-shadow: 2px 2px #C9D7E3 !important;
}

.arfColumnHeader {
	font-weight: bold;
}

.optionalOutputText {
	color: black;
	font-size: 14px;
}

.requiredOutputText {
	color: red;
	font-weight: bold;
	font-size: 14px;
}

.requiredOutputText:after {
	content: " *";
}

.optionalInputText {
	color: black;
	width: 180px;
	font-size: 12px;
	font-weight: normal;
}

.requiredInputText {
	color: navy;
	width: 180px;
	font-size: 12px;
	font-weight: bold;
}

.optionalMultipleInputText {
	color: black;
	width: 180px;
	font-size: 12px;
	font-weight: normal;
}

.requiredMultipleInputText {
	color: navy;
	width: 180px;
	font-size: 12px;
	font-weight: bold;
}

.detayBaslik {
	font-weight: bold;
	color: #AAA;
	font-size: 14px;
	
}

.detayMetin {
	font-weight: normal;
	font-size: 14px;
	white-space: normal;
}

.exportImage {
	box-shadow: 1px 1px 1px #888888 !important;
	-moz-box-shadow: 1px 1px 1px #888888 !important;
	-webkit-box-shadow: 1px 1px 1px #888888 !important;
}

.columnFilterItem {
	width: 60px !important;
	height: 14px !important;
	float: right !important;
	clear: both !important;
	margin: 0px 20px 0px 5px !important;
	font-size: 10px !important;
	line-height: 12px !important;
}

.columnHeader {
	margin-left: 20px;
	font-family: inherit !important;
	font-size: 12px !important;
}

/* PANEL GRID WIDTH STYLES*/
.besYuzde {
	width: 5%;
}

.onYuzde {
	width: 10%;
}

.onUcYuzde {
	width: 13%;
}

.onBesYuzde {
	width: 15%;
}

.onAltiYuzde {
	width: 16%;
}

.yirmiYuzde {
	width: 20%;
}

.yirmiBesYuzde {
	width: 25%;
}

.otuzYuzde {
	width: 30%;
}

.otuzUcYuzde {
	width: 33%;
}

.otuzDortYuzde {
	width: 34%;
}

.otuzBesYuzde {
	width: 35%;
}

.kirkYuzde {
	width: 40%;
}

.kirkBesYuzde {
	width: 40%;
}

.elliYuzde {
	width: 50%;
}

.elliBesYuzde {
	width: 55%;
}

.altmisYuzde {
	width: 60%;
}

.altmisBesYuzde {
	width: 65%;
}

.yetmisYuzde {
	width: 70%;
}

.seksenYuzde {
	width: 80%;
}

.doksanYuzde {
	width: 90%;
}

.doksanBesYuzde {
	width: 95%;
}

.yuzYuzde {
	width: 100%;
}

/***** DASHBOARD STYLES ******/
.ca-menu {
	padding: 0;
	margin: 20px auto;
	width: 1020px;
}

.ca-menu li {
	width: 200px;
	height: 200px;
	overflow: hidden;
	position: relative;
	float: left;
	background: #fff;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	margin-right: 4px;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear;
}

.ca-menu li:last-child {
	margin-right: 0px;
}

.ca-menu li a {
	text-align: left;
	width: 100%;
	height: 100%;
	display: block;
	color: #333;
	position: relative;
}

.ca-icon {
	font-family: 'WebSymbolsRegular', cursive;
	font-size: 60px;
	color: #333;
	text-shadow: 0px 0px 1px #333;
	line-height: 150px;
	position: absolute;
	width: 100%;
	height: 50%;
	left: 0px;
	top: 0px;
	text-align: center;
	-webkit-transition: all 400ms linear;
	-moz-transition: all 400ms linear;
	-o-transition: all 400ms linear;
	-ms-transition: all 400ms linear;
	transition: all 400ms linear;
}

.ca-content {
	position: absolute;
	left: 0px;
	width: 100%;
	height: 25%;
	top: 75%;
}

.ca-main {
	font-size: 12px;
	opasehir: 0.8;
	text-align: center;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	transition: all 200ms linear;
}

.ca-sub {
	text-align: center;
	font-size: 14px;
	color: #666;
	line-height: 40px;
	opasehir: 0.8;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	transition: all 200ms linear;
}

.ca-menu li:hover {
	background-color: #000;
}

.ca-menu li:hover .ca-icon {
	color: #fff;
	font-size: 90px;
}

.ca-menu li:hover .ca-main {
	color: #00ccff;
	-webkit-animation: moveFromLeftRotate 300ms ease;
	-moz-animation: moveFromLeftRotate 300ms ease;
	-ms-animation: moveFromLeftRotate 300ms ease;
}

.ca-menu li:hover .ca-sub {
	color: #fff;
	-webkit-animation: moveFromBottom 500ms ease;
	-moz-animation: moveFromBottom 500ms ease;
	-ms-animation: moveFromBottom 500ms ease;
}

.menu_icon {
	color: #333;
	line-height: 150px;
	position: absolute;
	width: 128px;
	height: 128px;
	left: 0px;
	top: 10px;
	text-align: center;
	margin-left: 32px;
	-webkit-transition: all 400ms linear;
	-moz-transition: all 400ms linear;
	-o-transition: all 400ms linear;
	-ms-transition: all 400ms linear;
}

.menulist li {
	display: inline-block;
	margin: 3px;
	padding: 1px;
	list-style: none;
}

/* Primefaces Modifications */
.ui-growl {
	left: 50%;
	top: 50%;
}

.ui-widget-content {  
	margin:  none !important;
	padding: none !important;
}

.ui-widget-header {
	font-weight: bold !important;
	padding-top: 10px !important;
	color: #ffffff !important;
	height: 30px !important;
	margin:  none !important;
	padding: none !important;
	background: #F95057 !important;
}

.ui-datatable {
	margin-top: 10px !important;
	width: 100% !important;
	overflow: auto !important;
	padding-bottom: 10px !important;
	overflow-x: auto !important;
	overflow-y: none !important; 
}

.ui-datatable-header {
	border-top: 1px solid #D7D5D5 !important;
	border-left: 1px solid #D7D5D5 !important;
	border-right: 1px solid #D7D5D5 !important;
}

.ui-datatable .ui-sortable-column {
	cursor: pointer !important;
	font-weight: bold !important;
	text-align: left !important;
}

.ui-datatable .ui-paginator,.ui-datatable .ui-paginator {
	padding: none !important;
}

.ui-widget input {
	font-size: 14px !important;
	font-family: inherit;
}

.ui-widget select {
	font-size: 14px !important;
	font-family: inherit;
}

.ui-widget select list {
	width: 300px !important;
}

.ui-widget textarea {
	font-size: 12px !important;
	font-family: inherit;
}

.ui-stack {
	bottom: 28px !important;
	right: 40px !important;
}

.ui-button {
	margin: none !important;
	padding: none !important;
	height: 26px !important;
	font-size: 14px !important;
	font-family: inherit !important;
	box-shadow: 1px 1px 1px #888888 !important;
	-moz-box-shadow: 1px 1px 1px #888888 !important;
	-webkit-box-shadow: 1px 1px 1px #888888 !important;
}

.ui-button-icon-left {
	border-top: 0px solid transparent !important;
}

.ui-button-text {
	font-size: 14px !important;
	margin-left: 2px !important;
}

.ui-dt-c {
	font-size: 14px !important;
}

.ui-button-text-only {
	margin: none !important;
	padding: none !important;
	height: 20px !important;
	font-size: 14px !important;
}

.ui-growl {
	position: fixed;
	top: 40%;
	left: 37%;
	width: 300px;
	height: 90px;
	font-size: 12px !important;
}

.ui-widget,.ui-widget .ui-widget {
	font-size: 14px !important;
	margin:  none !important;
	padding: none !important;
}

.ui-fieldset {
	padding-left: 5px !important;
	padding-right: 5px !important;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}

.ui-fieldset-legend {
	padding-left: 20px !important;
	padding-right: 20px !important;
	margin-bottom: 2px !important;
	margin-left: 10px !important;
	height: 10px !important;
	font-size: 14px !important;
	font-weight: bold !important;
	color: black !important;
	-moz-box-shadow: 1px 1px gray !important;
	-webkit-box-shadow: 1px 1px gray !important;
	box-shadow: 1px 1px gray !important; 
	background-image: url('_image/uyeFieldsetLegendBack.png') !important;	
}


.ui-fieldset-content {
	padding-top: 5px;
	font-size: 14px !important;
}


.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default
	{
	padding: none;
}

.ui-paginator,.ui-paginator-top .ui-widget-header {
	padding: none;
	margin: none;
}

.ui-widget,.ui-widget-content .ui-corner-all {
	-webkit-border-radius: .1em;
	-moz-border-radius: .1em;
	border-radius: .1em;
	margin: none;
	padding: none;
}

.ui-spinner {
	margin: none !important;
	padding: none !important;
	width: 80px !important;
}

.ui-spinner-input {
	width: 60px !important;
	font-size: 10px !important;
	height: 16px !important;
	margin: none !important;
	padding: none !important;
	padding-right: 2px !important;
	font-weight: bold !important;
}

.ui-spinner-button {
	height: 7px !important;
	margin: none !important;
	padding: none !important;
	-webkit-border-radius: none !important;
	-moz-border-radius: none !important;
	border-radius: none !important;
}

.ui-spinner-up {
	margin: none !important;
	padding: none !important;
	padding-top: 1px !important;
	-webkit-border-radius: none !important;
	-moz-border-radius: none !important;
	border-radius: none !important;
}

.ui-spinner-down {
	margin: none !important;
	padding: none !important;
	padding-bottom: 1px !important;
	-webkit-border-radius: none !important;
	-moz-border-radius: none !important;
	border-radius: none !important;
}

.ui-button-icon-only {
	height: 22px;
	width: 16px;
}

.ui-inputfield,.ui-widget-content .ui-inputfield,.ui-widget-header .ui-inputfield
{
	box-shadow: none;
	margin: none;
	padding: none;
	font-size: 14px !important;
	padding: 1px;
	height: 22px !important;
	border: solid 1px #85b1de;
	background-color: white;
}

.ui-inputfield,.ui-widget-content .ui-inputfield,.ui-widget-header .ui-inputfield:active
{
	font-size: 14px !important;
	margin: none;
	padding: none;
	height: 15px;
	border: solid 1px #85b1de;
	background-color: white;
}

.ui-datepicker-trigger {
	vertical-align: middle;
	padding-bottom: 2px;
}

.ui-selectonemenu {
	padding: none !important;
	margin: none !important;
	height: 18px !important;
	font-size: 14px !important;
	vertical-align: top !important;
	background: pink !important;
}

.ui-selectonemenu-label {
	padding: none !important;
	margin: none !important;
	font-size: 14px !important;
	text-align: left !important;
	font-weight: bold !important;
}

.ui-selectonemenu-trigger {
	padding: none !important;
	margin: none !important;
	width: 12px !important;
	font-size: 14px !important;
	vertical-align: top !important;
}

.ui-icon ui-icon-triangle-1-s {
	text-align: left !important;
	width: 10px !important;
	height: 10px !important;
}

.ui-selectonemenu-items {
	padding: none !important;
	margin: none !important;
	font-size: 14px !important;
	border: solid 1px #85b1de !important;
}

.ui-menubar {
	padding: none;
	margin: none;
	height: 24px;
	border: none;
	vertical-align: middle;
}

.ui-autocomplete-input {
	border: 1px inset green !important;
	height: 18px !important;
	background: #F1F1F1 !important;
	width: 180px !important;
}

.ui-autocomplete-panel {
	width: 450px !important;
}

.ui-autocomplete-list {
	width: 430px !important;
}

.ui-autocomplete-items{
	width: 430px !important;
	margin: none !important;
	padding: none !important;
}

.ui-autocomplete-list-item{
	width: 429px !important;  
}

.ui-menuitem {
	padding: none;
	margin: none;
	margin-bottom: 2px;
}

.ui-dock-container-bottom {
	background: #757575;
}

.ui-dock-item-bottom {
	color: orange;
	font-weight: bold;
}

.ui-dock-item-bottom:hover {
	color: red;
}

.ui-tabs { 
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	-moz-box-shadow: 1px 1px gray !important;
	-webkit-box-shadow: 1px 1px gray !important;
	box-shadow: 1px 1px gray !important;
	width: 98% !important;
	margin-left: .75% !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.ui-tabs-nav {
	color: #0088CC !important;
	margin: none !important;
	padding: none !important;
	height: 35px !important; 
	font-size: 14px !important;
}

.ui-tabs-nav a {
	color: #0088CC !important;
	height: 18px !important;
	font-weight: bold !important;
	font-size: 14px !important;
	border-top: 1px dotted lightgray !important;
	border-left: 1px dotted lightgray !important;
	border-right: 1px dotted lightgray !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
}

.ui-tabs-selected {
	height: 36px !important;
	color: #0088CC !important;
	font-weight: bold !important;
	font-size: 14px !important;
	border-top: 1px solid darkgray !important;
	border-left: 1px solid darkgray !important;
	border-right: 1px solid darkgray !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
}

.ui-breadcrumb {
	background-color: #C13940 !important;
	height: 18px !important;
}

.ui-breadcrumb ul li a {
	text-decoration: none !important;
	font-weight: bold !important;
	font-size: 14px !important;
}

.ui-breadcrumb ul li a:hover {
	text-decoration: none !important;
	font-weight: bold !important;
	font-size: 14px !important;
	color: orange !important;
}

.ui-accordion-header {
	font-weight: bold !important;
	font-size: 14px !important;
	margin-bottom: 1px !important;
	border: 1px outset lightgray !important;
}

.ui-accordion-content {
	margin: none !important;
	padding: none !important;
}

.ui-panel-title {
	width:100% !important;  
	font-size: 14px !important; 
}

.ui-panel-titlebar { 
	background: #CC161D !important;
}

.ui-panel-titlebar-icon {
	background: none !important;
	border: none !important;
}

.ui-state-highlight {
	border: 1px solid red !important;
	opacity: 0.6 !important;
	filter: alpha(opacity = 60) !important; /* For IE8 and earlier */
	font-weight: bold !important;
}

.ui-picklist-list {
	width: 300px !important;
}

.hasDatepicker {
	width: 70px !important;
}

#kalanKontenjanPanelgrid {
	font-weight: bolder !important;
	margin-left: 5px !important;
	padding-left: 10px !important;
	left: 10px !important;
	text-align: center;
	color: red;
}