<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="etkinlikkuruluyeForm" prependId="false">
				<arf:masterPanel controllerClassName="#{etkinlikkuruluyeController}" masterLabel="#{label['etkinlikkurul.list']}" modelName="etkinlikkuruluye" />
				<ui:include src="/_page/form/etkinlik/etkinlikDetay/etkinlikkuruluye_Edit.xhtml" />

				<p:fieldset id="etkinlikkuruluyeFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{etkinlikkuruluyeController.collapsed}"
					legend="#{label['etkinlikkuruluye.query']}" rendered="#{!etkinlikkuruluyeController.editPanelRendered}">
					<p:ajax listener="#{etkinlikkuruluyeController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:dropdownForFilter label="#{label['etkinlikkuruluye.uyeturu']}" listSource="#{enumeratedController.uyeturuItems}" requiredCond="false" compId="uyeturu"
							value="#{etkinlikkuruluyeController.etkinlikkuruluyeFilter.uyeturu}" id="uyeturuForFilterDropDown" addNullOption="true" />

						<arf:dualtextinputForFilter label="#{label['kisi.ad']} - #{label['kisi.soyad']}" requiredCond="false" compId="kisiad" style="width:80px"
							value="#{etkinlikkuruluyeController.etkinlikkuruluyeFilter.ad}" maxLength="10" id="kisiAdSoyadForFilterDualTextInput" requiredCond2="false" compId2="kisisoyad"
							style2="width:80px" value2="#{etkinlikkuruluyeController.etkinlikkuruluyeFilter.soyad}" maxLength2="10" />

					</h:panelGrid>
					<arf:filterBottomWithBlockUI controllerClassName="#{etkinlikkuruluyeController}" formName="etkinlikkuruluyeForm" listPanelName="etkinlikkuruluyeListPanel"
						filterPanelName="etkinlikkuruluyeFilterPanel" modelName="Etkinlikkuruluye" />
				</p:fieldset>

				<p:fieldset legend="#{label['etkinlikkuruluye.list']}" styleClass="pageFieldSet" id="etkinlikkuruluyeListPanel">

					<p:blockUI block="etkinlikkuruluyeTable" trigger="etkinlikkuruluyeTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="etkinlikkuruluyeTable" value="#{etkinlikkuruluyeController.list}" var="etkinlikkuruluyeRow"
						binding="#{etkinlikkuruluyeController.table}" rowIndexVar="rowIndex" selectionMode="single" selection="#{etkinlikkuruluyeController.entity}"
						filteredValue="#{etkinlikkuruluyeController.filteredList}" widgetVar="filterTable" rowKey="#{etkinlikkuruluyeRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{etkinlikkuruluyeController.tableRowSelect}" update=":etkinlikkuruluyeForm" />
						<p:ajax event="rowUnselect" listener="#{etkinlikkuruluyeController.tableRowCancelSelection}" update=":etkinlikkuruluyeForm" />

						<arftags:column val="#{etkinlikkuruluyeRow.uyeturu.label}" header="#{label['etkinlikkuruluye.uyeturu']}" width="33" />
						<arftags:column val="#{etkinlikkuruluyeRow.uyeRef.UIString}" header="#{label['etkinlikkuruluye.uyeRef']}" width="33" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{etkinlikkuruluyeController}" formName="etkinlikkuruluyeForm" listPanelName="etkinlikkuruluyeListPanel" pagingOption="true"
						tableName="etkinlikkuruluyeTable" exportToWord="true" exportToOpenOffice="true" addExport="true" addOption="true" updateOption="false" deleteOption="true"
						addSubRecordOption="false" wizardOption="false" logOption="true" />

				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
