<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="etkinlikkurulForm" prependId="false">
				<arf:masterPanel controllerClassName="#{etkinlikkurulController}" masterLabel="#{label['etkinlik.list']}" modelName="etkinlikkurul" />
				<ui:include src="/_page/form/etkinlik/etkinlikDetay/etkinlikkurul_Edit.xhtml" />
				<p:fieldset legend="#{label['etkinlikkurul.list']}" styleClass="pageFieldSet" id="etkinlikkurulListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
						<p:commandButton id="etkinlikkuruluyeCommand" process="@this" icon="child" action="#{etkinlikkurulController.etkinlikkuruluye}"
							rendered="#{etkinlikkurulController.listRenderedFor('Etkinlikkuruluye')}" disabled="#{etkinlikkurulController.etkinlikkurul.RID == null}"
							value="#{label['command.etkinlikkuruluye']}" styleClass="arfCommandButton" />

					</h:panelGrid>
					<p:blockUI block="etkinlikkurulTable" trigger="etkinlikkurulTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="etkinlikkurulTable" value="#{etkinlikkurulController.list}" var="etkinlikkurulRow" binding="#{etkinlikkurulController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{etkinlikkurulController.entity}" filteredValue="#{etkinlikkurulController.filteredList}"
						widgetVar="filterTable" rowKey="#{etkinlikkurulRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{etkinlikkurulController.tableRowSelect}" update=":etkinlikkurulForm" />
						<p:ajax event="rowUnselect" listener="#{etkinlikkurulController.tableRowCancelSelection}" update=":etkinlikkurulForm" />

						<arftags:column val="#{etkinlikkurulRow.kurulturu.label}" header="#{label['etkinlikkurul.kurulturu']}" width="50" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{etkinlikkurulController}" formName="etkinlikkurulForm" listPanelName="etkinlikkurulListPanel" pagingOption="true"
						tableName="etkinlikkurulTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
