<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="etkinlikkurulEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['etkinlikkurul.edit']}"
		rendered="#{etkinlikkurulController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">


			<arf:dropdown label="#{label['etkinlikkurul.kurulturu']}" listSource="#{enumeratedController.kurulturuItems}" requiredCond="true" compId="kurulturu"
				value="#{etkinlikkurulController.etkinlikkurul.kurulturu}" id="kurulturuDropDown" addNullOption="true" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{etkinlikkurulController}" formName="etkinlikkurulForm" listPanelName="etkinlikkurulListPanel"
			editPanelName="etkinlikkurulEditPanel" modelName="Etkinlikkurul" />
	</p:fieldset>

</ui:composition>