<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="etkinlikKurumForm" prependId="false">
				<arf:masterPanel controllerClassName="#{etkinlikKurumController}" masterLabel="#{label['etkinlik.list']}" modelName="etkinlikKurum" />
				<ui:include src="/_page/form/etkinlik/etkinlikDetay/etkinlikKurum_Edit.xhtml" />
				<p:fieldset legend="#{label['etkinlikKurum.list']}" styleClass="pageFieldSet" id="etkinlikKurumListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="etkinlikKurumTable" trigger="etkinlikKurumTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="etkinlikKurumTable" value="#{etkinlikKurumController.list}" var="etkinlikKurumRow" binding="#{etkinlikKurumController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{etkinlikKurumController.entity}" filteredValue="#{etkinlikKurumController.filteredList}"
						widgetVar="filterTable" rowKey="#{etkinlikKurumRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{etkinlikKurumController.tableRowSelect}" update=":etkinlikKurumForm" />
						<p:ajax event="rowUnselect" listener="#{etkinlikKurumController.tableRowCancelSelection}" update=":etkinlikKurumForm" />

						<arftags:column val="#{etkinlikKurumRow.kurumRef.UIString}" header="#{label['etkinlikKurum.kurumRef']}" width="33" />
						<arftags:column val="#{etkinlikKurumRow.turu.label}" header="#{label['etkinlikKurum.turu']}" width="33" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{etkinlikKurumController}" formName="etkinlikKurumForm" listPanelName="etkinlikKurumListPanel" pagingOption="true"
						tableName="etkinlikKurumTable" addExport="true" addOption="true" updateOption="false" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
