<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="etkinlikkatilimciEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['etkinlikkatilimci.edit']}"
		rendered="#{etkinlikkatilimciController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">


			<arf:suggestbox label="#{label['etkinlikkatilimci.kisiRef']}" methodName="#{etkinlikkatilimciController.completeMethod}" requiredCond="false" compId="kisiRef"
				value="#{etkinlikkatilimciController.etkinlikkatilimci.kisiRef}" id="kisiRefSuggestBox" converterId="#{'kisiConverter'}" modelName="#{'Kisi'}" var="kisiRec"
				itemValue="#{kisiRec}" itemLabel="#{kisiRec}" />

			<arf:dropdown label="#{label['etkinlikkatilimci.durum']}" listSource="#{enumeratedController.katilimciDurumItems}" requiredCond="false" compId="durum"
				value="#{etkinlikkatilimciController.etkinlikkatilimci.durum}" id="durumDropDown" addNullOption="false" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{etkinlikkatilimciController}" formName="etkinlikkatilimciForm" listPanelName="etkinlikkatilimciListPanel"
			editPanelName="etkinlikkatilimciEditPanel" modelName="Etkinlikkatilimci" />
	</p:fieldset>

</ui:composition>