<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="etkinlikdosyaForm" prependId="false">
				<arf:masterPanel controllerClassName="#{etkinlikdosyaController}" masterLabel="#{label['etkinlik.list']}" modelName="etkinlikdosya" />
				<ui:include src="/_page/form/etkinlik/etkinlikDetay/etkinlikdosya_Edit.xhtml" />

				<p:fieldset id="etkinlikdosyaFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{etkinlikdosyaController.collapsed}"
					legend="#{label['etkinlikdosya.query']}" rendered="#{!etkinlikdosyaController.editPanelRendered}">
					<p:ajax listener="#{etkinlikdosyaController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:dropdownForFilter label="#{label['etkinlikdosya.dosyaturu']}" listSource="#{enumeratedController.dosyaturuItems}" requiredCond="false" compId="dosyaturu"
							value="#{etkinlikdosyaController.etkinlikdosyaFilter.dosyaturu}" id="dosyaturuForFilterDropDown" addNullOption="true" />

						<arf:textinputForFilter label="#{label['etkinlikdosya.ad']}" value="#{etkinlikdosyaController.etkinlikdosyaFilter.ad}" compId="ad" requiredCond="false"
							id="adForFilterInputText" maxLength="200" />

					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{etkinlikdosyaController}" formName="etkinlikdosyaForm" listPanelName="etkinlikdosyaListPanel"
						filterPanelName="etkinlikdosyaFilterPanel" modelName="Etkinlikdosya" />
				</p:fieldset>

				<p:fieldset legend="#{label['etkinlikdosya.list']}" styleClass="pageFieldSet" id="etkinlikdosyaListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="etkinlikdosyaTable" trigger="etkinlikdosyaTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="etkinlikdosyaTable" value="#{etkinlikdosyaController.list}" var="etkinlikdosyaRow" binding="#{etkinlikdosyaController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{etkinlikdosyaController.entity}" filteredValue="#{etkinlikdosyaController.filteredList}"
						widgetVar="filterTable" rowKey="#{etkinlikdosyaRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{etkinlikdosyaController.tableRowSelect}" update=":etkinlikdosyaForm" />
						<p:ajax event="rowUnselect" listener="#{etkinlikdosyaController.tableRowCancelSelection}" update=":etkinlikdosyaForm" />

						<arftags:downloadColumn val="#{etkinlikdosyaRow}"></arftags:downloadColumn>
						<arftags:column val="#{etkinlikdosyaRow.dosyaturu.label}" header="#{label['etkinlikdosya.dosyaturu']}" width="35" />
						<arftags:column val="#{etkinlikdosyaRow.ad}" header="#{label['etkinlikdosya.ad']}" width="35" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{etkinlikdosyaController}" formName="etkinlikdosyaForm" listPanelName="etkinlikdosyaListPanel" pagingOption="true"
						tableName="etkinlikdosyaTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
