<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="etkinlikKurumEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['etkinlikKurum.edit']}"
		rendered="#{etkinlikKurumController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

			<arf:suggestbox label="#{label['etkinlikKurum.kurumRef']}" methodName="#{kurumController.completeMethod}" requiredCond="false" compId="kurumRef"
				value="#{etkinlikKurumController.etkinlikKurum.kurumRef}" id="kurumRefSuggestBox" converterId="#{'kurumConverter'}" modelName="#{'Kurum'}" var="kurumRec"
				itemValue="#{kurumRec}" itemLabel="#{kurumRec}" />

			<arf:dropdown label="#{label['etkinlikKurum.turu']}" listSource="#{enumeratedController.etkinlikKurumTuruItems}" requiredCond="true" compId="turu"
				value="#{etkinlikKurumController.etkinlikKurum.turu}" id="turuDropDown" addNullOption="true" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{etkinlikKurumController}" formName="etkinlikKurumForm" listPanelName="etkinlikKurumListPanel"
			editPanelName="etkinlikKurumEditPanel" modelName="EtkinlikKurum" />
	</p:fieldset>

</ui:composition>