<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="etkinlikdosyaEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['etkinlikdosya.edit']}"
		rendered="#{etkinlikdosyaController.editPanelRendered}">
		<h:panelGrid columns="1" styleClass="arfEditGrid" rendered="#{etkinlikdosyaController.editStep == 1}">
 
			<arf:dropdown label="#{label['etkinlikdosya.dosyaturu']}" listSource="#{enumeratedController.dosyaturuItems}" requiredCond="true" compId="dosyaturu"
				value="#{etkinlikdosyaController.etkinlikdosya.dosyaturu}" id="dosyaturuDropDown" addNullOption="true" />

			<arf:textinput label="#{label['etkinlikdosya.ad']}" value="#{etkinlikdosyaController.etkinlikdosya.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="200" />
 
		<arf:editPanelBottomForForwardWithBlockUI controllerClassName="#{etkinlikdosyaController}" formName="etkinlikdosyaForm" listPanelName="etkinlikdosyaListPanel"
				editPanelName="etkinlikdosyaEditPanel" modelName="Etkinlikdosya" rendered="#{etkinlikdosyaController.editStep == 1}" />
		</h:panelGrid>
		<h:panelGrid columns="1" styleClass="arfEditGrid" rendered="#{etkinlikdosyaController.editStep == 2}">
			<arf:fileUploadAndSave label="#{label['etkinlikdosya.path']}" requiredCond="true" compId="#{'dosyaRef'}" allowTypes="/(\.|\/)(doc|docx|xls?x|pdf|jpg|png|jpeg|txt)$/"
				updateComp="@this" processComp="@parent" sizeLimit="1500000" controllerClassName="#{etkinlikdosyaController}" style="width:650px" formName="etkinlikdosyaForm"
				editPanelName="etkinlikdosyaEditPanel" />
		</h:panelGrid>
		<arf:editPanelBottomWithBlockUI controllerClassName="#{etkinlikdosyaController}" formName="etkinlikdosyaForm" listPanelName="etkinlikdosyaListPanel" editPanelName="etkinlikdosyaEditPanel"
			modelName="Etkinlikdosya" rendered="#{etkinlikdosyaController.editStep == 2}" renderSaveButton="#{etkinlikdosyaController.etkinlikdosya.RID != null}" />
	</p:fieldset>

</ui:composition>