<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="etkinlikkatilimciForm" prependId="false">
				<arf:masterPanel controllerClassName="#{etkinlikkatilimciController}" masterLabel="" modelName="etkinlikkatilimci" />

				<ui:include src="/_page/form/etkinlik/etkinlikDetay/etkinlikkatilimci_Edit.xhtml" />

				<p:fieldset id="etkinlikkatilimciFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{etkinlikkatilimciController.collapsed}"
					legend="#{label['etkinlikkatilimci.query']}" rendered="#{!etkinlikkatilimciController.editPanelRendered}">
					<p:ajax listener="#{etkinlikkatilimciController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

						<arf:dualtextinputForFilter label="#{label['kisi.ad']} - #{label['kisi.soyad']}" requiredCond="false" compId="kisiad" style="width:80px"
							value="#{etkinlikkatilimciController.etkinlikkatilimciFilter.ad}" maxLength="10" id="kisiAdSoyadForFilterDualTextInput" requiredCond2="false" compId2="kisisoyad"
							style2="width:80px" value2="#{etkinlikkatilimciController.etkinlikkatilimciFilter.soyad}" maxLength2="10" />

						<arf:dropdownForFilter label="#{label['etkinlikkatilimci.durum']}" listSource="#{enumeratedController.katilimciDurumItems}" requiredCond="false" compId="durum"
							value="#{etkinlikkatilimciController.etkinlikkatilimciFilter.durum}" id="durumForFilterDropDown" addNullOption="true" />

					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{etkinlikkatilimciController}" formName="etkinlikkatilimciForm" listPanelName="etkinlikkatilimciListPanel"
						filterPanelName="etkinlikkatilimciFilterPanel" modelName="Etkinlikkatilimci" />
				</p:fieldset>

				<p:fieldset legend="#{label['etkinlikkatilimci.list']}" styleClass="pageFieldSet" id="etkinlikkatilimciListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="etkinlikkatilimciTable" trigger="etkinlikkatilimciTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="etkinlikkatilimciTable" value="#{etkinlikkatilimciController.list}" var="etkinlikkatilimciRow"
						binding="#{etkinlikkatilimciController.table}" rowIndexVar="rowIndex" selectionMode="single" selection="#{etkinlikkatilimciController.entity}"
						filteredValue="#{etkinlikkatilimciController.filteredList}" widgetVar="filterTable" rowKey="#{etkinlikkatilimciRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{etkinlikkatilimciController.tableRowSelect}" update=":etkinlikkatilimciForm" />
						<p:ajax event="rowUnselect" listener="#{etkinlikkatilimciController.tableRowCancelSelection}" update=":etkinlikkatilimciForm" />

						<arftags:column val="#{etkinlikkatilimciRow.kisiRef.UIString}" header="#{label['etkinlikkatilimci.kisiRef']}" width="33" />
						<arftags:column val="#{etkinlikkatilimciRow.durum.label}" header="#{label['etkinlikkatilimci.durum']}" width="33" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{etkinlikkatilimciController}" formName="etkinlikkatilimciForm" listPanelName="etkinlikkatilimciListPanel"
						pagingOption="true" tableName="etkinlikkatilimciTable" addExport="true" addOption="true" updateOption="false" deleteOption="true" addSubRecordOption="false"
						exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
