<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="etkinlikkuruluyeEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['etkinlikkuruluye.edit']}"
		rendered="#{etkinlikkuruluyeController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">


			<arf:dropdown label="#{label['etkinlikkuruluye.uyeturu']}" listSource="#{enumeratedController.uyeturuItems}" requiredCond="true" compId="uyeturu"
				value="#{etkinlikkuruluyeController.etkinlikkuruluye.uyeturu}" id="uyeturuDropDown" addNullOption="true" />

			<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde, otuzYuzde, kirkYuzde">
					<h:outputText value="#{label['kurulDonemUye.uyeRef']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
					<h:panelGroup>
						<p:autoComplete value="#{etkinlikkuruluyeController.etkinlikkuruluye.uyeRef}" completeMethod="#{etkinlikkuruluyeController.completeMethod}" maxResults="50" queryDelay="500"
							id="uyeRefAutoComplete" minQueryLength="3" required="false" forceSelection="true" var="uyeRec" itemValue="#{uyeRec}" itemLabel="#{uyeRec.UIString}">
							<f:converter converterId="uyeConverter" />
							<f:ajax event="itemSelect" process="@this" />
							<f:attribute name="modelNameForAutoComplete" value="#{'Uye'}" />
						</p:autoComplete>
					</h:panelGroup>
					<p:message for="uyeRefAutoComplete" />
			</h:panelGrid>

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{etkinlikkuruluyeController}" formName="etkinlikkuruluyeForm" listPanelName="etkinlikkuruluyeListPanel"
			editPanelName="etkinlikkuruluyeEditPanel" modelName="Etkinlikkuruluye" />
	</p:fieldset>

</ui:composition>