<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="anadonemEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['anadonem.edit']}" rendered="#{anadonemController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

			<h:panelGrid columns="2" width="100%" border="0" columnClasses="otuzYuzde,yetmisYuzde" >
				<h:outputText value="#{label['anadonem.tanim']} :* " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px; color:red; font-weight:bold;  "  />
				<p:outputPanel>  
	                <p:spinner id="ajaxspinner" value="#{anadonemController.tanim}" style="padding-left:5px; padding-right:10px" required="true" />  
	                <h:outputText id="ajaxspinnervalue"  value="#{label['kurul.donem']}" style="margin-left:35px"/>  
	            </p:outputPanel>  
			</h:panelGrid>
			<arf:dropdown label="#{label['anadonem.aktif']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="false" compId="aktif"
				value="#{anadonemController.anadonem.aktif}" id="aktifDropDown" maxLength="50" />
		</h:panelGrid>

		<div style="width: 100%; height: 300px; overflow-x: hidden; overflow-y: auto; margin-top: 20px">
			<arf:picklist value="#{anadonemController.dualList}" label="Dönemin Tanımlanacağı Birimler" var="birim" itemLabel="#{birim.ad}" itemValue="#{birim}"
				converterId="birimConverter" requiredCond="true" style="margin-left:50px" sourceCaption="Birimler" targetCaption="Seçilenler" compId="birim" />
		</div>


		<arf:editPanelBottomWithBlockUI controllerClassName="#{anadonemController}" formName="anadonemForm" listPanelName="anadonemListPanel" editPanelName="anadonemEditPanel"
			modelName="Anadonem" />
	</p:fieldset>

</ui:composition>