<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="anadonemForm" prependId="false">
				<ui:include src="/_page/form/kisi/anadonem_Edit.xhtml" />

				<p:fieldset id="anadonemFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{anadonemController.collapsed}" legend="#{label['anadonem.query']}"
					rendered="#{!anadonemController.editPanelRendered and 1>5}">
					<p:ajax listener="#{anadonemController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:textinputForFilter label="#{label['anadonem.tanim']}" value="#{anadonemController.anadonemFilter.tanim}" compId="tanim" requiredCond="false"
							id="tanimForFilterInputText" maxLength="50" />

					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{anadonemController}" formName="anadonemForm" listPanelName="anadonemListPanel" filterPanelName="anadonemFilterPanel"
						modelName="Anadonem" />
				</p:fieldset>

				<p:fieldset legend="#{label['anadonem.list']}" styleClass="pageFieldSet" id="anadonemListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
						<p:commandButton id="donemCommand" process="@this" icon="donem" action="#{anadonemController.donem}" rendered="#{anadonemController.listRenderedFor('Donem')}"
							disabled="#{anadonemController.anadonem.RID == null}" value="#{label['command.donem']}" styleClass="arfCommandButton" style="width:120px" />

					</h:panelGrid>
					<p:blockUI block="anadonemTable" trigger="anadonemTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="anadonemTable" value="#{anadonemController.list}" var="anadonemRow" binding="#{anadonemController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{anadonemController.entity}" filteredValue="#{anadonemController.filteredList}" widgetVar="filterTable" rowKey="#{anadonemRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{anadonemController.tableRowSelect}" update=":anadonemForm" />
						<p:ajax event="rowUnselect" listener="#{anadonemController.tableRowCancelSelection}" update=":anadonemForm" />

						<arftags:column val="#{anadonemRow.tanim}" header="#{label['anadonem.tanim']}" width="50" />
						<arftags:column val="#{anadonemRow.aktif.label}" header="#{label['anadonem.aktif']}" width="50" />
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{anadonemController}" formName="anadonemForm" listPanelName="anadonemListPanel" pagingOption="true" tableName="anadonemTable"
						update="@this" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
