<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="donemForm" prependId="false">

				<arf:masterPanel controllerClassName="#{donemController}" masterLabel="#{label['anadonem.list']}" modelName="donem" />

				<ui:include src="/_page/form/kisi/donem_Edit.xhtml" />

				<p:fieldset legend="#{label['donem.list']}" styleClass="pageFieldSet" id="donemListPanel">

					<p:blockUI block="donemTable" trigger="donemTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="donemTable" value="#{donemController.list}" var="donemRow" binding="#{donemController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{donemController.entity}" filteredValue="#{donemController.filteredList}" widgetVar="filterTable" rowKey="#{donemRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{donemController.tableRowSelect}" update=":donemForm" />
						<p:ajax event="rowUnselect" listener="#{donemController.tableRowCancelSelection}" update=":donemForm" />

						<arftags:column val="#{donemRow.birimRef.UIString}" header="#{label['donem.birimRef']}" width="16" />
						<arftags:column val="#{donemRow.tanim}" header="#{label['donem.tanim']}" width="16" />
						<arftags:dateColumn filterMatchMode="contains" val="#{donemRow.baslangictarih}" header="#{label['donem.baslangictarih']}" width="20" />
						<arftags:dateColumn filterMatchMode="contains" val="#{donemRow.bitistarih}" header="#{label['donem.bitistarih']}" width="20" />
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{donemController}" formName="donemForm" listPanelName="donemListPanel" pagingOption="true" tableName="donemTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
