<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="donemEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['donem.edit']}" rendered="#{donemController.editPanelRendered}">
		<h:panelGrid columns="1" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
			<arf:dropdown label="#{label['donem.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="true" compId="birimRef"
				value="#{donemController.donem.birimRef}" converterId="#{'birimConverter'}" id="birimRefDropDown" />
			<arf:textinput label="#{label['donem.tanim']}" value="#{donemController.donem.tanim}" compId="tanim" requiredCond="true" id="tanimInputText" maxLength="100" />
			<arf:calendar label="#{label['donem.baslangictarih']}" value="#{donemController.donem.baslangictarih}" id="baslangictarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="baslangictarih" />
			<arf:calendar label="#{label['donem.bitistarih']}" value="#{donemController.donem.bitistarih}" id="bitistarihCalendar" pattern="#{configurationController.datePattern}"
				requiredCond="false" compId="bitistarih" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{donemController}" formName="donemForm" listPanelName="donemListPanel" editPanelName="donemEditPanel" modelName="donem" />
	</p:fieldset>

</ui:composition>
