<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="isYeriTemsilcileriEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['isYeriTemsilcileri.edit']}"
		rendered="#{isYeriTemsilcileriController.editPanelRendered}">
		<h:panelGrid columns="1" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:suggestbox label="#{label['isYeriTemsilcileri.kurumRef']}" methodName="#{kurumController.completeMethod}" requiredCond="false" compId="kurumRef"
				value="#{isYeriTemsilcileriController.isYeriTemsilcileri.kurumRef}" id="kurumRefSuggestBox" converterId="#{'kurumConverter'}" modelName="#{'Kurum'}" var="kurumRec"
				itemValue="#{kurumRec}" itemLabel="#{kurumRec}" rendered="#{isYeriTemsilcileriController.isYeriTemsilcileri.RID == null}" />

			<arf:textoutput label="#{label['isYeriTemsilcileri.kurumRef']}" value="#{isYeriTemsilcileriController.isYeriTemsilcileri.kurumRef.UIString}"
				rendered="#{isYeriTemsilcileriController.isYeriTemsilcileri.RID != null}" />

			<arf:dropdown label="#{label['isYeriTemsilcileri.uyeRef']}" listSource="#{isYeriTemsilcileriController.selectItemListFor('Uye')}" requiredCond="true" compId="uyeRef"
				value="#{isYeriTemsilcileriController.isYeriTemsilcileri.uyeRef}" converterId="#{'uyeConverter'}" id="uyeRefDropDown" />

			<arf:dropdown label="#{label['isYeriTemsilcileri.aktif']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="aktif"
				value="#{isYeriTemsilcileriController.isYeriTemsilcileri.aktif}" id="aktifDropDown" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{isYeriTemsilcileriController}" formName="isYeriTemsilcileriForm" listPanelName="isYeriTemsilcileriListPanel"
			editPanelName="isYeriTemsilcileriEditPanel" modelName="isYeriTemsilcileri" />
	</p:fieldset>

</ui:composition>
