<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="isYeriTemsilcileriForm" prependId="false">
				<arf:masterPanel controllerClassName="#{isYeriTemsilcileriController}" masterLabel="" modelName="isYeriTemsilcileri" />
				<ui:include src="/_page/form/kisi/isYeriTemsilcileri_Edit.xhtml" />

				<p:fieldset legend="#{label['isYeriTemsilcileri.list']}" styleClass="pageFieldSet" id="isYeriTemsilcileriListPanel">
					<p:blockUI block="isYeriTemsilcileriTable" trigger="isYeriTemsilcileriTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="isYeriTemsilcileriTable" value="#{isYeriTemsilcileriController.list}" var="isYeriTemsilcileriRow"
						binding="#{isYeriTemsilcileriController.table}" rowIndexVar="rowIndex" selectionMode="single" selection="#{isYeriTemsilcileriController.entity}"
						filteredValue="#{isYeriTemsilcileriController.filteredList}" widgetVar="filterTable" rowKey="#{isYeriTemsilcileriRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{isYeriTemsilcileriController.tableRowSelect}" update=":isYeriTemsilcileriForm" />
						<p:ajax event="rowUnselect" listener="#{isYeriTemsilcileriController.tableRowCancelSelection}" update=":isYeriTemsilcileriForm" />

						<arftags:column val="#{isYeriTemsilcileriRow.kurumRef.UIString}" header="#{label['isYeriTemsilcileri.kurumRef']}" width="16" />
						<arftags:column val="#{isYeriTemsilcileriRow.uyeRef.UIString}" header="#{label['isYeriTemsilcileri.uyeRef']}" width="16" />
						<arftags:column val="#{isYeriTemsilcileriRow.aktif.label}" header="#{label['isYeriTemsilcileri.aktif']}" width="50%" />
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{isYeriTemsilcileriController}" formName="isYeriTemsilcileriForm" listPanelName="isYeriTemsilcileriListPanel"
						pagingOption="true" tableName="isYeriTemsilcileriTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
