<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml" xmlns:pe="http://primefaces.org/ui/extensions">

	<ui:define name="content">
		<h:body>
			<h:form id="kisiForm" prependId="false">
				<p:fieldset legend="#{label['common.sihirbazDurum']}" style="height:60px" styleClass="pageFieldSet">
					<h:outputText value="#{label['common.sihirbazAdim']} #{kisiController.wizardStep} : " style="color:red; font-size:16px; font-weight:bold; margin-left:20px" />
					<h:outputText value="#{label['kisi.edit']} - #{label['kisikimlik.edit']}" style="color:#333333; font-size:14px; font-weight:bold" rendered="#{kisiController.wizardStep == 1}" />
					<h:outputText value="#{label['kisi.kurumkisiedit']}" style="color:#333333; font-size:14px; font-weight:bold" rendered="#{kisiController.wizardStep == 2}" />
					<h:outputText value="#{label['kisiogrenim.edit']}" style="color:#333333; font-size:14px; font-weight:bold" rendered="#{kisiController.wizardStep == 3}" />
					<h:outputText value="#{label['adres.edit']}" style="color:#333333; font-size:14px; font-weight:bold" rendered="#{kisiController.wizardStep == 4}" />
					<h:outputText value="#{label['telefon.edit']}" style="color:#333333; font-size:14px; font-weight:bold" rendered="#{kisiController.wizardStep == 5}" />
					<h:outputText value="#{label['internetadres.edit']}" style="color:#333333; font-size:14px; font-weight:bold" rendered="#{kisiController.wizardStep == 6}" />
				</p:fieldset>

				<p:fieldset id="kisiEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kisi.edit']}" rendered="#{kisiController.wizardStep == 1}">
					<p:blockUI block="kisiOnlyPanelForKisiWizard" trigger="kisiListesineGit queryKimlikButton">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:panel header="#{label['kisi.edit']}" style="width:99%; margin-left:.5%" id="kisiOnlyPanelForKisiWizard">
						<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">
							<arf:booleanbox label="#{label['tckimlik.olmayanKisi']}" value="#{kisiController.kisi.eskiKayitMi}" compId="eskiKayitMi" id="eskiKayitMiBooleanBox" requiredCond="false"
								ajaxEventListener="#{kisiController.handleChangeForKisi}" changeEventUpdateComp="#{':kisiForm:kisiOnlyPanelForKisiWizard'}" />
							<arf:booleanbox label="#{label['kisi.yabanciMi']}" value="#{kisiController.kisi.yabanciMi}" compId="yabanciMi" id="yabanciMiBooleanBox" requiredCond="false" ajaxEventListener="#{kisiController.handleChangeForKisi}"
								changeEventUpdateComp="#{':kisiForm:kisiOnlyPanelForKisiWizard'}" />
							<arf:maskinput label="#{label['kisi.kimlikno']}" value="#{kisiController.kisi.kimlikno}" compId="kimliknoKisi" requiredCond="true" id="kimliknoInputTextKisi" minLength="11" maxLength="11"
								customValidatorId="#{'toysTCKimlikNoValidator'}" longMin="00000000000" longMax="99999999999" mask="99999999999" rendered="#{!kisiController.kisi.yabanciMi}" />

							<arf:textinput label="#{label['kisi.kimlikno']}" value="#{kisiController.kisi.kimlikno}" compId="kimliknoKisiYabanci" requiredCond="true" id="kimliknoYabanciInputTextKisi" keyFilterMask="num" longMin="00000000000"
								longMax="99999999999" rendered="#{kisiController.kisi.yabanciMi}" />

							<arf:textinput label="#{label['kisi.ad']}" value="#{kisiController.kisi.ad}" compId="ad" requiredCond="#{kisiController.zorunlu}" id="adInputText" maxLength="50" keyFilterRegex="#{applicationController.alphaRegex}"  />
							<arf:textinput label="#{label['kisi.soyad']}" value="#{kisiController.kisi.soyad}" compId="soyad" requiredCond="#{kisiController.zorunlu}" id="soyadInputText" maxLength="50" keyFilterRegex="#{applicationController.alphaRegex}" />
							<arf:booleanbox label="#{label['kisi.uyeYap']}" value="#{kisiController.uyeYap}" compId="uyeYap" id="uyeYapBooleanBox" requiredCond="false" />
						</h:panelGrid>
						<p align="center">
							<p:commandButton id="kisiListesineGit" action="#{kisiController.callDetailFromWizard}" value="#{label['kisi.detail']}" process="kisiOnlyPanelForKisiWizard" ajax="true" icon="kisi" styleClass="arfCommandButton"
								rendered="#{kisiController.kisiBulundu}" />

							<p:commandButton id="queryKimlikButton" action="#{kisiController.kimlikBilgisiSorgula}" value="#{label['command.query']}" process="kisiOnlyPanelForKisiWizard" update="kisiEditPanel commandPanel :globalMessages" ajax="true"
								icon="search" styleClass="arfCommandButton" />
						</p>
					</p:panel>

					<p:panel header="#{label['kisikimlik.edit']}" style="width:99%; margin-left:.5%">
						<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid" rendered="#{kisiController.kpsSorguSonucDondu and !kisiController.kpsKaydiBulundu and kisiController.kpsZorla}">
							<arf:textinput label="#{label['kisikimlik.kimlikno']}" value="#{kisiController.kisikimlik.kimlikno}" compId="kimlikno" requiredCond="true" id="kimliknoInputText" maxLength="20" readOnlyStatus="true" />
							<arf:textinput label="#{label['kisikimlik.babaad']}" value="#{kisiController.kisikimlik.babaad}" compId="babaad" requiredCond="true" id="babaadInputText" maxLength="20" />
							<arf:textinput label="#{label['kisikimlik.anaad']}" value="#{kisiController.kisikimlik.anaad}" compId="anaad" requiredCond="true" id="anaadInputText" maxLength="20" />
							<arf:textinput label="#{label['kisikimlik.dogumyer']}" value="#{kisiController.kisikimlik.dogumyer}" compId="dogumyer" requiredCond="true" id="dogumyerInputText" maxLength="20" />
							<arf:calendar label="#{label['kisikimlik.dogumtarih']}" value="#{kisiController.kisikimlik.dogumtarih}" id="dogumtarihCalendar" pattern="#{configurationController.datePattern}" requiredCond="true" compId="dogumtarih"
								navigatorRendered="true" yearRange="#{configurationController.calendarYearRangeForBirthdays}" />
							<arf:dropdown label="#{label['kisikimlik.cinsiyet']}" listSource="#{enumeratedController.cinsiyetItems}" requiredCond="true" compId="cinsiyet" value="#{kisiController.kisikimlik.cinsiyet}" id="cinsiyetDropDown" />
							<arf:dropdown label="#{label['kisikimlik.kangrup']}" listSource="#{enumeratedController.kanGrubuItems}" requiredCond="false" compId="kangrup" value="#{kisiController.kisikimlik.kangrup}" id="kangrupDropDown"
								addNullOption="true" />
							<arf:dropdown label="#{label['kisikimlik.medenihal']}" listSource="#{enumeratedController.medeniHalItems}" requiredCond="true" compId="medeniHal" value="#{kisiController.kisikimlik.medenihal}" id="medeniHalDropDown"
								addNullOption="true" />
							<arf:dropdown label="#{label['kisikimlik.sehirRef']}" listSource="#{sessionUser.sehirItemList}" requiredCond="false" compId="sehirRef" value="#{kisiController.kisikimlik.sehirRef}" converterId="#{'sehirConverter'}"
								id="sehirRef1DropDown" ajaxEventListener="#{kisiController.handleChange}" changeEventUpdateComp="#{':kisiForm:ilceRef1DropDown:ilceRef'}" />
							<arf:dropdown label="#{label['kisikimlik.ilceRef']}" listSource="#{kisiController.ilceItemList}" requiredCond="false" compId="ilceRef" value="#{kisiController.kisikimlik.ilceRef}" converterId="#{'ilceConverter'}"
								id="ilceRef1DropDown" />
							<arf:textinput label="#{label['kisikimlik.ciltno']}" value="#{kisiController.kisikimlik.ciltno}" compId="ciltno" requiredCond="false" id="ciltnoInputText" maxLength="15" />
							<arf:textinput label="#{label['kisikimlik.aileno']}" value="#{kisiController.kisikimlik.aileno}" compId="aileno" requiredCond="false" id="ailenoInputText" maxLength="10" />
							<arf:textinput label="#{label['kisikimlik.sirano']}" value="#{kisiController.kisikimlik.sirano}" compId="sirano" requiredCond="false" id="siranoInputText" maxLength="5" />
						</h:panelGrid>

						<h:panelGrid columns="4" columnClasses="yirmiYuzde, otuzYuzde, yirmiYuzde, otuzYuzde" styleClass="arfEditGrid" rendered="#{kisiController.kpsSorguSonucDondu and kisiController.kpsKaydiBulundu}">
							<arftags:detailItem colName="kimlikno" header="#{label['kisikimlik.kimlikno']}" renderCondition="true" val="#{kisiController.kisikimlik.kimlikno}" />
							<arftags:detailItem colName="babaad" header="#{label['kisikimlik.babaad']}" renderCondition="true" val="#{kisiController.kisikimlik.babaad}" />
							<arftags:detailItem colName="anaad" header="#{label['kisikimlik.anaad']}" renderCondition="true" val="#{kisiController.kisikimlik.anaad}" />
							<arftags:detailItem colName="dogumyer" header="#{label['kisikimlik.dogumyer']}" renderCondition="true" val="#{kisiController.kisikimlik.dogumyer}" />
							<arftags:detailDateItem colName="dogumtarih" val="#{kisiController.kisikimlik.dogumtarih}" header="#{label['kisikimlik.dogumtarih']}" renderCondition="true" />
							<arftags:detailItem colName="cinsiyet" val="#{kisiController.kisikimlik.cinsiyet.label}" header="#{label['kisikimlik.cinsiyet']}" renderCondition="true" />
							<arftags:detailItem colName="kangrup" val="#{kisiController.kisikimlik.kangrup.label}" header="#{label['kisikimlik.kangrup']}" renderCondition="true" />
							<arftags:detailItem colName="sehirRef1" val="#{kisiController.kisikimlik.sehirRef.UIString}" header="#{label['kisikimlik.sehirRef']}" renderCondition="true" />
							<arftags:detailItem colName="ilceRef1" val="#{kisiController.kisikimlik.ilceRef.UIString}" header="#{label['kisikimlik.ilceRef']}" renderCondition="true" />
							<arftags:detailItem colName="mahalle1" val="#{kisiController.kisikimlik.mahalle}" header="#{label['kisikimlik.mahalle']}" renderCondition="true" />
							<arftags:detailItem colName="ciltno" val="#{kisiController.kisikimlik.ciltno}" header="#{label['kisikimlik.ciltno']}" renderCondition="true" />
							<arftags:detailItem colName="aileno" val="#{kisiController.kisikimlik.aileno}" header="#{label['kisikimlik.aileno']}" renderCondition="true" />
							<arftags:detailItem colName="sirano" val="#{kisiController.kisikimlik.sirano}" header="#{label['kisikimlik.sirano']}" renderCondition="true" />
							<arftags:detailDateItem colName="kpsdogrulamatarih" val="#{kisiController.kisikimlik.kpsdogrulamatarih}" header="#{label['kisikimlik.kpsdogrulamatarih']}" renderCondition="true" />
						</h:panelGrid>
					</p:panel>
				</p:fieldset>

				<p:fieldset id="kurumEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kisi.kurumkisiedit']}" rendered="#{kisiController.wizardStep == 2}">
					<p:panel header="#{label['kisi.kurumkisiedit']}" style="width:99%; margin-left:.5%" id="kurumOnlyPanel">
						<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde, otuzYuzde, kirkYuzde">
							<h:outputText value="#{label['command.uyekurum']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
							<h:panelGroup>
								<p:autoComplete value="#{kisiController.kurumKisi.kurumRef}" completeMethod="#{kisiController.completeMethod}" maxResults="50" queryDelay="500" id="kurumRefKurumKisi" minQueryLength="3" required="false"
									forceSelection="true" var="kurumRec" itemValue="#{kurumRec}" style="width:600px;" itemLabel="#{kurumRec.ad} | Adresi: #{kurumRec.acikAdres}">
									<f:converter converterId="kurumConverter" />
									<f:ajax event="itemSelect" render=":kisiForm" process="@this" />
									<f:attribute name="modelNameForAutoComplete" value="#{'Kurum'}" />
								</p:autoComplete>
								<p:commandButton onsuccess="kurumEditDialog.show()" action="#{kisiController.newKurum('Kurum')}" icon="new" immediate="true" process="@this" update="@this" styleClass="commandButton" ajax="true"
									style="width:70px; margin-left:5px; height:22px" value="#{label['command.insert']}" id="kurumButton" />
								<p:blockUI block="kurumEditPanel" trigger="kurumRefKurumKisi">
									<h:outputText value="#{label['common.loading']}" />
									<br />
									<h:graphicImage library="_image" name="ajax-loader.gif" />
								</p:blockUI>

							</h:panelGroup>
							<p:message for="kurumRefKurumKisi" />
						</h:panelGrid>

						<arf:textinput label="#{label['uyekurum.gorev']}" value="#{kisiController.kurumKisi.gorev}" compId="gorev" requiredCond="false" id="gorevInputText" maxLength="30" />
						<p:outputPanel id="baslangictarihpanel" rendered="true">
							<arf:calendar label="#{label['uyekurum.baslangictarih']}" value="#{kisiController.kurumKisi.baslangictarih}" id="baslangictarihCalendarKurum" pattern="#{configurationController.datePattern}" requiredCond="false"
								compId="baslangictarihKurum" rendered="#{kisiController.kurumKisi.kurumRef!=null}" />
						</p:outputPanel>
					</p:panel>
				</p:fieldset>

				<p:fieldset id="kisiogrenimEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kisiogrenim.edit']}" rendered="#{kisiController.wizardStep == 3}">
					<p:panel header="#{label['kisi.summary']}" style="width:99%; margin-left:.5%;  margin-bottom:10px">
						<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">
							<arf:textoutput label="#{label['kisi.kimlikno']}" value="#{kisiController.kisi.kimlikno}" id="readOnlyKimlikNoForAdresEdit" />
							<arf:textoutput label="#{label['kisi.ad']} - #{label['kisi.soyad']}" value="#{kisiController.kisi.ad} - #{kisiController.kisi.soyad}" id="readOnlyAdSoyadForAdresEdit" />
						</h:panelGrid>
					</p:panel>


					<p:panel id="kisiUyeYapPanel" header="#{label['uye.edit']}" rendered="#{kisiController.uyeYap}" style="width:99%; margin-left:.5%;  margin-bottom:10px">
						<arf:dropdown label="#{label['uye.uyetip']}" listSource="#{enumeratedController.uyeTipItems}" requiredCond="false" compId="uyetip" value="#{kisiController.kisiUye.uyetip}" id="uyetipDropDown" />
						<arf:textinput label="#{label['uye.sicilno']}" value="#{kisiController.kisiUye.sicilno}" compId="sicilno" requiredCond="false" id="sicilnoInputText" maxLength="15"
							rendered="#{kisiController.kisi.eskiKayitMi or kisiController.kisi.yabanciMi}" />
						<arf:dropdown label="#{label['uye.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="true" compId="birimRef" value="#{kisiController.kisiUye.birimRef}" converterId="#{'birimConverter'}"
							id="birimRefDropDown" />
						<arf:calendar label="#{label['uye.uyeliktarih']}" value="#{kisiController.kisiUye.uyeliktarih}" id="uyeliktarihCalendar" pattern="#{configurationController.datePattern}" requiredCond="false" compId="uyeliktarih" />
						<arf:dropdown label="#{label['uye.uyedurum']}" listSource="#{enumeratedController.uyeDurumItems}" requiredCond="true" compId="uyedurum" value="#{kisiController.kisiUye.uyedurum}" id="uyedurumDropDown" disabledCond="true" />
						<arf:dropdown label="#{label['uye.iletisimEmail']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="iletisimEmail" value="#{kisiController.kisiUye.iletisimEmail}" id="iletisimEmailDropDown"
							addNullOption="true" />
						<arf:dropdown label="#{label['uye.iletisimSms']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="iletisimSms" value="#{kisiController.kisiUye.iletisimSms}" id="iletisimSmsDropDown"
							addNullOption="true" />
						<arf:dropdown label="#{label['uye.iletisimPosta']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="iletisimPosta" value="#{kisiController.kisiUye.iletisimPosta}" id="iletisimPostaDropDown"
							addNullOption="true" />
					</p:panel>


					<p:panel header="#{label['kisiogrenim.edit']}" style="width:99%; margin-left:.5%" id="kisiogrenimOnlyPanel">
						<arf:textoutput label="#{label['kisiogrenim.ogrenimtip']}" value="#{kisiController.kisiogrenim.ogrenimtip.label}" id="ogrenimTipOutputText" />
						<arf:dropdown label="#{label['kisiogrenim.universiteRef']}" listSource="#{kisiController.selectOrderedItemListFor('Universite','o.ad')}" requiredCond="true" compId="universiteRef"
							value="#{kisiController.kisiogrenim.universiteRef}" converterId="#{'universiteConverter'}" id="universiteRefDropDown" />
						<arf:dropdown label="#{label['kisiogrenim.fakulteRef']}" listSource="#{kisiController.selectOrderedItemListFor('Fakulte','o.ad')}" requiredCond="#{kisiController.fakulteZorunluMu()}" compId="fakulteRef" value="#{kisiController.kisiogrenim.fakulteRef}"
							converterId="#{'fakulteConverter'}" id="fakulteRefDropDown" />
						<arf:dropdown label="#{label['kisiogrenim.bolumRef']}" listSource="#{kisiController.selectOrderedItemListForBolum('Bolum','o.ad')}" requiredCond="true" compId="bolumRef" value="#{kisiController.kisiogrenim.bolumRef}"
							converterId="#{'bolumConverter'}" id="bolumRefDropDown" />

						<arf:textinput label="#{label['kisiogrenim.lisansunvan']}" value="#{kisiController.kisiogrenim.lisansunvan}" compId="lisansunvan" requiredCond="true" id="lisansunvanInputText" maxLength="200" />
						<arf:textinput label="#{label['kisiogrenim.diplomano']}" value="#{kisiController.kisiogrenim.diplomano}" compId="diplomano" requiredCond="#{kisiController.uyeYap}" id="diplomanoInputText" maxLength="200" />
						<arf:dropdown label="#{label['kisiogrenim.denklikdurum']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="denklikdurum" value="#{kisiController.kisiogrenim.denklikdurum}"
							id="denklikdurumDropdown" />
						<arf:textinputarea label="#{label['kisiogrenim.aciklama']}" value="#{kisiController.kisiogrenim.aciklama}" compId="aciklama" requiredCond="false" id="aciklamaInputText" maxLength="200" />
						<arf:spinner label="#{label['kisiogrenim.mezuniyettarihi']}" value="#{kisiController.kisiogrenim.mezuniyettarihi}" compId="mezuniyettarihi" requiredCond="true" id="mezuniyetTarihiSpinner" maxLength="4" minLength="4"
							min="1900" max="9999" />
					</p:panel>
				</p:fieldset>

				<p:fieldset id="adresEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['adres.edit']}" rendered="#{kisiController.wizardStep == 4}">

					<p:panel header="KPS Adresi" style="width:99%; margin-left:.5%" id="kpsAdresPanel">
						<h:panelGrid columns="4" columnClasses="yirmiYuzde, otuzYuzde, yirmiYuzde, otuzYuzde" style="width:100%">
							<arftags:detailItem val="#{kisiController.kpsAdres.adresturu.label}" header="#{label['adres.adresturu']}" colName="adresturu" renderCondition="true" />
							<arftags:detailItem val="#{kisiController.kpsAdres.adrestipi.label}" header="#{label['adres.adrestipi']}" colName="adrestipi" renderCondition="true" />
							<arftags:detailItem val="#{kisiController.kpsAdres.acikAdres}" header="#{label['adres.acikAdres']}" colName="acikAdres" renderCondition="true" />
							<arftags:detailItem val="#{kisiController.kpsAdres.binaSiteAdi}" header="#{label['adres.binaSiteAdi']}" colName="binaSiteAdi" renderCondition="true" />
							<arftags:detailItem val="#{kisiController.kpsAdres.binaBlokAdi}" header="#{label['adres.binaBlokAdi']}" colName="binaBlokAdi" renderCondition="true" />
							<arftags:detailItem val="#{kisiController.kpsAdres.csbm}" header="#{label['adres.csbm']}" colName="csbm" renderCondition="true" />
							<arftags:detailItem val="#{kisiController.kpsAdres.disKapiNo}" header="#{label['adres.disKapiNo']}" colName="disKapiNo" renderCondition="true" />
							<arftags:detailItem val="#{kisiController.kpsAdres.icKapiNo}" header="#{label['adres.icKapiNo']}" colName="icKapiNo" renderCondition="true" />
							<arftags:detailItem val="#{kisiController.kpsAdres.mahalle}" header="#{label['adres.mahalle']}" colName="mahalle" renderCondition="true" />
							<arftags:detailItem val="#{kisiController.kpsAdres.sehirRef.UIString}" header="#{label['adres.sehirRef']}" colName="sehirRef" renderCondition="true" />
							<arftags:detailItem val="#{kisiController.kpsAdres.ilceRef.UIString}" header="#{label['adres.ilceRef']}" colName="ilceRef" renderCondition="true" />
						</h:panelGrid>
					</p:panel>
					<p:panel header="İşyeri Adresi" style="width:99%; margin-left:.5%; margin-top:10px" id="isyeriAdresPanel" rendered="#{kisiController.kurumKisi.kurumRef.RID != null}">
						<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" style="width:100%">
							<arf:dropdown label="#{label['adres.adrestipi']}" listSource="#{enumeratedController.adresTipiItemsForKisi}" requiredCond="true" compId="adrestipi" value="#{kisiController.isyeriadresi.adrestipi}"
								id="adrestipiDropDownAdres2" addNullOption="true" ajaxEventListener="#{kisiController.handleChange}"
								changeEventUpdateComp="#{':kisiForm:isyeriAdresPanel :kisiForm:acikadrespanel2 :kisiForm:sehirpanel2 :kisiForm:ilcepanel2 :kisiForm:yabanciulkepanel2 
								:kisiForm:yabancisehirpanel2 :kisiForm:yabanciadrespanel2'}" />
							<arf:textoutput label="#{label['adres.adresturu']}" value="#{kisiController.isyeriadresi.adresturu.label}" id="adresturuTextOutput2" />
							<arf:booleanbox id="isyeriadresvarsayilanCheckbox" compId="varsayilan" styleClass="optionalInputText" value="#{kisiController.isyeriadresvarsayilan}" label="#{label['adres.varsayilan']}" requiredCond="false"
								readOnlyStatus="#{kisiController.beyanadresvarsayilan== false}" disabledCond="#{kisiController.beyanadresvarsayilan== true}" />

							<p:outputPanel id="acikadrespanel2" rendered="true">
								<arf:textinputarea label="#{label['adres.acikAdres']}" value="#{kisiController.isyeriadresi.acikAdres}" compId="acikAdres2" requiredCond="false" id="acikAdresInputText2" maxLength="255"
									rendered="#{kisiController.isyeriadresi.adrestipi.code != 4}" />
							</p:outputPanel>

							<p:outputPanel id="sehirpanel2" rendered="true">
								<arf:dropdown label="#{label['adres.sehirRef']}" listSource="#{sessionUser.sehirItemList}" requiredCond="false" compId="sehirRefAdres2" value="#{kisiController.isyeriadresi.sehirRef}" converterId="#{'sehirConverter'}"
									id="sehirRefDropDownAdres2" ajaxEventListener="#{kisiController.handleChangeForKisi}" changeEventUpdateComp="#{':kisiForm:ilcepanel2'}" rendered="#{kisiController.isyeriadresi.adrestipi.code != 4}" />
							</p:outputPanel>
							<p:outputPanel id="ilcepanel2" rendered="true">
								<arf:dropdown label="#{label['adres.ilceRef']}" listSource="#{kisiController.ilceItemListForIsyeriAdres}" requiredCond="false" compId="ilceRefAdres2" value="#{kisiController.isyeriadresi.ilceRef}"
									converterId="#{'ilceConverter'}" id="ilceRefDropDown2" rendered="#{kisiController.isyeriadresi.adrestipi.code != 4}" />
							</p:outputPanel>
							<p:outputPanel id="yabanciulkepanel2" rendered="true">
								<arf:textinput label="#{label['adres.yabanciulke']}" value="#{kisiController.isyeriadresi.yabanciulke}" compId="yabanciulke2" requiredCond="false" id="yabanciulkeInputText2" maxLength="255"
									rendered="#{kisiController.isyeriadresi.adrestipi.code == 4}" />
							</p:outputPanel>
							<p:outputPanel id="yabancisehirpanel2" rendered="true">
								<arf:textinput label="#{label['adres.yabancisehir']}" value="#{kisiController.isyeriadresi.yabancisehir}" compId="yabancisehir2" requiredCond="false" id="yabancisehirInputText2" maxLength="255"
									rendered="#{kisiController.isyeriadresi.adrestipi.code == 4}" />
							</p:outputPanel>
							<p:outputPanel id="yabanciadrespanel2" rendered="true">
								<arf:textinputarea label="#{label['adres.yabanciadres']}" value="#{kisiController.isyeriadresi.yabanciadres}" compId="yabanciadres2" requiredCond="false" id="yabanciadresInputText2" maxLength="255"
									rendered="#{kisiController.isyeriadresi.adrestipi.code == 4}" />
							</p:outputPanel>

						</h:panelGrid>
					</p:panel>
					<p:panel header="Beyan Adresi" style="width:99%; margin-left:.5%; margin-top:10px" id="beyanAdresPanel">

						<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">
							<arf:dropdown label="#{label['adres.adrestipi']}" listSource="#{enumeratedController.adresTipiItemsForKisi}" requiredCond="true" compId="adrestipi" value="#{kisiController.adres.adrestipi}" id="adrestipiDropDown"
								addNullOption="true" ajaxEventListener="#{kisiController.handleChange}"
								changeEventUpdateComp="#{':kisiForm:beyanAdresPanel :kisiForm:sehirpanel :kisiForm:ilcepanel :kisiForm:yabanciulkepanel 
								:kisiForm:yabancisehirpanel :kisiForm:yabanciadrespanel'}" />

							<arf:textoutput label="#{label['adres.adresturu']}" value="#{kisiController.adres.adresturu.label}" id="adresturuTextOutput" rendered="#{!kisiController.kisi.eskiKayitMiForPersisted and !kisiController.kisi.yabanciMi}" />

							<arf:dropdown label="#{label['adres.adresturu']}" listSource="#{enumeratedController.adresTuruItems}" requiredCond="true" compId="adresTuruCombo" value="#{kisiController.adres.adresturu}" id="adresTuruComboDropDown"
								addNullOption="true" rendered="#{kisiController.kisi.eskiKayitMiForPersisted or kisiController.kisi.yabanciMi}" />

							<arf:dropdown label="#{label['adres.varsayilan']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="varsayilan" value="#{kisiController.adres.varsayilan}" id="varsayilanDropDown"
								addNullOption="true" />

							<p:outputPanel id="acikadrespanel" rendered="true">
								<arf:textinputarea label="#{label['adres.acikAdres']}" value="#{kisiController.adres.acikAdres}" compId="acikAdres" requiredCond="true" id="acikAdresInputText" maxLength="255"
									rendered="#{kisiController.adres.adrestipi.code != 4}" />
							</p:outputPanel>
							<p:outputPanel id="sehirpanel" rendered="true">
								<arf:dropdown label="#{label['adres.sehirRef']}" listSource="#{sessionUser.sehirItemList}" requiredCond="true" compId="sehirRefAdres" value="#{kisiController.adres.sehirRef}" converterId="#{'sehirConverter'}"
									id="sehirRefDropDownAdres" ajaxEventListener="#{kisiController.handleChange}" changeEventUpdateComp="#{':kisiForm:ilceRefDropDownAdres:ilceRefAdres'}" rendered="#{kisiController.adres.adrestipi.code != 4}" />
							</p:outputPanel>
							<p:outputPanel id="ilcepanel" rendered="true">
								<arf:dropdown label="#{label['adres.ilceRef']}" listSource="#{kisiController.ilceItemList}" requiredCond="true" compId="ilceRefAdres" value="#{kisiController.adres.ilceRef}" converterId="#{'ilceConverter'}"
									id="ilceRefDropDownAdres" rendered="#{kisiController.adres.adrestipi.code != 4}" />
							</p:outputPanel>

							<p:outputPanel id="yabanciulkepanel" rendered="true">
								<arf:textinput label="#{label['adres.yabanciulke']}" value="#{kisiController.adres.yabanciulke}" compId="yabanciulke" requiredCond="true" id="yabanciulkeInputText" maxLength="255"
									rendered="#{kisiController.adres.adrestipi.code == 4}" />
							</p:outputPanel>
							<p:outputPanel id="yabancisehirpanel" rendered="true">
								<arf:textinput label="#{label['adres.yabancisehir']}" value="#{kisiController.adres.yabancisehir}" compId="yabancisehir" requiredCond="true" id="yabancisehirInputText" maxLength="255"
									rendered="#{kisiController.adres.adrestipi.code == 4}" />
							</p:outputPanel>
							<p:outputPanel id="yabanciadrespanel" rendered="true">
								<arf:textinputarea label="#{label['adres.yabanciadres']}" value="#{kisiController.adres.yabanciadres}" compId="yabanciadres" requiredCond="true" id="yabanciadresInputText" maxLength="255"
									rendered="#{kisiController.adres.adrestipi.code == 4}" />
							</p:outputPanel>

						</h:panelGrid>
					</p:panel>

				</p:fieldset>

				<p:fieldset id="telefonEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['telefon.edit']}" rendered="#{kisiController.wizardStep == 5}">
					<p:panel header="#{label['telefon.edit']}" style="width:99%; margin-left:.5%">
						<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">
							<arf:maskinput label="#{label['telefon.telefonno']}" value="#{kisiController.telefon.telefonno}" compId="telefonno" requiredCond="false" id="telefonnoInputText" maxLength="30" customValidatorId="#{'phoneValidator'}"
								mask="0 (999) 999 9999" />
							<arf:dropdown label="#{label['telefon.telefonturu']}" listSource="#{enumeratedController.telefonTuruItems}" requiredCond="false" compId="telefonturu" value="#{kisiController.telefon.telefonturu}" id="telefonturuDropDown" />
							<arf:dropdown label="#{label['telefon.varsayilan']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="false" compId="telVarsayilan" value="#{kisiController.telefon.varsayilan}" id="telVarsayilanDropDown" />
						</h:panelGrid>
					</p:panel>

				</p:fieldset>

				<p:fieldset id="internetadresEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['internetadres.edit']}" rendered="#{kisiController.wizardStep == 6}">
					<p:panel header="#{label['internetadres.edit']}" style="width:99%; margin-left:.5%" rendered="#{!kisiController.kisi.eskiKayitMi}">
						<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">
							<arf:textinput label="#{label['internetadres.netadresmetni']}" value="#{kisiController.internetadres.netadresmetni}" compId="netadresmetni" requiredCond="false" id="netadresmetniInputText" maxLength="500"
								keyFilterMask="email" />
							<arf:textoutput label="#{label['internetadres.netadresturu']}" value="#{kisiController.internetadres.netadresturu.label}" id="netadresturuDropDown" />
							<arf:dropdown label="#{label['internetadres.varsayilan']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="false" compId="netVarsayilan" value="#{kisiController.internetadres.varsayilan}"
								id="netVarsayilanDropDown" />

						</h:panelGrid>
					</p:panel>

				</p:fieldset>

				<div style="margin-left: 40%; width: 60%">
					<p:outputPanel id="commandPanel">
						<p:blockUI block="kisiForm" trigger="kisiWizardBackward saveAndWizard finishWizard kisiWizardForward">
							<h:outputText value="#{label['common.loading']}" />
							<br />
							<h:graphicImage library="_image" name="ajax-loader.gif" />
						</p:blockUI>

						<p:commandButton id="kisiWizardBackward" action="#{kisiController.wizardBackward}" value="#{label['command.backward']}" ajax="true" process="@this" update="@form :globalMessages" icon="backward" styleClass="arfCommandButton"
							rendered="#{kisiController.wizardStep > 2}" />

						<p:commandButton id="saveAndWizard" action="#{kisiController.saveAndForward}" value="#{label['command.saveAndForward']}" process="@form" update="@form :globalMessages" ajax="true" icon="save" styleClass="arfCommandButton"
							rendered="#{kisiController.wizardStep == 1 and !kisiController.kisiBulundu and kisiController.kisikimlik.kimlikno != null}" />

						<p:commandButton id="finishWizard" action="#{kisiController.finishWizard}" value="#{label['command.finishWizard']}" icon="save" styleClass="arfCommandButton"
							rendered="#{kisiController.wizardStep == 6 and !kisiController.kisiBulundu}" process="@form" update="@form :globalMessages" />

						<p:commandButton id="kisiWizardForward" action="#{kisiController.wizardForward}" value="#{label['command.forward']}" ajax="true" process="@form" update="@form :globalMessages" icon="forward" styleClass="arfCommandButton"
							rendered="#{kisiController.wizardStep != 6 and kisiController.wizardStep != 1}" />
					</p:outputPanel>
				</div>
			</h:form>

			<p:dialog header="#{label['common.detailEdit']}" widgetVar="kurumEditDialog" width="1000" height="500" style="position:absolute; left:5%; top:2%" modal="true" id="dialogUpdateBox"
				visible="#{kisiController.detailEditType == 'Kurum'}">
				<h:form id="kurumForm">

					<p:fieldset id="birimDialogPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['birim.edit']}">

						<arf:textinput label="#{label['kurum.ad']}" value="#{kisiController.kurum.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="100" />
						<arf:dropdown label="#{label['kurum.kurumTuruRef']}" listSource="#{kisiController.selectItemListFor('KurumTuru')}" requiredCond="true" compId="kurumTuruRef" value="#{kisiController.kurum.kurumTuruRef}"
							converterId="#{'kurumTuruConverter'}" id="kurumTuruRefDropDown" />
						<arf:textinput label="#{label['kurum.vergidairesi']}" value="#{kisiController.kurum.vergidairesi}" compId="vergidairesi" requiredCond="false" id="vergidairesiInputText" maxLength="30" />
						<arf:textinput label="#{label['kurum.vergino']}" value="#{kisiController.kurum.vergino}" compId="vergino" requiredCond="false" id="verginoInputText" maxLength="20" />

						<arf:suggestbox label="#{label['evrak.sorumluRef']}" methodName="#{kisiController.completeMethod}" requiredCond="false" compId="sorumluRefForFilter" value="#{kisiController.kurum.sorumluRef}"
							id="sorumluRefSuggestBoxForFilter" converterId="#{'kisiConverter'}" modelName="#{'Kisi'}" var="sorumluRef" itemValue="#{sorumluRef}" itemLabel="#{sorumluRef}" />
						<arf:textinput label="#{label['kurum.aciklama']}" value="#{kisiController.kurum.aciklama}" compId="aciklama" requiredCond="false" id="aciklamaInputText" maxLength="200" />
					</p:fieldset>
					<p align="center" style="margin-top: 20px">
						<p:blockUI block=":kisiForm" trigger="saveDetailsButton cancelDetailsButton">
							<h:outputText value="#{label['common.loading']}" />
							<br />
							<h:graphicImage library="_image" name="ajax-loader.gif" />
						</p:blockUI>
						<p:commandButton id="saveDetailsButton" icon="save" value="#{label['command.post']}" styleClass="commandButton" action="#{kisiController.saveKurum}" update=":kisiForm:kurumEditPanel :globalMessages" process="@form"
							ajax="true" />
						<p:commandButton id="cancelDetailsButton" icon="iptal" value="#{label['command.cancel']}" styleClass="commandButton" onclick="kurumEditDialog.hide()" process="@this" />
						<br />
					</p>
				</h:form>
			</p:dialog>
			<pe:ajaxErrorHandler title="Error" body="Server return exception  {error-name} with description {error-message}" button="Hide" widgetVar="myAjaxErrorHandler" buttonOnclick="myAjaxErrorHandler.hide()" />
		</h:body>
	</ui:define>
</ui:composition>
