<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="kisiForm" prependId="false">
				<table width="98.5%" cellspacing="5" border="0" style="margin-left: 1%; border: 1px inset gray; -moz-border-radius: 5px; border-radius: 5px;">
					<tr>
						<td width="20%" style="vertical-align: top; valign: top">
							<div style="overflow: auto; height: 450px; width: 96%; padding: 5px; border: 1px dotted gray; -moz-border-radius: 5px; border-radius: 5px; text-align: center">
								<arftags:scaledImageViewer file="#{kisiController.kisiDetayFotograf}" path="kisifotograf" renderCondition="#{kisiController.kisiDetay.RID != null}" imageHeight="200px" imageWidth="160px" />
								<br /> <br />
								<p:commandButton process="@this" value="#{label['kisi.listeyeDon']}" icon="kisi" action="#{kisiController.kisiListesineDon}" style="margin-right:15px" />
								<br /> <br /> <span style="position: relative; top: 15px;"> <h:outputText value="#{kisiController.kisiDetay.UIStringShort}" style="font-size:18px; font-weight:bold" /><br /> <h:outputText
										value="#{kisiController.kisiDetay.kimlikno}" style="font-size:14px; font-weight:bold" /><br /> <h:outputText value="#{kisiController.kisiDetay.kisiInternetadres.UIString}" style="font-size:14px; font-weight:bold" /><br />
									<h:outputText value="#{label['kisi.gsm']} : #{kisiController.kisiDetay.kisiTelefon.UIString}" style="font-size:14px; font-weight:bold" /><br />

								</span> <br />
								<p align="center">
									<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
										<p:commandButton id="kisiAnlikEPosta" process="@this" icon="adres" action="#{kisiController.eposta}" rendered="#{kisiController.listRenderedFor('Kisi')}" disabled="#{kisiController.kisiDetay.RID == null}"
											value="#{label['command.kisianlikEposta']}" styleClass="arfCommandButton" />
										<p:commandButton id="kisiAnlikSMS" process="@this" icon="telefon" action="#{kisiController.sms}" rendered="#{kisiController.listRenderedFor('Kisi')}" disabled="#{kisiController.kisiDetay.RID == null}"
											value="#{label['command.kisianlikSMS']}" styleClass="arfCommandButton" />
									</h:panelGrid>
								</p>
								<p:spacer width="60" height="30" />
							</div>
						</td>
						<td width="80%" style="vertical-align: top; valign: top"><p:panel id="kisiPanel" style="padding:none">
								<p:toolbar style="width:100%; height:25px; border:none lightgray; background:none; margin-left:1.5%; width:96%">
									<p:toolbarGroup align="left" style="width:100%; padding:none">
										<p:commandButton process="@this" update="@form" value="#{label['kisi.summary']}" icon="kisi" action="#{kisiController.kisi}" disabled="#{kisiController.kisiDetay.RID == null or kisiController.selectedTab == 'kisi'}"
											rendered="#{kisiController.listRenderedFor('Kisi')}" />
										<p:commandButton id="kisiogrenimCommand" process="@this" update="@form" icon="uyeOgrenim" action="#{kisiController.createKisiDetay('kisiogrenim')}" rendered="#{kisiController.listRenderedFor('Kisiogrenim')}"
											value="#{label['command.kisiogrenim']}" disabled="#{kisiController.kisiDetay.RID == null or kisiController.selectedTab == 'kisiogrenim'}" />
										<p:commandButton process="@this" update="@form" value="#{label['common.iletisim']}" icon="internet" action="#{kisiController.createKisiDetay('internetadres')}"
											disabled="#{kisiController.kisiDetay.RID == null or kisiController.selectedTab == 'internetadres'}" rendered="#{kisiController.listRenderedFor('Internetadres')}" />
										<p:commandButton process="@this" update="@form" value="#{label['command.kisifotograf']}" rendered="#{kisiController.listRenderedFor('Kisifotograf')}" icon="fotograf"
											action="#{kisiController.createKisiDetay('kisifotograf')}" disabled="#{kisiController.kisiDetay.RID == null or kisiController.selectedTab == 'kisifotograf'}" />
										<p:commandButton process="@this" update="@form" value="#{label['command.kisikimlik']}" rendered="#{kisiController.listRenderedFor('Kisikimlik')}" icon="kimlik" action="#{kisiController.createKisiDetay('kisikimlik')}"
											disabled="#{kisiController.kisiDetay.RID == null  or kisiController.selectedTab == 'kisikimlik'}" />
										<p:commandButton id="kurumkisiCommand" process="@this" update="@form" icon="uyekurum" action="#{kisiController.createKisiDetay('kurumkisi')}" rendered="#{kisiController.listRenderedFor('KurumKisi')}"
											value="#{label['command.uyekurum']}" disabled="#{kisiController.kisiDetay.RID == null or kisiController.selectedTab == 'kurumkisi'}" />
										<p:commandButton process="@this" update="@form" value="#{label['command.personel']}" rendered="#{kisiController.listRenderedFor('Personel')}" icon="personel" action="#{kisiController.createKisiDetay('personel')}"
											disabled="#{kisiController.kisiDetay.RID == null or kisiController.selectedTab == 'personel'}" />
										<p:commandButton process="@this" update="@form" value="#{label['command.uye']}" rendered="#{kisiController.listRenderedFor('Uye')}" icon="uye" action="#{kisiController.createKisiDetay('uye')}"
											disabled="#{kisiController.kisiDetay.RID == null or kisiController.selectedTab == 'uye'}" />

									</p:toolbarGroup>
								</p:toolbar>

								<p:fieldset legend="#{label['kisi.summary']}" styleClass="pageFieldSet" id="kisiListPanel" rendered="#{kisiController.selectedTab == 'kisi'}">
									<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" width="100%">
										<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" width="100%">
											<arftags:detailItem colName="adSoyad" header="#{label['kisi.ad']} #{label['kisi.soyad']}" renderCondition="true" val="#{kisiController.kisiDetay.UIStringShort}" />
											<arftags:detailItem colName="kimlikno" header="#{label['kisi.kimlikno']}" renderCondition="true" val="#{kisiController.kisiDetay.kimlikno}" />
											<arftags:detailItem colName="kimliktip" header="#{label['kisi.kimliktip']}" renderCondition="false" val="#{kisiController.kisiDetay.kimliktip.label}" />
											<arftags:detailItem colName="uyeBulundu" header="#{label['kisi.isyeribilgisi']}" renderCondition="true" val="#{kisiController.kisiDetay.isYeriBilgisi}" />
											<arftags:detailItem colName="isyeriadres" header="#{label['kisi.isyeriadres']}" val="#{kisiController.isyeriadres.acikAdres}" renderCondition="true" />
											<arftags:detailItem colName="istelefon" header="#{label['kisi.istelefon']}" val="#{kisiController.istelefon.UIString}" renderCondition="true" />
											<arftags:detailItem colName="evadresi" header="#{label['kisi.evadresi']}" val="#{kisiController.evadresi.acikAdres}" renderCondition="true" />
											<arftags:detailItem colName="evtelefon" header="#{label['kisi.evtelefon']}" val="#{kisiController.evtelefon.UIString}" renderCondition="true" />
											<arftags:detailItem colName="uyeUniversite" header="#{label['kisi.mezunolduguuniversite']}" renderCondition="#{kisiController.kisiDetay.kisiogrenim.universiteRef!=null}"
												val="#{kisiController.kisiDetay.kisiogrenim.universiteRef.UIString}" />
											<arftags:detailItem colName="uyeBolum" header="#{label['kisi.mezunoldugubolum']}" renderCondition="#{kisiController.kisiDetay.kisiogrenim.bolumRef!=null}" val="#{kisiController.kisiDetay.kisiogrenim.bolumRef.UIString}" />
										</h:panelGrid>
										<h:panelGrid>
											<p:commandButton onsuccess="detailEditDialog.show()" value="#{label['command.personelYap']}" action="#{kisiController.newDetail('personel')}" icon="new" immediate="true" process="@this" update="@this"
												styleClass="commandButton" ajax="true" style="width:130px" rendered="#{kisiController.updateRecordRenderedFor('Personel') and !kisiController.personelmi(kisiController.kisiDetay)}" />
											<p:commandButton onsuccess="detailEditDialog.show()" value="#{label['command.uyeYap']}" action="#{kisiController.newDetail('uye')}" icon="new" immediate="true" process="@this" update="@this" styleClass="commandButton"
												ajax="true" style="width:130px" rendered="#{kisiController.updateRecordRenderedFor('Uye') and !kisiController.uyemi(kisiController.kisiDetay)}" />
										</h:panelGrid>
									</h:panelGrid>
								</p:fieldset>

								<p:fieldset legend="#{label['common.iletisim']}" styleClass="pageFieldSet" id="internetadresListPanel"
									rendered="#{kisiController.selectedTab == 'internetadres' or kisiController.selectedTab == 'adres' or kisiController.selectedTab == 'telefon'}">
									<p:panel id="internetadresMaster" styleClass="innerFieldSet">
										<h:graphicImage library="_image" name="toMasterPage.png" styleClass="masterLinkIcon" width="16" height="16" style="margin-right:10px; vertical-align:middle !important" />
										<h:outputText value="#{label['common.parent']} : #{kisiController.kisiDetay.UIString}" />
									</p:panel>

									<p:blockUI block="adresTable" trigger="adresTable">
										<h:outputText value="#{label['common.loading']}" />
										<br />
										<h:graphicImage library="_image" name="ajax-loader.gif" />
									</p:blockUI>
									<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" id="adresTable" value="#{kisiController.adresController.list}" var="adresRow" binding="#{adresController.table}" rowIndexVar="rowIndex"
										rowKey="#{adresRow.RID}" resizableColumns="false">
										<f:facet name="header">
											<h:outputText value="#{label['adres.list']}" />
										</f:facet>
										<arftags:column val="#{adresRow.adresturu.label}" header="#{label['adres.adresturu']}" width="15" />
										<arftags:column val="#{adresRow.varsayilan.label}" header="#{label['adres.varsayilan']}" width="10" />
										<arftags:column val="#{adresRow.adrestipi.label}" header="#{label['adres.adrestipi']}" width="10" />
										<arftags:column val="#{adresRow.acikAdres}#{adresRow.yabanciadres} #{adresRow.yabanciulke} #{adresRow.yabancisehir}" header="#{label['adres.acikAdres']}" width="20" />
										<arftags:column val="#{adresRow.sehirRef.UIString}" header="#{label['adres.sehirRef']}" width="15" />
										<arftags:column val="#{adresRow.ilceRef.UIString}" header="#{label['adres.ilceRef']}" width="15" />

										<p:column width="140" style="text-align:center" headerText="#{label['common.islem']}">
											<arf:buttonSetForDetailList controllerClassName="#{kisiController}" modelName="Adres" rowItem="#{adresRow}" loggable="#{kisiController.adresController.loggable}" />
										</p:column>
									</p:dataTable>
									<p:commandButton onsuccess="detailEditDialog.show()" value="#{label['command.insert']}" action="#{kisiController.newDetail('adres')}" icon="new" immediate="true" process="@this" update="@this" styleClass="commandButton"
										ajax="true" style="width:70px; margin-left:45%" rendered="#{kisiController.updateRecordRenderedFor('Adres') and kisiController.adresController.list.size()==0 }" />
									<p:spacer width="80%" height="50px" />
									<p:blockUI block="telefonTable" trigger="telefonTable">
										<h:outputText value="#{label['common.loading']}" />
										<br />
										<h:graphicImage library="_image" name="ajax-loader.gif" />
									</p:blockUI>
									<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" id="telefonTable" value="#{kisiController.telefonController.list}" var="telefonRow" binding="#{telefonController.table}" rowIndexVar="rowIndex"
										rowKey="#{telefonRow.RID}" resizableColumns="false">
										<f:facet name="header">
											<h:outputText value="#{label['telefon.list']}" />
										</f:facet>
										<arftags:column val="#{telefonRow.telefonno}" header="#{label['telefon.telefonno']}" width="45" />
										<arftags:column val="#{telefonRow.telefonturu.label}" header="#{label['telefon.telefonturu']}" width="40" />
										<arftags:column val="#{telefonRow.varsayilan.label}" header="#{label['telefon.varsayilan']}" width="32" />
										<p:column width="140" style="text-align:center" headerText="#{label['common.islem']}">
											<arf:buttonSetForDetailList controllerClassName="#{kisiController}" modelName="Telefon" rowItem="#{telefonRow}" loggable="#{kisiController.telefonController.loggable}" />
										</p:column>
									</p:dataTable>
									<p:commandButton onsuccess="detailEditDialog.show()" value="#{label['command.insert']}" action="#{kisiController.newDetail('telefon')}" icon="new" immediate="true" process="@this" update="@this" styleClass="commandButton"
										ajax="true" style="width:70px; margin-left:45%" rendered="#{kisiController.updateRecordRenderedFor('Telefon') and telefonController.list.size() == 0}" />
									<p:spacer width="80%" height="50px" />

									<p:blockUI block="internetadresTable" trigger="internetadresTable">
										<h:outputText value="#{label['common.loading']}" />
										<br />
										<h:graphicImage library="_image" name="ajax-loader.gif" />
									</p:blockUI>
									<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="internetadresTable" value="#{kisiController.internetadresController.list}" var="internetadresRow"
										binding="#{internetadresController.table}" rowIndexVar="rowIndex" rowKey="#{internetadresRow.RID}" resizableColumns="false">
										<f:facet name="header">
											<h:outputText value="#{label['internetadres.list']}" />
										</f:facet>
										<arftags:column val="#{internetadresRow.netadresmetni}" header="#{label['internetadres.netadresmetni']}" width="32" />
										<arftags:column val="#{internetadresRow.netadresturu.label}" header="#{label['internetadres.netadresturu']}" width="32" />
										<arftags:column val="#{internetadresRow.varsayilan.label}" header="#{label['internetadres.varsayilan']}" width="32" />
										<p:column width="140" style="text-align:center" headerText="#{label['common.islem']}">
											<arf:buttonSetForDetailList controllerClassName="#{kisiController}" modelName="Internetadres" rowItem="#{internetadresRow}" loggable="#{kisiController.internetadresController.loggable}" />
										</p:column>
									</p:dataTable>
									<p:commandButton onsuccess="detailEditDialog.show()" value="#{label['command.insert']}" action="#{kisiController.newDetail('internetadres')}" icon="new" immediate="true" process="@this" update="@this"
										styleClass="commandButton" ajax="true" style="width:70px; margin-left:45%" rendered="#{kisiController.updateRecordRenderedFor('Internetadres') and internetadresController.list.size() == 0}" />
									<p:spacer width="80%" height="50px" />
								</p:fieldset>

								<p:fieldset legend="#{label['kisifotograf.list']}" styleClass="pageFieldSet" id="kisifotografListPanel" rendered="#{kisiController.selectedTab == 'kisifotograf'}">
									<p:panel id="kisifotografMaster" styleClass="innerFieldSet">
										<h:graphicImage library="_image" name="toMasterPage.png" styleClass="masterLinkIcon" width="16" height="16" style="margin-right:10px; vertical-align:middle !important" />
										<h:outputText value="#{label['common.parent']} : #{kisiController.kisiDetay.UIString}" />
									</p:panel>
									<p:blockUI block="kisifotografTable" trigger="kisifotografTable">
										<h:outputText value="#{label['common.loading']}" />
										<br />
										<h:graphicImage library="_image" name="ajax-loader.gif" />
									</p:blockUI>
									<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kisifotografTable" value="#{kisiController.kisifotografController.list}" var="kisifotografRow"
										binding="#{kisifotografController.table}" rowIndexVar="rowIndex" rowKey="#{kisifotografRow.RID}" resizableColumns="false">

										<arftags:imagePreviewColumn file="#{kisifotografRow.path}" path="kisifotograf" />
										<arftags:column val="#{kisifotografRow.varsayilan.label}" header="#{label['kisifotograf.varsayilan']}" width="25" />
										<p:column width="100" style="text-align:center">
											<f:facet name="header">
												<h:outputText value="#{label['common.islem']}" />
											</f:facet>
											<p:commandButton onsuccess="detailEditDialog.show()" action="#{kisiController.newDetail('kisifotograf')}" icon="new" immediate="true" process="@this" update="@form" styleClass="commandButton" ajax="true"
												style="width:30px" rendered="#{kisiController.updateRecordRenderedFor('Kisifotograf')}" />
											<p:commandButton id="kisifotografDeleteCommand" action="#{kisiController.deleteDetail('kisifotograf', kisifotografRow)}" onclick="if (confirm('#{label['recordDelete']}')) {return true} else {return false}"
												rendered="#{kisiController.deleteRenderedFor('Kisifotograf')}" icon="delete" update=":globalMessages" styleClass="commandButton" ajax="true" style="width:30px" immediate="true" />
											<p:commandButton id="varsayilanyapCommand" action="#{kisiController.varsayilanyap(kisifotografRow)}" rendered="#{kisifotografController.list.size() != 0 and kisiController.varsayilan(kisifotografRow)}"
												value="#{label['command.varsayilanyap']}" update=":globalMessages" styleClass="commandButton" ajax="true" style="width:100px" immediate="true" />
										</p:column>
									</p:dataTable>
									<p:commandButton onsuccess="detailEditDialog.show()" value="#{label['command.insert']}" action="#{kisiController.newDetail('kisifotograf')}" icon="new" immediate="true" process="@this" update="@this"
										styleClass="commandButton" ajax="true" style="width:70px; margin-left:45%; margin-bottom:30px" rendered="#{kisiController.updateRecordRenderedFor('Kisifotograf') and kisifotografController.list.size() == 0}" />
								</p:fieldset>

								<p:fieldset legend="#{label['kisikimlik.list']}" styleClass="pageFieldSet" id="kisikimlikListPanel" rendered="#{kisiController.selectedTab == 'kisikimlik'}">
									<p:panel id="kisikimlikMaster" styleClass="innerFieldSet">
										<h:graphicImage library="_image" name="toMasterPage.png" styleClass="masterLinkIcon" width="16" height="16" style="margin-right:10px; vertical-align:middle !important" />
										<h:outputText value="#{label['common.parent']} : #{kisiController.kisiDetay.UIString}" />
									</p:panel>
									<h:panelGrid columns="4" columnClasses="yirmiYuzde, otuzYuzde, yirmiYuzde, otuzYuzde" styleClass="arfEditGrid">
										<arftags:detailItem colName="kimlikno1" header="#{label['kisikimlik.kimlikno']}" renderCondition="true" val="#{kisiController.kisikimlik.kimlikno}" />
										<arftags:detailItem colName="babaad" header="#{label['kisikimlik.babaad']}" renderCondition="true" val="#{kisiController.kisikimlik.babaad}" />
										<arftags:detailItem colName="anaad" header="#{label['kisikimlik.anaad']}" renderCondition="true" val="#{kisiController.kisikimlik.anaad}" />
										<arftags:detailItem colName="dogumsehirRef" header="#{label['kisikimlik.dogumsehirRef']}" renderCondition="true" val="#{kisiController.kisikimlik.dogumsehirRef.UIString}" />
										<arftags:detailItem colName="dogumyer" header="#{label['kisikimlik.dogumyer']}" renderCondition="true" val="#{kisiController.kisikimlik.dogumyer}" />
										<arftags:detailDateItem colName="dogumtarih" val="#{kisiController.kisikimlik.dogumtarih}" header="#{label['kisikimlik.dogumtarih']}" renderCondition="true" />
										<arftags:detailDateItem colName="olumtarih" val="#{kisiController.kisikimlik.olumtarih}" header="#{label['kisikimlik.olumtarih']}" renderCondition="true" />
										<arftags:detailItem colName="cinsiyet" val="#{kisiController.kisikimlik.cinsiyet.label}" header="#{label['kisikimlik.cinsiyet']}" renderCondition="true" />
										<arftags:detailItem colName="kangrup" val="#{kisiController.kisikimlik.kangrup.label}" header="#{label['kisikimlik.kangrup']}" renderCondition="true" />
										<arftags:detailItem colName="medenihal" val="#{kisiController.kisikimlik.medenihal.label}" header="#{label['kisikimlik.medenihal']}" renderCondition="true" />
										<arftags:detailItem colName="sehirRef1" val="#{kisiController.kisikimlik.sehirRef.UIString}" header="#{label['kisikimlik.sehirRef']}" renderCondition="true" />
										<arftags:detailItem colName="ilceRef1" val="#{kisiController.kisikimlik.ilceRef.UIString}" header="#{label['kisikimlik.ilceRef']}" renderCondition="true" />
										<arftags:detailItem colName="mahalle" header="#{label['kisikimlik.mahalle']}" renderCondition="true" val="#{kisiController.kisikimlik.mahalle}" />
										<arftags:detailItem colName="ciltno" val="#{kisiController.kisikimlik.ciltno}" header="#{label['kisikimlik.ciltno']}" renderCondition="true" />
										<arftags:detailItem colName="aileno" val="#{kisiController.kisikimlik.aileno}" header="#{label['kisikimlik.aileno']}" renderCondition="true" />
										<arftags:detailItem colName="sirano" val="#{kisiController.kisikimlik.sirano}" header="#{label['kisikimlik.sirano']}" renderCondition="true" />
										<arftags:detailItem colName="kisidurum" val="#{kisiController.kisikimlik.kisidurum.label}" header="#{label['kisikimlik.kisidurum']}" renderCondition="true" />
										<arftags:detailDateItem colName="kpsdogrulamatarih" val="#{kisiController.kisikimlik.kpsdogrulamatarih}" header="#{label['kisikimlik.kpsdogrulamatarih']}" renderCondition="true" />
									</h:panelGrid>
									<p:commandButton onsuccess="detailEditDialog.show()" value="#{label['command.insert']}" action="#{kisiController.newDetail('kisikimlik')}" icon="new" process="@this" update="@this" styleClass="commandButton" ajax="true"
										style="width:70px; margin-left:45%; margin-bottom:30px" rendered="#{kisiController.updateRecordRenderedFor('Kisikimlik') and kisikimlikController.list.size() == 0}" />
									<p:commandButton onsuccess="detailEditDialog.show()" action="#{kisiController.updateDetail('kisikimlik', kisiController.kisikimlik)}" icon="edit" process="@this" value="#{label['command.update']}" update="@this"
										styleClass="commandButton" ajax="true" style="width:70px; margin-left:45%; margin-bottom:30px"
										rendered="#{kisiController.updateRecordRenderedFor('Kisikimlik') and kisiController.kisikimlik != null}" />
									<p:commandButton id="updateCommand" process="@this" update="@form" icon="webService" action="#{kisiController.kpsGuncelleme}"
										onclick="if (confirm('Tüm bilgiler güncellenecek! Emin misiniz?')) {return true} else {return false}" ajax="true" style="width:150px; margin-left:45%; margin-bottom:30px"
										rendered="#{kisiController.updateRecordRenderedFor('Kisikimlik') and kisiController.kisikimlik != null}" value="KPS'den Güncelle" styleClass="commandButton" />

								</p:fieldset>

								<p:fieldset legend="#{label['uyekurum.list']}" styleClass="pageFieldSet" id="kurumkisiListPanel" rendered="#{kisiController.selectedTab == 'kurumkisi'}">
									<p:panel id="kurumkisiMaster" styleClass="innerFieldSet">
										<h:graphicImage library="_image" name="toMasterPage.png" styleClass="masterLinkIcon" width="16" height="16" style="margin-right:10px; vertical-align:middle !important" />
										<h:outputText value="#{label['common.parent']} : #{kisiController.kisiDetay.UIString}" />
									</p:panel>
									<p:blockUI block="kurumKisiTable" trigger="kurumKisiTable">
										<h:outputText value="#{label['common.loading']}" />
										<br />
										<h:graphicImage library="_image" name="ajax-loader.gif" />
									</p:blockUI>
									<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kurumKisiTable" value="#{kisiController.kurumKisiController.list}" var="kurumKisiRow"
										binding="#{kisiController.kurumKisiController.table}" rowIndexVar="rowIndex" rowKey="#{kurumKisiRow.RID}" resizableColumns="false">

										<arftags:column val="#{kurumKisiRow.kurumRef.UIStringShort}" header="#{label['uyekurum.kurumRef']}" width="14" />
										<arftags:column val="#{kurumKisiRow.adresRef.sehirRef.UIString}" header="#{label['uyekurum.sehirRef']}" width="14" />
										<arftags:column val="#{kurumKisiRow.adresRef.ilceRef.UIString}" header="#{label['uyekurum.ilceRef']}" width="14" />
										<arftags:column val="#{kurumKisiRow.gorev}" header="#{label['uyekurum.gorev']}" width="14" />
										<arftags:column val="#{kurumKisiRow.varsayilan.label}" header="#{label['uyekurum.varsayilan']}" width="14" />
										<arftags:dateColumn val="#{kurumKisiRow.baslangictarih}" header="#{label['uyekurum.baslangictarih']}" width="14" />
										<arftags:dateColumn val="#{kurumKisiRow.bitistarih}" header="#{label['uyekurum.bitistarih']}" width="14" />
										<arftags:column val="#{kurumKisiRow.uyekurumDurum.label}" header="#{label['uyekurum.uyekurumDurum']}" width="14" />
										<p:column width="140" style="text-align:center" headerText="#{label['common.islem']}">
											<arf:buttonSetForDetailList controllerClassName="#{kisiController}" modelName="kurumKisi" rowItem="#{kurumKisiRow}" loggable="#{kisiController.kurumKisiController.loggable}" />
										</p:column>
									</p:dataTable>
									<p:commandButton onsuccess="detailEditDialog.show()" value="#{label['command.insert']}" action="#{kisiController.newDetail('kurumkisi')}" icon="new" immediate="true" process="@this" update="@this"
										styleClass="commandButton" ajax="true" style="width:70px; margin-left:48%; margin-bottom:30px" rendered="#{kisiController.updateRecordRenderedFor('kurumkisi') and kisiController.kurumKisiController.list.size() == 0}" />
								</p:fieldset>

								<p:fieldset legend="#{label['personel.list']}" styleClass="pageFieldSet" id="personelListPanel" rendered="#{kisiController.selectedTab == 'personel'}">
									<p:panel id="personelMaster" styleClass="innerFieldSet">
										<h:graphicImage library="_image" name="toMasterPage.png" styleClass="masterLinkIcon" width="16" height="16" style="margin-right:10px; vertical-align:middle !important" />
										<h:outputText value="#{label['common.parent']} : #{kisiController.kisiDetay.UIString}" />
									</p:panel>
									<p:blockUI block="personelTable" trigger="personelTable">
										<h:outputText value="#{label['common.loading']}" />
										<br />
										<h:graphicImage library="_image" name="ajax-loader.gif" />
									</p:blockUI>
									<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="personelTable" value="#{kisiController.personelController.list}" var="personelRow" binding="#{personelController.table}"
										rowIndexVar="rowIndex" rowKey="#{personelRow.RID}" resizableColumns="false">

										<arftags:column val="#{personelRow.birimRef.UIString}" header="#{label['personel.birimRef']}" width="20" />
										<arftags:dateColumn val="#{personelRow.baslamatarih}" header="#{label['personel.baslamatarih']}" width="20" />
										<arftags:dateColumn val="#{personelRow.bitistarih}" header="#{label['personel.bitistarih']}" width="20" />
										<arftags:column val="#{personelRow.durum.label}" header="#{label['personel.durum']}" width="20" />
										<p:column width="140" style="text-align:center" headerText="#{label['common.islem']}">
											<arf:buttonSetForDetailList controllerClassName="#{kisiController}" modelName="Personel" rowItem="#{personelRow}" loggable="#{kisiController.personelController.loggable}" />
										</p:column>
									</p:dataTable>
									<p:commandButton onsuccess="detailEditDialog.show()" value="#{label['command.insert']}" action="#{kisiController.newDetail('personel')}" icon="new" immediate="true" process="@this" update="@this"
										styleClass="commandButton" ajax="true" style="width:70px; margin-left:45%; margin-bottom:30px" rendered="#{kisiController.updateRecordRenderedFor('Personel') and personelController.list.size() == 0}" />
								</p:fieldset>

								<p:fieldset legend="#{label['uye.list']}" styleClass="pageFieldSet" id="uyeListPanel" rendered="#{kisiController.selectedTab == 'uye'}">
									<p:panel id="uyeMaster" styleClass="innerFieldSet">
										<h:graphicImage library="_image" name="toMasterPage.png" styleClass="masterLinkIcon" width="16" height="16" style="margin-right:10px; vertical-align:middle !important" />
										<h:outputText value="#{label['common.parent']} : #{kisiController.kisiDetay.UIString}" />
									</p:panel>
									<p:blockUI block="uyeTable" trigger="uyeTable">
										<h:outputText value="#{label['common.loading']}" />
										<br />
										<h:graphicImage library="_image" name="ajax-loader.gif" />
									</p:blockUI>
									<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="uyeTable" value="#{kisiController.uyeController.list}" var="uyeRow" binding="#{uyeController.table}" rowIndexVar="rowIndex"
										rowKey="#{uyeRow.RID}" resizableColumns="false">

										<p:column style="text-align:center; width:20px">
											<f:facet name="header">
												<h:outputText value="#{label['common.uyedetay']}" />
											</f:facet>
											<h:commandLink action="#{kisiController.detailUyePage()}">
												<h:graphicImage library="_image" name="detail.png" />
											</h:commandLink>
										</p:column>
										<arftags:column val="#{uyeRow.sicilno}" header="#{label['uye.sicilno']}" width="10" />
										<arftags:column val="#{uyeRow.kisiRef.UIStringShort}" header="#{label['uye.kisiRef']}" width="15" />
										<arftags:column val="#{uyeRow.kurum.ad}" header="#{label['uye.isyeri']}" width="15" />
										<arftags:column val="#{uyeRow.birimRef.UIString}" header="#{label['uye.birimRef']}" width="15" />
										<arftags:column val="#{uyeRow.birimRef.sehirRef.ad}" header="#{label['uye.sehirRef']}" width="15" />
										<arftags:column val="#{uyeRow.kisiRef.kisiTelefon.UIString}" header="#{label['uye.telefon']}" width="15" />
										<arftags:column val="#{uyeRow.kisiRef.kisiInternetadres.UIString}" header="#{label['uye.email']}" width="15" />
										<arftags:numericColumn val="#{uyeRow.uyeAidatBorc}" header="#{label['uyeaidat.borc']}" width="15" />
									</p:dataTable>
								</p:fieldset>

								<p:fieldset legend="#{label['kisiogrenim.list']}" styleClass="pageFieldSet" id="kisiogrenimListPanel" rendered="#{kisiController.selectedTab == 'kisiogrenim'}">
									<p:panel id="kisiogrenimMaster" styleClass="innerFieldSet">
										<h:graphicImage library="_image" name="toMasterPage.png" styleClass="masterLinkIcon" width="16" height="16" style="margin-right:10px; vertical-align:middle !important" />
										<h:outputText value="#{label['common.parent']} : #{kisiController.kisiDetay.UIString}" />
									</p:panel>
									<p:blockUI block="kisiogrenimTable" trigger="kisiogrenimTable">
										<h:outputText value="#{label['common.loading']}" />
										<br />
										<h:graphicImage library="_image" name="ajax-loader.gif" />
									</p:blockUI>
									<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kisiogrenimTable" value="#{kisiController.kisiogrenimController.list}" var="kisiogrenimRow"
										binding="#{kisiController.kisiogrenimController.table}" rowIndexVar="rowIndex" rowKey="#{kisiogrenimRow.RID}" resizableColumns="false">

										<arftags:column val="#{kisiogrenimRow.ogrenimtip.label}" header="#{label['kisiogrenim.ogrenimtip']}" width="15" />
										<arftags:column val="#{kisiogrenimRow.universiteRef.UIString}" header="#{label['kisiogrenim.universiteRef']}" width="15" />
										<arftags:column val="#{kisiogrenimRow.fakulteRef.UIString}" header="#{label['kisiogrenim.fakulteRef']}" width="15" />
										<arftags:column val="#{kisiogrenimRow.bolumRef.UIString}" header="#{label['kisiogrenim.bolumRef']}" width="15" />
										<arftags:column val="#{kisiogrenimRow.diplomano}" header="#{label['kisiogrenim.diplomano']}" width="15" />
										<arftags:column val="#{kisiogrenimRow.varsayilan.label}" header="#{label['kisiogrenim.varsayilan']}" width="15" />
										<arftags:column val="#{kisiogrenimRow.mezuniyettarihi}" header="#{label['kisiogrenim.mezuniyettarihi']}" width="15" />

										<p:column width="100" style="text-align:center" headerText="#{label['common.islem']}">
											<arf:buttonSetForDetailList controllerClassName="#{kisiController}" modelName="Kisiogrenim" rowItem="#{kisiogrenimRow}" loggable="#{kisiController.kisiogrenimController.loggable}" />
										</p:column>
									</p:dataTable>
									<p:commandButton onsuccess="detailEditDialog.show()" value="#{label['command.insert']}" action="#{kisiController.newDetail('kisiogrenim')}" icon="new" immediate="true" process="@this" update="@this"
										styleClass="commandButton" ajax="true" style="width:70px; margin-left:48%; margin-bottom:30px" rendered="#{kisiController.updateRecordRenderedFor('kisiogrenim') and kisiController.kisiogrenimController.list.size() == 0}" />
								</p:fieldset>
							</p:panel></td>
					</tr>
				</table>
			</h:form>

			<p:dialog header="#{label['common.detailEdit']}" widgetVar="detailEditDialog" width="1100" height="#{kisiController.heightOfEditDialog}" style="position:absolute; left:5%; top:5%" modal="true" id="dialogUpdateBox"
				visible="#{kisiController.detailEditType != null}">
				
				<p:panel id="dialogGlobalMessages">
					<h:messages globalOnly="true" showDetail="true" showSummary="false" id="dialogGlobalMessages_HMessage" style="color:red" infoClass="infoBox" errorClass="errorBox" fatalClass="errorBox" warnClass="warningBox" />
				</p:panel>	
				<h:form id="detailEditForm">
					<p:fieldset id="detailEditDialogPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['adres.edit']}" rendered="#{kisiController.detailEditType == 'adres'}">

						<p:outputPanel id="adrestipipanel" rendered="true">
							<arf:dropdown label="#{label['adres.adrestipi']}" listSource="#{enumeratedController.adresTipiItemsForKisi}" requiredCond="true" compId="adrestipi" value="#{kisiController.adres.adrestipi}" id="adrestipiDropDown"
								addNullOption="true" ajaxEventListener="#{kisiController.handleChange}"
								changeEventUpdateComp="#{':detailEditForm:acikadrespanel :detailEditForm:sehirpanel :detailEditForm:ilcepanel :detailEditForm:yabanciulkepanel 
									:detailEditForm:yabancisehirpanel :detailEditForm:yabanciadrespanel'}"
								rendered="#{kisiController.adres.adresturu.code!=sessionController.kpsAdresTuru}" />
						</p:outputPanel>
						<arf:dropdown label="#{label['adres.adresturu']}" listSource="#{kisiController.adresTuruItems}" requiredCond="true" compId="adresturu" value="#{kisiController.adres.adresturu}" id="adresturuDropDown"
							addNullOption="true" rendered="#{kisiController.adres.adresturu.code!=sessionController.kpsAdresTuru}" ajaxEventListener="#{kisiController.handleChange}"
							changeEventUpdateComp="#{':detailEditForm:acikadrespanel :detailEditForm:sehirpanel 
								:detailEditForm:ilcepanel :detailEditForm:yabanciulkepanel :detailEditForm:yabancisehirpanel 
								:detailEditForm:varsayilanpanel :detailEditForm:yabanciadrespanel  :detailEditForm:savedetailspanel 
								:detailEditForm:updatekpspanel :detailEditForm:adrestipipanel'}" />

						<p:outputPanel id="varsayilanpanel" rendered="true">
							<arf:dropdown label="#{label['adres.varsayilan']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="false" compId="varsayilan" value="#{kisiController.adres.varsayilan}" id="varsayilanDropDown1"
								addNullOption="true" rendered="#{kisiController.adres.adresturu.code!=sessionController.kpsAdresTuru}" />
						</p:outputPanel>

						<p:outputPanel id="acikadrespanel" rendered="true">
							<arf:textinputarea label="#{label['adres.acikAdres']}" value="#{kisiController.adres.acikAdres}" compId="acikAdres" requiredCond="true" id="acikAdresInputText" maxLength="255"
								rendered="#{kisiController.adres.adrestipi.code != 4 and kisiController.adres.adresturu.code!=sessionController.kpsAdresTuru}" />
						</p:outputPanel>
						<p:outputPanel id="sehirpanel" rendered="true">
							<arf:dropdown label="#{label['adres.sehirRef']}" listSource="#{sessionUser.sehirItemList}" requiredCond="true" compId="sehirRefAdres" value="#{kisiController.adres.sehirRef}" converterId="#{'sehirConverter'}"
								id="sehirRefDropDownAdres" ajaxEventListener="#{kisiController.handleChange}" changeEventUpdateComp="#{':detailEditForm:ilceRefDropDownAdres:ilceRefAdres'}"
								rendered="#{kisiController.adres.adrestipi.code != 4 and kisiController.adres.adresturu.code!=sessionController.kpsAdresTuru}" />
						</p:outputPanel>
						<p:outputPanel id="ilcepanel" rendered="true">
							<arf:dropdown label="#{label['adres.ilceRef']}" listSource="#{kisiController.ilceItemList}" requiredCond="true" compId="ilceRefAdres" value="#{kisiController.adres.ilceRef}" converterId="#{'ilceConverter'}"
								id="ilceRefDropDownAdres" rendered="#{kisiController.adres.adrestipi.code != 4 and kisiController.adres.adresturu.code!=sessionController.kpsAdresTuru}" />
						</p:outputPanel>

						<p:outputPanel id="yabanciulkepanel" rendered="true">
							<arf:textinput label="#{label['adres.yabanciulke']}" value="#{kisiController.adres.yabanciulke}" compId="yabanciulke" requiredCond="true" id="yabanciulkeInputText" maxLength="255"
								rendered="#{kisiController.adres.adrestipi.code == 4}" />
						</p:outputPanel>
						<p:outputPanel id="yabancisehirpanel" rendered="true">
							<arf:textinput label="#{label['adres.yabancisehir']}" value="#{kisiController.adres.yabancisehir}" compId="yabancisehir" requiredCond="true" id="yabancisehirInputText" maxLength="255"
								rendered="#{kisiController.adres.adrestipi.code == 4}" />
						</p:outputPanel>
						<p:outputPanel id="yabanciadrespanel" rendered="true">
							<arf:textinputarea label="#{label['adres.yabanciadres']}" value="#{kisiController.adres.yabanciadres}" compId="yabanciadres" requiredCond="true" id="yabanciadresInputText" maxLength="255"
								rendered="#{kisiController.adres.adrestipi.code == 4}" />
						</p:outputPanel>


						<arf:textoutput label="#{label['adres.adrestipi']}" compId="adrestipi" value="#{kisiController.adres.adrestipi.label}" id="adrestipioutput" rendered="#{kisiController.adres.adresturu.code==sessionController.kpsAdresTuru}" />
						<arf:textoutput label="#{label['adres.adresturu']}" value="#{kisiController.adres.adresturu.label}" id="adresturuoutput" rendered="#{kisiController.adres.adresturu.code==sessionController.kpsAdresTuru}" />
						<arf:textoutput label="#{label['adres.varsayilan']}" value="#{kisiController.adres.varsayilan.label}" id="varsayilanoutput" rendered="#{kisiController.adres.adresturu.code==sessionController.kpsAdresTuru}" />
						<arf:textoutput label="#{label['adres.acikAdres']}" value="#{kisiController.adres.acikAdres}" id="acikadresoutput" rendered="#{kisiController.adres.adresturu.code==sessionController.kpsAdresTuru}" />
						<arf:textoutput label="#{label['adres.sehirRef']}" value="#{kisiController.adres.sehirRef.UIString}" id="sehirrefoutput" rendered="#{kisiController.adres.adresturu.code==sessionController.kpsAdresTuru}" />
						<arf:textoutput label="#{label['adres.ilceRef']}" value="#{kisiController.adres.ilceRef.UIString}" id="ilcerefoutput" rendered="#{kisiController.adres.adresturu.code==sessionController.kpsAdresTuru}" />
						<arf:textoutput label="#{label['adres.csbm']}" value="#{kisiController.adres.csbm}" id="csbmoutput" rendered="#{kisiController.adres.adresturu.code==sessionController.kpsAdresTuru}" />
						<arf:textoutput label="#{label['adres.disKapiNo']}" value="#{kisiController.adres.disKapiNo}" id="disKapiNooutput" rendered="#{kisiController.adres.adresturu.code==sessionController.kpsAdresTuru}" />
						<arf:textoutput label="#{label['adres.icKapiNo']}" value="#{kisiController.adres.icKapiNo}" id="icKapiNooutput" rendered="#{kisiController.adres.adresturu.code==sessionController.kpsAdresTuru}" />
						<arf:textoutput label="#{label['adres.mahalle']}" value="#{kisiController.adres.mahalle}" id="mahalleoutput" rendered="#{kisiController.adres.adresturu.code==sessionController.kpsAdresTuru}" />
						<p align="center" style="margin-top: 20px">
							<p:hotkey bind="esc" handler="detailEditDialog.hide()" process="@this" />
							<p:outputPanel id="updatekpspanel" rendered="true">
								<p:commandButton id="updateCommand" update=":detailEditForm :dialogGlobalMessages" process=":detailEditForm" icon="webService" action="#{kisiController.kisiKpsAdresGuncelle}"
									onclick="if (confirm('KPS Adres bilgileri güncellenecek! Emin misiniz?')) {return true} else {return false}" ajax="true"
									rendered="#{kisiController.updateRecordRenderedFor('Adres') and kisiController.adres.adresturu.code==sessionController.kpsAdresTuru}" value="KPS'den Güncelle" styleClass="commandButton" />
							</p:outputPanel>
							<p:outputPanel id="savedetailspanel" rendered="true">
								<p:commandButton id="saveDetailsButton1" icon="save" value="#{label['command.post']}" styleClass="commandButton" action="#{kisiController.saveDetails}" update=":detailEditForm :dialogGlobalMessages" process=":detailEditForm"
									ajax="true" rendered="#{not empty kisiController.detailEditType and kisiController.adres.adresturu.code!=sessionController.kpsAdresTuru}" />
							</p:outputPanel>
							<p:commandButton id="cancelDetailsButton1" icon="iptal" value="#{label['command.cancel']}" styleClass="commandButton" onclick="detailEditDialog.hide()" process="@this" />
							<br />
						</p>
					</p:fieldset>

					<p:fieldset id="kurumkisiEditDialogPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['uyekurum.edit']}" rendered="#{kisiController.detailEditType == 'kurumkisi'}">
						<arf:dropdown label="#{label['uyekurum.uyekurumDurum']}" listSource="#{enumeratedController.uyekurumDurumItems}" requiredCond="true" compId="uyekurumDurum" value="#{kisiController.kurumKisi.uyekurumDurum}"
							id="uyekurumDurumDropDown" addNullOption="true" updateCompWithoutEvent="#{':detailEditForm:tarihPanel'}" />
						<arf:suggestbox label="#{label['command.uyekurum']}" methodName="#{kisiController.completeMethod}" requiredCond="true" compId="kurumRefUyeKurum" value="#{kisiController.kurumKisi.kurumRef}" converterId="#{'kurumConverter'}"
							modelName="#{'Kurum'}" var="kurumRec" itemValue="#{kurumRec}" itemLabel="#{kurumRec}" id="kurumRefSuggestForUyekurum" />
						<arf:textinput label="#{label['uyekurum.gorev']}" value="#{kisiController.kurumKisi.gorev}" compId="gorev" requiredCond="false" id="gorevInputText" maxLength="30" />
						<arf:dropdown label="#{label['uyekurum.varsayilan']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="false" compId="netVarsayilan" value="#{kisiController.kurumKisi.varsayilan}" id="netVarsayilanDropDown" />
						<arf:calendar label="#{label['uyekurum.baslangictarih']}" value="#{kisiController.kurumKisi.baslangictarih}" id="baslangictarihCalendarKurum" pattern="#{configurationController.datePattern}" requiredCond="false"
							compId="baslangictarihKurum" />

						<p:outputPanel id="tarihPanel" rendered="true">
							<arf:calendar label="#{label['uyekurum.bitistarih']}" value="#{kisiController.kurumKisi.bitistarih}" id="bitistarihCalendarKurum" pattern="#{configurationController.datePattern}" requiredCond="false"
								compId="bitistarihKurum" rendered="#{kisiController.kurumKisi.uyekurumDurum.code == sessionController.uyekurumDurumAyrilmisCode}" />
						</p:outputPanel>
					</p:fieldset>

					<p:fieldset id="telefonEditDialogPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['telefon.edit']}" rendered="#{kisiController.detailEditType == 'telefon'}">

						<arf:maskinput label="#{label['telefon.telefonno']}" value="#{kisiController.telefon.telefonno}" compId="telefonno" requiredCond="true" id="telefonnoInputText" maxLength="30" customValidatorId="#{'phoneValidator'}"
							mask="0 (999) 999 9999" />
						<arf:dropdown label="#{label['telefon.telefonturu']}" listSource="#{enumeratedController.telefonTuruItems}" requiredCond="false" compId="telefonturu" value="#{kisiController.telefon.telefonturu}" id="telefonturuDropDown" />
						<arf:dropdown label="#{label['telefon.varsayilan']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="false" compId="telVarsayilan" value="#{kisiController.telefon.varsayilan}" id="telVarsayilanDropDown" />
					</p:fieldset>

					<p:fieldset id="internetdetailEditDialogPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['internetadres.edit']}" rendered="#{kisiController.detailEditType == 'internetadres'}">

						<arf:textinput label="#{label['internetadres.netadresmetni']}" value="#{kisiController.internetadres.netadresmetni}" compId="netadresmetni" requiredCond="true" id="netadresmetniInputText" maxLength="500" />
						<arf:dropdown label="#{label['internetadres.netadresturu']}" listSource="#{enumeratedController.netAdresTuruItems}" requiredCond="false" compId="netadresturu" value="#{kisiController.internetadres.netadresturu}"
							id="netadresturuDropDown" />
						<arf:dropdown label="#{label['internetadres.varsayilan']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="false" compId="internetadresVarsayilan" value="#{kisiController.internetadres.varsayilan}"
							id="internetadresVarsayilanDropDown" />
					</p:fieldset>

					<p:fieldset id="kisifotografdetailEditDialogPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kisifotograf.edit']}" rendered="#{kisiController.detailEditType == 'kisifotograf'}">

						<h:panelGrid columns="1" width="100%" border="0">
							<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde, otuzYuzde, kirkYuzde">
								<h:outputText value="#{label['kisifotograf.path']} : " styleClass="requiredOutputText" style="padding-left:5px; padding-right:10px" />
								<p:fileUpload fileUploadListener="#{kisiController.fileUploadListener}" description="#{label['dosya.dosya']}" process="kisifotografdetailEditDialogPanel" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" update="@form"
									required="true" sizeLimit="1500000" id="dosyaRef" cancelLabel="#{label['login.cancel']}" uploadLabel="#{label['command.upload']}" oncomplete="alert('#{label['dosya.yuklendi']}'); detailEditDialog.hide()" multiple="false"
									auto="true" />
								<p:message for="dosyaRef" />
							</h:panelGrid>
						</h:panelGrid>

					</p:fieldset>

					<p:fieldset id="kisikimlikdetailEditDialogPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kisikimlik.edit']}" rendered="#{kisiController.detailEditType == 'kisikimlik'}">
						<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">
							<arf:textoutput label="#{label['kisikimlik.kimlikno']}" value="#{kisiController.kisiKimlikNo}" requiredCond="false" />
							<arf:textinput label="#{label['kisikimlik.babaad']}" value="#{kisiController.kisikimlik.babaad}" compId="babaad" requiredCond="true" id="babaadInputText" maxLength="20" />
							<arf:textinput label="#{label['kisikimlik.anaad']}" value="#{kisiController.kisikimlik.anaad}" compId="anaad" requiredCond="true" id="anaadInputText" maxLength="20" />
							<arf:dropdown label="#{label['kisikimlik.dogumsehirRef']}" listSource="#{kisiController.selectItemListFor('Ilce')}" requiredCond="false" compId="dogumsehirRef" value="#{kisiController.kisikimlik.dogumsehirRef}"
								converterId="#{'ilceConverter'}" id="dogumsehirRefDropDown" />
							<arf:textinput label="#{label['kisikimlik.dogumyer']}" value="#{kisiController.kisikimlik.dogumyer}" compId="dogumyer" requiredCond="true" id="dogumyerInputText" maxLength="20" />
							<arf:calendar label="#{label['kisikimlik.dogumtarih']}" value="#{kisiController.kisikimlik.dogumtarih}" id="dogumtarihCalendar" pattern="#{configurationController.datePattern}" requiredCond="true" compId="dogumtarih" />
							<arf:calendar label="#{label['kisikimlik.olumtarih']}" value="#{kisiController.kisikimlik.olumtarih}" id="olumtarihCalendar" pattern="#{configurationController.datePattern}" requiredCond="false" compId="olumtarih" />
							<arf:dropdown label="#{label['kisikimlik.cinsiyet']}" listSource="#{enumeratedController.cinsiyetItems}" requiredCond="false" compId="cinsiyet" value="#{kisiController.kisikimlik.cinsiyet}" id="cinsiyetDropDown" />
							<arf:dropdown label="#{label['kisikimlik.kangrup']}" listSource="#{enumeratedController.kanGrubuItems}" requiredCond="false" compId="kangrup" value="#{kisiController.kisikimlik.kangrup}" id="kangrupDropDown" />
							<arf:dropdown label="#{label['kisikimlik.medenihal']}" listSource="#{enumeratedController.medeniHalItems}" requiredCond="true" compId="medeniHal" value="#{kisiController.kisikimlik.medenihal}" id="medeniHalDropDown" />
							<arf:dropdown label="#{label['kisikimlik.sehirRef']}" listSource="#{sessionUser.sehirItemList}" requiredCond="true" compId="sehirRef" value="#{kisiController.kisikimlik.sehirRef}" converterId="#{'sehirConverter'}"
								id="sehirRefDropDown" ajaxEventListener="#{kisiController.handleChange}" changeEventUpdateComp="#{':detailEditForm:ilceRefDropDown:ilceRef'}" />
							<arf:dropdown label="#{label['kisikimlik.ilceRef']}" listSource="#{kisiController.selectItemListFor('Ilce')}" requiredCond="true" compId="ilceRef" value="#{kisiController.kisikimlik.ilceRef}"
								converterId="#{'ilceConverter'}" id="ilceRefDropDown" />
							<arf:textinput label="#{label['kisikimlik.mahalle']}" value="#{kisiController.kisikimlik.mahalle}" compId="mahalle" requiredCond="true" id="mahalleInputText" maxLength="50" />
							<arf:textinput label="#{label['kisikimlik.ciltno']}" value="#{kisiController.kisikimlik.ciltno}" compId="ciltno" requiredCond="true" id="ciltnoInputText" maxLength="15" />
							<arf:textinput label="#{label['kisikimlik.aileno']}" value="#{kisiController.kisikimlik.aileno}" compId="aileno" requiredCond="true" id="ailenoInputText" maxLength="10" />
							<arf:textinput label="#{label['kisikimlik.sirano']}" value="#{kisiController.kisikimlik.sirano}" compId="sirano" requiredCond="true" id="siranoInputText" maxLength="5" />
							<arf:dropdown label="#{label['kisikimlik.kisidurum']}" listSource="#{enumeratedController.kisiDurumItems}" requiredCond="false" compId="kisidurum" value="#{kisiController.kisikimlik.kisidurum}" id="kisidurumDropDown" />

						</h:panelGrid>
					</p:fieldset>

					<p:fieldset id="personeldetailEditDialogPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['personel.edit']}" rendered="#{kisiController.detailEditType == 'personel'}">
						<arf:suggestbox label="#{label['personel.birimRef']}" methodName="#{kisiController.completeMethod}" requiredCond="true" compId="birimRef" value="#{kisiController.personel.birimRef}" converterId="#{'birimConverter'}"
							modelName="#{'Birim'}" var="birimRec" itemValue="#{birimRec}" itemLabel="#{birimRec}" rendered="#{kisiController.personel.RID == null}" />
						<arf:textoutput label="#{label['personel.birimRef']}" value="#{kisiController.personel.birimRef.UIString}" rendered="#{kisiController.personel.RID != null}" />
						<arf:calendar label="#{label['personel.baslamatarih']}" value="#{kisiController.personel.baslamatarih}" id="baslamatarihCalendar" pattern="#{configurationController.datePattern}" requiredCond="true" compId="baslamatarih" />
						<arf:calendar label="#{label['personel.bitistarih']}" value="#{kisiController.personel.bitistarih}" id="bitistarihCalendar" pattern="#{configurationController.datePattern}" requiredCond="false" compId="bitistarih" />
						<arf:dropdown label="#{label['personel.durum']}" listSource="#{enumeratedController.personelDurumItems}" requiredCond="false" compId="durum" value="#{kisiController.personel.durum}" id="durumDropDown" />
					</p:fieldset>

					<p:fieldset id="uyedetailEditDialogPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['uye.edit']}" rendered="#{kisiController.detailEditType == 'uye'}">
						<arf:dropdown label="#{label['uye.uyetip']}" listSource="#{enumeratedController.uyeTipItems}" requiredCond="false" compId="uyetip" value="#{kisiController.uye.uyetip}" id="uyetipDropDown" />
						<arf:textinput label="#{label['uye.sicilno']}" value="#{kisiController.uye.sicilno}" compId="sicilno" requiredCond="false" id="sicilnoInputText" maxLength="15" 
							rendered="#{kisiController.kisiDetay.eskiKayitMiForPersisted or kisiController.kisiDetay.yabanciMiForPersisted}" />
						<arf:dropdown label="#{label['uye.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="true" compId="birimRef" value="#{kisiController.uye.birimRef}" converterId="#{'birimConverter'}" id="birimRefDropDown" />
						<arf:calendar label="#{label['uye.uyeliktarih']}" value="#{kisiController.uye.uyeliktarih}" id="uyeliktarihCalendar" pattern="#{configurationController.datePattern}" requiredCond="false" compId="uyeliktarih" />
						<arf:dropdown label="#{label['uye.uyedurum']}" listSource="#{enumeratedController.uyeDurumItems}" requiredCond="false" compId="uyedurum" value="#{kisiController.uye.uyedurum}" id="uyedurumDropDown" disabledCond="true" />
						<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" width="100%">
							<arf:dropdown label="#{label['uye.iletisimEmail']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="iletisimEmail" value="#{kisiController.uye.iletisimEmail}" id="iletisimEmailDropDown"
								addNullOption="true" />
							<arf:dropdown label="#{label['uye.iletisimSms']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="iletisimSms" value="#{kisiController.uye.iletisimSms}" id="iletisimSmsDropDown"
								addNullOption="true" />
							<arf:dropdown label="#{label['uye.iletisimPosta']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="iletisimPosta" value="#{kisiController.uye.iletisimPosta}" id="iletisimPostaDropDown"
								addNullOption="true" />
						</h:panelGrid>
						<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" width="100%">
							<arf:dropdown label="#{label['kisiogrenim.universiteRef']}" listSource="#{kisiController.selectOrderedItemListFor('Universite','o.ad')}" requiredCond="true" compId="universiteRef"
								value="#{kisiController.kisiogrenim.universiteRef}" converterId="#{'universiteConverter'}" id="universiteRefDropDown1" />
							<arf:dropdown label="#{label['kisiogrenim.fakulteRef']}" listSource="#{kisiController.selectOrderedItemListFor('Fakulte','o.ad')}" requiredCond="false" compId="fakulteRef" value="#{kisiController.kisiogrenim.fakulteRef}"
								converterId="#{'fakulteConverter'}" id="fakulteRefDropDown1" />
							<arf:dropdown label="#{label['kisiogrenim.bolumRef']}" listSource="#{kisiController.selectOrderedItemListFor('Bolum','o.ad')}" requiredCond="true" compId="bolumRef" value="#{kisiController.kisiogrenim.bolumRef}"
								converterId="#{'bolumConverter'}" id="bolumRefDropDown1" />

							<arf:textinput label="#{label['kisiogrenim.lisansunvan']}" value="#{kisiController.kisiogrenim.lisansunvan}" compId="lisansunvan" requiredCond="true" id="lisansunvanInputText" maxLength="200" />
							<arf:textinput label="#{label['kisiogrenim.diplomano']}" value="#{kisiController.kisiogrenim.diplomano}" compId="diplomano" requiredCond="true" id="diplomanoInputText" maxLength="200" />
							<arf:dropdown label="#{label['kisiogrenim.denklikdurum']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="denklikdurum" value="#{kisiController.kisiogrenim.denklikdurum}"
								id="denklikdurumDropdown" />

							<arf:spinner label="#{label['kisiogrenim.mezuniyettarihi']}" value="#{kisiController.kisiogrenim.mezuniyettarihi}" compId="mezuniyettarihi" requiredCond="true" id="mezuniyetTarihiSpinner" maxLength="4" minLength="4"
								min="1900" max="9999" />
						</h:panelGrid>
						<arf:textinput label="#{label['kisiogrenim.aciklama']}" value="#{kisiController.kisiogrenim.aciklama}" compId="aciklama" requiredCond="false" id="aciklamaInputText" maxLength="200" />

					</p:fieldset>

					<p:fieldset id="kisiogrenimEditDialogPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kisiogrenim.edit']}" rendered="#{kisiController.detailEditType == 'kisiogrenim'}">
						<arf:dropdown label="#{label['kisiogrenim.ogrenimtip']}" listSource="#{enumeratedController.ogrenimTipItems}" requiredCond="false" compId="ogrenimTipForFilter" value="#{kisiController.kisiogrenim.ogrenimtip}"
							id="ogrenimTipForFilterDropDown" addNullOption="false" />

						<arf:dropdown label="#{label['kisiogrenim.universiteRef']}" listSource="#{kisiController.selectOrderedItemListFor('Universite','o.ad')}" requiredCond="true" compId="universiteRef"
							value="#{kisiController.kisiogrenim.universiteRef}" converterId="#{'universiteConverter'}" id="universiteRefDropDown" />
						<arf:dropdown label="#{label['kisiogrenim.fakulteRef']}" listSource="#{kisiController.selectOrderedItemListFor('Fakulte','o.ad')}" requiredCond="false" compId="fakulteRef" value="#{kisiController.kisiogrenim.fakulteRef}"
							converterId="#{'fakulteConverter'}" id="fakulteRefDropDown" />
						<arf:dropdown label="#{label['kisiogrenim.bolumRef']}" listSource="#{kisiController.selectOrderedItemListFor('Bolum','o.ad')}" requiredCond="true" compId="bolumRef" value="#{kisiController.kisiogrenim.bolumRef}"
							converterId="#{'bolumConverter'}" id="bolumRefDropDown" />

						<arf:textinput label="#{label['kisiogrenim.lisansunvan']}" value="#{kisiController.kisiogrenim.lisansunvan}" compId="lisansunvan" requiredCond="true" id="lisansunvanInputTextOgrenim" maxLength="200" />
						<arf:textinput label="#{label['kisiogrenim.diplomano']}" value="#{kisiController.kisiogrenim.diplomano}" compId="diplomano" requiredCond="false" id="diplomanoInputTextOgrenim" maxLength="200" />
						<arf:dropdown label="#{label['kisiogrenim.denklikdurum']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="denklikdurum" value="#{kisiController.kisiogrenim.denklikdurum}"
							id="denklikdurumDropDown" />
						<arf:dropdown label="#{label['kisiogrenim.varsayilan']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="false" compId="varsayilan" value="#{kisiController.kisiogrenim.varsayilan}" id="varsayilanDropDown" />
						<arf:textinputarea label="#{label['kisiogrenim.aciklama']}" value="#{kisiController.kisiogrenim.aciklama}" compId="aciklamaOgrenim" requiredCond="false" id="aciklamaInputTextOgrenim" maxLength="200" />
						<arf:spinner label="#{label['kisiogrenim.mezuniyettarihi']}" value="#{kisiController.kisiogrenim.mezuniyettarihi}" compId="mezuniyettarihi" requiredCond="true" id="mezuniyetTarihiSpinner1" maxLength="4" minLength="4"
							min="1900" max="9999" />
					</p:fieldset>

					<p align="center" style="margin-top: 20px">
						<p:hotkey bind="esc" handler="detailEditDialog.hide()" process="@this" />
						<p:commandButton id="saveDetailsButton" icon="save" value="#{label['command.post']}" styleClass="commandButton" action="#{kisiController.saveDetails}" update="@form :dialogGlobalMessages :globalMessages" process="@form" ajax="true"
							rendered="#{kisiController.detailEditType!='kisifotograf' and  kisiController.detailEditType!='adres'}" />
						<p:commandButton id="cancelDetailsButton" icon="iptal" value="#{label['command.cancel']}" styleClass="commandButton" onclick="detailEditDialog.hide()" process="@this" rendered="#{kisiController.detailEditType!='adres'}" />
						<br />
					</p>
				</h:form>
			</p:dialog>
		</h:body>
	</ui:define>
</ui:composition>
