<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="kisiForm" prependId="false">

				<p:panel id="kisiPanel" style="padding:none">
					<p:fieldset id="kisiFilterPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['kisi.query']}" rendered="#{!kisiController.editPanelRendered}"
						collapsed="#{kisiController.collapsed}">
						<p:ajax listener="#{kisiController.onToggle}" event="toggle" />
						<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
							<arf:textinput label="#{label['kisi.kimlikno']}" value="#{kisiController.kisiFilter.kimlikno}" compId="kimliknoForFilter" requiredCond="false"
								id="kimliknoForFilterInputText" maxLength="11" keyFilterMask="num" />
							<arf:textinput label="#{label['kisi.ad']}" value="#{kisiController.kisiFilter.ad}" compId="adForFilter" requiredCond="false" id="adForFilterInputText" maxLength="50" />
							<arf:textinput label="#{label['kisi.soyad']}" value="#{kisiController.kisiFilter.soyad}" compId="soyadForFilter" requiredCond="false" id="soyadForFilterInputText"
								maxLength="50" />
							<arf:dropdown label="#{label['kisi.ilRef']}" listSource="#{sessionUser.sehirItemList}" requiredCond="false" compId="sehirRefForFilter"
								value="#{kisiController.kisiFilter.sehirRef}" converterId="#{'sehirConverter'}" id="sehirRefForFilterDropDown1" />
						</h:panelGrid>
						<arf:filterBottomWithBlockUI controllerClassName="#{kisiController}" formName="kisiForm" listPanelName="kisiListPanel" filterPanelName="kisiFilterPanel" modelName="Kisi" />
					</p:fieldset>

					<p:fieldset legend="#{label['kisi.list']}" styleClass="pageFieldSet" id="kisiListPanel" rendered="#{kisiController.selectedTab == 'kisi'}">
						<p:blockUI block="kisiTable" trigger="kisiTable">
							<h:outputText value="#{label['common.loading']}" />
							<br />
							<h:graphicImage library="_image" name="ajax-loader.gif" />
						</p:blockUI>
						<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kisiTable" value="#{kisiController.list}" var="kisiRow" binding="#{kisiController.table}" rowIndexVar="rowIndex"
							selectionMode="single" selection="#{kisiController.entity}" filteredValue="#{kisiController.filteredList}" widgetVar="filterTable" rowKey="#{kisiRow.RID}"
							resizableColumns="false">

							<p:ajax event="rowSelect" listener="#{kisiController.tableRowSelect}" update=":kisiForm" process="@this" />
							<p:ajax event="rowUnselect" listener="#{kisiController.tableRowCancelSelection}" update=":kisiForm" process="@this" />
							<p:column width="30" style="text-align:center">
								<f:facet name="header">
									<h:outputText value="#{label['common.detay']}" />
								</f:facet>
								<h:commandLink action="#{kisiController.detailPage(kisiRow.RID)}">
									<h:graphicImage library="_image" name="detail.png" />
								</h:commandLink>
							</p:column>
							<p:column width="50" style="text-align:center">
								<f:facet name="header">
									<h:outputText value="#{label['common.uyedetay']}" />
								</f:facet>
								<h:commandLink action="#{kisiController.uyeController.detailKisiUyePage(kisiRow.RID)}" rendered="#{kisiController.uyemi(kisiRow)}">
									<h:graphicImage library="_image" name="uye.png" />
								</h:commandLink>
							</p:column>
							<arftags:column val="#{kisiRow.kimlikno}" header="#{label['kisi.kimlikno']}" width="10" />
							<arftags:column val="#{kisiRow.ad}" header="#{label['kisi.ad']}" width="15" />
							<arftags:column val="#{kisiRow.soyad}" header="#{label['kisi.soyad']}" width="15" />
							<arftags:column val="#{kisiRow.telefon}" header="#{label['kisi.telefon']}" width="10" />
							<arftags:column val="#{kisiRow.eposta}" header="#{label['kisi.eposta']}" width="15" />
							<arftags:column val="#{kisiRow.isYeriBilgisi}" header="#{label['kisi.isYeriBilgisi']}" width="15" />
							<arftags:column val="#{kisiRow.adresililce}" header="#{label['kisi.ilRef']}" width="10" />
							<arftags:column val="#{kisiRow.adresilce}" header="#{label['kisi.ilceRef']}" width="10" />
							
						</p:dataTable>

						<arf:pagingWithBlockUI controllerClassName="#{kisiController}" formName="kisiForm" listPanelName="kisiListPanel" pagingOption="true" tableName="kisiTable"
							addExport="true" addOption="false" updateOption="false" deleteOption="false" addSubRecordOption="false" wizardOption="true" />
					</p:fieldset>
				</p:panel>
			</h:form>

		</h:body>
	</ui:define>
</ui:composition>
