<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="kisiogrenimEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kisiogrenim.edit']}" rendered="#{kisiogrenimController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['kisiogrenim.ogrenimtip']}" listSource="#{enumeratedController.ogrenimTipItems}" requiredCond="false" compId="ogrenimTipForFilter"
				value="#{kisiogrenimController.kisiogrenim.ogrenimtip}" id="ogrenimTipForFilterDropDown" addNullOption="false" />
			<arf:dropdown label="#{label['kisiogrenim.ogrenimKurumRef']}" listSource="#{kisiogrenimController.selectItemListFor('OgrenimKurum')}" requiredCond="true"
				compId="ogrenimKurumRef" value="#{kisiogrenimController.kisiogrenim.ogrenimKurumRef}" converterId="#{'ogrenimKurumConverter'}" id="ogrenimKurumRefDropDown" />
			<arf:textinput label="#{label['kisiogrenim.aciklama']}" value="#{kisiogrenimController.kisiogrenim.aciklama}" compId="aciklama" requiredCond="false" id="aciklamaInputText"
				maxLength="200" />
			<arf:textinput label="#{label['kisiogrenim.fakulte']}" value="#{kisiogrenimController.kisiogrenim.fakulte}" compId="fakulte" requiredCond="false" id="fakulteInputText"
				maxLength="200" />
			<arf:textinput label="#{label['kisiogrenim.bolum']}" value="#{kisiogrenimController.kisiogrenim.bolum}" compId="bolum" requiredCond="false" id="bolumInputText" maxLength="200" />
			<arf:textinput label="#{label['kisiogrenim.lisansunvan']}" value="#{kisiogrenimController.kisiogrenim.lisansunvan}" compId="lisansunvan" requiredCond="false"
				id="lisansunvanInputText" maxLength="200" />
			<arf:textinput label="#{label['kisiogrenim.diplomano']}" value="#{kisiogrenimController.kisiogrenim.diplomano}" compId="diplomano" requiredCond="false" id="diplomanoInputText"
				maxLength="200" />
			<arf:dropdown label="#{label['kisiogrenim.denklikdurum']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="false" compId="denklikdurum"
				value="#{kisiogrenimController.kisiogrenim.denklikdurum}" id="denklikdurumDropDown" />
			<arf:dropdown label="#{label['kisiogrenim.varsayilan']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="false" compId="varsayilan"
				value="#{kisiogrenimController.kisiogrenim.varsayilan}" id="varsayilanDropDown" />
			<arf:textinput label="#{label['kisiogrenim.mezuniyettarihi']}" value="#{kisiogrenimController.kisiogrenim.mezuniyettarihi}" compId="mezuniyettarihi" requiredCond="false"
				id="mezuniyettarihiInputText" maxLength="4" minLength="4" longMin="1900" longMax="9999" />
		</h:panelGrid>
		<arf:editPanelBottomWithBlockUI controllerClassName="#{kisiogrenimController}" formName="kisiogrenimForm" listPanelName="kisiogrenimListPanel"
			editPanelName="kisiogrenimEditPanel" modelName="Kisiogrenim" />
	</p:fieldset>

</ui:composition>