<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="kisiogrenimForm" prependId="false">

				<arf:masterPanel controllerClassName="#{kisiogrenimController}" masterLabel="#{label['kisi.list']}" modelName="kisiogrenim" />

				<ui:include src="/_page/form/kisi/kisiogrenim_Edit.xhtml" />

				<p:fieldset legend="#{label['kisiogrenim.list']}" styleClass="pageFieldSet" id="kisiogrenimListPanel">
					<p:blockUI block="kisiogrenimTable" trigger="kisiogrenimTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kisiogrenimTable" value="#{kisiogrenimController.list}" var="kisiogrenimRow" binding="#{kisiogrenimController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{kisiogrenimController.entity}" filteredValue="#{kisiogrenimController.filteredList}" widgetVar="filterTable"
						rowKey="#{kisiogrenimRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{kisiogrenimController.tableRowSelect}" update=":kisiogrenimForm" />
						<p:ajax event="rowUnselect" listener="#{kisiogrenimController.tableRowCancelSelection}" update=":kisiogrenimForm" />

						<arftags:column val="#{kisiogrenimRow.ogrenimtip.label}" header="#{label['kisiogrenim.ogrenimtip']}" width="20" />
						<arftags:column val="#{kisiogrenimRow.ogrenimKurumRef.UIString}" header="#{label['kisiogrenim.ogrenimKurumRef']}" width="20" />
						<arftags:column val="#{kisiogrenimRow.aciklama}" header="#{label['kisiogrenim.aciklama']}" width="20" />
						<arftags:column val="#{kisiogrenimRow.fakulte}" header="#{label['kisiogrenim.fakulte']}" width="20" />
						<arftags:column val="#{kisiogrenimRow.bolum}" header="#{label['kisiogrenim.bolum']}" width="20" />
						<arftags:column val="#{kisiogrenimRow.lisansunvan}" header="#{label['kisiogrenim.lisansunvan']}" width="20" />
						<arftags:column val="#{kisiogrenimRow.diplomano}" header="#{label['kisiogrenim.diplomano']}" width="20" />
						<arftags:column val="#{kisiogrenimRow.denklikdurum.label}" header="#{label['kisiogrenim.denklikdurum']}" width="20" />
						<arftags:column val="#{kisiogrenimRow.varsayilan.label}" header="#{label['kisiogrenim.varsayilan']}" width="20%" />
						<arftags:column val="#{kisiogrenimRow.mezuniyettarihi}" header="#{label['kisiogrenim.mezuniyettarihi']}" width="20%" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{kisiogrenimController}" formName="kisiogrenimForm" listPanelName="kisiogrenimListPanel" pagingOption="true"
						tableName="kisiogrenimTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
