<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="kisiEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kisi.edit']}" rendered="#{kisiController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:textinput label="#{label['kisi.kimlikno']}" value="#{kisiController.kisi.kimlikno}" compId="kimlikno" requiredCond="true" id="kimliknoInputText" maxLength="20" />
			<arf:textinput label="#{label['kisi.ad']}" value="#{kisiController.kisi.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="50" />
			<arf:textinput label="#{label['kisi.soyad']}" value="#{kisiController.kisi.soyad}" compId="soyad" requiredCond="true" id="soyadInputText" maxLength="50" />
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{kisiController}" formName="kisiForm" listPanelName="kisiTab:kisiListPanel" editPanelName="kisiTab:kisiEditPanel"
			modelName="Kisi" />
	</p:fieldset>

</ui:composition>