<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="komisyonDonemEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['komisyonDonem.edit']}"
		rendered="#{komisyonDonemController.editPanelRendered}">
		<h:panelGrid columns="1" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">


			<arf:dropdown label="#{label['komisyonDonem.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="true" compId="birimRef"
				value="#{komisyonDonemController.komisyonDonem.birimRef}" converterId="#{'birimConverter'}" id="birimRefDropDown"
				ajaxEventListener="#{komisyonDonemController.handleChangeForBirim}" changeEventUpdateComp="#{':komisyonDonemForm:donemRefDropDown:donemRef'}" />

			<arf:dropdown label="#{label['komisyonDonem.donemRef']}" listSource="#{komisyonDonemController.selectItemListFor('Donem')}" requiredCond="true" compId="donemRef"
				value="#{komisyonDonemController.komisyonDonem.donemRef}" converterId="#{'donemConverter'}" id="donemRefDropDown" />

			<arf:dropdown label="#{label['komisyonDonem.komisyonRef']}" listSource="#{komisyonDonemController.selectItemListFor('Komisyon')}" requiredCond="true" compId="komisyonRef"
				value="#{komisyonDonemController.komisyonDonem.komisyonRef}" converterId="#{'komisyonConverter'}" id="komisyonDonemRefDropDown"
				ajaxEventListener="#{komisyonDonemController.handleChangeForKomisyonDonem}" changeEventUpdateComp="#{':komisyonDonemForm:komisyonDonemUyePicklist:komisyonDonemUye'}" />


			<arf:textinput label="#{label['komisyonDonem.aciklama']}" value="#{komisyonDonemController.komisyonDonem.aciklama}" compId="aciklama" requiredCond="false"
				id="aciklamaInputText" maxLength="255" />

			<arf:picklist value="#{komisyonDonemController.dualList}" label="#{label['komisyonDonem.komisyonDonemUyeleri']}" var="komisyonDonemUye"
				itemLabel="#{komisyonDonemUye.UIString}" itemValue="#{komisyonDonemUye}" converterId="komisyonDonemUyeConverter" requiredCond="false" style="margin-left:50px"
				sourceCaption="Eski Komisyon Üyeleri" targetCaption="Seçilenler" compId="komisyonDonemUye" id="komisyonDonemUyePicklist" />
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{komisyonDonemController}" formName="komisyonDonemForm" listPanelName="komisyonDonemListPanel"
			editPanelName="komisyonDonemEditPanel" modelName="komisyonDonem" />
	</p:fieldset>

</ui:composition>
