<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="komisyonUyeEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['komisyonUye.edit']}" rendered="#{komisyonUyeController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['komisyonUye.komisyonDonemRef']}" listSource="#{komisyonUyeController.selectItemListFor('KomisyonDonem')}" requiredCond="true"
				compId="komisyonDonemRef" value="#{komisyonUyeController.komisyonUye.komisyonDonemRef}" converterId="#{'komisyonDonemConverter'}" id="komisyonDonemRefDropDown" />
			<arf:dropdown label="#{label['komisyonUye.uyeRef']}" listSource="#{komisyonUyeController.selectItemListFor('Uye')}" requiredCond="true" compId="uyeRef"
				value="#{komisyonUyeController.komisyonUye.uyeRef}" converterId="#{'uyeConverter'}" id="uyeRefDropDown" />
			<arf:dropdown label="#{label['komisyonUye.durum']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="durum"
				value="#{komisyonUyeController.komisyonUye.durum}" id="durumDropDown" />
		</h:panelGrid>
		<arf:editPanelBottomWithBlockUI controllerClassName="#{komisyonUyeController}" formName="komisyonUyeForm" listPanelName="komisyonUyeListPanel"
			editPanelName="komisyonUyeEditPanel" modelName="komisyonUye" />
	</p:fieldset>

</ui:composition>
