<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="komisyonDonemUyeEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['komisyonDonemUye.edit']}"
		rendered="#{komisyonDonemUyeController.editPanelRendered}">
		<p:panel header="Üye Girişi" toggleable="true">

			<h:panelGrid columns="1" style="width:100%" styleClass="arfEditGrid">

				<arf:textoutput label="#{label['komisyonDonemUye.komisyonDonemRef']}" value="#{komisyonDonemUyeController.komisyonDonemUye.komisyonDonemRef.UIString}" />
				
				<p:outputPanel id="kisiPanel" rendered="true">
					<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde, otuzYuzde, kirkYuzde">
						<h:outputText value="#{label['komisyonDonemUye.kisiRef']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
						<h:panelGroup>
							<p:autoComplete value="#{komisyonDonemUyeController.komisyonDonemUye.kisiRef}" completeMethod="#{komisyonDonemUyeController.completeMethodKisiUyeBirim}" maxResults="50"
								queryDelay="500" id="kisiRefAutoComplete" minQueryLength="3" required="false" forceSelection="true" var="kisiRec" itemValue="#{kisiRec}"
								itemLabel="#{kisiRec.UIString}" disabled="#{komisyonDonemUyeController.sadeceuye}">
								<f:converter converterId="kisiConverter" />
								<f:ajax event="itemSelect" process="@this" />
								<f:attribute name="modelNameForAutoComplete" value="#{'Kisi'}" />
							</p:autoComplete>
						</h:panelGroup>
						<p:message for="kisiRefAutoComplete" />
					</h:panelGrid>
				</p:outputPanel>

				<arf:dropdown label="#{label['komisyonDonemUye.komisyonGorev']}" listSource="#{enumeratedController.komisyonGorevItems}" requiredCond="false" compId="komisyonGorev"
					value="#{komisyonDonemUyeController.komisyonDonemUye.komisyonGorev}" id="komisyonGorevDropDown" ajaxEventListener="#{komisyonDonemUyeController.handleChangeForUyeTuru}"
					changeEventUpdateComp="#{':komisyonDonemUyeForm:uyeTuruDropDown:uyeTuru'}" />

				<arf:dropdown label="#{label['komisyonDonemUye.uyeTuru']}" listSource="#{komisyonDonemUyeController.uyeTuruItems}" requiredCond="false" compId="uyeTuru"
					value="#{komisyonDonemUyeController.komisyonDonemUye.uyeTuru}" id="uyeTuruDropDown" />

				<arf:textoutput label="#{label['komisyonDonemUye.durum']}" value="#{sessionController.evetHayirHayirCode.label}"
					rendered="#{komisyonDonemUyeController.komisyonDonemUye.komisyonUyelikDurumu.code == sessionController.kurulUyelikDurumuIstifaCode or komisyonDonemUyeController.komisyonDonemUye.komisyonUyelikDurumu.code == sessionController.komisyonUyelikDurumuUyelikDusmeCode }" />
				<arf:textoutput label="#{label['komisyonDonemUye.durum']}" value="#{sessionController.evetHayirEvetCode.label}"
					rendered="#{komisyonDonemUyeController.komisyonDonemUye.komisyonUyelikDurumu.code == sessionController.komisyonUyelikDurumuNullCode}" />

				<arf:dropdown label="#{label['komisyonDonemUye.komisyonUyelikDurumu']}" listSource="#{enumeratedController.komisyonUyelikDurumuItems}" requiredCond="false"
					compId="komisyonUyelikDurumu" value="#{komisyonDonemUyeController.komisyonDonemUye.komisyonUyelikDurumu}" id="komisyonUyelikDurumuDropDown"
					updateCompWithoutEvent="#{':komisyonDonemUyeForm:komisyonDonemUyeEditPanel' }" />


				<arf:calendar label="#{label['komisyonDonemUye.durumtarihi']}" value="#{komisyonDonemUyeController.komisyonDonemUye.durumtarihi}" id="durumtarihiCalendar"
					pattern="#{configurationController.datePattern}" requiredCond="false" compId="durumtarihi"
					rendered="#{komisyonDonemUyeController.komisyonDonemUye.komisyonUyelikDurumu.code == sessionController.komisyonUyelikDurumuIstifaCode or komisyonDonemUyeController.komisyonDonemUye.komisyonUyelikDurumu.code == sessionController.komisyonUyelikDurumuUyelikDusmeCode }" />
			</h:panelGrid>
		</p:panel>


		<arf:editPanelBottomWithBlockUI controllerClassName="#{komisyonDonemUyeController}" formName="komisyonDonemUyeForm" listPanelName="komisyonDonemUyeListPanel"
			editPanelName="komisyonDonemUyeEditPanel" modelName="komisyonDonemUye" />
	</p:fieldset>

</ui:composition>
