<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="komisyonDonemUyeDurumForm" prependId="false">
				<arf:masterPanel controllerClassName="#{komisyonDonemUyeDurumController}" masterLabel="" modelName="komisyonDonemUyeDurum" />

				<p:fieldset legend="#{label['komisyonDonemUyeDurum.list']}" styleClass="pageFieldSet" id="komisyonDonemUyeDurumListPanel">

					<p:blockUI block="komisyonDonemUyeDurumTable" trigger="komisyonDonemUyeDurumTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="komisyonDonemUyeDurumTable" value="#{komisyonDonemUyeDurumController.list}" var="komisyonDonemUyeDurumRow"
						binding="#{komisyonDonemUyeDurumController.table}" rowIndexVar="rowIndex" selectionMode="single" selection="#{komisyonDonemUyeDurumController.entity}"
						filteredValue="#{komisyonDonemUyeDurumController.filteredList}" widgetVar="filterTable" rowKey="#{komisyonDonemUyeDurumRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{komisyonDonemUyeDurumController.tableRowSelect}" update=":komisyonDonemUyeDurumForm" />
						<p:ajax event="rowUnselect" listener="#{komisyonDonemUyeDurumController.tableRowCancelSelection}" update=":komisyonDonemUyeDurumForm" />

						<arftags:column val="#{komisyonDonemUyeDurumRow.uyeRef.UIString}" header="#{label['komisyonDonemUyeDurum.uyeRef']}" width="15" />
						<arftags:column val="#{komisyonDonemUyeDurumRow.kisiRef.UIString}" header="#{label['komisyonDonemUyeDurum.kisiRef']}" width="15" />
						<arftags:column val="#{komisyonDonemUyeDurumRow.komisyonGorev.label}" header="#{label['komisyonDonemUyeDurum.komisyonGorev']}" width="15" />
						<arftags:column val="#{komisyonDonemUyeDurumRow.uyeTuru.label}" header="#{label['komisyonDonemUyeDurum.uyeTuru']}" width="15" />
						<arftags:column val="#{komisyonDonemUyeDurumRow.durum.label}" header="#{label['komisyonDonemUyeDurum.durum']}" width="15" />
						<arftags:column val="#{komisyonDonemUyeDurumRow.komisyonUyelikDurumu.label}" header="#{label['komisyonDonemUyeDurum.komisyonUyelikDurumu']}" width="15" />
						<arftags:dateColumn val="#{komisyonDonemUyeDurumRow.durumtarihi}" header="#{label['komisyonDonemUyeDurum.durumtarihi']}" width="15" />
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{komisyonDonemUyeDurumController}" formName="komisyonDonemUyeDurumForm" listPanelName="komisyonDonemUyeDurumListPanel"
						pagingOption="true" tableName="komisyonDonemUyeDurumTable" addExport="true" addOption="false" updateOption="false" deleteOption="false" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
