<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="komisyonDonemForm" prependId="false">

				<ui:include src="/_page/form/kisi/komisyonDonem_Edit.xhtml" />

				<p:fieldset id="komisyonDonemFilterPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['komisyonDonem.query']}"
					rendered="#{!komisyonDonemController.editPanelRendered}" collapsed="#{komisyonDonemController.collapsed}">
					<p:ajax listener="#{komisyonDonemController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

						<arf:dropdown label="#{label['komisyonDonem.donemRef']}" listSource="#{komisyonDonemController.selectItemListFor('Donem')}" requiredCond="false"
							compId="donemRefForFilter" value="#{komisyonDonemController.komisyonDonemFilter.donemRef}" converterId="#{'donemConverter'}" id="donemRefForFilterDropDown1" />

						<arf:dropdown label="#{label['komisyonDonem.komisyonRef']}" listSource="#{komisyonDonemController.selectItemListFor('Komisyon')}" requiredCond="false"
							compId="komisyonRefForFilter" value="#{komisyonDonemController.komisyonDonemFilter.komisyonRef}" converterId="#{'komisyonConverter'}" id="komisyonRefForFilterDropDown1" />

						<arf:dropdown label="#{label['komisyonDonem.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="false"
							compId="birimRefForFilter" value="#{komisyonDonemController.komisyonDonemFilter.birimRef}" converterId="#{'birimConverter'}" id="birimRefForFilterDropDown1" />

					</h:panelGrid>
					<arf:filterBottomWithBlockUI controllerClassName="#{komisyonDonemController}" formName="komisyonDonemForm" listPanelName="komisyonDonemListPanel"
						filterPanelName="komisyonDonemFilterPanel" modelName="komisyonDonem" />
				</p:fieldset>

				<p:fieldset legend="#{label['komisyonDonem.list']}" styleClass="pageFieldSet" id="komisyonDonemListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
						<p:commandButton id="komisyonDonemCommand" process="@this" icon="uye" action="#{komisyonDonemController.komisyonDonemUye}"
							rendered="#{donemController.listRenderedFor('komisyonDonem')}" disabled="#{komisyonDonemController.komisyonDonem.RID == null}" value="#{label['command.donemuye']}"
							styleClass="arfCommandButton" style="width:140px" />

						<p:commandButton id="komisyonDonemToplantiCommand" process="@this" icon="toplanti" action="#{komisyonDonemController.komisyonDonemToplanti}"
							rendered="#{komisyonDonemController.listRenderedFor('KomisyonDonemToplanti')}" disabled="#{komisyonDonemController.komisyonDonem.RID == null}"
							value="#{label['command.komisyonDonemToplanti']}" styleClass="arfCommandButton" />

					</h:panelGrid>
					<p:blockUI block="komisyonDonemTable" trigger="komisyonDonemTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="komisyonDonemTable" value="#{komisyonDonemController.list}" var="komisyonDonemRow" binding="#{komisyonDonemController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{komisyonDonemController.entity}" filteredValue="#{komisyonDonemController.filteredList}"
						widgetVar="filterTable" rowKey="#{komisyonDonemRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{komisyonDonemController.tableRowSelect}" update=":komisyonDonemForm" />
						<p:ajax event="rowUnselect" listener="#{komisyonDonemController.tableRowCancelSelection}" update=":komisyonDonemForm" />

						<arftags:column val="#{komisyonDonemRow.birimRef.UIString}" header="#{label['komisyonDonem.birimRef']}" width="35" />
						<arftags:column val="#{komisyonDonemRow.komisyonRef.UIString}" header="#{label['komisyonDonem.komisyonRef']}" width="35" />
						<arftags:column val="#{komisyonDonemRow.donemRef.UIString}" header="#{label['komisyonDonem.donemRef']}" width="35" />
						<arftags:column val="#{komisyonDonemRow.aciklama}" header="#{label['komisyonDonem.aciklama']}" width="35" />
						<p:column width="150" style="text-align:center" headerText="#{label['common.komisyonUyeDurum']}">
							<p:commandButton id="komisyonDonemUyeDurumCommand" process="@this" icon="uye" action="#{komisyonDonemController.komisyonDonemUyeDurum}"
								rendered="#{komisyonDonemController.listRenderedFor('KomisyonDonemUyeDurum')}" styleClass="arfCommandButton" style="width:45px" />
						</p:column>
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{komisyonDonemController}" formName="komisyonDonemForm" listPanelName="komisyonDonemListPanel" pagingOption="true"
						tableName="komisyonDonemTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
