<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="komisyonDonemUyeForm" prependId="false">
				<arf:masterPanel controllerClassName="#{komisyonDonemUyeController}" masterLabel="" modelName="komisyonDonemUye" />

				<ui:include src="/_page/form/kisi/komisyonDonemUye_Edit.xhtml" />

				<p:fieldset legend="#{label['komisyonDonemUye.list']}" styleClass="pageFieldSet" id="komisyonDonemUyeListPanel">

					<p:blockUI block="komisyonDonemUyeTable" trigger="komisyonDonemUyeTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="komisyonDonemUyeTable" value="#{komisyonDonemUyeController.list}" var="komisyonDonemUyeRow"
						binding="#{komisyonDonemUyeController.table}" rowIndexVar="rowIndex" selectionMode="single" selection="#{komisyonDonemUyeController.entity}"
						filteredValue="#{komisyonDonemUyeController.filteredList}" widgetVar="filterTable" rowKey="#{komisyonDonemUyeRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{komisyonDonemUyeController.tableRowSelect}" update=":komisyonDonemUyeForm" />
						<p:ajax event="rowUnselect" listener="#{komisyonDonemUyeController.tableRowCancelSelection}" update=":komisyonDonemUyeForm" />

						<arftags:column val="#{komisyonDonemUyeRow.kisiRef.UIString}" header="#{label['komisyonDonemUye.kisiRef']}" width="15" />
						<arftags:column val="#{komisyonDonemUyeRow.kisiRef.kisiUyeyseSicilNo}" header="#{label['komisyonDonemUye.sicilno']}" width="15" />
						<arftags:column val="#{komisyonDonemUyeRow.komisyonGorev.label}" header="#{label['komisyonDonemUye.komisyonGorev']}" width="15" />
						<arftags:column val="#{komisyonDonemUyeRow.uyeTuru.label}" header="#{label['komisyonDonemUye.uyeTuru']}" width="15" />
						<arftags:column val="#{komisyonDonemUyeRow.durum.label}" header="#{label['komisyonDonemUye.durum']}" width="15" />
						<arftags:column val="#{komisyonDonemUyeRow.komisyonUyelikDurumu.label}" header="#{label['komisyonDonemUye.komisyonUyelikDurumu']}" width="15" />
						<arftags:dateColumn val="#{komisyonDonemUyeRow.durumtarihi}" header="#{label['komisyonDonemUye.durumtarihi']}" width="15" />
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{komisyonDonemUyeController}" formName="komisyonDonemUyeForm" listPanelName="komisyonDonemUyeListPanel" pagingOption="true"
						tableName="komisyonDonemUyeTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
