<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="kurulDonemUyeForm" prependId="false">

				<arf:masterPanel controllerClassName="#{kurulDonemUyeController}" masterLabel="" modelName="kurulDonemUye" />

				<ui:include src="/_page/form/kisi/kurulDonemUye_Edit.xhtml" />

				<p:fieldset id="koordinasyonKuruluPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{kurulDonemUyeController.collapsed}" 
					legend="#{label['odakoordinasyonkurulu.edit']}" rendered="#{kurulDonemUyeController.odakoordinasyonkuruluPanelRendered}">

					<h:panelGrid columns="1" styleClass="arfEditGrid">
						<arf:manyList id="kurulDonemRefDropDown" label="#{label['odakoordinasyonkurulu.kurulDonemRef']}" listSource="#{kurulDonemUyeController.kurulDonemListesi}" 
							value="#{kurulDonemUyeController.odaKurulDonemList}"  requiredCond="true" compId="kurulDonemRef" 
							converterId="#{kurulDonemConverter}"/>
					</h:panelGrid>
					<p style="margin-top: 10px; margin-bottom: 10px; margin-left: 35%">
						<p:commandButton id="odakoordinasyonkuruluOnayla" action="#{kurulDonemUyeController.odakoordinasyonkurulu}" value="#{label['command.post']}" ajax="true"
							onclick="if (confirm('#{label['odakoordinasyonkurulu.confirm']}')) {return true} else {return false}" process=":kurulDonemUyeForm:koordinasyonKuruluPanel"
							update="@form :globalMessages" icon="save" styleClass="arfCommandButton" />
						<p:commandButton id="odakoordinasyonPanelKapat" action="#{kurulDonemUyeController.odakoordinasyonkuruluPanelKapat}" process="@this" update="@form" rendered="true"
							value="#{label['command.cancel']}" immediate="true" icon="iptal" styleClass="arfCommandButton" />
						<br />
					</p>
				</p:fieldset>
				
				<p:fieldset id="subekoordinasyonKuruluPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{kurulDonemUyeController.collapsed}" 
					legend="#{label['subekoordinasyonkurulu.edit']}" rendered="#{kurulDonemUyeController.subekoordinasyonkuruluPanelRendered}">

					<h:panelGrid columns="1" styleClass="arfEditGrid">
						<arf:manyList id="kurulDonemRefList" label="#{label['subekoordinasyonkurulu.kurulDonemRef']}" listSource="#{kurulDonemUyeController.subeKoordinasyonKurulListesi}" 
							value="#{kurulDonemUyeController.subeKurulDonemList}"  requiredCond="true" compId="kurulDonemRef" 
							converterId="#{kurulDonemConverter}"/>
					</h:panelGrid>
					<p style="margin-top: 10px; margin-bottom: 10px; margin-left: 35%">
						<p:commandButton id="subekoordinasyonkuruluOnayla" action="#{kurulDonemUyeController.subekoordinasyonkurulu}" value="#{label['command.post']}" ajax="true"
							onclick="if (confirm('#{label['subekoordinasyonkurulu.confirm']}')) {return true} else {return false}" process=":kurulDonemUyeForm:koordinasyonKuruluPanel"
							update="@form :globalMessages" icon="save" styleClass="arfCommandButton" />
						<p:commandButton id="subekoordinasyonPanelKapat" action="#{kurulDonemUyeController.subekoordinasyonkuruluPanelKapat}" process="@this" update="@form" rendered="true"
							value="#{label['command.cancel']}" immediate="true" icon="iptal" styleClass="arfCommandButton" />
						<br />
					</p>
				</p:fieldset>
				
				<p:fieldset legend="#{label['kurulDonemUye.list']}" styleClass="pageFieldSet" id="kurulDonemUyeListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
						<p:commandButton id="odakomisyonkurulucommand" process="@this" update="@form" icon="kisi" action="#{kurulDonemUyeController.odakoordinasyonkuruluPanelAc}"
							rendered="#{kurulDonemController.updateRecordRendered and kurulDonemController.aktifDonemandOdaKoordinasyonKurulu}" value="#{label['command.odakoordinaysonkurulu']}"
							styleClass="arfCommandButton" />
						<p:commandButton id="subekomisyonkurulucommand" process="@this" update="@form" icon="kisi" action="#{kurulDonemUyeController.subekoordinasyonkuruluPanelAc}"
							rendered="#{kurulDonemController.updateRecordRendered and kurulDonemController.aktifDonemandSubeKoordinasyonKurulu}" value="#{label['command.subekoordinasyonkurulu']}"
							styleClass="arfCommandButton" />
						
					</h:panelGrid>
					<p:blockUI block="kurulDonemUyeTable" trigger="kurulDonemUyeTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kurulDonemUyeTable" value="#{kurulDonemUyeController.list}" var="kurulDonemUyeRow" binding="#{kurulDonemUyeController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{kurulDonemUyeController.entity}" filteredValue="#{kurulDonemUyeController.filteredList}"
						widgetVar="filterTable" rowKey="#{kurulDonemUyeRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{kurulDonemUyeController.tableRowSelect}" update=":kurulDonemUyeForm" />
						<p:ajax event="rowUnselect" listener="#{kurulDonemUyeController.tableRowCancelSelection}" update=":kurulDonemUyeForm" />

						<arftags:column val="#{kurulDonemUyeRow.uyeRef.UIString}" header="#{label['kurulDonemUye.uyeRef']}" width="15" />
						<arftags:column val="#{kurulDonemUyeRow.gorevTuru.label}" header="#{label['kurulDonemUye.gorevTuru']}" width="15" />
						<arftags:column val="#{kurulDonemUyeRow.uyeTuru.label}" header="#{label['kurulDonemUye.uyeTuru']}" width="15" />
						<arftags:column val="#{kurulDonemUyeRow.aktif.label}" header="#{label['kurulDonemUye.atkif']}" width="15" />
						<arftags:column val="#{kurulDonemUyeRow.kurulUyelikDurumu.label}" header="#{label['kurulDonemUye.kurulUyelikDurumu']}" width="15" />
						<arftags:dateColumn val="#{kurulDonemUyeRow.durumtarihi}" header="#{label['kurulDonemUye.durumtarihi']}" width="15" />
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{kurulDonemUyeController}" formName="kurulDonemUyeForm" listPanelName="kurulDonemUyeListPanel" pagingOption="true"
						tableName="kurulDonemUyeTable" addExport="true" addOption="#{!kurulDonemController.aktifDonemandOdaKoordinasyonKurulu and !kurulDonemController.aktifDonemandSubeKoordinasyonKurulu}" 
						updateOption="#{!kurulDonemController.aktifDonemandOdaKoordinasyonKurulu and !kurulDonemController.aktifDonemandSubeKoordinasyonKurulu}" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
