<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="kurulEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kurul.edit']}" rendered="#{kurulController.editPanelRendered}">
		<h:panelGrid columns="1" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:textinput label="#{label['kurul.ad']}" value="#{kurulController.kurul.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="100" />

			<arf:dropdown label="#{label['kurul.kurulturu']}" listSource="#{enumeratedController.kurulTuruItems}" requiredCond="true" compId="kurulturu"
				value="#{kurulController.kurul.kurulturu}" id="kurulturuDropDown" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{kurulController}" formName="kurulForm" listPanelName="kurulListPanel" editPanelName="kurulEditPanel" modelName="kurul" />
	</p:fieldset>

</ui:composition>
