<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="kurulDonemForm" prependId="false">

				<ui:include src="/_page/form/kisi/kurulDonem_Edit.xhtml" />

				<p:fieldset id="kurulDonemFilterPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['kurulDonem.query']}" rendered="#{!kurulDonemController.editPanelRendered}" collapsed="#{kurulDonemController.collapsed}">
					<p:ajax listener="#{kurulDonemController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

						<arf:dropdown label="#{label['kurulDonem.donemRef']}" listSource="#{kurulDonemController.selectItemListFor('Donem')}" requiredCond="false" compId="donemRefForFilter" value="#{kurulDonemController.kurulDonemFilter.donemRef}"
							converterId="#{'donemConverter'}" id="donemRefForFilterDropDown1" />

						<arf:dropdown label="#{label['kurulDonem.kurulRef']}" listSource="#{kurulDonemController.selectItemListFor('Kurul')}" requiredCond="false" compId="kurulRefForFilter" value="#{kurulDonemController.kurulDonemFilter.kurulRef}"
							converterId="#{'kurulConverter'}" id="kurulRefForFilterDropDown1" />

						<arf:dropdown label="#{label['kurulDonem.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="false" compId="birimRefForFilter" value="#{kurulDonemController.kurulDonemFilter.birimRef}"
							converterId="#{'birimConverter'}" id="birimRefForFilterDropDown1" />

					</h:panelGrid>
					<arf:filterBottomWithBlockUI controllerClassName="#{kurulDonemController}" formName="kurulDonemForm" listPanelName="kurulDonemListPanel" filterPanelName="kurulDonemFilterPanel" modelName="kurulDonem" />
				</p:fieldset>

				<p:fieldset legend="#{label['kurulDonem.list']}" styleClass="pageFieldSet" id="kurulDonemListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
						<p:commandButton id="kurulDonemUyeCommand" process="@this" icon="uye" action="#{kurulDonemController.kurulDonemUye}" rendered="#{donemController.listRenderedFor('KurulDonemUye')}"
							disabled="#{kurulDonemController.kurulDonem.kurulRef.kurulturu.code == sessionController.genelKurulCode
							or kurulDonemController.kurulDonem.RID == null}" value="#{label['command.kurulDonemUye']}"
							styleClass="arfCommandButton" style="width:160px" ajax="false" />
						<p:commandButton id="kurulDonemToplantiCommand" process="@this" icon="toplanti" action="#{kurulDonemController.kurulDonemToplanti}" rendered="#{kurulDonemController.listRenderedFor('KurulDonemToplanti')}"
							disabled="#{kurulDonemController.kurulDonem.RID == null}" value="#{label['command.kurulDonemToplanti']}" styleClass="arfCommandButton" />

						<p:commandButton id="kurulDonemDelegeCommand" process="@this" icon="kisi" action="#{kurulDonemController.kurulDonemDelege}" rendered="#{kurulDonemController.listRenderedFor('KurulDonemDelege')}"
							value="#{label['command.kurulDonemDelege']}" styleClass="arfCommandButton" />

					</h:panelGrid>
					<p:blockUI block="kurulDonemTable" trigger="kurulDonemTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kurulDonemTable" value="#{kurulDonemController.list}" var="kurulDonemRow" binding="#{kurulDonemController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{kurulDonemController.entity}" filteredValue="#{kurulDonemController.filteredList}" widgetVar="filterTable" rowKey="#{kurulDonemRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{kurulDonemController.tableRowSelect}" update=":kurulDonemForm" />
						<p:ajax event="rowUnselect" listener="#{kurulDonemController.tableRowCancelSelection}" update=":kurulDonemForm" />

						<arftags:column val="#{kurulDonemRow.birimRef.UIString}" header="#{label['kurulDonem.birimRef']}" width="20" />
						<arftags:column val="#{kurulDonemRow.kurulRef.UIString}" header="#{label['kurulDonem.kurulRef']}" width="20" />
						<arftags:column val="#{kurulDonemRow.donemRef.UIString}" header="#{label['kurulDonem.donemRef']}" width="20" />
						<arftags:column val="#{kurulDonemRow.kurulRef.kurulturu.label}" header="#{label['kurul.kurulturu']}" width="20" />
						<arftags:column val="#{kurulDonemRow.aciklama}" header="#{label['kurulDonem.aciklama']}" width="20" />
						<p:column width="100" style="text-align:center" headerText="#{label['common.kurulUyeDurum']}">
							<p:blockUI block="kurulDonemTable" trigger="kurulDonemUyeDurumCommand">
								<h:outputText value="#{label['common.loading']}" />
								<br />
								<h:graphicImage library="_image" name="ajax-loader.gif" />
							</p:blockUI>
							<p:commandButton id="kurulDonemUyeDurumCommand" process="@this" icon="uye" action="#{kurulDonemController.kurulDonemUyeDurum}" rendered="#{kurulDonemController.listRenderedFor('KurulDonemUyeDurum')}"
								styleClass="arfCommandButton" style="width:45px" />
						</p:column>
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{kurulDonemController}" formName="kurulDonemForm" listPanelName="kurulDonemListPanel" pagingOption="true" tableName="kurulDonemTable" addExport="true" addOption="true"
						updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
