<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:define name="content">
		<h:body>
			<h:form id="kurumForm" prependId="false">

				<ui:include src="/_page/form/kisi/kurum_Edit.xhtml" />

				<p:fieldset id="kurumFilterPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['kurum.query']}" rendered="#{!kurumController.editPanelRendered}">
					<p:ajax listener="#{kurumController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:textinput label="#{label['kurum.ad']}" value="#{kurumController.kurumFilter.ad}" compId="adForFilter" requiredCond="false" id="adForFilterInputText" maxLength="20" />

						<arf:dropdown label="#{label['kurum.kurumTuruRef']}" listSource="#{kurumController.selectItemListFor('KurumTuru')}" requiredCond="false" compId="kurumTuruRefForFilter"
							value="#{kurumController.kurumFilter.kurumTuruRef}" converterId="#{'kurumTuruConverter'}" id="kurumTuruRefForFilterDropDown" />

						<arf:dropdown label="#{label['kurum.sehirRef']}" listSource="#{sessionUser.sehirItemList}" requiredCond="false" compId="sehirRefForFilter"
							value="#{kurumController.kurumFilter.sehirRef}" converterId="#{'sehirConverter'}" id="sehirRefForFilterDropDown1" />
					</h:panelGrid>
					<arf:filterBottomWithBlockUI controllerClassName="#{kurumController}" formName="kurumForm" listPanelName="kurumListPanel" filterPanelName="kurumFilterPanel"
						modelName="Kurum" />
				</p:fieldset>

				<p:fieldset legend="#{label['kurum.list']}" styleClass="pageFieldSet" id="kurumListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
						<p:commandButton id="kurumHesapCommand" process="@this" icon="uyeAidat" action="#{kurumController.kurumHesap}"
							rendered="#{kurumController.listRenderedFor('KurumHesap')  and 1 > 5}" disabled="#{kurumController.kurum.RID == null}" value="#{label['command.kurumHesap']}"
							styleClass="arfCommandButton" style="width:130px" />
						<p:commandButton id="kurumKisiCommand" process="@this" icon="kurumKisi" action="#{kurumController.kurumKisi}"
							rendered="#{kurumController.listRenderedFor('KurumKisi')  and 1 > 5}" disabled="#{kurumController.kurum.RID == null}" value="#{label['command.kurumKisi']}"
							styleClass="arfCommandButton" style="width:130px" />
						<p:commandButton id="isYeriTemsilcileriCommand" process="@this" icon="telefon" action="#{kurumController.isYeriTemsilcileri}"
							rendered="#{kurumController.listRenderedFor('IsYeriTemsilcileri') and 1 > 5}" disabled="#{kurumController.kurum.RID == null}"
							value="#{label['command.isYeriTemsilcileri']}" styleClass="arfCommandButton" style="width:130px" />
					</h:panelGrid>
					<p:blockUI block="kurumTable" trigger="kurumTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kurumTable" value="#{kurumController.list}" var="kurumRow" binding="#{kurumController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{kurumController.entity}" filteredValue="#{kurumController.filteredList}" widgetVar="filterTable" rowKey="#{kurumRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{kurumController.tableRowSelect}" update=":kurumForm" />
						<p:ajax event="rowUnselect" listener="#{kurumController.tableRowCancelSelection}" update=":kurumForm" />

						<p:column style="text-align:center; width:15px">
							<f:facet name="header">
								<h:outputText value="#{label['common.detay']}" />
							</f:facet>
							<h:commandLink action="#{kurumController.detailPage(kurumRow.RID)}">
								<h:graphicImage library="_image" name="detail.png" />
							</h:commandLink>
						</p:column>
						<arftags:column val="#{kurumRow.ad}" header="#{label['kurum.ad']}" width="*" />
						<arftags:column val="#{kurumRow.kurumTuruRef.UIString}" header="#{label['kurum.kurumTuruRef']}" width="8" />
						<arftags:column val="#{kurumRow.kurumTelefon.telefonno}" header="Telefon" width="10" />
						<arftags:column val="#{kurumRow.sorumluRef.UIStringShort}" header="#{label['kurum.sorumluRef']}" width="15" />
						<arftags:column val="#{kurumRow.kurumAdres.sehirRef.UIString}" header="#{label['kurum.sehirRef']}" width="10" />
						<arftags:column val="#{kurumRow.kurumAdres.ilceRef.UIString}" header="#{label['kurum.ilceRef']}" width="10" />
						<arftags:column val="#{kurumRow.kurumInternetadres.netadresmetni}" header="#{label['kurum.internetadres']}" width="20" />
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{kurumController}" formName="kurumForm" listPanelName="kurumListPanel" pagingOption="true" tableName="kurumTable"
						addExport="true" addOption="false" updateOption="true" deleteOption="true" addSubRecordOption="false" wizardOption="true" />
				
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
