<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="kurulForm" prependId="false">

				<ui:include src="/_page/form/kisi/kurul_Edit.xhtml" />

				<p:fieldset legend="#{label['kurul.list']}" styleClass="pageFieldSet" id="kurulListPanel">

					<p:blockUI block="kurulTable" trigger="kurulTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kurulTable" value="#{kurulController.list}" var="kurulRow" binding="#{kurulController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{kurulController.entity}" filteredValue="#{kurulController.filteredList}" widgetVar="filterTable" rowKey="#{kurulRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{kurulController.tableRowSelect}" update=":kurulForm" />
						<p:ajax event="rowUnselect" listener="#{kurulController.tableRowCancelSelection}" update=":kurulForm" />

						<arftags:column val="#{kurulRow.ad}" header="#{label['kurul.ad']}" width="50" />
						<arftags:column val="#{kurulRow.kurulturu.label}" header="#{label['kurul.kurulturu']}" width="50" />
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{kurulController}" formName="kurulForm" listPanelName="kurulListPanel" pagingOption="true" tableName="kurulTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
