<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="kurulGorevForm" prependId="false">

				<ui:include src="/_page/form/kisi/kurulGorev_Edit.xhtml" />

				<p:fieldset legend="#{label['kurulGorev.list']}" styleClass="pageFieldSet" id="kurulGorevListPanel">
					<p:blockUI block="kurulGorevTable" trigger="kurulGorevTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kurulGorevTable" value="#{kurulGorevController.list}" var="kurulGorevRow" binding="#{kurulGorevController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{kurulGorevController.entity}" filteredValue="#{kurulGorevController.filteredList}" widgetVar="filterTable"
						rowKey="#{kurulGorevRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{kurulGorevController.tableRowSelect}" update=":kurulGorevForm" />
						<p:ajax event="rowUnselect" listener="#{kurulGorevController.tableRowCancelSelection}" update=":kurulGorevForm" />

						<arftags:column val="#{kurulGorevRow.tanim}" header="#{label['kurulGorev.tanim']}" width="16" />
						<arftags:column val="#{kurulGorevRow.gorevTuru.label}" header="#{label['kurulGorev.gorevTuru']}" width="50%" />
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{kurulGorevController}" formName="kurulGorevForm" listPanelName="kurulGorevListPanel" pagingOption="true"
						tableName="kurulGorevTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
