<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="kurulDonemUyeEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kurulDonemUye.edit']}"
		rendered="#{kurulDonemUyeController.editPanelRendered}">

		<p:panel header="Üye Girişi" toggleable="true">
			<h:panelGrid columns="1" styleClass="arfEditGrid">

				<arf:textoutput label="#{label['kurulDonemUye.kurulDonemRef']}" value="#{kurulDonemUyeController.kurulDonemUye.kurulDonemRef.UIString}" />

				<arf:suggestbox label="#{label['kurulDonemUye.uyeRef']}" methodName="#{kurulDonemUyeController.completeMethod}" requiredCond="true" compId="uyeRef"
					value="#{kurulDonemUyeController.kurulDonemUye.uyeRef}" id="uyeRefSuggestBox" converterId="#{'uyeConverter'}" modelName="#{'Uye'}" var="uyeRec" itemValue="#{uyeRec}"
					itemLabel="#{uyeRec}" rendered="#{kurulDonemUyeController.kurulDonemUye.RID == null}" />

				<arf:textoutput label="#{label['kurulDonemUye.uyeRef']}" value="#{kurulDonemUyeController.kurulDonemUye.uyeRef.UIString}"
					rendered="#{kurulDonemUyeController.kurulDonemUye.RID != null}" /> 

				<arf:dropdown label="#{label['kurulDonemUye.gorevTuru']}" listSource="#{enumeratedController.gorevTuruItems}" requiredCond="false" compId="gorevTuru"
					value="#{kurulDonemUyeController.kurulDonemUye.gorevTuru}" id="gorevTuruDropDown" ajaxEventListener="#{kurulDonemUyeController.handleChangeForUyeTuru}"
					changeEventUpdateComp="#{':kurulDonemUyeForm:uyeTuruDropDown:uyeTuru'}" />

				<arf:dropdown label="#{label['kurulDonemUye.uyeTuru']}" listSource="#{kurulDonemUyeController.uyeTuruItems}" requiredCond="false" compId="uyeTuru"
					value="#{kurulDonemUyeController.kurulDonemUye.uyeTuru}" id="uyeTuruDropDown" />

				<arf:textoutput label="#{label['kurulDonemUye.atkif']}" value="#{sessionController.evetHayirHayirCode.label}"
					rendered="#{kurulDonemUyeController.kurulDonemUye.kurulUyelikDurumu.code == sessionController.kurulUyelikDurumuIstifaCode or kurulDonemUyeController.kurulDonemUye.kurulUyelikDurumu.code == sessionController.kurulUyelikDurumuUyelikDusmeCode }" />
				<arf:textoutput label="#{label['kurulDonemUye.atkif']}" value="#{sessionController.evetHayirEvetCode.label}"
					rendered="#{kurulDonemUyeController.kurulDonemUye.kurulUyelikDurumu.code == sessionController.kurulUyelikDurumuNullCode}" />
				<arf:dropdown label="#{label['kurulDonemUye.kurulUyelikDurumu']}" listSource="#{enumeratedController.kurulUyelikDurumuItems}" requiredCond="false"
					compId="kurulUyelikDurumu" value="#{kurulDonemUyeController.kurulDonemUye.kurulUyelikDurumu}" id="kurulUyelikDurumuDropDown"
					updateCompWithoutEvent="#{':kurulDonemUyeForm:kurulDonemUyeEditPanel' }" />

				<arf:calendar label="#{label['kurulDonemUye.durumtarihi']}" value="#{kurulDonemUyeController.kurulDonemUye.durumtarihi}" id="durumtarihiCalendar"
					pattern="#{configurationController.datePattern}" requiredCond="false" compId="durumtarihi"
					rendered="#{kurulDonemUyeController.kurulDonemUye.kurulUyelikDurumu.code == sessionController.kurulUyelikDurumuIstifaCode or kurulDonemUyeController.kurulDonemUye.kurulUyelikDurumu.code == sessionController.kurulUyelikDurumuUyelikDusmeCode }" />

			</h:panelGrid>
		</p:panel>


		<arf:editPanelBottomWithBlockUI controllerClassName="#{kurulDonemUyeController}" formName="kurulDonemUyeForm" listPanelName="kurulDonemUyeListPanel"
			editPanelName="kurulDonemUyeEditPanel" modelName="kurulDonemUye" />
	</p:fieldset>

</ui:composition>
