<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<ui:define name="content">
		<h:body>

			<h:form id="kurumForm" prependId="false">
				<p:fieldset legend="#{label['common.sihirbazDurum']}" style="height:60px" styleClass="pageFieldSet">
					<h:outputText value="#{label['common.sihirbazAdim']} #{kurumWizardController.wizardStep} : " style="color:red; font-size:16px; font-weight:bold; margin-left:20px" />
					<h:outputText value="#{label['kurum.edit']}" style="color:#333333; font-size:14px; font-weight:bold" rendered="#{kurumWizardController.wizardStep == 1}" />
					<h:outputText value="#{label['adres.edit']}" style="color:#333333; font-size:14px; font-weight:bold" rendered="#{kurumWizardController.wizardStep == 2}" />
					<h:outputText value="#{label['telefon.edit']}" style="color:#333333; font-size:14px; font-weight:bold" rendered="#{kurumWizardController.wizardStep == 3}" />
				</p:fieldset>
				<p:fieldset id="kurumEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kurum.edit']}" rendered="#{kurumWizardController.wizardStep == 1}">
					<p:panel header="#{label['kurum.edit']}" style="width:99%; margin-left:.5%" id="kurumOnlyPanel">

						<arf:textinput label="#{label['kurum.ad']}" value="#{kurumWizardController.kurum.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="100" />
						<arf:dropdown label="#{label['kurum.kurumTuruRef']}" listSource="#{kurumWizardController.selectItemListFor('KurumTuru')}" requiredCond="true" compId="kurumTuruRef"
							value="#{kurumWizardController.kurum.kurumTuruRef}" converterId="#{'kurumTuruConverter'}" id="kurumTuruRefDropDown" />
						<arf:textinput label="#{label['kurum.vergidairesi']}" value="#{kurumWizardController.kurum.vergidairesi}" compId="vergidairesi" requiredCond="false"
							id="vergidairesiInputText" maxLength="30" />
						<arf:textinput label="#{label['kurum.vergino']}" value="#{kurumWizardController.kurum.vergino}" compId="vergino" requiredCond="false" id="verginoInputText"
							maxLength="20" />
						<arf:suggestbox label="#{label['kurum.sorumluRef']}" methodName="#{kurumWizardController.completeMethod}" requiredCond="false" compId="sorumluRef"
							value="#{kurumWizardController.kurum.sorumluRef}" id="sorumluRefSuggestBox" converterId="#{'kisiConverter'}" modelName="#{'Kisi'}" var="sorumluRec"
							itemValue="#{sorumluRec}" itemLabel="#{sorumluRec}" />
						<arf:textinputarea label="#{label['kurum.aciklama']}" value="#{kurumWizardController.kurum.aciklama}" compId="aciklama" requiredCond="false" id="aciklamaInputText"
							maxLength="200" />
						<arf:dropdown label="#{label['kurum.sehirRef']}" listSource="#{sessionUser.sehirItemList}" requiredCond="true" compId="sehirRef"
							value="#{kurumWizardController.kurum.sehirRef}" converterId="#{'sehirConverter'}" id="sehirRefDropDown" ajaxEventListener="#{kurumWizardController.handleChange}"
							changeEventUpdateComp="#{':kurumForm:ilceRefDropDown:ilceRef'}" />
						<arf:dropdown label="#{label['kurum.ilceRef']}" listSource="#{kurumWizardController.ilceItemList}" requiredCond="true" compId="ilceRef"
							value="#{kurumWizardController.kurum.ilceRef}" converterId="#{'ilceConverter'}" id="ilceRefDropDown" />

					</p:panel>
				</p:fieldset>
				
				<p:fieldset id="adresEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['adres.edit']}" rendered="#{kurumWizardController.wizardStep == 2}">
					
					<p:panel   header="#{label['common.adres']}" style="width:99%; margin-left:.5%" id="adresOnlyPanel">
						<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" style="width:100%">
							<arf:dropdown label="#{label['adres.adrestipi']}" listSource="#{enumeratedController.adresTipiItemsForKisi}" requiredCond="true" compId="adrestipi"
								value="#{kurumWizardController.adres.adrestipi}" id="adrestipiDropDownAdres3" addNullOption="true" ajaxEventListener="#{kurumWizardController.handleChange}"
								changeEventUpdateComp="#{':kurumForm:adresOnlyPanel :kurumForm:acikadrespanel :kurumForm:sehirpanel :kurumForm:ilcepanel :kurumForm:yabanciulkepanel 
								:kurumForm:yabancisehirpanel :kurumForm:yabanciadrespanel'}" />
							<arf:textoutput label="#{label['adres.adresturu']}" value="#{kurumWizardController.adres.adresturu.label}" />

							<arf:booleanbox id="varsayilanCheckbox" compId="varsayilan" styleClass="optionalInputText" value="#{kurumWizardController.varsayilan}"
								label="#{label['adres.varsayilan']}" requiredCond="true"  />

							<p:outputPanel id="acikadrespanel" rendered="true">
								<arf:textinputarea label="#{label['adres.acikAdres']}" value="#{kurumWizardController.adres.acikAdres}" compId="acikAdres" requiredCond="true" id="acikAdresInputText"
									maxLength="255" rendered="#{kurumWizardController.adres.adrestipi.code != 4}" />
							</p:outputPanel>


							<p:outputPanel id="sehirpanel" rendered="true">
								<arf:dropdown label="#{label['adres.sehirRef']}" listSource="#{sessionUser.sehirItemList}" requiredCond="true" compId="sehirRefAdres"
									value="#{kurumWizardController.adres.sehirRef}" converterId="#{'sehirConverter'}" id="sehirRefDropDownAdres" ajaxEventListener="#{kurumWizardController.handleChange}"
									changeEventUpdateComp="#{':kurumForm:ilcepanel'}" rendered="#{kurumWizardController.adres.adrestipi.code != 4}" />
							</p:outputPanel>
							<p:outputPanel id="ilcepanel" rendered="true">
								<arf:dropdown label="#{label['adres.ilceRef']}" listSource="#{kurumWizardController.ilceItemList}" requiredCond="true" compId="ilceRefAdres"
									value="#{kurumWizardController.adres.ilceRef}" converterId="#{'ilceConverter'}" id="ilceRefDropDownAdres" rendered="#{kurumWizardController.adres.adrestipi.code != 4}" />
							</p:outputPanel>


							<p:outputPanel id="yabanciulkepanel" rendered="true">
								<arf:textinput label="#{label['adres.yabanciulke']}" value="#{kurumWizardController.adres.yabanciulke}" compId="yabanciulke" requiredCond="true" id="yabanciulkeInputText"
									maxLength="255" rendered="#{kurumWizardController.adres.adrestipi.code == 4}" />
							</p:outputPanel>
							<p:outputPanel id="yabancisehirpanel" rendered="true">
								<arf:textinput label="#{label['adres.yabancisehir']}" value="#{kurumWizardController.adres.yabancisehir}" compId="yabancisehir" requiredCond="true"
									id="yabancisehirInputText" maxLength="255" rendered="#{kurumWizardController.adres.adrestipi.code == 4}" />
							</p:outputPanel>
							<p:outputPanel id="yabanciadrespanel" rendered="true">
								<arf:textinputarea label="#{label['adres.yabanciadres']}" value="#{kurumWizardController.adres.yabanciadres}" compId="yabanciadres" requiredCond="true"
									id="yabanciadresInputText" maxLength="255" rendered="#{kurumWizardController.adres.adrestipi.code == 4}" />
							</p:outputPanel>

						</h:panelGrid>
					</p:panel>
				</p:fieldset>

				<p:fieldset id="iletisimEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['common.iletisim']}" rendered="#{kurumWizardController.wizardStep == 3}">
					<p:panel header="#{label['common.iletisim']}" style="width:99%; margin-left:.5%" id="iletisimOnlyPanel">

						<h:panelGrid columns="1" style="width:100%">

							<arf:maskinput label="#{kurumWizardController.telefon2.telefonturu.label}" value="#{kurumWizardController.telefon2.telefonno}" compId="telefonnoTwo"
								requiredCond="#{false}" id="telefonnoInputTextTwo" maxLength="30" customValidatorId="#{'phoneValidator'}" mask="0 (999) 999 9999" />
							<arf:maskinput label="#{kurumWizardController.telefon3.telefonturu.label}" value="#{kurumWizardController.telefon3.telefonno}" compId="telefonnoThree"
								requiredCond="false" id="telefonnoInputTextThree" maxLength="30" customValidatorId="#{'phoneValidator'}" mask="0 (999) 999 9999" />
							<arf:maskinput label="#{kurumWizardController.telefon4.telefonturu.label}" value="#{kurumWizardController.telefon4.telefonno}" compId="telefonnoFour"
								requiredCond="false" id="telefonnoInputTextFour" maxLength="30" customValidatorId="#{'phoneValidator'}" mask="0 (999) 999 9999" />
							<arf:textinput label="#{kurumWizardController.internetAdres1.netadresturu.label}" value="#{kurumWizardController.internetAdres1.netadresmetni}" compId="netadresmetni"
								requiredCond="#{false}" id="netadresmetniInputText" maxLength="70" />

						</h:panelGrid>
					</p:panel>
				</p:fieldset>

				<div style="margin-left: 40%; width: 60%">
					<p:outputPanel id="commandPanel">
						<p:commandButton id="kurumWizardBackward" action="#{kurumWizardController.wizardBackward}" value="#{label['command.backward']}" ajax="true" process="@this"
							update="@form" icon="backward" styleClass="arfCommandButton" rendered="#{kurumWizardController.wizardStep > 1}" />
						<p:commandButton id="finishWizard" action="#{kurumWizardController.validateTelefon}" value="#{label['command.finishWizard']}" icon="save" process="@form" update="@form"
							styleClass="arfCommandButton" rendered="#{kurumWizardController.wizardStep == 3 and !kurumWizardController.kurumBulundu}" />
						<p:commandButton id="kurumWizardForward" action="#{kurumWizardController.wizardForward}" value="#{label['command.forward']}" ajax="true" process="@form" update="@form"
							icon="forward" styleClass="arfCommandButton" rendered="#{kurumWizardController.wizardStep != 3 and !kurumWizardController.kurumBulundu}" />
					</p:outputPanel>
				</div>
			</h:form>
			<pe:ajaxErrorHandler title="Error" body="Server return exception  {error-name} with description {error-message}" button="Hide" widgetVar="myAjaxErrorHandler"
				buttonOnclick="myAjaxErrorHandler.hide()" />
		</h:body>
	</ui:define>
</ui:composition>
