<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<ui:define name="content">
		<h:body>
			<h:form id="kurumForm" prependId="false">
				<table width="98.5%" cellspacing="5" border="0" style="margin-left: 1%; border: 1px inset gray; -moz-border-radius: 5px; border-radius: 5px;">
					<tr>
						<td width="80%" style="vertical-align: top; valign: top"><p:panel id="personelPanel"
								style="padding:none; border:1px dotted gray; -moz-border-radius: 5px; border-radius: 5px; text-align:left">
								<p:toolbar style="width:100%; height:25px; border:none lightgray; background:none; margin-left:1.5%; width:96%">
									<p:toolbarGroup align="left" style="width:100%; padding:none">
										<p:commandButton process="@this" update="@form" value="#{label['kurum.summary']}" icon="personel" action="#{kurumController.kurum}"
											disabled="#{kurumController.kurumDetay.RID == null or kurumController.selectedTab == 'kurum'}" rendered="#{kurumController.listRenderedFor('Kurum')}" />
										<p:commandButton process="@this" update="@form" value="#{label['command.kurumHesap']}" icon="uyeAidat" action="#{kurumController.createKurumDetay('kurumHesap')}"
											disabled="#{kurumController.kurumDetay.RID == null or kurumController.selectedTab == 'kurumHesap'}" rendered="#{kurumController.listRenderedFor('kurumHesap')}" />
										<p:commandButton id="kurumKisiCommand" process="@this" update="@form" icon="kurumKisi" action="#{kurumController.createKurumDetay('kurumKisi')}"
											rendered="#{kurumController.listRenderedFor('kurumKisi')}" value="#{label['command.kurumKisi']}"
											disabled="#{kurumController.kurumDetay.RID == null or kurumController.selectedTab == 'kurumKisi'}" />
										<p:commandButton id="isYeriTemsilcileriCommand" process="@this" update="@form" icon="telefon" action="#{kurumController.createKurumDetay('isYeriTemsilcileri')}"
											rendered="#{kurumController.listRenderedFor('isYeriTemsilcileri')}" value="#{label['command.isYeriTemsilcileri']}"
											disabled="#{kurumController.kurumDetay.RID == null or kurumController.selectedTab == 'isYeriTemsilcileri'}" />
										<p:commandButton process="@this" update="@form" value="#{label['common.iletisim']}" icon="internet" action="#{kurumController.createKurumDetay('internetadres')}"
											disabled="#{kurumController.kurumDetay.RID == null or kurumController.selectedTab == 'internetadres'}"
											rendered="#{kurumController.listRenderedFor('Internetadres')}" />
									</p:toolbarGroup>
								</p:toolbar>
								<br />
								<p:fieldset legend="#{label['kurum.summary']}" styleClass="pageFieldSet" id="kurumListPanel" rendered="#{kurumController.selectedTab == 'kurum'}">
									<h:panelGrid columns="4" columnClasses="yirmiYuzde, otuzYuzde, yirmiYuzde, otuzYuzde" width="100%">
										<arftags:detailItem colName="ad" header="#{label['kurum.ad']}" renderCondition="true" val="#{kurumController.kurumDetay.ad}" />
										<arftags:detailItem colName="kurumTuruRef" header="#{label['kurum.kurumTuruRef']}" renderCondition="true" val="#{kurumController.kurumDetay.kurumTuruRef.UIString}" />
										<arftags:detailItem colName="adres" header="#{label['kurum.adres']}" renderCondition="true" val="#{kurumController.kurumDetay.kurumAdres.acikAdres}" />
										<arftags:detailItem colName="telefonno" header="#{label['kurum.telefonno']}" renderCondition="true" val="#{kurumController.kurumDetay.kurumTelefon.telefonno}" />
										<arftags:detailItem colName="faks" header="#{label['kurum.faks']}" renderCondition="true" val="#{kurumController.kurumDetay.kurumFaks.telefonno}" />
										<arftags:detailItem colName="sorumluRef" header="#{label['kurum.sorumluRef']}" renderCondition="true" val="#{kurumController.kurumDetay.sorumluRef.UIString}" />
										<arftags:detailItem colName="aciklama" header="#{label['kurum.aciklama']}" renderCondition="true" val="#{kurumController.kurumDetay.aciklama}" />
										<arftags:detailItem colName="sehirRef" header="#{label['kurum.sehirRef']}" renderCondition="true" val="#{kurumController.kurumDetay.sehirRef.UIString}" />
										<arftags:detailItem colName="ilceRef" header="#{label['kurum.ilceRef']}" renderCondition="true" val="#{kurumController.kurumDetay.ilceRef.UIString}" />
										<arftags:detailItem colName="internetadres" header="#{label['kurum.internetadres']}" renderCondition="true"
											val="#{kurumController.kurumDetay.kurumInternetadres.netadresmetni}" />
									</h:panelGrid>
								</p:fieldset>
								<p:fieldset legend="#{label['kurumHesap.list']}" styleClass="pageFieldSet" id="kurumHesapListPanel" rendered="#{kurumController.selectedTab == 'kurumHesap'}">
									<p:panel id="kurumHesapMaster" styleClass="innerFieldSet">
										<h:graphicImage library="_image" name="toMasterPage.png" styleClass="masterLinkIcon" width="16" height="16"
											style="margin-right:10px; vertical-align:middle !important" />
										<h:outputText value="#{label['common.parent']} : #{kurumController.kurumDetay.UIString}" />
									</p:panel>
									<p:blockUI block="kurumHesapTable" trigger="kurumHesapTable">
										<h:outputText value="#{label['common.loading']}" />
										<br />
										<h:graphicImage library="_image" name="ajax-loader.gif" />
									</p:blockUI>
									<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kurumHesapTable" value="#{kurumController.kurumHesapController.list}" var="kurumHesapRow"
										binding="#{kurumController.kurumHesapController.table}" rowIndexVar="rowIndex" rowKey="#{kurumHesapRow.RID}" resizableColumns="false">
										<arftags:column val="#{kurumHesapRow.bankaRef.UIString}" header="#{label['kurumHesap.bankaadi']}" width="33" />
										<arftags:column val="#{kurumHesapRow.hesapno}" header="#{label['kurumHesap.hesapno']}" width="33" />
										<arftags:column val="#{kurumHesapRow.subekodu}" header="#{label['kurumHesap.subekodu']}" width="33" />
										<arftags:column val="#{kurumHesapRow.ibannumarasi}" header="#{label['kurumHesap.ibannumarasi']}" width="33" />
										<arftags:column val="#{kurumHesapRow.gecerli.label}" header="#{label['kurumHesap.gecerli']}" width="50%" />

										<p:column width="140" style="text-align:center" headerText="#{label['common.islem']}">
											<arf:buttonSetForDetailList controllerClassName="#{kurumController}" modelName="KurumHesap" rowItem="#{kurumHesapRow}"
												loggable="#{kurumController.kurumHesapController.loggable}" />
										</p:column>

									</p:dataTable>
									<p:commandButton onsuccess="detailEditDialog.show()" value="#{label['command.insert']}" action="#{kurumController.newDetail('kurumHesap')}" icon="new"
										immediate="true" process="@this" update="@this" styleClass="commandButton" ajax="true" style="width:70px; margin-left:48%; margin-bottom:30px"
										rendered="#{kurumController.updateRecordRenderedFor('kurumHesap') and kurumController.kurumHesapController.list.size() == 0 }" />
								</p:fieldset>

								<p:fieldset legend="#{label['kurumKisi.list']}" styleClass="pageFieldSet" id="kurumKisiListPanel" rendered="#{kurumController.selectedTab == 'kurumKisi'}">
									<p:panel id="kurumKisiMaster" styleClass="innerFieldSet">
										<h:graphicImage library="_image" name="toMasterPage.png" styleClass="masterLinkIcon" width="16" height="16"
											style="margin-right:10px; vertical-align:middle !important" />
										<h:outputText value="#{label['common.parent']} : #{kurumController.kurumDetay.UIString}" />
									</p:panel>
								
									<p:blockUI block="kurumKisiListPanel" trigger="queryYilButton">
										<h:outputText value="#{label['common.loading']}" />
										<br />
										<h:graphicImage library="_image" name="ajax-loader.gif" />
									</p:blockUI>
									<p:blockUI block="kurumKisiTable" trigger="kurumKisiTable">
										<h:outputText value="#{label['common.loading']}" />
										<br />
										<h:graphicImage library="_image" name="ajax-loader.gif" />
									</p:blockUI>
									<h:panelGrid columns="2" columnClasses="kirkYuzde,kirkYuzde" styleClass="arfEditGrid">
										<arf:dualtextinputForFilter label="#{label['kisi.ad']} - #{label['kisi.soyad']}" requiredCond="false" compId="kisiad" style="width:80px"
											value="#{kurumController.kurumkisiad}" maxLength="10" id="kisiAdSoyadForFilterDualTextInput" requiredCond2="false" compId2="kisisoyad" style2="width:80px"
											value2="#{kurumController.kurumkisisoyad}" maxLength2="10" />
										<p:commandButton id="queryYilButton" action="#{kurumController.kurumKisiSorgula}" value="#{label['command.query']}" process="kurumKisiListPanel"
											update="@this" ajax="true" icon="search" styleClass="arfCommandButton"/>
									</h:panelGrid>
									<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kurumKisiTable" value="#{kurumController.kurumKisiController.list}" var="kurumKisiRow"
										binding="#{kurumController.kurumKisiController.table}" rowIndexVar="rowIndex" rowKey="#{kurumKisiRow.RID}" resizableColumns="false">
										<p:column width="70" style="text-align:center">
											<f:facet name="header">
												<h:outputText value="#{label['common.detay']}" />
											</f:facet>
											<h:commandLink action="#{kurumController.kisiDetay(kurumKisiRow)}" ajax="true" update=":globalMessages">
												<h:graphicImage library="_image" name="detail.png" />
											</h:commandLink>
										</p:column>
										<p:column style="text-align:center; width:15px">
											<f:facet name="header">
												<h:outputText value="#{label['common.uyedetay']}" />
											</f:facet>
											<p:commandLink action="#{kurumController.uyeDetay(kurumKisiRow)}" ajax="true" update=":globalMessages" rendered="#{kurumController.uyemi(kurumKisiRow)}">
												<h:graphicImage library="_image" name="uye.png" />
											</p:commandLink>
										</p:column>
										
										<arftags:column val="#{kurumKisiRow.kisiRef.UIStringShort}" header="#{label['kurumKisi.kisiRef']}" width="20" />
										<arftags:column val="#{kurumKisiRow.kisiRef.kisiInternetadres.UIString}" header="#{label['kurumKisi.internetadres']}" width="20" />
										<arftags:column val="#{kurumKisiRow.kisiRef.kisiTelefon.UIString}" header="#{label['kurumKisi.telefon']}" width="20" />
										<arftags:column val="#{kurumKisiRow.baslangictarih}" header="#{label['kurumKisi.baslangictarihi']}" width="20" />
										<arftags:column val="#{kurumKisiRow.gorev}" header="#{label['kurumKisi.gorev']}" width="20" />
										
									</p:dataTable>
									<arf:pagingWithBlockUI controllerClassName="#{kurumController.kurumKisiController}" formName="kurumForm" listPanelName="kurumKisiListPanel" pagingOption="true" tableName="kurumKisiTable"
										exportToWord="true" exportToOpenOffice="true" addExport="true" addOption="false" updateOption="false" deleteOption="false" addSubRecordOption="false"
										wizardOption="false" logOption="false" />
									<p:commandButton onsuccess="detailEditDialog.show()" value="#{label['command.insert']}" action="#{kurumController.newDetail('kurumKisi')}" icon="new" immediate="true"
										process="@this" update="@this" styleClass="commandButton" ajax="true" style="width:70px; margin-left:48%; margin-bottom:30px"
										rendered="#{kurumController.updateRecordRenderedFor('kurumKisi') and kurumController.kurumKisiController.list.size() == 0 and false }" />
									
								</p:fieldset>

								<p:fieldset legend="#{label['isYeriTemsilcileri.list']}" styleClass="pageFieldSet" id="isYeriTemsilcileriListPanel"
									rendered="#{kurumController.selectedTab == 'isYeriTemsilcileri'}">
									<p:panel id="isYeriTemsilcileriMaster" styleClass="innerFieldSet">
										<h:graphicImage library="_image" name="toMasterPage.png" styleClass="masterLinkIcon" width="16" height="16"
											style="margin-right:10px; vertical-align:middle !important" />
										<h:outputText value="#{label['common.parent']} : #{kurumController.kurumDetay.UIString}" />
									</p:panel>
									<p:blockUI block="isYeriTemsilcileriTable" trigger="isYeriTemsilcileriTable">
										<h:outputText value="#{label['common.loading']}" />
										<br />
										<h:graphicImage library="_image" name="ajax-loader.gif" />
									</p:blockUI>
									<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="isYeriTemsilcileriTable" value="#{kurumController.isYeriTemsilcileriController.list}" var="isYeriTemsilcileriRow"
										binding="#{kurumController.isYeriTemsilcileriController.table}" rowIndexVar="rowIndex" rowKey="#{isYeriTemsilcileriRow.RID}" resizableColumns="false">

										<arftags:column val="#{isYeriTemsilcileriRow.uyeRef.UIString}" header="#{label['isYeriTemsilcileri.uyeRef']}" width="30" />
										<arftags:column val="#{isYeriTemsilcileriRow.uyeRef.kisiRef.kisiTelefon.UIString}" header="#{label['uye.telefon']}" width="15" />
										<arftags:column val="#{isYeriTemsilcileriRow.uyeRef.kisiRef.kisiInternetadres.UIString}" header="#{label['uye.email']}" width="15" />
										<arftags:column val="#{isYeriTemsilcileriRow.uyeRef.uyekurum.baslangictarih}" header="#{label['uye.baslangictarihi']}" width="20" />
										<arftags:column val="#{isYeriTemsilcileriRow.uyeRef.uyekurum.gorev}" header="#{label['uye.gorev']}" width="20" />
										

										<p:column width="140" style="text-align:center" headerText="#{label['common.islem']}">
											<arf:buttonSetForDetailList controllerClassName="#{kurumController}" modelName="isYeriTemsilcileri" rowItem="#{isYeriTemsilcileriRow}"
												loggable="#{kurumController.isYeriTemsilcileriController.loggable}" />
										</p:column>

									</p:dataTable>
									<p:commandButton onsuccess="detailEditDialog.show()" value="#{label['command.insert']}" action="#{kurumController.newDetail('isYeriTemsilcileri')}" icon="new"
										immediate="true" process="@this" update="@this" styleClass="commandButton" ajax="true" style="width:70px; margin-left:48%; margin-bottom:30px"
										rendered="#{kurumController.updateRecordRenderedFor('isYeriTemsilcileri') and kurumController.isYeriTemsilcileriController.list.size() == 0 }" />
								</p:fieldset>

								<p:fieldset legend="#{label['common.iletisim']}" styleClass="pageFieldSet" id="internetadresListPanel"
									rendered="#{kurumController.selectedTab == 'internetadres' or kurumController.selectedTab == 'adres' or kurumController.selectedTab == 'telefon'}">
									<p:panel id="internetadresMaster" styleClass="innerFieldSet">
										<h:graphicImage library="_image" name="toMasterPage.png" styleClass="masterLinkIcon" width="16" height="16"
											style="margin-right:10px; vertical-align:middle !important" />
										<h:outputText value="#{label['common.parent']} : #{kurumController.kurumDetay.UIString}" />
									</p:panel>

									<p:blockUI block="adresTable" trigger="adresTable">
										<h:outputText value="#{label['common.loading']}" />
										<br />
										<h:graphicImage library="_image" name="ajax-loader.gif" />
									</p:blockUI>
									<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" id="adresTable" value="#{kurumController.adresController.list}" var="adresRow" binding="#{kurumController.adresController.table}" rowIndexVar="rowIndex"
										rowKey="#{adresRow.RID}" resizableColumns="false">
										<f:facet name="header">
											<h:outputText value="#{label['adres.list']}" />
										</f:facet>
										
										<arftags:column val="#{adresRow.adrestipi.label}" header="#{label['adres.adrestipi']}" width="20" />
										<arftags:column val="#{adresRow.acikAdres}" header="#{label['adres.acikAdres']}" width="20" />
										<arftags:column val="#{adresRow.varsayilan.label}" header="#{label['adres.varsayilan']}" width="20" />
										<arftags:column val="#{adresRow.sehirRef.UIString}" header="#{label['adres.sehirRef']}" width="20" />
										<arftags:column val="#{adresRow.ilceRef.UIString}" header="#{label['adres.ilceRef']}" width="20" />

										<p:column width="140" style="text-align:center" headerText="#{label['common.islem']}">
											<arf:buttonSetForDetailList controllerClassName="#{kurumController}" modelName="Adres" rowItem="#{adresRow}" loggable="#{kurumController.adresController.loggable}" />
										</p:column>
									</p:dataTable>
									<p:commandButton onsuccess="detailEditDialog.show()" value="#{label['command.insert']}" action="#{kurumController.newDetail('adres')}" icon="new" immediate="true"
										process="@this" update="@this" styleClass="commandButton" ajax="true" style="width:70px; margin-left:45%"
										rendered="#{kurumController.updateRecordRenderedFor('Adres') and kurumController.adresController.list.size() == 0}" />
									<p:spacer width="80%" height="50px" />

									<p:blockUI block="telefonTable" trigger="telefonTable">
										<h:outputText value="#{label['common.loading']}" />
										<br />
										<h:graphicImage library="_image" name="ajax-loader.gif" />
									</p:blockUI>
									<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" id="telefonTable" value="#{kurumController.telefonController.list}" var="telefonRow" binding="#{kurumController.telefonController.table}"
										rowIndexVar="rowIndex" rowKey="#{telefonRow.RID}" resizableColumns="false">
										<f:facet name="header">
											<h:outputText value="#{label['telefon.list']}" />
										</f:facet>
										<arftags:column val="#{telefonRow.telefonno}" header="#{label['telefon.telefonno']}" width="45" />
										<arftags:column val="#{telefonRow.telefonturu.label}" header="#{label['telefon.telefonturu']}" width="40" />
										<arftags:column val="#{telefonRow.varsayilan.label}" header="#{label['telefon.varsayilan']}" width="32" />
										<p:column width="140" style="text-align:center" headerText="#{label['common.islem']}">
											<arf:buttonSetForDetailList controllerClassName="#{kurumController}" modelName="Telefon" rowItem="#{telefonRow}"
												loggable="#{kurumController.telefonController.loggable}" />
										</p:column>
									</p:dataTable>
									<p:commandButton onsuccess="detailEditDialog.show()" value="#{label['command.insert']}" action="#{kurumController.newDetail('telefon')}" icon="new" immediate="true"
										process="@this" update="@this" styleClass="commandButton" ajax="true" style="width:70px; margin-left:45%"
										rendered="#{kurumController.updateRecordRenderedFor('Telefon') and kurumController.telefonController.list.size() == 0}" />
									<p:spacer width="80%" height="50px" />

									<p:blockUI block="internetadresTable" trigger="internetadresTable">
										<h:outputText value="#{label['common.loading']}" />
										<br />
										<h:graphicImage library="_image" name="ajax-loader.gif" />
									</p:blockUI>
									<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="internetadresTable" value="#{kurumController.internetadresController.list}" var="internetadresRow"
										binding="#{kurumController.internetadresController.table}" rowIndexVar="rowIndex" rowKey="#{internetadresRow.RID}" resizableColumns="false">
										<f:facet name="header">
											<h:outputText value="#{label['internetadres.list']}" />
										</f:facet>
										<arftags:column val="#{internetadresRow.netadresmetni}" header="#{label['internetadres.netadresmetni']}" width="32" />
										<arftags:column val="#{internetadresRow.netadresturu.label}" header="#{label['internetadres.netadresturu']}" width="32" />
										<arftags:column val="#{internetadresRow.varsayilan.label}" header="#{label['internetadres.varsayilan']}" width="32" />
										<p:column width="140" style="text-align:center" headerText="#{label['common.islem']}">
											<arf:buttonSetForDetailList controllerClassName="#{kurumController}" modelName="Internetadres" rowItem="#{internetadresRow}"
												loggable="#{kurumController.internetadresController.loggable}" />
										</p:column>
									</p:dataTable>
									<p:commandButton onsuccess="detailEditDialog.show()" value="#{label['command.insert']}" action="#{kurumController.newDetail('internetadres')}" icon="new"
										immediate="true" process="@this" update="@this" styleClass="commandButton" ajax="true" style="width:70px; margin-left:45%"
										rendered="#{kurumController.updateRecordRenderedFor('Internetadres') and kurumController.internetadresController.list.size() == 0}" />
									<p:spacer width="80%" height="50px" />
								</p:fieldset>

							</p:panel></td>
					</tr>
				</table>
			</h:form>

			<p:dialog header="#{label['common.detailEdit']}" widgetVar="detailEditDialog" width="1000" height="#{kurumController.heightOfEditDialog}"
				style="position:absolute; left:5%; top:5%" modal="true" id="dialogUpdateBox" visible="#{kurumController.detailEditType != null}">
				<h:form id="detailEditForm">

					<p:fieldset id="kurumHesapEditDialogPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kurumHesap.edit']}"
						rendered="#{kurumController.detailEditType == 'kurumhesap'}">

						<arf:dropdown label="#{label['kurumHesap.bankaadi']}" listSource="#{kurumController.selectItemListFor('Banka')}" requiredCond="true" compId="bankaRef"
							value="#{kurumController.kurumHesap.bankaRef}" converterId="#{'bankaConverter'}" id="bankaRefDropDown" />
						<arf:textinput label="#{label['kurumHesap.hesapno']}" value="#{kurumController.kurumHesap.hesapno}" compId="hesapno" requiredCond="true" id="hesapnoInputText"
							maxLength="30" />
						<arf:textinput label="#{label['kurumHesap.subekodu']}" value="#{kurumController.kurumHesap.subekodu}" compId="subekodu" requiredCond="true" id="subekoduInputText"
							maxLength="30" />
						<arf:textinput label="#{label['kurumHesap.ibannumarasi']}" value="#{kurumController.kurumHesap.ibannumarasi}" compId="ibannumarasi" requiredCond="false"
							id="ibannumarasiInputText" maxLength="30" />
						<arf:dropdown label="#{label['kurumHesap.gecerli']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="gecerli"
							value="#{kurumController.kurumHesap.gecerli}" id="gecerliDropDown" />
					</p:fieldset>

					<p:fieldset id="kurumKisiEditDialogPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kurumKisi.edit']}"
						rendered="#{kurumController.detailEditType == 'kurumkisi'}">

						<arf:suggestbox label="#{label['kurumKisi.kisiRef']}" methodName="#{kurumController.completeMethod}" requiredCond="false" compId="sorumluRef"
							value="#{kurumController.kurumKisi.kisiRef}" id="sorumluRefSuggestBox" converterId="#{'kisiConverter'}" modelName="#{'Kisi'}" var="sorumluRec" itemValue="#{sorumluRec}"
							itemLabel="#{sorumluRec}" />
						<arf:dropdown label="#{label['kurumKisi.gecerli']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="gecerli"
							value="#{kurumController.kurumKisi.gecerli}" id="kurumkisigecerliDropDown" />

					</p:fieldset>

					<p:fieldset id="isYeriTemsilcileriEditDialogPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['isYeriTemsilcileri.edit']}"
						rendered="#{kurumController.detailEditType == 'isyeritemsilcileri'}">
						<p:panel id="isYeriTemsilcileriMaster" styleClass="innerFieldSet">
							<h:graphicImage library="_image" name="toMasterPage.png" styleClass="masterLinkIcon" width="16" height="16" style="margin-right:10px; vertical-align:middle !important" />
							<h:outputText value="#{label['common.parent']} : #{kurumController.kurumDetay.UIString}" />
						</p:panel>

						<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde, otuzYuzde, kirkYuzde">
							<h:outputText value="#{label['isYeriTemsilcileri.uyeRef']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
							<h:panelGroup>
								<p:autoComplete value="#{kurumController.isYeriTemsilcileri.uyeRef}" completeMethod="#{kurumController.completeUyeFromKurumKisi}" maxResults="50" queryDelay="500"
									id="uyeRefAutoComplete" minQueryLength="3" required="false" forceSelection="true" var="uyeRec" itemValue="#{uyeRec}" itemLabel="#{uyeRec.UIString}">
									<f:converter converterId="uyeConverter" />
									<f:ajax event="itemSelect" process="@this" />
									<f:attribute name="modelNameForAutoComplete" value="#{'Uye'}" />
								</p:autoComplete>
								 <p:blockUI block="isYeriTemsilcileriEditDialogPanel" trigger="uyeRefAutoComplete">
									<h:outputText value="#{label['common.loading']}" />
									<br />
									<h:graphicImage library="_image" name="ajax-loader.gif" />
								</p:blockUI>
								
							</h:panelGroup>
							<p:message for="uyeRefAutoComplete" />
						</h:panelGrid>

						<arf:dropdown label="#{label['isYeriTemsilcileri.aktif']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="aktif"
							value="#{kurumController.isYeriTemsilcileri.aktif}" id="aktifDropDown" />

					</p:fieldset>

					<p:fieldset id="adresEditDialogPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['adres.edit']}" rendered="#{kurumController.detailEditType == 'adres'}">

						<arf:dropdown label="#{label['adres.adrestipi']}" listSource="#{enumeratedController.adresTipiItemsForKisi}" requiredCond="true" compId="adrestipi"
							value="#{kurumController.adres.adrestipi}" id="adrestipiDropDown" addNullOption="true" ajaxEventListener="#{kurumController.handleChange}"
							changeEventUpdateComp="#{':detailEditForm:acikadrespanel :detailEditForm:sehirpanel :detailEditForm:ilcepanel :detailEditForm:yabanciulkepanel 
								:detailEditForm:yabancisehirpanel :detailEditForm:yabanciadrespanel'}" />
						<arf:textoutput label="#{label['adres.adresturu']}" compId="adresturu" value="#{kurumController.adres.adresturu.label}" id="adresturuDropDown"  />
						<arf:dropdown label="#{label['adres.varsayilan']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="false" compId="varsayilan"
							value="#{kurumController.adres.varsayilan}" id="varsayilanDropDown" addNullOption="true" />

						<p:outputPanel id="acikadrespanel" rendered="true">
							<arf:textinputarea label="#{label['adres.acikAdres']}" value="#{kurumController.adres.acikAdres}" compId="acikAdres" requiredCond="true" id="acikAdresInputText"
								maxLength="255" rendered="#{kurumController.adres.adrestipi.code != 4}" />
						</p:outputPanel>
						<p:outputPanel id="sehirpanel" rendered="true">
							<arf:dropdown label="#{label['adres.sehirRef']}" listSource="#{sessionUser.sehirItemList}" requiredCond="true" compId="sehirRefAdres"
								value="#{kurumController.adres.sehirRef}" converterId="#{'sehirConverter'}" id="sehirRefDropDownAdres" ajaxEventListener="#{kurumController.handleChange}"
								changeEventUpdateComp="#{':detailEditForm:ilceRefDropDownAdres:ilceRefAdres'}" rendered="#{kurumController.adres.adrestipi.code != 4}" />
						</p:outputPanel>
						<p:outputPanel id="ilcepanel" rendered="true">
							<arf:dropdown label="#{label['adres.ilceRef']}" listSource="#{kurumController.ilceItemList}" requiredCond="true" compId="ilceRefAdres"
								value="#{kurumController.adres.ilceRef}" converterId="#{'ilceConverter'}" id="ilceRefDropDownAdres" rendered="#{kurumController.adres.adrestipi.code != 4}" />
						</p:outputPanel>

						<p:outputPanel id="yabanciulkepanel" rendered="true">
							<arf:textinput label="#{label['adres.yabanciulke']}" value="#{kurumController.adres.yabanciulke}" compId="yabanciulke" requiredCond="true" id="yabanciulkeInputText"
								maxLength="255" rendered="#{kurumController.adres.adrestipi.code == 4}" />
						</p:outputPanel>
						<p:outputPanel id="yabancisehirpanel" rendered="true">
							<arf:textinput label="#{label['adres.yabancisehir']}" value="#{kurumController.adres.yabancisehir}" compId="yabancisehir" requiredCond="true" id="yabancisehirInputText"
								maxLength="255" rendered="#{kurumController.adres.adrestipi.code == 4}" />
						</p:outputPanel>
						<p:outputPanel id="yabanciadrespanel" rendered="true">
							<arf:textinputarea label="#{label['adres.yabanciadres']}" value="#{kurumController.adres.yabanciadres}" compId="yabanciadres" requiredCond="true"
								id="yabanciadresInputText" maxLength="255" rendered="#{kurumController.adres.adrestipi.code == 4}" />
						</p:outputPanel>


					</p:fieldset>

					<p:fieldset id="telefonEditDialogPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['telefon.edit']}"
						rendered="#{kurumController.detailEditType == 'telefon'}">

						<arf:maskinput label="#{label['telefon.telefonno']}" value="#{kurumController.telefon.telefonno}" compId="telefonno" requiredCond="true" id="telefonnoInputText"
							maxLength="30" customValidatorId="#{'phoneValidator'}" mask="0 (999) 999 9999" />
						<arf:dropdown label="#{label['telefon.telefonturu']}" listSource="#{enumeratedController.telefonTuruKurumItems}" requiredCond="false" compId="telefonturu"
							value="#{kurumController.telefon.telefonturu}" id="telefonturuDropDown" />
						<arf:dropdown label="#{label['telefon.varsayilan']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="false" compId="telVarsayilan"
							value="#{kurumController.telefon.varsayilan}" id="telVarsayilanDropDown" />
					</p:fieldset>

					<p:fieldset id="internetdetailEditDialogPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['internetadres.edit']}"
						rendered="#{kurumController.detailEditType == 'internetadres'}">

						<arf:textinput label="#{label['internetadres.netadresmetni']}" value="#{kurumController.internetadres.netadresmetni}" compId="netadresmetni" requiredCond="true"
							id="netadresmetniInputText" maxLength="500" />
						<arf:dropdown label="#{label['internetadres.netadresturu']}" listSource="#{enumeratedController.netAdresTuruItems}" requiredCond="false" compId="netadresturu"
							value="#{kurumController.internetadres.netadresturu}" id="netadresturuDropDown" />
						<arf:dropdown label="#{label['internetadres.varsayilan']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="false" compId="internetadresVarsayilan"
							value="#{kurumController.internetadres.varsayilan}" id="internetadresVarsayilanDropDown" />
					</p:fieldset>

					<p align="center" style="margin-top: 20px">
						<p:commandButton id="saveDetailsButton" icon="save" value="#{label['command.post']}" styleClass="commandButton" action="#{kurumController.saveDetails}"
							update="@form :globalMessages" process="@form" ajax="true" rendered="#{kurumController.detailEditType != null}" />
						<p:commandButton id="cancelDetailsButton" icon="iptal" value="#{label['command.cancel']}" styleClass="commandButton" onclick="detailEditDialog.hide()" process="@this" />
						<br />
					</p>
				</h:form>
			</p:dialog>
		</h:body>
	</ui:define>
</ui:composition>
