<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="kurulGorevEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kurulGorev.edit']}" rendered="#{kurulGorevController.editPanelRendered}">
		<h:panelGrid columns="1" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:textinput label="#{label['kurulGorev.tanim']}" value="#{kurulGorevController.kurulGorev.tanim}" compId="tanim" requiredCond="true" id="tanimInputText" maxLength="20" />
			<arf:dropdown label="#{label['kurulGorev.gorevTuru']}" listSource="#{enumeratedController.gorevTuruItems}" requiredCond="true" compId="gorevturu"
				value="#{kurulGorevController.kurulGorev.gorevTuru}" id="gorevturuDropDown" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{kurulGorevController}" formName="kurulGorevForm" listPanelName="kurulGorevListPanel"
			editPanelName="kurulGorevEditPanel" modelName="KurulGorev" />
	</p:fieldset>

</ui:composition>
