<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="kurulDonemEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kurulDonem.edit']}" rendered="#{kurulDonemController.editPanelRendered}">
		<h:panelGrid columns="1" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['kurulDonem.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="true" compId="birimRef"
				value="#{kurulDonemController.kurulDonem.birimRef}" converterId="#{'birimConverter'}" id="birimRefDropDown"
				ajaxEventListener="#{kurulDonemController.handleChangeForBirim}" changeEventUpdateComp="#{':kurulDonemForm:donemRefDropDown:donemRef'}" />
			<arf:dropdown label="#{label['kurulDonem.donemRef']}" listSource="#{kurulDonemController.selectItemListFor('Donem')}" requiredCond="true" compId="donemRef"
				value="#{kurulDonemController.kurulDonem.donemRef}" converterId="#{'donemConverter'}" id="donemRefDropDown" />

			<arf:dropdown label="#{label['kurulDonem.kurulRef']}" listSource="#{kurulDonemController.selectItemListFor('Kurul')}" requiredCond="true" compId="kurulRef"
				value="#{kurulDonemController.kurulDonem.kurulRef}" converterId="#{'kurulConverter'}" id="kurulRefDropDown"
				ajaxEventListener="#{kurulDonemController.handleChangeForKurulDonem}" changeEventUpdateComp="#{':kurulDonemForm:kurulDonemUyePicklist:kurulDonemUye'}" />


			<arf:textinput label="#{label['kurulDonem.aciklama']}" value="#{kurulDonemController.kurulDonem.aciklama}" compId="aciklama" requiredCond="false" id="aciklamaInputText"
				maxLength="255" />

			<arf:picklist value="#{kurulDonemController.dualList}" label="#{label['kurulDonem.kurulDonemUyeleri']}" var="kurulDonemUye" itemLabel="#{kurulDonemUye.UIString}"
				itemValue="#{kurulDonemUye}" converterId="kurulDonemUyeConverter" requiredCond="false" style="margin-left:50px" sourceCaption="Geçmiş Dönem Kurul Üyeleri"
				targetCaption="Seçilenler" compId="kurulDonemUye" id="kurulDonemUyePicklist" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{kurulDonemController}" formName="kurulDonemForm" listPanelName="kurulDonemListPanel"
			editPanelName="kurulDonemEditPanel" modelName="kurulDonem" />
	</p:fieldset>

</ui:composition>
