<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="kurulDonemUyeDurumForm" prependId="false">

				<arf:masterPanel controllerClassName="#{kurulDonemUyeDurumController}" masterLabel="" modelName="kurulDonemUyeDurum" />

				<p:fieldset legend="#{label['kurulDonemUyeDurum.list']}" styleClass="pageFieldSet" id="kurulDonemUyeDurumListPanel">

					<p:blockUI block="kurulDonemUyeDurumTable" trigger="kurulDonemUyeDurumTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kurulDonemUyeDurumTable" value="#{kurulDonemUyeDurumController.list}" var="kurulDonemUyeDurumRow"
						binding="#{kurulDonemUyeDurumController.table}" rowIndexVar="rowIndex" selectionMode="single" selection="#{kurulDonemUyeDurumController.entity}"
						filteredValue="#{kurulDonemUyeDurumController.filteredList}" widgetVar="filterTable" rowKey="#{kurulDonemUyeDurumRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{kurulDonemUyeDurumController.tableRowSelect}" update=":kurulDonemUyeDurumForm" />
						<p:ajax event="rowUnselect" listener="#{kurulDonemUyeDurumController.tableRowCancelSelection}" update=":kurulDonemUyeDurumForm" />

						<arftags:column val="#{kurulDonemUyeDurumRow.uyeRef.UIString}" header="#{label['kurulDonemUyeDurum.uyeRef']}" width="15" />
						<arftags:column val="#{kurulDonemUyeDurumRow.gorevTuru.label}" header="#{label['kurulDonemUyeDurum.gorevTuru']}" width="15" />
						<arftags:column val="#{kurulDonemUyeDurumRow.uyeTuru.label}" header="#{label['kurulDonemUyeDurum.uyeTuru']}" width="15" />
						<arftags:column val="#{kurulDonemUyeDurumRow.aktif.label}" header="#{label['kurulDonemUyeDurum.aktif']}" width="15" />
						<arftags:column val="#{kurulDonemUyeDurumRow.kurulUyelikDurumu.label}" header="#{label['kurulDonemUyeDurum.kurulUyelikDurumu']}" width="15" />
						<arftags:dateColumn val="#{kurulDonemUyeDurumRow.durumtarihi}" header="#{label['kurulDonemUyeDurum.durumTarihi']}" width="15" />
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{kurulDonemUyeDurumController}" formName="kurulDonemUyeDurumForm" listPanelName="kurulDonemUyeDurumListPanel"
						pagingOption="true" tableName="kurulDonemUyeDurumTable" addExport="true" addOption="false" updateOption="false" deleteOption="false" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
