<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="kurumEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kurum.edit']}" rendered="#{kurumController.editPanelRendered}">
		<h:panelGrid columns="1" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:textinput label="#{label['kurum.ad']}" value="#{kurumController.kurum.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="100" />

			<arf:dropdown label="#{label['kurum.kurumTuruRef']}" listSource="#{kurumController.selectItemListFor('KurumTuru')}" requiredCond="true" compId="kurumTuruRef"
				value="#{kurumController.kurum.kurumTuruRef}" converterId="#{'kurumTuruConverter'}" id="kurumTuruRefDropDown" />

			<arf:textinput label="#{label['kurum.vergidairesi']}" value="#{kurumController.kurum.vergidairesi}" compId="vergidairesi" requiredCond="false" id="vergidairesiInputText"
				maxLength="30" />

			<arf:textinput label="#{label['kurum.vergino']}" value="#{kurumController.kurum.vergino}" compId="vergino" requiredCond="false" id="verginoInputText" maxLength="20" />

			<arf:suggestboxWithPreviousValue label="#{label['kurum.sorumluRef']}" methodName="#{kurumController.completeKisiFromKurumKisi}" requiredCond="false" compId="sorumluRef"
				value="#{kurumController.kurum.sorumluRef}" id="sorumluRefSuggestBox" converterId="#{'kisiConverter'}" modelName="#{'Kisi'}" var="sorumluRec" itemValue="#{sorumluRec}"
				itemLabel="#{sorumluRec}" deleteRendered="true" compIdForPreviousValue="sorumluPrevious" outputValue="#{kurumController.kurum.sorumluRefPrev}"
				action="#{kurumController.deletePreviousSorumlu}" />

			<arf:textinput label="#{label['kurum.aciklama']}" value="#{kurumController.kurum.aciklama}" compId="aciklama" requiredCond="false" id="aciklamaInputText" maxLength="200" />

			<arf:dropdown label="#{label['kurum.sehirRef']}" listSource="#{sessionUser.sehirItemList}" requiredCond="true" compId="sehirRef" value="#{kurumController.kurum.sehirRef}"
				converterId="#{'sehirConverter'}" id="sehirRefDropDown" />
			<arf:dropdown label="#{label['kurum.ilceRef']}" listSource="#{kurumController.selectItemListFor('Ilce')}" requiredCond="true" compId="ilceRef"
				value="#{kurumController.kurum.ilceRef}" converterId="#{'ilceConverter'}" id="ilceRefDropDown" />
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{kurumController}" formName="kurumForm" listPanelName="kurumListPanel" editPanelName="kurumEditPanel" modelName="Kurum" />
	</p:fieldset>

</ui:composition>
