<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<style>
			.ui-autocomplete-input {
				width: 300px important;
			}
			</style>
			<h:form id="hazirraporForm" prependId="false">
				<p:blockUI block="hazirraporForm" trigger="odauyelikbelgesiraporCommand, ihalebelgesiraporCommand, santiyesefligibelgesiraporCommand">
					LOADING<br />
					<p:graphicImage value="/images/ajax-loader.gif" />
				</p:blockUI>
				<p:fieldset legend="#{label['hazirrapor.list']}" styleClass="pageFieldSet" id="hazirraporListPanel" style="height:500px">
					<h:panelGrid columns="2" border="0" style="text-align:center" cellspacing="0" cellpadding="0" width="100%" columnClasses="yetmisYuzde, otuzYuzde">

						<h:panelGrid style="text-align:left" columns="1" width="100%">
							<arf:suggestbox label="#{label['uye.seciniz']}" methodName="#{reportController.completeMethod}" requiredCond="false" compId="uyeRef" value="#{reportController.uyeRef}"
								id="uyeRefSuggestBox" converterId="#{'uyeConverter'}" modelName="#{'Uye'}" var="uyeRec" itemValue="#{uyeRec}" itemLabel="#{uyeRec}" style="width:320px !important"
								updateCompWithoutEvent=":hazirraporForm:reportPanel" />
						</h:panelGrid>
						<p:outputPanel id="reportPanel">
							<h:outputText value="#{reportController.tarih}" />
							<h:panelGrid style="text-align:left" columns="1">
								<h:commandLink id="odauyelikbelgesiraporCommand" action="#{reportController.odauyelikbelgesirapor(1)}" styleClass="arfCommandButton" target="_blank">
									<p:commandButton icon="child" value="#{label['command.odauyebilgiformu']}" styleClass="arfCommandButton" style="width:220px" />
								</h:commandLink>
								<h:commandLink id="ihalebelgesiraporCommand" action="#{reportController.ihalebelgesirapor}" styleClass="arfCommandButton" target="_blank">
									<p:commandButton icon="child" value="#{label['command.raporihalebelgesi']}" styleClass="arfCommandButton" style="width:220px" />
								</h:commandLink>
								<h:commandLink id="santiyesefligibelgesiraporCommand" action="#{reportController.santiyesefligibelgesirapor}" styleClass="arfCommandButton" target="_blank">
									<p:commandButton icon="child" value="#{label['command.santiyesefligibelgesi']}" styleClass="arfCommandButton" style="width:220px" />
								</h:commandLink>
								<h:commandLink id="odauyelikbelgesiadaletkomisyonuCommand" action="#{reportController.odauyelikbelgesiadaletkomisyonurapor}" styleClass="arfCommandButton"
									target="_blank">
									<p:commandButton icon="child" value="#{label['command.odauyelikbelgesiadaletkomisyonu']}" styleClass="arfCommandButton" style="width:220px" />
								</h:commandLink>
								<h:commandLink id="uyebilgiformuCommand" action="#{reportController.uyebilgiformurapor}" styleClass="arfCommandButton" target="_blank">
									<p:commandButton icon="child" value="#{label['command.uyebilgiformu']}" styleClass="arfCommandButton" style="width:220px" />
								</h:commandLink>

								<h:commandLink id="createPdfPreviewCommand" action="#{reportController.createPdfPreview}" styleClass="arfCommandButton" target="_blank">
									<p:commandButton icon="child" value="Makbuz Taslak" styleClass="arfCommandButton" style="width:220px" />
								</h:commandLink>
							</h:panelGrid>
						</p:outputPanel>
					</h:panelGrid>
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
