<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="epostaanlikgonderimlogEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['epostaanlikgonderimlog.edit']}"
		rendered="#{epostaanlikgonderimlogController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['epostaanlikgonderimlog.icerikOrEditor']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="icerikOrEditor"
				value="#{epostaanlikgonderimlogController.icerikOrEditor}" id="icerikOrEditorDropDown" addNullOption="true"
				ajaxEventListener="#{epostaanlikgonderimlogController.handleIcerikOrEditor}" changeEventUpdateComp=":epostaanlikgonderimlogForm" />
			<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde, otuzYuzde, kirkYuzde">
				<h:outputText value="#{label['epostaanlikgonderimlog.birimRef']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
				<h:panelGroup>
					<p:autoComplete value="#{epostaanlikgonderimlogController.epostaanlikgonderimlog.birimRef}" completeMethod="#{epostaanlikgonderimlogController.completeMethod}"
						maxResults="50" queryDelay="500" id="birimRefAutoComplete" minQueryLength="3" required="false" forceSelection="true" var="birimRec" itemValue="#{birimRec}"
						itemLabel="#{birimRec.UIString}">
						<f:converter converterId="birimConverter" />
						<f:ajax event="itemSelect" process="@this" />
						<f:attribute name="modelNameForAutoComplete" value="#{'Birim'}" />
					</p:autoComplete>
				</h:panelGroup>
				<p:message for="birimRefAutoComplete" />
			</h:panelGrid>
			<p:outputPanel id="icerikSec" rendered="#{epostaanlikgonderimlogController.icerikOrEditor.code == sessionController.evetCode}">
				<arf:dropdown label="#{label['gonderim.icerikRef']}" listSource="#{epostaanlikgonderimlogController.selectItemListFor('Icerik')}" requiredCond="true" compId="icerikRef"
					value="#{epostaanlikgonderimlogController.epostaanlikgonderimlog.icerikRef}" converterId="#{'icerikConverter'}" id="icerikRefDropDownx" />

			</p:outputPanel>
		</h:panelGrid>
		<p:separator id="customSeparator" style="width:100%;height:20px;margin-left:30 px ! important;"
			rendered="#{epostaanlikgonderimlogController.icerikOrEditor.code == sessionController.hayirCode}" />
		<p:outputPanel id="editorSec" rendered="#{epostaanlikgonderimlogController.icerikOrEditor.code == sessionController.hayirCode}">
			<arf:editorLimited id="editor" compId="icerikEditor" value="#{epostaanlikgonderimlogController.epostaanlikgonderimlog.aciklama}" width="100%" height="250" label="#{label['gonderim.icerikRef']}"
					requiredCond="true" columnCount="2" columnClasses="onBesYuzde, seksenBesYuzde" />
		</p:outputPanel>
		<arf:editPanelBottomWithBlockUI controllerClassName="#{epostaanlikgonderimlogController}" formName="epostaanlikgonderimlogForm"
			listPanelName="epostaanlikgonderimlogListPanel" editPanelName="epostaanlikgonderimlogEditPanel" modelName="Epostaanlikgonderimlog" />
	</p:fieldset>

</ui:composition>