<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="epostaanlikgonderimlogEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['epostaanlikgonderimlog.edit']}"
		rendered="#{epostaanlikgonderimlogController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

			<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde, otuzYuzde, kirkYuzde">
				<h:outputText value="#{label['epostaanlikgonderimlog.kisiRef']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
				<h:panelGroup>
					<p:autoComplete value="#{epostaanlikgonderimlogController.epostaanlikgonderimlog.kisiRef}" completeMethod="#{epostaanlikgonderimlogController.completeMethod}"
						maxResults="50" queryDelay="500" id="kisiRefAutoComplete" minQueryLength="3" required="false" forceSelection="true" var="kisiRec" itemValue="#{kisiRec}"
						itemLabel="#{kisiRec.UIString}">
						<f:converter converterId="kisiConverter" />
						<f:ajax event="itemSelect" process="@this" />
						<f:attribute name="modelNameForAutoComplete" value="#{'Kisi'}" />
					</p:autoComplete>
				</h:panelGroup>
				<p:message for="kisiRefAutoComplete" />
			</h:panelGrid>
			<arf:dropdown label="#{label['epostaanlikgonderimlog.icerikRef']}" listSource="#{epostaanlikgonderimlogController.selectItemListFor('Icerik')}" requiredCond="true"
				compId="icerikRef" value="#{epostaanlikgonderimlogController.epostaanlikgonderimlog.icerikRef}" converterId="#{'icerikConverter'}" id="icerikRefDropDown" />

			<arf:calendar label="#{label['epostaanlikgonderimlog.tarih']}" value="#{epostaanlikgonderimlogController.epostaanlikgonderimlog.tarih}" id="tarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="tarih" />

			<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde, otuzYuzde, kirkYuzde">
				<h:outputText value="#{label['epostaanlikgonderimlog.gonderenRef']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
				<h:panelGroup>
					<p:autoComplete value="#{epostaanlikgonderimlogController.epostaanlikgonderimlog.gonderenRef}" completeMethod="#{epostaanlikgonderimlogController.completeMethod}"
						maxResults="50" queryDelay="500" id="kisiRefAutoComplete1" minQueryLength="3" required="false" forceSelection="true" var="kisiRec" itemValue="#{kisiRec}"
						itemLabel="#{kisiRec.UIString}">
						<f:converter converterId="kisiConverter" />
						<f:ajax event="itemSelect" process="@this" />
						<f:attribute name="modelNameForAutoComplete" value="#{'Kisi'}" />
					</p:autoComplete>
				</h:panelGroup>
				<p:message for="kisiRefAutoComplete1" />
			</h:panelGrid>

			<arf:dropdown label="#{label['epostaanlikgonderimlog.durum']}" listSource="#{enumeratedController.gonderimDurumItems}" requiredCond="true" compId="durum"
				value="#{epostaanlikgonderimlogController.epostaanlikgonderimlog.durum}" id="durumDropDown" addNullOption="true" />

			<arf:textinputarea label="#{label['epostaanlikgonderimlog.aciklama']}" value="#{epostaanlikgonderimlogController.epostaanlikgonderimlog.aciklama}" compId="aciklama"
				requiredCond="false" id="aciklamaInputText" maxLength="2500" />

		</h:panelGrid>

	</p:fieldset>

</ui:composition>