<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="epostaanlikgonderimlogForm" prependId="false">
				<arf:masterPanel controllerClassName="#{epostaanlikgonderimlogController}" masterLabel="#{label['iletisimliste.list']}" modelName="epostaanlikgonderimlog" />
				<ui:include src="/_page/form/iletisim/epostaanlikgonderim_Edit.xhtml" />

				<p:fieldset legend="#{label['epostaanlikgonderimlog.list']}" styleClass="pageFieldSet" id="epostaanlikgonderimlogListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="epostaanlikgonderimlogTable" trigger="epostaanlikgonderimlogTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="epostaanlikgonderimlogTable" value="#{epostaanlikgonderimlogController.list}" var="epostaanlikgonderimlogRow"
						binding="#{epostaanlikgonderimlogController.table}" rowIndexVar="rowIndex" selectionMode="single" selection="#{epostaanlikgonderimlogController.entity}"
						filteredValue="#{epostaanlikgonderimlogController.filteredList}" widgetVar="filterTable" rowKey="#{epostaanlikgonderimlogRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{epostaanlikgonderimlogController.tableRowSelect}" update=":epostaanlikgonderimlogForm" />
						<p:ajax event="rowUnselect" listener="#{epostaanlikgonderimlogController.tableRowCancelSelection}" update=":epostaanlikgonderimlogForm" />

						<arftags:column val="#{epostaanlikgonderimlogRow.kisiRef.UIString}" header="#{label['epostaanlikgonderimlog.kisiRef']}" width="16" />
						<arftags:columnHtml val="#{epostaanlikgonderimlogRow.icerikRef.UIString}" header="#{label['epostaanlikgonderimlog.icerikRef']}" width="16" />
						<arftags:dateColumn val="#{epostaanlikgonderimlogRow.tarih}" header="#{label['epostaanlikgonderimlog.tarih']}" width="16" />
						<arftags:column val="#{epostaanlikgonderimlogRow.birimRef.UIString}" header="#{label['epostaanlikgonderimlog.birimRef']}" width="16" />
						<arftags:column val="#{epostaanlikgonderimlogRow.durum.label}" header="#{label['epostaanlikgonderimlog.durum']}" width="16" />
						<arftags:columnHtml val="#{epostaanlikgonderimlogRow.aciklama}" header="#{label['epostaanlikgonderimlog.aciklama']}" width="16" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{epostaanlikgonderimlogController}" formName="epostaanlikgonderimlogForm" listPanelName="epostaanlikgonderimlogListPanel"
						pagingOption="true" tableName="epostaanlikgonderimlogTable" addExport="true" addOption="true" updateOption="false" deleteOption="false" addSubRecordOption="false"
						exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
