<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="epostaanlikgonderimlogForm" prependId="false">
				<ui:include src="/_page/form/iletisim/epostaanlikgonderimlog_Edit.xhtml" />

				<p:fieldset id="epostaanlikgonderimlogFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{epostaanlikgonderimlogController.collapsed}"
					legend="#{label['epostaanlikgonderimlog.query']}" rendered="#{!epostaanlikgonderimlogController.editPanelRendered}">
					<p:ajax listener="#{epostaanlikgonderimlogController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

						<arf:dualtextinputForFilter label="#{label['aliciRef.adSoyad']}" requiredCond="false" compId="kisiad" style="width:80px"
							value="#{epostaanlikgonderimlogController.epostaanlikgonderimlogFilter.ad}" maxLength="10" id="kisiAdSoyadForFilterDualTextInput" requiredCond2="false" compId2="kisisoyad" style2="width:80px"
							value2="#{epostaanlikgonderimlogController.epostaanlikgonderimlogFilter.soyad}" maxLength2="10" />

						<arf:dropdownForFilter label="#{label['epostaanlikgonderimlog.icerikRef']}" listSource="#{epostaanlikgonderimlogController.selectItemListFor('Icerik')}" requiredCond="false" compId="icerikRef"
							value="#{epostaanlikgonderimlogController.epostaanlikgonderimlogFilter.icerikRef}" converterId="#{'icerikConverter'}" id="icerikRefForFilterDropDown" />

						<arf:calendarForFilter label="#{label['epostaanlikgonderimlog.tarih']}" value="#{epostaanlikgonderimlogController.epostaanlikgonderimlogFilter.tarih}" id="tarihForFilterCalendar"
							pattern="#{configurationController.datePattern}" requiredCond="false" compId="tarih" />

						<arf:dropdownForFilter label="#{label['epostaanlikgonderimlog.durum']}" listSource="#{enumeratedController.gonderimDurumItems}" requiredCond="false" compId="durum"
							value="#{epostaanlikgonderimlogController.epostaanlikgonderimlogFilter.durum}" id="durumForFilterDropDown" addNullOption="true" />

						<arf:dropdown label="#{label['epostagonderimlog.gonderenRef']}" listSource="#{epostagonderimlogController.selectItemListFor('Kisi')}" requiredCond="false" compId="gonderenRef"
							value="#{epostagonderimlogController.epostagonderimlogFilter.gonderenRef}" id="gonderenRefForFilterDropDown" />
							
						<arf:dualtextinputForFilter label="#{label['gonderenRef.adSoyad']}" requiredCond="false" compId="gonderenkisiad" style="width:80px"
							value="#{epostaanlikgonderimlogController.epostaanlikgonderimlogFilter.ad}" maxLength="10" id="gonderenkisiAdSoyadForFilterDualTextInput" requiredCond2="false" compId2="kisisoyad" style2="width:80px"
							value2="#{epostaanlikgonderimlogController.epostaanlikgonderimlogFilter.soyad}" maxLength2="10" />	
					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{epostaanlikgonderimlogController}" formName="epostaanlikgonderimlogForm" listPanelName="epostaanlikgonderimlogListPanel"
						filterPanelName="epostaanlikgonderimlogFilterPanel" modelName="Epostaanlikgonderimlog" />
				</p:fieldset>

				<p:fieldset legend="#{label['epostaanlikgonderimlog.list']}" styleClass="pageFieldSet" id="epostaanlikgonderimlogListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="epostaanlikgonderimlogTable" trigger="epostaanlikgonderimlogTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="epostaanlikgonderimlogTable" value="#{epostaanlikgonderimlogController.list}"
						var="epostaanlikgonderimlogRow" binding="#{epostaanlikgonderimlogController.table}" rowIndexVar="rowIndex" selectionMode="single" selection="#{epostaanlikgonderimlogController.entity}"
						filteredValue="#{epostaanlikgonderimlogController.filteredList}" widgetVar="filterTable" rowKey="#{epostaanlikgonderimlogRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{epostaanlikgonderimlogController.tableRowSelect}" update=":epostaanlikgonderimlogForm" />
						<p:ajax event="rowUnselect" listener="#{epostaanlikgonderimlogController.tableRowCancelSelection}" update=":epostaanlikgonderimlogForm" />

						<arftags:multiRowColumn val="#{epostaanlikgonderimlogRow.kisiRef.UIString}" header="#{label['epostaanlikgonderimlog.kisiRef']}" width="23"
						 	showVal2="true" header2="#{label['epostaanlikgonderimlog.eposta']}" val2="#{epostaanlikgonderimlogRow.kisiRef.kisiInternetadres.netadresmetni}" />
						<arftags:column val="#{epostaanlikgonderimlogRow.icerikRef.UIString}" header="#{label['epostaanlikgonderimlog.icerikRef']}" width="35" />
						<arftags:dateColumn val="#{epostaanlikgonderimlogRow.tarih}" header="#{label['epostaanlikgonderimlog.tarih']}" width="8" />
						<arftags:multiRowColumn val="#{epostaanlikgonderimlogRow.gonderenRef.UIString}" header="#{label['epostagonderimlog.gonderenRef']}" width="22" 
							showVal2="true" header2="#{label['epostaanlikgonderimlog.birimRef']}" val2="#{epostaanlikgonderimlogRow.birimRef.UIString}" /> 
						<arftags:column val="#{epostaanlikgonderimlogRow.durum.label}" header="#{label['epostaanlikgonderimlog.durum']}" width="8" />
						<p:column style="text-align:center;">
							<f:facet name="header">
								<h:outputText value="#{label['common.icerik']}" />
							</f:facet>
							<h:commandLink action="#{epostaanlikgonderimlogController.setSelectedRID(epostaanlikgonderimlogRow.RID)}" process="@this" update="@this :previewDialogBox" ajax="true">
								<h:graphicImage library="_image" name="search.png" />
							</h:commandLink>
						</p:column>

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{epostaanlikgonderimlogController}" formName="epostaanlikgonderimlogForm" listPanelName="epostaanlikgonderimlogListPanel" pagingOption="true"
						tableName="epostaanlikgonderimlogTable" addExport="true" addOption="false" updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>

				<p:dialog header="#{label['common.previewImage']}" widgetVar="previewDialog" width="500" height="500" style="position:absolute; left:5%; top:5%" modal="false" id="previewDialogBox"
					visible="#{epostaanlikgonderimlogController.onizlemeDialog}">

					<div style="width: 98%; position: relative; top: 0px; height: 100%; left: 1%">
						<div style="position: relative; top: 5px; width: 100%; text-align: center">
							<h4 style="margin-top: 10px">
								Önizleme<br />
							</h4>
						</div>
						<div style="position: relative; top: 10px; width: 100%; text-align: left">
							<b><h:outputText value="#{label['epostaanlikgonderimlog.birimRef']}" /> : </b>
							<h:outputText value="#{epostaanlikgonderimlogController.epostaanlikgonderimlog.birimRef.UIString}" />
							<br /> <b><h:outputText value="#{label['epostaanlikgonderimlog.kisiRef']}" /> : </b>
							<h:outputText value="#{epostaanlikgonderimlogController.epostaanlikgonderimlog.kisiRef.UIStringShort}" />
							<br />
						</div>

						<div style="position: relative; top: 20px; width: 100%; text-align: left">


							<br /> <b><h:outputText value="#{label['common.icerik']}" /> : </b>
							<h:outputText value="#{epostaanlikgonderimlogController.epostaanlikgonderimlog.aciklama}" />
							<br />
						</div>
						<p align="center">
							<p:spacer height="100" />
							<p:commandButton id="previewDialogcancelDetailsButton3" icon="iptal" value="#{label['command.cancel']}" action="#{epostaanlikgonderimlogController.onizlemedialogkapat}"
								styleClass="commandButton" onclick="previewDialog.hide()" process="@this" />
							<br />
							<p:spacer height="50" />
						</p>
					</div>
				</p:dialog>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
