<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="gonderimForm" prependId="false">
				<p:outputPanel id="masterPanelSec" rendered="#{gonderimController.masterEntity != null}">
					<arf:masterPanel controllerClassName="#{gonderimController}" masterLabel="#{label['iletisimliste.list']}" modelName="gonderim" />
				</p:outputPanel>
				<ui:include src="/_page/form/iletisim/gonderim_Edit.xhtml" />

				<p:fieldset id="gonderimFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{gonderimController.collapsed}" legend="#{label['gonderim.query']}"
					rendered="#{!gonderimController.editPanelRendered}">
					<p:ajax listener="#{gonderimController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:dropdownForFilter label="#{label['gonderim.iletisimlisteRef']}" listSource="#{gonderimController.selectItemListFor('Iletisimliste')}" requiredCond="false"
							compId="iletisimlisteRef" value="#{gonderimController.gonderimFilter.iletisimlisteRef}" converterId="#{'iletisimlisteConverter'}" id="iletisimlisteRefForFilterDropDown" />

						<arf:dropdownForFilter label="#{label['gonderim.icerikRef']}" listSource="#{gonderimController.selectItemListFor('Icerik')}" requiredCond="false" compId="icerikRef"
							value="#{gonderimController.gonderimFilter.icerikRef}" converterId="#{'icerikConverter'}" id="icerikRefForFilterDropDown" />

						<arf:dropdownForFilter label="#{label['gonderim.gonderimturu']}" listSource="#{enumeratedController.gonderimTuruItems}" requiredCond="false" compId="gonderimturu"
							value="#{gonderimController.gonderimFilter.gonderimturu}" id="gonderimturuForFilterDropDown" addNullOption="true" />

						<arf:calendarForFilter label="#{label['gonderim.gonderimzamani']}" value="#{gonderimController.gonderimFilter.gonderimzamani}" id="gonderimzamaniForFilterCalendar"
							pattern="#{configurationController.datePattern}" requiredCond="false" compId="gonderimzamani" />

						<arf:dropdownForFilter label="#{label['gonderim.zamanlamali']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="false" compId="zamanlamali"
							value="#{gonderimController.gonderimFilter.zamanlamali}" id="zamanlamaliForFilterDropDown" addNullOption="true" />

						<arf:dropdownForFilter label="#{label['gonderim.durum']}" listSource="#{enumeratedController.gonderimDurumItems}" requiredCond="false" compId="durum"
							value="#{gonderimController.gonderimFilter.durum}" id="durumForFilterDropDown" addNullOption="true" />

					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{gonderimController}" formName="gonderimForm" listPanelName="gonderimListPanel" filterPanelName="gonderimFilterPanel"
						modelName="Gonderim" />
				</p:fieldset>

				<p:fieldset legend="#{label['gonderim.list']}" styleClass="pageFieldSet" id="gonderimListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
						<p:commandButton id="epostagonderimlogCommand" process="@this" icon="adres" action="#{gonderimController.epostagonderimlog}"
							rendered="#{gonderimController.listRenderedFor('Epostagonderimlog')}" disabled="#{gonderimController.gonderim.RID == null || gonderimController.EMailKontrol}"
							value="#{label['command.epostagonderimlog']}" styleClass="arfCommandButton" />
						<p:commandButton id="smsgonderimlogCommand" process="@this" icon="telefon" action="#{gonderimController.smsgonderimlog}"
							rendered="#{gonderimController.listRenderedFor('Smsgonderimlog')}" disabled="#{gonderimController.gonderim.RID == null || gonderimController.SMSKontrol}"
							value="#{label['command.smsgonderimlog']}" styleClass="arfCommandButton" />

						<p:commandButton id="iptalCommand" process="@this" icon="iptal" action="#{gonderimController.cancelPost}"
							rendered="#{gonderimController.listRenderedFor('Smsgonderimlog')}" disabled="#{gonderimController.gonderim.RID == null || gonderimController.durumKontrolZamanlamali}"
							value="#{label['gonderim.gonderimIptal']}" styleClass="arfCommandButton" style="width=50px;" />

					</h:panelGrid>
					<p:blockUI block="gonderimTable" trigger="gonderimTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="gonderimTable" value="#{gonderimController.list}" var="gonderimRow" binding="#{gonderimController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{gonderimController.entity}" filteredValue="#{gonderimController.filteredList}" widgetVar="filterTable" rowKey="#{gonderimRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{gonderimController.tableRowSelect}" update=":gonderimForm" />
						<p:ajax event="rowUnselect" listener="#{gonderimController.tableRowCancelSelection}" update=":gonderimForm" />

						<arftags:column val="#{gonderimRow.iletisimlisteRef.UIString}" header="#{label['gonderim.iletisimlisteRef']}" width="15" />
						<arftags:column val="#{gonderimRow.gonderimturu.label}" header="#{label['gonderim.gonderimturu']}" width="15" />
						<arftags:dateColumn val="#{gonderimRow.gonderimzamani}" header="#{label['gonderim.gonderimzamani']}" width="15" />
						<arftags:column val="#{gonderimRow.zamanlamali.label}" header="#{label['gonderim.zamanlamali']}" width="15" />
						<arftags:column val="#{gonderimRow.durum.label}" header="#{label['gonderim.durum']}" width="15" />
						<arftags:column val="#{gonderimRow.konu}" header="#{label['gonderim.konu']}" width="30" />
						<p:column style="text-align:center; width:60px">
							<f:facet name="header">
								<h:outputText value="#{label['common.icerik']}" />
							</f:facet>
							<h:commandLink action="#{gonderimController.setSelectedRID(gonderimRow.RID)}" process="@this" 
								update="@this :previewDialogBox" ajax="true">
								<h:graphicImage library="_image" name="search.png" />
							</h:commandLink>
						</p:column>
					</p:dataTable>
					<arf:pagingWithBlockUI controllerClassName="#{gonderimController}" formName="gonderimForm" listPanelName="gonderimListPanel" pagingOption="true"
						tableName="gonderimTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
				
			<p:dialog header="#{label['common.previewImage']}" widgetVar="previewDialog" width="500" height="500"
				style="position:absolute; left:5%; top:5%" modal="false" id="previewDialogBox" visible="#{gonderimController.onizlemeDialog}" >

				<div style="width: 98%; position: relative; top: 0px; height: 100%; left:1%"> 
					<div style="position: relative; top: 5px; width: 100%; text-align: center"> 
					<h4 style="margin-top:10px">
						Önizleme<br />
					</h4>  
				</div>
				<div style="position: relative; top: 10px; width: 100%; text-align: left">
					<b>Gönderen Birim : </b>
					<h:outputText value="#{gonderimController.gonderim.birimRef.UIString}" />
					<br />
					<b>Kime : </b>
					<h:outputText value="#{gonderimController.gonderim.iletisimlisteRef.ad}" />
					<br />
					<b>Gönderim Türü : </b>
					<h:outputText value="#{gonderimController.gonderim.gonderimturu.label}" />
					<br />
				</div>
				
				<div style="position: relative; top: 20px; width: 100%; text-align: left">
					
					<br /> <b>Konu : </b>
					<h:outputText value="#{gonderimController.gonderim.konu}" />
					<br /> <b>İçerik : </b>
					<h:outputText value="#{gonderimController.gonderim.aciklama} #{gonderimController.gonderim.icerikRef.icerik}" />
					<br/>
				</div>
					<p align="center"> 
						<p:spacer height="100" />
	 					<p:commandButton id="previewDialogcancelDetailsButton3" icon="iptal" value="#{label['command.cancel']}" action="#{gonderimController.onizlemedialogkapat}"
	 						styleClass="commandButton" onclick="previewDialog.hide()" process="@this" />
	 					<br/><p:spacer height="50" />	 		 
 					</p>
				</div>  				
			</p:dialog>
			
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
