<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="gonderimEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['gonderim.edit']}" rendered="#{gonderimController.editPanelRendered}">
		<h:panelGrid columns="1" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['gonderim.iletisimlisteRef']}" listSource="#{gonderimController.selectItemListFor('Iletisimliste')}" requiredCond="false"
				compId="iletisimlisteRef" value="#{gonderimController.gonderimFilter.iletisimlisteRef}" converterId="#{'iletisimlisteConverter'}" id="iletisimlisteRefDropDown" />


			<arf:dropdown label="#{label['epostaanlikgonderimlog.icerikOrEditor']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="icerikOrEditor"
				value="#{gonderimController.icerikOrEditor}" id="icerikOrEditorDropDown" addNullOption="true" ajaxEventListener="#{gonderimController.handleIcerikOrEditor}"
				changeEventUpdateComp=":gonderimForm" />

			<arf:dropdown label="#{label['gonderim.zamanlamali']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="zamanlamali"
				value="#{gonderimController.gonderim.zamanlamali}" id="zamanlamaliDropDown" addNullOption="true" ajaxEventListener="#{gonderimController.handleZamanlamaliChange}"
				changeEventUpdateComp="#{':gonderimForm'}" />

			<arf:dropdown label="#{label['gonderim.gonderimturu']}" listSource="#{enumeratedController.gonderimTuruItems}" requiredCond="true" compId="gonderimturu"
				value="#{gonderimController.gonderim.gonderimturu}" id="gonderimturuDropDown" addNullOption="true" ajaxEventListener="#{gonderimController.handleSms}"
				changeEventUpdateComp="#{':gonderimForm'}" />
			<arf:dropdown rendered="false" label="#{label['gonderim.gonderenRef']}" listSource="#{gonderimController.selectItemListFor('Kisi')}" requiredCond="true"
				compId="gonderenRef" value="#{gonderimController.gonderim.gonderenRef}" converterId="#{'kisiConverter'}" id="gonderenRefDropDown"
				ajaxEventListener="#{gonderimController.handleKisi}" changeEventUpdateComp="#{':gonderimForm'}" />
			<p:outputPanel id="zamanlamaliBilgi" rendered="#{gonderimController.gonderim.zamanlamali.code == sessionController.zamanlamaliCode}">
				<arf:calendar label="#{label['gonderim.gonderimzamani']}" value="#{gonderimController.gonderim.gonderimzamani}" id="gonderimzamaniCalendar"
					pattern="#{configurationController.dateTimePattern}" requiredCond="true" compId="gonderimZamani" />
			</p:outputPanel>
			<p:outputPanel id="icerikSec" rendered="#{gonderimController.icerikOrEditor.code == sessionController.evetCode}">
				<arf:dropdown label="#{label['gonderim.icerikRef']}" listSource="#{gonderimController.selectItemListFor('Icerik')}" requiredCond="true" compId="icerikRef"
					value="#{gonderimController.gonderim.icerikRef}" converterId="#{'icerikConverter'}" id="icerikRefDropDownx" />
			</p:outputPanel>
			<p:separator id="customSeparator" style="width:100%;height:20px;margin-left:30 px ! important;"
				rendered="#{gonderimController.icerikOrEditor.code == sessionController.hayirCode and (gonderimController.handleEposta || gonderimController.handleSms)}" />
			<p:outputPanel id="editorSec"  rendered="#{gonderimController.icerikOrEditor.code == sessionController.hayirCode and gonderimController.handleEposta}" >
				<arf:editorLimited id="icerikEditorComponent" compId="icerikEditor" value="#{gonderimController.gonderim.aciklama}" width="100%" height="250" label="#{label['gonderim.icerikRef']}"
					requiredCond="true" columnCount="2" columnClasses="onBesYuzde, seksenBesYuzde" />
			</p:outputPanel>
			<p:outputPanel id="smsSec" rendered="#{gonderimController.icerikOrEditor.code == sessionController.hayirCode and gonderimController.handleSms}">
				<arf:textinput label="#{label['gonderim.sms']}" compId="sms" requiredCond="false" id="SMSInputText" value="#{gonderimController.gonderim.aciklama}" width="930"
					height="200" maxlength="#{direkgonderimController.smsParameter}" />
			</p:outputPanel>
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{gonderimController}" formName="gonderimForm" listPanelName="gonderimListPanel" editPanelName="gonderimEditPanel"
			modelName="Gonderim" />
	</p:fieldset>

</ui:composition>