<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="icerikEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['icerik.edit']}" rendered="#{icerikController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

			<arf:textinputarea label="#{label['icerik.icerik']}" value="#{icerikController.icerik.icerik}" compId="icerik" requiredCond="true" id="icerikInputText" maxLength="1000" />

			<arf:dropdown label="#{label['icerik.gonderimturu']}" listSource="#{enumeratedController.gonderimTuruItems}" requiredCond="true" compId="gonderimturu"
				value="#{icerikController.icerik.gonderimturu}" id="gonderimturuDropDown" addNullOption="true" />
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{icerikController}" formName="icerikForm" listPanelName="icerikListPanel" editPanelName="icerikEditPanel"
			modelName="Icerik" />
	</p:fieldset>

</ui:composition>