<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="icerikForm" prependId="false">
				<ui:include src="/_page/form/iletisim/icerik_Edit.xhtml" />

				<p:fieldset id="icerikFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{icerikController.collapsed}" legend="#{label['icerik.query']}"
					rendered="#{!icerikController.editPanelRendered}">
					<p:ajax listener="#{icerikController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:textinputForFilter label="#{label['icerik.icerik']}" value="#{icerikController.icerikFilter.icerik}" compId="icerik" requiredCond="false"
							id="icerikForFilterInputText" maxLength="0" />

						<arf:dropdownForFilter label="#{label['icerik.gonderimturu']}" listSource="#{enumeratedController.gonderimTuruItems}" requiredCond="false" compId="gonderimturu"
							value="#{icerikController.icerikFilter.gonderimturu}" id="gonderimturuForFilterDropDown" addNullOption="true" />

					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{icerikController}" formName="icerikForm" listPanelName="icerikListPanel" filterPanelName="icerikFilterPanel"
						modelName="Icerik" />
				</p:fieldset>

				<p:fieldset legend="#{label['icerik.list']}" styleClass="pageFieldSet" id="icerikListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="icerikTable" trigger="icerikTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="icerikTable" value="#{icerikController.list}" var="icerikRow" binding="#{icerikController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{icerikController.entity}" filteredValue="#{icerikController.filteredList}" widgetVar="filterTable" rowKey="#{icerikRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{icerikController.tableRowSelect}" update=":icerikForm" />
						<p:ajax event="rowUnselect" listener="#{icerikController.tableRowCancelSelection}" update=":icerikForm" />

						<arftags:column val="#{icerikRow.icerik}" header="#{label['icerik.icerik']}" width="50" />
						<arftags:column val="#{icerikRow.gonderimturu.label}" header="#{label['icerik.gonderimturu']}" width="50" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{icerikController}" formName="icerikForm" listPanelName="icerikListPanel" pagingOption="true" tableName="icerikTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
