<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="iletisimlisteEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['iletisimliste.edit']}"
		rendered="#{iletisimlisteController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

			<arf:textinput label="#{label['iletisimliste.ad']}" value="#{iletisimlisteController.iletisimliste.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="100" />

			<arf:dropdown label="#{label['iletisimliste.ustRef']}" listSource="#{iletisimlisteController.selectItemListFor('Iletisimliste')}" requiredCond="false" compId="ustRef"
				value="#{iletisimlisteController.iletisimliste.ustRef}" converterId="#{'iletisimlisteConverter'}" id="ustRefDropDown" />

			<arf:dropdown label="#{label['iletisimliste.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="true" compId="birimRef"
				value="#{iletisimlisteController.iletisimliste.birimRef}" converterId="#{'birimConverter'}" id="birimRefDropDown" />

			<arf:dropdown label="#{label['iletisimliste.listegizlilikturu']}" listSource="#{enumeratedController.listeGizlilikTuruItems}" requiredCond="true"
				compId="listegizlilikturu" value="#{iletisimlisteController.iletisimliste.listegizlilikturu}" id="listegizlilikturuDropDown" addNullOption="true" />

			<arf:textinputarea label="#{label['iletisimliste.aciklama']}" value="#{iletisimlisteController.iletisimliste.aciklama}" compId="aciklama" requiredCond="false"
				id="aciklamaInputText" maxLength="2500" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{iletisimlisteController}" formName="iletisimlisteForm" listPanelName="iletisimlisteListPanel"
			editPanelName="iletisimlisteEditPanel" modelName="Iletisimliste" />
	</p:fieldset>

</ui:composition>