<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="iletisimlisteForm" prependId="false">

				<ui:include src="/_page/form/iletisim/iletisimliste_Edit.xhtml" />

				<arf:treePage controllerClassName="#{iletisimlisteController}" formName="iletisimlisteForm" panelName="iletisimlisteTreePanel" modelName="iletisimliste"
					listLabel="#{label['iletisimliste.list']}" treeLabel="#{label['iletisimliste.tree']}" />
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
