<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="iletisimlisteForm" prependId="false">
				<ui:include src="/_page/form/iletisim/iletisimliste_Edit.xhtml" />

				<p:fieldset id="iletisimlisteFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{iletisimlisteController.collapsed}"
					legend="#{label['iletisimliste.query']}" rendered="#{!iletisimlisteController.editPanelRendered}">
					<p:ajax listener="#{iletisimlisteController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:textinputForFilter label="#{label['iletisimliste.ad']}" value="#{iletisimlisteController.iletisimlisteFilter.ad}" compId="ad" requiredCond="false"
							id="adForFilterInputText" maxLength="100" />

						<arf:dropdownForFilter label="#{label['iletisimliste.ustRef']}" listSource="#{iletisimlisteController.selectItemListFor('Iletisimliste')}" requiredCond="false"
							compId="ustRef" value="#{iletisimlisteController.iletisimlisteFilter.ustRef}" converterId="#{'iletisimlisteConverter'}" id="ustRefForFilterDropDown"
							addNullOption="true" />

						<arf:dropdownForFilter label="#{label['iletisimliste.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="false"
							compId="birimRef" value="#{iletisimlisteController.iletisimlisteFilter.birimRef}" converterId="#{'birimConverter'}" id="birimRefForFilterDropDown" />

						<arf:dropdownForFilter label="#{label['iletisimliste.listegizlilikturu']}" listSource="#{enumeratedController.listeGizlilikTuruItems}" requiredCond="false"
							compId="listegizlilikturu" value="#{iletisimlisteController.iletisimlisteFilter.listegizlilikturu}" id="listegizlilikturuForFilterDropDown" addNullOption="true" />

					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{iletisimlisteController}" formName="iletisimlisteForm" listPanelName="iletisimlisteListPanel"
						filterPanelName="iletisimlisteFilterPanel" modelName="Iletisimliste" />
				</p:fieldset>

				<div id="divleft">
					<p:fieldset legend="#{label['iletisimliste.list']}" styleClass="pageFieldSet" id="iletisimlisteListPanel">
						<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
							<p:commandButton id="iletisimlistedetayCommand" process="@this" icon="child" action="#{iletisimlisteController.iletisimlistedetay}"
								rendered="#{iletisimlisteController.listRenderedFor('Iletisimlistedetay')}" disabled="#{iletisimlisteController.iletisimliste.RID == null}"
								value="#{label['command.iletisimlistedetay']}" styleClass="arfCommandButton" />

							<p:commandButton id="iletisimlisteTreeCommand" process="@this" action="#{iletisimlisteController.treePage}" icon="tree"
								rendered="#{iletisimlisteController.listRendered}" value="#{label['iletisimliste.tree']}" styleClass="arfCommandButton" />
								
							<p:commandButton id="iletisimlistedetayCommand1" process="@this" icon="uye" action="#{iletisimlisteController.listeuyeleri}"
								rendered="#{iletisimlisteController.listRenderedFor('Iletisimlistedetay')}" value="#{label['command.listeuye']}" styleClass="arfCommandButton" />
								
							<p:commandButton id="epostaGonderCommand" process="@this" icon="adres" action="#{iletisimlisteController.epostagonder}"
								rendered="#{iletisimlisteController.listRenderedFor('Iletisimlistedetay')}" disabled="#{iletisimlisteController.iletisimliste.RID == null}"
								value="#{label['command.epostagonder']}" styleClass="arfCommandButton" />
								
							<p:commandButton id="smsGonderCommand" process="@this" icon="adres" action="#{iletisimlisteController.smsgonder}"
								rendered="#{iletisimlisteController.listRenderedFor('Iletisimlistedetay')}" disabled="#{iletisimlisteController.iletisimliste.RID == null}"
								value="#{label['command.smsgonder']}" styleClass="arfCommandButton" />
								
						</h:panelGrid>
						<p:blockUI block="iletisimlisteTable" trigger="iletisimlisteTable">
							<h:outputText value="#{label['common.loading']}" />
							<br />
							<h:graphicImage library="_image" name="ajax-loader.gif" />
						</p:blockUI>
						<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="iletisimlisteTable" value="#{iletisimlisteController.list}" var="iletisimlisteRow" binding="#{iletisimlisteController.table}"
							rowIndexVar="rowIndex" selectionMode="single" selection="#{iletisimlisteController.entity}" filteredValue="#{iletisimlisteController.filteredList}"
							widgetVar="filterTable" rowKey="#{iletisimlisteRow.RID}" resizableColumns="false">

							<p:ajax event="rowSelect" listener="#{iletisimlisteController.tableRowSelect}" update=":iletisimlisteForm" />
							<p:ajax event="rowUnselect" listener="#{iletisimlisteController.tableRowCancelSelection}" update=":iletisimlisteForm" />

							<arftags:column val="#{iletisimlisteRow.ad}" header="#{label['iletisimliste.ad']}" width="16" />
							<arftags:column val="#{iletisimlisteRow.ustRef.UIString}" header="#{label['iletisimliste.ustRef']}" width="16" />
							<arftags:column val="#{iletisimlisteRow.birimRef.UIString}" header="#{label['iletisimliste.birimRef']}" width="16" />
							<arftags:column val="#{iletisimlisteRow.listegizlilikturu.label}" header="#{label['iletisimliste.listegizlilikturu']}" width="16" />
							<arftags:column val="#{iletisimlisteRow.aciklama}" header="#{label['iletisimliste.aciklama']}" width="16" />
							<arftags:column val="#{iletisimlisteRow.iletisimKisiSayisi}" header="#{label['iletisimliste.kisisayisi']}" width="10" />
						</p:dataTable>

						<arf:pagingWithBlockUI controllerClassName="#{iletisimlisteController}" formName="iletisimlisteForm" listPanelName="iletisimlisteListPanel" pagingOption="true"
							tableName="iletisimlisteTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
					</p:fieldset>

				</div>
				<div id="divright">
					<p:fieldset id="iletisimlisteSummaryPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['iletisimliste.summary']}"
						rendered="#{iletisimlisteController.iletisimliste.RID != null}">
						<h:panelGrid columns="2" columnClasses="otuzYuzde, yetmisYuzde" style="width:100%">
						</h:panelGrid>
						<p:panel header="#{label['iletisimlistedetay.list']}" style="width:100%" rendered="#{iletisimlisteController.iletisimliste.RID != null}">
							<ui:repeat value="#{iletisimlisteController.list}" var="iletisimlistedetay">
								<li><h:outputText value="#{iletisimlistedetay.UIString}" /></li>
							</ui:repeat>
						</p:panel>
					</p:fieldset>
				</div>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
