<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="smsanlikgonderimlogForm" prependId="false">
				<ui:include src="/_page/form/iletisim/smsanlikgonderimlog_Edit.xhtml" />

				<p:fieldset id="smsanlikgonderimlogFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{smsanlikgonderimlogController.collapsed}"
					legend="#{label['smsanlikgonderimlog.query']}" rendered="#{!smsanlikgonderimlogController.editPanelRendered}">
					<p:ajax listener="#{smsanlikgonderimlogController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

						<arf:dualtextinputForFilter label="#{label['kisi.ad']} - #{label['kisi.soyad']}" requiredCond="false" compId="kisiad" style="width:80px"
							value="#{smsanlikgonderimlogController.smsanlikgonderimlogFilter.ad}" maxLength="10" id="kisiAdSoyadForFilterDualTextInput" requiredCond2="false" compId2="kisisoyad"
							style2="width:80px" value2="#{smsanlikgonderimlogController.smsanlikgonderimlogFilter.soyad}" maxLength2="10" />

						<arf:dropdownForFilter label="#{label['smsanlikgonderimlog.icerikRef']}" listSource="#{smsanlikgonderimlogController.selectItemListFor('Icerik')}" requiredCond="false"
							compId="icerikRef" value="#{smsanlikgonderimlogController.smsanlikgonderimlogFilter.icerikRef}" converterId="#{'icerikConverter'}" id="icerikRefForFilterDropDown" />

						<arf:calendarForFilter label="#{label['smsanlikgonderimlog.tarih']}" value="#{smsanlikgonderimlogController.smsanlikgonderimlogFilter.tarih}" id="tarihForFilterCalendar"
							pattern="#{configurationController.datePattern}" requiredCond="false" compId="tarih" />

						<arf:dropdownForFilter label="#{label['smsanlikgonderimlog.birimRef']}" listSource="#{smsanlikgonderimlogController.selectItemListFor('Birim')}" requiredCond="false"
							compId="birimRef" value="#{smsanlikgonderimlogController.smsanlikgonderimlogFilter.birimRef}" converterId="#{'birimConverter'}" id="birimRefForFilterDropDown"
							rendered="false" />
						
						<arf:dualtextinputForFilter label="#{label['gonderenRef.adSoyad']}" requiredCond="false" compId="gonderenkisiad" style="width:80px"
							value="#{smsanlikgonderimlogController.smsanlikgonderimlogFilter.ad}" maxLength="10" id="gonderenkisiAdSoyadForFilterDualTextInput" requiredCond2="false" compId2="kisisoyad" style2="width:80px"
							value2="#{smsanlikgonderimlogController.smsanlikgonderimlogFilter.soyad}" maxLength2="10" />	
							
						<arf:dropdownForFilter label="#{label['smsanlikgonderimlog.durum']}" listSource="#{enumeratedController.gonderimDurumItems}" requiredCond="false" compId="durum"
							value="#{smsanlikgonderimlogController.smsanlikgonderimlogFilter.durum}" id="durumForFilterDropDown" addNullOption="true" />

					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{smsanlikgonderimlogController}" formName="smsanlikgonderimlogForm" listPanelName="smsanlikgonderimlogListPanel"
						filterPanelName="smsanlikgonderimlogFilterPanel" modelName="Smsanlikgonderimlog" />
				</p:fieldset>

				<p:fieldset legend="#{label['smsanlikgonderimlog.list']}" styleClass="pageFieldSet" id="smsanlikgonderimlogListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="smsanlikgonderimlogTable" trigger="smsanlikgonderimlogTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="smsanlikgonderimlogTable" value="#{smsanlikgonderimlogController.list}" var="smsanlikgonderimlogRow"
						binding="#{smsanlikgonderimlogController.table}" rowIndexVar="rowIndex" selectionMode="single" selection="#{smsanlikgonderimlogController.entity}"
						filteredValue="#{smsanlikgonderimlogController.filteredList}" widgetVar="filterTable" rowKey="#{smsanlikgonderimlogRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{smsanlikgonderimlogController.tableRowSelect}" update=":smsanlikgonderimlogForm" />
						<p:ajax event="rowUnselect" listener="#{smsanlikgonderimlogController.tableRowCancelSelection}" update=":smsanlikgonderimlogForm" />

						<arftags:column val="#{smsanlikgonderimlogRow.kisiRef.UIString}" header="#{label['smsanlikgonderimlog.kisiRef']}" width="16" />
						<arftags:column val="#{smsanlikgonderimlogRow.kisiRef.kisiTelefon.telefonno}" header="#{label['smsanlikgonderimlog.telefonnumarasi']}" width="16" />
						<arftags:column val="#{smsanlikgonderimlogRow.icerikRef.UIString}" header="#{label['smsanlikgonderimlog.icerikRef']}" width="16" />
						<arftags:dateColumn val="#{smsanlikgonderimlogRow.tarih}" header="#{label['smsanlikgonderimlog.tarih']}" width="16" />
						<arftags:column val="#{smsanlikgonderimlogRow.birimRef.UIString}" header="#{label['smsanlikgonderimlog.birimRef']}" width="16" />
						<arftags:column val="#{smsgonderimlogRow.gonderenRef.UIString}" header="#{label['smsgonderimlog.gonderenRef']}" width="10" />
						<arftags:column val="#{smsanlikgonderimlogRow.durum.label}" header="#{label['smsanlikgonderimlog.durum']}" width="16" />
						<p:column style="text-align:center; width:60px">
							<f:facet name="header">
								<h:outputText value="#{label['common.icerik']}" />
							</f:facet>
							<h:commandLink action="#{smsanlikgonderimlogController.setSelectedRID(smsanlikgonderimlogRow.RID)}" process="@this" 
								update="@this :previewDialogBox" ajax="true">
								<h:graphicImage library="_image" name="search.png" />
							</h:commandLink>
						</p:column>
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{smsanlikgonderimlogController}" formName="smsanlikgonderimlogForm" listPanelName="smsanlikgonderimlogListPanel"
						pagingOption="true" tableName="smsanlikgonderimlogTable" addExport="true" addOption="false" updateOption="true" deleteOption="true" addSubRecordOption="false"
						exportToWord="false" />
				</p:fieldset>
				
		<p:dialog header="#{label['common.previewImage']}" widgetVar="previewDialog" width="500" height="500"
			style="position:absolute; left:5%; top:5%" modal="false" id="previewDialogBox" visible="#{smsanlikgonderimlogController.onizlemeDialog}" >

			<div style="width: 98%; position: relative; top: 0px; height: 100%; left:1%"> 
					<div style="position: relative; top: 5px; width: 100%; text-align: center"> 
					<h4 style="margin-top:10px">
						Önizleme<br />
					</h4>  
				</div>
				<div style="position: relative; top: 10px; width: 100%; text-align: left">
					<b>Gönderen Birim: </b>
					<h:outputText value="#{smsanlikgonderimlogController.smsanlikgonderimlog.birimRef.UIString}" />
					<br />
					<b>Kime : </b>
					<h:outputText value="#{smsanlikgonderimlogController.smsanlikgonderimlog.kisiRef.UIStringShort}" />
					<br/>
					<b>Telefon  : </b>
					<h:outputText value="#{smsanlikgonderimlogController.smsanlikgonderimlog.kisiRef.kisiTelefon.telefonno}" />
					<br/>
					
				</div>
				
				<div style="position: relative; top: 20px; width: 100%; text-align: left">
					
					<br /> <b>İçerik : </b>
					<h:outputText value="#{smsanlikgonderimlogController.smsanlikgonderimlog.aciklama} #{smsanlikgonderimlogController.smsanlikgonderimlog.icerikRef.icerik}" />
					<br/>
				</div>
					<p align="center"> 
						<p:spacer height="100" />
	 					<p:commandButton id="previewDialogcancelDetailsButton3" icon="iptal" value="#{label['command.cancel']}" action="#{smsanlikgonderimlogController.onizlemedialogkapat}"
	 						styleClass="commandButton" onclick="previewDialog.hide()" process="@this" />
	 					<br/><p:spacer height="50" />	 		 
 					</p>
				</div>  				
			</p:dialog>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
