<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="smsanlikgonderimlogEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['smsanlikgonderimlog.edit']}"
		rendered="#{smsanlikgonderimlogController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['epostaanlikgonderimlog.icerikOrEditor']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="icerikOrEditor"
				value="#{smsanlikgonderimlogController.icerikOrEditor}" id="icerikOrEditorDropDown" addNullOption="true"
				ajaxEventListener="#{smsanlikgonderimlogController.handleIcerikOrEditor}" changeEventUpdateComp=":smsanlikgonderimlogForm" />

			<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde, otuzYuzde, kirkYuzde">
				<h:outputText value="#{label['smsanlikgonderimlog.birimRef']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
				<h:panelGroup>
					<p:autoComplete value="#{smsanlikgonderimlogController.smsanlikgonderimlog.birimRef}" completeMethod="#{smsanlikgonderimlogController.completeMethod}" maxResults="50"
						queryDelay="500" id="birimRefAutoComplete" minQueryLength="3" required="false" forceSelection="true" var="birimRec" itemValue="#{birimRec}" itemLabel="#{birimRec.UIString}">
						<f:converter converterId="birimConverter" />
						<f:ajax event="itemSelect" process="@this" />
						<f:attribute name="modelNameForAutoComplete" value="#{'Birim'}" />
					</p:autoComplete>
				</h:panelGroup>
				<p:message for="birimRefAutoComplete" />
			</h:panelGrid>
			<p:outputPanel id="icerikSec" rendered="#{smsanlikgonderimlogController.icerikOrEditor.code == sessionController.evetCode}">
				<arf:dropdown label="#{label['gonderim.icerikRef']}" listSource="#{smsanlikgonderimlogController.selectItemListFor('Icerik')}" requiredCond="true" compId="icerikRef"
					value="#{smsanlikgonderimlogController.smsanlikgonderimlog.icerikRef}" converterId="#{'icerikConverter'}" id="icerikRefDropDownx" />
			</p:outputPanel>
			<p:outputPanel id="editorSec" rendered="#{smsanlikgonderimlogController.icerikOrEditor.code == sessionController.hayirCode}">
				<arf:textinput label="#{label['gonderim.sms']}" compId="sms" requiredCond="false" id="SMSInputText" value="#{smsanlikgonderimlogController.smsanlikgonderimlog.aciklama}"
					width="930" height="200" maxlength="#{smsanlikgonderimlogController.smsParameter}" />
			</p:outputPanel>
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{smsanlikgonderimlogController}" formName="smsanlikgonderimlogForm" listPanelName="smsanlikgonderimlogListPanel"
			editPanelName="smsanlikgonderimlogEditPanel" modelName="Smsanlikgonderimlog" />
	</p:fieldset>

</ui:composition>