<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="smsanlikgonderimlogForm" prependId="false">
				<arf:masterPanel controllerClassName="#{smsanlikgonderimlogController}" masterLabel="#{label['iletisimliste.list']}" modelName="smsanlikgonderimlog" />
				<ui:include src="/_page/form/iletisim/smsanlikgonderim_Edit.xhtml" />

				<p:fieldset legend="#{label['smsanlikgonderimlog.list']}" styleClass="pageFieldSet" id="smsanlikgonderimlogListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="smsanlikgonderimlogTable" trigger="smsanlikgonderimlogTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="smsanlikgonderimlogTable" value="#{smsanlikgonderimlogController.list}" var="smsanlikgonderimlogRow"
						binding="#{smsanlikgonderimlogController.table}" rowIndexVar="rowIndex" selectionMode="single" selection="#{smsanlikgonderimlogController.entity}"
						filteredValue="#{smsanlikgonderimlogController.filteredList}" widgetVar="filterTable" rowKey="#{smsanlikgonderimlogRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{smsanlikgonderimlogController.tableRowSelect}" update=":smsanlikgonderimlogForm" />
						<p:ajax event="rowUnselect" listener="#{smsanlikgonderimlogController.tableRowCancelSelection}" update=":smsanlikgonderimlogForm" />

						<arftags:column val="#{smsanlikgonderimlogRow.kisiRef.UIString}" header="#{label['smsanlikgonderimlog.kisiRef']}" width="16" />
						<arftags:column val="#{smsanlikgonderimlogRow.icerikRef.UIString}" header="#{label['smsanlikgonderimlog.icerikRef']}" width="16" />
						<arftags:dateColumn val="#{smsanlikgonderimlogRow.tarih}" header="#{label['smsanlikgonderimlog.tarih']}" width="16" />
						<arftags:column val="#{smsanlikgonderimlogRow.birimRef.UIString}" header="#{label['smsanlikgonderimlog.birimRef']}" width="16" />
						<arftags:column val="#{smsanlikgonderimlogRow.durum.label}" header="#{label['smsanlikgonderimlog.durum']}" width="16" />
						<arftags:column val="#{smsanlikgonderimlogRow.aciklama}" header="#{label['smsanlikgonderimlog.aciklama']}" width="16" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{smsanlikgonderimlogController}" formName="smsanlikgonderimlogForm" listPanelName="smsanlikgonderimlogListPanel"
						pagingOption="true" tableName="smsanlikgonderimlogTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false"
						exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
