<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="smsanlikgonderimlogEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['smsanlikgonderimlog.edit']}"
		rendered="#{smsanlikgonderimlogController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['smsanlikgonderimlog.icerikRef']}" listSource="#{smsanlikgonderimlogController.selectItemListFor('Icerik')}" requiredCond="true"
				compId="icerikRef" value="#{smsanlikgonderimlogController.smsanlikgonderimlog.icerikRef}" converterId="#{'icerikConverter'}" id="icerikRefDropDown" />

			<arf:calendar label="#{label['smsanlikgonderimlog.tarih']}" value="#{smsanlikgonderimlogController.smsanlikgonderimlog.tarih}" id="tarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="tarih" />

			<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde, otuzYuzde, kirkYuzde">
				<h:outputText value="#{label['smsanlikgonderimlog.kisiRef']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
				<h:panelGroup>
					<p:autoComplete value="#{smsanlikgonderimlogController.smsanlikgonderimlog.kisiRef}" completeMethod="#{smsanlikgonderimlogController.completeMethod}" maxResults="50"
						queryDelay="500" id="kisiRefAutoComplete" minQueryLength="3" required="false" forceSelection="true" var="kisiRec" itemValue="#{kisiRec}" itemLabel="#{kisiRec.UIString}">
						<f:converter converterId="kisiConverter" />
						<f:ajax event="itemSelect" process="@this" />
						<f:attribute name="modelNameForAutoComplete" value="#{'Kisi'}" />
					</p:autoComplete>
				</h:panelGroup>
				<p:message for="kisiRefAutoComplete" />
				<p:blockUI block="smsanlikgonderimlogEditPanel" trigger="kisiRefAutoComplete">
					<h:outputText value="#{label['common.loading']}" />
					<br />
					<h:graphicImage library="_image" name="ajax-loader.gif" />
				</p:blockUI>
			</h:panelGrid>


			<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde, otuzYuzde, kirkYuzde">
				<h:outputText value="#{label['smsanlikgonderimlog.birimRef']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
				<h:panelGroup>
					<p:autoComplete value="#{smsanlikgonderimlogController.smsanlikgonderimlog.birimRef}" completeMethod="#{smsanlikgonderimlogController.completeMethod}" maxResults="50"
						queryDelay="500" id="gonderenRefAutoComplete" minQueryLength="3" required="false" forceSelection="true" var="birimRec" itemValue="#{birimRec}"
						itemLabel="#{birimRec.UIString}">
						<f:converter converterId="birimConverter" />
						<f:ajax event="itemSelect" process="@this" />
						<f:attribute name="modelNameForAutoComplete" value="#{'Birim'}" />
					</p:autoComplete>
				</h:panelGroup>
				<p:message for="gonderenRefAutoComplete" />
				<p:blockUI block="smsanlikgonderimlogEditPanel" trigger="gonderenRefAutoComplete">
					<h:outputText value="#{label['common.loading']}" />
					<br />
					<h:graphicImage library="_image" name="ajax-loader.gif" />
				</p:blockUI>
			</h:panelGrid>
			<arf:dropdown label="#{label['smsanlikgonderimlog.durum']}" listSource="#{enumeratedController.gonderimDurumItems}" requiredCond="true" compId="durum"
				value="#{smsanlikgonderimlogController.smsanlikgonderimlog.durum}" id="durumDropDown" addNullOption="true" />

			<arf:textinputarea label="#{label['smsanlikgonderimlog.aciklama']}" value="#{smsanlikgonderimlogController.smsanlikgonderimlog.aciklama}" compId="aciklama"
				requiredCond="false" id="aciklamaInputText" maxLength="2500" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{smsanlikgonderimlogController}" formName="smsanlikgonderimlogForm" listPanelName="smsanlikgonderimlogListPanel"
			editPanelName="smsanlikgonderimlogEditPanel" modelName="Smsanlikgonderimlog" />
	</p:fieldset>

</ui:composition>