<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml"
	xmlns:pe="http://primefaces.org/ui/extensions">
	<ui:define name="content">
		<h:body>
			<h:form id="gonderimForm" prependId="false">
				<p:outputPanel id="masterPanelSec" rendered="#{direkgonderimController.masterEntity != null}">
					<arf:masterPanel controllerClassName="#{direkgonderimController}" masterLabel="#{label['iletisimliste.list']}" modelName="direkgonderim" />
				</p:outputPanel>
				<p:fieldset id="gonderimEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['gonderim.sms']}">
					<h:panelGrid columns="1" styleClass="arfEditGrid">

						<arf:dropdown label="#{label['gonderim.iletisimlisteRef']}" listSource="#{direkgonderimController.selectItemListFor('Iletisimliste')}" requiredCond="true"
							compId="iletisimlisteRef" value="#{direkgonderimController.gonderimFilter.iletisimlisteRef}" converterId="#{'iletisimlisteConverter'}" id="iletisimlisteRefDropDown"
							ajaxEventListener="#{direkgonderimController.handleIletisimListe}" changeEventUpdateComp="#{':gonderimForm'}" rendered="#{direkgonderimController.masterEntity == null}" />

						<arf:textoutput label="#{label['gonderim.iletisimlisteRef']}" requiredCond="true" value="#{direkgonderimController.gonderimFilter.iletisimlisteRef}"
							rendered="#{direkgonderimController.masterEntity != null}" />

						<arf:dropdown label="#{label['smsanlikgonderimlog.icerikOrEditor']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="icerikOrEditor"
							value="#{direkgonderimController.icerikOrEditor}" id="icerikOrEditorDropDown" addNullOption="true"
							updateCompWithoutEvent=":gonderimForm:icerikSec :gonderimForm:editorOutputpanel :gonderimForm:buttonPanel" />

						<arf:dropdown label="#{label['gonderim.zamanlamali']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="zamanlamali"
							value="#{direkgonderimController.gonderim.zamanlamali}" id="zamanlamaliDropDown" addNullOption="true"
							ajaxEventListener="#{direkgonderimController.handleZamanlamaliChange}" changeEventUpdateComp="#{':gonderimForm'}" />

						<arf:textoutput label="#{label['gonderim.gonderenBirimRef']}" value="#{direkgonderimController.gonderim.birimRef.UIString}" />

						<p:outputPanel id="zamanlamaliBilgi" rendered="#{direkgonderimController.gonderim.zamanlamali.code == sessionController.zamanlamaliCode}">
							<arf:calendar label="#{label['gonderim.gonderimzamani']}" value="#{direkgonderimController.gonderim.gonderimzamani}" id="gonderimzamaniCalendar"
								pattern="#{configurationController.dateTimePattern}" requiredCond="true" compId="gonderimZamani" />
						</p:outputPanel>
						<arf:textinput label="#{label['gonderim.konu']}" value="#{direkgonderimController.gonderim.konu}" compId="konu" id="konuInputText" maxLength="100" requiredCond="true" />
						<p:outputPanel id="icerikSec">
							<arf:dropdown label="#{label['gonderim.icerikRef']}" listSource="#{direkgonderimController.selectItemListFor('Icerik')}" requiredCond="true" compId="icerikRef"
								value="#{direkgonderimController.gonderim.icerikRef}" converterId="#{'icerikConverter'}" id="icerikRefDropDownx"
								rendered="#{direkgonderimController.icerikOrEditor.code == sessionController.evetCode}" />
						</p:outputPanel>
					</h:panelGrid>
					<p:outputPanel id="editorOutputpanel">
						<arf:editorLimited label="#{label['evrak.icerik']}" id="editorCKContentComposite" compId="editorCKContent" value="#{direkgonderimController.gonderim.aciklama}"
							rendered="#{direkgonderimController.icerikOrEditor.code != sessionController.evetCode}" width="800" height="250" />
					</p:outputPanel>

					<p:blockUI block=":gonderimForm" trigger="smsGonderCommand, taslaklaraKaydetCommand">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>

					<p align="center">
						<p:outputPanel id="buttonPanel">
							<p:commandButton id="smsGonderCommand" value="#{label['command.gonder']}" action="#{direkgonderimController.save('redirect')}" icon="approve"
								update="@form :globalMessages" styleClass="commandButton" ajax="true" style="width:180px" process="@form" rendered="#{direkgonderimController.updateRecordRendered}" />
							<p:commandButton id="taslaklaraKaydetCommand" value="#{label['command.taslaklarakaydet']}" action="#{direkgonderimController.save('draft')}" icon="approve"
								update="@form :globalMessages" styleClass="commandButton" ajax="true" style="width:180px" process="@form"
								rendered="#{direkgonderimController.icerikOrEditor.code != sessionController.evetCode and direkgonderimController.updateRecordRendered}" />
						</p:outputPanel>
					</p>

				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>

