<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="adresForm" prependId="false">
				<arf:masterPanel controllerClassName="#{adresController}" masterLabel="" modelName="adres" />
				<ui:include src="/_page/form/iletisim/iletisimDetay/adres_Edit.xhtml" />

				<p:fieldset legend="#{label['adres.list']}" styleClass="pageFieldSet" id="adresListPanel">
					<p:blockUI block="adresTable" trigger="adresTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="adresTable" value="#{adresController.list}" var="adresRow" binding="#{adresController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{adresController.entity}" filteredValue="#{adresController.filteredList}" widgetVar="filterTable" rowKey="#{adresRow.RID}"
						resizableColumns="true">

						<p:ajax event="rowSelect" listener="#{adresController.tableRowSelect}" update=":adresForm" />
						<p:ajax event="rowUnselect" listener="#{adresController.tableRowCancelSelection}" update=":adresForm" />

						<arftags:column val="#{adresRow.adresturu.label}" header="#{label['adres.adresturu']}" width="8" />
						<arftags:column val="#{adresRow.varsayilan.label}" header="#{label['adres.varsayilan']}" width="8" />
						<arftags:column val="#{adresRow.adrestipi.label}" header="#{label['adres.adrestipi']}" width="8" />
						<arftags:column val="#{adresRow.acikAdres}" header="#{label['adres.acikAdres']}" width="8" />
						<arftags:column val="#{adresRow.ulkeRef.UIString}" header="#{label['adres.ulkeRef']}" width="8" />
						<arftags:column val="#{adresRow.sehirRef.UIString}" header="#{label['adres.sehirRef']}" width="8" />
						<arftags:column val="#{adresRow.ilceRef.UIString}" header="#{label['adres.ilceRef']}" width="8" />
						<arftags:column val="#{adresRow.csbm}" header="#{label['adres.csbm']}" width="8" />
						<arftags:column val="#{adresRow.disKapiNo}" header="#{label['adres.disKapiNo']}" width="8" />
						<arftags:column val="#{adresRow.icKapiNo}" header="#{label['adres.icKapiNo']}" width="8" />
						<arftags:column val="#{adresRow.mahalle}" header="#{label['adres.mahalle']}" width="8" />
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{adresController}" formName="adresForm" listPanelName="adresListPanel" pagingOption="true" tableName="adresTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>

				<p:fieldset id="adresSummaryPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['adres.summary']}" rendered="#{adresController.adres.RID != null}">
					<h:panelGrid columns="4" columnClasses="yirmiYuzde, otuzYuzde, yirmiYuzde, otuzYuzde" style="width:100%">
						<arftags:detailDateItem header="#{label['adres.kpsGuncellemeTarihi']}" val="#{adresController.adres.kpsGuncellemeTarihi}" colName="kpsGuncellemeTarihi"
							renderCondition="true" />
						<arftags:detailItem header="#{label['adres.adresNo']}" val="#{adresController.adres.adresNo}" colName="adresNo" renderCondition="true" />
						<arftags:detailItem header="#{label['adres.binaSiteAdi']}" val="#{adresController.adres.binaSiteAdi}" colName="binaSiteAdi" renderCondition="true" />
						<arftags:detailItem header="#{label['adres.binaBlokAdi']}" val="#{adresController.adres.binaBlokAdi}" colName="binaBlokAdi" renderCondition="true" />
						<arftags:detailItem header="#{label['adres.csbm']}" val="#{adresController.adres.csbm}" colName="csbm" renderCondition="true" />
						<arftags:detailItem header="#{label['adres.mahalleKodu']}" val="#{adresController.adres.mahalleKodu}" colName="mahalleKodu" renderCondition="true" />
						<arftags:detailDateItem header="#{label['adres.beyanTarihi']}" val="#{adresController.adres.beyanTarihi}" colName="beyanTarihi" renderCondition="true" />
						<arftags:detailItem header="#{label['adres.binaAda']}" val="#{adresController.adres.binaAda}" colName="binaAda" renderCondition="true" />
						<arftags:detailItem header="#{label['adres.binaPafta']}" val="#{adresController.adres.binaPafta}" colName="binaPafta" renderCondition="true" />
						<arftags:detailItem header="#{label['adres.binaParsel']}" val="#{adresController.adres.binaParsel}" colName="binaParsel" renderCondition="true" />
						<arftags:detailDateItem header="#{label['adres.tasinmaTarihi']}" val="#{adresController.adres.tasinmaTarihi}" colName="tasinmaTarihi" renderCondition="true" />
						<arftags:detailDateItem header="#{label['adres.tescilTarihi']}" val="#{adresController.adres.tescilTarihi}" colName="tescilTarihi" renderCondition="true" />
					</h:panelGrid>
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
