<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="adresEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['adres.edit']}" rendered="#{adresController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['adres.adresturu']}" listSource="#{enumeratedController.adresTuruKPSYokItems}" requiredCond="true" compId="adresturu"
				value="#{adresController.adres.adresturu}" id="adresturuDropDown" addNullOption="true" />
			<arf:dropdown label="#{label['adres.adrestipi']}" listSource="#{enumeratedController.adresTipiItems}" requiredCond="true" compId="adrestipi"
				value="#{adresController.adres.adrestipi}" id="adrestipiDropDown" addNullOption="true" ajaxEventListener="#{adresController.handleChange}"
				changeEventUpdateComp="#{':adresForm'}" />
			<arf:dropdown label="#{label['adres.varsayilan']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="false" compId="varsayilan"
				value="#{adresController.adres.varsayilan}" id="varsayilanDropDown" addNullOption="true" />
			<arf:textinputarea label="#{label['adres.acikAdres']}" value="#{adresController.adres.acikAdres}" compId="acikAdres" requiredCond="false" id="acikAdresInputText"
				maxLength="255" readOnlyStatus="#{adresController.adres.adrestipi.code == sessionController.yurtdisiAdresCode}" />
			<arf:textinput label="#{label['adres.binaSiteAdi']}" value="#{adresController.adres.binaSiteAdi}" compId="binaSiteAdi" requiredCond="false" id="binaSiteAdiInputText"
				maxLength="255" readOnlyStatus="#{adresController.adres.adrestipi.code == sessionController.yurtdisiAdresCode}" />
			<arf:textinput label="#{label['adres.binaBlokAdi']}" value="#{adresController.adres.binaBlokAdi}" compId="binaBlokAdi" requiredCond="false" id="binaBlokAdiInputText"
				maxLength="255" readOnlyStatus="#{adresController.adres.adrestipi.code == sessionController.yurtdisiAdresCode}" />
			<arf:textinput label="#{label['adres.csbm']}" value="#{adresController.adres.csbm}" compId="csbm" requiredCond="false" id="csbmInputText" maxLength="255"
				readOnlyStatus="#{adresController.adres.adrestipi.code == sessionController.yurtdisiAdresCode}" />
			<arf:textinput label="#{label['adres.disKapiNo']}" value="#{adresController.adres.disKapiNo}" compId="disKapiNo" requiredCond="false" id="disKapiNoInputText"
				maxLength="255" readOnlyStatus="#{adresController.adres.adrestipi.code == sessionController.yurtdisiAdresCode}" />
			<arf:textinput label="#{label['adres.icKapiNo']}" value="#{adresController.adres.icKapiNo}" compId="icKapiNo" requiredCond="false" id="icKapiNoInputText" maxLength="255"
				readOnlyStatus="#{adresController.adres.adrestipi.code == sessionController.yurtdisiAdresCode}" />
			<arf:dropdown label="#{label['adres.ulkeRef']}" listSource="#{adresController.ulkeItemList}" requiredCond="false" compId="ulkeRef" value="#{adresController.adres.ulkeRef}"
				converterId="#{'ulkeConverter'}" id="ulkeRefDropDown" ajaxEventListener="#{adresController.handleChange}" changeEventUpdateComp="#{':adresForm:sehirRefDropDown:sehirRef'}" />
			<arf:dropdown label="#{label['adres.sehirRef']}" listSource="#{adresController.ilItemList}" requiredCond="false" compId="sehirRef" value="#{adresController.adres.sehirRef}"
				converterId="#{'sehirConverter'}" id="sehirRefDropDown" ajaxEventListener="#{adresController.handleChange}" changeEventUpdateComp="#{':adresForm:ilceRefDropDown:ilceRef'}" />
			<arf:dropdown label="#{label['adres.ilceRef']}" listSource="#{adresController.ilceItemList}" requiredCond="false" compId="ilceRef" value="#{adresController.adres.ilceRef}"
				converterId="#{'ilceConverter'}" id="ilceRefDropDown" disabledCond="#{adresController.adres.adrestipi.code == sessionController.yurtdisiAdresCode}" />
			<arf:textinput label="#{label['adres.mahalle']}" value="#{adresController.adres.mahalle}" compId="mahalle" requiredCond="false" id="mahalleInputText" maxLength="255"
				readOnlyStatus="#{adresController.adres.adrestipi.code == sessionController.yurtdisiAdresCode}" />
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{adresController}" formName="adresForm" listPanelName="adresListPanel" editPanelName="adresEditPanel" modelName="Adres" />
	</p:fieldset>

</ui:composition>