<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="epostagonderimlogEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['epostagonderimlog.edit']}"
		rendered="#{epostagonderimlogController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">
			<arf:calendar label="#{label['epostagonderimlog.tarih']}" value="#{epostagonderimlogController.epostagonderimlog.tarih}" id="tarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="tarih" />
			<arf:dropdown label="#{label['epostagonderimlog.durum']}" listSource="#{enumeratedController.gonderimDurumItems}" requiredCond="true" compId="durum"
				value="#{epostagonderimlogController.epostagonderimlog.durum}" id="durumDropDown" addNullOption="true" />
			<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde, otuzYuzde, kirkYuzde">
				<h:outputText value="#{label['epostagonderimlog.kisiRef']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
				<h:panelGroup>
					<p:autoComplete value="#{epostagonderimlogController.epostagonderimlog.kisiRef}" completeMethod="#{epostagonderimlogController.completeMethod}" maxResults="50"
						queryDelay="500" id="kisiRefAutoComplete" minQueryLength="3" required="false" forceSelection="true" var="kisiRec" itemValue="#{kisiRec}" itemLabel="#{kisiRec.UIString}">
						<f:converter converterId="kisiConverter" />
						<f:ajax event="itemSelect" process="@this" />
						<f:attribute name="modelNameForAutoComplete" value="#{'Kisi'}" />
					</p:autoComplete>
				</h:panelGroup>
				<p:message for="kisiRefAutoComplete" />
				<p:blockUI block="epostagonderimlogEditPanel" trigger="kisiRefAutoComplete">
					<h:outputText value="#{label['common.loading']}" />
					<br />
					<h:graphicImage library="_image" name="ajax-loader.gif" />
				</p:blockUI>
			</h:panelGrid>


			<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde, otuzYuzde, kirkYuzde">
				<h:outputText value="#{label['epostagonderimlog.birimRef']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
				<h:panelGroup>
					<p:autoComplete value="#{epostagonderimlogController.epostagonderimlog.birimRef}" completeMethod="#{epostagonderimlogController.completeMethod}" maxResults="50"
						queryDelay="500" id="birimRefAutoComplete" minQueryLength="3" required="false" forceSelection="true" var="birimRec" itemValue="#{birimRec}"
						itemLabel="#{birimRec.UIString}">
						<f:converter converterId="birimConverter" />
						<f:ajax event="itemSelect" process="@this" />
						<f:attribute name="modelNameForAutoComplete" value="#{'Birim'}" />
					</p:autoComplete>
				</h:panelGroup>
				<p:message for="birimRefAutoComplete" />
				<p:blockUI block="epostagonderimlogEditPanel" trigger="birimRefAutoComplete">
					<h:outputText value="#{label['common.loading']}" />
					<br />
					<h:graphicImage library="_image" name="ajax-loader.gif" />
				</p:blockUI>
			</h:panelGrid>

			<arf:textinputarea label="#{label['epostagonderimlog.aciklama']}" value="#{epostagonderimlogController.epostagonderimlog.aciklama}" compId="aciklama" requiredCond="false"
				id="aciklamaInputText" maxLength="2500" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{epostagonderimlogController}" formName="epostagonderimlogForm" listPanelName="epostagonderimlogListPanel"
			editPanelName="epostagonderimlogEditPanel" modelName="Epostagonderimlog" />
	</p:fieldset>

</ui:composition>