<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="epostagonderimlogForm" prependId="false">
				<arf:masterPanel controllerClassName="#{epostagonderimlogController}" masterLabel="#{label['gonderim.list']}" modelName="epostagonderimlog" />
				<ui:include src="/_page/form/iletisim/iletisimDetay/epostagonderimlog_Edit.xhtml" />

				<p:fieldset id="epostagonderimlogFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{epostagonderimlogController.collapsed}"
					legend="#{label['epostagonderimlog.query']}" rendered="#{!epostagonderimlogController.editPanelRendered}">
					<p:ajax listener="#{epostagonderimlogController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:dropdownForFilter label="#{label['epostagonderimlog.kisiRef']}" listSource="#{epostagonderimlogController.selectItemListFor('Kisi')}" requiredCond="false"
							compId="kisiRef" value="#{epostagonderimlogController.epostagonderimlogFilter.kisiRef}" converterId="#{'kisiConverter'}" id="kisiRefForFilterDropDown" rendered="false" />

						<arf:calendarForFilter label="#{label['epostagonderimlog.tarih']}" value="#{epostagonderimlogController.epostagonderimlogFilter.tarih}" id="tarihForFilterCalendar"
							pattern="#{configurationController.datePattern}" requiredCond="false" compId="tarih" />

						<arf:dropdownForFilter label="#{label['epostagonderimlog.birimRef']}" listSource="#{epostagonderimlogController.selectItemListFor('Birim')}" requiredCond="false"
							compId="birimRef" value="#{epostagonderimlogController.epostagonderimlogFilter.birimRef}" converterId="#{'birimConverter'}" id="birimRefForFilterDropDown"
							rendered="false" />

						<arf:dropdownForFilter label="#{label['epostagonderimlog.durum']}" listSource="#{enumeratedController.gonderimDurumItems}" requiredCond="false" compId="durum"
							value="#{epostagonderimlogController.epostagonderimlogFilter.durum}" id="durumForFilterDropDown" addNullOption="true" />
						
						<arf:dualtextinputForFilter label="#{label['gonderenRef.adSoyad']}" requiredCond="false" compId="gonderenkisiad" style="width:80px"
							value="#{epostagonderimlogController.epostagonderimlogFilter.gonderenAd}" maxLength="10" id="gonderenkisiAdSoyadForFilterDualTextInput" requiredCond2="false" compId2="kisisoyad" style2="width:80px"
							value2="#{epostagonderimlogController.epostagonderimlogFilter.gonderenSoyad}" maxLength2="10" />	
					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{epostagonderimlogController}" formName="epostagonderimlogForm" listPanelName="epostagonderimlogListPanel"
						filterPanelName="epostagonderimlogFilterPanel" modelName="Epostagonderimlog" />
				</p:fieldset>

				<p:fieldset legend="#{label['epostagonderimlog.list']}" styleClass="pageFieldSet" id="epostagonderimlogListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="epostagonderimlogTable" trigger="epostagonderimlogTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="epostagonderimlogTable" value="#{epostagonderimlogController.list}" var="epostagonderimlogRow"
						binding="#{epostagonderimlogController.table}" rowIndexVar="rowIndex" selectionMode="single" selection="#{epostagonderimlogController.entity}"
						filteredValue="#{epostagonderimlogController.filteredList}" widgetVar="filterTable" rowKey="#{epostagonderimlogRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{epostagonderimlogController.tableRowSelect}" update=":epostagonderimlogForm" />
						<p:ajax event="rowUnselect" listener="#{epostagonderimlogController.tableRowCancelSelection}" update=":epostagonderimlogForm" />

						<arftags:column val="#{epostagonderimlogRow.kisiRef.UIString}" header="#{label['epostagonderimlog.kisiRef']}" width="23" />
						<arftags:column val="#{epostagonderimlogRow.kisiRef.kisiInternetadres.netadresmetni}" header="#{label['epostagonderimlog.eposta']}" width="15" />
						<arftags:dateColumn val="#{epostagonderimlogRow.tarih}" header="#{label['epostagonderimlog.tarih']}" width="10" />
						<arftags:column val="#{epostagonderimlogRow.birimRef.UIString}" header="#{label['epostagonderimlog.birimRef']}" width="15" />
						<arftags:column val="#{epostagonderimlogRow.gonderenRef.UIString}" header="#{label['epostagonderimlog.gonderenRef']}" width="22" />
						<arftags:column val="#{epostagonderimlogRow.durum.label}" header="#{label['epostagonderimlog.durum']}" width="10" />
						<p:column style="text-align:center;">
							<f:facet name="header">
								<h:outputText value="#{label['common.icerik']}" />
							</f:facet>
							<h:commandLink action="#{epostagonderimlogController.setSelectedRID(epostagonderimlogRow.RID)}" process="@this" 
								update="@this :previewDialogBox" ajax="true">
								<h:graphicImage library="_image" name="search.png" />
							</h:commandLink>
						</p:column>
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{epostagonderimlogController}" formName="epostagonderimlogForm" listPanelName="epostagonderimlogListPanel"
						pagingOption="true" tableName="epostagonderimlogTable" addExport="true" addOption="false" updateOption="false" deleteOption="false" addSubRecordOption="false"
						exportToWord="false" />
				</p:fieldset>
				
			<p:dialog header="#{label['common.previewImage']}" widgetVar="previewDialog" width="500" height="500"
				style="position:absolute; left:5%; top:5%" modal="false" id="previewDialogBox" visible="#{epostagonderimlogController.onizlemeDialog}" >

				<div style="width: 98%; position: relative; top: 0px; height: 100%; left:1%"> 
					<div style="position: relative; top: 5px; width: 100%; text-align: center"> 
					<h4 style="margin-top:10px">
						Önizleme<br />
					</h4>  
				</div>
				<div style="position: relative; top: 10px; width: 100%; text-align: left">
					<b>Gönderen Birim : </b>
					<h:outputText value="#{epostagonderimlogController.epostagonderimlog.birimRef.UIStringShort}" />
					<br />
					<b>Kime : </b>
					<h:outputText value="#{epostagonderimlogController.epostagonderimlog.kisiRef.UIStringShort}" />
					<br />
				</div>
				
				<div style="position: relative; top: 20px; width: 100%; text-align: left">
					<br /> <b>İçerik : </b>
					<h:outputText value="#{epostagonderimlogController.epostagonderimlog.gonderimRef.icerikRef.UIString} #{epostagonderimlogController.epostagonderimlog.aciklama}" />
					<br/>
				</div>
					<p align="center"> 
						<p:spacer height="100" />
	 					<p:commandButton id="previewDialogcancelDetailsButton3" icon="iptal" value="#{label['command.cancel']}" action="#{epostagonderimlogController.onizlemedialogkapat}"
	 					 	styleClass="commandButton" onclick="previewDialog.hide()" process="@this" />
	 					<br/><p:spacer height="50" />	 		 
 					</p>
				</div>  				
			</p:dialog>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
