<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="iletisimlistedetayEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['iletisimlistedetay.edit']}"
		rendered="#{iletisimlistedetayController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

			<arf:dropdownForFilter label="#{label['iletisimlistedetay.referansTipi']}" listSource="#{enumeratedController.referansTipiItems}" requiredCond="false" compId="referansTipi"
				value="#{iletisimlistedetayController.iletisimlistedetay.referansTipi}" id="referansTipiDropDown" addNullOption="true"
				ajaxEventListener="#{iletisimlistedetayController.handleReferansTipiChange}" changeEventUpdateComp=":iletisimlistedetayForm" />

			<p:outputPanel id="birimSec" rendered="#{iletisimlistedetayController.iletisimlistedetay.referansTipi.code == sessionController.birimcodeForIletisim}">
				<arf:dropdown label="#{label['iletisimlistedetay.birim']}" listSource="#{sessionUser.birimItemList}" requiredCond="false" compId="birimRef"
					converterId="#{'birimConverter'}" id="birimRefDropDown" ajaxEventListener="#{iletisimlistedetayController.handleBirimChange}"
					changeEventUpdateComp=":iletisimlistedetayForm" />
			</p:outputPanel>
			
			<p:outputPanel id="kisiSec" rendered="#{iletisimlistedetayController.iletisimlistedetay.referansTipi.code == sessionController.kisiCodeForIletisim}">
				<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde, otuzYuzde, kirkYuzde">
					<h:outputText value="#{label['iletisimlistedetay.kisi']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
					<h:panelGroup>
						<p:autoComplete value="#{iletisimlistedetayController.kisi}" completeMethod="#{iletisimlistedetayController.completeMethod}" maxResults="50" queryDelay="500"
							id="kisiRefAutoComplete" minQueryLength="3" required="false" forceSelection="true" var="kisiRec" itemValue="#{kisiRec}" itemLabel="#{kisiRec.UIString}">
							<f:converter converterId="kisiConverter" />
							<f:ajax event="itemSelect" process="@this" listener="#{iletisimlistedetayController.handleKisiChange}" />
							<f:attribute name="modelNameForAutoComplete" value="#{'Kisi'}" />
						</p:autoComplete>
					</h:panelGroup>
					<p:message for="kisiRefAutoComplete" />
				</h:panelGrid>
			</p:outputPanel>
			<p:outputPanel id="uyeSec" rendered="#{iletisimlistedetayController.iletisimlistedetay.referansTipi.code == sessionController.uyecodeForIletisim}">
				<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde, otuzYuzde, kirkYuzde">
					<h:outputText value="#{label['iletisimlistedetay.uye']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
					<h:panelGroup>
						<p:autoComplete value="#{iletisimlistedetayController.uye}" completeMethod="#{iletisimlistedetayController.completeMethod}" maxResults="50" queryDelay="500"
							id="uyeRefAutoComplete" minQueryLength="3" required="false" forceSelection="true" var="uyeRec" itemValue="#{uyeRec}" itemLabel="#{uyeRec.UIString}">
							<f:converter converterId="uyeConverter" />
							<f:ajax event="itemSelect" process="@this" listener="#{iletisimlistedetayController.handleUyeChange}" />
							<f:attribute name="modelNameForAutoComplete" value="#{'Uye'}" />
						</p:autoComplete>
					</h:panelGroup>
					<p:message for="uyeRefAutoComplete" />
				</h:panelGrid>
			</p:outputPanel>

			<p:outputPanel id="kurumSec" rendered="#{iletisimlistedetayController.iletisimlistedetay.referansTipi.code == sessionController.kurumcodeForIletisim}">
				<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde, otuzYuzde, kirkYuzde">
					<h:outputText value="#{label['iletisimlistedetay.kurum']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
					<h:panelGroup>
						<p:autoComplete value="#{iletisimlistedetayController.kurum}" completeMethod="#{iletisimlistedetayController.completeMethod}" maxResults="50" queryDelay="500"
							id="kurumRefAutoComplete" minQueryLength="3" required="false" forceSelection="true" var="kurumRec" itemValue="#{kurumRec}" itemLabel="#{kurumRec.UIString}">
							<f:converter converterId="kurumConverter" />
							<f:ajax event="itemSelect" process="@this" listener="#{iletisimlistedetayController.handleKurumChange}" />
							<f:attribute name="modelNameForAutoComplete" value="#{'Kurum'}" />
						</p:autoComplete>
					</h:panelGroup>
					<p:message for="kurumRefAutoComplete" />
				</h:panelGrid>
			</p:outputPanel>

			<p:outputPanel id="kurulSec" rendered="#{iletisimlistedetayController.iletisimlistedetay.referansTipi.code == sessionController.kurulcodeForIletisim}">
				<arf:dropdown label="#{label['iletisimlistedetay.kurul']}" listSource="#{iletisimlistedetayController.selectItemListFor('Kurul')}" requiredCond="false" compId="kurulRef"
					converterId="#{'kurulConverter'}" id="kurulRefDropDown" ajaxEventListener="#{iletisimlistedetayController.handleKurulChange}"
					changeEventUpdateComp=":iletisimlistedetayForm" />
			</p:outputPanel>

			<p:outputPanel id="komisyonSec" rendered="#{iletisimlistedetayController.iletisimlistedetay.referansTipi.code == sessionController.komisyoncodeForIletisim}">
				<arf:dropdown label="#{label['iletisimlistedetay.komisyon']}" listSource="#{iletisimlistedetayController.selectItemListFor('Komisyon')}" requiredCond="false"
					compId="komisyonRef" converterId="#{'komisyonConverter'}" id="komisyonRefDropDown" ajaxEventListener="#{iletisimlistedetayController.handleKomisyonChange}"
					changeEventUpdateComp=":iletisimlistedetayForm" />
			</p:outputPanel>

			<p:outputPanel id="egitmenSec" rendered="#{iletisimlistedetayController.iletisimlistedetay.referansTipi.code == sessionController.egitmencodeForIletisim}">
				<arf:dropdown label="#{label['iletisimlistedetay.egitmen']}" listSource="#{iletisimlistedetayController.selectItemListFor('Egitimogretmen')}" requiredCond="false"
					compId="egitmenRef" converterId="#{'egitimogretmenConverter'}" id="egitimogretmenRefDropDown" ajaxEventListener="#{iletisimlistedetayController.handleEgitmenChange}"
					changeEventUpdateComp=":iletisimlistedetayForm" />
			</p:outputPanel>

			<p:outputPanel id="egitimkatilimciSec" rendered="#{iletisimlistedetayController.iletisimlistedetay.referansTipi.code == sessionController.egitimkatilimcicodeForIletisim}">
				<arf:dropdown label="#{label['iletisimlistedetay.egitimKatilimci']}" listSource="#{iletisimlistedetayController.selectItemListFor('Egitim')}" requiredCond="false"
					compId="egitmankatilimcinRef" converterId="#{'egitimConverter'}" id="egitimkatilimciRefDropDown" ajaxEventListener="#{iletisimlistedetayController.handleEgitimChange}"
					changeEventUpdateComp=":iletisimlistedetayForm" />
			</p:outputPanel>

			<p:outputPanel id="etkinlikkatilimciSec"
				rendered="#{iletisimlistedetayController.iletisimlistedetay.referansTipi.code == sessionController.etkinlikkatilimcicodeForIletisim}">
				<arf:dropdown label="#{label['iletisimlistedetay.etkinlik']}" listSource="#{iletisimlistedetayController.selectItemListFor('Etkinlik')}" requiredCond="false"
					compId="etkinlikkatilimciRef" converterId="#{'etkinlikConverter'}" id="etkinlikkatilimciRefDropDown"
					ajaxEventListener="#{iletisimlistedetayController.handleEtkinlikChange}" changeEventUpdateComp=":iletisimlistedetayForm" />
			</p:outputPanel>

			<p:outputPanel id="isYeriTemsilcileriSec"
				rendered="#{iletisimlistedetayController.iletisimlistedetay.referansTipi.code == sessionController.isyeritemsilcisicodeForIletisim}">
				<arf:dropdown label="#{label['iletisimlistedetay.isYeriTemsilcileri']}" listSource="#{iletisimlistedetayController.selectItemListFor('IsYeriTemsilcileri')}"
					requiredCond="false" compId="isYeriTemsilcileriRef" converterId="#{'isYeriTemsilcileriConverter'}" id="isYeriTemsilcileriRefDropDown"
					ajaxEventListener="#{iletisimlistedetayController.handleIsYeriTemsilcileriChange}" changeEventUpdateComp=":iletisimlistedetayForm" />
			</p:outputPanel>

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{iletisimlistedetayController}" formName="iletisimlistedetayForm" listPanelName="iletisimlistedetayListPanel"
			editPanelName="iletisimlistedetayEditPanel" modelName="Iletisimlistedetay" />
	</p:fieldset>

</ui:composition>