<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="iletisimlistedetayForm" prependId="false">
				<arf:masterPanel controllerClassName="#{iletisimlistedetayController}" masterLabel="" modelName="iletisimlistedetay" rendered="#{iletisimlistedetayController.masterEntity!=null}"/>
				<ui:include src="/_page/form/iletisim/iletisimDetay/iletisimlistedetay_Edit.xhtml" />

				<p:fieldset legend="#{label['iletisimlistedetay.list']}" styleClass="pageFieldSet" id="iletisimlistedetayListPanel">
					<p:blockUI block="iletisimlistedetayTable" trigger="iletisimlistedetayTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="iletisimlistedetayTable" value="#{iletisimlistedetayController.list}" var="iletisimlistedetayRow"
						binding="#{iletisimlistedetayController.table}" rowIndexVar="rowIndex" selectionMode="single" selection="#{iletisimlistedetayController.entity}"
						filteredValue="#{iletisimlistedetayController.filteredList}" widgetVar="filterTable" rowKey="#{iletisimlistedetayRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{iletisimlistedetayController.tableRowSelect}" update=":iletisimlistedetayForm" />
						<p:ajax event="rowUnselect" listener="#{iletisimlistedetayController.tableRowCancelSelection}" update=":iletisimlistedetayForm" />

						<arftags:column val="#{iletisimlistedetayRow.iletisimListesi}" header="#{label['iletisimlistedetay.iletisimlisteİsmi']}" width="16" />
						<arftags:column val="#{iletisimlistedetayRow.referansTipi.label}" header="#{label['iletisimlistedetay.referanstipi']}" width="16" />
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{iletisimlistedetayController}" formName="iletisimlistedetayForm" listPanelName="iletisimlistedetayListPanel"
						pagingOption="true" tableName="iletisimlistedetayTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false"
						exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
