<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="internetadresEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['internetadres.edit']}"
		rendered="#{internetadresController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:textinput label="#{label['internetadres.netadresmetni']}" value="#{internetadresController.internetadres.netadresmetni}" compId="netadresmetni" requiredCond="true"
				id="netadresmetniInputText" maxLength="500" />

			<arf:dropdown label="#{label['internetadres.netadresturu']}" listSource="#{enumeratedController.netAdresTuruItems}" requiredCond="false" compId="netadresturu"
				value="#{internetadresController.internetadres.netadresturu}" id="netadresturuDropDown" />

			<arf:dropdown label="#{label['internetadres.varsayilan']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="false" compId="netVarsayilan"
				value="#{internetadresController.internetadres.varsayilan}" id="netVarsayilanDropDown" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{internetadresController}" formName="internetadresForm" listPanelName="internetadresListPanel"
			editPanelName="internetadresEditPanel" modelName="Internetadres" />
	</p:fieldset>

</ui:composition>