<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="internetadresForm" prependId="false">

				<arf:masterPanel controllerClassName="#{internetadresController}" masterLabel="" modelName="Internetadres" />

				<ui:include src="/_page/form/iletisim/iletisimDetay/internetadres_Edit.xhtml" />

				<p:fieldset legend="#{label['internetadres.list']}" styleClass="pageFieldSet" id="internetadresListPanel">
					<p:blockUI block="internetadresTable" trigger="internetadresTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="internetadresTable" value="#{internetadresController.list}" var="internetadresRow" binding="#{internetadresController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{internetadresController.entity}" filteredValue="#{internetadresController.filteredList}"
						widgetVar="filterTable" rowKey="#{internetadresRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{internetadresController.tableRowSelect}" update=":internetadresForm" />
						<p:ajax event="rowUnselect" listener="#{internetadresController.tableRowCancelSelection}" update=":internetadresForm" />

						<arftags:column val="#{internetadresRow.netadresmetni}" header="#{label['internetadres.netadresmetni']}" width="25" />
						<arftags:column val="#{internetadresRow.netadresturu.label}" header="#{label['internetadres.netadresturu']}" width="25" />
						<arftags:column val="#{internetadresRow.varsayilan.label}" header="#{label['internetadres.varsayilan']}" width="25" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{internetadresController}" formName="internetadresForm" listPanelName="internetadresListPanel" pagingOption="false"
						tableName="internetadresTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
