<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="iletisimlistedetayForm" prependId="false">
				<arf:masterPanel controllerClassName="#{iletisimlistedetayController}" masterLabel="" modelName="iletisimlistedetay"
					rendered="#{iletisimlistedetayController.masterEntity!=null}" />
					
				<p:fieldset legend="#{label['iletisimlistedetay.list']}" styleClass="pageFieldSet" id="iletisimlistedetayListPanel">
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="iletisimlistedetayTable" value="#{iletisimlistedetayController.listeuye}" var="iletisimlisteuyeRow">

						<p:ajax event="rowSelect" listener="#{iletisimlistedetayController.tableRowSelect}" update=":iletisimlistedetayForm" />
						<p:ajax event="rowUnselect" listener="#{iletisimlistedetayController.tableRowCancelSelection}" update=":iletisimlistedetayForm" />

						<arftags:column val="#{iletisimlisteuyeRow.uyeler}" header="#{label['iletisimlistedetay.iletisimlisteİsmi']}" width="16" />
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{iletisimlistedetayController}" formName="iletisimlistedetayForm" listPanelName="iletisimlistedetayListPanel"
						pagingOption="true" tableName="iletisimlistedetayTable" addExport="true" addOption="false" updateOption="false" deleteOption="false" addSubRecordOption="false"
						exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
