<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="smsgonderimlogForm" prependId="false">
				<arf:masterPanel controllerClassName="#{smsgonderimlogController}" masterLabel="#{label['gonderim.list']}" modelName="smsgonderimlog" />
				<ui:include src="/_page/form/iletisim/iletisimDetay/smsgonderimlog_Edit.xhtml" />

				<p:fieldset id="smsgonderimlogFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{smsgonderimlogController.collapsed}"
					legend="#{label['smsgonderimlog.query']}" rendered="#{!smsgonderimlogController.editPanelRendered}">
					<p:ajax listener="#{smsgonderimlogController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:dropdownForFilter label="#{label['smsgonderimlog.kisiRef']}" listSource="#{smsgonderimlogController.selectItemListFor('Kisi')}" requiredCond="false"
							compId="kisiRef" value="#{smsgonderimlogController.smsgonderimlogFilter.kisiRef}" converterId="#{'kisiConverter'}" id="kisiRefForFilterDropDown" rendered="false" />

						<arf:calendarForFilter label="#{label['smsgonderimlog.tarih']}" value="#{smsgonderimlogController.smsgonderimlogFilter.tarih}" id="tarihForFilterCalendar"
							pattern="#{configurationController.datePattern}" requiredCond="false" compId="tarih" />

						<arf:dropdownForFilter label="#{label['smsgonderimlog.birimRef']}" listSource="#{smsgonderimlogController.selectItemListFor('Birim')}" requiredCond="false"
							rendered="false" compId="birimRef" value="#{smsgonderimlogController.smsgonderimlogFilter.birimRef}" converterId="#{'birimConverter'}"
							id="birimRefForFilterDropDown" />
							
						<arf:dualtextinputForFilter label="#{label['gonderenRef.adSoyad']}" requiredCond="false" compId="gonderenkisiad" style="width:80px"
							value="#{smsgonderimlogController.smsgonderimlogFilter.gonderenAd}" maxLength="10" id="gonderenkisiAdSoyadForFilterDualTextInput" requiredCond2="false" compId2="kisisoyad" style2="width:80px"
							value2="#{smsgonderimlogController.smsgonderimlogFilter.gonderenSoyad}" maxLength2="10" />	
							
						<arf:dropdownForFilter label="#{label['smsgonderimlog.durum']}" listSource="#{enumeratedController.gonderimDurumItems}" requiredCond="false" compId="durum"
							value="#{smsgonderimlogController.smsgonderimlogFilter.durum}" id="durumForFilterDropDown" addNullOption="true" />

					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{smsgonderimlogController}" formName="smsgonderimlogForm" listPanelName="smsgonderimlogListPanel"
						filterPanelName="smsgonderimlogFilterPanel" modelName="Smsgonderimlog" />
				</p:fieldset>

				<p:fieldset legend="#{label['smsgonderimlog.list']}" styleClass="pageFieldSet" id="smsgonderimlogListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="smsgonderimlogTable" trigger="smsgonderimlogTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="smsgonderimlogTable" value="#{smsgonderimlogController.list}" var="smsgonderimlogRow" binding="#{smsgonderimlogController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{smsgonderimlogController.entity}" filteredValue="#{smsgonderimlogController.filteredList}"
						widgetVar="filterTable" rowKey="#{smsgonderimlogRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{smsgonderimlogController.tableRowSelect}" update=":smsgonderimlogForm" />
						<p:ajax event="rowUnselect" listener="#{smsgonderimlogController.tableRowCancelSelection}" update=":smsgonderimlogForm" />

						<arftags:column val="#{smsgonderimlogRow.kisiRef.UIString}" header="#{label['smsgonderimlog.kisiRef']}" width="25" />
						<arftags:dateColumn val="#{smsgonderimlogRow.tarih}" header="#{label['smsgonderimlog.tarih']}" width="25" />
						<arftags:column val="#{smsgonderimlogRow.birimRef.UIString}" header="#{label['smsgonderimlog.birimRef']}" width="25" />
						<arftags:column val="#{smsgonderimlogRow.gonderenRef.UIString}" header="#{label['smsgonderimlog.gonderenRef']}" width="10" />
						<arftags:column val="#{smsgonderimlogRow.durum.label}" header="#{label['smsgonderimlog.durum']}" width="25" />
						<p:column style="text-align:center; width:60px">
							<f:facet name="header">
								<h:outputText value="#{label['common.icerik']}" />
							</f:facet>
							<h:commandLink action="#{smsgonderimlogController.setSelectedRID(smsgonderimlogRow.RID)}" process="@this" 
								update="@this :previewDialogBox" ajax="true">
								<h:graphicImage library="_image" name="search.png" />
							</h:commandLink>
						</p:column>

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{smsgonderimlogController}" formName="smsgonderimlogForm" listPanelName="smsgonderimlogListPanel" pagingOption="true"
						tableName="smsgonderimlogTable" addExport="true" addOption="false" updateOption="false" deleteOption="false" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
				
				<p:dialog header="#{label['common.previewImage']}" widgetVar="previewDialog" width="500" height="500"
			style="position:absolute; left:5%; top:5%" modal="false" id="previewDialogBox" visible="#{smsgonderimlogController.onizlemeDialog}" >

			<div style="width: 98%; position: relative; top: 0px; height: 100%; left:1%"> 
					<div style="position: relative; top: 5px; width: 100%; text-align: center"> 
					<h4 style="margin-top:10px">
						Önizleme<br />
					</h4>  
				</div>
				<div style="position: relative; top: 10px; width: 100%; text-align: left">
					<b>Gönderen Birim: </b>
					<h:outputText value="#{smsgonderimlogController.smsgonderimlog.birimRef.UIString}" />
					<br />
					<b>Kime : </b>
					<h:outputText value="#{smsgonderimlogController.smsgonderimlog.kisiRef.UIStringShort}" />
					<br/>
					<b>Telefon  : </b>
					<h:outputText value="#{smsgonderimlogController.smsgonderimlog.kisiRef.kisiTelefon.telefonno}" />
					<br/>
					
				</div>
				
				<div style="position: relative; top: 20px; width: 100%; text-align: left">
					<br /> <b>İçerik : </b>
					<h:outputText value="#{smsgonderimlogController.smsgonderimlog.aciklama} #{smsgonderimlogController.smsgonderimlog.icerik.UIString}" />
					<br/>
				</div>
					<p align="center"> 
						<p:spacer height="100" />
	 					<p:commandButton id="previewDialogcancelDetailsButton3" icon="iptal" value="#{label['command.cancel']}" action="#{smsgonderimlogController.onizlemedialogkapat}"
	 						styleClass="commandButton" onclick="previewDialog.hide()" process="@this" />
	 					<br/><p:spacer height="50" />	 		 
 					</p>
				</div>  				
			</p:dialog>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
