<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="smsgonderimlogEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['smsgonderimlog.edit']}"
		rendered="#{smsgonderimlogController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">


			<arf:dropdown rendered="false" label="#{label['smsgonderimlog.kisiRef']}" listSource="#{smsgonderimlogController.selectItemListFor('Kisi')}" requiredCond="true"
				compId="kisiRef" value="#{smsgonderimlogController.smsgonderimlog.kisiRef}" converterId="#{'kisiConverter'}" id="kisiRefDropDown" />

			<arf:calendar label="#{label['smsgonderimlog.tarih']}" value="#{smsgonderimlogController.smsgonderimlog.tarih}" id="tarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="tarih" />

			<arf:dropdown rendered="false" label="#{label['smsgonderimlog.gonderenRef']}" listSource="#{smsgonderimlogController.selectItemListFor('Kisi')}" requiredCond="true"
				compId="gonderenRef" value="#{smsgonderimlogController.smsgonderimlog.gonderenRef}" converterId="#{'kisiConverter'}" id="gonderenRefDropDown" />

			<arf:dropdown label="#{label['smsgonderimlog.durum']}" listSource="#{enumeratedController.gonderimDurumItems}" requiredCond="true" compId="durum"
				value="#{smsgonderimlogController.smsgonderimlog.durum}" id="durumDropDown" addNullOption="true" />

			<arf:textinputarea label="#{label['smsgonderimlog.icerik']}" value="#{smsgonderimlogController.smsgonderimlog.icerik}" compId="icerik" requiredCond="false"
				id="icerikInputText" maxLength="2500" />

			<arf:textinputarea label="#{label['smsgonderimlog.aciklama']}" value="#{smsgonderimlogController.smsgonderimlog.aciklama}" compId="aciklama" requiredCond="false"
				id="aciklamaInputText" maxLength="2500" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{smsgonderimlogController}" formName="smsgonderimlogForm" listPanelName="smsgonderimlogListPanel"
			editPanelName="smsgonderimlogEditPanel" modelName="Smsgonderimlog" />
	</p:fieldset>

</ui:composition>