<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="telefonForm" prependId="false">

				<arf:masterPanel controllerClassName="#{telefonController}" masterLabel="" modelName="telefon" />

				<ui:include src="/_page/form/iletisim/iletisimDetay/telefon_Edit.xhtml" />

				<p:fieldset legend="#{label['telefon.list']}" styleClass="pageFieldSet" id="telefonListPanel">
					<p:blockUI block="telefonTable" trigger="telefonTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="telefonTable" value="#{telefonController.list}" var="telefonRow" binding="#{telefonController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{telefonController.entity}" filteredValue="#{telefonController.filteredList}" widgetVar="filterTable" rowKey="#{telefonRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{telefonController.tableRowSelect}" update=":telefonForm" />
						<p:ajax event="rowUnselect" listener="#{telefonController.tableRowCancelSelection}" update=":telefonForm" />

						<arftags:column val="#{telefonRow.telefonno}" header="#{label['telefon.telefonno']}" width="25" />
						<arftags:column val="#{telefonRow.telefonturu.label}" header="#{label['telefon.telefonturu']}" width="25" />
						<arftags:column val="#{telefonRow.varsayilan.label}" header="#{label['telefon.varsayilan']}" width="25" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{telefonController}" formName="telefonForm" listPanelName="telefonListPanel" pagingOption="false" tableName="telefonTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
