<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="telefonEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['telefon.edit']}" rendered="#{telefonController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:maskinput label="#{label['telefon.telefonno']}" value="#{telefonController.telefon.telefonno}" compId="telefonno" requiredCond="true" id="telefonnoInputText"
				maxLength="30" customValidatorId="#{'phoneValidator'}" mask="0 (999) 999 9999" />

			<arf:dropdown label="#{label['telefon.telefonturu']}" listSource="#{enumeratedController.telefonTuruItems}" requiredCond="false" compId="telefonturu"
				value="#{telefonController.telefon.telefonturu}" id="telefonturuDropDown" />

			<arf:dropdown label="#{label['telefon.varsayilan']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="false" compId="telVarsayilan"
				value="#{telefonController.telefon.varsayilan}" id="telVarsayilanDropDown" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{telefonController}" formName="telefonForm" listPanelName="telefonListPanel" editPanelName="telefonEditPanel"
			modelName="Telefon" />
	</p:fieldset>

</ui:composition>