<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="kisifotografEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kisifotograf.edit']}"
		rendered="#{kisifotografController.editPanelRendered}">
		<h:panelGrid columns="1" styleClass="arfEditGrid" rendered="#{etkinlikdosyaController.editStep == 1}">

			<arf:fileUpload label="#{label['kisifotograf.path']}" requiredCond="true" compId="#{'dosyaRef'}" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" updateComp="@form"
				processComp="@parent" sizeLimit="1500000" controllerClassName="#{kisifotografController}" style="width:800px" />

			<arf:dropdown label="#{label['kisifotograf.varsayilan']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="kisifotografVarsayilan"
				value="#{kisifotografController.kisifotograf.varsayilan}" id="kisifotografVarsayilanDropDown" />
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{kisifotografController}" formName="kisifotografForm" listPanelName="kisifotografListPanel"
			editPanelName="kisifotografEditPanel" modelName="Kisifotograf" />
	</p:fieldset>

</ui:composition>