<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="kisiizinForm" prependId="false">

				<arf:masterPanel controllerClassName="#{kisiizinController}" masterLabel="#{label['kisi.list']}" modelName="kisiizin" />

				<ui:include src="/_page/form/kisi/kisiDetay/kisiizin_Edit.xhtml" />

				<p:fieldset id="kisiizinFilterPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['kisiizin.query']}" rendered="#{!kisiizinController.editPanelRendered}">
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

						<arf:dropdownForFilter label="#{label['kisiizin.evrakRef']}" listSource="#{kisiizinController.selectItemListFor('Evrak')}" requiredCond="false"
							compId="evrakRefForFilter" value="#{kisiizinController.kisiizinFilter.evrakRef}" converterId="#{'evrakConverter'}" id="evrakRefForFilterDropDown" />
						<arf:doubleCalendarForFilter label="#{label['kisiizin.baslangictarih']}" value="#{kisiizinController.kisiizinFilter.baslangictarih}"
							valueMax="#{kisiizinController.kisiizinFilter.baslangictarihMax}" id="baslangictarihForFilterCalendar" pattern="#{configurationController.datePattern}"
							requiredCond="false" compId="baslangictarih" />
						<arf:doubleCalendarForFilter label="#{label['kisiizin.bitistarih']}" value="#{kisiizinController.kisiizinFilter.bitistarih}"
							valueMax="#{kisiizinController.kisiizinFilter.bitistarihMax}" id="bitistarihForFilterCalendar" pattern="#{configurationController.datePattern}" requiredCond="false"
							compId="bitistarih" />
						<arf:dropdownForFilter label="#{label['kisiizin.kisiizindurum']}" listSource="#{enumeratedController.kisiIzinDurumItems}" requiredCond="false"
							compId="kisiizindurumForFilter" value="#{kisiizinController.kisiizinFilter.kisiizindurum}" id="kisiizindurumForFilterDropDown" addNullOption="true" />
					</h:panelGrid>
					<arf:filterBottomWithBlockUI controllerClassName="#{kisiizinController}" formName="kisiizinForm" listPanelName="kisiizinListPanel" filterPanelName="kisiizinFilterPanel"
						modelName="Kisiizin" />
				</p:fieldset>

				<p:fieldset legend="#{label['kisiizin.list']}" styleClass="pageFieldSet" id="kisiizinListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="kisiizinTable" trigger="kisiizinTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kisiizinTable" value="#{kisiizinController.list}" var="kisiizinRow" binding="#{kisiizinController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{kisiizinController.entity}" filteredValue="#{kisiizinController.filteredList}" widgetVar="filterTable" rowKey="#{kisiizinRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{kisiizinController.tableRowSelect}" update=":kisiizinForm" />
						<p:ajax event="rowUnselect" listener="#{kisiizinController.tableRowCancelSelection}" update=":kisiizinForm" />

						<arftags:column val="#{kisiizinRow.evrakRef.UIString}" header="#{label['kisiizin.evrakRef']}" width="16" />
						<arftags:dateColumn val="#{kisiizinRow.baslangictarih}" header="#{label['kisiizin.baslangictarih']}" width="16" />
						<arftags:dateColumn val="#{kisiizinRow.bitistarih}" header="#{label['kisiizin.bitistarih']}" width="16" />
						<arftags:column val="#{kisiizinRow.kisiizindurum.label}" header="#{label['kisiizin.kisiizindurum']}" width="16" />
						<arftags:column val="#{kisiizinRow.aciklama}" header="#{label['kisiizin.aciklama']}" width="16" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{kisiizinController}" formName="kisiizinForm" listPanelName="kisiizinListPanel" pagingOption="true" tableName="kisiizinTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
