<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="kisikimlikForm" prependId="false">

				<arf:masterPanel controllerClassName="#{kisikimlikController}" masterLabel="#{label['kisi.list']}" modelName="kisikimlik" />

				<ui:include src="/_page/form/kisi/kisiDetay/kisikimlik_Edit.xhtml" />

				<p:fieldset legend="#{label['kisikimlik.list']}" styleClass="pageFieldSet" id="kisikimlikListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="kisikimlikTable" trigger="kisikimlikTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kisikimlikTable" value="#{kisikimlikController.list}" var="kisikimlikRow" binding="#{kisikimlikController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{kisikimlikController.entity}" filteredValue="#{kisikimlikController.filteredList}" widgetVar="filterTable"
						rowKey="#{kisikimlikRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{kisikimlikController.tableRowSelect}" update=":kisikimlikForm" />
						<p:ajax event="rowUnselect" listener="#{kisikimlikController.tableRowCancelSelection}" update=":kisikimlikForm" />

						<arftags:column val="#{kisikimlikRow.kimlikno}" header="#{label['kisikimlik.kimlikno']}" width="4" />
						<arftags:column val="#{kisikimlikRow.annetckimlikno}" header="#{label['kisikimlik.annetckimlikno']}" width="4" />
						<arftags:column val="#{kisikimlikRow.babatckimlikno}" header="#{label['kisikimlik.babatckimlikno']}" width="4" />
						<arftags:column val="#{kisikimlikRow.estckimlikno}" header="#{label['kisikimlik.estckimlikno']}" width="4" />
						<arftags:column val="#{kisikimlikRow.babaad}" header="#{label['kisikimlik.babaad']}" width="4" />
						<arftags:column val="#{kisikimlikRow.anaad}" header="#{label['kisikimlik.anaad']}" width="4" />
						<arftags:column val="#{kisikimlikRow.dogumyer}" header="#{label['kisikimlik.dogumyer']}" width="4" />
						<arftags:dateColumn val="#{kisikimlikRow.dogumtarih}" header="#{label['kisikimlik.dogumtarih']}" width="4" />
						<arftags:dateColumn val="#{kisikimlikRow.olumtarih}" header="#{label['kisikimlik.olumtarih']}" width="4" />
						<arftags:column val="#{kisikimlikRow.cinsiyet.label}" header="#{label['kisikimlik.cinsiyet']}" width="4" />
						<arftags:column val="#{kisikimlikRow.kangrup.label}" header="#{label['kisikimlik.kangrup']}" width="4" />
						<arftags:column val="#{kisikimlikRow.medenihal.label}" header="#{label['kisikimlik.medenihal']}" width="4" />
						<arftags:column val="#{kisikimlikRow.sehirRef.UIString}" header="#{label['kisikimlik.sehirRef']}" width="4" />
						<arftags:column val="#{kisikimlikRow.ilceRef.UIString}" header="#{label['kisikimlik.ilceRef']}" width="4" />
						<arftags:column val="#{kisikimlikRow.ciltno}" header="#{label['kisikimlik.ciltno']}" width="4" />
						<arftags:column val="#{kisikimlikRow.aileno}" header="#{label['kisikimlik.aileno']}" width="4" />
						<arftags:column val="#{kisikimlikRow.sirano}" header="#{label['kisikimlik.sirano']}" width="4" />
						<arftags:column val="#{kisikimlikRow.kisidurum.label}" header="#{label['kisikimlik.kisidurum']}" width="14" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{kisikimlikController}" formName="kisikimlikForm" listPanelName="kisikimlikListPanel" pagingOption="false"
						tableName="kisikimlikTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
