<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="kisiuyrukForm" prependId="false">

				<arf:masterPanel controllerClassName="#{kisiuyrukController}" masterLabel="#{label['kisi.list']}" modelName="kisiuyruk" />

				<ui:include src="/_page/form/kisi/kisiDetay/kisiuyruk_Edit.xhtml" />

				<p:fieldset legend="#{label['kisiuyruk.list']}" styleClass="pageFieldSet" id="kisiuyrukListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="kisiuyrukTable" trigger="kisiuyrukTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kisiuyrukTable" value="#{kisiuyrukController.list}" var="kisiuyrukRow" binding="#{kisiuyrukController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{kisiuyrukController.entity}" filteredValue="#{kisiuyrukController.filteredList}" widgetVar="filterTable"
						rowKey="#{kisiuyrukRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{kisiuyrukController.tableRowSelect}" update=":kisiuyrukForm" />
						<p:ajax event="rowUnselect" listener="#{kisiuyrukController.tableRowCancelSelection}" update=":kisiuyrukForm" />

						<arftags:column val="#{kisiuyrukRow.ulkeRef.UIString}" header="#{label['kisiuyruk.ulkeRef']}" width="33" />
						<arftags:column val="#{kisiuyrukRow.uyruktip.label}" header="#{label['kisiuyruk.uyruktip']}" width="33" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{kisiuyrukController}" formName="kisiuyrukForm" listPanelName="kisiuyrukListPanel" pagingOption="false"
						tableName="kisiuyrukTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
