<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="kisiuyrukEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kisiuyruk.edit']}" rendered="#{kisiuyrukController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['kisiuyruk.ulkeRef']}" listSource="#{kisiuyrukController.selectItemListFor('Ulke')}" requiredCond="false" compId="ulkeRef"
				value="#{kisiuyrukController.kisiuyruk.ulkeRef}" converterId="#{'ulkeConverter'}" id="ulkeRefDropDown" />

			<arf:dropdown label="#{label['kisiuyruk.uyruktip']}" listSource="#{enumeratedController.kisiUyrukTipItems}" requiredCond="false" compId="uyruktip"
				value="#{kisiuyrukController.kisiuyruk.uyruktip}" id="uyruktipDropDown" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{kisiuyrukController}" formName="kisiuyrukForm" listPanelName="kisiuyrukListPanel" editPanelName="kisiuyrukEditPanel"
			modelName="Kisiuyruk" />
	</p:fieldset>

</ui:composition>