<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="kisiizinEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kisiizin.edit']}" rendered="#{kisiizinController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">


			<arf:dropdown label="#{label['kisiizin.evrakRef']}" listSource="#{kisiizinController.selectItemListFor('Evrak')}" requiredCond="true" compId="evrakRef"
				value="#{kisiizinController.kisiizin.evrakRef}" converterId="#{'evrakConverter'}" id="evrakRefDropDown" />

			<arf:calendar label="#{label['kisiizin.baslangictarih']}" value="#{kisiizinController.kisiizin.baslangictarih}" id="baslangictarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="baslangictarih" />

			<arf:calendar label="#{label['kisiizin.bitistarih']}" value="#{kisiizinController.kisiizin.bitistarih}" id="bitistarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="bitistarih" />

			<arf:dropdown label="#{label['kisiizin.kisiizindurum']}" listSource="#{enumeratedController.kisiIzinDurumItems}" requiredCond="false" compId="kisiizindurum"
				value="#{kisiizinController.kisiizin.kisiizindurum}" id="kisiizindurumDropDown" />

			<arf:textinput label="#{label['kisiizin.aciklama']}" value="#{kisiizinController.kisiizin.aciklama}" compId="aciklama" requiredCond="false" id="aciklamaInputText"
				maxLength="200" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{kisiizinController}" formName="kisiizinForm" listPanelName="kisiizinListPanel" editPanelName="kisiizinEditPanel"
			modelName="Kisiizin" />
	</p:fieldset>

</ui:composition>