<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="kisikimlikEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kisikimlik.edit']}" rendered="#{kisikimlikController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:textinput label="#{label['kisikimlik.kimlikno']}" value="#{kisikimlikController.kisikimlik.kimlikno}" compId="kimlikno" requiredCond="true" id="kimliknoInputText"
				maxLength="20" />
			<arf:textinput label="#{label['kisikimlik.annetckimlikno']}" value="#{kisikimlikController.kisikimlik.annetckimlikno}" compId="annetckimlikno" requiredCond="false"
				id="annetckimliknoInputText" maxLength="20" />
			<arf:textinput label="#{label['kisikimlik.babatckimlikno']}" value="#{kisikimlikController.kisikimlik.babatckimlikno}" compId="babatckimlikno" requiredCond="false"
				id="babatckimliknoInputText" maxLength="20" />
			<arf:textinput label="#{label['kisikimlik.estckimlikno']}" value="#{kisikimlikController.kisikimlik.estckimlikno}" compId="estckimlikno" requiredCond="false"
				id="estckimliknoInputText" maxLength="20" />
			<arf:textinput label="#{label['kisikimlik.babaad']}" value="#{kisikimlikController.kisikimlik.babaad}" compId="babaad" requiredCond="true" id="babaadInputText"
				maxLength="20" />
			<arf:textinput label="#{label['kisikimlik.anaad']}" value="#{kisikimlikController.kisikimlik.anaad}" compId="anaad" requiredCond="true" id="anaadInputText" maxLength="20" />
			<arf:textinput label="#{label['kisikimlik.dogumyer']}" value="#{kisikimlikController.kisikimlik.dogumyer}" compId="dogumyer" requiredCond="true" id="dogumyerInputText"
				maxLength="20" />
			<arf:calendar label="#{label['kisikimlik.dogumtarih']}" value="#{kisikimlikController.kisikimlik.dogumtarih}" id="dogumtarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="dogumtarih" />
			<arf:calendar label="#{label['kisikimlik.olumtarih']}" value="#{kisikimlikController.kisikimlik.olumtarih}" id="olumtarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="false" compId="olumtarih" />
			<arf:dropdown label="#{label['kisikimlik.cinsiyet']}" listSource="#{enumeratedController.cinsiyetItems}" requiredCond="false" compId="cinsiyet"
				value="#{kisikimlikController.kisikimlik.cinsiyet}" id="cinsiyetDropDown" />
			<arf:dropdown label="#{label['kisikimlik.kangrup']}" listSource="#{enumeratedController.kanGrubuItems}" requiredCond="false" compId="kangrup"
				value="#{kisikimlikController.kisikimlik.kangrup}" id="kangrupDropDown" />
			<arf:dropdown label="#{label['kisikimlik.medenihal']}" listSource="#{enumeratedController.medeniHalItems}" requiredCond="true" compId="medeniHal"
				value="#{kisikimlikController.kisikimlik.medenihal}" id="medeniHalDropDown" />
			<arf:dropdown label="#{label['kisikimlik.sehirRef']}" listSource="#{sessionUser.sehirItemList}" requiredCond="true" compId="sehirRef"
				value="#{kisikimlikController.kisikimlik.sehirRef}" converterId="#{'sehirConverter'}" id="sehirRefDropDown" />
			<arf:dropdown label="#{label['kisikimlik.ilceRef']}" listSource="#{kisikimlikController.selectItemListFor('Ilce')}" requiredCond="true" compId="ilceRef"
				value="#{kisikimlikController.kisikimlik.ilceRef}" converterId="#{'ilceConverter'}" id="ilceRefDropDown" />
			<arf:textinput label="#{label['kisikimlik.mahalle']}" value="#{kisikimlikController.kisikimlik.mahalle}" compId="mahalle" requiredCond="true" id="mahalleInputText"
				maxLength="15" />
			<arf:textinput label="#{label['kisikimlik.ciltno']}" value="#{kisikimlikController.kisikimlik.ciltno}" compId="ciltno" requiredCond="true" id="ciltnoInputText"
				maxLength="15" />
			<arf:textinput label="#{label['kisikimlik.aileno']}" value="#{kisikimlikController.kisikimlik.aileno}" compId="aileno" requiredCond="true" id="ailenoInputText"
				maxLength="10" />
			<arf:textinput label="#{label['kisikimlik.sirano']}" value="#{kisikimlikController.kisikimlik.sirano}" compId="sirano" requiredCond="true" id="siranoInputText"
				maxLength="5" />
			<arf:textinput label="#{label['kisikimlik.kayitno']}" value="#{kisikimlikController.kisikimlik.kayitno}" compId="kayitno" requiredCond="true" id="kayitnoInputText"
				maxLength="10" />
			<arf:dropdown label="#{label['kisikimlik.kisidurum']}" listSource="#{enumeratedController.kisiDurumItems}" requiredCond="false" compId="kisidurum"
				value="#{kisikimlikController.kisikimlik.kisidurum}" id="kisidurumDropDown" />
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{kisikimlikController}" formName="kisikimlikForm" listPanelName="kisikimlikListPanel"
			editPanelName="kisikimlikEditPanel" modelName="Kisikimlik" />
	</p:fieldset>

</ui:composition>