<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="kisifotografForm" prependId="false">

				<arf:masterPanel controllerClassName="#{kisifotografController}" masterLabel="#{label['kisi.list']}" modelName="kisifotograf" />

				<ui:include src="/_page/form/kisi/kisiDetay/kisifotograf_Edit.xhtml" />

				<p:fieldset legend="#{label['kisifotograf.list']}" styleClass="pageFieldSet" id="kisifotografListPanel">
					<div id="divleft">
						<p:blockUI block="kisifotografTable" trigger="kisifotografTable">
							<h:outputText value="#{label['common.loading']}" />
							<br />
							<h:graphicImage library="_image" name="ajax-loader.gif" />
						</p:blockUI>
						<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kisifotografTable" value="#{kisifotografController.list}" var="kisifotografRow" binding="#{kisifotografController.table}"
							rowIndexVar="rowIndex" selectionMode="single" selection="#{kisifotografController.entity}" filteredValue="#{kisifotografController.filteredList}"
							widgetVar="filterTable" rowKey="#{kisifotografRow.RID}" resizableColumns="false">

							<p:ajax event="rowSelect" listener="#{kisifotografController.tableRowSelect}" update=":kisifotografForm" />
							<p:ajax event="rowUnselect" listener="#{kisifotografController.tableRowCancelSelection}" update=":kisifotografForm" />

							<arftags:column val="#{kisifotografRow.kisiRef.UIString}" header="#{label['kisifotograf.kisiRef']}" width="40"></arftags:column>
							<arftags:imagePreviewColumn file="#{kisifotografRow.path}" path="kisifotograf" />
							<arftags:column val="#{kisifotografRow.varsayilan.label}" header="#{label['kisifotograf.varsayilan']}" width="25" />
						</p:dataTable>

						<arf:pagingWithBlockUI controllerClassName="#{kisifotografController}" formName="kisifotografForm" listPanelName="kisifotografListPanel" pagingOption="false"
							tableName="kisifotografTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
					</div>
					<div id="divright">
						<arftags:fullSizeImageViewer file="#{kisifotografController.kisifotograf.path}" path="kisifotograf" renderCondition="#{kisifotografController.detailRendered}" />
					</div>
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
