<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="komisyonDonemToplantiTutanakEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['komisyonDonemToplantiTutanak.edit']}"
		rendered="#{komisyonDonemToplantiTutanakController.editPanelRendered}">
		<h:panelGrid columns="1" styleClass="arfEditGrid">

			<arf:textinput label="#{label['komisyonDonemToplantiTutanak.dosyaadi']}" value="#{komisyonDonemToplantiTutanakController.komisyonDonemToplantiTutanak.dosyaadi}"
				compId="dosyaadi" requiredCond="true" id="dosyaadiInputText" maxLength="100" />
			<arf:textinputarea label="#{label['komisyonDonemToplantiTutanak.aciklama']}" value="#{komisyonDonemToplantiTutanakController.komisyonDonemToplantiTutanak.aciklama}"
				compId="aciklama" requiredCond="false" id="aciklamaInputTextArea" maxLength="200" />
			<arf:textoutput label="#{label['komisyonDonemToplantiTutanak.yukleyenRef']}"
				value="#{komisyonDonemToplantiTutanakController.komisyonDonemToplantiTutanak.yukleyenRef.UIString}" />

			<arf:fileUpload label="#{label['komisyonDonemToplantiTutanak.path']}" requiredCond="true" compId="#{'komisyonDonemToplantiTutanakRef'}"
				allowTypes="/(\.|\/)(pdf|doc?x|xls?x|jpe?g|gif|png)$/" updateComp="@parent" processComp="@parent" sizeLimit="1500000"
				controllerClassName="#{komisyonDonemToplantiTutanakController}" style="width:800px" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{komisyonDonemToplantiTutanakController}" formName="komisyonDonemToplantiTutanakForm"
			listPanelName="komisyonDonemToplantiTutanakListPanel" editPanelName="komisyonDonemToplantiTutanakEditPanel" modelName="KomisyonDonemToplantiTutanak" />
	</p:fieldset>

</ui:composition>