<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="komisyonDonemToplantiForm" prependId="false">
				<arf:masterPanel controllerClassName="#{komisyonDonemToplantiController}" masterLabel="#{label['komisyonDonem.list']}" modelName="komisyonDonemToplanti" />
				<ui:include src="/_page/form/kisi/kisiDetay/komisyonDonemToplanti_Edit.xhtml" />
				<p:fieldset legend="#{label['komisyonDonemToplanti.list']}" styleClass="pageFieldSet" id="komisyonDonemToplantiListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
						<p:commandButton id="komisyonDonemToplantiTutanakCommand" process="@this" icon="tutanak" action="#{komisyonDonemToplantiController.komisyonDonemToplantiTutanak}"
							rendered="#{komisyonDonemToplantiController.listRenderedFor('KomisyonDonemToplantiTutanak')}"
							disabled="#{komisyonDonemToplantiController.komisyonDonemToplanti.RID == null}" value="#{label['command.komisyonDonemToplantiTutanak']}" styleClass="arfCommandButton" />

						<p:commandButton id="komisyonDonemToplantiKatilimciCommand" process="@this" icon="uye" action="#{komisyonDonemToplantiController.komisyonDonemToplantiKatilimci}"
							rendered="#{komisyonDonemToplantiController.listRenderedFor('KomisyonDonemToplantiKatilimci')}"
							disabled="#{komisyonDonemToplantiController.komisyonDonemToplanti.RID == null}" value="#{label['command.komisyonDonemToplantiKatilimci']}" styleClass="arfCommandButton" />
					</h:panelGrid>
					<p:blockUI block="komisyonDonemToplantiTable" trigger="komisyonDonemToplantiTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="komisyonDonemToplantiTable" value="#{komisyonDonemToplantiController.list}" var="komisyonDonemToplantiRow"
						binding="#{komisyonDonemToplantiController.table}" rowIndexVar="rowIndex" selectionMode="single" selection="#{komisyonDonemToplantiController.entity}"
						filteredValue="#{komisyonDonemToplantiController.filteredList}" widgetVar="filterTable" rowKey="#{komisyonDonemToplantiRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{komisyonDonemToplantiController.tableRowSelect}" update=":komisyonDonemToplantiForm" />
						<p:ajax event="rowUnselect" listener="#{komisyonDonemToplantiController.tableRowCancelSelection}" update=":komisyonDonemToplantiForm" />

						<arftags:dateTimeColumn val ="#{komisyonDonemToplantiRow.tarih}" header="#{label['komisyonDonemToplanti.tarih']}" width="33" />
						<arftags:column val="#{komisyonDonemToplantiRow.toplantituru.label}" header="#{label['komisyonDonemToplanti.toplantituru']}" width="33" />
						<arftags:column val="#{komisyonDonemToplantiRow.toplantiYeri}" header="#{label['komisyonDonemToplanti.toplantiYeri']}" width="33" />
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{komisyonDonemToplantiController}" formName="komisyonDonemToplantiForm" listPanelName="komisyonDonemToplantiListPanel"
						pagingOption="true" tableName="komisyonDonemToplantiTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false"
						exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
