<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="komisyonDonemToplantiEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['komisyonDonemToplanti.edit']}"
		rendered="#{komisyonDonemToplantiController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">


			<arf:calendar label="#{label['komisyonDonemToplanti.tarih']}" value="#{komisyonDonemToplantiController.komisyonDonemToplanti.tarih}" id="tarihCalendar"
				pattern="#{configurationController.dateTimePattern}" requiredCond="true" compId="tarih" />

			<arf:dropdown label="#{label['komisyonDonemToplanti.toplantituru']}" listSource="#{enumeratedController.toplantiTuruItems}" requiredCond="true" compId="toplantituru"
				value="#{komisyonDonemToplantiController.komisyonDonemToplanti.toplantituru}" id="toplantituruDropDown" addNullOption="true" />
			<arf:textinput label="#{label['komisyonDonemToplanti.toplantiYeri']}" value="#{komisyonDonemToplantiController.komisyonDonemToplanti.toplantiYeri}" compId="toplantiYeri"
				requiredCond="false" id="toplantiYeriInputText" maxLength="255" />
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{komisyonDonemToplantiController}" formName="komisyonDonemToplantiForm" listPanelName="komisyonDonemToplantiListPanel"
			editPanelName="komisyonDonemToplantiEditPanel" modelName="KomisyonDonemToplanti" />
	</p:fieldset>

</ui:composition>