<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="komisyonDonemToplantiKatilimciForm" prependId="false">
				<arf:masterPanel controllerClassName="#{komisyonDonemToplantiKatilimciController}" masterLabel="#{label['komisyonDonemToplantiKatilimci.list']}"
					modelName="komisyonDonemToplantiKatilimci" />
				<ui:include src="/_page/form/kisi/kisiDetay/komisyonDonemToplantiKatilimci_Edit.xhtml" />

				<p:fieldset legend="#{label['komisyonDonemToplantiKatilimci.list']}" styleClass="pageFieldSet" id="komisyonDonemToplantiKatilimciListPanel">
					<p:blockUI block="komisyonDonemToplantiKatilimciTable" trigger="komisyonDonemToplantiKatilimciTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="komisyonDonemToplantiKatilimciTable" value="#{komisyonDonemToplantiKatilimciController.list}"
						var="komisyonDonemToplantiKatilimciRow" binding="#{komisyonDonemToplantiKatilimciController.table}" rowIndexVar="rowIndex" selectionMode="single"
						selection="#{komisyonDonemToplantiKatilimciController.entity}" filteredValue="#{komisyonDonemToplantiKatilimciController.filteredList}" widgetVar="filterTable"
						rowKey="#{komisyonDonemToplantiKatilimciRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{komisyonDonemToplantiKatilimciController.tableRowSelect}" update=":komisyonDonemToplantiKatilimciForm" />
						<p:ajax event="rowUnselect" listener="#{komisyonDonemToplantiKatilimciController.tableRowCancelSelection}" update=":komisyonDonemToplantiKatilimciForm" />

						<arftags:column val="#{komisyonDonemToplantiKatilimciRow.komisyonDonemUyeRef.uyeRef.sicilno}" header="#{label['komisyonDonemToplantiKatilimci.sicilno']}" width="20" />
						<arftags:column val="#{komisyonDonemToplantiKatilimciRow.komisyonDonemUyeRef.UIString}" header="#{label['komisyonDonemToplantiKatilimci.komisyonDonemUyeRef']}"
							width="20" />
						<arftags:column val="#{komisyonDonemToplantiKatilimciRow.katilim.label}" header="#{label['komisyonDonemToplantiKatilimci.katilim']}" width="20" />
						<arftags:column val="#{komisyonDonemToplantiKatilimciRow.komisyonDonemUyeRef.komisyonGorev.label}" header="#{label['komisyonDonemToplantiKatilimci.gorevTuru']}"
							width="20" />
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{komisyonDonemToplantiKatilimciController}" formName="komisyonDonemToplantiKatilimciForm"
						listPanelName="komisyonDonemToplantiKatilimciListPanel" pagingOption="true" tableName="komisyonDonemToplantiKatilimciTable" addExport="true" addOption="true"
						updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
