<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="komisyonDonemToplantiTutanakForm" prependId="false">
				<arf:masterPanel controllerClassName="#{komisyonDonemToplantiTutanakController}" masterLabel="#{label['komisyonDonemToplanti.list']}"
					modelName="komisyonDonemToplantiTutanak" />
				<ui:include src="/_page/form/kisi/kisiDetay/komisyonDonemToplantiTutanak_Edit.xhtml" />
				<p:fieldset legend="#{label['komisyonDonemToplantiTutanak.list']}" styleClass="pageFieldSet" id="komisyonDonemToplantiTutanakListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="komisyonDonemToplantiTutanakTable" trigger="komisyonDonemToplantiTutanakTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="komisyonDonemToplantiTutanakTable" value="#{komisyonDonemToplantiTutanakController.list}" var="komisyonDonemToplantiTutanakRow"
						binding="#{komisyonDonemToplantiTutanakController.table}" rowIndexVar="rowIndex" selectionMode="single" selection="#{komisyonDonemToplantiTutanakController.entity}"
						filteredValue="#{komisyonDonemToplantiTutanakController.filteredList}" widgetVar="filterTable" rowKey="#{komisyonDonemToplantiTutanakRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{komisyonDonemToplantiTutanakController.tableRowSelect}" update=":komisyonDonemToplantiTutanakForm" />
						<p:ajax event="rowUnselect" listener="#{komisyonDonemToplantiTutanakController.tableRowCancelSelection}" update=":komisyonDonemToplantiTutanakForm" />

						<arftags:column val="#{komisyonDonemToplantiTutanakRow.dosyaadi}" header="#{label['komisyonDonemToplantiTutanak.dosyaadi']}" width="25" />
						<arftags:column val="#{komisyonDonemToplantiTutanakRow.aciklama}" header="#{label['komisyonDonemToplantiTutanak.aciklama']}" width="25" />
						<arftags:column val="#{komisyonDonemToplantiTutanakRow.yukleyenRef.UIString}" header="#{label['komisyonDonemToplantiTutanak.yukleyenRef']}" width="25" />
						<arftags:downloadColumn val="#{komisyonDonemToplantiTutanakRow}" width="25" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{komisyonDonemToplantiTutanakController}" formName="komisyonDonemToplantiTutanakForm"
						listPanelName="komisyonDonemToplantiTutanakListPanel" pagingOption="true" tableName="komisyonDonemToplantiTutanakTable" addExport="true" addOption="true"
						updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
