<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="komisyonDonemToplantiKatilimciEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['komisyonDonemToplantiKatilimci.edit']}"
		rendered="#{komisyonDonemToplantiKatilimciController.editPanelRendered}">

		<p:panel header="Dönem Komisyon Toplantı Katılımcıları Girişi" toggleable="true">
			<h:panelGrid columns="2" styleClass="arfEditGrid">

				<arf:picklist value="#{komisyonDonemToplantiKatilimciController.dualList}" label="#{label['komisyonDonemToplantiKatilimci.komisyonDonemUyeRef']}" var="komisyonDonemUye"
					itemLabel="#{komisyonDonemUye.UIString}" itemValue="#{komisyonDonemUye}" converterId="komisyonDonemUyeConverter" requiredCond="false" style="margin-left:50px"
					sourceCaption="Komisyon Üyeleri" targetCaption="Seçilenler" compId="komisyonDonemUye" id="komisyonDonemUyePicklist" />

			</h:panelGrid>
		</p:panel>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{komisyonDonemToplantiKatilimciController}" formName="komisyonDonemToplantiKatilimciForm"
			listPanelName="komisyonDonemToplantiKatilimciListPanel" editPanelName="komisyonDonemToplantiKatilimciEditPanel" modelName="komisyonDonemToplantiKatilimci" />
	</p:fieldset>

</ui:composition>
