<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="kurulDonemToplantiKatilimciEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kurulDonemToplantiKatilimci.edit']}"
		rendered="#{kurulDonemToplantiKatilimciController.editPanelRendered}">

		<p:panel header="Dönem Kurulu Toplantı Katılımcıları Girişi" toggleable="true">
			<h:panelGrid columns="2" styleClass="arfEditGrid">

				<arf:picklist value="#{kurulDonemToplantiKatilimciController.dualList}" label="#{label['kurulDonemToplantiKatilimci.kurulDonemUyeRef']}" var="kurulDonemUye"
					itemLabel="#{kurulDonemUye.UIString}" itemValue="#{kurulDonemUye}" converterId="kurulDonemUyeConverter" requiredCond="false" style="margin-left:50px"
					sourceCaption="Kurul Üyeleri" targetCaption="Seçilenler" compId="kurulDonemUye" id="kurulDonemUyePicklist" />

			</h:panelGrid>
		</p:panel>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{kurulDonemToplantiKatilimciController}" formName="kurulDonemToplantiKatilimciForm"
			listPanelName="kurulDonemToplantiKatilimciListPanel" editPanelName="kurulDonemToplantiKatilimciEditPanel" modelName="kurulDonemToplantiKatilimci" />
	</p:fieldset>

</ui:composition>
