<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="kurulDonemToplantiTutanakForm" prependId="false">

				<arf:masterPanel controllerClassName="#{kurulDonemToplantiTutanakController}" masterLabel="#{label['kurulDonemToplanti.list']}" modelName="kurulDonemToplantiTutanak" />

				<ui:include src="/_page/form/kisi/kisiDetay/kurulDonemToplantiTutanak_Edit.xhtml" />

				<p:fieldset legend="#{label['kurulDonemToplantiTutanak.list']}" styleClass="pageFieldSet" id="kurulDonemToplantiTutanakListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="kurulDonemToplantiTutanakTable" trigger="kurulDonemToplantiTutanakTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kurulDonemToplantiTutanakTable" value="#{kurulDonemToplantiTutanakController.list}" var="kurulDonemToplantiTutanakRow"
						binding="#{kurulDonemToplantiTutanakController.table}" rowIndexVar="rowIndex" selectionMode="single" selection="#{kurulDonemToplantiTutanakController.entity}"
						filteredValue="#{kurulDonemToplantiTutanakController.filteredList}" widgetVar="filterTable" rowKey="#{kurulDonemToplantiTutanakRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{kurulDonemToplantiTutanakController.tableRowSelect}" update=":kurulDonemToplantiTutanakForm" />
						<p:ajax event="rowUnselect" listener="#{kurulDonemToplantiTutanakController.tableRowCancelSelection}" update=":kurulDonemToplantiTutanakForm" />

						<arftags:column val="#{kurulDonemToplantiTutanakRow.dosyaadi}" header="#{label['kurulDonemToplantiTutanak.dosyaadi']}" width="25" />
						<arftags:column val="#{kurulDonemToplantiTutanakRow.aciklama}" header="#{label['kurulDonemToplantiTutanak.aciklama']}" width="25" />
						<arftags:column val="#{kurulDonemToplantiTutanakRow.yukleyenRef.UIString}" header="#{label['kurulDonemToplantiTutanak.yukleyenRef']}" width="25" />
						<arftags:downloadColumn val="#{kurulDonemToplantiTutanakRow}" width="25" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{kurulDonemToplantiTutanakController}" formName="kurulDonemToplantiTutanakForm"
						listPanelName="kurulDonemToplantiTutanakListPanel" pagingOption="true" tableName="kurulDonemToplantiTutanakTable" addExport="true" addOption="true" updateOption="true"
						deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
