<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="kurulDonemToplantiTutanakEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kurulDonemToplantiTutanak.edit']}"
		rendered="#{kurulDonemToplantiTutanakController.editPanelRendered}">
		<h:panelGrid columns="1" styleClass="arfEditGrid">
			<arf:textinput label="#{label['kurulDonemToplantiTutanak.dosyaadi']}" value="#{kurulDonemToplantiTutanakController.kurulDonemToplantiTutanak.dosyaadi}"
				compId="kurulDonemToplantiTutanak" requiredCond="true" id="kurulDonemToplantiTutanakInputText" maxLength="50" />
			<arf:textinputarea label="#{label['kurulDonemToplantiTutanak.aciklama']}" value="#{kurulDonemToplantiTutanakController.kurulDonemToplantiTutanak.aciklama}"
				compId="aciklama" requiredCond="false" id="aciklamaInputTextArea" maxLength="200" />
			<arf:textoutput label="#{label['kurulDonemToplantiTutanak.yukleyenRef']}" value="#{kurulDonemToplantiTutanakController.kurulDonemToplantiTutanak.yukleyenRef.UIString}" />

		</h:panelGrid>

		<h:panelGrid columns="2" styleClass="arfEditGrid">
			<arf:fileUpload label="#{label['kurulDonemToplantiTutanak.path']}" requiredCond="true" compId="#{'kurulDonemToplantiTutanakRef'}"
				allowTypes="/(\.|\/)(pdf|doc?x|xls?x|jpe?g|gif|png)$/" updateComp="@parent :kurulDonemToplantiTutanakForm:filenamePanel" processComp="@parent" sizeLimit="1500000"
				controllerClassName="#{kurulDonemToplantiTutanakController}" style="width:800px" />
			<p:outputPanel id="filenamePanel" rendered="true">
				<h:outputText value="#{kurulDonemToplantiTutanakController.filename}" id="dosyaaditext" />
			</p:outputPanel>
		</h:panelGrid>
		<arf:editPanelBottomWithBlockUI controllerClassName="#{kurulDonemToplantiTutanakController}" formName="kurulDonemToplantiTutanakForm"
			listPanelName="kurulDonemToplantiTutanakListPanel" editPanelName="kurulDonemToplantiTutanakEditPanel" modelName="KurulDonemToplantiTutanak" />
	</p:fieldset>

</ui:composition>