<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="kurulDonemToplantiForm" prependId="false">
				<arf:masterPanel controllerClassName="#{kurulDonemToplantiController}" masterLabel="#{label['kurulDonem.list']}" modelName="kurulDonemToplanti" />
				<ui:include src="/_page/form/kisi/kisiDetay/kurulDonemToplanti_Edit.xhtml" />
				<p:fieldset legend="#{label['kurulDonemToplanti.list']}" styleClass="pageFieldSet" id="kurulDonemToplantiListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
						<p:commandButton id="kurulDonemToplantiTutanakCommand" process="@this" icon="tutanak" action="#{kurulDonemToplantiController.kurulDonemToplantiTutanak}"
							rendered="#{kurulDonemToplantiController.listRenderedFor('KurulDonemToplantiTutanak')}" disabled="#{kurulDonemToplantiController.kurulDonemToplanti.RID == null}"
							value="#{label['command.kurulDonemToplantiTutanak']}" styleClass="arfCommandButton" />

						<p:commandButton id="kurulDonemToplantiKatilimciCommand" process="@this" icon="uye" action="#{kurulDonemToplantiController.kurulDonemToplantiKatilimci}"
							rendered="#{kurulDonemToplantiController.listRenderedFor('KurulDonemToplantiKatilimci')}" disabled="#{kurulDonemToplantiController.kurulDonemToplanti.RID == null}"
							value="#{label['command.kurulDonemToplantiKatilimci']}" styleClass="arfCommandButton" />

					</h:panelGrid>
					<p:blockUI block="kurulDonemToplantiTable" trigger="kurulDonemToplantiTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kurulDonemToplantiTable" value="#{kurulDonemToplantiController.list}" var="kurulDonemToplantiRow"
						binding="#{kurulDonemToplantiController.table}" rowIndexVar="rowIndex" selectionMode="single" selection="#{kurulDonemToplantiController.entity}"
						filteredValue="#{kurulDonemToplantiController.filteredList}" widgetVar="filterTable" rowKey="#{kurulDonemToplantiRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{kurulDonemToplantiController.tableRowSelect}" update=":kurulDonemToplantiForm" />
						<p:ajax event="rowUnselect" listener="#{kurulDonemToplantiController.tableRowCancelSelection}" update=":kurulDonemToplantiForm" />

						<arftags:dateTimeColumn val ="#{kurulDonemToplantiRow.tarih}" header="#{label['kurulDonemToplanti.tarih']}" width="33" />
						<arftags:column val="#{kurulDonemToplantiRow.toplantituru.label}" header="#{label['kurulDonemToplanti.toplantituru']}" width="33" />
						<arftags:column val="#{kurulDonemToplantiRow.toplantiYeri}" header="#{label['kurulDonemToplanti.toplantiYeri']}" width="33" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{kurulDonemToplantiController}" formName="kurulDonemToplantiForm" listPanelName="kurulDonemToplantiListPanel"
						pagingOption="true" tableName="kurulDonemToplantiTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false"
						exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
