<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="kurulDonemDelegeEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kurulDonemDelege.edit']}"
		rendered="#{kurulDonemDelegeController.editPanelRendered}">

		<p:panel header="#{label['kurulDonemDelege.seciliKurulUyeleriDelegeYap']}" rendered="#{kurulDonemDelegeController.kurulDonemDelege.RID == null}" toggleable="true">
			<h:panelGrid columns="3" columnClasses="otuzYuzde,otuzYuzde,otuzYuzde" styleClass="arfEditGrid">
				<arf:textinput label="#{label['uye.sicilno']}" value="#{kurulDonemDelegeController.sicilno}" compId="sicilnoForFilter" requiredCond="false"
					id="sicilnoForFilterInputText" maxLength="6" minLength="6"/>
				<p:commandButton id="queryKimlikButton" action="#{kurulDonemDelegeController.uyeSorgula}" value="#{label['command.query']}" process="kurulDonemDelegeEditPanel"
					update="kurulDonemDelegeEditPanel :globalMessages" ajax="true" icon="search" styleClass="arfCommandButton" />
				<p:blockUI block="kurulDonemDelegeEditPanel" trigger="queryKimlikButton">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
				</p:blockUI>	
			
			</h:panelGrid>
			<h:panelGrid columns="2" width="20%" border="0" columnClasses="yirmiYuzde,yirmiYuzde" rendered="true">
				<h:outputText value="#{label['command.uye']} : " 
					styleClass="requiredOutputText" style="padding-left:15px; padding-right:10px"/> 
				<h:outputText value="#{kurulDonemDelegeController.adsoyad}" 
					styleClass="requiredInputText" escape="false">  
				</h:outputText>
			</h:panelGrid>
				
		</p:panel>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{kurulDonemDelegeController}" formName="kurulDonemDelegeForm" listPanelName="kurulDonemDelegeListPanel"
			editPanelName="kurulDonemDelegeEditPanel" modelName="KurulDonemDelege" />
	</p:fieldset>

</ui:composition>