<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="kurulDonemToplantiKatilimciForm" prependId="false">
				<arf:masterPanel controllerClassName="#{kurulDonemToplantiKatilimciController}" masterLabel="#{label['kurulDonemToplantiKatilimci.list']}"
					modelName="kurulDonemToplantiKatilimci" />
				<ui:include src="/_page/form/kisi/kisiDetay/kurulDonemToplantiKatilimci_Edit.xhtml" />

				<p:fieldset legend="#{label['kurulDonemToplantiKatilimci.list']}" styleClass="pageFieldSet" id="kurulDonemToplantiKatilimciListPanel">
					<p:blockUI block="kurulDonemToplantiKatilimciTable" trigger="kurulDonemToplantiKatilimciTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kurulDonemToplantiKatilimciTable" value="#{kurulDonemToplantiKatilimciController.list}" var="kurulDonemToplantiKatilimciRow"
						binding="#{kurulDonemToplantiKatilimciController.table}" rowIndexVar="rowIndex" selectionMode="single" selection="#{kurulDonemToplantiKatilimciController.entity}"
						filteredValue="#{kurulDonemToplantiKatilimciController.filteredList}" widgetVar="filterTable" rowKey="#{kurulDonemToplantiKatilimciRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{kurulDonemToplantiKatilimciController.tableRowSelect}" update=":kurulDonemToplantiKatilimciForm" />
						<p:ajax event="rowUnselect" listener="#{kurulDonemToplantiKatilimciController.tableRowCancelSelection}" update=":kurulDonemToplantiKatilimciForm" />

						<arftags:column val="#{kurulDonemToplantiKatilimciRow.kurulDonemUyeRef.uyeRef.sicilno}" header="#{label['kurulDonemToplantiKatilimci.sicilno']}" width="20" />
						<arftags:column val="#{kurulDonemToplantiKatilimciRow.kurulDonemUyeRef.UIString}" header="#{label['kurulDonemToplantiKatilimci.kurulDonemUyeRef']}" width="20" />
						<arftags:column val="#{kurulDonemToplantiKatilimciRow.katilim.label}" header="#{label['kurulDonemToplantiKatilimci.katilim']}" width="20" />
						<arftags:column val="#{kurulDonemToplantiKatilimciRow.kurulDonemUyeRef.gorevTuru.label}" header="#{label['kurulDonemToplantiKatilimci.gorevTuru']}" width="20" />
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{kurulDonemToplantiKatilimciController}" formName="kurulDonemToplantiKatilimciForm"
						listPanelName="kurulDonemToplantiKatilimciListPanel" pagingOption="true" tableName="kurulDonemToplantiKatilimciTable" addExport="true" addOption="true"
						updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
