<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="kurulDonemDelegeForm" prependId="false">

				<arf:masterPanel controllerClassName="#{kurulDonemDelegeController}" masterLabel="#{label['kurulDonem.list']}" modelName="kurulDonemDelege" />

				<ui:include src="/_page/form/kisi/kisiDetay/kurulDonemDelege_Edit.xhtml" />
				
				<ui:include src="/_page/form/kisi/kisiDetay/tumuyeleri_delegeyap.xhtml" />

				<p:fieldset id="kurulDonemDelegeFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{kurulDonemDelegeController.collapsed}"
					legend="#{label['kurulDonemDelege.query']}" rendered="#{kurulDonemDelegeController.filteredPanelRendered}">
					<p:ajax listener="#{kurulDonemDelegeController.onToggle}" event="toggle" />
					<h:panelGrid columns="1" columnClasses="otuzUcYuzde" styleClass="arfEditGrid">
						<arf:dualtextinputForFilter label="#{label['kisi.ad']} - #{label['kisi.soyad']}" requiredCond="false" compId="kisiad" style="width:80px"
							value="#{kurulDonemDelegeController.kurulDonemDelegeFilter.ad}" maxLength="10" id="kisiAdSoyadForFilterDualTextInput" requiredCond2="false" compId2="kisisoyad"
							style2="width:80px" value2="#{kurulDonemDelegeController.kurulDonemDelegeFilter.soyad}" maxLength2="10" />
					</h:panelGrid>
					<arf:filterBottomWithBlockUI controllerClassName="#{kurulDonemDelegeController}" formName="kurulDonemDelegeForm" listPanelName="kurulDonemDelegeListPanel"
						filterPanelName="kurulDonemDelegeFilterPanel" modelName="KurulDonemDelege" />
				</p:fieldset>

				<p:fieldset id="dogalDelegePanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{kurulDonemDelegeController.collapsed}" legend="#{label['dogaldelege.query']}"
					rendered="#{kurulDonemDelegeController.dogalDelegePanelRendered}">

					<h:panelGrid columns="1" styleClass="arfEditGrid">
						<arf:dropdown label="#{label['kurulDonemDelege.kurulDonemRef']}" listSource="#{kurulDonemDelegeController.kurulDonemListesi}" requiredCond="true" compId="kurulDonemRef"
							value="#{kurulDonemDelegeController.kurulDonemId}" id="kurulDonemRefDropDown" />
					</h:panelGrid>
					<p style="margin-top: 10px; margin-bottom: 10px; margin-left: 35%">
						<p:commandButton id="dogalDelegeOnayla" action="#{kurulDonemDelegeController.dogalDelegeler}" value="#{label['command.post']}" ajax="true"
							onclick="if (confirm('#{label['kurulDonemDelege.confirm']}')) {return true} else {return false}" process=":kurulDonemDelegeForm:dogalDelegePanel"
							update="@form :globalMessages" icon="save" styleClass="arfCommandButton" />
						<p:commandButton id="dogalDelegePanelKapat" action="#{kurulDonemDelegeController.dogalDelegePanelKapat}" process="@this" update="@form" rendered="true"
							value="#{label['command.cancel']}" immediate="true" icon="iptal" styleClass="arfCommandButton" />
						<br />
					</p>

				</p:fieldset>

				<p:fieldset legend="#{label['kurulDonemDelege.list']}" styleClass="pageFieldSet" id="kurulDonemDelegeListPanel" rendered="#{!kurulDonemDelegeController.tumuyeleridelegeyapPanelRendered}">
					<p:blockUI block="kurulDonemDelegeTable" trigger="kurulDonemDelegeTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:blockUI block="kurulDonemDelegeEditPanel" trigger="tumuyelerikaydetButton">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
						<p:commandButton id="dogalDelegeCommand" process="@this" update="@form" icon="approve" action="#{kurulDonemDelegeController.dogalDelegePanelAc}"
							rendered="#{kurulDonemDelegeController.updateRecordRendered}" value="#{label['command.dogaldelege']}" styleClass="arfCommandButton" style="width:100px" />
						
						<p:commandButton id="tumuyelerikaydetButton" action="#{kurulDonemDelegeController.tumuyeleridelegeyapmaSayfa}" value="#{label['command.tumuyeleridelegeyap']}"
							rendered="true" icon="uye" ajax="true"	update=":kurulDonemDelegeForm :globalMessages" />
					</h:panelGrid>
					
					
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kurulDonemDelegeTable" value="#{kurulDonemDelegeController.list}" var="kurulDonemDelegeRow"
						binding="#{kurulDonemDelegeController.table}" rowIndexVar="rowIndex" selectionMode="single" selection="#{kurulDonemDelegeController.entity}"
						filteredValue="#{kurulDonemDelegeController.filteredList}" widgetVar="filterTable" rowKey="#{kurulDonemDelegeRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{kurulDonemDelegeController.tableRowSelect}" update=":kurulDonemDelegeForm" />
						<p:ajax event="rowUnselect" listener="#{kurulDonemDelegeController.tableRowCancelSelection}" update=":kurulDonemDelegeForm" />

						<arftags:column val="#{kurulDonemDelegeRow.uyeRef.UIString}" header="#{label['kurulDonemDelege.uyeRef']}" width="50" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{kurulDonemDelegeController}" formName="kurulDonemDelegeForm" listPanelName="kurulDonemDelegeListPanel" pagingOption="true"
						tableName="kurulDonemDelegeTable" addExport="true" addOption="#{kurulDonemDelegeController.editable}" updateOption="false" deleteOption="#{kurulDonemDelegeController.editable}" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
