<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="kurulDonemToplantiEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kurulDonemToplanti.edit']}"
		rendered="#{kurulDonemToplantiController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">
			<arf:calendar label="#{label['kurulDonemToplanti.tarih']}" value="#{kurulDonemToplantiController.kurulDonemToplanti.tarih}" id="tarihCalendar"
				pattern="#{configurationController.dateTimePattern}" requiredCond="true" compId="tarih" />

			<arf:dropdown label="#{label['kurulDonemToplanti.toplantituru']}" listSource="#{enumeratedController.toplantiTuruItems}" requiredCond="true" compId="toplantituru"
				value="#{kurulDonemToplantiController.kurulDonemToplanti.toplantituru}" id="toplantituruDropDown" addNullOption="true" />

			<arf:textinput label="#{label['kurulDonemToplanti.toplantiYeri']}" value="#{kurulDonemToplantiController.kurulDonemToplanti.toplantiYeri}" compId="toplantiYeri"
				requiredCond="false" id="toplantiYeriInputText" maxLength="255" />
		</h:panelGrid>
		<arf:editPanelBottomWithBlockUI controllerClassName="#{kurulDonemToplantiController}" formName="kurulDonemToplantiForm" listPanelName="kurulDonemToplantiListPanel"
			editPanelName="kurulDonemToplantiEditPanel" modelName="KurulDonemToplanti" />
	</p:fieldset>

</ui:composition>