<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<style>
		#progressbar {
		  background-color: black;
		  border-radius: 0px; /* (height of inner div) / 2 + padding */
		  padding: 3px;
		  width: 30%;
		  margin-left:35%;
		}
		
		#progressbar > div {
		   background-color: orange; 
		   height: 20px;
		   border-radius: 0px;
		}
	</style>
	<p:fieldset id="tumuyeleridelegeyapPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kurulDonemDelege.tumuyeleridelegeyap']}" 
		rendered="#{kurulDonemDelegeController.tumuyeleridelegeyapPanelRendered}">
		<h:panelGrid columns="1" border="0" styleClass="arfEditGrid" style="width:80%; margin-left:10%" columnClasses="yuzYuzde">

			<h:panelGroup>
				<h:outputText value="DİKKAT : #{kurulDonemDelegeController.bulunanUyeMesaj}" style="font-size:14px; color: blue; font-weight:bold; margin-left:30%" />
				
			
				<p:blockUI block=":breadCrumbForm" trigger="tumuyeleridelegeyapCommand">
					<h:outputText value="#{label['common.loading']}" />
					<br />
					<h:graphicImage library="_image" name="ajax-loader.gif" />
				</p:blockUI>
				<p:commandButton id="tumuyeleridelegeyapCommand" action="#{kurulDonemDelegeController.tumUyeleriDelegeYap}" value="#{label['command.tumuyeleridelegeyap']}"
					 icon="uye" ajax="true"	update=":globalMessages" style="margin-left:30%" onclick="delegeYapCommand.disable(); " widgetVar="delegeYapCommand" async="true" />
				<br />
				<p:spacer width="100%" height="35" />
				<br />
				<h:outputText value="#{label['kurulDonemDelege.islemUyari']}" style="font-size:14px; color: red; font-weight:bold; margin-left:2%" />

			</h:panelGroup>

			<p:poll async="true" interval="2" global="false" rendered="#{kurulDonemDelegeController.tumuyeleridelegeyapPanelRendered}" stop="#{kurulDonemDelegeController.stopPoll}"> 
				<p:outputPanel autoUpdate="true" rendered="#{kurulDonemDelegeController.tumuyeleridelegeyapPanelRendered}">					
					<div id="progressbar" style="margin-top:50px">
						<div style="width: #{kurulDonemDelegeController.progress}%;"></div>
						<h:outputText value="#{kurulDonemDelegeController.progress} % " style="font-size:13px; color: white; font-weight:bold; margin-left:45%" />
					</div>
				</p:outputPanel>
			</p:poll> 
		</h:panelGrid>
			
		<p align="center" style="margin-top: 10px; margin-bottom: 10px">
			<p:commandButton id="browseCommandForDelegeYap" action="#{kurulDonemDelegeController.cancel}" process="@this" update="@form"
				rendered="true" value="#{label['command.delegelistesinedon']}" immediate="true" icon="iptal" styleClass="arfCommandButton" />
			<br />
		</p>

	</p:fieldset>

</ui:composition>