<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="uyeForm" prependId="false">
				<p:fieldset id="uyeFilterPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['uye.query']}" rendered="#{!uyeController.editPanelRendered and !uyeController.uyelikDurumuDegistirRendered}">
					<p:ajax listener="#{uyeController.onToggle}" event="toggle" />

					<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid" collapsed="#{uyeController.collapsed}">
						<arf:textinputForFilter label="#{label['kisi.kimlikno']}" value="#{uyeController.uyeFilter.kimlikno}" compId="kimliknoForFilter" requiredCond="false" id="kimliknoForFilterInputText" maxLength="11" />
						<arf:dualtextinputForFilter label="#{label['kisi.ad']} - #{label['kisi.soyad']}" requiredCond="false" compId="kisiad" style="width:80px" value="#{uyeController.uyeFilter.ad}" maxLength="30"
							id="kisiAdSoyadForFilterDualTextInput" requiredCond2="false" compId2="kisisoyad" style2="width:80px" value2="#{uyeController.uyeFilter.soyad}" maxLength2="30" />
						<arf:textinputForFilter label="#{label['uye.sicilno']}" value="#{uyeController.uyeFilter.sicilno}" compId="sicilnoForFilter" requiredCond="false" id="sicilnoForFilterInputText" maxLength="15" />
						<arf:dropdownForFilter label="#{label['uye.uyetip']}" listSource="#{enumeratedController.uyeTipItems}" requiredCond="false" compId="uyetipForFilter" value="#{uyeController.uyeFilter.uyetip}" id="uyetipForFilterDropDown"
							addNullOption="true" />
						<arf:dropdownForFilter label="#{label['uye.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="false" compId="birimRefForFilter" value="#{uyeController.uyeFilter.birimRef}" converterId="#{'birimConverter'}"
							id="birimRefForFilterDropDown" />

						<arf:doubleCalendarForFilter label="#{label['uye.uyeliktarih']}" value="#{uyeController.uyeFilter.uyeliktarih}" valueMax="#{uyeController.uyeFilter.uyeliktarihMax}" id="uyeliktarihForFilterCalendar"
							pattern="#{configurationController.datePattern}" requiredCond="false" compId="uyeliktarihForFilter" />
						<arf:doubleCalendarForFilter label="#{label['uye.ayrilmatarih']}" value="#{uyeController.uyeFilter.ayrilmatarih}" valueMax="#{uyeController.uyeFilter.ayrilmatarihMax}" id="ayrilmatarihForFilterCalendar"
							pattern="#{configurationController.datePattern}" requiredCond="false" compId="ayrilmatarihForFilter" />

						<arf:dropdownForFilter label="#{label['uye.uyedurum']}" listSource="#{enumeratedController.uyeDurumItems}" requiredCond="false" compId="uyedurumForFilter" value="#{uyeController.uyeFilter.uyedurum}"
							id="uyedurumForFilterDropDown" addNullOption="true" />
						<arf:dropdownForFilter label="#{label['uye.kayitdurum']}" listSource="#{enumeratedController.uyeKayitDurumItems}" requiredCond="false" compId="kayitdurumForFilter" value="#{uyeController.uyeFilter.kayitdurum}"
							id="kayitdurumForFilterDropDown" addNullOption="true" />

						<arf:doubleCalendarForFilter label="#{label['uye.onaytarih']}" value="#{uyeController.uyeFilter.onaytarih}" valueMax="#{uyeController.uyeFilter.onaytarihMax}" id="onaytarihForFilterCalendar"
							pattern="#{configurationController.datePattern}" requiredCond="false" compId="onaytarihForFilter" />
					</h:panelGrid>
					<arf:filterBottomWithBlockUI controllerClassName="#{uyeController}" formName="uyeForm" listPanelName="uyeListPanel" filterPanelName="uyeFilterPanel" modelName="Uye" />
				</p:fieldset>

				<p:fieldset legend="#{label['uye.list']}" styleClass="pageFieldSet" id="uyeListPanel">
					<h:panelGrid columns="9">
						<p:confirmDialog message="#{label['uye.onayConfirm']}" header="#{label['uye.kayitOnay']}" severity="alert" widgetVar="cd">

							<p:blockUI block="uyeForm" trigger="onayConfirmButton">
								<h:outputText value="#{label['common.loading']}" />
								<br />
								<h:graphicImage library="_image" name="ajax-loader.gif" />
							</p:blockUI>
							<p align="center">
								<p:commandButton value="#{label['common.evet']}" actionListener="#{uyeController.uyeKaydiOnayla}" update=":uyeForm :globalMessages" id="onayConfirmButton" oncomplete="cd.hide()"
									disabled="#{uyeController.uye.RID == null or uyeController.uye.kayitdurum.code == sessionController.uyeKayitDurumOnaylanmisCode}" icon="approve" />
								<p:commandButton value="#{label['common.hayir']}" onclick="cd.hide();" type="button" icon="iptal" />
							</p>
						</p:confirmDialog>

						<p:commandButton id="onayButton" value="#{label['command.onay']}" onclick="cd.show()" icon="approve" rendered="#{uyeController.updateRecordRenderedFor('Uye')}"
							disabled="#{uyeController.uye.RID == null or uyeController.uye.kayitdurum.code == sessionController.uyeKayitDurumOnaylanmisCode}" />

					</h:panelGrid>

					<p:blockUI block="uyeTable" trigger="uyeTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="uyeTable" value="#{uyeController.list}" var="uyeRow" binding="#{uyeController.table}" rowIndexVar="rowIndex" selectionMode="single"
						selection="#{uyeController.entity}" rowKey="#{uyeRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{uyeController.tableRowSelect}" update=":uyeForm" />
						<p:ajax event="rowUnselect" listener="#{uyeController.tableRowCancelSelection}" update=":uyeForm" />
						<p:ajax event="rowDblselect" listener="#{uyeController.onRowDblClckSelect}" update=":uyeForm" global="false" />

						<p:column style="text-align:center; width:60px">
							<f:facet name="header">
								<h:outputText value="#{label['common.detay']}" />
							</f:facet>
							<h:commandLink action="#{uyeController.detailPage(uyeRow.RID)}">
								<h:graphicImage library="_image" name="detail.png" />
							</h:commandLink>
						</p:column>
						<arftags:columnHtml val="#{uyeRow.onaylanmamisSicilNo}" header="#{label['uye.sicilno']}" width="10" />
						<arftags:columnHtml val="#{uyeRow.onaylanmamisUye}" header="#{label['uye.kisiRef']}" width="15" />
						<arftags:column val="#{uyeRow.birimRef.sehirRef.ad}" header="#{label['uye.sehirRef']}" width="15" />
						<arftags:column val="#{uyeRow.birimRef.ad}" header="#{label['uye.birimRef']}" width="15" />

						<p:column sortBy="#{uyeRow.kurum.ad}" style="width:15%" rendered="#{uyeController.uyeFilter.uyetip.code != sessionController.ogrenciCode}">
							<f:facet name="header">
								<h:outputText value="#{label['uye.isyeri']}" styleClass="columnHeader" />
							</f:facet>
							<h:outputText style="white-space:normal" value="#{uyeRow.kurum.ad}" escape="false" />
						</p:column>

						<p:column sortBy="#{uyeRow.kisiRef.kisiogrenim.universiteRef.ad}" style="width:15%" rendered="#{uyeController.uyeFilter.uyetip.code == sessionController.ogrenciCode}">
							<f:facet name="header">
								<h:outputText value="#{label['uye.universite']}" styleClass="columnHeader" />
							</f:facet>
							<h:outputText style="white-space:normal" value="#{uyeRow.kisiRef.kisiogrenim.universiteRef.ad}" escape="false" />
						</p:column>

						<arftags:column val="#{uyeRow.kisiRef.kisiTelefon.UIString}" header="#{label['uye.telefon']}" width="15" />
						<arftags:column val="#{uyeRow.kisiRef.kisiInternetadres.UIString}" header="#{label['uye.email']}" width="15" />

						<p:column sortBy="#{uyeRow.uyeAidatBorc}" style="width:15%" rendered="#{uyeController.uyeFilter.uyetip.code != sessionController.ogrenciCode}">
							<f:facet name="header">
								<h:outputText value="#{label['uyeaidat.borc']}" styleClass="columnHeader" />
							</f:facet>
							<h:outputText style="white-space:normal" value="#{uyeRow.uyeAidatBorc}">
								<f:convertNumber pattern="#0.00 TL" />
							</h:outputText>
						</p:column>
					</p:dataTable>
					<arf:pagingWithBlockUI controllerClassName="#{uyeController}" formName="uyeForm" listPanelName="uyeListPanel" pagingOption="true" tableName="uyeTable" exportToWord="false" exportToOpenOffice="false" addExport="false"
						addOption="false" updateOption="false" deleteOption="false" addSubRecordOption="false" wizardOption="false" logOption="false" />
				</p:fieldset>
			</h:form>
			<p:dialog header="#{label['common.detailEdit']}" widgetVar="printDialog" width="1500" height="#{uyeController.heightOfEditDialog}" style="position:absolute; left:5%; top:5%" modal="true" id="dialogUpdateBox" rendered="false">

				<h:form id="detailEditForm">
					<p:blockUI block="uyeTable" trigger="uyeTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="uyeTable" value="#{uyeController.list}" var="uyeRow" binding="#{uyeController.table2}" rowIndexVar="rowIndex" rowKey="#{uyeRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{uyeController.tableRowSelect}" update=":detailEditForm" />
						<p:ajax event="rowUnselect" listener="#{uyeController.tableRowCancelSelection}" update=":detailEditForm" />

						<arftags:column val="#{uyeRow.kisiRef.UIString}" header="#{label['uye.kisiRef']}" width="10" />
						<arftags:column val="#{uyeRow.sicilno}" header="#{label['uye.sicilno']}" width="10" />
						<arftags:column val="#{uyeRow.birimRef.sehirRef.ad}" header="#{label['birim.sehirRef']}" width="10" />
						<arftags:column val="#{uyeRow.uyetip.label}" header="#{label['uye.uyetip']}" width="10" />
						<arftags:column val="#{uyeRow.birimRef.ad}" header="#{label['uye.birimRef']}" width="10" />
						<arftags:column val="#{uyeRow.iletisimSms.label}" header="#{label['uye.sms']}" width="5" />
						<arftags:column val="#{uyeRow.iletisimEmail.label}" header="#{label['uye.email']}" width="5" />
						<arftags:column val="#{uyeRow.iletisimPosta.label}" header="#{label['uye.posta']}" width="5" />
						<arftags:numericColumn val="#{uyeRow.uyeAidatBorc}" header="#{label['uyeaidat.borc']}" width="10" />
						<arftags:column val="#{uyeRow.kisiRef.kisiTelefon.UIString}" header="#{label['uye.telefon']}" width="10" />
						<arftags:column val="#{uyeRow.kisiRef.kisiInternetadres.UIString}" header="#{label['uye.email']}" width="10" />

						<p:column style="width:17%">
							<f:facet name="header">
								<h:outputText value="#{label['uye.uyedurum']}" />
							</f:facet>
							<h:outputText style="white-space:normal" value="#{uyeRow.uyedurum.label}" escape="false" />
							<br />

							<h:outputText style="white-space:normal; color:red" value="#{label['uye.uyeliktarih']} : " />
							<h:outputText style="white-space:normal" value="#{uyeRow.uyeliktarih}" escape="false">
								<f:convertDateTime type="date" timeZone="#{configurationController.timeZone}" pattern="#{configurationController.datePattern}" />
							</h:outputText>

							<h:outputText style="white-space:normal; color:red" value="#{label['uye.ayrilmatarih']} : " rendered="#{uyeRow.ayrilmatarih != null}" />
							<h:outputText style="white-space:normal" value="#{uyeRow.ayrilmatarih}" escape="false" rendered="#{uyeRow.ayrilmatarih != null}">
								<f:convertDateTime type="date" timeZone="#{configurationController.timeZone}" pattern="#{configurationController.datePattern}" />
							</h:outputText>
						</p:column>
						<p:column style="width:17%">
							<f:facet name="header">
								<h:outputText value="#{label['uye.kayitdurum']}" />
							</f:facet>
							<h:outputText style="white-space:normal" value="#{uyeRow.kayitdurum.label}" escape="false" />
							<br />
							<p:outputPanel rendered="#{uyeRow.kayitdurum.code == sessionController.uyeKayitDurumOnaylanmisCode}">
								<h:outputText style="white-space:normal; color:red" value="#{label['uye.onaylayanRef']} : " escape="false" rendered="#{uyeRow.kayitdurum.code == sessionController.uyeKayitDurumOnaylanmisCode}" />
								<h:outputText style="white-space:normal" value="#{uyeRow.onaylayanRef.UIStringShortest}" escape="false" rendered="#{uyeRow.kayitdurum.code == sessionController.uyeKayitDurumOnaylanmisCode}" />
								<br />
								<h:outputText style="white-space:normal; color:red" value="#{label['uye.onaytarih']} : " rendered="#{uyeRow.kayitdurum.code == sessionController.uyeKayitDurumOnaylanmisCode}" />
								<h:outputText style="white-space:normal" value="#{uyeRow.onaytarih}" escape="false" rendered="#{uyeRow.kayitdurum.code == sessionController.uyeKayitDurumOnaylanmisCode}">
									<f:convertDateTime type="date" timeZone="#{configurationController.timeZone}" pattern="#{configurationController.datePattern}" />
								</h:outputText>
							</p:outputPanel>
						</p:column>
					</p:dataTable>
					<arf:pagingWithBlockUI controllerClassName="#{uyeController}" formName="detailEditForm" listPanelName="uyeListPanel" pagingOption="true" tableName="uyeTable" exportToWord="true" exportToOpenOffice="true" addExport="true"
						addOption="false" updateOption="false" deleteOption="false" addSubRecordOption="false" wizardOption="false" logOption="true" />

				</h:form>
			</p:dialog>
		</h:body>
	</ui:define>
</ui:composition>
