<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<p:fieldset id="uyeEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['uye.edit']}" rendered="#{uyeController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

			<arf:textoutput label="#{label['uye.kisiRef']}" value="#{uyeController.uyeDetay.kisiRef.UIString}" />
			<arf:textoutput label="#{label['uye.kisiRef']}" value="#{uyeController.uyeDetay.kisiRef.UIString}" rendered="#{uyeController.uyeDetay.kisiRef != null}" />
			<arf:textoutput label="#{label['uye.sicilno']}" value="#{uyeController.uyeDetay.sicilno}" rendered="#{uyeController.uyeDetay.kisiRef != null}" />
			<arf:textoutput label="#{label['uye.uyedurum']}" value="#{uyeController.uyeDetay.uyedurum.label}" rendered="#{uyeController.uyeDetay.RID != null}" />

			<arf:dropdown label="#{label['uye.uyetip']}" listSource="#{enumeratedController.uyeTipItems}" requiredCond="false" compId="uyetip" value="#{uyeController.uyeDetay.uyetip}"
				id="uyetipDropDown" disabledCond="true" updateCompWithoutEvent="#{':uyeForm:ogrenciNoInputText:ogrenciNo :uyeForm:sinifSpinner:sinif' }" />
			<arf:dropdown label="#{label['uye.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="true" compId="birimRef"
				value="#{uyeController.uyeDetay.birimRef}" converterId="#{'birimConverter'}" id="birimRefDropDown" disabledCond="false" />
			<arf:textoutput label="#{label['uye.uyeliktarih']}" value="#{uyeController.uyeDetay.uyeliktarih}" rendered="#{uyeController.uyeDetay.RID != null}" id="uyeliktarihCalendar"
				pattern="#{configurationController.datePattern}" />

			<arf:textoutput label="#{label['uye.uyedurum']}" value="#{uyeController.uyeDetay.uyedurum.label}" />
			<arf:calendar label="#{label['uye.ayrilmatarih']}" value="#{uyeController.uyeDetay.ayrilmatarih}" id="ayrilmatarihCalendar" pattern="#{configurationController.datePattern}"
				requiredCond="false" compId="ayrilmatarih" rendered="#{uyeController.uyeDetay.uyedurum.code == sessionController.uyeDurumIstifaCode}" />

			<arf:dropdown label="#{label['uye.kayitdurum']}" listSource="#{enumeratedController.uyeKayitDurumItems}" requiredCond="false" compId="kayitdurum"
				value="#{uyeController.uyeDetay.kayitdurum}" id="kayitdurumDropDown" disabledCond="true" />
			<arf:spinner label="#{label['uye.sinif']}" value="#{uyeController.uyeDetay.sinif}" compId="sinif" requiredCond="false" id="sinifSpinner" maxLength="1" min="0" max="6"
				readOnlyStatus="#{uyeController.uyeDetay.uyetip.code != sessionController.ogrenciCode}" rendered="#{uyeController.uyeDetay.uyetip.code == sessionController.ogrenciCode}" />
			<arf:textinput label="#{label['uye.ogrenciNo']}" value="#{uyeController.uyeDetay.ogrenciNo}" compId="ogrenciNo" requiredCond="false" id="ogrenciNoInputText" maxLength="15"
				readOnlyStatus="#{uyeController.uyeDetay.uyetip.code != sessionController.ogrenciCode}" rendered="#{uyeController.uyeDetay.uyetip.code == sessionController.ogrenciCode}" />
		</h:panelGrid>

		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">
			<arf:booleanbox label="#{label['uye.iletisimEmail']}" requiredCond="true" compId="iletisimEmail" value="#{uyeController.uyeDetay.epostaIletisimi}"
				id="iletisimEmailBooleanBox" updateCompWithoutEvent="iletisimEmail" />
			<arf:booleanbox label="#{label['uye.iletisimSms']}" requiredCond="true" compId="iletisimSms" value="#{uyeController.uyeDetay.telefonIletisimi}" id="iletisimSmsBooleanBox"
				updateCompWithoutEvent="iletisimSms" />
			<arf:booleanbox label="#{label['uye.iletisimPosta']}" requiredCond="true" compId="iletisimPosta" value="#{uyeController.uyeDetay.postaIletisimi}"
				id="iletisimPostaBooleanBox" updateCompWithoutEvent="iletisimPosta" />
		</h:panelGrid>


		<p align="center" style="margin-top: 10px; margin-bottom: 10px">
			<p:commandButton id="postCommandForUye" action="#{uyeController.updateUyeDetay}" value="#{label['command.post']}" ajax="true" process="uyeForm:uyeEditPanel"
				update=":uyeForm :globalMessages" icon="save" styleClass="arfCommandButton" />
			<p:commandButton id="browseCommandForUye" action="#{uyeController.gotoUyeDetay(uyeController.uyeDetay.RID)}" process="@this" update="uyeForm" rendered="true"
				value="#{label['command.cancel']}" immediate="true" icon="iptal" styleClass="arfCommandButton" />
			<br />
		</p>

		<pe:ajaxErrorHandler title="Error" body="Server return exception  {error-name} with description {error-message}" button="Hide" widgetVar="myAjaxErrorHandler"
			buttonOnclick="myAjaxErrorHandler.hide()" />
	</p:fieldset>

</ui:composition>