<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<ui:define name="content">
		<h:body>

			<h:form id="uyeForm" prependId="false">
				<p:fieldset legend="#{label['common.sihirbazDurum']}" style="height:60px" styleClass="pageFieldSet">
					<h:outputText value="#{label['common.sihirbazAdim']} #{wizardController.wizardStep} : " style="color:red; font-size:16px; font-weight:bold; margin-left:20px" />
					<h:outputText value="#{label['uye.edit']}" style="color:#333333; font-size:14px; font-weight:bold" rendered="#{wizardController.wizardStep == 1}" />
					<h:outputText value="#{label['kisi.edit']} - #{label['kisikimlik.edit']}" style="color:#333333; font-size:14px; font-weight:bold"
						rendered="#{wizardController.wizardStep == 2}" />
					<h:outputText value="#{label['kisiogrenim.edit']}" style="color:#333333; font-size:14px; font-weight:bold" rendered="#{wizardController.wizardStep == 3}" />
					<h:outputText value="#{label['uyekurum.edit']}" style="color:#333333; font-size:14px; font-weight:bold" rendered="#{wizardController.wizardStep == 4}" />
					<h:outputText value="#{label['adres.edit']}" style="color:#333333; font-size:14px; font-weight:bold" rendered="#{wizardController.wizardStep == 5}" />
					<h:outputText value="#{label['telefon.edit']}" style="color:#333333; font-size:14px; font-weight:bold" rendered="#{wizardController.wizardStep == 6}" />
					<h:outputText value="#{label['internetadres.edit']}" style="color:#333333; font-size:14px; font-weight:bold" rendered="#{wizardController.wizardStep == 7}" />
				</p:fieldset>

				<p:fieldset id="uyeEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['uye.edit']}" rendered="#{wizardController.wizardStep == 1}">
					<p:panel header="#{label['uye.edit']}" style="width:99%; margin-left:.5%" id="uyeOnlyPanel">
						<arf:calendar label="#{label['uye.uyeliktarih']}" value="#{wizardController.uyeliktarihi}" id="uyeliktarihCalendar"
							pattern="#{configurationController.datePattern}" requiredCond="true" compId="uyeliktarih" navigatorRendered="true"
							yearRange="1950:3000" rendered="#{wizardController.sistemYoneticisiRole}" />
						<arf:dropdown label="#{label['uye.uyetip']}" listSource="#{enumeratedController.uyeTipItems}" requiredCond="true" compId="uyetip" value="#{wizardController.uye.uyetip}"
							id="uyetipDropDown" updateCompWithoutEvent="#{':uyeForm:uyeEditPanel :uyeForm:kisiogrenimEditPanel :uyeForm:kurumEditPanel 
							 :uyeForm:iletisimEditPanel' }" />
						<arf:textinput label="#{label['uye.sicilno']}" value="#{wizardController.sicilno}" compId="sicilno"
							requiredCond="false" id="sicilnoInputText" maxLength="15" rendered="#{wizardController.sicilnosorgulamasi}"/>
					</p:panel>
				</p:fieldset>

				<p:fieldset id="kisiEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['uye.edit']}" rendered="#{wizardController.wizardStep == 2}">
					<p:blockUI block="kisiEditPanel" trigger="uyeListesineGit">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:blockUI block="kisiEditPanel" trigger="queryKimlikButton">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:panel header="#{label['kisi.edit']}" style="width:99%; margin-left:.5%" id="kisiOnlyPanel">
						<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">
							<arf:maskinput label="#{label['kisi.kimlikno']}" value="#{wizardController.kisi.kimlikno}" compId="kimliknoKisi" requiredCond="true" id="kimliknoInputTextKisi"
								minLength="11" maxLength="11" customValidatorId="#{'tcKimlikNoValidator'}"  longMin="00000000000" longMax="99999999999" mask="99999999999"/>
							<arf:textinput label="#{label['kisi.ad']}" value="#{wizardController.kisi.ad}" compId="ad" requiredCond="#{wizardController.zorunlu}" id="adInputText" maxLength="50"
								readOnlyStatus="#{wizardController.kpsKaydiBulundu}" />
							<arf:textinput label="#{label['kisi.soyad']}" value="#{wizardController.kisi.soyad}" compId="soyad" requiredCond="#{wizardController.zorunlu}" id="soyadInputText"
								maxLength="50" readOnlyStatus="#{wizardController.kpsKaydiBulundu}" />
						</h:panelGrid>

						<p align="center">
							<p:commandButton id="uyeListesineGit" action="#{wizardController.callDetailFromWizard}" value="#{label['uye.detail']}" process="kisiOnlyPanel" ajax="true" icon="uye"
								styleClass="arfCommandButton" rendered="#{wizardController.uyeBulundu}" />
							<p:commandButton id="queryKimlikButton" action="#{wizardController.kimlikBilgisiSorgula}" value="#{label['command.query']}" process="kisiOnlyPanel"
								update="kisiEditPanel commandPanel :globalMessages" ajax="true" icon="search" styleClass="arfCommandButton" />
						</p>
					</p:panel>

					<p:panel header="#{label['kisikimlik.edit']}" style="width:99%; margin-left:.5%">
						<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid"
							rendered="#{wizardController.kpsSorguSonucDondu and !wizardController.kpsKaydiBulundu and wizardController.kpsZorla}">
							<arf:textinput label="#{label['kisikimlik.kimlikno']}" value="#{wizardController.kisikimlik.kimlikno}" compId="kimlikno" requiredCond="true" id="kimliknoInputText"
								maxLength="20" readOnlyStatus="true" />
							<arf:textinput label="#{label['kisikimlik.babaad']}" value="#{wizardController.kisikimlik.babaad}" compId="babaad" requiredCond="true" id="babaadInputText"
								maxLength="20" />
							<arf:textinput label="#{label['kisikimlik.anaad']}" value="#{wizardController.kisikimlik.anaad}" compId="anaad" requiredCond="true" id="anaadInputText" maxLength="20" />
							<arf:textinput label="#{label['kisikimlik.dogumyer']}" value="#{wizardController.kisikimlik.dogumyer}" compId="dogumyer" requiredCond="true" id="dogumyerInputText"
								maxLength="20" />
							<arf:calendar label="#{label['kisikimlik.dogumtarih']}" value="#{wizardController.kisikimlik.dogumtarih}" id="dogumtarihCalendar"
								pattern="#{configurationController.datePattern}" requiredCond="true" compId="dogumtarih" navigatorRendered="true"
								yearRange="#{configurationController.calendarYearRangeForBirthdays}" />
							<arf:dropdown label="#{label['kisikimlik.cinsiyet']}" listSource="#{enumeratedController.cinsiyetItems}" requiredCond="true" compId="cinsiyet"
								value="#{wizardController.kisikimlik.cinsiyet}" id="cinsiyetDropDown" />
							<arf:dropdown label="#{label['kisikimlik.kangrup']}" listSource="#{enumeratedController.kanGrubuItems}" requiredCond="false" compId="kangrup"
								value="#{wizardController.kisikimlik.kangrup}" id="kangrupDropDown" addNullOption="true" />
							<arf:dropdown label="#{label['kisikimlik.medenihal']}" listSource="#{enumeratedController.medeniHalItems}" requiredCond="true" compId="medeniHal"
								value="#{wizardController.kisikimlik.medenihal}" id="medeniHalDropDown" addNullOption="true" />
							<arf:dropdown label="#{label['kisikimlik.sehirRef']}" listSource="#{sessionUser.sehirItemList}" requiredCond="true" compId="sehirRef"
								value="#{wizardController.kisikimlik.sehirRef}" converterId="#{'sehirConverter'}" id="sehirRefDropDown" ajaxEventListener="#{wizardController.handleChange}"
								changeEventUpdateComp="#{':uyeForm:ilceRefDropDown:ilceRef'}" />
							<arf:dropdown label="#{label['kisikimlik.ilceRef']} * " listSource="#{wizardController.ilceItemList}" requiredCond="true" compId="ilceRef"
								value="#{wizardController.kisikimlik.ilceRef}" converterId="#{'ilceConverter'}" id="ilceRefDropDown" />
							<arf:textinput label="#{label['kisikimlik.ciltno']}" value="#{wizardController.kisikimlik.ciltno}" compId="ciltno" requiredCond="true" id="ciltnoInputText"
								maxLength="15" />
							<arf:textinput label="#{label['kisikimlik.aileno']}" value="#{wizardController.kisikimlik.aileno}" compId="aileno" requiredCond="true" id="ailenoInputText"
								maxLength="10" />
							<arf:textinput label="#{label['kisikimlik.sirano']}" value="#{wizardController.kisikimlik.sirano}" compId="sirano" requiredCond="true" id="siranoInputText"
								maxLength="5" />
						</h:panelGrid>

						<h:outputText value="KPS Bilgisi : " rendered="#{(wizardController.kpsSorguSonucDondu and wizardController.kpsKaydiBulundu)}" />
						<h:outputText value="VT Bilgisi : " rendered="#{(wizardController.kisiVeritabanindaBulundu)}" />
						<h:panelGrid columns="4" columnClasses="yirmiYuzde, otuzYuzde, yirmiYuzde, otuzYuzde" styleClass="arfEditGrid"
							rendered="#{(wizardController.kpsSorguSonucDondu and wizardController.kpsKaydiBulundu) or (wizardController.kisiVeritabanindaBulundu)}">
							<arftags:detailItem colName="kimlikno" header="#{label['kisikimlik.kimlikno']}" renderCondition="true" val="#{wizardController.kisikimlik.kimlikno}" />
							<arftags:detailItem colName="babaad" header="#{label['kisikimlik.babaad']}" renderCondition="true" val="#{wizardController.kisikimlik.babaad}" />
							<arftags:detailItem colName="anaad" header="#{label['kisikimlik.anaad']}" renderCondition="true" val="#{wizardController.kisikimlik.anaad}" />
							<arftags:detailItem colName="dogumyer" header="#{label['kisikimlik.dogumyer']}" renderCondition="true" val="#{wizardController.kisikimlik.dogumyer}" />
							<arftags:detailDateItem colName="dogumtarih" val="#{wizardController.kisikimlik.dogumtarih}" header="#{label['kisikimlik.dogumtarih']}" renderCondition="true" />
							<arftags:detailItem colName="cinsiyet" val="#{wizardController.kisikimlik.cinsiyet.label}" header="#{label['kisikimlik.cinsiyet']}" renderCondition="true" />
							<arftags:detailItem colName="kangrup" val="#{wizardController.kisikimlik.kangrup.label}" header="#{label['kisikimlik.kangrup']}" renderCondition="true" />
							<arftags:detailItem colName="sehirRef1" val="#{wizardController.kisikimlik.sehirRef.UIString}" header="#{label['kisikimlik.sehirRef']}" renderCondition="true" />
							<arftags:detailItem colName="ilceRef1" val="#{wizardController.kisikimlik.ilceRef.UIString}" header="#{label['kisikimlik.ilceRef']}" renderCondition="true" />
							<arftags:detailItem colName="mahalle1" val="#{wizardController.kisikimlik.mahalle}" header="#{label['kisikimlik.mahalle']}" renderCondition="true" />
							<arftags:detailItem colName="ciltno" val="#{wizardController.kisikimlik.ciltno}" header="#{label['kisikimlik.ciltno']}" renderCondition="true" />
							<arftags:detailItem colName="aileno" val="#{wizardController.kisikimlik.aileno}" header="#{label['kisikimlik.aileno']}" renderCondition="true" />
							<arftags:detailItem colName="sirano" val="#{wizardController.kisikimlik.sirano}" header="#{label['kisikimlik.sirano']}" renderCondition="true" />
							<arftags:detailDateItem colName="kpsdogrulamatarih" val="#{wizardController.kisikimlik.kpsdogrulamatarih}" header="#{label['kisikimlik.kpsdogrulamatarih']}"
								renderCondition="true" />
						</h:panelGrid>

					</p:panel>
				</p:fieldset>

				<p:fieldset id="kisiogrenimEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kisiogrenim.edit']}" rendered="#{wizardController.wizardStep == 3}">
					<p:panel header="#{label['kisi.summary']}" style="width:99%; margin-left:.5%;  margin-bottom:10px">
						<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">
							<arf:textoutput label="#{label['kisi.kimlikno']}" value="#{wizardController.kisi.kimlikno}" id="readOnlyKimlikNoForAdresEdit" />
							<arf:textoutput label="#{label['kisi.ad']} - #{label['kisi.soyad']}" value="#{wizardController.kisi.ad} - #{wizardController.kisi.soyad}"
								id="readOnlyAdSoyadForAdresEdit" />
						</h:panelGrid>
					</p:panel>
					<p:panel header="#{label['kisiogrenim.edit']}" style="width:99%; margin-left:.5%" id="kisiogrenimOnlyPanel">
						<arf:textoutput label="#{label['kisiogrenim.ogrenimtip']}" value="#{wizardController.kisiogrenim.ogrenimtip.label}" id="ogrenimTipOutputText" />

						<arf:dropdown label="#{label['kisiogrenim.universiteRef']}" listSource="#{wizardController.selectOrderedItemListFor('Universite','o.ad')}" requiredCond="true"
							compId="universiteRef" value="#{wizardController.kisiogrenim.universiteRef}" converterId="#{'universiteConverter'}" id="universiteRefDropDown" />
						<arf:dropdown label="#{label['kisiogrenim.fakulteRef']}" listSource="#{wizardController.selectOrderedItemListFor('Fakulte','o.ad')}" requiredCond="true"
							compId="fakulteRef" value="#{wizardController.kisiogrenim.fakulteRef}" converterId="#{'fakulteConverter'}" id="fakulteRefDropDown" />
						<arf:dropdown label="#{label['kisiogrenim.bolumRef']}" listSource="#{wizardController.createSelectItems('Bolum','o.lisansKaydolunabilir=true',true,'o.ad')}" requiredCond="true" compId="bolumRef"
							value="#{wizardController.kisiogrenim.bolumRef}" converterId="#{'bolumConverter'}" id="bolumRefDropDown" />

						<arf:textinput label="#{label['kisiogrenim.lisansunvan']}" value="#{wizardController.kisiogrenim.lisansunvan}" compId="lisansunvan" requiredCond="true"
							id="lisansunvanInputText" maxLength="200" rendered="#{wizardController.uye.uyetip.code != sessionController.ogrenciCode}"/>
						<arf:textinput label="#{label['kisiogrenim.diplomano']}" value="#{wizardController.kisiogrenim.diplomano}" compId="diplomano" requiredCond="false" id="diplomanoInputText"
							maxLength="200" rendered="#{wizardController.uye.uyetip.code != sessionController.ogrenciCode}"/>
						<arf:dropdown label="#{label['kisiogrenim.denklikdurum']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="denklikdurum"
							value="#{wizardController.kisiogrenim.denklikdurum}" id="denklikdurumDropdown" rendered="#{wizardController.uye.uyetip.code != sessionController.ogrenciCode}" />
						<arf:textinputarea label="#{label['kisiogrenim.aciklama']}" value="#{wizardController.kisiogrenim.aciklama}" compId="aciklama" requiredCond="false" id="aciklamaInputText"
							maxLength="200" />
						<arf:spinner label="#{label['kisiogrenim.mezuniyettarihi']}" value="#{wizardController.kisiogrenim.mezuniyettarihi}" compId="mezuniyettarihi" requiredCond="true"
							id="mezuniyetTarihiSpinner" maxLength="4" minLength="4" min="1900" max="9999" rendered="#{wizardController.uye.uyetip.code != sessionController.ogrenciCode}"/>
						<arf:spinner label="#{label['uye.sinif']}" value="#{wizardController.uye.sinif}" compId="sinif"
							requiredCond="#{wizardController.uye.uyetip.code == sessionController.ogrenciCode}" id="sinifSpinner" maxLength="1" min="0" max="6"
							rendered="#{wizardController.uye.uyetip.code == sessionController.ogrenciCode}" />
						<arf:textinput label="#{label['uye.ogrenciNo']}" value="#{wizardController.uye.ogrenciNo}" compId="ogrenciNo"
							requiredCond="#{wizardController.uye.uyetip.code == sessionController.ogrenciCode}" id="ogrenciNoInputText" maxLength="15"
							rendered="#{wizardController.uye.uyetip.code == sessionController.ogrenciCode}" />
					</p:panel>
				</p:fieldset>

				<p:fieldset id="kurumEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kurum.edit']}" rendered="#{wizardController.wizardStep == 4}">
					<p:panel header="#{label['kurum.edit']}" style="width:99%; margin-left:.5%" id="kurumOnlyPanel">
						<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde, otuzYuzde, kirkYuzde">
							<h:outputText value="#{label['command.uyekurum']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
							<h:panelGroup>
								<p:autoComplete value="#{wizardController.kurumKisi.kurumRef}" completeMethod="#{wizardController.completeMethodKurumAuto}" maxResults="50" queryDelay="500"
									id="kurumRefUyeKurum" minQueryLength="3" required="false" forceSelection="true" var="kurumRec" itemValue="#{kurumRec}"
									itemLabel="#{kurumRec.ad} | Adresi: #{kurumRec.acikAdres}" style="width:1000px !important;">
									<f:converter converterId="kurumConverter" />
									<f:ajax event="itemSelect" render=":uyeForm" process="@this" />
									<f:attribute name="modelNameForAutoComplete" value="#{'Kurum'}" />
								</p:autoComplete>
								<p:commandButton onsuccess="kurumEditDialog.show()" action="#{wizardController.newDetail('Kurum')}" icon="new" immediate="true" process="@this" update="@this"
									styleClass="commandButton" ajax="true" style="width:70px; margin-left:5px; height:22px" value="#{label['command.insert']}" id="kurumButton" />
								<p:blockUI block="kurumEditPanel" trigger="kurumRefUyeKurum">
									<h:outputText value="#{label['common.loading']}" />
									<br />
									<h:graphicImage library="_image" name="ajax-loader.gif" />
								</p:blockUI>

							</h:panelGroup>
							<p:message for="kurumRefUyeKurum" />
						</h:panelGrid>
						<p:outputPanel id="adrespanel" rendered="true">
							<arf:textoutput label="#{label['uye.isyeriadres']}" value="#{wizardController.kurumKisi.adresRef.acikAdres}" id="adresoutput"
								rendered="#{wizardController.kurumKisi.kurumRef!=null}" />
						</p:outputPanel>
						<arf:textinput label="#{label['uyekurum.gorev']}" value="#{wizardController.kurumKisi.gorev}" compId="gorev" requiredCond="false" id="gorevInputText" maxLength="30" />
						<p:outputPanel id="baslangictarihpanel" rendered="true">
							<arf:calendar label="#{label['uyekurum.baslangictarih']}" value="#{wizardController.kurumKisi.baslangictarih}" id="baslangictarihCalendarKurum"
								pattern="#{configurationController.datePattern}" requiredCond="false" compId="baslangictarihKurum" rendered="#{wizardController.kurumKisi.kurumRef!=null}" />
						</p:outputPanel>
					</p:panel>
				</p:fieldset>

				<p:fieldset id="adresEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['adres.edit']}" rendered="#{wizardController.wizardStep == 5}">
					<p:panel header="KPS Adresi" style="width:99%; margin-left:.5%" id="kpsAdresPanel">
						<h:panelGrid columns="4" columnClasses="yirmiYuzde, otuzYuzde, yirmiYuzde, otuzYuzde" style="width:100%">
							<arftags:detailItem val="#{wizardController.kpsAdres.adresturu.label}" header="#{label['adres.adresturu']}" colName="adresturu" renderCondition="true" />
							<arftags:detailItem val="#{wizardController.kpsAdres.adrestipi.label}" header="#{label['adres.adrestipi']}" colName="adrestipi" renderCondition="true" />
							<arftags:detailItem val="#{wizardController.kpsAdres.acikAdres}" header="#{label['adres.acikAdres']}" colName="acikAdres" renderCondition="true" />
							<arftags:detailItem val="#{wizardController.kpsAdres.binaSiteAdi}" header="#{label['adres.binaSiteAdi']}" colName="binaSiteAdi" renderCondition="true" />
							<arftags:detailItem val="#{wizardController.kpsAdres.binaBlokAdi}" header="#{label['adres.binaBlokAdi']}" colName="binaBlokAdi" renderCondition="true" />
							<arftags:detailItem val="#{wizardController.kpsAdres.csbm}" header="#{label['adres.csbm']}" colName="csbm" renderCondition="true" />
							<arftags:detailItem val="#{wizardController.kpsAdres.disKapiNo}" header="#{label['adres.disKapiNo']}" colName="disKapiNo" renderCondition="true" />
							<arftags:detailItem val="#{wizardController.kpsAdres.icKapiNo}" header="#{label['adres.icKapiNo']}" colName="icKapiNo" renderCondition="true" />
							<arftags:detailItem val="#{wizardController.kpsAdres.mahalle}" header="#{label['adres.mahalle']}" colName="mahalle" renderCondition="true" />
							<arftags:detailItem val="#{wizardController.kpsAdres.sehirRef.UIString}" header="#{label['adres.sehirRef']}" colName="sehirRef" renderCondition="true" />
							<arftags:detailItem val="#{wizardController.kpsAdres.ilceRef.UIString}" header="#{label['adres.ilceRef']}" colName="ilceRef" renderCondition="true" />
						</h:panelGrid>
					</p:panel>

					<p:panel header="İşyeri Adresi" style="width:99%; margin-left:.5%; margin-top:10px" id="isyeriAdresPanel" rendered="#{wizardController.kurumKisi.kurumRef.RID != null}">
						<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" style="width:100%">
							<arf:dropdown label="#{label['adres.adrestipi']}" listSource="#{enumeratedController.adresTipiItemsForKisi}" requiredCond="true" compId="adrestipi"
								value="#{wizardController.adres2.adrestipi}" id="adrestipiDropDownAdres2" addNullOption="true" ajaxEventListener="#{wizardController.handleChange}"
								changeEventUpdateComp="#{':uyeForm:isyeriAdresPanel :uyeForm:acikadrespanel2 :uyeForm:sehirpanel2 :uyeForm:ilcepanel2 :uyeForm:yabanciulkepanel2 
								:uyeForm:yabancisehirpanel2 :uyeForm:yabanciadrespanel2'}" />
							<arf:textoutput label="#{label['adres.adresturu']}" value="#{wizardController.adres2.adresturu.label}" />

							<arf:booleanbox id="isyeriadresvarsayilanCheckbox" compId="varsayilan" styleClass="optionalInputText" value="#{wizardController.isyeriadresvarsayilan}"
								label="#{label['adres.varsayilan']}" requiredCond="false" readOnlyStatus="#{wizardController.beyanadresvarsayilan== false}"
								disabledCond="#{wizardController.beyanadresvarsayilan== true}" ajaxEventListener="#{wizardController.handleChange}" changeEventUpdateComp="#{':uyeForm:isyeriAdresPanel'}"/>

							<p:outputPanel id="acikadrespanel2" rendered="true">
								<arf:textinputarea label="#{label['adres.acikAdres']}" value="#{wizardController.adres2.acikAdres}" compId="acikAdres2" requiredCond="false" id="acikAdresInputText2"
									maxLength="255" rendered="#{wizardController.adres2.adrestipi.code != 4}" />
							</p:outputPanel>

							<p:outputPanel id="sehirpanel2" rendered="true">
								<arf:dropdown label="#{label['adres.sehirRef']}" listSource="#{sessionUser.sehirItemList}" requiredCond="false" compId="sehirRefAdres2"
									value="#{wizardController.adres2.sehirRef}" converterId="#{'sehirConverter'}" id="sehirRefDropDownAdres2"
									ajaxEventListener="#{wizardController.handleChangeKurumSehir}" changeEventUpdateComp="#{':uyeForm:ilcepanel2'}"
									rendered="#{wizardController.adres2.adrestipi.code != 4}" />
							</p:outputPanel>
							<p:outputPanel id="ilcepanel2" rendered="true">
								<arf:dropdown label="#{label['adres.ilceRef']}" listSource="#{wizardController.ilceItemListForIsyeriAdres}" requiredCond="false" compId="ilceRefAdres2"
									value="#{wizardController.adres2.ilceRef}" converterId="#{'ilceConverter'}" id="ilceRefDropDown2" rendered="#{wizardController.adres2.adrestipi.code != 4}" />
							</p:outputPanel>
							<p:outputPanel id="yabanciulkepanel2" rendered="true">
								<arf:textinput label="#{label['adres.yabanciulke']}" value="#{wizardController.adres2.yabanciulke}" compId="yabanciulke2" requiredCond="false"
									id="yabanciulkeInputText2" maxLength="255" rendered="#{wizardController.adres2.adrestipi.code == 4}" />
							</p:outputPanel>
							<p:outputPanel id="yabancisehirpanel2" rendered="true">
								<arf:textinput label="#{label['adres.yabancisehir']}" value="#{wizardController.adres2.yabancisehir}" compId="yabancisehir2" requiredCond="false"
									id="yabancisehirInputText2" maxLength="255" rendered="#{wizardController.adres2.adrestipi.code == 4}" />
							</p:outputPanel>
							<p:outputPanel id="yabanciadrespanel2" rendered="true">
								<arf:textinputarea label="#{label['adres.yabanciadres']}" value="#{wizardController.adres2.yabanciadres}" compId="yabanciadres2" requiredCond="false"
									id="yabanciadresInputText2" maxLength="255" rendered="#{wizardController.adres2.adrestipi.code == 4}" />
							</p:outputPanel>
						</h:panelGrid>
					</p:panel>

					<p:panel header="Beyan Adresi" style="width:99%; margin-left:.5%; margin-top:10px" id="beyanAdresPanel">
						<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" style="width:100%">
							<arf:dropdown label="#{label['adres.adrestipi']}" listSource="#{enumeratedController.adresTipiItemsForKisi}" requiredCond="true" compId="adrestipi"
								value="#{wizardController.adres3.adrestipi}" id="adrestipiDropDownAdres3" addNullOption="true" ajaxEventListener="#{wizardController.handleChange}"
								changeEventUpdateComp="#{':uyeForm:beyanAdresPanel :uyeForm:acikadrespanel :uyeForm:sehirpanel :uyeForm:ilcepanel :uyeForm:yabanciulkepanel 
								:uyeForm:yabancisehirpanel :uyeForm:yabanciadrespanel'}" />
							<arf:textoutput label="#{label['adres.adresturu']}" value="#{wizardController.adres3.adresturu.label}" />

							<arf:booleanbox id="beyanadresvarsayilanCheckbox" compId="varsayilan" styleClass="optionalInputText" value="#{wizardController.beyanadresvarsayilan}"
								label="#{label['adres.varsayilan']}" requiredCond="false" ajaxEventListener="#{wizardController.handleChange}" changeEventUpdateComp="#{':uyeForm:isyeriAdresPanel'}"
								readOnlyStatus="#{wizardController.isyeriadresvarsayilan== false}"/>

							<p:outputPanel id="acikadrespanel" rendered="true">
								<arf:textinputarea label="#{label['adres.acikAdres']}" value="#{wizardController.adres3.acikAdres}" compId="acikAdres" requiredCond="true" id="acikAdresInputText"
									maxLength="255" rendered="#{wizardController.adres3.adrestipi.code != 4}" />
							</p:outputPanel>

							<arf:textinput label="#{label['adres.binaSiteAdi']}" value="#{wizardController.adres3.binaSiteAdi}" compId="binaSiteAdiAdres3" requiredCond="false"
								id="binaSiteAdiInputTextAdres3" maxLength="255" rendered="#{wizardController.kpsAdresDondu}" />
							<arf:textinput label="#{label['adres.binaBlokAdi']}" value="#{wizardController.adres3.binaBlokAdi}" compId="binaBlokAdiAdres3" requiredCond="false"
								id="binaBlokAdiInputTextAdres3" maxLength="255" rendered="#{wizardController.kpsAdresDondu}" />
							<arf:textinput label="#{label['adres.csbm']}" value="#{wizardController.adres3.csbm}" compId="csbmAdres3" requiredCond="false" id="csbmInputTextAdres3" maxLength="255"
								rendered="#{wizardController.kpsAdresDondu}" />
							<arf:textinput label="#{label['adres.disKapiNo']}" value="#{wizardController.adres3.disKapiNo}" compId="disKapiNoAdres3" requiredCond="false"
								id="disKapiNoInputTextAdres3" maxLength="255" rendered="#{wizardController.kpsAdresDondu}" />
							<arf:textinput label="#{label['adres.icKapiNo']}" value="#{wizardController.adres3.icKapiNo}" compId="icKapiNoAdres3" requiredCond="false" id="icKapiNoInputTextAdres3"
								maxLength="255" rendered="#{wizardController.kpsAdresDondu}" />

							<p:outputPanel id="sehirpanel" rendered="true"> 
								<arf:dropdown label="#{label['adres.sehirRef']}" listSource="#{sessionUser.sehirItemList}" requiredCond="true" compId="sehirRefAdres"
									value="#{wizardController.adres3.sehirRef}" converterId="#{'sehirConverter'}" id="sehirRefDropDownAdres" ajaxEventListener="#{wizardController.handleChange}"
									changeEventUpdateComp="#{':uyeForm:ilcepanel'}" rendered="#{wizardController.adres3.adrestipi.code != 4}" />
							</p:outputPanel>
							<p:outputPanel id="ilcepanel" rendered="true">
								<arf:dropdown label="#{label['adres.ilceRef']}" listSource="#{wizardController.ilceItemList}" requiredCond="true" compId="ilceRefAdres"
									value="#{wizardController.adres3.ilceRef}" converterId="#{'ilceConverter'}" id="ilceRefDropDownAdres" rendered="#{wizardController.adres3.adrestipi.code != 4}" />
							</p:outputPanel>

							<arf:textinput label="#{label['adres.mahalle']}" value="#{wizardController.adres3.mahalle}" compId="mahalleAdres3" requiredCond="false" id="mahalleInputTextAdres3"
								maxLength="255" rendered="#{wizardController.kpsAdresDondu}" />

							<p:outputPanel id="yabanciulkepanel" rendered="true">
								<arf:textinput label="#{label['adres.yabanciulke']}" value="#{wizardController.adres3.yabanciulke}" compId="yabanciulke" requiredCond="true" id="yabanciulkeInputText"
									maxLength="255" rendered="#{wizardController.adres3.adrestipi.code == 4}" />
							</p:outputPanel>
							<p:outputPanel id="yabancisehirpanel" rendered="true">
								<arf:textinput label="#{label['adres.yabancisehir']}" value="#{wizardController.adres3.yabancisehir}" compId="yabancisehir" requiredCond="true"
									id="yabancisehirInputText" maxLength="255" rendered="#{wizardController.adres3.adrestipi.code == 4}" />
							</p:outputPanel>
							<p:outputPanel id="yabanciadrespanel" rendered="true">
								<arf:textinputarea label="#{label['adres.yabanciadres']}" value="#{wizardController.adres3.yabanciadres}" compId="yabanciadres" requiredCond="true"
									id="yabanciadresInputText" maxLength="255" rendered="#{wizardController.adres3.adrestipi.code == 4}" />
							</p:outputPanel>

						</h:panelGrid>
					</p:panel>
				</p:fieldset>

				<p:fieldset id="iletisimEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['common.iletisim']}" rendered="#{wizardController.wizardStep == 6}">
					<p:panel header="#{label['common.iletisim']}" style="width:99%; margin-left:.5%" id="iletisimOnlyPanel">

						<h:panelGrid columns="1" style="width:100%">
							<arf:maskinput label="#{wizardController.telefon1.telefonturu.label}" value="#{wizardController.telefon1.telefonno}" compId="telefonnoOne" requiredCond="false"
								id="telefonnoInputTextOne" maxLength="30" customValidatorId="#{'phoneValidator'}" mask="0 (999) 999 9999" />
							<arf:maskinput label="#{wizardController.telefon2.telefonturu.label}" value="#{wizardController.telefon2.telefonno}" compId="telefonnoTwo" requiredCond="false"
								id="telefonnoInputTextTwo" maxLength="30" customValidatorId="#{'phoneValidator'}" mask="0 (999) 999 9999" rendered="#{wizardController.uye.uyetip.code != sessionController.ogrenciCode}"/>
							<arf:maskinput label="#{wizardController.telefon3.telefonturu.label}" value="#{wizardController.telefon3.telefonno}" compId="telefonnoThree" requiredCond="#{true}"
								id="telefonnoInputTextThree" maxLength="30" customValidatorId="#{'phoneValidator'}" mask="0 (999) 999 9999" />
							<arf:maskinput label="#{wizardController.telefon4.telefonturu.label}" value="#{wizardController.telefon4.telefonno}" compId="telefonnoFour" requiredCond="false"
								id="telefonnoInputTextFour" maxLength="30" customValidatorId="#{'phoneValidator'}" mask="0 (999) 999 9999" rendered="#{wizardController.uye.uyetip.code != sessionController.ogrenciCode}"/>
							<arf:textinput label="#{wizardController.internetAdres1.netadresturu.label}" value="#{wizardController.internetAdres1.netadresmetni}" compId="netadresmetni"
								requiredCond="#{true}" id="netadresmetniInputText" maxLength="70" keyFilterMask="email" />
							<arf:booleanbox id="iletisimEmailCheckBox" compId="iletisimEmail" styleClass="optionalInputText" value="#{wizardController.iletisimEmail}"
								label="#{label['uye.iletisimEmail']}" requiredCond="false" checked="true" />
							<arf:booleanbox id="iletisimSmsCheckbox" compId="iletisimSms" styleClass="optionalInputText" value="#{wizardController.iletisimSms}" label="#{label['uye.iletisimSms']}"
								requiredCond="false" checked="true" />
							<arf:booleanbox id="iletisimPostaCheckbox" compId="iletisimPosta" styleClass="optionalInputText" value="#{wizardController.iletisimPosta}"
								label="#{label['uye.iletisimPosta']}" requiredCond="false" />
						</h:panelGrid>
					</p:panel>
				</p:fieldset>

				<div style="margin-left: 40%; width: 60%">

					<p:outputPanel id="commandPanel">
						<p:blockUI block="commandPanel" trigger="uyeWizardForward">
							<h:outputText value="#{label['common.loading']}" />
							<br />
							<h:graphicImage library="_image" name="ajax-loader.gif" />
						</p:blockUI>
						<p:commandButton id="uyeWizardBackward" action="#{wizardController.wizardBackward}" value="#{label['command.backward']}" ajax="true" process="@this"
							update="@form :globalMessages" icon="backward" styleClass="arfCommandButton" rendered="#{wizardController.wizardStep > 2}" />


						<p:blockUI block="commandPanel" trigger="finishWizard">
							<h:outputText value="#{label['common.loading']}" />
							<br />
							<h:graphicImage library="_image" name="ajax-loader.gif" />
						</p:blockUI>
						<p:commandButton id="finishWizard" action="#{wizardController.finishWizard}" value="#{label['command.finishWizard']}" icon="save" ajax="true"
							styleClass="arfCommandButton" rendered="#{wizardController.wizardStep ==6  and !wizardController.uyeBulundu}" process="@form" update="@form :globalMessages" />
						<p:blockUI block="commandPanel" trigger="uyeWizardBackward">
							<h:outputText value="#{label['common.loading']}" />
							<br />
							<h:graphicImage library="_image" name="ajax-loader.gif" />
						</p:blockUI>
						<p:commandButton id="uyeWizardForward" action="#{wizardController.wizardForward}" value="#{label['command.forward']}" ajax="true" process="@form"
							update="@form :globalMessages" icon="forward" styleClass="arfCommandButton" rendered="#{wizardController.wizardStep != 6 and !wizardController.uyeBulundu}" />
					</p:outputPanel>
				</div>
			</h:form>

			<p:dialog header="#{label['common.detailEdit']}" widgetVar="kurumEditDialog" width="1000" height="500" style="position:absolute; left:5%; top:2%" modal="true"
				id="dialogUpdateBox" visible="#{wizardController.detailEditType == 'Kurum'}">
				<h:form id="kurumForm">

					<p:fieldset id="birimDialogPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['birim.edit']}">

						<arf:textinput label="#{label['kurum.ad']}" value="#{wizardController.kurum.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="100" />
						<arf:dropdown label="#{label['kurum.kurumTuruRef']}" listSource="#{wizardController.selectItemListFor('KurumTuru')}" requiredCond="true" compId="kurumTuruRef"
							value="#{wizardController.kurum.kurumTuruRef}" converterId="#{'kurumTuruConverter'}" id="kurumTuruRefDropDown" />
						<arf:textinput label="#{label['kurum.vergidairesi']}" value="#{wizardController.kurum.vergidairesi}" compId="vergidairesi" requiredCond="false"
							id="vergidairesiInputText" maxLength="30" />
						<arf:textinput label="#{label['kurum.vergino']}" value="#{wizardController.kurum.vergino}" compId="vergino" requiredCond="false" id="verginoInputText" maxLength="20" />

						<arf:suggestbox label="#{label['evrak.sorumluRef']}" methodName="#{wizardController.completeMethod}" requiredCond="false" compId="sorumluRefForFilter"
							value="#{wizardController.kurum.sorumluRef}" id="sorumluRefSuggestBoxForFilter" converterId="#{'kisiConverter'}" modelName="#{'Kisi'}" var="sorumluRef"
							itemValue="#{sorumluRef}" itemLabel="#{sorumluRef}" />
						<arf:textinput label="#{label['kurum.aciklama']}" value="#{wizardController.kurum.aciklama}" compId="aciklama" requiredCond="false" id="aciklamaInputText"
							maxLength="200" />
					</p:fieldset>
					<p align="center" style="margin-top: 20px">
						<p:blockUI block=":uyeForm" trigger="saveDetailsButton cancelDetailsButton">
							<h:outputText value="#{label['common.loading']}" />
							<br />
							<h:graphicImage library="_image" name="ajax-loader.gif" />
						</p:blockUI>
						<p:commandButton id="saveDetailsButton" icon="save" value="#{label['command.post']}" styleClass="commandButton" action="#{wizardController.saveKurum}"
							update=":uyeForm:kurumEditPanel :globalMessages" process="@form" ajax="true" />
						<p:commandButton id="cancelDetailsButton" icon="iptal" value="#{label['command.cancel']}" styleClass="commandButton" onclick="kurumEditDialog.hide()" process="@this" />
						<br />
					</p>
				</h:form>
			</p:dialog>
		</h:body>
		<pe:ajaxErrorHandler title="Error" body="Server return exception  {error-name} with description {error-message}" button="Hide" widgetVar="myAjaxErrorHandler"
			buttonOnclick="myAjaxErrorHandler.hide()" />
	</ui:define>
</ui:composition>
