<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<style>
			.uyeliktarihForFilterCalendar input { width: 70px; }
			.ayrilmatarihForFilterCalendar input { width: 70px; }
			.onaytarihForFilterCalendar input { width: 70px; }
		</style> 
		<h:body>
			<h:form id="uyeForm" prependId="false">
				<p:fieldset id="uyeDurumDegisiklikPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['uye.edit']}"
					rendered="#{!uyeController.editPanelRendered and uyeController.uyelikDurumuDegistirRendered}">
					<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">
						<arf:calendar label="#{label['uyedurumdegistirme.tarih']}" value="#{uyeController.uyedurumdegistirme.tarih}" id="tarihCalendar"
							pattern="#{configurationController.datePattern}" requiredCond="true" compId="tarih" />

						<arf:dropdown label="#{label['uyedurumdegistirme.yenidurum']}" listSource="#{enumeratedController.uyeDurumItems}" requiredCond="false" compId="yenidurum"
							value="#{uyeController.uyedurumdegistirme.yenidurum}" id="yenidurumDropDown" addNullOption="true" />
					</h:panelGrid>

					<p align="center">
						<p:commandButton id="postCommandForUye" action="#{uyeController.saveDurumDegisiklik}" value="#{label['command.post']}" ajax="true"
							process=":uyeForm:uyeDurumDegisiklikPanel" update=":uyeForm :globalMessages" icon="save" styleClass="arfCommandButton" />
						<p:commandButton id="browseCommandForUye" action="#{uyeController.cancel}" process="@this" update="@form" value="#{label['command.cancel']}" immediate="true"
							icon="iptal" styleClass="arfCommandButton" />
						<br />
					</p>
				</p:fieldset>

				<p:fieldset id="uyeFilterPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['uye.query']}"
					rendered="#{!uyeController.editPanelRendered and !uyeController.uyelikDurumuDegistirRendered}">
					<p:ajax listener="#{uyeController.onToggle}" event="toggle" />

					<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid" collapsed="#{uyeController.collapsed}">

						<arf:textinputForFilter label="#{label['kisi.kimlikno']}" value="#{uyeController.uyeFilter.kimlikno}" compId="kimliknoForFilter" requiredCond="false"
							id="kimliknoForFilterInputText" maxLength="11" />
						<arf:dualtextinputForFilter label="#{label['kisi.ad']} - #{label['kisi.soyad']}" requiredCond="false" compId="kisiad" style="width:80px"
							value="#{uyeController.uyeFilter.ad}" maxLength="10" id="kisiAdSoyadForFilterDualTextInput" requiredCond2="false" compId2="kisisoyad" style2="width:80px"
							value2="#{uyeController.uyeFilter.soyad}" maxLength2="10" />
						<arf:textinputForFilter label="#{label['uye.sicilno']}" value="#{uyeController.uyeFilter.sicilno}" compId="sicilnoForFilter" requiredCond="false"
							id="sicilnoForFilterInputText" maxLength="15" />
						<arf:dropdownForFilter label="#{label['uye.uyetip']}" listSource="#{enumeratedController.uyeTipItems}" requiredCond="false" compId="uyetipForFilter"
							value="#{uyeController.uyeFilter.uyetip}" id="uyetipForFilterDropDown" addNullOption="true" />
						<arf:dropdownForFilter label="#{label['uye.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="false" compId="birimRefForFilter"
							value="#{uyeController.uyeFilter.birimRef}" converterId="#{'birimConverter'}" id="birimRefForFilterDropDown" />

						<arf:doubleCalendarForFilter label="#{label['uye.uyeliktarih']}" value="#{uyeController.uyeFilter.uyeliktarih}" valueMax="#{uyeController.uyeFilter.uyeliktarihMax}"
							id="uyeliktarihForFilterCalendar" pattern="#{configurationController.datePattern}" requiredCond="false" compId="uyeliktarihForFilter" />
						<arf:doubleCalendarForFilter label="#{label['uye.ayrilmatarih']}" value="#{uyeController.uyeFilter.ayrilmatarih}" valueMax="#{uyeController.uyeFilter.ayrilmatarihMax}"
							id="ayrilmatarihForFilterCalendar" pattern="#{configurationController.datePattern}" requiredCond="false" compId="ayrilmatarihForFilter" />

						<arf:dropdownForFilter label="#{label['uye.uyedurum']}" listSource="#{enumeratedController.uyeDurumItems}" requiredCond="false" compId="uyedurumForFilter"
							value="#{uyeController.uyeFilter.uyedurum}" id="uyedurumForFilterDropDown" addNullOption="true" />
						<arf:dropdownForFilter label="#{label['uye.kayitdurum']}" listSource="#{enumeratedController.uyeKayitDurumItems}" requiredCond="false" compId="kayitdurumForFilter"
							value="#{uyeController.uyeFilter.kayitdurum}" id="kayitdurumForFilterDropDown" addNullOption="true" />

						<arf:doubleCalendarForFilter label="#{label['uye.onaytarih']}" value="#{uyeController.uyeFilter.onaytarih}" valueMax="#{uyeController.uyeFilter.onaytarihMax}"
							id="onaytarihForFilterCalendar" pattern="#{configurationController.datePattern}" requiredCond="false" compId="onaytarihForFilter" />
					</h:panelGrid> 
					<arf:filterBottomWithBlockUI controllerClassName="#{uyeController}" formName="uyeForm" listPanelName="uyeListPanel" filterPanelName="uyeFilterPanel" modelName="Uye"
						renderResetFilter="false" />
				</p:fieldset>

				<p:fieldset legend="#{label['uye.list']}" styleClass="pageFieldSet" id="uyeListPanel">
					<p:blockUI block="uyeTable" trigger="uyeTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="uyeTable" value="#{uyeController.list}" var="uyeRow" binding="#{uyeController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{uyeController.entity}" filteredValue="#{uyeController.filteredList}" widgetVar="filterTable" rowKey="#{uyeRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{uyeController.tableRowSelect}" update=":uyeForm" />
						<p:ajax event="rowUnselect" listener="#{uyeController.tableRowCancelSelection}" update=":uyeForm" />
						<p:ajax event="rowDblselect" listener="#{uyeController.onRowDblClckSelect}" update=":uyeForm" global="false" />

						<p:column style="text-align:center; width:60px">
							<f:facet name="header">
								<h:outputText value="#{label['common.detay']}" />
							</f:facet>
							<h:commandLink action="#{uyeController.detailPage(uyeRow.RID)}">
								<h:graphicImage library="_image" name="detail.png" />
							</h:commandLink>
						</p:column>
						<arftags:column val="#{uyeRow.kisiRef.UIString}" header="#{label['uye.kisiRef']}" width="10" />
						<arftags:column val="#{uyeRow.sicilno}" header="#{label['uye.sicilno']}" width="10" />
						<arftags:column val="#{uyeRow.birimRef.sehirRef.ad}" header="#{label['birim.sehirRef']}" width="10" />
						<arftags:column val="#{uyeRow.uyetip.label}" header="#{label['uye.uyetip']}" width="10" />
						<arftags:column val="#{uyeRow.birimRef.ad}" header="#{label['uye.birimRef']}" width="10" />
						<arftags:columnHtml val="#{uyeRow.iletisimTercih}" header="#{label['uye.iletisimtip']}" width="10" />
						<arftags:numericColumn val="#{uyeRow.uyeAidatBorc}" header="#{label['uyeaidat.borc']}" width="10" />
						<arftags:column val="#{uyeRow.kisiRef.kisiTelefon.UIString}" header="#{label['uye.telefon']}" width="10" />
						<arftags:column val="#{uyeRow.kisiRef.kisiInternetadres.UIString}" header="#{label['uye.email']}" width="10" />

						<p:column style="width:17%">
							<f:facet name="header">
								<h:outputText value="#{label['uye.uyedurum']}" />
							</f:facet>
							<h:outputText style="white-space:normal" value="#{uyeRow.uyedurum.label}" escape="false" />
							<br />

							<h:outputText style="white-space:normal; color:red" value="#{label['uye.uyeliktarih']} : " />
							<h:outputText style="white-space:normal" value="#{uyeRow.uyeliktarih}" escape="false">
								<f:convertDateTime type="date" timeZone="#{configurationController.timeZone}" pattern="#{configurationController.datePattern}" />
							</h:outputText>

							<h:outputText style="white-space:normal; color:red" value="#{label['uye.ayrilmatarih']} : " rendered="#{uyeRow.ayrilmatarih != null}" />
							<h:outputText style="white-space:normal" value="#{uyeRow.ayrilmatarih}" escape="false" rendered="#{uyeRow.ayrilmatarih != null}">
								<f:convertDateTime type="date" timeZone="#{configurationController.timeZone}" pattern="#{configurationController.datePattern}" />
							</h:outputText>
						</p:column>
						<p:column style="width:17%">
							<f:facet name="header">
								<h:outputText value="#{label['uye.kayitdurum']}" />
							</f:facet>
							<h:outputText style="white-space:normal" value="#{uyeRow.kayitdurum.label}" escape="false" />
							<br />
							<p:outputPanel rendered="#{uyeRow.kayitdurum.code == sessionController.uyeKayitDurumOnaylanmisCode}">
								<h:outputText style="white-space:normal; color:red" value="#{label['uye.onaylayanRef']} : " escape="false"
									rendered="#{uyeRow.kayitdurum.code == sessionController.uyeKayitDurumOnaylanmisCode}" />
								<h:outputText style="white-space:normal" value="#{uyeRow.onaylayanRef.UIStringShortest}" escape="false"
									rendered="#{uyeRow.kayitdurum.code == sessionController.uyeKayitDurumOnaylanmisCode}" />
								<br />
								<h:outputText style="white-space:normal; color:red" value="#{label['uye.onaytarih']} : "
									rendered="#{uyeRow.kayitdurum.code == sessionController.uyeKayitDurumOnaylanmisCode}" />
								<h:outputText style="white-space:normal" value="#{uyeRow.onaytarih}" escape="false"
									rendered="#{uyeRow.kayitdurum.code == sessionController.uyeKayitDurumOnaylanmisCode}">
									<f:convertDateTime type="date" timeZone="#{configurationController.timeZone}" pattern="#{configurationController.datePattern}" />
								</h:outputText>
							</p:outputPanel>
						</p:column>
					</p:dataTable>
					<arf:pagingWithBlockUI controllerClassName="#{uyeController}" formName="uyeForm" listPanelName="uyeListPanel" pagingOption="true" tableName="uyeTable"
						exportToWord="false" exportToOpenOffice="false" addExport="false" addOption="false" updateOption="false" deleteOption="false" addSubRecordOption="false"
						wizardOption="false" logOption="false" />
				</p:fieldset> 
			</h:form>
			<p:dialog header="#{label['common.detailEdit']}" widgetVar="printDialog" width="1500" height="#{uyeController.heightOfEditDialog}"
				style="position:absolute; left:5%; top:5%" modal="true" id="dialogUpdateBox">

				<h:form id="detailEditForm">
					<p:blockUI block="uyeTable" trigger="uyeTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="uyeTable" value="#{uyeController.list}" var="uyeRow" binding="#{uyeController.table2}" rowIndexVar="rowIndex"
						rowKey="#{uyeRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{uyeController.tableRowSelect}" update=":detailEditForm" />
						<p:ajax event="rowUnselect" listener="#{uyeController.tableRowCancelSelection}" update=":detailEditForm" />

						<arftags:column val="#{uyeRow.kisiRef.UIString}" header="#{label['uye.kisiRef']}" width="10" />
						<arftags:column val="#{uyeRow.sicilno}" header="#{label['uye.sicilno']}" width="10" />
						<arftags:column val="#{uyeRow.birimRef.sehirRef.ad}" header="#{label['birim.sehirRef']}" width="10" />
						<arftags:column val="#{uyeRow.uyetip.label}" header="#{label['uye.uyetip']}" width="10" />
						<arftags:column val="#{uyeRow.birimRef.ad}" header="#{label['uye.birimRef']}" width="10" />
						<arftags:column val="#{uyeRow.iletisimSms.label}" header="#{label['uye.sms']}" width="5" />
						<arftags:column val="#{uyeRow.iletisimEmail.label}" header="#{label['uye.email']}" width="5" />
						<arftags:column val="#{uyeRow.iletisimPosta.label}" header="#{label['uye.posta']}" width="5" />
						<arftags:numericColumn val="#{uyeRow.uyeAidatBorc}" header="#{label['uyeaidat.borc']}" width="10" />
						<arftags:column val="#{uyeRow.kisiRef.kisiTelefon.UIString}" header="#{label['uye.telefon']}" width="10" />
						<arftags:column val="#{uyeRow.kisiRef.kisiInternetadres.UIString}" header="#{label['uye.email']}" width="10" />

						<p:column style="width:17%">
							<f:facet name="header">
								<h:outputText value="#{label['uye.uyedurum']}" />
							</f:facet>
							<h:outputText style="white-space:normal" value="#{uyeRow.uyedurum.label}" escape="false" />
							<br />

							<h:outputText style="white-space:normal; color:red" value="#{label['uye.uyeliktarih']} : " />
							<h:outputText style="white-space:normal" value="#{uyeRow.uyeliktarih}" escape="false">
								<f:convertDateTime type="date" timeZone="#{configurationController.timeZone}" pattern="#{configurationController.datePattern}" />
							</h:outputText>

							<h:outputText style="white-space:normal; color:red" value="#{label['uye.ayrilmatarih']} : " rendered="#{uyeRow.ayrilmatarih != null}" />
							<h:outputText style="white-space:normal" value="#{uyeRow.ayrilmatarih}" escape="false" rendered="#{uyeRow.ayrilmatarih != null}">
								<f:convertDateTime type="date" timeZone="#{configurationController.timeZone}" pattern="#{configurationController.datePattern}" />
							</h:outputText>
						</p:column>
						<p:column style="width:17%">
							<f:facet name="header">
								<h:outputText value="#{label['uye.kayitdurum']}" />
							</f:facet>
							<h:outputText style="white-space:normal" value="#{uyeRow.kayitdurum.label}" escape="false" />
							<br />
							<p:outputPanel rendered="#{uyeRow.kayitdurum.code == sessionController.uyeKayitDurumOnaylanmisCode}">
								<h:outputText style="white-space:normal; color:red" value="#{label['uye.onaylayanRef']} : " escape="false"
									rendered="#{uyeRow.kayitdurum.code == sessionController.uyeKayitDurumOnaylanmisCode}" />
								<h:outputText style="white-space:normal" value="#{uyeRow.onaylayanRef.UIStringShortest}" escape="false"
									rendered="#{uyeRow.kayitdurum.code == sessionController.uyeKayitDurumOnaylanmisCode}" />
								<br />
								<h:outputText style="white-space:normal; color:red" value="#{label['uye.onaytarih']} : "
									rendered="#{uyeRow.kayitdurum.code == sessionController.uyeKayitDurumOnaylanmisCode}" />
								<h:outputText style="white-space:normal" value="#{uyeRow.onaytarih}" escape="false"
									rendered="#{uyeRow.kayitdurum.code == sessionController.uyeKayitDurumOnaylanmisCode}">
									<f:convertDateTime type="date" timeZone="#{configurationController.timeZone}" pattern="#{configurationController.datePattern}" />
								</h:outputText>
							</p:outputPanel>
						</p:column>
					</p:dataTable>
					<arf:pagingWithBlockUI controllerClassName="#{uyeController}" formName="detailEditForm" listPanelName="uyeListPanel" pagingOption="true" tableName="uyeTable"
						exportToWord="true" exportToOpenOffice="true" addExport="true" addOption="false" updateOption="false" deleteOption="false" addSubRecordOption="false"
						wizardOption="false" logOption="true" />

				</h:form>
			</p:dialog>
		</h:body>
	</ui:define>
</ui:composition>
