<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column"
	xmlns:pe="http://primefaces.org/ui/extensions">


<h:head>
	<h:outputStylesheet library="style" name="main.css" />
</h:head>
<f:view>
	<f:loadBundle basename="#{applicationController.labelResource}" var="label" />

	<h:body style="background-image: url('/Toys/faces/javax.faces.resource/loginPageBack.jpg?ln=_image'); overflow:hidden">
		<h:graphicImage library="_image" name="loginPageTop.png" style="position:absolute; top:10px" />
		<p:spacer height="150" />
		<p:panel id="globalMessages">
			<h:outputText value="#{sessionUser.message}" id="globalSessionUserMessage" />
			<h:messages globalOnly="true" showDetail="true" showSummary="false" id="globalMessages_HMessage" style="color:red" infoClass="infoBox" errorClass="errorBox"
				fatalClass="errorBox" warnClass="warningBox" />
		</p:panel>

		<h:form id="uyeBasvuruForm" prependId="false">
			<p:fieldset legend="#{label['common.sihirbazDurum']}" style="height:60px" styleClass="pageFieldSet">
				<h:outputText value="#{label['common.sihirbazAdim']} #{uyeBasvurucontroller.wizardStep} : " style="color:red; font-size:16px; font-weight:bold; margin-left:20px" />
				<h:outputText value="#{label['uye.edit']}" style="color:#333333; font-size:14px; font-weight:bold" rendered="#{uyeBasvuruController.wizardStep == 1}" />
				<h:outputText value="#{label['kisi.edit']} - #{label['kisikimlik.edit']}" style="color:#333333; font-size:14px; font-weight:bold"
					rendered="#{uyeBasvuruController.wizardStep == 2}" />
				<h:outputText value="#{label['uyeogrenim.edit']}" style="color:#333333; font-size:14px; font-weight:bold" rendered="#{uyeBasvuruController.wizardStep == 3}" />
				<h:outputText value="#{label['uyekurum.edit']}" style="color:#333333; font-size:14px; font-weight:bold" rendered="#{uyeBasvuruController.wizardStep == 4}" />
				<h:outputText value="#{label['adres.edit']}" style="color:#333333; font-size:14px; font-weight:bold" rendered="#{uyeBasvuruController.wizardStep == 5}" />
				<h:outputText value="#{label['telefon.edit']}" style="color:#333333; font-size:14px; font-weight:bold" rendered="#{uyeBasvuruController.wizardStep == 6}" />
				<h:outputText value="#{label['internetadres.edit']}" style="color:#333333; font-size:14px; font-weight:bold" rendered="#{uyeBasvuruController.wizardStep == 7}" />
			</p:fieldset>

			<p:fieldset id="uyeEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['uye.edit']}" rendered="#{uyeBasvuruController.wizardStep == 1}">
				<p:panel header="#{label['uye.edit']}" style="width:99%; margin-left:.5%" id="uyeOnlyPanel">

					<arf:dropdown label="#{label['uye.uyetip']}" listSource="#{enumeratedController.uyeTipItems}" requiredCond="true" compId="uyetip"
						value="#{uyeBasvuruController.uye.uyetip}" id="uyetipDropDown" updateCompWithoutEvent="#{':uyeBasvuruForm:uyeEditPanel' }" />

					<arf:spinner label="#{label['uye.sinif']}" value="#{uyeBasvuruController.uye.sinif}" compId="sinif"
						requiredCond="#{uyeBasvuruController.uye.uyetip.code == sessionController.ogrenciCode}" id="sinifSpinner" maxLength="1" min="0" max="6"
						rendered="#{uyeBasvuruController.uye.uyetip.code == sessionController.ogrenciCode}" />
					<arf:textinput label="#{label['uye.ogrenciNo']}" value="#{uyeBasvuruController.uye.ogrenciNo}" compId="ogrenciNo"
						requiredCond="#{uyeBasvuruController.uye.uyetip.code == sessionController.ogrenciCode}" id="ogrenciNoInputText" maxLength="15"
						rendered="#{uyeBasvuruController.uye.uyetip.code == sessionController.ogrenciCode}" />
				</p:panel>
			</p:fieldset>

			<p:fieldset id="kisiEditPanel" toggleable="false" styleClass="pageFieldSet" rendered="#{uyeBasvuruController.wizardStep == 2}">
				<p:panel header="#{label['kisi.edit']}" style="width:99%; margin-left:.5%" id="kisiOnlyPanel">
					<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">
						<arf:limitedtextinput label="#{label['kisi.kimlikno']}" value="#{uyeBasvuruController.kisi.kimlikno}" compId="kimliknoKisi" requiredCond="true"
							id="kimliknoInputTextKisi" maxLength="11" minLength="11" longMin="10000000000" longMax="99999999999" />
						<arf:textinput label="#{label['kisi.ad']}" value="#{uyeBasvuruController.kisi.ad}" compId="ad" requiredCond="#{uyeBasvuruController.zorunlu}" id="adInputText"
							maxLength="50" readOnlyStatus="#{uyeBasvuruController.kpsKaydiBulundu}" />
						<arf:textinput label="#{label['kisi.soyad']}" value="#{uyeBasvuruController.kisi.soyad}" compId="soyad" requiredCond="#{uyeBasvuruController.zorunlu}"
							id="soyadInputText" maxLength="50" readOnlyStatus="#{uyeBasvuruController.kpsKaydiBulundu}" />
					</h:panelGrid>
					<p align="center">

						<p:commandButton id="queryKimlikButton" action="#{uyeBasvuruController.kimlikBilgisiSorgula}" value="#{label['command.query']}" process="kisiOnlyPanel"
							update="kisiEditPanel commandPanel :globalMessages" ajax="true" styleClass="arfCommandButton" />
					</p>
				</p:panel>

				<p:panel header="#{label['kisikimlik.edit']}" style="width:99%; margin-left:.5%">
					<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid"
						rendered="#{uyeBasvuruController.kpsSorguSonucDondu and !uyeBasvuruController.kpsKaydiBulundu and uyeBasvuruController.kpsZorla}">
						<arf:textinput label="#{label['kisikimlik.kimlikno']}" value="#{uyeBasvuruController.kisikimlik.kimlikno}" compId="kimlikno" requiredCond="true" id="kimliknoInputText"
							maxLength="20" readOnlyStatus="true" />
						<arf:textinput label="#{label['kisikimlik.babaad']}" value="#{uyeBasvuruController.kisikimlik.babaad}" compId="babaad" requiredCond="true" id="babaadInputText"
							maxLength="20" />
						<arf:textinput label="#{label['kisikimlik.anaad']}" value="#{uyeBasvuruController.kisikimlik.anaad}" compId="anaad" requiredCond="true" id="anaadInputText"
							maxLength="20" />
						<arf:textinput label="#{label['kisikimlik.dogumyer']}" value="#{uyeBasvuruController.kisikimlik.dogumyer}" compId="dogumyer" requiredCond="true" id="dogumyerInputText"
							maxLength="20" />
						<arf:calendar label="#{label['kisikimlik.dogumtarih']}" value="#{uyeBasvuruController.kisikimlik.dogumtarih}" id="dogumtarihCalendar"
							pattern="#{configurationController.datePattern}" requiredCond="true" compId="dogumtarih" navigatorRendered="true"
							yearRange="#{configurationController.calendarYearRangeForBirthdays}" />
						<arf:dropdown label="#{label['kisikimlik.cinsiyet']}" listSource="#{enumeratedController.cinsiyetItems}" requiredCond="true" compId="cinsiyet"
							value="#{uyeBasvuruController.kisikimlik.cinsiyet}" id="cinsiyetDropDown" />
						<arf:dropdown label="#{label['kisikimlik.kangrup']}" listSource="#{enumeratedController.kanGrubuItems}" requiredCond="false" compId="kangrup"
							value="#{uyeBasvuruController.kisikimlik.kangrup}" id="kangrupDropDown" addNullOption="true" />
						<arf:dropdown label="#{label['kisikimlik.medenihal']}" listSource="#{enumeratedController.medeniHalItems}" requiredCond="true" compId="medeniHal"
							value="#{uyeBasvuruController.kisikimlik.medenihal}" id="medeniHalDropDown" addNullOption="true" />
						<arf:dropdown label="#{label['kisikimlik.sehirRef']}" listSource="#{sessionUser.sehirItemList}" requiredCond="true" compId="sehirRef"
							value="#{uyeBasvuruController.kisikimlik.sehirRef}" converterId="#{'sehirConverter'}" id="sehirRefDropDown" ajaxEventListener="#{uyeBasvuruController.handleChange}"
							changeEventUpdateComp="#{':uyeBasvuruForm:ilceRefDropDown:ilceRef'}" />
						<arf:dropdown label="#{label['kisikimlik.ilceRef']}" listSource="#{uyeBasvuruController.ilceItemList}" requiredCond="true" compId="ilceRef"
							value="#{uyeBasvuruController.kisikimlik.ilceRef}" converterId="#{'ilceConverter'}" id="ilceRefDropDown" />
						<arf:textinput label="#{label['kisikimlik.ciltno']}" value="#{uyeBasvuruController.kisikimlik.ciltno}" compId="ciltno" requiredCond="true" id="ciltnoInputText"
							maxLength="15" />
						<arf:textinput label="#{label['kisikimlik.aileno']}" value="#{uyeBasvuruController.kisikimlik.aileno}" compId="aileno" requiredCond="true" id="ailenoInputText"
							maxLength="10" />
						<arf:textinput label="#{label['kisikimlik.sirano']}" value="#{uyeBasvuruController.kisikimlik.sirano}" compId="sirano" requiredCond="true" id="siranoInputText"
							maxLength="5" />
					</h:panelGrid>

					<h:outputText value="KPS Bilgisi : " rendered="#{(uyeBasvuruController.kpsSorguSonucDondu and uyeBasvuruController.kpsKaydiBulundu)}" />
					<h:outputText value="VT Bilgisi : " rendered="#{(uyeBasvuruController.kisiVeritabanindaBulundu)}" />
					<h:panelGrid columns="4" columnClasses="yirmiYuzde, otuzYuzde, yirmiYuzde, otuzYuzde" styleClass="arfEditGrid"
						rendered="#{(uyeBasvuruController.kpsSorguSonucDondu and uyeBasvuruController.kpsKaydiBulundu) or (uyeBasvuruController.kisiVeritabanindaBulundu)}">
						<arftags:detailItem colName="kimlikno" header="#{label['kisikimlik.kimlikno']}" renderCondition="true" val="#{uyeBasvuruController.kisikimlik.kimlikno}" />
						<arftags:detailItem colName="babaad" header="#{label['kisikimlik.babaad']}" renderCondition="true" val="#{uyeBasvuruController.kisikimlik.babaad}" />
						<arftags:detailItem colName="anaad" header="#{label['kisikimlik.anaad']}" renderCondition="true" val="#{uyeBasvuruController.kisikimlik.anaad}" />
						<arftags:detailItem colName="dogumyer" header="#{label['kisikimlik.dogumyer']}" renderCondition="true" val="#{uyeBasvuruController.kisikimlik.dogumyer}" />
						<arftags:detailDateItem colName="dogumtarih" val="#{uyeBasvuruController.kisikimlik.dogumtarih}" header="#{label['kisikimlik.dogumtarih']}" renderCondition="true" />
						<arftags:detailItem colName="cinsiyet" val="#{uyeBasvuruController.kisikimlik.cinsiyet.label}" header="#{label['kisikimlik.cinsiyet']}" renderCondition="true" />
						<arftags:detailItem colName="kangrup" val="#{uyeBasvuruController.kisikimlik.kangrup.label}" header="#{label['kisikimlik.kangrup']}" renderCondition="true" />
						<arftags:detailItem colName="medenihal" val="#{uyeBasvuruController.kisikimlik.medenihal.label}" header="#{label['kisikimlik.medenihal']}" renderCondition="true" />
						<arftags:detailItem colName="sehirRef1" val="#{uyeBasvuruController.kisikimlik.sehirRef.UIString}" header="#{label['kisikimlik.sehirRef']}" renderCondition="true" />
						<arftags:detailItem colName="ilceRef1" val="#{uyeBasvuruController.kisikimlik.ilceRef.UIString}" header="#{label['kisikimlik.ilceRef']}" renderCondition="true" />
						<arftags:detailItem colName="ciltno" val="#{uyeBasvuruController.kisikimlik.ciltno}" header="#{label['kisikimlik.ciltno']}" renderCondition="true" />
						<arftags:detailItem colName="aileno" val="#{uyeBasvuruController.kisikimlik.aileno}" header="#{label['kisikimlik.aileno']}" renderCondition="true" />
						<arftags:detailItem colName="sirano" val="#{uyeBasvuruController.kisikimlik.sirano}" header="#{label['kisikimlik.sirano']}" renderCondition="true" />
					</h:panelGrid>

				</p:panel>
			</p:fieldset>

			<p:fieldset id="uyeogrenimEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['uyeogrenim.edit']}" rendered="#{uyeBasvuruController.wizardStep == 3}">
				<p:panel header="#{label['kisi.summary']}" style="width:99%; margin-left:.5%;  margin-bottom:10px">
					<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">
						<arf:textoutput label="#{label['kisi.kimlikno']}" value="#{uyeBasvuruController.kisi.kimlikno}" id="readOnlyKimlikNoForAdresEdit" />
						<arf:textoutput label="#{label['kisi.ad']} - #{label['kisi.soyad']}" value="#{uyeBasvuruController.kisi.ad} - #{uyeBasvuruController.kisi.soyad}"
							id="readOnlyAdSoyadForAdresEdit" />
					</h:panelGrid>
				</p:panel>
				<p:panel header="#{label['uyeogrenim.edit']}" style="width:99%; margin-left:.5%" id="uyeogrenimOnlyPanel">
					<arf:textoutput label="#{label['uyeogrenim.ogrenimtip']}" value="#{uyeBasvuruController.uyeogrenim.ogrenimtip.label}" id="ogrenimTipOutputText" />

					<arf:dropdown label="#{label['uyeogrenim.universiteRef']}" listSource="#{uyeBasvuruController.selectItemListFor('Universite')}" requiredCond="true" compId="universiteRef"
						value="#{uyeBasvuruController.uyeogrenim.universiteRef}" converterId="#{'universiteConverter'}" id="universiteRefDropDown"
						ajaxEventListener="#{uyeBasvuruController.handleChange}" changeEventUpdateComp="#{':uyeBasvuruForm:fakulteRefDropDown:fakulteRef'}" />
					<arf:dropdown label="#{label['uyeogrenim.fakulteRef']}" listSource="#{uyeBasvuruController.fakulteItemList}" requiredCond="true" compId="fakulteRef"
						value="#{uyeBasvuruController.uyeogrenim.fakulteRef}" converterId="#{'fakulteConverter'}" id="fakulteRefDropDown"
						ajaxEventListener="#{uyeBasvuruController.handleChange}" changeEventUpdateComp="#{':uyeBasvuruForm:bolumRefDropDown:bolumRef'}" />
					<arf:dropdown label="#{label['uyeogrenim.bolumRef']}" listSource="#{uyeBasvuruController.bolumItemList}" requiredCond="true" compId="bolumRef"
						value="#{uyeBasvuruController.uyeogrenim.bolumRef}" converterId="#{'bolumConverter'}" id="bolumRefDropDown" />

					<arf:textinput label="#{label['uyeogrenim.lisansunvan']}" value="#{uyeBasvuruController.uyeogrenim.lisansunvan}" compId="lisansunvan" requiredCond="true"
						id="lisansunvanInputText" maxLength="200" />
					<arf:textinput label="#{label['uyeogrenim.diplomano']}" value="#{uyeBasvuruController.uyeogrenim.diplomano}" compId="diplomano" requiredCond="true"
						id="diplomanoInputText" maxLength="200" />
					<arf:dropdown label="#{label['uyeogrenim.denklikdurum']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="denklikdurum"
						value="#{uyeBasvuruController.uyeogrenim.denklikdurum}" id="denklikdurumDropdown" />
					<arf:textinput label="#{label['uyeogrenim.aciklama']}" value="#{uyeBasvuruController.uyeogrenim.aciklama}" compId="aciklama" requiredCond="false" id="aciklamaInputText"
						maxLength="200" />

					<arf:spinner label="#{label['uyeogrenim.mezuniyettarihi']}" value="#{uyeBasvuruController.uyeogrenim.mezuniyettarihi}" compId="mezuniyettarihi" requiredCond="true"
						id="mezuniyetTarihiSpinner" maxLength="4" minLength="4" min="1900" max="9999" />

				</p:panel>
			</p:fieldset>
			<p:fieldset id="kurumEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kurum.edit']}" rendered="#{uyeBasvuruController.wizardStep == 4}">
				<p:panel header="#{label['kurum.edit']}" style="width:99%; margin-left:.5%" id="kurumOnlyPanel">
					<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde, otuzYuzde, kirkYuzde">
						<h:outputText value="#{label['command.uyekurum']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
						<h:panelGroup>
							<p:autoComplete value="#{uyeBasvuruController.uyekurum.kurumRef}" completeMethod="#{uyeBasvuruController.completeMethod}" maxResults="50" queryDelay="500"
								id="kurumRefUyeKurum" minQueryLength="3" required="false" forceSelection="true" var="kurumRec" itemValue="#{kurumRec}" itemLabel="#{kurumRec.ad}">
								<f:converter converterId="kurumConverter" />
								<f:ajax event="itemSelect" render=":uyeBasvuruForm:adresRefDropDown:adresRef :uyeBasvuruForm:" process="@this" />
								<f:attribute name="modelNameForAutoComplete" value="#{'Kurum'}" />
							</p:autoComplete>
							<p:blockUI block="kurumEditPanel" trigger="kurumRefUyeKurum">
								<h:outputText value="#{label['common.loading']}" />
								<br />
								<h:graphicImage library="_image" name="ajax-loader.gif" />
							</p:blockUI>

						</h:panelGroup>
						<p:message for="kurumRefUyeKurum" />
					</h:panelGrid>

					<arf:dropdown label="#{label['uyekurum.adresRef']}" listSource="#{uyeBasvuruController.selectAdresListForUyeKurum}" requiredCond="false" compId="adresRef"
						value="#{uyeBasvuruController.uyekurum.adresRef}" converterId="#{'adresConverter'}" id="adresRefDropDown" />
					<arf:textinput label="#{label['uyekurum.gorev']}" value="#{uyeBasvuruController.uyekurum.gorev}" compId="gorev" requiredCond="false" id="gorevInputText" maxLength="30" />
					<p:outputPanel id="baslangictarihpanel" rendered="true">
						<arf:calendar label="#{label['uyekurum.baslangictarih']}" value="#{uyeBasvuruController.uyekurum.baslangictarih}" id="baslangictarihCalendarKurum"
							pattern="#{configurationController.datePattern}" requiredCond="true" compId="baslangictarihKurum" rendered="#{uyeBasvuruController.uyekurum.kurumRef!=null}" />
					</p:outputPanel>
				</p:panel>
			</p:fieldset>

			<p:fieldset id="adresEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['adres.edit']}" rendered="#{uyeBasvuruController.wizardStep == 5}">
				<p:panel header="KPS Adresi" style="width:99%; margin-left:.5%" id="kpsAdresPanel">
					<h:panelGrid columns="4" columnClasses="yirmiYuzde, otuzYuzde, yirmiYuzde, otuzYuzde" style="width:100%">
						<arftags:detailItem val="#{uyeBasvuruController.kpsAdres.adresturu.label}" header="#{label['adres.adresturu']}" colName="adresturu" renderCondition="true" />
						<arftags:detailItem val="#{uyeBasvuruController.kpsAdres.adrestipi.label}" header="#{label['adres.adrestipi']}" colName="adrestipi" renderCondition="true" />
						<arftags:detailItem val="#{uyeBasvuruController.kpsAdres.acikAdres}" header="#{label['adres.acikAdres']}" colName="acikAdres" renderCondition="true" />
						<arftags:detailItem val="#{uyeBasvuruController.kpsAdres.binaSiteAdi}" header="#{label['adres.binaSiteAdi']}" colName="binaSiteAdi" renderCondition="true" />
						<arftags:detailItem val="#{uyeBasvuruController.kpsAdres.binaBlokAdi}" header="#{label['adres.binaBlokAdi']}" colName="binaBlokAdi" renderCondition="true" />
						<arftags:detailItem val="#{uyeBasvuruController.kpsAdres.csbm}" header="#{label['adres.csbm']}" colName="csbm" renderCondition="true" />
						<arftags:detailItem val="#{uyeBasvuruController.kpsAdres.disKapiNo}" header="#{label['adres.disKapiNo']}" colName="disKapiNo" renderCondition="true" />
						<arftags:detailItem val="#{uyeBasvuruController.kpsAdres.icKapiNo}" header="#{label['adres.icKapiNo']}" colName="icKapiNo" renderCondition="true" />
						<arftags:detailItem val="#{uyeBasvuruController.kpsAdres.mahalle}" header="#{label['adres.mahalle']}" colName="mahalle" renderCondition="true" />
						<arftags:detailItem val="#{uyeBasvuruController.kpsAdres.sehirRef.UIString}" header="#{label['adres.sehirRef']}" colName="sehirRef" renderCondition="true" />
						<arftags:detailItem val="#{uyeBasvuruController.kpsAdres.ilceRef.UIString}" header="#{label['adres.ilceRef']}" colName="ilceRef" renderCondition="true" />
					</h:panelGrid>
				</p:panel>

				<p:panel header="İşyeri Adresi" style="width:99%; margin-left:.5%; margin-top:10px" id="isyeriAdresPanel" rendered="#{uyeBasvuruController.uyekurum.kurumRef.RID != null}">
					<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" style="width:100%">
						<arf:dropdown label="#{label['adres.adrestipi']}" listSource="#{enumeratedController.adresTipiItemsForKisi}" requiredCond="true" compId="adrestipi"
							value="#{uyeBasvuruController.adres2.adrestipi}" id="adrestipiDropDownAdres2" addNullOption="true"
							ajaxEventListener="#{uyeBasvuruController.adresController.handleChange}" changeEventUpdateComp="#{':uyeBasvuruForm:isyeriAdresPanel'}" />
						<arf:textoutput label="#{label['adres.adresturu']}" value="#{uyeBasvuruController.adres2.adresturu.label}" />
						<arf:booleanbox id="isyeriadresvarsayilanCheckbox" compId="varsayilan" styleClass="optionalInputText" value="#{uyeBasvuruController.isyeriadresvarsayilan}"
							label="#{label['adres.varsayilan']}" requiredCond="false" readOnlyStatus="#{uyeBasvuruController.beyanadresvarsayilan== false}"
							disabledCond="#{uyeBasvuruController.beyanadresvarsayilan== true}" />

						<arf:textinputarea label="#{label['adres.acikAdres']}" value="#{uyeBasvuruController.adres2.acikAdres}" compId="acikAdresAdres2" requiredCond="false"
							id="acikAdresInputTextAdres2" maxLength="255" readOnlyStatus="#{uyeBasvuruController.adres2.adrestipi.code == 4}" />
						<arf:dropdown label="#{label['adres.sehirRef']}" listSource="#{sessionUser.sehirItemList}" requiredCond="false" compId="sehirRefAdres2"
							value="#{uyeBasvuruController.adres2.sehirRef}" converterId="#{'sehirConverter'}" id="sehirRefDropDownAdres2"
							ajaxEventListener="#{uyeBasvuruController.adresController.handleChange}" changeEventUpdateComp="#{':uyeBasvuruForm:ilceRefDropDownAdres2:ilceRefAdres2'}" />
						<arf:dropdown label="#{label['adres.ilceRef']}" listSource="#{uyeBasvuruController.ilceItemListForIsyeriAdres}" requiredCond="false" compId="ilceRefAdres2"
							value="#{uyeBasvuruController.adres2.ilceRef}" converterId="#{'ilceConverter'}" id="ilceRefDropDownAdres2" />

					</h:panelGrid>
				</p:panel>

				<p:panel header="Beyan Adresi" style="width:99%; margin-left:.5%; margin-top:10px" id="beyanAdresPanel">
					<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" style="width:100%">
						<arf:dropdown label="#{label['adres.adrestipi']}" listSource="#{enumeratedController.adresTipiItemsForKisi}" requiredCond="true" compId="adrestipi"
							value="#{uyeBasvuruController.adres3.adrestipi}" id="adrestipiDropDownAdres3" addNullOption="true" ajaxEventListener="#{uyeBasvuruController.handleChange}"
							changeEventUpdateComp="#{':uyeBasvuruForm:beyanAdresPanel :uyeBasvuruForm:acikadrespanel :uyeBasvuruForm:sehirpanel :uyeBasvuruForm:ilcepanel :uyeBasvuruForm:yabanciulkepanel 
								:uyeBasvuruForm:yabancisehirpanel :uyeBasvuruForm:yabanciadrespanel'}" />
						<arf:textoutput label="#{label['adres.adresturu']}" value="#{uyeBasvuruController.adres3.adresturu.label}" />

						<arf:booleanbox id="beyanadresvarsayilanCheckbox" compId="varsayilan" styleClass="optionalInputText" value="#{uyeBasvuruController.beyanadresvarsayilan}"
							label="#{label['adres.varsayilan']}" requiredCond="true" ajaxEventListener="#{uyeBasvuruController.handleChange}"
							changeEventUpdateComp="#{':uyeBasvuruForm:isyeriAdresPanel'}" />

						<p:outputPanel id="acikadrespanel" rendered="true">
							<arf:textinputarea label="#{label['adres.acikAdres']}" value="#{uyeBasvuruController.adres3.acikAdres}" compId="acikAdres" requiredCond="true" id="acikAdresInputText"
								maxLength="255" rendered="#{uyeBasvuruController.adres3.adrestipi.code != 4}" />
						</p:outputPanel>

						<arf:textinput label="#{label['adres.binaSiteAdi']}" value="#{uyeBasvuruController.adres3.binaSiteAdi}" compId="binaSiteAdiAdres3" requiredCond="false"
							id="binaSiteAdiInputTextAdres3" maxLength="255" rendered="#{uyeBasvuruController.kpsAdresDondu}" />
						<arf:textinput label="#{label['adres.binaBlokAdi']}" value="#{uyeBasvuruController.adres3.binaBlokAdi}" compId="binaBlokAdiAdres3" requiredCond="false"
							id="binaBlokAdiInputTextAdres3" maxLength="255" rendered="#{uyeBasvuruController.kpsAdresDondu}" />
						<arf:textinput label="#{label['adres.csbm']}" value="#{uyeBasvuruController.adres3.csbm}" compId="csbmAdres3" requiredCond="false" id="csbmInputTextAdres3"
							maxLength="255" rendered="#{uyeBasvuruController.kpsAdresDondu}" />
						<arf:textinput label="#{label['adres.disKapiNo']}" value="#{uyeBasvuruController.adres3.disKapiNo}" compId="disKapiNoAdres3" requiredCond="false"
							id="disKapiNoInputTextAdres3" maxLength="255" rendered="#{uyeBasvuruController.kpsAdresDondu}" />
						<arf:textinput label="#{label['adres.icKapiNo']}" value="#{uyeBasvuruController.adres3.icKapiNo}" compId="icKapiNoAdres3" requiredCond="false"
							id="icKapiNoInputTextAdres3" maxLength="255" rendered="#{uyeBasvuruController.kpsAdresDondu}" />

						<p:outputPanel id="sehirpanel" rendered="true">
							<arf:dropdown label="#{label['adres.sehirRef']}" listSource="#{sessionUser.sehirItemList}" requiredCond="true" compId="sehirRefAdres"
								value="#{uyeBasvuruController.adres3.sehirRef}" converterId="#{'sehirConverter'}" id="sehirRefDropDownAdres" ajaxEventListener="#{uyeBasvuruController.handleChange}"
								changeEventUpdateComp="#{':uyeBasvuruForm:ilceRefDropDownAdres:ilceRefAdres'}" rendered="#{uyeBasvuruController.adres3.adrestipi.code != 4}" />
						</p:outputPanel>
						<p:outputPanel id="ilcepanel" rendered="true">
							<arf:dropdown label="#{label['adres.ilceRef']}" listSource="#{uyeBasvuruController.ilceItemList}" requiredCond="true" compId="ilceRefAdres"
								value="#{uyeBasvuruController.adres3.ilceRef}" converterId="#{'ilceConverter'}" id="ilceRefDropDownAdres" rendered="#{uyeBasvuruController.adres3.adrestipi.code != 4}" />
						</p:outputPanel>

						<arf:textinput label="#{label['adres.mahalle']}" value="#{uyeBasvuruController.adres3.mahalle}" compId="mahalleAdres3" requiredCond="false" id="mahalleInputTextAdres3"
							maxLength="255" rendered="#{uyeBasvuruController.kpsAdresDondu}" />


						<p:outputPanel id="yabanciulkepanel" rendered="true">
							<arf:textinput label="#{label['adres.yabanciulke']}" value="#{uyeBasvuruController.adres3.yabanciulke}" compId="yabanciulke" requiredCond="true"
								id="yabanciulkeInputText" maxLength="255" rendered="#{uyeBasvuruController.adres3.adrestipi.code == 4}" />
						</p:outputPanel>
						<p:outputPanel id="yabancisehirpanel" rendered="true">
							<arf:textinput label="#{label['adres.yabancisehir']}" value="#{uyeBasvuruController.adres3.yabancisehir}" compId="yabancisehir" requiredCond="true"
								id="yabancisehirInputText" maxLength="255" rendered="#{uyeBasvuruController.adres3.adrestipi.code == 4}" />
						</p:outputPanel>
						<p:outputPanel id="yabanciadrespanel" rendered="true">
							<arf:textinputarea label="#{label['adres.yabanciadres']}" value="#{uyeBasvuruController.adres3.yabanciadres}" compId="yabanciadres" requiredCond="true"
								id="yabanciadresInputText" maxLength="255" rendered="#{uyeBasvuruController.adres3.adrestipi.code == 4}" />
						</p:outputPanel>

					</h:panelGrid>
				</p:panel>
			</p:fieldset>

			<p:fieldset id="iletisimEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['common.iletisim']}" rendered="#{uyeBasvuruController.wizardStep == 6}">
				<p:panel header="#{label['common.iletisim']}" style="width:99%; margin-left:.5%" id="iletisimOnlyPanel">

					<h:panelGrid columns="1" style="width:100%">
						<arf:maskinput label="#{uyeBasvuruController.telefon1.telefonturu.label}" value="#{uyeBasvuruController.telefon1.telefonno}" compId="telefonnoOne" requiredCond="false"
							id="telefonnoInputTextOne" maxLength="30" customValidatorId="#{'phoneValidator'}" mask="0 (999) 999 9999" />
						<arf:maskinput label="#{uyeBasvuruController.telefon2.telefonturu.label}" value="#{uyeBasvuruController.telefon2.telefonno}" compId="telefonnoTwo" requiredCond="false"
							id="telefonnoInputTextTwo" maxLength="30" customValidatorId="#{'phoneValidator'}" mask="0 (999) 999 9999" />
						<arf:maskinput label="#{uyeBasvuruController.telefon3.telefonturu.label}" value="#{uyeBasvuruController.telefon3.telefonno}" compId="telefonnoThree"
							requiredCond="#{true}" id="telefonnoInputTextThree" maxLength="30" customValidatorId="#{'phoneValidator'}" mask="0 (999) 999 9999" />
						<arf:maskinput label="#{uyeBasvuruController.telefon4.telefonturu.label}" value="#{uyeBasvuruController.telefon4.telefonno}" compId="telefonnoFour" requiredCond="false"
							id="telefonnoInputTextFour" maxLength="30" customValidatorId="#{'phoneValidator'}" mask="0 (999) 999 9999" />
						<arf:textinput label="#{uyeBasvuruController.internetAdres1.netadresturu.label}" value="#{uyeBasvuruController.internetAdres1.netadresmetni}" compId="netadresmetni"
							requiredCond="#{true}" id="netadresmetniInputText" maxLength="70" customValidatorId="#{'eMailValidator'}" />
						<arf:booleanbox id="iletisimEmailCheckBox" compId="iletisimEmail" styleClass="optionalInputText" value="#{uyeBasvuruController.iletisimEmail}"
							label="#{label['uye.iletisimEmail']}" requiredCond="false" checked="true" />
						<arf:booleanbox id="iletisimSmsCheckbox" compId="iletisimSms" styleClass="optionalInputText" value="#{uyeBasvuruController.iletisimSms}"
							label="#{label['uye.iletisimSms']}" requiredCond="false" checked="true" />
						<arf:booleanbox id="iletisimPostaCheckbox" compId="iletisimPosta" styleClass="optionalInputText" value="#{uyeBasvuruController.iletisimPosta}"
							label="#{label['uye.iletisimPosta']}" requiredCond="false" />
					</h:panelGrid>
				</p:panel>
			</p:fieldset>


			<div style="margin-left: 40%; width: 60%">

				<p:outputPanel id="commandPanel">
					<p:blockUI block="commandPanel" trigger="uyeWizardForward">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:commandButton id="uyeWizardBackward" action="#{uyeBasvuruController.wizardBackward}" value="#{label['command.backward']}" ajax="true" process="@this"
						style="width:70px; margin-left:5px; height:40px" update="@form" styleClass="arfCommandButton" rendered="#{uyeBasvuruController.wizardStep > 2}" />


					<p:blockUI block="commandPanel" trigger="finishWizard">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:commandButton id="finishWizard" action="#{uyeBasvuruController.finishWizard}" value="#{label['command.finishWizard']}" ajax="true" styleClass="arfCommandButton"
						style="width:120px; margin-left:5px; height:40px" rendered="#{uyeBasvuruController.wizardStep ==6  and !uyeBasvuruController.uyeBulundu}" process="@form"
						update="@form :globalMessages" />
					<p:blockUI block="commandPanel" trigger="uyeWizardBackward">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:commandButton id="uyeWizardForward" action="#{uyeBasvuruController.wizardForward}" value="#{label['command.forward']}" ajax="true" process="@form" update="@form"
						style="width:70px; margin-left:5px; height:40px" styleClass="arfCommandButton" rendered="#{uyeBasvuruController.wizardStep != 6 and !uyeBasvuruController.uyeBulundu}" />
				</p:outputPanel>
			</div>
		</h:form>

	</h:body>
</f:view>
</html>
