<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="uyeformForm" prependId="false">
				<arf:masterPanel controllerClassName="#{uyeformController}" masterLabel="#{label['uyeform.list']}" modelName="uyeform" />
			
				<ui:include src="/_page/form/uye/uyeform_Edit.xhtml" />

				<p:fieldset id="uyeformFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{uyeformController.collapsed}" legend="#{label['uyeform.query']}"
					rendered="#{!uyeformController.editPanelRendered and 1 > 5}">
					<p:ajax listener="#{uyeformController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:dropdownForFilter label="#{label['uyeform.uyeRef']}" listSource="#{uyeformController.selectItemListFor('Uye')}" requiredCond="false" compId="uyeRef"
							value="#{uyeformController.uyeformFilter.uyeRef}" converterId="#{'uyeConverter'}" id="uyeRefForFilterDropDown" />

						<arf:dropdownForFilter label="#{label['uyeform.formturu']}" listSource="#{enumeratedController.formturuItems}" requiredCond="false" compId="formturu"
							value="#{uyeformController.uyeformFilter.formturu}" id="formturuForFilterDropDown" addNullOption="true" />

					</h:panelGrid>

					<arf:filterBottom controllerClassName="#{uyeformController}" formName="uyeformForm" listPanelName="uyeformListPanel" filterPanelName="uyeformFilterPanel"
						modelName="Uyeform" />
				</p:fieldset>

				<p:fieldset legend="#{label['uyeform.list']}" styleClass="pageFieldSet" id="uyeformListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
						<p:blockUI block="uyeformListPanel" trigger="uyeformTable">
							<h:outputText value="#{label['common.loading']}" />
							<br />
							<h:graphicImage library="_image" name="ajax-loader.gif" />
						</p:blockUI>
					</h:panelGrid>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="uyeformTable" value="#{uyeformController.list}" var="uyeformRow" binding="#{uyeformController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{uyeformController.entity}" rowKey="#{uyeformRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{uyeformController.tableRowSelect}" update=":uyeformForm:uyeformListPanel :globalMessages" />
						<p:ajax event="rowUnselect" listener="#{uyeformController.tableRowCancelSelection}" update=":uyeformForm:uyeformListPanel :globalMessages" />

						<arftags:column val="#{uyeformRow.formturu.label}" header="#{label['uyeform.formturu']}" width="70" />
						<arftags:downloadColumn val="#{uyeformRow}" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{uyeformController}" formName="uyeformForm" listPanelName="uyeformListPanel" pagingOption="true" tableName="uyeformTable"
						addExport="true" addOption="true" updateOption="false" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
