<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="uyeformEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['uyeform.edit']}" rendered="#{uyeformController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

			<arf:textoutput label="#{label['uyeform.uyeRef']}" value="#{uyeformController.uyeform.uyeRef.UIString}" />

			<arf:dropdown label="#{label['uyeform.formturu']}" listSource="#{enumeratedController.formturuItems}" requiredCond="true" compId="formturu" value="#{uyeformController.uyeform.formturu}"
				id="formturuDropDown" addNullOption="true" />
		</h:panelGrid>
		<p align="center">
			<arf:editPanelBottomForForwardWithBlockUI controllerClassName="#{uyeformController}" formName="uyeformForm" listPanelName="uyeformListPanel" editPanelName="uyeformEditPanel" modelName="Uyeform"
			rendered="#{uyeformController.editStep == 1}" />
		</p>	

		<h:panelGrid columns="1" styleClass="arfEditGrid" rendered="#{uyeformController.editStep == 2}">
			<arf:fileUploadAndSave label="#{label['uyeform.path']}" requiredCond="true" compId="#{'dosyaRef'}" allowTypes="/(\.|\/)(doc|docx|xls?x|pdf|jpg|png|jpeg|txt)$/" updateComp="@this"
				processComp="@parent" sizeLimit="1500000" controllerClassName="#{uyeformController}" style="width:650px" formName="uyeformForm" editPanelName="uyeformEditPanel" />
		</h:panelGrid>
		<arf:editPanelBottomWithBlockUI controllerClassName="#{uyeformController}" formName="uyeformForm" listPanelName="uyeformListPanel" editPanelName="uyeformEditPanel" modelName="Uyeform"
			rendered="#{uyeformController.editStep == 2}" renderSaveButton="#{uyeformController.uyeform.RID != null}" />
	</p:fieldset>

</ui:composition>