<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/uyemain.xhtml">

	<ui:define name="content">

		<f:metadata>
			<f:viewParam name="xid" value="#{aidatGarantiController.siparisSonuc.xid}" required="true">
				<f:validateLength minimum="28" />
			</f:viewParam>
			<f:viewParam name="authCode" value="#{aidatGarantiController.siparisSonuc.authcode}"/>
			<f:viewParam name="response" value="#{aidatGarantiController.siparisSonuc.response}"/>
			<f:viewParam name="hostRefNum" value="#{aidatGarantiController.siparisSonuc.hostrefnum}"/>
			<f:viewParam name="procReturnCode" value="#{aidatGarantiController.siparisSonuc.procreturncode}"/>
			<f:viewParam name="transId" value="#{aidatGarantiController.siparisSonuc.transid}"/>
			<f:viewParam name="errorMsg" value="#{aidatGarantiController.siparisSonuc.errmsg}"/>
			<f:viewParam name="clientIp" value="#{aidatGarantiController.siparisSonuc.clientip}"/>
			<f:viewParam name="returnOid" value="#{aidatGarantiController.siparisSonuc.siparisNo}"/>
			<f:viewParam name="maskedPan" value="#{aidatGarantiController.siparisSonuc.maskedpan}"/>
			<f:viewParam name="EXTRA.TRXDATE" value="#{aidatGarantiController.siparisSonuc.islemtarihi}"/>
			<f:viewParam name="rnd" value="#{aidatGarantiController.siparisSonuc.rnd}"/>
			<f:viewParam name="HASHPARAMS" value="#{aidatGarantiController.siparisSonuc.hashparams}"/>
			<f:viewParam name="HASHPARAMSVAL" value="#{aidatGarantiController.siparisSonuc.hashparamsval}"/>
			<f:viewParam name="HASH" value="#{aidatGarantiController.siparisSonuc.hash}"/>
			<f:viewParam name="mdStatus" value="#{aidatGarantiController.siparisSonuc.mdstatus}"/>
			<f:viewParam name="merchantID" value="#{aidatGarantiController.siparisSonuc.merchantid}"/>
			<f:viewParam name="txstatus" value="#{aidatGarantiController.siparisSonuc.txstatus}"/>
			<f:viewParam name="iReqCode" value="#{aidatGarantiController.siparisSonuc.ireqcode}"/>
			<f:viewParam name="iReqDetail" value="#{aidatGarantiController.siparisSonuc.ireqdetail}"/>
			<f:viewParam name="vendorCode" value="#{aidatGarantiController.siparisSonuc.vendorcode}"/>
			<f:viewParam name="PAResSyntaxOK" value="#{aidatGarantiController.siparisSonuc.paressyntaxok}"/>
			<f:viewParam name="paresVerified" value="#{aidatGarantiController.siparisSonuc.paresverified}"/>
			<f:viewParam name="eci" value="#{aidatGarantiController.siparisSonuc.eci}"/>
			<f:viewParam name="cavv" value="#{aidatGarantiController.siparisSonuc.cavv}" />
			<f:viewParam name="cavvAlgorthm" value="#{aidatGarantiController.siparisSonuc.cavvalgorthm}"/>
			<f:viewParam name="md" value="#{aidatGarantiController.siparisSonuc.md}"/>
			<f:viewParam name="version" value="#{aidatGarantiController.siparisSonuc.version}"/>
			<f:viewParam name="sID" value="#{aidatGarantiController.siparisSonuc.sid}"/>
			<f:viewParam name="mdErrorMsg" value="#{aidatGarantiController.siparisSonuc.mderrormsg}"/>
			<f:event type="preRenderView" listener="#{aidatGarantiController.parseGarantiReturnParams}"/>
		</f:metadata>

		<h:body>
			<p:panel header="#{label['uyeHesap.paraYukle']}" styleClass="pageFieldSet" id="ogrenciparaListPanel">
				<h:form>
                    <h:panelGrid columns="1" width="100%">
                        <h:outputText value="İşlem başarısız." />
                        <h:outputText value="Bankanın döndürdüğü hata mesajı aşağıda yer almaktadır:" />
                        <h:outputText value="#{aidatGarantiController.bankaCevap}" />
                    </h:panelGrid>


					<p align="center">
						<p:commandButton id="browseCommandForGaranti3" action="#{aidatGarantiController.returnUyeDashboard}" process="@this" update="@this" rendered="true"
							value="#{label['command.uyePortalDon']}" immediate="true" icon="iptal" styleClass="arfCommandButton" />
					</p>
				</h:form>
			</p:panel>
		</h:body>
	</ui:define>
</ui:composition>
