<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<p:panel header="#{label['uyeHesap.paraYukle']}" styleClass="pageFieldSet" id="aidatOdemeListPanel">
				<form name="mercForm" action="http://setmpos.ykb.com/3DSWebService/OOS" method="POST">
					<h:panelGrid columns="2" style="width:60%; margin-left:20%" columnClasses="elliYuzde, elliYuzde">
						<h:outputText value="#{label['uyeHesap.miktar']} : " styleClass="requiredInputText" />
						<input type="text" name="amount" value="" required="true" />
					</h:panelGrid>

					<input type="hidden" name="posnetID" value="206" /> <input type="hidden" name="mid" value="6707780182" /> <input type="hidden" name="xid"
						value="#{uyeController.siparis.siparisno}" /> <input type="hidden" name="tranType" value="Auth" /> <input type="hidden" name="lang" value="tr" /> <input type="hidden"
						name="currencyCode" value="TL" /> <input type="hidden" name="merchantReturnSuccessURL" value="http://localhost:8081/TOYS/faces/_page/form/uye/uyeHesap_Sonuc.xhtml" />
					<input type="hidden" name="merchantReturnFailURL" value="http://localhost:8081/DOKSS/faces/_page/form/uye/uyeHesap_Sonuc.xhtml" /> <input type="submit" value="Gonder"
						class="arfCommandButton" style="margin-left: 40%; margin-top: 20px; margin-bottom: 20px" />
				</form>
			</p:panel>
		</h:body>
	</ui:define>
</ui:composition>
