<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">

		<f:metadata>
			<f:viewParam name="xid" value="#{uyeController.siparisSonuc.xid}" required="true">
				<f:validateLength minimum="20" />
			</f:viewParam>
			<f:viewParam name="returnmessage" value="#{uyeController.siparisSonuc.returnmessage}" />
			<f:viewParam name="returncode" value="#{uyeYController.siparisSonuc.returncode}" />
			<f:viewParam name="authcode" value="#{uyeController.siparisSonuc.authcode}" />
			<f:viewParam name="ykbrefno" value="#{uyeController.siparisSonuc.ykbrefno}" />
			<f:viewParam name="amount" value="#{uyeController.siparisSonuc.amount}" required="true" />
			<f:viewParam name="currency" value="#{uyeController.siparisSonuc.currency}" />
			<f:viewParam name="errmsg" value="#{uyeController.siparisSonuc.errmsg}" />
			<f:viewParam name="errcode" value="#{uyeController.siparisSonuc.errcode}" />
			<f:event type="preRenderView" listener="#{uyeController.test}" />
		</f:metadata>

		<h:body>
			<p:panel header="#{label['uyeHesap.paraYukle']}" styleClass="pageFieldSet" id="ogrenciparaListPanel">
				<h:form>
					<h:outputText id="xid" value="#{uyeController.siparisSonuc.xid}" />
					<h:outputText id="returnmessage" value="#{uyeController.siparisSonuc.returnmessage}" />
					<h:outputText id="returncode" value="#{uyeController.siparisSonuc.returncode}" />
					<h:outputText id="authcode" value="#{uyeController.siparisSonuc.authcode}" />
					<h:outputText id="ykbrefno" value="#{uyeController.siparisSonuc.ykbrefno}" />
					<h:outputText id="amount" value="#{uyeController.siparisSonuc.amount}" />
					<h:outputText id="currency" value="#{uyeController.siparisSonuc.currency}" />
					<h:outputText id="errmsg" value="#{uyeController.siparisSonuc.errmsg}" />
					<h:outputText id="errcode" value="#{uyeController.siparisSonuc.errcode}" />
				</h:form>
			</p:panel>
		</h:body>
	</ui:define>
</ui:composition>
