<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="uyesigortaForm" prependId="false">

				<arf:masterPanel controllerClassName="#{uyesigortaController}" masterLabel="#{label['uyesigorta.list']}" modelName="uyesigorta" />

				<ui:include src="/_page/form/uye/uyesigorta_Edit.xhtml" />

				<p:fieldset legend="#{label['uyesigorta.list']}" styleClass="pageFieldSet" id="uyesigortaListPanel">
					<p:blockUI block="uyesigortaTable" trigger="uyesigortaTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="uyesigortaTable" value="#{uyesigortaController.list}" var="uyesigortaRow" binding="#{uyesigortaController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{uyesigortaController.entity}" filteredValue="#{uyesigortaController.filteredList}" widgetVar="filterTable"
						rowKey="#{uyesigortaRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{uyesigortaController.tableRowSelect}" update=":uyesigortaForm" />
						<p:ajax event="rowUnselect" listener="#{uyesigortaController.tableRowCancelSelection}" update=":uyesigortaForm" />

						<arftags:column val="#{uyesigortaRow.uyeRef.UIString}" header="#{label['uyesigorta.uyeRef']}" width="11" />
						<arftags:column val="#{uyesigortaRow.sigortatip.label}" header="#{label['uyesigorta.sigortatip']}" width="11" />
						<arftags:column val="#{uyesigortaRow.sigortasirket}" header="#{label['uyesigorta.sigortasirket']}" width="11" />
						<arftags:column val="#{uyesigortaRow.policeno}" header="#{label['uyesigorta.policeno']}" width="11" />
						<arftags:dateColumn val="#{uyesigortaRow.baslangictarih}" header="#{label['uyesigorta.baslangictarih']}" width="11" />
						<arftags:dateColumn val="#{uyesigortaRow.bitistarih}" header="#{label['uyesigorta.bitistarih']}" width="11" />
						<arftags:column val="#{uyesigortaRow.uyesigortadurum.label}" header="#{label['uyesigorta.uyesigortadurum']}" width="11" />
						<arftags:column val="#{uyesigortaRow.evrakRef.UIString}" header="#{label['uyesigorta.evrakRef']}" width="11" />
						<arftags:column val="#{uyesigortaRow.aciklama}" header="#{label['uyesigorta.aciklama']}" width="11" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{uyesigortaController}" formName="uyesigortaForm" listPanelName="uyesigortaListPanel" pagingOption="true"
						tableName="uyesigortaTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
