<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="uyesigortaEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['uyesigorta.edit']}" rendered="#{uyesigortaController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['uyesigorta.sigortatip']}" listSource="#{enumeratedController.sigortaTipItems}" requiredCond="true" compId="sigortatip"
				value="#{uyesigortaController.uyesigorta.sigortatip}" id="sigortatipDropDown" />

			<arf:textinput label="#{label['uyesigorta.sigortasirket']}" value="#{uyesigortaController.uyesigorta.sigortasirket}" compId="sigortasirket" requiredCond="true"
				id="sigortasirketInputText" maxLength="30" />

			<arf:textinput label="#{label['uyesigorta.policeno']}" value="#{uyesigortaController.uyesigorta.policeno}" compId="policeno" requiredCond="true" id="policenoInputText"
				maxLength="30" />

			<arf:calendar label="#{label['uyesigorta.baslangictarih']}" value="#{uyesigortaController.uyesigorta.baslangictarih}" id="baslangictarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="baslangictarih" />

			<arf:calendar label="#{label['uyesigorta.bitistarih']}" value="#{uyesigortaController.uyesigorta.bitistarih}" id="bitistarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="bitistarih" />

			<arf:dropdown label="#{label['uyesigorta.uyesigortadurum']}" listSource="#{enumeratedController.uyeSigortaDurumItems}" requiredCond="false" compId="uyesigortadurum"
				value="#{uyesigortaController.uyesigorta.uyesigortadurum}" id="uyesigortadurumDropDown" />

			<arf:dropdown label="#{label['uyesigorta.evrakRef']}" listSource="#{uyesigortaController.selectItemListFor('Evrak')}" requiredCond="false" compId="evrakRef"
				value="#{uyesigortaController.uyesigorta.evrakRef}" converterId="#{'evrakConverter'}" id="evrakRefDropDown" />

			<arf:textinput label="#{label['uyesigorta.aciklama']}" value="#{uyesigortaController.uyesigorta.aciklama}" compId="aciklama" requiredCond="false" id="aciklamaInputText"
				maxLength="200" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{uyesigortaController}" formName="uyesigortaForm" listPanelName="uyesigortaListPanel"
			editPanelName="uyesigortaEditPanel" modelName="Uyesigorta" />
	</p:fieldset>

</ui:composition>