<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">


<f:loadBundle basename="#{applicationController.labelResource}" var="label"/>

<head>
<title>#{label['project.name']}</title>
<link rel="stylesheet" type="text/css"
	href="#{facesContext.externalContext.requestContextPath}/_css/accessDenied.css" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>

<body class="oneColElsCtrHdr">
<div id="container">
<div id="header">
<h4 align="center" class="style1"><h:outputText
	value="#{label['project.name']}" /></h4>
</div>
<div id="mainContent">
<h2>Erişim Engellendi</h2>
<p>Sisteme bağlanamadınız! <br />
Kullanıcı adınızı ve parolanızı kontrol ediniz. Sisteme halen
bağlanamıyorssanız, kullanıcı adınız ve parolanızın geçerliliğini
öğrenmek için Sistem Yöneticisi ile
iletişime geçiniz.</p>
</div>

<div id="footer">
<h5 align="center" class="style1">© 2012</h5>
<!-- end #footer --></div>
<!-- end #container --></div>
</body>
</html>

				 