<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:pe="http://primefaces.org/ui/extensions">
<f:view>

	<f:loadBundle basename="#{applicationController.labelResource}" var="label" />

	<h:head>
		<f:facet name="first">
			<meta http-equiv="refresh" content="60" />
			<meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
			<meta http-equiv="X-Frame-Options" content="SAMEORIGIN" />
			<title>#{label['project.name']}</title>
		</f:facet>
		<h:outputStylesheet library="style" name="login.css" />
	</h:head>

	<h:body style="background-image: url('/Toys/faces/javax.faces.resource/loginPageBack.jpg?ln=_image'); overflow:scroll">
		<h:graphicImage library="_image" name="loginPageTop.png" style="position:absolute; top:10px" />
		<p:spacer height="70" />
		<div class="main">
			<h:form class="form1" id="loginForm" prependId="false">
				<div class="formtitle">
					<h:outputLabel value="#{label['login.loginTitle']}" />
				</div>
				<br />
				<br />
				<p:outputPanel id="inputPanel">
					<div class="input">
						<div class="inputtext">
							<h:outputLabel value="#{label['login.kimlikno']} : " />
						</div>
						<div class="inputcontent">
							<p:inputText id="userName" value="#{loginController.userName}" maxlength="11"/>
							<p:message for="userName" />
						</div>
					</div>
					<br />
					<div class="input">
						<div class="inputtext">
							<h:outputLabel value="#{label['login.password']} : " />
						</div>
						<div class="inputcontent">
							<p:password id="password" value="#{loginController.password}" />
							<p:message for="password" />
						</div>
					</div>
                    <div style="padding-left: 175px; padding-top:5px; padding-bottom:5px ">
                        <p:captcha label="Captcha" secure="true" id="loginCaptcha"
                                   valueChangeListener="#{loginController.captchaRequiredForLogin}"
                                   rendered="#{loginController.captchaRequiredForLogin}"
                                   validatorMessage="Captcha Hatalı!" required="true"
                                   requiredMessage="Captcha Giriniz!" language="tr"/>
                    </div>
                </p:outputPanel>

				<div class="buttons">
					<p:commandButton id="login" value="#{label['uyeBasvuru.uyeBasvuru']}" style="width:150px" action="#{loginController.gotoPage('menu_UyeBasvuruEdit')}"
						styleClass="orangebutton" ajax="false" immediate="true" rendered="false" />
					<p:commandButton id="cmdLogin" value="#{label['login.login']}" style="width:80px" action="#{loginController.validateKullanici}" styleClass="orangebutton"
						process=":loginForm" update=":loginForm" ajax="false" />
					<br/>
                    <h:message id="CaptchaMsgID" for="loginCaptcha" style="float:left; font-weight: bold; color:red" />
					<h:outputText value="#{loginController.message}" style="float:left; font-weight:bold; color:red" escape="false" />
				</div>

				<pe:ajaxErrorHandler title="Error" body="Server return exception  {error-name} with description {error-message}" button="Hide" widgetVar="myAjaxErrorHandler"
					buttonOnclick="myAjaxErrorHandler.hide()" />
                <div style="text-align: right; margin: 5px">
                    <h:outputLink value="../form/system/kullaniciSifreTalepUye.xhtml">Şifremi Unuttum</h:outputLink>
                </div>
			</h:form>
		</div>
	</h:body>
</f:view>
</html>