<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<f:view>
  
<f:loadBundle basename="#{applicationController.labelResource}" var="label"/>

<h:head>
	<f:facet name="first">
		<meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
		<meta http-equiv="X-Frame-Options" content="SAMEORIGIN" />
		<title>#{label['project.name']}</title>
	</f:facet>
	
	<h:outputStylesheet library="style" name="login.css"/>
</h:head>

<h:body style="background-image: url('/Toys/faces/javax.faces.resource/loginPageBack.jpg?ln=_image'); overflow:hidden">
<h:graphicImage library="_image" name="loginPageTop.png" style="position:absolute; top:10px" />
<p:spacer height="70" />
<div class="main">	 
	<h:form class="form1" id="userRoleForm">
		<div class="formtitle"><h:outputLabel value="#{label['login.loginTitle']}"/></div>
		<br /><br />
		<div class="input">
			<div class="inputtext"><h:outputLabel value="#{label['role.list']} : "/></div>
			<div class="inputcontent">
				<p:selectOneMenu id="selectRole" 
						value="#{loginController.selectedRoleId}"
						title="#{label['role.list']}" required="true" 
						styleClass="requiredInputText"
						panelStyle="width:300px"
						style="width:155px; font-size:12px">
						<f:selectItems value="#{loginController.kullaniciRoleIdList}"/>
				</p:selectOneMenu> 
				<br />
				<br/><p:message for="selectRole" styleClass="errorMessage"/> 
			</div>
		</div>
		<br />
		<div class="input nobottomborder">
		
		</div>
		<div class="buttons">
			<h:messages />			
			<p:commandButton value="#{label['userRole.selectRole']}"
				action="#{loginController.selectRole}" 
				styleClass="orangeButton" id="cmdChooseRole" />   
		</div>  
	</h:form> 
	<script>setFormValues();</script>
</div> 
</h:body>
</f:view> 
</html>
				 