<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
<f:view>

	<f:loadBundle basename="#{applicationController.labelResource}" var="label" />

	<h:head>
		<f:facet name="first">
			<meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
			<meta http-equiv="X-Frame-Options" content="SAMEORIGIN" />
			<title>#{label['project.name']}</title>
		</f:facet>
		<h:outputStylesheet library="style" name="login.css" />
	</h:head>

	<h:body style="overflow:hidden" onload="document.forms[0].submit()">
		<div class="main">
			<form class="form1" action="login.xhtml">
				<div class="formtitle">
					<p>TMMOB Türk Mühendis ve Mimar Odaları Birliği</p>
				</div>
				<p:spacer height="26" />
				<div class="input">
					<h1>TOYS - Oda Otomasyon Sistemi</h1>
				</div>
				<p:spacer height="16" />
				<p align="center">
					<input type="submit" value="Başlat" class="orangebutton" />
				</p>
				<p:spacer height="26" />
			</form>
		</div>
	</h:body>
</f:view>
</html>
