<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="aidatForm" prependId="false">

				<ui:include src="/_page/form/system/aidat_Edit.xhtml" />
				
				<ui:include src="/_page/form/system/aidat_Borclandir.xhtml" />

				<p:fieldset id="aidatFilterPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['aidat.query']}"
					rendered="#{!aidatController.editPanelRendered and !aidatController.borclandirPanelRendered}">
					<p:ajax listener="#{aidatController.onToggle}" event="toggle" />

					<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid" collapsed="#{aidatController.collapsed}">

						<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzBesYuzde,altmisBesYuzde">
							<h:outputText value="#{label['aidat.yil']}" styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
							<p:spinner id="yilForFilter" value="#{aidatController.aidatFilter.yil}" onkeypress="return true" required="false" min="0" max="2050" maxlength="3" readonly="false"
								stepFactor="1" styleClass="optionalInputText">
								<f:validateLongRange minimum="0" maximum="2050" />
								<p:ajax update="@this" process="@this" listener="#{aidatController.handleYearChangeForYearSpinner}" />
							</p:spinner>
							<p:message for="yil" />
						</h:panelGrid>

						<arf:dropdownForFilter label="#{label['aidat.uyetip']}" listSource="#{enumeratedController.uyeTipItems}" requiredCond="false" compId="uyetip"
							value="#{aidatController.aidatFilter.uyetip}" id="uyetipDropDownForFilter" addNullOption="true" />
					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{aidatController}" formName="aidatForm" listPanelName="aidatListPanel" filterPanelName="aidatFilterPanel"
						modelName="Uye" />
				</p:fieldset>

				<p:fieldset legend="#{label['aidat.list']}" styleClass="pageFieldSet" id="aidatListPanel" rendered="#{!aidatController.borclandirPanelRendered}">
					<h:panelGrid columns="9">
						<p:commandButton id="uyeBorclandirmaSayfaCommand" action="#{aidatController.aidatBorclandirmaSayfa}" value="#{label['uye.borclandir']}"
							icon="uyeBorc" update=":aidatForm :globalMessages" ajax="true" 
							disabled="#{aidatController.aidat.RID == null or aidatController.uyeBorclandirmaYapildimi}" />
							
						<p:commandButton id="fazlaOdemeleriAktar" action="#{aidatController.fazlaOdemeleriAktar}" value="#{label['aidat.fazlaOdemeleriAktar']}"
							icon="uyeBorc" update=":aidatForm:aidatListPanel :globalMessages" ajax="true" />	
					</h:panelGrid>
					<p:blockUI block="aidatTable" trigger="aidatTable fazlaOdemeleriAktar">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>

					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="aidatTable" value="#{aidatController.list}" var="aidatRow" binding="#{aidatController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{aidatController.entity}" filteredValue="#{aidatController.filteredList}" widgetVar="filterTable" rowKey="#{aidatRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{aidatController.tableRowSelect}" update=":aidatForm" />
						<p:ajax event="rowUnselect" listener="#{aidatController.tableRowCancelSelection}" update=":aidatForm" />

						<arftags:column val="#{aidatRow.yil}" header="#{label['aidat.yil']}" width="15" />
						<arftags:dateColumn filterMatchMode="contains" val="#{aidatRow.baslangictarih}" header="#{label['aidat.baslangictarih']}" width="15" />
						<arftags:dateColumn filterMatchMode="contains" val="#{aidatRow.bitistarih}" header="#{label['aidat.bitistarih']}" width="15" />
						<arftags:column val="#{aidatRow.uyetip.label}" header="#{label['aidat.uyetip']}" width="15" />
						<arftags:numericColumn filterMatchMode="contains" val="#{aidatRow.miktar}" header="#{label['aidat.miktar']}" width="15" />
						<arftags:numericColumn filterMatchMode="contains" val="#{aidatRow.kayitucreti}" header="#{label['aidat.kayitucreti']}" width="15" />
						<arftags:column val="#{aidatRow.borclandirmaYapildi.label}" header="#{label['aidat.borclandirmaYapildi']}" width="10" />
						

					</p:dataTable>
					<arf:pagingWithBlockUI controllerClassName="#{aidatController}" formName="aidatForm" listPanelName="aidatListPanel" pagingOption="true" tableName="aidatTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />

				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
