<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="aidatEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['aidat.edit']}" rendered="#{aidatController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="otuzYuzde, otuzYuzde, kırkYuzde" styleClass="arfEditGrid">

			<h:panelGrid columns="2" columnClasses="otuzYuzde, kirkYuzde" styleClass="arfEditGrid">
				<arf:textoutput label="#{label['aidat.yil']}" id="yil" />
				<p:spinner value="#{aidatController.aidat.yil}" compId="yil" requiredCond="true" id="yilInputText" min="2013" max="2100">
					<p:ajax update="aidatForm" process="@this" />
				</p:spinner>
			</h:panelGrid>

			<h:panelGrid columns="2" columnClasses="otuzYuzde, kirkYuzde" styleClass="arfEditGrid">
				<arftags:detailDateItem colName="baslangictarih" val="#{aidatController.aidat.baslangictarih1}" header="#{label['aidat.baslangictarih']}" renderCondition="true" />
			</h:panelGrid>

			<h:panelGrid columns="2" columnClasses="otuzYuzde, kırkYuzde" styleClass="arfEditGrid">
				<arftags:detailDateItem colName="bitistarih" val="#{aidatController.aidat.bitistarih1}" header="#{label['aidat.bitistarih']}" renderCondition="true" />
			</h:panelGrid>

			<arf:dropdown label="#{label['aidat.uyetip']}" listSource="#{enumeratedController.uyeTipCalisanItems}" requiredCond="false" compId="uyetip"
				value="#{aidatController.aidat.uyetip}" id="uyetipDropDown" />

			<arf:textinput label="#{label['aidat.miktar']}" value="#{aidatController.aidat.miktar}" compId="miktar" requiredCond="true" id="miktarInputText"
				customValidatorId="#{'bigDecimalValidator'}" keyFilterMask="num" />
				
			<arf:textinput label="#{label['aidat.kayitucreti']}" value="#{aidatController.aidat.kayitucreti}" compId="kayitucreti" requiredCond="true" id="kayitucretiInputText"
				customValidatorId="#{'bigDecimalValidator'}" keyFilterMask="num" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{aidatController}" formName="aidatForm" listPanelName="aidatListPanel" editPanelName="aidatEditPanel" modelName="Aidat" />
	</p:fieldset>

</ui:composition>