<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<style>
#progressbar {
	background-color: black;
	border-radius: 0px; /* (height of inner div) / 2 + padding */
	padding: 3px;
	width: 30%;
	margin-left: 35%;
}

#progressbar>div {
	background-color: orange;
	height: 20px;
	border-radius: 0px;
}
</style>
	<p:fieldset id="aidatBorclandirPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['uye.borclandir']}" rendered="#{aidatController.borclandirPanelRendered}">
		<h:panelGrid columns="1" border="0" styleClass="arfEditGrid" style="width:80%; margin-left:10%; text-align:center !important">
			<p:blockUI block=":aidatForm" trigger="uyeBorclandirCommand">
				<h:outputText value="#{label['common.loading']}" />
				<br />
				<h:graphicImage library="_image" name="ajax-loader.gif" />
			</p:blockUI>
			<p:blockUI block=":menuForm" trigger="uyeBorclandirCommand">
			</p:blockUI>
			<p:blockUI block=":headerOperationForm" trigger="uyeBorclandirCommand">
			</p:blockUI>
			<p:blockUI block=":breadCrumbForm" trigger="uyeBorclandirCommand">
			</p:blockUI>

			<h:outputText value="DİKKAT : #{aidatController.bulunanUyeMesaj}" style="font-size:16px; color: blue; font-weight:bold; " />
			<p:spacer height="20" />
			<p:commandButton id="uyeBorclandirCommand" action="#{aidatController.uyeBorclandir}" value="#{label['uye.borclandir']}" icon="uyeBorc" ajax="true" update=":aidatForm :menuForm :headerOperationForm :breadCrumbForm :globalMessages" onclick="borcCommand.disable(); "
				widgetVar="borcCommand" async="true" />
			<br />
			<p:spacer width="100%" height="35" />
			<br />
			<h:outputText value="#{label['aidat.islemUyari']}" style="font-size:14px; color: red; font-weight:bold; margin-left:2%" />

		</h:panelGrid>

		<p align="center" style="margin-top: 10px; margin-bottom: 10px">
			<p:commandButton id="browseCommandForUyeBorclandir" action="#{aidatController.cancel}" process="@this" update="@form" rendered="true" value="#{label['command.browse']}" immediate="true" icon="iptal"
				styleClass="arfCommandButton" />
			<br />
		</p>
	</p:fieldset>
</ui:composition>