<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="bankaEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['banka.edit']}" rendered="#{bankaController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:textinput label="#{label['banka.ad']}" value="#{bankaController.banka.ad}" compId="aciklama" requiredCond="false" id="adInputText" maxLength="200" />

		</h:panelGrid>
		<arf:editPanelBottomWithBlockUI controllerClassName="#{bankaController}" formName="bankaForm" listPanelName="bankaListPanel" editPanelName="bankaEditPanel" modelName="Banka" />
	</p:fieldset>

</ui:composition>