<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="bankaForm" prependId="false">

				<ui:include src="/_page/form/system/banka_Edit.xhtml" />

				<p:fieldset id="bankaFilterPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['banka.query']}" rendered="#{!bankaController.editPanelRendered}">
					<p:ajax listener="#{bankaController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:textinput label="#{label['banka.ad']}" value="#{bankaController.bankaFilter.ad}" compId="adForFilter" requiredCond="false" id="adForFilterInputText" maxLength="50" />

					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{bankaController}" formName="bankaForm" listPanelName="bankaListPanel" filterPanelName="bankaFilterPanel"
						modelName="Banka" />
				</p:fieldset>

				<p:fieldset legend="#{label['banka.list']}" styleClass="pageFieldSet" id="bankaListPanel">
					<p:blockUI block="bankaTable" trigger="bankaTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="bankaTable" value="#{bankaController.list}" var="bankaRow" binding="#{bankaController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{bankaController.entity}" filteredValue="#{bankaController.filteredList}" widgetVar="filterTable" rowKey="#{bankaRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{bankaController.tableRowSelect}" update=":bankaForm" />
						<p:ajax event="rowUnselect" listener="#{bankaController.tableRowCancelSelection}" update=":bankaForm" />

						<arftags:column val="#{bankaRow.ad}" header="#{label['banka.ad']}" width="30" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{bankaController}" formName="bankaForm" listPanelName="bankaListPanel" pagingOption="true" tableName="bankaTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
