<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="belgetipEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['belgetip.edit']}" rendered="#{belgetipController.editPanelRendered}">
		<h:panelGrid columns="1" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:textinput label="#{label['belgetip.kod']}" value="#{belgetipController.belgetip.kod}" compId="kod" requiredCond="true" id="kodInputText" maxLength="30" />

			<arf:textinput label="#{label['belgetip.ad']}" value="#{belgetipController.belgetip.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="30" />

			<arf:textinput label="#{label['belgetip.aciklama']}" value="#{belgetipController.belgetip.aciklama}" compId="aciklama" requiredCond="false" id="aciklamaInputText"
				maxLength="200" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{belgetipController}" formName="belgetipForm" listPanelName="belgetipListPanel" editPanelName="belgetipEditPanel"
			modelName="Belgetip" />
	</p:fieldset>

</ui:composition>