<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="belgetipForm" prependId="false">

				<ui:include src="/_page/form/system/belgetip_Edit.xhtml" />

				<p:fieldset legend="#{label['belgetip.list']}" styleClass="pageFieldSet" id="belgetipListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="belgetipTable" trigger="belgetipTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="belgetipTable" value="#{belgetipController.list}" var="belgetipRow" binding="#{belgetipController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{belgetipController.entity}" filteredValue="#{belgetipController.filteredList}" widgetVar="filterTable" rowKey="#{belgetipRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{belgetipController.tableRowSelect}" update=":belgetipForm" />
						<p:ajax event="rowUnselect" listener="#{belgetipController.tableRowCancelSelection}" update=":belgetipForm" />

						<arftags:column val="#{belgetipRow.kod}" header="#{label['belgetip.kod']}" width="33" />
						<arftags:column val="#{belgetipRow.ad}" header="#{label['belgetip.ad']}" width="33" />
						<arftags:column val="#{belgetipRow.aciklama}" header="#{label['belgetip.aciklama']}" width="33" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{belgetipController}" formName="belgetipForm" listPanelName="belgetipListPanel" pagingOption="true" tableName="belgetipTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
