<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="birimHesapEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['birimHesap.edit']}" rendered="#{birimHesapController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
			<arf:textinput label="#{label['birimHesap.bankaadi']}" value="#{birimHesapController.birimHesap.bankaadi}" compId="bankaadi" requiredCond="true" id="bankaadiInputText"
				maxLength="30" />
			<arf:textinput label="#{label['birimHesap.hesapno']}" value="#{birimHesapController.birimHesap.hesapno}" compId="hesapno" requiredCond="true" id="hesapnoInputText"
				maxLength="30" />
			<arf:textinput label="#{label['birimHesap.subekodu']}" value="#{birimHesapController.birimHesap.subekodu}" compId="subekodu" requiredCond="true" id="subekoduInputText"
				maxLength="30" />
			<arf:textinput label="#{label['birimHesap.ibannumarasi']}" value="#{birimHesapController.birimHesap.ibannumarasi}" compId="ibannumarasi" requiredCond="true"
				id="ibannumarasiInputText" maxLength="30" />
			<arf:dropdown label="#{label['birimHesap.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="true" compId="birimRef"
				value="#{birimHesapController.birimHesap.birimRef}" converterId="#{'birimConverter'}" id="birimHesapRefDropDown" />

			<arf:dropdown label="#{label['birimHesap.gecerli']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="gecerli"
				value="#{birimHesapController.birimHesap.gecerli}" id="gecerliDropDown" />

		</h:panelGrid>
		<arf:editPanelBottomWithBlockUI controllerClassName="#{birimHesapController}" formName="birimHesapForm" listPanelName="birimHesapListPanel"
			editPanelName="birimHesapEditPanel" modelName="BirimHesap" />
	</p:fieldset>

</ui:composition>

