<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="birimHesapForm" prependId="false">
				<arf:masterPanel controllerClassName="#{birimHesapController}" masterLabel="" modelName="birimHesap" />

				<ui:include src="/_page/form/system/birimHesap_Edit.xhtml" />
				<p:fieldset legend="#{label['birimHesap.list']}" styleClass="pageFieldSet" id="birimHesapListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="birimHesapTable" trigger="birimHesapTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="birimHesapTable" value="#{birimHesapController.list}" var="birimHesapRow" binding="#{birimHesapController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{birimHesapController.entity}" filteredValue="#{birimHesapController.filteredList}" widgetVar="filterTable"
						rowKey="#{birimHesapRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{birimHesapController.tableRowSelect}" update=":birimHesapForm" />
						<p:ajax event="rowUnselect" listener="#{birimHesapController.tableRowCancelSelection}" update=":birimHesapForm" />

						<arftags:column val="#{birimHesapRow.bankaadi}" header="#{label['birimHesap.bankaadi']}" width="33" />
						<arftags:column val="#{birimHesapRow.hesapno}" header="#{label['birimHesap.hesapno']}" width="33" />
						<arftags:column val="#{birimHesapRow.subekodu}" header="#{label['birimHesap.subekodu']}" width="33" />
						<arftags:column val="#{birimHesapRow.ibannumarasi}" header="#{label['birimHesap.ibannumarasi']}" width="33" />
						<arftags:column val="#{birimHesapRow.birimRef.UIString}" header="#{label['birimHesap.birimRef']}" width="16" />
						<arftags:column val="#{birimHesapRow.gecerli.label}" header="#{label['birimHesap.gecerli']}" width="50%" />

					</p:dataTable>
					<arf:pagingWithBlockUI controllerClassName="#{birimHesapController}" formName="birimHesapForm" listPanelName="birimHesapListPanel" pagingOption="true"
						tableName="birimHesapTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
