<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="birimForm" prependId="false">

				<ui:include src="/_page/form/system/birim_Edit.xhtml" />

				<p:fieldset id="birimFilterPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['birim.query']}" rendered="#{!birimController.editPanelRendered}">
					<p:ajax listener="#{birimController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:dropdownForFilter label="#{label['birim.ustRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="false" compId="ustRef"
							value="#{birimController.birimFilter.ustRef}" converterId="#{'birimConverter'}" id="ustRefForFilterDropDown" />
						<arf:textinputForFilter label="#{label['birim.ad']}" value="#{birimController.birimFilter.ad}" compId="ad" requiredCond="false" id="adForFilterInputText" maxLength="100" />
						<arf:textinputForFilter label="#{label['birim.kisaad']}" value="#{birimController.birimFilter.kisaad}" compId="kisaad" requiredCond="false" id="kisaadForFilterInputText"
							maxLength="20" />
						<arf:dropdownForFilter label="#{label['birim.sehirRef']}" listSource="#{sessionUser.sehirItemList}" requiredCond="false" compId="sehirRef"
							value="#{birimController.birimFilter.sehirRef}" converterId="#{'sehirConverter'}" id="sehirRefDropDownForFilter" ajaxEventListener="#{birimController.handleChange}"
							changeEventUpdateComp="#{':birimForm:ilceRefForFilterDropDown:ilceRefForFilter'}" />
						<arf:dropdownForFilter label="#{label['birim.ilceRef']}" listSource="#{birimController.ilceItemList}" requiredCond="false" compId="ilceRef"
							value="#{birimController.birimFilter.ilceRef}" converterId="#{'ilceConverter'}" id="ilceRefForFilterDropDown" />
						<arf:dropdownForFilter label="#{label['birim.birimtip']}" listSource="#{enumeratedController.birimTipItems}" requiredCond="false" compId="birimtip"
							value="#{birimController.birimFilter.birimtip}" id="birimtipForFilterDropDown" addNullOption="true" rendered="false" />
						<arf:dropdownForFilter label="#{label['birim.durum']}" listSource="#{enumeratedController.birimDurumItems}" requiredCond="false" compId="durum"
							value="#{birimController.birimFilter.durum}" id="durumForFilterDropDown" addNullOption="true" />
					</h:panelGrid>
					<arf:filterBottomWithBlockUI controllerClassName="#{birimController}" formName="birimForm" listPanelName="birimListPanel" filterPanelName="birimFilterPanel"
						modelName="Birim" />
				</p:fieldset>

				<p:fieldset legend="#{label['birim.list']}" styleClass="pageFieldSet" id="birimListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">

						<p:commandButton id="birimTreeCommand" process="@this" style="width:120px" action="#{birimController.treePage}" icon="tree" rendered="#{birimController.listRendered}"
							value="#{label['birim.tree']}" styleClass="arfCommandButton" />

						<p:commandButton id="internetadresCommand" process="@this" icon="internet" action="#{birimController.internetadres}"
							rendered="#{birimController.listRenderedFor('Internetadres')}" disabled="#{birimController.birim.RID == null}" style="margin-left:20px; width:130px"
							value="#{label['command.internetadres']}" styleClass="arfCommandButton" />
						<p:commandButton id="adresCommand" process="@this" icon="adres" action="#{birimController.adres}" rendered="#{birimController.listRenderedFor('Adres')}"
							disabled="#{birimController.birim.RID == null}" value="#{label['command.adres']}" styleClass="arfCommandButton" style="width:100px" />
						<p:commandButton id="telefonCommand" process="@this" icon="telefon" action="#{birimController.telefon}" rendered="#{birimController.listRenderedFor('Telefon')}"
							disabled="#{birimController.birim.RID == null}" value="#{label['command.telefon']}" styleClass="arfCommandButton" style="width:100px" />
						<p:commandButton id="birimHesapCommand" process="@this" icon="birimHesap" action="#{birimController.birimHesap}"
							rendered="#{birimController.listRenderedFor('BirimHesap')}" disabled="#{birimController.birim.RID == null}" value="#{label['command.birimHesap']}"
							styleClass="arfCommandButton" style="width:100px" />
						<p:commandButton id="donemCommand" process="@this" action="#{birimController.birimDonemleri}" rendered="#{birimController.listRenderedFor('KurulDonem')}"
							disabled="#{birimController.birim.RID == null}" value="#{label['command.birimDonemleri']}" styleClass="arfCommandButton" style="width:150px" />

					</h:panelGrid>
					<p:blockUI block="birimTable" trigger="birimTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="birimTable" value="#{birimController.list}" var="birimRow" binding="#{birimController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{birimController.entity}" filteredValue="#{birimController.filteredList}" widgetVar="filterTable" rowKey="#{birimRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{birimController.tableRowSelect}" update=":birimForm" />
						<p:ajax event="rowUnselect" listener="#{birimController.tableRowCancelSelection}" update=":birimForm" />

						<arftags:column val="#{birimRow.ad}" header="#{label['birim.ad']}" width="20" />
						<arftags:column val="#{birimRow.ustRef.UIString}" header="#{label['birim.ustRef']}" width="20" />
						<arftags:column val="#{birimRow.kisaad}" header="#{label['birim.kisaad']}" width="20" />
						<arftags:column val="#{birimRow.durum.label}" header="#{label['birim.durum']}" width="10" />
						<arftags:column val="#{birimRow.sehirRef.UIString} - #{birimRow.ilceRef.UIString}" header="#{label['birim.sehirRef']} - #{label['birim.ilceRef']}" width="20" />
						<arftags:column val="#{birimRow.birimtip.label}" header="#{label['birim.birimtip']}" width="20" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{birimController}" formName="birimForm" listPanelName="birimListPanel" pagingOption="true" tableName="birimTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="true" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
