<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="birimEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['birim.edit']}" rendered="#{birimController.editPanelRendered}">

		<h:panelGrid columns="3" styleClass="arfEditGrid">

			<arf:suggestbox label="#{label['birim.ustRef']}" methodName="#{birimController.completeMethod}" requiredCond="false" compId="ustRef" value="#{birimController.birim.ustRef}"
				id="ustRefSuggestBox" converterId="#{'birimConverter'}" modelName="#{'Birim'}" var="birimRec" itemValue="#{birimRec}" itemLabel="#{birimRec}" />

			<arf:textinput label="#{label['birim.ad']}" value="#{birimController.birim.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="100" />
			<arf:textinput label="#{label['birim.kisaad']}" value="#{birimController.birim.kisaad}" compId="kisaad" requiredCond="false" id="kisaadInputText" maxLength="20" />
			<arf:dropdown label="#{label['birim.durum']}" listSource="#{enumeratedController.birimDurumItems}" requiredCond="false" compId="durum"
				value="#{birimController.birim.durum}" id="durumDropDown" rendered="#{birimController.birim.RID != 1}" />

			<arf:suggestbox label="#{label['birim.kurumRef']}" methodName="#{birimController.completeMethod}" requiredCond="true" compId="kurumRef"
				value="#{birimController.birim.kurumRef}" id="kurumRefSuggestBox" converterId="#{'kurumConverter'}" modelName="#{'Kurum'}" var="kurumRec" itemValue="#{kurumRec}"
				itemLabel="#{kurumRec}" />

			
			<arf:dropdown label="#{label['birim.sehirRef']}" listSource="#{birimController.selectItemListFor('Sehir')}" requiredCond="true" compId="sehirRefAdres"
				value="#{birimController.birim.sehirRef}" converterId="#{'sehirConverter'}" id="sehirRefDropDown" ajaxEventListener="#{birimController.handleChange}"
				changeEventUpdateComp="#{':birimForm:ilceRefDropDown:ilceRef'}" />
			<arf:dropdown label="#{label['birim.ilceRef']}" listSource="#{birimController.ilceItemListForSehir}" requiredCond="true" compId="ilceRef"
				value="#{birimController.birim.ilceRef}" converterId="#{'ilceConverter'}" id="ilceRefDropDown" />
			
			<arf:dropdown label="#{label['birim.birimtip']}" listSource="#{enumeratedController.birimTipItems}" requiredCond="false" compId="birimtip"
				value="#{birimController.birim.birimtip}" id="birimtipDropDown" />
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{birimController}" formName="birimForm" listPanelName="birimListPanel" editPanelName="birimEditPanel" modelName="Birim" />
	</p:fieldset>

</ui:composition>