<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="birimDonemleriForm" prependId="false">
				<arf:masterPanel controllerClassName="#{birimDonemleriController}" masterLabel="" modelName="birimDonemleri" />
				<p:fieldset legend="#{label['kurulDonem.list']}" styleClass="pageFieldSet" id="birimDonemleriListPanel">


					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kurulDonemTable" value="#{birimDonemleriController.list}" var="kurulDonemRow" binding="#{kurulDonemController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{kurulDonemController.entity}" filteredValue="#{kurulDonemController.filteredList}" widgetVar="filterTable"
						rowKey="#{kurulDonemRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{kurulDonemController.tableRowSelect}" update=":birimDonemleriForm" />
						<p:ajax event="rowUnselect" listener="#{kurulDonemController.tableRowCancelSelection}" update=":birimDonemleriForm" />

						<arftags:column val="#{kurulDonemRow.donemRef.UIString}" header="#{label['kurulDonem.donemRef']}" width="20" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{birimDonemleriController}" formName="birimDonemleriForm" listPanelName="birimDonemleriListPanel" pagingOption="true"
						tableName="kurulDonemTable" addExport="true" addOption="false" updateOption="false" deleteOption="false" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
