<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="bolumForm" prependId="false">
				<ui:include src="/_page/form/system/bolum_Edit.xhtml" />

				<p:fieldset legend="#{label['bolum.list']}" styleClass="pageFieldSet" id="bolumListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="bolumTable" trigger="bolumTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="bolumTable" value="#{bolumController.list}" var="bolumRow" binding="#{bolumController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{bolumController.entity}" filteredValue="#{bolumController.filteredList}" widgetVar="filterTable" rowKey="#{bolumRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{bolumController.tableRowSelect}" update=":bolumForm" />
						<p:ajax event="rowUnselect" listener="#{bolumController.tableRowCancelSelection}" update=":bolumForm" />

						<arftags:column val="#{bolumRow.ad}" header="#{label['bolum.ad']}" width="50" />
						<arftags:columnCheckbox val="#{bolumRow.lisansKaydolunabilir}" header="#{label['bolum.lisansKaydolunabilir']}" width="50" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{bolumController}" formName="bolumForm" listPanelName="bolumListPanel" pagingOption="true" tableName="bolumTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
