<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="bolumEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['bolum.edit']}" rendered="#{bolumController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:textinput label="#{label['bolum.ad']}" value="#{bolumController.bolum.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="200" />
			<arf:booleanbox id="kaydolunabilirCheckBox" compId="lisansKaydolunabilir" styleClass="optionalInputText" value="#{bolumController.bolum.lisansKaydolunabilir}"
				label="#{label['bolum.lisansKaydolunabilir']}" requiredCond="false" checked="false" />
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{bolumController}" formName="bolumForm" listPanelName="bolumListPanel" editPanelName="bolumEditPanel" modelName="bolum" />
	</p:fieldset>

</ui:composition>