<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="cezatipEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['cezatip.edit']}" rendered="#{cezatipController.editPanelRendered}">
		<h:panelGrid columns="1" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:textinput label="#{label['cezatip.kisaad']}" value="#{cezatipController.cezatip.kisaad}" compId="kisaad" requiredCond="true" id="kisaadInputText" maxLength="15" />

			<arf:textinput label="#{label['cezatip.ad']}" value="#{cezatipController.cezatip.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="30" />

			<arf:textinput label="#{label['cezatip.aciklama']}" value="#{cezatipController.cezatip.aciklama}" compId="aciklama" requiredCond="false" id="aciklamaInputText"
				maxLength="200" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{cezatipController}" formName="cezatipForm" listPanelName="cezatipListPanel" editPanelName="cezatipEditPanel"
			modelName="Cezatip" />
	</p:fieldset>

</ui:composition>