<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="cezatipForm" prependId="false">

				<ui:include src="/_page/form/system/cezatip_Edit.xhtml" />

				<p:fieldset legend="#{label['cezatip.list']}" styleClass="pageFieldSet" id="cezatipListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="cezatipTable" trigger="cezatipTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="cezatipTable" value="#{cezatipController.list}" var="cezatipRow" binding="#{cezatipController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{cezatipController.entity}" filteredValue="#{cezatipController.filteredList}" widgetVar="filterTable" rowKey="#{cezatipRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{cezatipController.tableRowSelect}" update=":cezatipForm" />
						<p:ajax event="rowUnselect" listener="#{cezatipController.tableRowCancelSelection}" update=":cezatipForm" />

						<arftags:column val="#{cezatipRow.kisaad}" header="#{label['cezatip.kisaad']}" width="33" />
						<arftags:column val="#{cezatipRow.ad}" header="#{label['cezatip.ad']}" width="33" />
						<arftags:column val="#{cezatipRow.aciklama}" header="#{label['cezatip.aciklama']}" width="33" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{cezatipController}" formName="cezatipForm" listPanelName="cezatipListPanel" pagingOption="true" tableName="cezatipTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
