<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="demirbasEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['demirbas.edit']}" rendered="#{demirbasController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['demirbas.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="true" compId="birimRef"
				value="#{demirbasController.demirbas.birimRef}" converterId="#{'birimConverter'}" id="birimRefDropDown" disabledCond="false" />
			
			<arf:dropdown label="#{label['demirbas.demirbasdurum']}" listSource="#{enumeratedController.demirbasDurumItems}" requiredCond="false" compId="demirbasdurum"
					value="#{demirbasController.demirbas.demirbasdurum}" id="demirbasdurumDropDown" addNullOption="true" />
			<arf:dropdown label="#{label['demirbas.demirbasturu']}" listSource="#{enumeratedController.demirbasTuruItems}" requiredCond="false" compId="demirbasturu"
					value="#{demirbasController.demirbas.demirbasturu}" id="demirbasturuDropDown" addNullOption="true" />
					
			<arf:textinput label="#{label['demirbas.cinsi']}" value="#{demirbasController.demirbas.cinsi}" compId="cinsi" requiredCond="true" id="cinsiInputText" maxLength="200" />
			<arf:calendar label="#{label['demirbas.baslangictarih']}" value="#{demirbasController.demirbas.baslangictarih}" id="baslangictarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="false" compId="baslangictarih" navigatorRendered="true"
				yearRange="1950:3000"/>
			<arf:textinput label="#{label['demirbas.kararno']}" value="#{demirbasController.demirbas.kararno}" compId="kararno" requiredCond="false" id="kararnoInputText" maxLength="200" />
			<arf:textinput label="#{label['demirbas.fiyati']}" value="#{demirbasController.demirbas.fiyati}" compId="fiyati" requiredCond="false" id="fiyatiInputText" maxLength="200" />
			<arf:textinput label="#{label['demirbas.adedi']}" value="#{demirbasController.demirbas.adedi}" compId="fiyati" requiredCond="false" id="adediInputText" maxLength="200" />
			<arf:textinput label="#{label['demirbas.aciklama']}" value="#{demirbasController.demirbas.aciklama}" compId="aciklama" requiredCond="false" id="aciklamaInputText" maxLength="200" />
			<arf:textinput label="#{label['demirbas.kullanildigiyer']}" value="#{demirbasController.demirbas.kullanildigiyer}" compId="kullanildigiyer" requiredCond="false" id="kullanildigiyerInputText" maxLength="200" />
			
		</h:panelGrid>
		<arf:editPanelBottomWithBlockUI controllerClassName="#{demirbasController}" formName="demirbasForm" listPanelName="demirbasListPanel" editPanelName="demirbasEditPanel" modelName="Demirbas" />
	</p:fieldset>

</ui:composition>