<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="demirbasForm" prependId="false">

				<ui:include src="/_page/form/system/demirbas_Edit.xhtml" />

				<p:fieldset id="demirbasFilterPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['demirbas.query']}" rendered="#{!demirbasController.editPanelRendered}">
					<p:ajax listener="#{demirbasController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						
						<arf:dropdownForFilter label="#{label['demirbas.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="false" compId="birimRefForFilter"
							value="#{demirbasController.demirbasFilter.birimRef}" converterId="#{'birimConverter'}" id="birimRefForFilterDropDown" />
						<arf:textinputForFilter label="#{label['demirbas.cinsi']}" value="#{demirbasController.demirbasFilter.cinsi}" compId="cinsiForFilter" requiredCond="false" id="cinsiForFilterInputText" maxLength="50" />
						<arf:doubleCalendarForFilter label="#{label['demirbas.baslangictarih']}" value="#{demirbasController.demirbasFilter.baslangictarih}" valueMax="#{demirbasController.demirbasFilter.baslangictarihMax}"
							id="baslangictarihForFilterCalendar" pattern="#{configurationController.datePattern}" requiredCond="false" compId="baslangictarihForFilter" />
						<arf:textinputForFilter label="#{label['demirbas.kararno']}" value="#{demirbasController.demirbasFilter.kararno}" compId="kararnoForFilter" requiredCond="false" id="kararnoForFilterInputText" maxLength="50" />
							
					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{demirbasController}" formName="demirbasForm" listPanelName="demirbasListPanel" filterPanelName="demirbasFilterPanel"
						modelName="Demirbas" />
				</p:fieldset>

				<p:fieldset legend="#{label['demirbas.list']}" styleClass="pageFieldSet" id="demirbasListPanel">
					<p:blockUI block="demirbasTable" trigger="demirbasTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="demirbasTable" value="#{demirbasController.list}" var="demirbasRow" binding="#{demirbasController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{demirbasController.entity}" filteredValue="#{demirbasController.filteredList}" widgetVar="filterTable" rowKey="#{demirbasRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{demirbasController.tableRowSelect}" update=":demirbasForm" />
						<p:ajax event="rowUnselect" listener="#{demirbasController.tableRowCancelSelection}" update=":demirbasForm" />

						<arftags:column val="#{demirbasRow.kararno}" header="#{label['demirbas.kararno']}" width="10" />
						<arftags:column val="#{demirbasRow.cinsi}" header="#{label['demirbas.cinsi']}" width="10" />
						<arftags:column val="#{demirbasRow.birimRef.UIString}" header="#{label['demirbas.birimRef']}" width="10" />
						<arftags:column val="#{demirbasRow.adedi}" header="#{label['demirbas.adedi']}" width="10" />
						<arftags:numericColumn val="#{demirbasRow.fiyati}" header="#{label['demirbas.fiyati']}" width="10" />
						<arftags:dateColumn val="#{demirbasRow.baslangictarih}" header="#{label['demirbas.baslangictarih']}" width="10" />
						<arftags:column val="#{demirbasRow.demirbasturu.label}" header="#{label['demirbas.demirbasturu']}" width="10" />
						<arftags:column val="#{demirbasRow.demirbasdurum.label}" header="#{label['demirbas.demirbasdurum']}" width="10" />
						<arftags:column val="#{demirbasRow.aciklama}" header="#{label['demirbas.aciklama']}" width="10" />
						<arftags:column val="#{demirbasRow.kullanildigiyer}" header="#{label['demirbas.kullanildigiyer']}" width="10" />
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{demirbasController}" formName="demirbasForm" listPanelName="demirbasListPanel" pagingOption="true" tableName="demirbasTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
