<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="fakulteBolumEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['fakulteBolum.edit']}"
		rendered="#{fakulteBolumController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
			<arf:dropdown label="#{label['fakulteBolum.fakulteRef']}" listSource="#{fakulteBolumController.selectItemListFor('Fakulte')}" requiredCond="true" compId="fakulteRef"
				value="#{fakulteBolumController.fakulteBolum.fakulteRef}" converterId="#{'fakulteConverter'}" id="fakulteRefDropDown" />
			<arf:dropdown label="#{label['fakulteBolum.bolumRef']}" listSource="#{fakulteBolumController.selectItemListFor('Bolum')}" requiredCond="true" compId="fakulteRef"
				value="#{fakulteBolumController.fakulteBolum.bolumRef}" converterId="#{'bolumConverter'}" id="bolumRefDropDown" />
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{fakulteBolumController}" formName="fakulteBolumForm" listPanelName="fakulteBolumListPanel"
			editPanelName="fakulteBolumEditPanel" modelName="fakulteBolum" />
	</p:fieldset>

</ui:composition>