<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="fakulteBolumForm" prependId="false">
				<ui:include src="/_page/form/system/fakulteBolum_Edit.xhtml" />

				<p:fieldset legend="#{label['fakulteBolum.list']}" styleClass="pageFieldSet" id="fakulteBolumListPanel">
					<p:blockUI block="fakulteBolumTable" trigger="fakulteBolumTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="fakulteBolumTable" value="#{fakulteBolumController.list}" var="fakulteBolumRow" binding="#{fakulteBolumController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{fakulteBolumController.entity}" filteredValue="#{fakulteBolumController.filteredList}" widgetVar="filterTable"
						rowKey="#{fakulteBolumRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{fakulteBolumController.tableRowSelect}" update=":fakulteBolumForm" />
						<p:ajax event="rowUnselect" listener="#{fakulteBolumController.tableRowCancelSelection}" update=":fakulteBolumForm" />

						<arftags:column val="#{fakulteBolumRow.fakulteRef.UIString}" header="#{label['fakulteBolum.fakulteRef']}" width="50" />
						<arftags:column val="#{fakulteBolumRow.bolumRef.UIString}" header="#{label['fakulteBolum.bolumRef']}" width="50" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{fakulteBolumController}" formName="fakulteBolumForm" listPanelName="fakulteBolumListPanel" pagingOption="true"
						tableName="fakulteBolumTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
