<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="fakulteEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['fakulte.edit']}" rendered="#{fakulteController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
			<arf:textinput label="#{label['fakulte.ad']}" value="#{fakulteController.fakulte.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="200" />
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{fakulteController}" formName="fakulteForm" listPanelName="fakulteListPanel" editPanelName="fakulteEditPanel"
			modelName="fakulte" />
	</p:fieldset>

</ui:composition>