<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="fakulteForm" prependId="false">
				<ui:include src="/_page/form/system/fakulte_Edit.xhtml" />

				<p:fieldset legend="#{label['fakulte.list']}" styleClass="pageFieldSet" id="fakulteListPanel">

					<p:blockUI block="fakulteTable" trigger="fakulteTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="fakulteTable" value="#{fakulteController.list}" var="fakulteRow" binding="#{fakulteController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{fakulteController.entity}" filteredValue="#{fakulteController.filteredList}" widgetVar="filterTable" rowKey="#{fakulteRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{fakulteController.tableRowSelect}" update=":fakulteForm" />
						<p:ajax event="rowUnselect" listener="#{fakulteController.tableRowCancelSelection}" update=":fakulteForm" />

						<arftags:column val="#{fakulteRow.ad}" header="#{label['fakulte.ad']}" width="50" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{fakulteController}" formName="fakulteForm" listPanelName="fakulteListPanel" pagingOption="true" tableName="fakulteTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
