<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="uzmanlikTipEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['uzmanlikTip.edit']}" rendered="#{uzmanlikTipController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:textinput label="#{label['insan.kod']}" value="#{insanController.insan.kod}" compId="kod" requiredCond="true" id="kodInputText" maxLength="30" />

			<arf:textinput label="#{label['insan.ad']}" value="#{insanController.insan.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="30" />

			<arf:textinput label="#{label['insan.aciklama']}" value="#{insanController.insan.aciklama}" compId="aciklama" requiredCond="false" id="aciklamaInputText"
				maxLength="200" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{insanController}" formName="insanForm" listPanelName="insanListPanel"
			editPanelName="insanEditPanel" modelName="insan" />
	</p:fieldset>

</ui:composition>