<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	
	<p:fieldset id = "insanpersonelEditPanel" toggleable="true" styleClass= "pageFieldSet" legend = "#label['insanpersonel.query']}" rendered ="#{!insanpersonelController.editPanelRendered}">
	
	<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">
	<arf:dropdown label="#{['insanpersonelController.insanpersonelFilter.adsoyad']" requiredCond="true" compId="adsoyad" value="#{insanpersonelController.insanpersonelFilter.adsoyad}" id="adsoyadDropDown" />
	
	</ui:composition