<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">
	
	<ui:define name="content">
	<h:body>
	<h:form id = "insanForm" prependId="false">
	<ui:include srs="/_page/form/system/insan_Edit.xhtml"/>
	
	<p:fieldset legend="#{label['insan.list']}"
	styleClass="pageFieldSet" id="insanListPanel">
	<h:panelGrid columns="10" border="0" style ="text_align:center" cellspacing="0" cellpadding="0">
	</h:panelGrid>
	<p:blockUI block="insanTable" trigger ="insanTable">
	<h:outputText value="#{label['common.loading']}" />
	<br />
	<h:graphicImage library="_image"
	name="ajax-loader.gif"/>
	</blockUI>
	<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="insanTable" value="#{insanController.list}" var="insantipRow" binding="#{insanController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{insanController.entity}" filteredValue="#{insanController.filteredList}" widgetVar="filterTable"
						rowKey="#{insanRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{insanController.tableRowSelect}" update=":insanForm" />
						<p:ajax event="rowUnselect" listener="#{insanController.tableRowCancelSelection}" update=":insanForm" />

						<arftags:column val="#{insanRow.kod}" header="#{label['insan.kod']}" width="33" />
						<arftags:column val="#{insanRow.ad}" header="#{label['insan.ad']}" width="33" />
						<arftags:column val="#{insanRow.aciklama}" header="#{label['insan.aciklama']}" width="33" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{insanController}" formName="insanForm" listPanelName="insanListPanel" pagingOption="true"
						tableName="insanTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>

	
	
	