<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
	<h:body>
	<h:form id="insanpersonelForm" prependId="false">
	
	<ui:include src = "/_page/form/system/insanpersonel_Edit.xhtml" />
	
	<p:fieldset id = "insanpersonelFilterPanel" toggleable="true" styleClass= "pageFieldSet" legend = "#label['insanpersonel.query']}" rendered ="#{!insanpersonelController.editPanelRendered}">
	<p:ajax listener="#{insanpersonelController.onToggle}" event="toggle"/>
	<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">
	<arf:dropdown label="#{['insanpersonelController.insanpersonelFilter.adsoyad']" requiredCond="true" compId="adsoyad" value="#{insanpersonelController.insanpersonelFilter.adsoyad}" id="adsoyadDropDown" />
	</h:body>
	</ui:define>
	</ui:composition