<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="islemForm" prependId="false">

				<ui:include src="/_page/form/system/islem_Edit.xhtml" />

				<p:fieldset id="islemFilterPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['islem.query']}" rendered="#{!islemController.editPanelRendered}">
					<p:ajax listener="#{islemController.onToggle}" event="toggle" />
					<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">
						<arf:textinputForFilter value="#{islemController.islemFilter.name}" label="#{label['islem.name']}" requiredCond="false" id="nameInputTextForFilter" compId="name"
							maxLength="20" />

						<arf:dropdownForFilter label="#{label['islem.active']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="false" compId="active"
							value="#{islemController.islemFilter.active}" id="activeDropDownForFilter" />

					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{islemController}" formName="islemForm" listPanelName="islemListPanel" filterPanelName="islemFilterPanel"
						modelName="Islem" />
				</p:fieldset>

				<p:fieldset legend="#{label['islem.list']}" styleClass="pageFieldSet" id="islemListPanel">

					<p:blockUI block="islemTable" trigger="islemTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="islemTable" value="#{islemController.list}" var="islemRow" binding="#{islemController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{islemController.entity}" filteredValue="#{islemController.filteredList}" widgetVar="filterTable" rowKey="#{islemRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{islemController.tableRowSelect}" update=":islemForm" />
						<p:ajax event="rowUnselect" listener="#{islemController.tableRowCancelSelection}" update=":islemForm" />

						<arftags:column val="#{islemRow.name}" header="#{label['islem.name']}" width="50%" />
						<arftags:column val="#{islemRow.active.label}" header="#{label['islem.active']}" width="50%" />

					</p:dataTable>
				
					<arf:pagingWithBlockUI controllerClassName="#{islemController}" formName="islemForm" listPanelName="islemListPanel" tableName="islemTable" addExport="true"
						addOption="true" updateOption="false" deleteOption="false" />
					
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
