<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="islemlogForm" prependId="false">

				<ui:include src="/_page/form/system/islemlog_Edit.xhtml" />

				<p:fieldset legend="#{label['islemlog.list']}" styleClass="pageFieldSet" id="islemlogListPanel">
					<p:blockUI block="islemlogTable" trigger="islemlogTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="islemlogTable" value="#{islemlogController.list}" var="islemlogRow" binding="#{islemlogController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{islemlogController.entity}" filteredValue="#{islemlogController.filteredList}" widgetVar="filterTable" rowKey="#{islemlogRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{islemlogController.tableRowSelect}" update=":islemlogForm" />
						<p:ajax event="rowUnselect" listener="#{islemlogController.tableRowCancelSelection}" update=":islemlogForm" />

						<arftags:column val="#{islemlogRow.islemturu.label}" header="#{label['islemlog.islemturu']}" width="10" />
						<arftags:column val="#{islemlogRow.kullaniciRef.UIString}" header="#{label['islemlog.kullaniciRef']}" width="10" />
						<arftags:dateColumn val="#{islemlogRow.islemtarihi}" header="#{label['islemlog.islemtarihi']}" width="10" />
						<arftags:column val="#{islemlogRow.tabloadi}" header="#{label['islemlog.tabloadi']}" width="10" />
						<arftags:column val="#{islemlogRow.eskideger}" header="#{label['islemlog.eskideger']}" width="28" />
						<arftags:column val="#{islemlogRow.yenideger}" header="#{label['islemlog.yenideger']}" width="28" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{islemlogController}" formName="islemlogForm" listPanelName="islemlogListPanel" pagingOption="true" tableName="islemlogTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
