<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="islemlogEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['islemlog.edit']}" rendered="#{islemlogController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['islemlog.kullaniciRef']}" listSource="#{islemlogController.selectItemListFor('Kullanici')}" requiredCond="false" compId="kullaniciRef"
				value="#{islemlogController.islemlog.kullaniciRef}" id="kullaniciRefDropDown" converterId="#{'kullaniciConverter'}" />

			<arf:dropdown label="#{label['islemlog.islemturu']}" listSource="#{enumeratedController.islemTuruItems}" requiredCond="false" compId="islemturu"
				value="#{islemlogController.islemlog.islemturu}" id="islemturuDropDown" addNullOption="true" />

			<arf:calendar label="#{label['islemlog.islemtarihi']}" value="#{islemlogController.islemlog.islemtarihi}" id="islemtarihiCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="islemtarihi" />

			<arf:textinput label="#{label['islemlog.tabloadi']}" value="#{islemlogController.islemlog.tabloadi}" compId="tabloadi" requiredCond="true" id="tabloadiInputText"
				maxLength="255" />

			<arf:textinput label="#{label['islemlog.referansRID']}" value="#{islemlogController.islemlog.referansRID}" compId="referansRID" requiredCond="true"
				id="referansRIDInputText" />

			<arf:textinput label="#{label['islemlog.eskideger']}" value="#{islemlogController.islemlog.eskideger}" compId="eskideger" requiredCond="false" id="eskidegerInputText"
				maxLength="0" />

			<arf:textinput label="#{label['islemlog.yenideger']}" value="#{islemlogController.islemlog.yenideger}" compId="yenideger" requiredCond="false" id="yenidegerInputText"
				maxLength="0" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{islemlogController}" formName="islemlogForm" listPanelName="islemlogListPanel" editPanelName="islemlogEditPanel"
			modelName="Islemlog" />
	</p:fieldset>

</ui:composition>