<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="islemEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['islem.edit']}" rendered="#{islemController.editPanelRendered}">
		<h:panelGrid columns="1" styleClass="arfEditGrid">

			<arf:textinput value="#{islemController.islem.name}" label="#{label['islem.name']}" requiredCond="true" id="nameInputText" compId="name" maxLength="20" keyFilterRegex="/^[-\w\sşŞıİçÇöÖüÜĞğ]+$/" />

			<arf:dropdown label="#{label['islem.active']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="active"
				value="#{islemController.islem.active}" id="activeDropDown" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{islemController}" formName="islemForm" listPanelName="islemListPanel" editPanelName="islemEditPanel" modelName="Islem" />
	</p:fieldset>

</ui:composition>