<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		
		<style>
			#kisiRaporlamaTable {
				border-collapse: collapse;
				border: 0px solid #F2F2F2;
			}
			
			#kisiRaporlamaTable td,#kisiRaporlamaTable th {
				height: 25px;
			}
		</style>
		<h:body>
			<h:form id="kisiRaporlamaForm" prependId="false">

				<p:panel id="kisiPanel" toggleable="true" header="Kişi Kriterleri" collapsed="#{kisiRaporlamaController.kisiPanelCollapsed}"
					style="padding:none; -moz-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 2px 2px gray; -webkit-box-shadow: 2px 2px gray; box-shadow: 2px 2px gray; width: 98%; margin-left: 0.5%;
					margin-top: 10px; margin-bottom: 10px;">
					<h:panelGrid id="kisiRaporlamaTable" columns="2" width="102%" style="margin-left:-1%;" cellspacing="0" cellpadding="0" columnClasses="elliYuzde, elliYuzde">
							
						<arf:dropdownForFilter label="#{label['kisikimlik.cinsiyet']}" listSource="#{enumeratedController.cinsiyetItems}" requiredCond="false" compId="cinsiyet"
							value="#{kisiRaporlamaController.kisiRaporlamaFilter.cinsiyet}" id="cinsiyetDropDown" addNullOption="true"/>
					
						<arf:doubleCalendarForFilter label="#{label['kisikimlik.dogumtarih']}" value="#{kisiRaporlamaController.kisiRaporlamaFilter.dogumtarih}"
							valueMax="#{kisiRaporlamaController.kisiRaporlamaFilter.dogumtarihMax}" id="dogumtarihForFilterCalendar" pattern="#{configurationController.datePattern}"
							requiredCond="false" compId="dogumtarihForFilter" />
				
						<arf:dropdownForFilter label="#{label['kisi.yasadigiIl']}" listSource="#{sessionUser.sehirItemList}" requiredCond="false" compId="sehirRefAdres"
							value="#{kisiRaporlamaController.kisiRaporlamaFilter.yasadigiIl}" converterId="#{'sehirConverter'}" id="yasadigisehirDropDownAdres"  />
						<arf:dropdownForFilter label="#{label['kisi.calistigiIl']}" listSource="#{sessionUser.sehirItemList}" requiredCond="false" compId="sehirRefAdres"
							value="#{kisiRaporlamaController.kisiRaporlamaFilter.calistigiIl}" converterId="#{'sehirConverter'}" id="calistigisehirDropDownAdres"  />
									
						<arf:textinput label="#{label['kisi.kurumadi']}" value="#{kisiRaporlamaController.kisiRaporlamaFilter.kurumadi}" compId="kurumadi" requiredCond="false" 
							id="kurumadiinputtext" maxLength="100" />	
					</h:panelGrid>
					<h:panelGrid id="kisiRaporlamaTable1" columns="2" width="102%" style="margin-left:-0.4%;" cellspacing="0" cellpadding="0" columnClasses="elliYuzde, elliYuzde">	
						<h:panelGroup>
							<h:outputText value="#{label['kisi.telefonAra']} : " styleClass="optionalOutputText" style="padding-right:10px" />	
							<p:selectBooleanCheckbox id="telefonyok" value="#{kisiRaporlamaController.kisiRaporlamaFilter.telefonYok}" title="#{label['kisi.telefonAra']}" />
						</h:panelGroup>
						
						<h:panelGroup>
							<h:outputText value="#{label['kisi.epostaAra']} : " styleClass="optionalOutputText" style="padding-right:10px" />	
							<p:selectBooleanCheckbox id="epostayok" value="#{kisiRaporlamaController.kisiRaporlamaFilter.epostaYok}" title="#{label['kisi.telefonAra']}"/>
						</h:panelGroup>
						
					</h:panelGrid>
					
				</p:panel>

				
				<h:panelGrid columns="2" columnClasses="elliYuzde,elliYuzde"
					style="width: 98%; margin-left: 0.5%; border:1px solid lightgray; height:45px; text-align:center">
					
					<h:panelGrid columns="3" columnClasses="otuzYuzde,otuzYuzde, otuzYuzde">
						<arf:dropdownForFilter label="#{label['kullanicirapor.list']}" listSource="#{kisiRaporlamaController.kullaniciRaporList}" requiredCond="false" compId="kullaniciraporRef"
								value="#{kisiRaporlamaController.kisiRaporlamaFilter.kullanicirapor}" converterId="#{'kullaniciraporConverter'}" id="kullaniciraporlist"  
								ajaxEventListener="#{kisiRaporlamaController.handleChangeKullaniciRapor}" changeEventUpdateComp="#{':kisiRaporlamaForm'}"/>
							
						<p:commandButton id="filterCommandForKisiRaporlama" icon="search" value="#{label['command.query']}" action="#{kisiRaporlamaController.filterKisi}" async="true" ajax="false"
							process="@form" update="@form :globalMessages" styleClass="arfCommandButton" onsuccess="kisiRaporDialog.show()" />
					</h:panelGrid>
					<h:panelGrid columns="3" columnClasses="otuzYuzde,otuzYuzde,otuzYuzde">
						<h:outputText value="#{label['kullanicirapor.raporadi']} : " styleClass="optionalOutputText" style="padding-left:50px; padding-right:10px" />
						<h:inputText value="#{kisiRaporlamaController.kullaniciRaporAdi}" required="false" title="#{label['kullanicirapor.raporadi']}" styleClass="optionalInputText"
							maxlength="250" />
						
						<p:commandButton id="saveKullaniciRaporForKisiRaporlama" icon="save" value="#{label['command.post']}" action="#{kisiRaporlamaController.saveKullaniciRapor}" async="true"
							ajax="true" process="@form" update="@form :globalMessages" styleClass="arfCommandButton" style="margin-left:10px" />
					</h:panelGrid>

				</h:panelGrid>
			</h:form>

			<p:dialog header="#{label['kisi.list']}" id="kisiRaporDialogBox" widgetVar="kisiRaporDialog" style="position:absolute; left:5%; top:5%" modal="true"
				visible="#{kisiRaporlamaController.list.size() > 0}">
				<h:form id="kisiRaporSonucForm" prependId="false">
					<p:blockUI block="kisiTable" trigger="kisiTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kisiTable" value="#{kisiRaporlamaController.list}" var="kisiRow" binding="#{kisiRaporlamaController.table}" rowIndexVar="rowIndex"
						rowKey="#{kisiRow.RID}" resizableColumns="false">
						
						<arftags:column val="#{kisiRow.ad}" header="#{label['kisi.ad']}" width="10"/>
						<arftags:column val="#{kisiRow.soyad}" header="#{label['kisi.soyad']}" width="10"/>
						<arftags:column val="#{kisiRow.kisikimlik.cinsiyet.label}" header="#{label['kisikimlik.cinsiyet']}" width="10"  />
						<arftags:dateColumn val="#{kisiRow.kisikimlik.dogumtarih}" header="#{label['kisikimlik.dogumtarih']}" width="10"/>
						<arftags:column val="#{kisiRow.kisiIsyeri.kurumRef.UIStringShort}" header="#{label['kisi.isYeriBilgisi']}" width="10" />
						<arftags:column val="#{kisiRow.kisiIsyeri.kurumRef.kurumAdres.acikAdres}" header="#{label['kisi.isyeriadres']}" width="10"/>
						<arftags:column val="#{kisiRow.kisiIsyeri.kurumRef.kurumAdres.sehirRef.ad}" header="#{label['kisi.calistigiIl']}" width="10"  />
						<arftags:column val="#{kisiRow.kisiEvAdres.acikAdres}" header="#{label['kisi.evadresi']}" width="10" />
						<arftags:column val="#{kisiRow.kisiEvAdres.sehirRef.ad}" header="#{label['kisi.yasadigiIl']}" width="10"/>
						<arftags:column val="#{kisiRow.kisiTelefon.UIString}" header="#{label['kisi.telefon']}" width="10" />
						<arftags:column val="#{kisiRow.kisiInternetadres.UIString}" header="#{label['kisi.eposta']}" width="10" />

					</p:dataTable>
					<p align="center">
						<p:commandLink ajax="false" pageOnly="true" image="pdf" immediate="true" rendered="true" target="newPopup">
							<p:dataExporter type="pdf" target=":kisiRaporSonucForm:kisiTable" fileName="kisiTablePdfExport" excludeColumns="" />
							<h:graphicImage library="_image" name="pdf.png" width="20px" height="20px" styleClass="exportImage" />
						</p:commandLink>
						<p:commandLink ajax="false" pageOnly="true" image="excel" immediate="true" rendered="true" target="newPopup">
							<p:dataExporter type="xls" target=":kisiRaporSonucForm:kisiTable" fileName="kisiTableXlsExport" excludeColumns="" />
							<h:graphicImage library="_image" name="excel.png" width="20px" height="20px" style="margin-left:4px" styleClass="exportImage" />
						</p:commandLink>
						<p:commandLink ajax="false" pageOnly="true" image="csv" immediate="true" rendered="true" target="newPopup">
							<p:dataExporter type="csv" target=":kisiRaporSonucForm:kisiTable" fileName="kisiTableCsvExport" excludeColumns="" />
							<h:graphicImage library="_image" name="csv.png" width="20px" height="20px" style="margin-left:4px" styleClass="exportImage" />
						</p:commandLink>
					</p>
				</h:form>
			</p:dialog>
		</h:body>
	</ui:define>
</ui:composition>
