<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="komisyonEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['komisyon.edit']}" rendered="#{komisyonController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:textinput label="#{label['komisyon.ad']}" value="#{komisyonController.komisyon.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="100" />

			<arf:textinput label="#{label['komisyon.kisaad']}" value="#{komisyonController.komisyon.kisaad}" compId="kisaad" requiredCond="false" id="kisaadInputText" maxLength="20" />


		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{komisyonController}" formName="komisyonForm" listPanelName="komisyonListPanel" editPanelName="komisyonEditPanel"
			modelName="Komisyon" />
	</p:fieldset>

</ui:composition>