<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="komisyonForm" prependId="false">

				<ui:include src="/_page/form/system/komisyon_Edit.xhtml" />

				<p:fieldset id="komisyonFilterPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['komisyon.query']}" rendered="#{!komisyonController.editPanelRendered}">
					<p:ajax listener="#{komisyonController.onToggle}" event="toggle" />
					<h:panelGrid columns="1" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:textinputForFilter label="#{label['komisyon.ad']}" value="#{komisyonController.komisyonFilter.ad}" compId="ad" requiredCond="false" id="adInputTextForFilter"
							maxLength="100" />
					</h:panelGrid>
					<arf:filterBottomWithBlockUI controllerClassName="#{komisyonController}" formName="komisyonForm" listPanelName="komisyonListPanel" filterPanelName="komisyonFilterPanel"
						modelName="Birim" />
				</p:fieldset>

				<p:fieldset legend="#{label['komisyon.list']}" styleClass="pageFieldSet" id="komisyonListPanel">

					<p:blockUI block="komisyonTable" trigger="komisyonTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="komisyonTable" value="#{komisyonController.list}" var="komisyonRow" binding="#{komisyonController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{komisyonController.entity}" filteredValue="#{komisyonController.filteredList}" widgetVar="filterTable" rowKey="#{komisyonRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{komisyonController.tableRowSelect}" update=":komisyonForm" />
						<p:ajax event="rowUnselect" listener="#{komisyonController.tableRowCancelSelection}" update=":komisyonForm" />

						<arftags:column val="#{komisyonRow.ad}" header="#{label['komisyon.ad']}" width="12" />
						<arftags:column val="#{komisyonRow.kisaad}" header="#{label['komisyon.kisaad']}" width="12" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{komisyonController}" formName="komisyonForm" listPanelName="komisyonListPanel" pagingOption="true" tableName="komisyonTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />

				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
