<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="kpslogForm" prependId="false">

				<p:fieldset id="kpslogFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{kpslogController.collapsed}" legend="#{label['kpslog.query']}"
					rendered="#{!kpslogController.editPanelRendered}">
					<p:ajax listener="#{kpslogController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						
						<arf:dropdownForFilter label="#{label['kpslog.kullaniciRef']}" listSource="#{kpslogController.selectItemListFor('Kullanici')}" requiredCond="false"
							compId="kullaniciRef" value="#{kpslogController.kpslogFilter.kullaniciRef}" converterId="#{'kullaniciConverter'}" id="kullaniciRefForFilterDropDown" />

						<arf:calendarForFilter label="#{label['kpslog.tarih']}" value="#{kpslogController.kpslogFilter.tarih}" id="tarihForFilterCalendar"
							pattern="#{configurationController.datePattern}" requiredCond="false" compId="tarih" />

						<arf:dropdownForFilter label="#{label['kpslog.kpsturu']}" listSource="#{enumeratedController.kpsTuruItems}" requiredCond="false" compId="kpsturu"
							value="#{kpslogController.kpslogFilter.kpsturu}" id="kpsturuForFilterDropDown" addNullOption="true" />
						
					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{kpslogController}" formName="kpslogForm" listPanelName="kpslogListPanel" filterPanelName="kpslogFilterPanel"
						modelName="Kpslog" />
				</p:fieldset>

				<p:fieldset legend="#{label['kpslog.list']}" styleClass="pageFieldSet" id="kpslogListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="kpslogTable" trigger="kpslogTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kpslogTable" value="#{kpslogController.list}" var="kpslogRow" binding="#{kpslogController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{kpslogController.entity}" filteredValue="#{kpslogController.filteredList}" widgetVar="filterTable" rowKey="#{kpslogRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{kpslogController.tableRowSelect}" update=":kpslogForm" />
						<p:ajax event="rowUnselect" listener="#{kpslogController.tableRowCancelSelection}" update=":kpslogForm" />

						<arftags:column val="#{kpslogRow.kullaniciRef.UIString}" header="#{label['kpslog.kullaniciRef']}" width="25" />
						<arftags:dateTimeColumn val ="#{kpslogRow.tarih}" header="#{label['kpslog.tarih']}" width="33" />
						<arftags:column val="#{kpslogRow.kpsturu.label}" header="#{label['kpslog.kpsturu']}" width="25" />
						<arftags:column val="#{kpslogRow.kimlikno}" header="#{label['kpslog.kimlikno']}" width="25" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{kpslogController}" formName="kpslogForm" listPanelName="kpslogListPanel" pagingOption="true" tableName="kpslogTable"
						addExport="true" addOption="false" updateOption="false" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
