<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content"> 
		<h:body onload="filterTable.filter()">
			<h:form id="kullaniciraporForm" prependId="false">
				<ui:include src="/_page/form/system/kullanicirapor_Edit.xhtml" />

				<p:fieldset id="kullaniciraporFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{kullaniciraporController.collapsed}"
					legend="#{label['kullanicirapor.query']}" rendered="#{!kullaniciraporController.editPanelRendered}">
					<p:ajax listener="#{kullaniciraporController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

						<h:panelGrid columns="2" width="100%" border="0" columnClasses="otuzBesYuzde,altmisBesYuzde">
							<h:outputText value="#{label['kullanicirapor.raporTuru']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
							<h:selectOneMenu id="raporTuruForFilter" value="#{kullaniciraporController.kullaniciraporFilter.raporTuru}" title="#{label['kullanicirapor.raporTuru']}"
								required="false" tyleClass="optionalInputText">
								<f:selectItem itemValue="" itemLabel="#{label['kayit.seciniz']}" />
								<f:selectItem itemValue="Üye" itemLabel="Üye" />
							</h:selectOneMenu>
						</h:panelGrid>

						<arf:textinputForFilter label="#{label['kullanicirapor.raporadi']}" value="#{kullaniciraporController.kullaniciraporFilter.raporadi}" compId="raporadi"
							requiredCond="false" id="raporadiForFilterInputText" maxLength="250" />

						<arf:doubleCalendarForFilter label="#{label['kullanicirapor.tarih']}" value="#{kullaniciraporController.kullaniciraporFilter.tarih}"
							valueMax="#{kullaniciraporController.kullaniciraporFilter.tarihMax}" id="tarihForFilterCalendar" pattern="#{configurationController.datePattern}" requiredCond="false"
							compId="tarih" />

					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{kullaniciraporController}" formName="kullaniciraporForm" listPanelName="kullaniciraporListPanel"
						filterPanelName="kullaniciraporFilterPanel" modelName="Kullanicirapor" />
				</p:fieldset>

				<p:fieldset legend="#{label['kullanicirapor.list']}" styleClass="pageFieldSet" id="kullaniciraporListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="kullaniciraporTable" trigger="kullaniciraporTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kullaniciraporTable" value="#{kullaniciraporController.list}" var="kullaniciraporRow" binding="#{kullaniciraporController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{kullaniciraporController.entity}" filteredValue="#{kullaniciraporController.filteredList}"
						widgetVar="filterTable" rowKey="#{kullaniciraporRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{kullaniciraporController.tableRowSelect}" update=":kullaniciraporForm" />
						<p:ajax event="rowUnselect" listener="#{kullaniciraporController.tableRowCancelSelection}" update=":kullaniciraporForm" />

						<arftags:column val="#{kullaniciraporRow.raporadi}" header="#{label['kullanicirapor.raporadi']}" width="25" />
						<arftags:column val="#{kullaniciraporRow.raporTuru}" header="#{label['kullanicirapor.raporTuru']}" width="10" />
						<arftags:dateColumn val="#{kullaniciraporRow.tarih}" header="#{label['kullanicirapor.tarih']}" width="25" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{kullaniciraporController}" formName="kullaniciraporForm" listPanelName="kullaniciraporListPanel" pagingOption="true"
						tableName="kullaniciraporTable" addExport="true" addOption="false" updateOption="false" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form> 
		</h:body>
	</ui:define>
</ui:composition>
