<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="kullaniciraporEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kullanicirapor.edit']}"
		rendered="#{kullaniciraporController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['kullanicirapor.kullaniciRef']}" listSource="#{kullaniciraporController.selectItemListFor('Kullanici')}" requiredCond="true"
				compId="kullaniciRef" value="#{kullaniciraporController.kullanicirapor.kullaniciRef}" converterId="#{'kullaniciConverter'}" id="kullaniciRefDropDown" />

			<arf:textinput label="#{label['kullanicirapor.raporadi']}" value="#{kullaniciraporController.kullanicirapor.raporadi}" compId="raporadi" requiredCond="true"
				id="raporadiInputText" maxLength="250" />

			<arf:textinput label="#{label['kullanicirapor.raporTuru']}" value="#{kullaniciraporController.kullanicirapor.raporTuru}" compId="raporTuru" requiredCond="true"
				id="raporTuruInputText" maxLength="50" />

			<arf:textinput label="#{label['kullanicirapor.wherecondition']}" value="#{kullaniciraporController.kullanicirapor.wherecondition}" compId="wherecondition"
				requiredCond="true" id="whereconditionInputText" maxLength="0" />

			<arf:calendar label="#{label['kullanicirapor.tarih']}" value="#{kullaniciraporController.kullanicirapor.tarih}" id="tarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="tarih" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{kullaniciraporController}" formName="kullaniciraporForm" listPanelName="kullaniciraporListPanel"
			editPanelName="kullaniciraporEditPanel" modelName="Kullanicirapor" />
	</p:fieldset>

</ui:composition>