<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<f:view>

	<f:loadBundle basename="#{applicationController.labelResource}" var="label" />

	<h:head>
		<f:facet name="first">
			<meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
			<meta http-equiv="X-Frame-Options" content="SAMEORIGIN" />
			<title>#{label['project.name']}</title>
		</f:facet>
		<h:outputStylesheet library="style" name="login.css" />
	</h:head>


	<h:body style="background-image: url('/Toys/faces/javax.faces.resource/loginPageBack.jpg?ln=_image'); overflow:hidden">
		<h:graphicImage library="_image" name="loginPageTop.png" style="position:absolute; top:10px" />
		<p:spacer height="70" />

		<div class="main">
			<h:form class="form1" id="kullaniciSifreTalepForm">
				<div class="formtitle">
					<h:outputLabel value="Şifremi Unuttum" />
				</div>
				<br />
				<br />
                <p:outputPanel rendered="#{kullaniciSifreTalepController.formDurum == 0}">

                    <div class="ui-messages-info" style="width: 80%; margin-left: auto; margin-right: auto">
                        <span class="ui-messages-info-icon"></span>
                        <h:outputText value="Sistemde kayıtlı e-posta'nızı hatırlamıyorsanız 0 (312) 230 3145 numaralı telefondan genel merkezimizi arayarak öğrenebilirsiniz."/>
                    </div>

                    <div class="input">
                        <div class="inputtext">
                            <h:outputLabel value="#{label['sifremiunuttumuye.kimliknovesicilno']}:" />
                        </div>
                        <div class="inputcontent">
                            <p:inputText id="userName" value="#{kullaniciSifreTalepController.userName}"
                                         maxlength="11" style="width: 200px" required="true"/>
                        </div>
                    </div>
                    <div class="input">
                        <div class="inputtext">
                            <h:outputLabel value="e-Posta:" />
                        </div>
                        <div class="inputcontent">
                            <p:inputText value="#{kullaniciSifreTalepController.ePosta}"
                                         style="width: 200px" maxlength="50" required="true"/>
                        </div>
                    </div>
                    <div class="buttons">
                        <h:messages globalOnly="false" style="float:left; font-weight:bold" />

                        <p:commandButton id="guvenlikkodugonder"
                                         value="#{label['sifremiunuttumuye.guvenlikkodugonder']}"
                                         style="width:200px"
                                         action="#{kullaniciSifreTalepController.guvenlikKoduGonderUye}"
                                         styleClass="orangebutton"
                                         process="@form" update=":kullaniciSifreTalepForm"/>

                    </div>

                </p:outputPanel>


                <p:outputPanel rendered="#{kullaniciSifreTalepController.formDurum == 1}">

                    <div class="input nobottomborder">
                        <div class="inputtext">
                            <h:outputLabel value="#{label['sifremiunuttumuye.guvenlikkodu']}: " />
                        </div>
                        <div class="inputcontent">
                            <p:inputText value="#{kullaniciSifreTalepController.guvenlikkodu}"
                                         maxlength="20" required="true"/>
                        </div>
                    </div>

                    <div class="buttons">

                        <h:messages globalOnly="false" style="float:left; font-weight:bold" />

                        <p:commandButton value="Güvenlik Kodu Doğrula" style="width:200px"
                                         action="#{kullaniciSifreTalepController.guvenlikKoduDogrula}"
                                         styleClass="orangebutton"
                                         process="@form" update=":kullaniciSifreTalepForm"/>

                    </div>
                </p:outputPanel>


                <p:outputPanel rendered="#{kullaniciSifreTalepController.formDurum == 2}">


                    <div class="ui-messages-info" style="width: 80%; margin-left: auto; margin-right: auto">
                        <span class="ui-messages-info-icon"></span>
                        <h:outputText value="Şifreniz en az 6 karakter, bir küçük harf, bir büyük harf ve bir rakam içermelidir."/>
                    </div>

                    <div class="input">
                        <div class="inputtext">
                            <h:outputLabel value="Şifre: " />
                        </div>
                        <div class="inputcontent">
                            <p:password id="yeniSifre" value="#{kullaniciSifreTalepController.yeniSifre}"
                                        validator="passwordValidator" maxlength="20" required="true">
                            </p:password>
                            <p:message for="yeniSifre"/>
                        </div>
                    </div>
                    <div class="input nobottomborder">
                        <div class="inputtext">
                            <h:outputLabel value="Şifre (Tekrar): " />
                        </div>
                        <div class="inputcontent">
                            <p:password id="yeniSifreTekrar" value="#{kullaniciSifreTalepController.yeniSifreTekrar}"
                                        validator="passwordValidator" maxlength="20" required="true">
                            </p:password>
                            <p:message for="yeniSifreTekrar"/>
                        </div>
                    </div>

                    <div class="buttons">

                        <h:messages globalOnly="true" style="float:left; font-weight:bold"/>

                        <p:commandButton value="Şifre Değiştir" style="width:150px"
                                         action="#{kullaniciSifreTalepController.sifreDegistir}"
                                         styleClass="orangebutton"
                                         process="@form" update=":kullaniciSifreTalepForm"/>

                    </div>

                </p:outputPanel>


                <p:outputPanel rendered="#{kullaniciSifreTalepController.formDurum == 3}">

                    <div style="text-align: left; margin: 5px">
                        <h:outputLink value="../../authentication/uyelogin.xhtml">Giriş sayfasına git</h:outputLink>
                    </div>

                    <h:messages globalOnly="false" style="float:left; font-weight:bold"/>

                </p:outputPanel>



			</h:form>

		</div>
	</h:body>

</f:view>

</html>