<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="kullaniciForm" prependId="false">

				<ui:include src="/_page/form/system/kullanici_Edit.xhtml" />

				<p:fieldset id="kullaniciFilterPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['kullanici.query']}" rendered="#{!kullaniciController.editPanelRendered}">
					<p:ajax listener="#{kullaniciController.onToggle}" event="toggle" />
					<h:panelGrid columns="6" columnClasses="onAltiYuzde, onAltiYuzde, onAltiYuzde, onAltiYuzde, onAltiYuzde, onAltiYuzde" styleClass="arfEditGrid">

						<arf:dualtextinputForFilter label="#{label['kisi.ad']} - #{label['kisi.soyad']}" requiredCond="false" compId="kisiad" style="width:80px"
							value="#{kullaniciController.kullaniciFilter.ad}" maxLength="10" id="kisiAdSoyadForFilterDualTextInput" requiredCond2="false" compId2="kisisoyad" style2="width:80px"
							value2="#{kullaniciController.kullaniciFilter.soyad}" maxLength2="10" />

						<arf:textinputForFilter label="#{label['kullanici.name']}" value="#{kullaniciController.kullaniciFilter.name}" compId="name" requiredCond="false"
							id="nameForFilterInputText" maxLength="15" />

					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{kullaniciController}" formName="kullaniciForm" listPanelName="kullaniciListPanel"
						filterPanelName="kullaniciFilterPanel" modelName="Kullanici" />
				</p:fieldset>

				<p:fieldset legend="#{label['kullanici.list']}" styleClass="pageFieldSet" id="kullaniciListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center">
						<p:commandButton id="kullaniciRoleCommand" process="@this" action="#{kullaniciController.kullaniciRole}" icon="kullaniciIcon" style="width:130px"
							rendered="#{kullaniciController.listRenderedFor('KullaniciRole')}" disabled="#{kullaniciController.kullanici.RID == null}" value="#{label['kullaniciRole.list']}"
							styleClass="arfCommandButton" />
					</h:panelGrid>
					<p:blockUI block="kullaniciTable" trigger="kullaniciTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kullaniciTable" value="#{kullaniciController.list}" var="kullaniciRow" binding="#{kullaniciController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{kullaniciController.entity}" filteredValue="#{kullaniciController.filteredList}" widgetVar="filterTable"
						rowKey="#{kullaniciRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{kullaniciController.tableRowSelect}" update=":kullaniciForm" />
						<p:ajax event="rowUnselect" listener="#{kullaniciController.tableRowCancelSelection}" update=":kullaniciForm" />

						<arftags:column val="#{kullaniciRow.kisiRef.UIString}" header="#{label['kullanici.kisiRef']}" width="25%" />
						<arftags:column val="#{kullaniciRow.name}" header="#{label['kullanici.name']}" width="25%" />
                        <!--<arftags:column val="#{kullaniciRow.loginAttemptCount}" header="Kullanici Login Denemesi" width="25%" />-->

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{kullaniciController}" formName="kullaniciForm" listPanelName="kullaniciListPanel" tableName="kullaniciTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" blokKaldirButton="#{kullaniciController.kullanici.loginAttemptCount!=0}"/>
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
