<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="kullaniciEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kullanici.edit']}" rendered="#{kullaniciController.editPanelRendered}">
		<h:panelGrid columns="1" columnClasses="onBirYuzde, onBirYuzde, onBirYuzde, onBirYuzde, onBirYuzde, onBirYuzde, onBirYuzde, onBirYuzde, onBirYuzde" styleClass="arfEditGrid">

			<arf:textoutput label="#{label['kullanici.kisiRef']}" compId="kisiRefOutput" value="#{kullaniciController.kullanici.kisiRef.UIString}"
				rendered="#{kullaniciController.kullanici.RID != null}" />

			<arf:suggestbox label="#{label['kullanici.kisiRef']}" methodName="#{kullaniciController.completeMethod}" requiredCond="false" compId="kisiRef"
				value="#{kullaniciController.kullanici.kisiRef}" id="kisiRefSuggestBox" converterId="#{'kisiConverter'}" modelName="#{'Kisi'}" var="kisiRec" itemValue="#{kisiRec}"
				itemLabel="#{kisiRec}" rendered="#{kullaniciController.kullanici.RID == null}" />

			<arf:textinput label="#{label['kullanici.password']}" value="#{kullaniciController.kullanici.password}" compId="password" requiredCond="true" id="passwordInputText"
				maxLength="20" minLength="6" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{kullaniciController}" formName="kullaniciForm" listPanelName="kullaniciListPanel" editPanelName="kullaniciEditPanel"
			modelName="#{'Kullanici'}" />
	</p:fieldset>

</ui:composition>