<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="kurumTuruEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kurumTuru.edit']}" rendered="#{kurumTuruController.editPanelRendered}">
		<h:panelGrid columns="1" columnClasses="otuzUcYuzde" styleClass="arfEditGrid">
			<arf:textinput label="#{label['kurumTuru.ad']}" value="#{kurumTuruController.kurumTuru.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="30" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{kurumTuruController}" formName="kurumTuruForm" listPanelName="kurumTuruListPanel" editPanelName="kurumTuruEditPanel"
			modelName="KurumTuru" />
	</p:fieldset>

</ui:composition>