<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="kurumKisiForm" prependId="false">
				<arf:masterPanel controllerClassName="#{kurumKisiController}" masterLabel="" modelName="kurumKisi" />
				<ui:include src="/_page/form/system/kurumKisi_Edit.xhtml" />
				<p:fieldset legend="#{label['kurumKisi.list']}" styleClass="pageFieldSet" id="kurumKisiListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="kurumKisiTable" trigger="kurumKisiTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kurumKisiTable" value="#{kurumKisiController.list}" var="kurumKisiRow" binding="#{kurumKisiController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{kurumKisiController.entity}" filteredValue="#{kurumKisiController.filteredList}" widgetVar="filterTable"
						rowKey="#{kurumKisiRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{kurumKisiController.tableRowSelect}" update=":kurumKisiForm" />
						<p:ajax event="rowUnselect" listener="#{kurumKisiController.tableRowCancelSelection}" update=":kurumKisiForm" />

						<arftags:column val="#{kurumKisiRow.kurumRef.UIString}" header="#{label['kurumKisi.kurumRef']}" width="16" />
						<arftags:column val="#{kurumKisiRow.kisiRef.UIString}" header="#{label['kurumKisi.kisiRef']}" width="16" />
						<arftags:column val="#{kurumKisiRow.gecerli.label}" header="#{label['kurumKisi.gecerli']}" width="50%" />
						<arftags:column val="#{kurumKisiRow.uyelikdurumu.label}" header="#{label['kurumKisi.uyelikdurumu']}" width="50%" />

					</p:dataTable>
					<arf:pagingWithBlockUI controllerClassName="#{kurumKisiController}" formName="kurumKisiForm" listPanelName="kurumKisiListPanel" pagingOption="true"
						tableName="kurumKisiTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
