<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="kurumTuruForm" prependId="false">

				<ui:include src="/_page/form/system/kurumTuru_Edit.xhtml" />

				<p:fieldset legend="#{label['kurumTuru.list']}" styleClass="pageFieldSet" id="kurumTuruListPanel">

					<p:blockUI block="kurumTuruTable" trigger="kurumTuruTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kurumTuruTable" value="#{kurumTuruController.list}" var="kurumTuruRow" binding="#{kurumTuruController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{kurumTuruController.entity}" filteredValue="#{kurumTuruController.filteredList}" widgetVar="filterTable"
						rowKey="#{kurumTuruRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{kurumTuruController.tableRowSelect}" update=":kurumTuruForm" />
						<p:ajax event="rowUnselect" listener="#{kurumTuruController.tableRowCancelSelection}" update=":kurumTuruForm" />

						<arftags:column val="#{kurumTuruRow.ad}" header="#{label['kurumTuru.ad']}" width="33" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{kurumTuruController}" formName="kurumTuruForm" listPanelName="kurumTuruListPanel" pagingOption="true"
						tableName="kurumTuruTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>

