<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		
		<style>
			#kurumRaporlamaTable {
				border-collapse: collapse;
				border: 0px solid #F2F2F2;
			}
			
			#kurumRaporlamaTable td,#kurumRaporlamaTable th {
				height: 25px;
			}
		</style>
		<h:body>
			<h:form id="kurumRaporlamaForm" prependId="false">

				<p:panel id="kurumPanel" toggleable="true" header="Kurum Kriterleri" collapsed="#{kurumRaporlamaController.kurumPanelCollapsed}"
					style="padding:none; -moz-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 2px 2px gray; -webkit-box-shadow: 2px 2px gray; box-shadow: 2px 2px gray; width: 98%; margin-left: 0.5%;
					margin-top: 10px; margin-bottom: 10px;">
					<h:panelGrid id="kurumRaporlamaTable" columns="2" width="102%" style="margin-left:-1%;" cellspacing="0" cellpadding="0" columnClasses="elliYuzde, elliYuzde">
							
						<arf:textinput label="#{label['kurum.ad']}" value="#{kurumRaporlamaController.kurumRaporlamaFilter.kurumadi}" compId="kurumadi" requiredCond="false" 
							id="kurumadiinputtext" maxLength="100" />
							
						<arf:dropdownForFilter label="#{label['kurum.kurumTuruRef']}" listSource="#{kurumRaporlamaController.selectItemListFor('KurumTuru')}" requiredCond="false" compId="kurumTuruRef"
							value="#{kurumRaporlamaController.kurumRaporlamaFilter.kurumturu}" converterId="#{'kurumTuruConverter'}" id="kurumTuruRefDropDown" />	
						<arf:dropdownForFilter label="#{label['kurum.sehirRef']}" listSource="#{sessionUser.sehirItemList}" requiredCond="false" compId="sehirRef"
							value="#{kurumRaporlamaController.kurumRaporlamaFilter.il}" converterId="#{'sehirConverter'}" id="sehirRefDropDown" 
							ajaxEventListener="#{kurumRaporlamaController.handleChange}" changeEventUpdateComp="#{':kurumRaporlamaForm:ilceRefDropDown:ilceRefForFilter'}" />
						<arf:dropdownForFilter label="#{label['kurum.ilceRef']}" listSource="#{kurumRaporlamaController.ilceItemList}" requiredCond="false" compId="ilceRef"
							value="#{kurumRaporlamaController.kurumRaporlamaFilter.ilce}" converterId="#{'ilceConverter'}" id="ilceRefDropDown" />
						
						<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde, otuzYuzde, kirkYuzde">
							<h:outputText value="#{label['kurum.sorumluRef']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
							<h:panelGroup>
								<p:autoComplete value="#{kurumRaporlamaController.kurumRaporlamaFilter.sorumlu}" completeMethod="#{kurumRaporlamaController.completeMethod}" maxResults="50"
									queryDelay="500" id="kisiRefAutoComplete" minQueryLength="3" required="false" forceSelection="true" var="kisiRec" itemValue="#{kisiRec}"
									itemLabel="#{kisiRec.UIString}">
									<f:converter converterId="kisiConverter" />
									<f:ajax event="itemSelect" process="@this" />
									<f:attribute name="modelNameForAutoComplete" value="#{'Kisi'}" />
								</p:autoComplete>
							</h:panelGroup>
							<p:message for="kisiRefAutoComplete" />
						</h:panelGrid>
						
						<h:panelGrid columns="3" width="100%" border="0" columnClasses="otuzYuzde, otuzYuzde, kirkYuzde">
							<h:outputText value="#{label['kurum.isyeritemsilcileri']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
							<h:panelGroup>
								<p:autoComplete value="#{kurumRaporlamaController.kurumRaporlamaFilter.isyeritemsilcileri}" completeMethod="#{kurumRaporlamaController.completeMethod}" maxResults="50"
									queryDelay="500" id="uyeRefAutoComplete" minQueryLength="3" required="false" forceSelection="true" var="uyeRec" itemValue="#{uyeRec}" itemLabel="#{uyeRec.UIString}">
									<f:converter converterId="uyeConverter" />
									<f:ajax event="itemSelect" process="@this" />
									<f:attribute name="modelNameForAutoComplete" value="#{'Uye'}" />
								</p:autoComplete>
							</h:panelGroup>
							<p:message for="uyeRefAutoComplete" />
						</h:panelGrid>
					</h:panelGrid>
					<h:panelGrid id="kurumRaporlamaTable1" columns="2" width="102%" style="margin-left:-0.4%;" cellspacing="0" cellpadding="0" columnClasses="elliYuzde, elliYuzde">	
						<h:panelGroup>
							<h:outputText value="#{label['kurum.telefonAra']} : " styleClass="optionalOutputText" style="padding-right:10px" />	
							<p:selectBooleanCheckbox id="telefonyok" value="#{kurumRaporlamaController.kurumRaporlamaFilter.telefonYok}" title="#{label['kurum.telefonAra']}" />
						</h:panelGroup>
						
						<h:panelGroup>
							<h:outputText value="#{label['kurum.epostaAra']} : " styleClass="optionalOutputText" style="padding-right:10px" />	
							<p:selectBooleanCheckbox id="epostayok" value="#{kurumRaporlamaController.kurumRaporlamaFilter.epostaYok}" title="#{label['kurum.telefonAra']}"/>
						</h:panelGroup>
					</h:panelGrid>
				</p:panel>

				
				<h:panelGrid columns="2" columnClasses="elliYuzde,elliYuzde"
					style="width: 98%; margin-left: 0.5%; border:1px solid lightgray; height:45px; text-align:center">
					
					<h:panelGrid columns="3" columnClasses="otuzYuzde,otuzYuzde, otuzYuzde">
						<arf:dropdownForFilter label="#{label['kullanicirapor.list']}" listSource="#{kurumRaporlamaController.kullaniciRaporList}" requiredCond="false" compId="kullaniciraporRef"
								value="#{kurumRaporlamaController.kurumRaporlamaFilter.kullanicirapor}" converterId="#{'kullaniciraporConverter'}" id="kullaniciraporlist"  
								ajaxEventListener="#{kurumRaporlamaController.handleChangeKullaniciRapor}" changeEventUpdateComp="#{':kurumRaporlamaForm'}"/>
							
						<p:commandButton id="filterCommandForKurumRaporlama" icon="search" value="#{label['command.query']}" action="#{kurumRaporlamaController.filterKurum}" async="true" ajax="false"
							process="@form" update="@form :globalMessages" styleClass="arfCommandButton" onsuccess="kurumRaporDialog.show()" />
					</h:panelGrid>
					<h:panelGrid columns="3" columnClasses="otuzYuzde,otuzYuzde,otuzYuzde">
						<h:outputText value="#{label['kullanicirapor.raporadi']} : " styleClass="optionalOutputText" style="padding-left:50px; padding-right:10px" />
						<h:inputText value="#{kurumRaporlamaController.kullaniciRaporAdi}" required="false" title="#{label['kullanicirapor.raporadi']}" styleClass="optionalInputText"
							maxlength="250" />
						
						<p:commandButton id="saveKullaniciRaporForKurumRaporlama" icon="save" value="#{label['command.post']}" action="#{kurumRaporlamaController.saveKullaniciRapor}" async="true"
							ajax="true" process="@form" update="@form :globalMessages" styleClass="arfCommandButton" style="margin-left:10px" />
					</h:panelGrid>

				</h:panelGrid>
			</h:form>

			<p:dialog header="#{label['kurum.list']}" id="kurumRaporDialogBox" widgetVar="kurumRaporDialog" style="position:absolute; left:5%; top:5%" modal="true"
				visible="#{kurumRaporlamaController.list.size() > 0}">
				<h:form id="kurumRaporSonucForm" prependId="false">
					<p:blockUI block="kurumTable" trigger="kurumTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kurumTable" value="#{kurumRaporlamaController.list}" var="kurumRow" binding="#{kurumRaporlamaController.table}" rowIndexVar="rowIndex"
						rowKey="#{kurumRow.RID}" resizableColumns="false">
						
						<arftags:column val="#{kurumRow.ad}" header="#{label['kurum.ad']}" width="20"/>
						<arftags:column val="#{kurumRow.kurumTuruRef.ad}" header="#{label['kurum.kurumTuruRef']}" width="10"/>
						<arftags:column val="#{kurumRow.kurumAdres.sehirRef.ad}" header="#{label['kurum.sehirRef']}" width="10"  />
						<arftags:column val="#{kurumRow.kurumAdres.ilceRef.ad}" header="#{label['kurum.ilceRef']}" width="10"/>
						<arftags:column val="#{kurumRow.kurumInternetadres.UIString}" header="#{label['kurum.internetadres']}" width="10"  />
						<arftags:column val="#{kurumRow.kurumTelefon.UIString}" header="#{label['kurum.telefonno']}" width="10"/>
						<arftags:column val="#{kurumRow.sorumluRef.UIStringShort}" header="#{label['kurum.sorumluRef']}" width="20"/>

					</p:dataTable>
					<p align="center">
						<p:commandLink ajax="false" pageOnly="true" image="pdf" immediate="true" rendered="true" target="newPopup">
							<p:dataExporter type="pdf" target=":kurumRaporSonucForm:kurumTable" fileName="kurumTablePdfExport" excludeColumns="" />
							<h:graphicImage library="_image" name="pdf.png" width="20px" height="20px" styleClass="exportImage" />
						</p:commandLink>
						<p:commandLink ajax="false" pageOnly="true" image="excel" immediate="true" rendered="true" target="newPopup">
							<p:dataExporter type="xls" target=":kurumRaporSonucForm:kurumTable" fileName="kurumTableXlsExport" excludeColumns="" />
							<h:graphicImage library="_image" name="excel.png" width="20px" height="20px" style="margin-left:4px" styleClass="exportImage" />
						</p:commandLink>
						<p:commandLink ajax="false" pageOnly="true" image="csv" immediate="true" rendered="true" target="newPopup">
							<p:dataExporter type="csv" target=":kurumRaporSonucForm:kurumTable" fileName="kurumTableCsvExport" excludeColumns="" />
							<h:graphicImage library="_image" name="csv.png" width="20px" height="20px" style="margin-left:4px" styleClass="exportImage" />
						</p:commandLink>
					</p>
				</h:form>
			</p:dialog>
		</h:body>
	</ui:define>
</ui:composition>
