<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="kurumKisiEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kurumKisi.edit']}" rendered="#{kurumKisiController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde,otuzUcYuzde,otuzUcYuzde" styleClass="arfEditGrid">

			<arf:textoutput label="#{label['kurumKisi.kurumRef']}" compId="kurumRefOutput" value="#{kurumKisiController.kurumKisi.kurumRef.UIString}"
				rendered="#{kurumKisiController.kurumKisi.RID != null}" />

			<arf:suggestbox label="#{label['kurumKisi.kurumRef']}" methodName="#{kurumKisiController.completeMethod}" requiredCond="false" compId="kurumRef"
				value="#{kurumKisiController.kurumKisi.kurumRef}" id="kurumRefSuggestBox" converterId="#{'kurumConverter'}" modelName="#{'Kurum'}" var="kurumRec" itemValue="#{kurumRec}"
				itemLabel="#{kurumRec}" rendered="#{kurumKisiController.kurumKisi.RID == null}" />


			<arf:textoutput label="#{label['kurumKisi.kisiRef']}" compId="kisiRefOutput" value="#{kurumKisiController.kurumKisi.kisiRef.UIString}"
				rendered="#{kurumKisiController.kurumKisi.RID != null}" />

			<arf:suggestbox label="#{label['kurumKisi.kisiRef']}" methodName="#{kurumKisiController.completeMethod}" requiredCond="false" compId="kisiRef"
				value="#{kurumKisiController.kurumKisi.kisiRef}" id="kisiRefSuggestBox" converterId="#{'kisiConverter'}" modelName="#{'Kisi'}" var="kisiRec" itemValue="#{kisiRec}"
				itemLabel="#{kisiRec}" rendered="#{kurumKisiController.kurumKisi.RID == null}" />

			<arf:dropdown label="#{label['kurumKisi.gecerli']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="gecerli"
				value="#{kurumKisiController.kurumKisi.gecerli}" id="gecerliDropDown" />
			<arf:dropdown label="#{label['kurumKisi.uyelikdurumu']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="uyelikdurumu"
				value="#{kurumKisiController.kurumKisi.uyelikdurumu}" id="uyelikdurumuDropDown" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{kurumKisiController}" formName="kurumKisiForm" listPanelName="kurumKisiListPanel" editPanelName="kurumKisiEditPanel"
			modelName="KurumKisi" />
	</p:fieldset>

</ui:composition>