<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="kurumHesapForm" prependId="false">
				<arf:masterPanel controllerClassName="#{kurumHesapController}" masterLabel="" modelName="kurumHesap" />
				<ui:include src="/_page/form/system/kurumHesap_Edit.xhtml" />
				<p:fieldset legend="#{label['kurumHesap.list']}" styleClass="pageFieldSet" id="kurumHesapListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="kurumHesapTable" trigger="kurumHesapTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="kurumHesapTable" value="#{kurumHesapController.list}" var="kurumHesapRow" binding="#{kurumHesapController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{kurumHesapController.entity}" filteredValue="#{kurumHesapController.filteredList}" widgetVar="filterTable"
						rowKey="#{kurumHesapRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{kurumHesapController.tableRowSelect}" update=":kurumHesapForm" />
						<p:ajax event="rowUnselect" listener="#{kurumHesapController.tableRowCancelSelection}" update=":kurumHesapForm" />

						<arftags:column val="#{kurumHesapRow.bankaRef.UIString}" header="#{label['kurumHesap.bankaadi']}" width="33" />
						<arftags:column val="#{kurumHesapRow.hesapno}" header="#{label['kurumHesap.hesapno']}" width="33" />
						<arftags:column val="#{kurumHesapRow.subekodu}" header="#{label['kurumHesap.subekodu']}" width="33" />
						<arftags:column val="#{kurumHesapRow.ibannumarasi}" header="#{label['kurumHesap.ibannumarasi']}" width="33" />
						<arftags:column val="#{kurumHesapRow.kurumRef.UIString}" header="#{label['kurumHesap.kurumRef']}" width="16" />
						<arftags:column val="#{kurumHesapRow.gecerli.label}" header="#{label['kurumHesap.gecerli']}" width="50%" />

					</p:dataTable>
					<arf:pagingWithBlockUI controllerClassName="#{kurumHesapController}" formName="kurumHesapForm" listPanelName="kurumHesapListPanel" pagingOption="true"
						tableName="kurumHesapTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
