<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="kurumHesapEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kurumHesap.edit']}" rendered="#{kurumHesapController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde,otuzUcYuzde,otuzUcYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['kurumHesap.bankaadi']}" listSource="#{kurumHesapController.selectItemListFor('Banka')}" requiredCond="true" compId="bankaRef"
				value="#{kurumHesapController.kurumHesap.bankaRef}" converterId="#{'bankaConverter'}" id="bankaRefDropDown" />
			<arf:textinput label="#{label['kurumHesap.hesapno']}" value="#{kurumHesapController.kurumHesap.hesapno}" compId="hesapno" requiredCond="true" id="hesapnoInputText"
				maxLength="30" />
			<arf:textinput label="#{label['kurumHesap.subekodu']}" value="#{kurumHesapController.kurumHesap.subekodu}" compId="subekodu" requiredCond="true" id="subekoduInputText"
				maxLength="30" />
			<arf:textinput label="#{label['kurumHesap.ibannumarasi']}" value="#{kurumHesapController.kurumHesap.ibannumarasi}" compId="ibannumarasi" requiredCond="true"
				id="ibannumarasiInputText" maxLength="30" />
			<arf:suggestbox label="#{label['kurumHesap.kurumRef']}" methodName="#{kurumController.completeMethod}" requiredCond="false" compId="kurumRef"
				value="#{kurumHesapController.kurumHesap.kurumRef}" id="kurumRefSuggestBox" converterId="#{'kurumConverter'}" modelName="#{'Kurum'}" var="kurumRec" itemValue="#{kurumRec}"
				itemLabel="#{kurumRec}" rendered="#{kurumHesapController.kurumHesap.RID == null}" />

			<arf:textoutput label="#{label['kurumHesap.kurumRef']}" value="#{kurumHesapController.kurumHesap.kurumRef.UIString}"
				rendered="#{kurumHesapController.kurumHesap.RID != null}" />
			<arf:dropdown label="#{label['kurumHesap.gecerli']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="gecerli"
				value="#{kurumHesapController.kurumHesap.gecerli}" id="gecerliDropDown" />
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{kurumHesapController}" formName="kurumHesapForm" listPanelName="kurumHesapListPanel"
			editPanelName="kurumHesapEditPanel" modelName="KurumHesap" />
	</p:fieldset>

</ui:composition>