<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="menuitemEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['menuitem.edit']}" rendered="#{menuitemController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['menuitem.ustRef']}" listSource="#{menuitemController.selectItemListFor('Menuitem')}" requiredCond="true" compId="ustRef"
				value="#{menuitemController.menuitem.ustRef}" converterId="#{'menuitemConverter'}" id="ustRefDropDown" />
			<arf:textinput label="#{label['menuitem.ad']}" value="#{menuitemController.menuitem.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="100" />
			<arf:textinput label="#{label['menuitem.kod']}" value="#{menuitemController.menuitem.kod}" compId="kod" requiredCond="true" id="kodInputText" maxLength="30" />
			<arf:textinput label="#{label['menuitem.url']}" value="#{menuitemController.menuitem.url}" compId="url" requiredCond="true" id="urlInputText" maxLength="500" />
			<arf:textinput label="#{label['menuitem.tablo']}" value="#{menuitemController.menuitem.tablo}" compId="tablo" requiredCond="true" id="tabloInputText" maxLength="250" />

		</h:panelGrid>
		<arf:editPanelBottomWithBlockUI controllerClassName="#{menuitemController}" formName="menuitemForm" listPanelName="menuitemListPanel" editPanelName="menuitemEditPanel"
			modelName="Menuitem" />
	</p:fieldset>

</ui:composition>