<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="menuitemForm" prependId="false">

				<ui:include src="/_page/form/system/menuitem_Edit.xhtml" />

				<p:fieldset legend="#{label['menuitem.list']}" styleClass="pageFieldSet" id="menuitemListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
						<p:commandButton id="menuitemTreeCommand" process="@this" style="width:150px" action="#{menuitemController.treePage}" rendered="#{menuitemController.listRendered}"
							icon="tree" value="#{label['menuitem.tree']}" styleClass="arfCommandButton" />

					</h:panelGrid>
					<p:blockUI block="menuitemTable" trigger="menuitemTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="menuitemTable" value="#{menuitemController.list}" var="menuitemRow" binding="#{menuitemController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{menuitemController.entity}" filteredValue="#{menuitemController.filteredList}" widgetVar="filterTable" rowKey="#{menuitemRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{menuitemController.tableRowSelect}" update=":menuitemForm" />
						<p:ajax event="rowUnselect" listener="#{menuitemController.tableRowCancelSelection}" update=":menuitemForm" />

						<arftags:column val="#{menuitemRow.ad}" header="#{label['menuitem.ad']}" width="20" />
						<arftags:column val="#{menuitemRow.url}" header="#{label['menuitem.url']}" width="40" />
						<arftags:column val="#{menuitemRow.kod}" header="#{label['menuitem.kod']}" width="15" />
						<arftags:column val="#{menuitemRow.tablo}" header="#{label['menuitem.tablo']}" width="10" />
						<arftags:columnHtml val="#{menuitemRow.ustRef.UIStringTreeFormat}" header="#{label['menuitem.ustRef']}" width="20" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{menuitemController}" formName="menuitemForm" listPanelName="menuitemListPanel" pagingOption="true" tableName="menuitemTable"
						addExport="false" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="true" id="menuitemTableDropDown" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
