<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="odemetipForm" prependId="false">

				<ui:include src="/_page/form/system/odemetip_Edit.xhtml" />

				<p:fieldset legend="#{label['odemetip.list']}" styleClass="pageFieldSet" id="odemetipListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="odemetipTable" trigger="odemetipTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="odemetipTable" value="#{odemetipController.list}" var="odemetipRow" binding="#{odemetipController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{odemetipController.entity}" filteredValue="#{odemetipController.filteredList}" widgetVar="filterTable" rowKey="#{odemetipRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{odemetipController.tableRowSelect}" update=":odemetipForm" />
						<p:ajax event="rowUnselect" listener="#{odemetipController.tableRowCancelSelection}" update=":odemetipForm" />

						<arftags:column val="#{odemetipRow.kod}" header="#{label['odemetip.kod']}" width="20" />
						<arftags:column val="#{odemetipRow.ad}" header="#{label['odemetip.ad']}" width="20" />
						<arftags:filteredNumericColumn filterMatchMode="contains" val="#{odemetipRow.miktar}" header="#{label['odemetip.miktar']}" width="20" />
						<arftags:dateColumn val="#{odemetipRow.baslangictarih}" header="#{label['odemetip.baslangictarih']}" width="20" />
						<arftags:dateColumn val="#{odemetipRow.bitistarih}" header="#{label['odemetip.bitistarih']}" width="20" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{odemetipController}" formName="odemetipForm" listPanelName="odemetipListPanel" pagingOption="true" tableName="odemetipTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
