<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="odemetipEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['odemetip.edit']}" rendered="#{odemetipController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:textinput label="#{label['odemetip.kod']}" value="#{odemetipController.odemetip.kod}" compId="kod" requiredCond="true" id="kodInputText" maxLength="20" />

			<arf:textinput label="#{label['odemetip.ad']}" value="#{odemetipController.odemetip.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="20" />

			<arf:textinput label="#{label['odemetip.miktar']}" value="#{odemetipController.odemetip.miktar}" compId="miktar" requiredCond="true" id="miktarInputText" doubleMin="0"
				doubleMax="999999.99" />

			<arf:calendar label="#{label['odemetip.baslangictarih']}" value="#{odemetipController.odemetip.baslangictarih}" id="baslangictarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="baslangictarih" />

			<arf:calendar label="#{label['odemetip.bitistarih']}" value="#{odemetipController.odemetip.bitistarih}" id="bitistarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="bitistarih" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{odemetipController}" formName="odemetipForm" listPanelName="odemetipListPanel" editPanelName="odemetipEditPanel"
			modelName="Odemetip" />
	</p:fieldset>

</ui:composition>