<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="odultipForm" prependId="false">

				<ui:include src="/_page/form/system/odultip_Edit.xhtml" />

				<p:fieldset legend="#{label['odultip.list']}" styleClass="pageFieldSet" id="odultipListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="odultipTable" trigger="odultipTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="odultipTable" value="#{odultipController.list}" var="odultipRow" binding="#{odultipController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{odultipController.entity}" filteredValue="#{odultipController.filteredList}" widgetVar="filterTable" rowKey="#{odultipRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{odultipController.tableRowSelect}" update=":odultipForm" />
						<p:ajax event="rowUnselect" listener="#{odultipController.tableRowCancelSelection}" update=":odultipForm" />

						<arftags:column val="#{odultipRow.kisaad}" header="#{label['odultip.kisaad']}" width="33" />
						<arftags:column val="#{odultipRow.ad}" header="#{label['odultip.ad']}" width="33" />
						<arftags:column val="#{odultipRow.aciklama}" header="#{label['odultip.aciklama']}" width="33" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{odultipController}" formName="odultipForm" listPanelName="odultipListPanel" pagingOption="true" tableName="odultipTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
