<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="odultipEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['odultip.edit']}" rendered="#{odultipController.editPanelRendered}">
		<h:panelGrid columns="1" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:textinput label="#{label['odultip.kisaad']}" value="#{odultipController.odultip.kisaad}" compId="kisaad" requiredCond="true" id="kisaadInputText" maxLength="15" />

			<arf:textinput label="#{label['odultip.ad']}" value="#{odultipController.odultip.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="30" />

			<arf:textinput label="#{label['odultip.aciklama']}" value="#{odultipController.odultip.aciklama}" compId="aciklama" requiredCond="false" id="aciklamaInputText"
				maxLength="200" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{odultipController}" formName="odultipForm" listPanelName="odultipListPanel" editPanelName="odultipEditPanel"
			modelName="Odultip" />
	</p:fieldset>

</ui:composition>