<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="ogrenimKurumForm" prependId="false">

				<ui:include src="/_page/form/system/ogrenimKurum_Edit.xhtml" />

				<p:fieldset legend="#{label['ogrenimKurum.list']}" styleClass="pageFieldSet" id="ogrenimKurumListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="ogrenimKurumTable" trigger="ogrenimKurumTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="ogrenimKurumTable" value="#{ogrenimKurumController.list}" var="ogrenimKurumRow" binding="#{ogrenimKurumController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{ogrenimKurumController.entity}" filteredValue="#{ogrenimKurumController.filteredList}" widgetVar="filterTable"
						rowKey="#{ogrenimKurumRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{ogrenimKurumController.tableRowSelect}" update=":ogrenimKurumForm" />
						<p:ajax event="rowUnselect" listener="#{ogrenimKurumController.tableRowCancelSelection}" update=":ogrenimKurumForm" />

						<arftags:column val="#{ogrenimKurumRow.kisaad}" header="#{label['ogrenimKurum.kisaad']}" width="33" />
						<arftags:column val="#{ogrenimKurumRow.ad}" header="#{label['ogrenimKurum.ad']}" width="33" />
						<arftags:column val="#{ogrenimKurumRow.aciklama}" header="#{label['ogrenimKurum.aciklama']}" width="33" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{ogrenimKurumController}" formName="ogrenimKurumForm" listPanelName="ogrenimKurumListPanel" pagingOption="true"
						tableName="ogrenimKurumTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
