<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="ogrenimKurumEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['ogrenimKurum.edit']}"
		rendered="#{ogrenimKurumController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:textinput label="#{label['ogrenimKurum.kisaad']}" value="#{ogrenimKurumController.ogrenimKurum.kisaad}" compId="kisaad" requiredCond="true" id="kisaadInputText"
				maxLength="15" />

			<arf:textinput label="#{label['ogrenimKurum.ad']}" value="#{ogrenimKurumController.ogrenimKurum.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="30" />

			<arf:textinput label="#{label['ogrenimKurum.aciklama']}" value="#{ogrenimKurumController.ogrenimKurum.aciklama}" compId="aciklama" requiredCond="false"
				id="aciklamaInputText" maxLength="200" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{ogrenimKurumController}" formName="ogrenimKurumForm" listPanelName="ogrenimKurumListPanel"
			editPanelName="ogrenimKurumEditPanel" modelName="OgrenimKurum" />
	</p:fieldset>

</ui:composition>