<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<ui:define name="content">
		<h:body>
			<h:form id="kullaniciForm" prependId="false">

				<p:fieldset id="kullaniciEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['kullanici.edit']}">
										
					<h:panelGrid columns="2" styleClass="arfEditGrid" columnClasses="otuzYuzde, yetmisYuzde" style="margin-left:15% !important; width:70% !important; ">
						<h:outputText value="#{label['kullanici.name']} : " styleClass="requiredOutputText" style="padding-left:5px; padding-right:10px" />
						<h:outputText value="#{kullaniciController.kullanici.name}"  styleClass="requiredInputText" style="line-height:30px" />
						
						<h:outputText value="#{label['kullanici.prevpassword']} : " styleClass="requiredOutputText" style="padding-left:5px; padding-right:10px" />
						<h:panelGrid columns="2">
							<p:password label="#{label['kullanici.password']}" value="#{kullaniciController.kullanici.prevPassword}" required="true" id="prevPasswordInputText" maxlength="20" />
							<p:message for="prevPasswordInputText" />
						</h:panelGrid>

						<h:outputText value="#{label['kullanici.newPassword']} : " styleClass="requiredOutputText" style="padding-left:5px; padding-right:10px" />
						<h:panelGrid columns="2">
							<p:password label="#{label['kullanici.password']}" value="#{kullaniciController.kullanici.newPassword}" required="true" id="newPasswordInputText" maxlength="20"
								validator="passwordValidator" />
							<p:message for="newPasswordInputText" />
						</h:panelGrid>

						<h:outputText value="#{label['kullanici.newPasswordCheck']} : " styleClass="requiredOutputText" style="padding-left:5px; padding-right:10px" />
						<h:panelGrid columns="2">
							<p:password label="#{label['kullanici.password']}" value="#{kullaniciController.kullanici.newPasswordCheck}" required="true" id="newPasswordCheckInputText"
								maxlength="20" validator="passwordValidator" />
							<p:message for="newPasswordCheckInputText" />
						</h:panelGrid>
					
					</h:panelGrid> 
					<p>
						<p:commandButton id="kullaniciCommand" process="@form" update="@form :globalMessages" icon="edit" action="#{kullaniciController.sifreDegistir}"
							value="#{label['command.post']}" style="margin-left:40%" ajax="true"/>
					</p>

					<pe:ajaxErrorHandler title="Error" body="Server return exception  {error-name} with description {error-message}" button="Hide" widgetVar="myAjaxErrorHandler"
						buttonOnclick="myAjaxErrorHandler.hide()" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
