<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="personelEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['personel.edit']}" rendered="#{personelController.editPanelRendered}">
		<br />
		<h:panelGrid columns="1" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['personel.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="true" compId="birimRef"
				value="#{personelController.personel.birimRef}" converterId="#{'birimConverter'}" />

			<arf:textoutput label="#{label['personel.kisiRef']}" compId="kisiRefOutput" value="#{personelController.personel.kisiRef.UIString}"
				rendered="#{personelController.personel.RID != null}" />

			<arf:suggestbox label="#{label['personel.kisiRef']}" methodName="#{personelController.completeMethod}" requiredCond="true" compId="kisiRef"
				value="#{personelController.personel.kisiRef}" id="kisiRefSuggestBox" converterId="#{'kisiConverter'}" modelName="#{'Kisi'}" var="kisiRec" itemValue="#{kisiRec}"
				itemLabel="#{kisiRec}" rendered="#{personelController.personel.RID == null}" />

			<arf:calendar label="#{label['personel.baslamatarih']}" value="#{personelController.personel.baslamatarih}" id="baslamatarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="baslamatarih" />
			<arf:calendar label="#{label['personel.bitistarih']}" value="#{personelController.personel.bitistarih}" id="bitistarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="bitistarih" />
			<arf:dropdown label="#{label['personel.durum']}" listSource="#{enumeratedController.personelDurumItems}" requiredCond="false" compId="durum"
				value="#{personelController.personel.durum}" id="durumDropDown" />
			<arf:dropdown label="#{label['personel.tumUyeSorgulama']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="true" compId="tumUyeSorgulama"
				value="#{personelController.personel.tumUyeSorgulama}" id="tumUyeSorgulamaDropDown" addNullOption="false" />
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{personelController}" formName="personelForm" listPanelName="personelListPanel" editPanelName="personelEditPanel"
			modelName="Personel" />
		<br />
		<br />
	</p:fieldset>

</ui:composition>