<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="personelForm" prependId="false">

				<ui:include src="/_page/form/system/personel_Edit.xhtml" />

				<p:fieldset id="personelFilterPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['personel.query']}" rendered="#{!personelController.editPanelRendered}">
					<p:ajax listener="#{personelController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:dropdownForFilter label="#{label['personel.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="false" compId="birimRef"
							value="#{personelController.personelFilter.birimRef}" converterId="#{'birimConverter'}" id="birimRefForFilterDropDown" />
						<arf:dualtextinputForFilter label="#{label['kisi.ad']} - #{label['kisi.soyad']}" requiredCond="false" compId="kisiad" style="width:80px"
							value="#{personelController.personelFilter.ad}" maxLength="10" id="kisiAdSoyadForFilterDualTextInput" requiredCond2="false" compId2="kisisoyad" style2="width:80px"
							value2="#{personelController.personelFilter.soyad}" maxLength2="10" />
						<arf:doubleCalendarForFilter label="#{label['personel.baslamatarih']}" value="#{personelController.personelFilter.baslamatarih}"
							valueMax="#{personelController.personelFilter.baslamatarihMax}" id="baslamatarihCalendarForFilter" pattern="#{configurationController.datePattern}" requiredCond="false"
							compId="baslamatarih" />
						<arf:doubleCalendarForFilter label="#{label['personel.bitistarih']}" value="#{personelController.personelFilter.bitistarih}"
							valueMax="#{personelController.personelFilter.bitistarihMax}" id="bitistarihCalendarForFilter" pattern="#{configurationController.datePattern}" requiredCond="false"
							compId="bitistarih" />
						<arf:dropdownForFilter label="#{label['personel.durum']}" listSource="#{enumeratedController.personelDurumItems}" requiredCond="false" compId="durum"
							value="#{personelController.personelFilter.durum}" id="durumForFilterDropDown" addNullOption="true" />
						<arf:dropdownForFilter label="#{label['personel.tumUyeSorgulama']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="false" compId="tumUyeSorgulama"
							value="#{personelController.personelFilter.tumUyeSorgulama}" id="tumUyeSorgulamaForFilterDropDown" addNullOption="true" />
					</h:panelGrid>
					<arf:filterBottomWithBlockUI controllerClassName="#{personelController}" formName="personelForm" listPanelName="personelListPanel" filterPanelName="personelFilterPanel"
						modelName="Personel" />
				</p:fieldset>

				<p:fieldset legend="#{label['personel.list']}" styleClass="pageFieldSet" id="personelListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
						<p:commandButton id="personelBirimGorevCommand" process="@this" icon="task" action="#{personelController.personelBirimGorev}"
							rendered="#{personelController.listRenderedFor('PersonelBirimGorev')}" disabled="#{personelController.personel.RID == null}"
							value="#{label['command.personelBirimGorev']}" styleClass="arfCommandButton" style="width:180px" />
						<p:commandButton id="onayButton" action="#{personelController.kullanicitanimla}" value="#{label['command.kullanicitanimla']}"
							onclick="if (confirm('#{label['recordKullaniciTanimla']}')) {return true} else {return false}" icon="approve" update=":personelForm:personelListPanel :globalMessages"
							disabled="#{personelController.personel.RID == null}" />
					</h:panelGrid>
					<p:blockUI block="personelTable" trigger="personelTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="personelTable" value="#{personelController.list}" var="personelRow" binding="#{personelController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{personelController.entity}" filteredValue="#{personelController.filteredList}" widgetVar="filterTable" rowKey="#{personelRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{personelController.tableRowSelect}" update=":personelForm" />
						<p:ajax event="rowUnselect" listener="#{personelController.tableRowCancelSelection}" update=":personelForm" />

						<p:column style="text-align:center; width:20px">
							<f:facet name="header">
								<h:outputText value="#{label['common.detay']}" />
							</f:facet>
							<h:commandLink action="#{personelController.detailPage(personelRow.RID)}">
								<h:graphicImage library="_image" name="detail.png" />
							</h:commandLink>
						</p:column>
						<arftags:column val="#{personelRow.kisiRef.UIString}" header="#{label['personel.kisiRef']}" width="20" />
						<arftags:column val="#{personelRow.birimRef.UIString}" header="#{label['personel.birimRef']}" width="20" />
						<arftags:dateColumn val="#{personelRow.baslamatarih}" header="#{label['personel.baslamatarih']}" width="20" />
						<arftags:dateColumn val="#{personelRow.bitistarih}" header="#{label['personel.bitistarih']}" width="20" />
						<arftags:column val="#{personelRow.durum.label}" header="#{label['personel.durum']}" width="20" />
						<arftags:column val="#{personelRow.tumUyeSorgulama.label}" header="#{label['personel.tumUyeSorgulama']}" width="10" />
					</p:dataTable>
					<arf:pagingWithBlockUI controllerClassName="#{personelController}" formName="personelForm" listPanelName="personelListPanel" pagingOption="true" tableName="personelTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" wizardOption="true" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
