<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<ui:define name="content">
		<h:body>
			<h:form id="personelForm" prependId="false">
				<table width="98.5%" cellspacing="5" border="0" style="margin-left: 1%; border: 1px inset gray; -moz-border-radius: 5px; border-radius: 5px;">
					<tr>
						<td width="20%" style="vertical-align: top; valign: top">
							<div style="overflow: auto; height: 410px; width: 96%; padding: 5px; border: 1px dotted gray; -moz-border-radius: 5px; border-radius: 5px; text-align: center">
								<arftags:scaledImageViewer file="#{personelController.personelDetayFotograf}" path="kisifotograf" renderCondition="#{personelController.personelDetay.RID != null}"
									imageHeight="200px" imageWidth="160px" />
								<br />
								<p:commandButton process="@this" value="#{label['personel.listeyeDon']}" icon="personel" action="#{personelController.listPage}"
									rendered="#{personelController.listRenderedFor('Personel')}" style="margin-top: 15px" />
								<br /> <span style="position: relative; top: 15px;"> <h:outputText value="#{personelController.personelDetay.kisiRef.UIStringShort}"
										style="font-size:18px; font-weight:bold" /><br /> <h:outputText value="#{personelController.personelDetay.kisiRef.kisiInternetadres.UIString}"
										style="font-size:14px; font-weight:bold" /><br /> <h:outputText value="#{personelController.personelDetay.kisiRef.kisiTelefon.UIString}"
										style="font-size:14px; font-weight:bold" /><br />
								</span> <br />
								<p:spacer width="60" height="30" />
							</div>
						</td>
						<td width="80%" style="vertical-align: top; valign: top"><p:panel id="personelPanel"
								style="padding:none; border:1px dotted gray; -moz-border-radius: 5px; border-radius: 5px; text-align:left">
								<p:toolbar style="width:100%; height:25px; border:none lightgray; background:none; margin-left:1.5%; width:96%">
									<p:toolbarGroup align="left" style="width:100%; padding:none">
										<p:commandButton process="@this" update="@form" value="#{label['personel.summary']}" icon="personel" action="#{personelController.personel}"
											disabled="#{personelController.personelDetay.RID == null or personelController.selectedTab == 'personel'}"
											rendered="#{personelController.listRenderedFor('Personel')}" />
										<p:commandButton id="personelBirimGorevCommand" process="@this" update="@form" icon="gorev" action="#{personelController.createPersonelDetay('personelBirimGorev')}"
											rendered="#{personelController.listRenderedFor('personelBirimGorev')}" value="#{label['command.personelBirimGorev']}"
											disabled="#{personelController.personelDetay.RID == null or personelController.selectedTab == 'personelBirimGorev'}" />
										<p:commandButton process="@this" update="@form" value="#{label['common.iletisim']}" icon="internet"
											action="#{personelController.createPersonelDetay('internetadres')}"
											disabled="#{personelController.personelDetay.RID == null or personelController.selectedTab == 'internetadres'}"
											rendered="#{personelController.listRenderedFor('Internetadres')}" />
									</p:toolbarGroup>
								</p:toolbar>
								<br />

								<p:fieldset legend="#{label['personel.summary']}" styleClass="pageFieldSet" id="personelListPanel" rendered="#{personelController.selectedTab == 'personel'}">
									<h:panelGrid columns="4" columnClasses="yirmiYuzde, otuzYuzde, yirmiYuzde, otuzYuzde" width="100%">
										<arftags:detailItem colName="kisiRef" header="#{label['personel.kisiRef']}" renderCondition="true" val="#{personelController.personelDetay.kisiRef.UIString}" />
										<arftags:detailItem colName="birimref" val="#{personelController.personelDetay.birimRef.UIString}" header="#{label['personel.birimRef']}" renderCondition="true" />
										<arftags:detailDateItem colName="baslamatarih" val="#{personelController.personelDetay.baslamatarih}" header="#{label['personel.baslamatarih']}"
											renderCondition="true" />
										<arftags:detailDateItem colName="bitistarih" val="#{personelController.personelDetay.bitistarih}" header="#{label['personel.bitistarih']}" renderCondition="true" />
									</h:panelGrid>
								</p:fieldset>

								<p:fieldset legend="#{label['personelBirimGorev.list']}" styleClass="pageFieldSet" id="personelBirimGorevListPanel"
									rendered="#{personelController.selectedTab == 'personelBirimGorev'}">
									<p:panel id="personelBirimGorevMaster" styleClass="innerFieldSet">
										<h:graphicImage library="_image" name="toMasterPage.png" styleClass="masterLinkIcon" width="16" height="16"
											style="margin-right:10px; vertical-align:middle !important" />
										<h:outputText value="#{label['common.parent']} : #{personelController.personelDetay.UIString}" />
									</p:panel>
									<p:blockUI block="personelBirimGorevTable" trigger="personelBirimGorevTable">
										<h:outputText value="#{label['common.loading']}" />
										<br />
										<h:graphicImage library="_image" name="ajax-loader.gif" />
									</p:blockUI>
									<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="personelBirimGorevTable" value="#{personelController.personelBirimGorevController.list}" var="personelBirimGorevRow"
										binding="#{personelController.personelBirimGorevController.table}" rowIndexVar="rowIndex" rowKey="#{personelBirimGorevRow.RID}" resizableColumns="false">
										<arftags:column val="#{personelBirimGorevRow.gorevRef.UIString}" header="#{label['personelBirimGorev.gorevRef']}" width="14" />
										<arftags:column val="#{personelBirimGorevRow.birimRef.UIString}" header="#{label['personelBirimGorev.birimRef']}" width="14" />
										<arftags:dateColumn filterMatchMode="contains" val="#{personelBirimGorevRow.baslangictarih}" header="#{label['personelBirimGorev.baslangictarih']}" width="14" />
										<arftags:dateColumn filterMatchMode="contains" val="#{personelBirimGorevRow.bitistarih}" header="#{label['personelBirimGorev.bitistarih']}" width="14" />
										<arftags:column val="#{personelBirimGorevRow.aciklama}" header="#{label['personelBirimGorev.aciklama']}" width="14" />
										<arftags:column val="#{personelBirimGorevRow.durum.label}" header="#{label['personelBirimGorev.durum']}" width="14" />
										<p:column width="140" style="text-align:center" headerText="#{label['common.islem']}">
											<arf:buttonSetForDetailList controllerClassName="#{personelController}" modelName="PersonelBirimGorev" rowItem="#{personelBirimGorevRow}"
												loggable="#{personelController.personelBirimGorevController.loggable}" />
										</p:column>
									</p:dataTable>
									<p:commandButton onsuccess="detailEditDialog.show()" value="#{label['command.insert']}" action="#{personelController.newDetail('personelBirimGorev')}" icon="new"
										immediate="true" process="@this" update="@this" styleClass="commandButton" ajax="true" style="width:70px; margin-left:48%; margin-bottom:30px"
										rendered="#{personelController.updateRecordRenderedFor('personelBirimGorev') and personelController.personelBirimGorevController.list.size() == 0 }" />
								</p:fieldset>

								<p:fieldset legend="#{label['common.iletisim']}" styleClass="pageFieldSet" id="internetadresListPanel"
									rendered="#{personelController.selectedTab == 'internetadres' or personelController.selectedTab == 'adres' or personelController.selectedTab == 'telefon'}">
									<p:panel id="internetadresMaster" styleClass="innerFieldSet">
										<h:graphicImage library="_image" name="toMasterPage.png" styleClass="masterLinkIcon" width="16" height="16"
											style="margin-right:10px; vertical-align:middle !important" />
										<h:outputText value="#{label['common.parent']} : #{personelController.personelDetay.UIString}" />
									</p:panel>

									<p:blockUI block="adresTable" trigger="adresTable">
										<h:outputText value="#{label['common.loading']}" />
										<br />
										<h:graphicImage library="_image" name="ajax-loader.gif" />
									</p:blockUI>
									<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" id="adresTable" value="#{personelController.adresController.list}" var="adresRow" binding="#{personelController.adresController.table}"
										rowIndexVar="rowIndex" rowKey="#{adresRow.RID}" resizableColumns="false">
										<f:facet name="header">
											<h:outputText value="#{label['adres.list']}" />
										</f:facet>
										<arftags:column val="#{adresRow.adresturu.label}" header="#{label['adres.adresturu']}" width="15" />
										<arftags:column val="#{adresRow.varsayilan.label}" header="#{label['adres.varsayilan']}" width="15" />
										<arftags:column val="#{adresRow.adrestipi.label}" header="#{label['adres.adrestipi']}" width="15" />
										<arftags:column val="#{adresRow.acikAdres}" header="#{label['adres.acikAdres']}" width="16" />
										<arftags:column val="#{adresRow.sehirRef.UIString}" header="#{label['adres.sehirRef']}" width="15" />
										<arftags:column val="#{adresRow.ilceRef.UIString}" header="#{label['adres.ilceRef']}" width="15" />

										<p:column width="140" style="text-align:center" headerText="#{label['common.islem']}">
											<arf:buttonSetForDetailList controllerClassName="#{personelController}" modelName="Adres" rowItem="#{adresRow}"
												loggable="#{personelController.adresController.loggable}" />
										</p:column>
									</p:dataTable>
									<p:commandButton onsuccess="detailEditDialog.show()" value="#{label['command.insert']}" action="#{personelController.newDetail('adres')}" icon="new" immediate="true"
										process="@this" update="@this" styleClass="commandButton" ajax="true" style="width:70px; margin-left:45%"
										rendered="#{personelController.updateRecordRenderedFor('Adres') and personelController.adresController.list.size() == 0}" />
									<p:spacer width="80%" height="50px" />

									<p:blockUI block="telefonTable" trigger="telefonTable">
										<h:outputText value="#{label['common.loading']}" />
										<br />
										<h:graphicImage library="_image" name="ajax-loader.gif" />
									</p:blockUI>
									<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" id="telefonTable" value="#{personelController.telefonController.list}" var="telefonRow" binding="#{personelController.telefonController.table}"
										rowIndexVar="rowIndex" rowKey="#{telefonRow.RID}" resizableColumns="false">
										<f:facet name="header">
											<h:outputText value="#{label['telefon.list']}" />
										</f:facet>
										<arftags:column val="#{telefonRow.telefonno}" header="#{label['telefon.telefonno']}" width="45" />
										<arftags:column val="#{telefonRow.telefonturu.label}" header="#{label['telefon.telefonturu']}" width="40" />
										<arftags:column val="#{telefonRow.varsayilan.label}" header="#{label['telefon.varsayilan']}" width="32" />
										<p:column width="140" style="text-align:center" headerText="#{label['common.islem']}">
											<arf:buttonSetForDetailList controllerClassName="#{personelController}" modelName="Telefon" rowItem="#{telefonRow}"
												loggable="#{personelController.telefonController.loggable}" />
										</p:column>
									</p:dataTable>
									<p:commandButton onsuccess="detailEditDialog.show()" value="#{label['command.insert']}" action="#{personelController.newDetail('telefon')}" icon="new"
										immediate="true" process="@this" update="@this" styleClass="commandButton" ajax="true" style="width:70px; margin-left:45%"
										rendered="#{personelController.updateRecordRenderedFor('Telefon') and personelController.telefonController.list.size() == 0}" />
									<p:spacer width="80%" height="50px" />

									<p:blockUI block="internetadresTable" trigger="internetadresTable">
										<h:outputText value="#{label['common.loading']}" />
										<br />
										<h:graphicImage library="_image" name="ajax-loader.gif" />
									</p:blockUI>
									<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="internetadresTable" value="#{personelController.internetadresController.list}" var="internetadresRow"
										binding="#{personelController.internetadresController.table}" rowIndexVar="rowIndex" rowKey="#{internetadresRow.RID}" resizableColumns="false">
										<f:facet name="header">
											<h:outputText value="#{label['internetadres.list']}" />
										</f:facet>
										<arftags:column val="#{internetadresRow.netadresmetni}" header="#{label['internetadres.netadresmetni']}" width="32" />
										<arftags:column val="#{internetadresRow.netadresturu.label}" header="#{label['internetadres.netadresturu']}" width="32" />
										<arftags:column val="#{internetadresRow.varsayilan.label}" header="#{label['internetadres.varsayilan']}" width="32" />
										<p:column width="140" style="text-align:center" headerText="#{label['common.islem']}">
											<arf:buttonSetForDetailList controllerClassName="#{personelController}" modelName="Internetadres" rowItem="#{internetadresRow}"
												loggable="#{personelController.internetadresController.loggable}" />
										</p:column>
									</p:dataTable>
									<p:commandButton onsuccess="detailEditDialog.show()" value="#{label['command.insert']}" action="#{personelController.newDetail('internetadres')}" icon="new"
										immediate="true" process="@this" update="@this" styleClass="commandButton" ajax="true" style="width:70px; margin-left:45%"
										rendered="#{personelController.updateRecordRenderedFor('Internetadres') and personelController.internetadresController.list.size() == 0}" />
									<p:spacer width="80%" height="50px" />
								</p:fieldset>

							</p:panel></td>
					</tr>
				</table>
			</h:form>

			<p:dialog header="#{label['common.detailEdit']}" widgetVar="detailEditDialog" width="1000" height="#{personelController.heightOfEditDialog}"
				style="position:absolute; left:5%; top:5%" modal="true" id="dialogUpdateBox" visible="#{personelController.detailEditType != null}">
				<h:form id="detailEditForm">

					<p:fieldset id="personelBirimGorevEditDialogPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['personelBirimGorev.edit']}"
						rendered="#{personelController.detailEditType == 'personelbirimgorev'}">
						<arf:dropdown label="#{label['personelBirimGorev.gorevRef']}" listSource="#{personelController.selectItemListFor('Gorev')}" requiredCond="true" compId="gorevRef"
							value="#{personelController.personelBirimGorev.gorevRef}" converterId="#{'gorevConverter'}" id="gorevRefDropDown" />
						<arf:dropdown label="#{label['personelBirimGorev.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="true" compId="birimRef"
							value="#{personelController.personelBirimGorev.birimRef}" converterId="#{'birimConverter'}" id="birimRefDropDown" />
						<arf:calendar label="#{label['personelBirimGorev.baslangictarih']}" value="#{personelController.personelBirimGorev.baslangictarih}" id="baslangictarihCalendar"
							pattern="#{configurationController.datePattern}" requiredCond="true" compId="baslangictarih" />
						<arf:calendar label="#{label['personelBirimGorev.bitistarih']}" value="#{personelController.personelBirimGorev.bitistarih}" id="bitistarihCalendar"
							pattern="#{configurationController.datePattern}" requiredCond="false" compId="bitistarihtarih" />
						<arf:textinputarea label="#{label['personelBirimGorev.aciklama']}" value="#{personelController.personelBirimGorev.aciklama}" compId="aciklama" requiredCond="false"
							id="aciklamaInputText" maxLength="2500" />
						<arf:dropdown label="#{label['personelBirimGorev.durum']}" listSource="#{enumeratedController.personelGorevDurumItems}" requiredCond="true" compId="durum"
							value="#{personelController.personelBirimGorev.durum}" id="durumDropDown" />
					</p:fieldset>

					<p:fieldset id="adresEditDialogPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['adres.edit']}"
						rendered="#{personelController.detailEditType == 'adres'}">

						<arf:dropdown label="#{label['adres.adresturu']}" listSource="#{enumeratedController.adresTuruKPSYokItems}" requiredCond="true" compId="adresturu"
							value="#{personelController.adres.adresturu}" id="adresturuDropDown" addNullOption="true" />
						<arf:dropdown label="#{label['adres.adrestipi']}" listSource="#{enumeratedController.adresTipiItemsForKisi}" requiredCond="true" compId="adrestipi"
							value="#{personelController.adres.adrestipi}" id="adrestipiDropDown" addNullOption="true" ajaxEventListener="#{personelController.handleChange}"
							changeEventUpdateComp="#{':detailEditForm'}" />
						<arf:dropdown label="#{label['adres.varsayilan']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="false" compId="varsayilan"
							value="#{personelController.adres.varsayilan}" id="varsayilanDropDown" addNullOption="true" />
						<arf:textinputarea label="#{label['adres.acikAdres']}" value="#{personelController.adres.acikAdres}" compId="acikAdres" requiredCond="true" id="acikAdresInputText"
							maxLength="255" readOnlyStatus="#{personelController.adres.adrestipi.code == 4}" />
						<arf:dropdown label="#{label['adres.sehirRef']}" listSource="#{sessionUser.sehirItemList}" requiredCond="true" compId="sehirRefAdres"
							value="#{personelController.adres.sehirRef}" converterId="#{'sehirConverter'}" id="sehirRefDropDownAdres" ajaxEventListener="#{personelController.handleChange}"
							changeEventUpdateComp="#{':detailEditForm:ilceRefDropDownAdres:ilceRefAdres'}" />
						<arf:dropdown label="#{label['adres.ilceRef']}" listSource="#{personelController.ilceItemList}" requiredCond="true" compId="ilceRefAdres"
							value="#{personelController.adres.ilceRef}" converterId="#{'ilceConverter'}" id="ilceRefDropDownAdres" disabledCond="#{personelController.adres.adrestipi.code == 4}" />
					</p:fieldset>

					<p:fieldset id="telefonEditDialogPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['telefon.edit']}"
						rendered="#{personelController.detailEditType == 'telefon'}">

						<arf:maskinput label="#{label['telefon.telefonno']}" value="#{personelController.telefon.telefonno}" compId="telefonno" requiredCond="true" id="telefonnoInputText"
							maxLength="30" customValidatorId="#{'phoneValidator'}" mask="0 (999) 999 9999" />
						<arf:dropdown label="#{label['telefon.telefonturu']}" listSource="#{enumeratedController.telefonTuruItems}" requiredCond="false" compId="telefonturu"
							value="#{personelController.telefon.telefonturu}" id="telefonturuDropDown" />
						<arf:dropdown label="#{label['telefon.varsayilan']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="false" compId="telVarsayilan"
							value="#{personelController.telefon.varsayilan}" id="telVarsayilanDropDown" />
					</p:fieldset>

					<p:fieldset id="internetdetailEditDialogPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['internetadres.edit']}"
						rendered="#{personelController.detailEditType == 'internetadres'}">

						<arf:textinput label="#{label['internetadres.netadresmetni']}" value="#{personelController.internetadres.netadresmetni}" compId="netadresmetni" requiredCond="true"
							id="netadresmetniInputText" maxLength="500" />
						<arf:dropdown label="#{label['internetadres.netadresturu']}" listSource="#{enumeratedController.netAdresTuruItems}" requiredCond="false" compId="netadresturu"
							value="#{personelController.internetadres.netadresturu}" id="netadresturuDropDown" />
						<arf:dropdown label="#{label['internetadres.varsayilan']}" listSource="#{enumeratedController.evetHayirItems}" requiredCond="false" compId="internetadresVarsayilan"
							value="#{personelController.internetadres.varsayilan}" id="internetadresVarsayilanDropDown" />
					</p:fieldset>

					<p align="center" style="margin-top: 20px">
						<p:commandButton id="saveDetailsButton" icon="save" value="#{label['command.post']}" styleClass="commandButton" action="#{personelController.saveDetails}"
							update="@form :globalMessages" process="@form" ajax="true" rendered="#{personelController.detailEditType != null}" />
						<p:commandButton id="cancelDetailsButton" icon="iptal" value="#{label['command.cancel']}" styleClass="commandButton" onclick="detailEditDialog.hide()" process="@this" />
						<br />
					</p>
				</h:form>
			</p:dialog>
		</h:body>
	</ui:define>
</ui:composition>
