<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<ui:define name="content">
		<h:body>

			<h:form id="personelForm" prependId="false">
				<p:fieldset legend="#{label['common.sihirbazDurum']}" style="height:60px" styleClass="pageFieldSet">
					<h:outputText value="#{label['common.sihirbazAdim']} #{personelWizardController.wizardStep} : " style="color:red; font-size:16px; font-weight:bold; margin-left:20px" />
					<h:outputText value="#{label['kisi.edit']} - #{label['kisikimlik.edit']}" style="color:#333333; font-size:14px; font-weight:bold"
						rendered="#{personelWizardController.wizardStep == 1}" />
					<h:outputText value="#{label['personelBirimGorev.edit']}" style="color:#333333; font-size:14px; font-weight:bold" rendered="#{personelWizardController.wizardStep == 2}" />
					<h:outputText value="#{label['telefon.edit']}" style="color:#333333; font-size:14px; font-weight:bold" rendered="#{personelWizardController.wizardStep == 3}" />
				</p:fieldset>

				<p:fieldset id="kisiEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['personel.edit']}" rendered="#{personelWizardController.wizardStep == 1}">
					<p:panel header="#{label['kisi.edit']}" style="width:99%; margin-left:.5%" id="kisiOnlyPanel">
						<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">
							<arf:limitedtextinput label="#{label['kisi.kimlikno']}" value="#{personelWizardController.kisi.kimlikno}" compId="kimliknoKisi" requiredCond="true"
								id="kimliknoInputTextKisi" maxLength="11" minLength="11" customValidatorId="#{'tcKimlikNoValidator'}" />
							<arf:textinput label="#{label['kisi.ad']}" value="#{personelWizardController.kisi.ad}" compId="ad" requiredCond="#{personelWizardController.zorunlu}" id="adInputText"
								maxLength="50" readOnlyStatus="#{personelWizardController.kpsKaydiBulundu}" />
							<arf:textinput label="#{label['kisi.soyad']}" value="#{personelWizardController.kisi.soyad}" compId="soyad" requiredCond="#{personelWizardController.zorunlu}"
								id="soyadInputText" maxLength="50" readOnlyStatus="#{personelWizardController.kpsKaydiBulundu}" />
						</h:panelGrid>
						<p align="center">
							<p:commandButton id="personelListesineGit" action="#{personelWizardController.callDetailFromWizard}" value="#{label['personel.detail']}" process="kisiOnlyPanel"
								ajax="true" icon="personel" styleClass="arfCommandButton" rendered="#{personelWizardController.personelBulundu}" />
							<p:commandButton id="queryKimlikButton" action="#{personelWizardController.kimlikBilgisiSorgula}" value="#{label['command.query']}" process="kisiOnlyPanel"
								update="kisiEditPanel commandPanel" ajax="true" icon="search" styleClass="arfCommandButton" />
						</p>
					</p:panel>

					<p:panel header="#{label['kisikimlik.edit']}" style="width:99%; margin-left:.5%">
						<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid"
							rendered="#{personelWizardController.kpsSorguSonucDondu and !personelWizardController.kpsKaydiBulundu}">
							<arf:textinput label="#{label['kisikimlik.kimlikno']}" value="#{personelWizardController.kisikimlik.kimlikno}" compId="kimlikno" requiredCond="true"
								id="kimliknoInputText" maxLength="20" readOnlyStatus="true" />
							<arf:textinput label="#{label['kisikimlik.babaad']}" value="#{personelWizardController.kisikimlik.babaad}" compId="babaad" requiredCond="true" id="babaadInputText"
								maxLength="20" />
							<arf:textinput label="#{label['kisikimlik.anaad']}" value="#{personelWizardController.kisikimlik.anaad}" compId="anaad" requiredCond="true" id="anaadInputText"
								maxLength="20" />
							<arf:textinput label="#{label['kisikimlik.dogumyer']}" value="#{personelWizardController.kisikimlik.dogumyer}" compId="dogumyer" requiredCond="true"
								id="dogumyerInputText" maxLength="20" />
							<arf:calendar label="#{label['kisikimlik.dogumtarih']}" value="#{personelWizardController.kisikimlik.dogumtarih}" id="dogumtarihCalendar"
								pattern="#{configurationController.datePattern}" requiredCond="true" compId="dogumtarih" navigatorRendered="true"
								yearRange="#{configurationController.calendarYearRangeForBirthdays}" />
							<arf:dropdown label="#{label['kisikimlik.cinsiyet']}" listSource="#{enumeratedController.cinsiyetItems}" requiredCond="true" compId="cinsiyet"
								value="#{personelWizardController.kisikimlik.cinsiyet}" id="cinsiyetDropDown" />
							<arf:dropdown label="#{label['kisikimlik.kangrup']}" listSource="#{enumeratedController.kanGrubuItems}" requiredCond="false" compId="kangrup"
								value="#{personelWizardController.kisikimlik.kangrup}" id="kangrupDropDown" addNullOption="true" />
							<arf:dropdown label="#{label['kisikimlik.medenihal']}" listSource="#{enumeratedController.medeniHalItems}" requiredCond="true" compId="medeniHal"
								value="#{personelWizardController.kisikimlik.medenihal}" id="medeniHalDropDown" addNullOption="true" />
							<arf:dropdown label="#{label['kisikimlik.sehirRef']}" listSource="#{sessionUser.sehirItemList}" requiredCond="true" compId="sehirRef"
								value="#{personelWizardController.kisikimlik.sehirRef}" converterId="#{'sehirConverter'}" id="sehirRefDropDown"
								ajaxEventListener="#{personelWizardController.handleChange}" changeEventUpdateComp="#{':personelForm:ilceRefDropDown:ilceRef'}" />
							<arf:dropdown label="#{label['kisikimlik.ilceRef']}" listSource="#{personelWizardController.ilceItemList}" requiredCond="true" compId="ilceRef"
								value="#{personelWizardController.kisikimlik.ilceRef}" converterId="#{'ilceConverter'}" id="ilceRefDropDown" />

							<arf:textinput label="#{label['kisikimlik.ciltno']}" value="#{personelWizardController.kisikimlik.ciltno}" compId="ciltno" requiredCond="true" id="ciltnoInputText"
								maxLength="15" />
							<arf:textinput label="#{label['kisikimlik.aileno']}" value="#{personelWizardController.kisikimlik.aileno}" compId="aileno" requiredCond="true" id="ailenoInputText"
								maxLength="10" />
							<arf:textinput label="#{label['kisikimlik.sirano']}" value="#{personelWizardController.kisikimlik.sirano}" compId="sirano" requiredCond="true" id="siranoInputText"
								maxLength="5" />
						</h:panelGrid>

						<h:outputText value="KPS Bilgisi : " rendered="#{(personelWizardController.kpsSorguSonucDondu and personelWizardController.kpsKaydiBulundu)}" />
						<h:outputText value="VT Bilgisi : " rendered="#(personelWizardController.kisiVeritabanindaBulundu}" />
						<h:panelGrid columns="4" columnClasses="yirmiYuzde, otuzYuzde, yirmiYuzde, otuzYuzde" styleClass="arfEditGrid"
							rendered="#{personelWizardController.kisiVeritabanindaBulundu or (personelWizardController.kpsSorguSonucDondu and personelWizardController.kpsKaydiBulundu)}">
							<arftags:detailItem colName="kimlikno" header="#{label['kisikimlik.kimlikno']}" renderCondition="true" val="#{personelWizardController.kisikimlik.kimlikno}" />
							<arftags:detailItem colName="babaad" header="#{label['kisikimlik.babaad']}" renderCondition="true" val="#{personelWizardController.kisikimlik.babaad}" />
							<arftags:detailItem colName="anaad" header="#{label['kisikimlik.anaad']}" renderCondition="true" val="#{personelWizardController.kisikimlik.anaad}" />
							<arftags:detailItem colName="dogumyer" header="#{label['kisikimlik.dogumyer']}" renderCondition="true" val="#{personelWizardController.kisikimlik.dogumyer}" />
							<arftags:detailDateItem colName="dogumtarih" val="#{personelWizardController.kisikimlik.dogumtarih}" header="#{label['kisikimlik.dogumtarih']}" renderCondition="true" />
							<arftags:detailItem colName="cinsiyet" val="#{personelWizardController.kisikimlik.cinsiyet.label}" header="#{label['kisikimlik.cinsiyet']}" renderCondition="true" />
							<arftags:detailItem colName="kangrup" val="#{personelWizardController.kisikimlik.kangrup.label}" header="#{label['kisikimlik.kangrup']}" renderCondition="true" />
							<arftags:detailItem colName="medenihal" val="#{personelWizardController.kisikimlik.medenihal.label}" header="#{label['kisikimlik.medenihal']}" renderCondition="true" />
							<arftags:detailItem colName="sehirRef1" val="#{personelWizardController.kisikimlik.sehirRef.UIString}" header="#{label['kisikimlik.sehirRef']}" renderCondition="true" />
							<arftags:detailItem colName="ilceRef1" val="#{personelWizardController.kisikimlik.ilceRef.UIString}" header="#{label['kisikimlik.ilceRef']}" renderCondition="true" />
							<arftags:detailItem colName="mahalle1" val="#{personelWizardController.kisikimlik.mahalle}" header="#{label['kisikimlik.mahalle']}" renderCondition="true" />
							<arftags:detailItem colName="ciltno" val="#{personelWizardController.kisikimlik.ciltno}" header="#{label['kisikimlik.ciltno']}" renderCondition="true" />
							<arftags:detailItem colName="aileno" val="#{personelWizardController.kisikimlik.aileno}" header="#{label['kisikimlik.aileno']}" renderCondition="true" />
							<arftags:detailItem colName="sirano" val="#{personelWizardController.kisikimlik.sirano}" header="#{label['kisikimlik.sirano']}" renderCondition="true" />
							<arftags:detailDateItem colName="kpsdogrulamatarih" val="#{personelWizardController.kisikimlik.kpsdogrulamatarih}" header="#{label['kisikimlik.kpsdogrulamatarih']}"
								renderCondition="true" />

						</h:panelGrid>
					</p:panel>

				</p:fieldset>

				<p:fieldset id="personelGorevEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['personelBirimGorev.edit']}"
					rendered="#{personelWizardController.wizardStep == 2}">
					<p:panel header="#{label['personelBirimGorev.edit']}" style="width:99%; margin-left:.5%" id="personelGorevOnlyPanel">
						<arf:textoutput label="#{label['personelBirimGorev.birimRef']}" value="#{personelWizardController.personelGorev.birimRef.UIString}" />
						<arf:dropdown label="#{label['personelBirimGorev.gorevRef']}" listSource="#{personelWizardController.selectItemListFor('Gorev')}" requiredCond="false"
							compId="gorevRef" value="#{personelWizardController.personelGorev.gorevRef}" converterId="#{'gorevConverter'}" id="gorevRefDropDown" />
						<arf:calendar label="#{label['personelBirimGorev.baslangictarih']}" value="#{personelWizardController.personelGorev.baslangictarih}" id="baslangictarihCalendar"
							pattern="#{configurationController.datePattern}" requiredCond="true" compId="baslangictarih" />
						<arf:textinputarea label="#{label['personelBirimGorev.aciklama']}" value="#{personelWizardController.personelGorev.aciklama}" compId="aciklama" requiredCond="false"
							id="aciklamaInputText" maxLength="2500" />
						<arf:textoutput label="#{label['personelBirimGorev.durum']}" value="#{personelWizardController.personelGorev.durum.label}" />
					</p:panel>
				</p:fieldset>

				<p:fieldset id="iletisimEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['common.iletisim']}" rendered="#{personelWizardController.wizardStep == 3}">
					<p:panel header="#{label['common.iletisim']}" style="width:99%; margin-left:.5%" id="iletisimOnlyPanel">
						<h:panelGrid columns="1" style="width:100%">
						
							<arf:maskinput label="#{personelWizardController.telefon1.telefonturu.label}" value="#{personelWizardController.telefon1.telefonno}" compId="telefonnoOne" requiredCond="false"
								id="telefonnoInputTextOne" maxLength="30" customValidatorId="#{'phoneValidator'}" mask="0 (999) 999 9999" />
							<arf:maskinput label="#{personelWizardController.telefon2.telefonturu.label}" value="#{personelWizardController.telefon2.telefonno}" compId="telefonnoTwo" requiredCond="false"
								id="telefonnoInputTextTwo" maxLength="30" customValidatorId="#{'phoneValidator'}" mask="0 (999) 999 9999" />
							<arf:maskinput label="#{personelWizardController.telefon3.telefonturu.label}" value="#{personelWizardController.telefon3.telefonno}" compId="telefonnoThree" requiredCond="#{true}"
								id="telefonnoInputTextThree" maxLength="30" customValidatorId="#{'phoneValidator'}" mask="0 (999) 999 9999" />
							<arf:maskinput label="#{personelWizardController.telefon4.telefonturu.label}" value="#{personelWizardController.telefon4.telefonno}" compId="telefonnoFour" requiredCond="false"
								id="telefonnoInputTextFour" maxLength="30" customValidatorId="#{'phoneValidator'}" mask="0 (999) 999 9999" />
							<arf:textinput label="#{personelWizardController.internetAdres1.netadresturu.label}" value="#{personelWizardController.internetAdres1.netadresmetni}"
								compId="netadresmetni" requiredCond="false" id="netadresmetniInputText" maxLength="70" customValidatorId="#{'eMailValidator'}" />
						</h:panelGrid>
					</p:panel>
				</p:fieldset>

				<div style="margin-left: 40%; width: 60%">
					<p:outputPanel id="commandPanel">
						<p:commandButton id="personelWizardBackward" action="#{personelWizardController.wizardBackward}" value="#{label['command.backward']}" ajax="true" process="@this"
							update="@form" icon="backward" styleClass="arfCommandButton" rendered="#{personelWizardController.wizardStep > 1}" />
						<p:commandButton id="finishWizard" action="#{personelWizardController.validateTelefon}" value="#{label['command.finishWizard']}" icon="save" process="@form"
							update="@form" styleClass="arfCommandButton" rendered="#{personelWizardController.wizardStep > 2 and !personelWizardController.personelBulundu}" />
						<p:commandButton id="personelWizardForward" action="#{personelWizardController.wizardForward}" value="#{label['command.forward']}" ajax="true" process="@form"
							update="@form" icon="forward" styleClass="arfCommandButton" rendered="#{personelWizardController.wizardStep != 3 and !personelWizardController.personelBulundu}" />
					</p:outputPanel>
				</div>
			</h:form>

			<pe:ajaxErrorHandler title="Error" body="Server return exception  {error-name} with description {error-message}" button="Hide" widgetVar="myAjaxErrorHandler"
				buttonOnclick="myAjaxErrorHandler.hide()" />
		</h:body>
	</ui:define>
</ui:composition>
