<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="raporlogForm" prependId="false">
				<ui:include src="/_page/form/system/raporlog_Edit.xhtml" />

				<p:fieldset id="raporlogFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{raporlogController.collapsed}" legend="#{label['raporlog.query']}"
					rendered="#{!raporlogController.editPanelRendered}">
					<p:ajax listener="#{raporlogController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:dropdownForFilter label="#{label['raporlog.kullaniciRef']}" listSource="#{raporlogController.selectItemListFor('Kullanici')}" requiredCond="false"
							compId="kullaniciRef" value="#{raporlogController.raporlogFilter.kullaniciRef}" converterId="#{'kullaniciConverter'}" id="kullaniciRefForFilterDropDown" />

						<arf:calendarForFilter label="#{label['raporlog.tarih']}" value="#{raporlogController.raporlogFilter.tarih}" id="tarihForFilterCalendar"
							pattern="#{configurationController.datePattern}" requiredCond="false" compId="tarih" />

						<arf:dropdownForFilter label="#{label['raporlog.raporturu']}" listSource="#{enumeratedController.raporTuruItems}" requiredCond="false" compId="raporturu"
							value="#{raporlogController.raporlogFilter.raporturu}" id="raporturuForFilterDropDown" addNullOption="true" />

					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{raporlogController}" formName="raporlogForm" listPanelName="raporlogListPanel" filterPanelName="raporlogFilterPanel"
						modelName="Raporlog" />
				</p:fieldset>

				<p:fieldset legend="#{label['raporlog.list']}" styleClass="pageFieldSet" id="raporlogListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="raporlogTable" trigger="raporlogTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="raporlogTable" value="#{raporlogController.list}" var="raporlogRow" binding="#{raporlogController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{raporlogController.entity}" filteredValue="#{raporlogController.filteredList}" widgetVar="filterTable" rowKey="#{raporlogRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{raporlogController.tableRowSelect}" update=":raporlogForm" />
						<p:ajax event="rowUnselect" listener="#{raporlogController.tableRowCancelSelection}" update=":raporlogForm" />

						<arftags:column val="#{raporlogRow.kullaniciRef.UIString}" header="#{label['raporlog.kullaniciRef']}" width="33" />
						<arftags:dateColumn val="#{raporlogRow.tarih}" header="#{label['raporlog.tarih']}" width="33" />
						<arftags:column val="#{raporlogRow.raporturu.label}" header="#{label['raporlog.raporturu']}" width="33" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{raporlogController}" formName="raporlogForm" listPanelName="raporlogListPanel" pagingOption="true" tableName="raporlogTable"
						addExport="true" addOption="false" updateOption="false" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
