<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="raporlogEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['raporlog.edit']}" rendered="#{raporlogController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['raporlog.kullaniciRef']}" listSource="#{raporlogController.selectItemListFor('Kullanici')}" requiredCond="true" compId="kullaniciRef"
				value="#{raporlogController.raporlog.kullaniciRef}" converterId="#{'kullaniciConverter'}" id="kullaniciRefDropDown" />

			<arf:calendar label="#{label['raporlog.tarih']}" value="#{raporlogController.raporlog.tarih}" id="tarihCalendar" pattern="#{configurationController.datePattern}"
				requiredCond="true" compId="tarih" />

			<arf:dropdown label="#{label['raporlog.raporturu']}" listSource="#{enumeratedController.raporTuruItems}" requiredCond="true" compId="raporturu"
				value="#{raporlogController.raporlog.raporturu}" id="raporturuDropDown" addNullOption="true" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{raporlogController}" formName="raporlogForm" listPanelName="raporlogListPanel" editPanelName="raporlogEditPanel"
			modelName="Raporlog" />
	</p:fieldset>

</ui:composition>