<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="roleForm" prependId="false">
				<p:fieldset id="roleEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['role.edit']}" rendered="#{roleController.editPanelRendered}">
					<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

						<arf:textinput label="#{label['role.name']}" compId="name" value="#{roleController.role.name}" requiredCond="true" maxLength="200" />

						<arf:dropdown label="#{label['role.active']}" compId="active" value="#{roleController.role.active}" requiredCond="true"
							listSource="#{enumeratedController.evetHayirItems}" />

						<arf:dropdown label="#{label['role.varsayilanYetki']}" compId="varsayilanYetki" value="#{roleController.varsayilanYetki}" requiredCond="true"
							listSource="#{enumeratedController.evetHayirItems}" />
					</h:panelGrid>

					<p:commandButton id="postCommandForRole" icon="save" value="#{label['command.post']}" style="margin-left:45%" action="#{roleController.save}" async="true"
						immediate="false" process=":roleForm:roleEditPanel" update=":roleForm :globalMessages" styleClass="arfCommandButton" />
					<p:commandButton id="browseCommandForRole" action="#{roleController.cancel}" process="@this" update=":roleForm" value="#{label['command.cancel']}" immediate="true"
						icon="ui-icon-close" styleClass="arfCommandButton" />
				</p:fieldset>

				<p:fieldset legend="#{label['role.list']}" styleClass="pageFieldSet" id="roleListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center">
						<p:commandButton id="roleIslemCommand" process="@this" action="#{roleController.islemRole}" icon="child" style="width:120px"
							rendered="#{roleController.listRenderedFor('IslemRole')}" disabled="#{roleController.role.RID == null}" value="#{label['islemRole.list']}" styleClass="arfCommandButton" />
					</h:panelGrid>

					<p:blockUI block="roleTable" trigger="roleTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="roleTable" value="#{roleController.list}" var="roleRow" binding="#{roleController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{roleController.entity}" filteredValue="#{roleController.filteredList}" widgetVar="filterTable" rowKey="#{roleRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{roleController.tableRowSelect}" update=":roleForm" />
						<p:ajax event="rowUnselect" listener="#{roleController.tableRowCancelSelection}" update=":roleForm" />

						<arftags:column val="#{roleRow.name}" header="#{label['role.name']}" width="60%" />
						<arftags:column val="#{roleRow.active.label}" header="#{label['role.active']}" width="40%" />
					</p:dataTable>
					<arf:pagingWithBlockUI controllerClassName="#{roleController}" formName="roleForm" listPanelName="roleListPanel" pagingOption="false" tableName="roleTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>

