<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="sistemParametredPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['sistemParametre.edit']}"
		rendered="#{sistemParametreController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:textinput label="#{label['sistemParametre.listeboyutu']}" value="#{sistemParametreController.sistemParametre.listeboyutu}" compId="listeboyutu" requiredCond="true"
				id="listeboyutuInputText" maxLength="15" />
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{sistemParametreController}" formName="sistemParametreForm" listPanelName="sistemParametreListPanel"
			editPanelName="sistemParametreEditPanel" modelName="SistemParametre" />
	</p:fieldset>

</ui:composition>