<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml" xmlns:pe="http://primefaces.org/ui/extensions">

	<ui:define name="content">
		<h:body>
			<h:form id="sistemParametreForm" prependId="false">

				<p:fieldset id="sistemParametreEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['sistemParametre.edit']}">

					<h:panelGrid columns="1" styleClass="arfEditGrid">
						<arf:spinner label="#{label['sistemParametre.listeboyutu']}" value="#{sistemParametreController.sistemParametre.listeboyutu}" compId="listeboyutu" requiredCond="true" id="listeboyutuInputText" min="5" max="25" stepFactor="5" />

						<arf:spinner label="#{label['sistemParametre.smsuzunluk']} (SMS)" value="#{sistemParametreController.sistemParametre.smsuzunluk}" compId="smsuzunluk" requiredCond="true" id="smsUzunlukInputText" min="1" max="4"
							stepFactor="1" />

						<arf:textinput label="#{label['sistemParametre.odaadi']}" value="#{sistemParametreController.sistemParametre.odaadi}" compId="odaadi" requiredCond="true" id="odaadiInputText" maxLength="255" />

						<arf:textinputarea label="#{label['sistemParametre.odadetayi']}" value="#{sistemParametreController.sistemParametre.odadetayi}" compId="odadetayi" requiredCond="true" id="odadetayiInputText" maxLength="255" />

						<arf:textinput label="#{label['sistemParametre.odawebadresi']}" value="#{sistemParametreController.sistemParametre.odawebadresi}" compId="odawebadresi" requiredCond="true" id="odawebadresiInputText" maxLength="255" />

						<arf:textinput label="#{label['sistemParametre.logodegeri']}" value="#{sistemParametreController.sistemParametre.logodegeri}" compId="logodegeri" requiredCond="true" id="logodegeriInputText" maxLength="255" />

						<arf:textinput label="#{label['sistemParametre.mailadresi']}" value="#{sistemParametreController.sistemParametre.mailadresi}" compId="logodegeri" requiredCond="true" id="mailadresiInputText" maxLength="255" />

						<arf:textinput label="#{label['sistemParametre.sistemmail']}" value="#{sistemParametreController.sistemParametre.sistemmail}" compId="logodegeri" requiredCond="true" id="sistemmailInputText" maxLength="255" />

						<arf:booleanbox id="kpszorlaCheckbox" compId="kpszorla" styleClass="optionalInputText" value="#{sistemParametreController.kpsZorlama}" label="#{label['sistemParametre.kpszorla']}" requiredCond="true" />

						<arf:textinput label="#{label['sistemParametre.sistemErisimAdresi']}" value="#{sistemParametreController.sistemParametre.sistemErisimAdresi}" compId="sistemErisimAdresi" requiredCond="true" id="sistemErisimAdresiInputText"
							maxLength="500" />

						<arf:textinput label="#{label['sistemParametre.asgariAylikNetUcret']}  TL" value="#{sistemParametreController.sistemParametre.asgariAylikNetUcret}" compId="asgariAylikNetUcret" requiredCond="true"
							id="asgariAylikNetUcretInputText" maxLength="255" />

						<arf:textinput label="#{label['sistemParametre.yabanciUyeKayitUcreti']}  TL" value="#{sistemParametreController.sistemParametre.yabanciUyeKayitUcreti}" compId="yabanciUyeKayitUcreti" requiredCond="true"
							id="yabanciUyeKayitUcretiInputText" maxLength="255" />

						<arf:textinput label="#{label['sistemParametre.yabanciUyeAidatUcreti']}  TL" value="#{sistemParametreController.sistemParametre.yabanciUyeAidatUcreti}" compId="yabanciUyeAidatUcreti" requiredCond="true"
							id="yabanciUyeAidatUcretiInputText" maxLength="255" />

						<arf:textinput label="#{label['sistemParametre.hesapAdi']}" value="#{sistemParametreController.sistemParametre.hesapAdi}" compId="hesapAdi" requiredCond="true" id="hesapAdiInputText" maxLength="255" />

						<arf:textinput label="#{label['sistemParametre.bankaAdi']}" value="#{sistemParametreController.sistemParametre.bankaAdi}" compId="bankaAdi" requiredCond="true" id="bankaAdiInputText" maxLength="255" />

						<arf:textinput label="#{label['sistemParametre.subeAdi']}" value="#{sistemParametreController.sistemParametre.subeAdi}" compId="subeAdi" requiredCond="true" id="subeAdiInputText" maxLength="255" />

						<arf:textinput label="#{label['sistemParametre.ibanNo']}" value="#{sistemParametreController.sistemParametre.ibanNo}" compId="ibanNo" requiredCond="true" id="ibanNoInputText" maxLength="255" />

						<arf:textinput label="#{label['sistemParametre.bilirkisiHizmetBedeli']}" value="#{sistemParametreController.sistemParametre.bilirkisiHizmetBedeli}" compId="bilirkisiHizmetBedeli" requiredCond="true"
							id="bilirkisiHizmetBedeliInputText" maxLength="255" />

						<arf:textinput label="#{label['sistemParametre.bilirkisiRaporBedeli']}" value="#{sistemParametreController.sistemParametre.bilirkisiRaporBedeli}" compId="bilirkisiRaporBedeli" requiredCond="true"
							id="bilirkisiRaporBedeliInputText" maxLength="255" />

						<arf:textinput label="#{label['sistemParametre.hesapNo']}" value="#{sistemParametreController.sistemParametre.hesapNo}" compId="hesapNo" requiredCond="true" id="hesapNoInputText" maxLength="255" />

						<arf:textinput label="#{label['sistemParametre.bilirkisilikToplamHizmetBedeli']}" value="#{sistemParametreController.sistemParametre.bilirkisilikToplamHizmetBedeli}" compId="bilirkisilikToplamHizmetBedeli"
							requiredCond="true" id="bilirkisilikToplamHizmetBedeliInputText" maxLength="255" />
							
						<arf:booleanbox id="isbankasiaktifCheckbox" compId="isbankasiaktif" styleClass="optionalInputText" value="#{sistemParametreController.isbankasiaktif}" label="#{label['sistemParametre.isbankasiaktif']}" requiredCond="true"
							ajaxEventListener="#{sistemParametreController.handleIsBankasiChange}" changeEventUpdateComp="#{':sistemParametreForm:isbankasipanel'}" />
						<p:outputPanel id="isbankasipanel" rendered="true">
							<arf:textinput label="#{label['sistemParametre.isbankasiposadres']}" value="#{sistemParametreController.sistemParametre.isbankasiposadres}" compId="logodegeri" requiredCond="true" id="isbankasiposadresInputText"
								maxLength="500" rendered="#{sistemParametreController.isbankasiaktif}" />
						</p:outputPanel>
						
						<arf:booleanbox id="yapikrediaktifCheckbox" compId="yapikrediaktif" styleClass="optionalInputText" value="#{sistemParametreController.yapikrediaktif}" label="#{label['sistemParametre.yapikrediaktif']}" requiredCond="true"
							ajaxEventListener="#{sistemParametreController.handleYapikrediChange}" changeEventUpdateComp="#{':sistemParametreForm:yapikredipanel'}" />
						<p:outputPanel id="yapikredipanel" rendered="true">
							<arf:textinput label="#{label['sistemParametre.yapikrediposadres']}" value="#{sistemParametreController.sistemParametre.yapikrediposadres}" compId="logodegeri" requiredCond="true" id="yapikrediposadresInputText"
								maxLength="500" rendered="#{sistemParametreController.yapikrediaktif}" />
						</p:outputPanel>

						<arf:booleanbox id="garantiaktifCheckbox" compId="garantiaktif" styleClass="optionalInputText" value="#{sistemParametreController.garantiaktif}" label="#{label['sistemParametre.garantiaktif']}" requiredCond="true"
							ajaxEventListener="#{sistemParametreController.handleGarantiChange}" changeEventUpdateComp="#{':sistemParametreForm:garantipanel'}" />
						<p:outputPanel id="garantipanel" rendered="true">
							<arf:textinput label="#{label['sistemParametre.garantiposadres']}" value="#{sistemParametreController.sistemParametre.garantiposadres}" compId="garantiposadres" requiredCond="true" id="garantiposadresInputText"
								maxLength="500" rendered="#{sistemParametreController.garantiaktif}" />
						</p:outputPanel>

						<arf:editorLimited label="#{label['sistemParametre.uyeBildirimEpostaSonu']}" value="#{sistemParametreController.sistemParametre.uyeBildirimEpostaSonu}" compId="uyeBildirimEpostaSonu" requiredCond="true"
							id="uyeBildirimEpostaSonuInputText" height="300px" width="600px" />
					</h:panelGrid>
					<p align="center">
						<p:commandButton id="sistemParametreCommand" process="@form" update=":sistemParametreForm :globalMessages" icon="edit" action="#{sistemParametreController.degistir}"
							rendered="#{sistemParametreController.updateRecordRenderedFor('SistemParametre')}" value="#{label['command.post']}" />
					</p>

					<pe:ajaxErrorHandler title="Error" body="Server return exception  {error-name} with description {error-message}" button="Hide" widgetVar="myAjaxErrorHandler" buttonOnclick="myAjaxErrorHandler.hide()" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
