<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="sorunForm" prependId="false">

				<ui:include src="/_page/form/system/sorun_Edit.xhtml" />

				<p:fieldset legend="#{label['sorun.list']}" styleClass="pageFieldSet" id="sorunListPanel">
					<p:blockUI block="sorunTable" trigger="sorunTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="sorunTable" value="#{sorunController.list}" var="sorunRow" binding="#{sorunController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{sorunController.entity}" filteredValue="#{sorunController.filteredList}" widgetVar="filterTable" rowKey="#{sorunRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{sorunController.tableRowSelect}" update=":sorunForm" />
						<p:ajax event="rowUnselect" listener="#{sorunController.tableRowCancelSelection}" update=":sorunForm" />

						<arftags:column val="#{sorunRow.baslik}" header="#{label['sorun.baslik']}" width="20" />
						<arftags:column val="#{sorunRow.aciklama}" header="#{label['sorun.aciklama']}" width="20" />
						<arftags:dateColumn val="#{sorunRow.tarih}" header="#{label['sorun.tarih']}" width="20" />
						<arftags:column val="#{sorunRow.onem.label}" header="#{label['sorun.onem']}" width="20" />
						<arftags:column val="#{sorunRow.kullaniciRef.UIString}" header="#{label['sorun.kullaniciRef']}" width="20" />
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{sorunController}" formName="sorunForm" listPanelName="sorunListPanel" pagingOption="true" tableName="sorunTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
