<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="sorunEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['sorun.edit']}" rendered="#{sorunController.editPanelRendered}">
		<h:panelGrid columns="1" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:textinput label="#{label['sorun.baslik']}" value="#{sorunController.sorun.baslik}" compId="baslik" requiredCond="true" id="baslikInputText" maxLength="50" min="3"
				max="50" stepFactor="5" manualInput="false" />
			<arf:textinput label="#{label['sorun.aciklama']}" value="#{sorunController.sorun.aciklama}" compId="aciklama" requiredCond="true" id="aciklamaInputText" maxLength="300"
				min="5" max="300" stepFactor="5" manualInput="false" />
			<arf:dropdown label="#{label['sorun.onem']}" listSource="#{enumeratedController.onemDereceItems}" requiredCond="true" compId="onem" value="#{sorunController.sorun.onem}"
				id="onemDropDown" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{sorunController}" formName="sorunForm" listPanelName="sorunListPanel" editPanelName="sorunEditPanel" modelName="Sorun" />
	</p:fieldset>

</ui:composition>