<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="sorunForm" prependId="false">

				<p:fieldset legend="#{label['sorun.list']}" styleClass="pageFieldSet" id="sorunListPanel">

					<h:panelGrid columns="1" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

						<arf:textinput label="#{label['sorun.baslik']}" value="#{sorunController.baslik}" compId="baslik" requiredCond="true" id="baslikInputText" maxLength="50" min="3"
							max="50" stepFactor="5" manualInput="false" />
						<arf:textinput label="#{label['sorun.aciklama']}" value="#{sorunController.aciklama}" compId="aciklama" requiredCond="true" id="aciklamaInputText" maxLength="300"
							min="5" max="300" stepFactor="5" manualInput="false" />
						<arf:dropdown label="#{label['sorun.onem']}" listSource="#{enumeratedController.onemDereceItems}" requiredCond="true" compId="onem" 
							value="#{sorunController.onem}"	id="onemDropDown" />

					</h:panelGrid>

				</p:fieldset>

				<p align="center">
					<p:commandButton id="kaydet" icon="save" value="Kaydet" action="#{sorunController.saveAndReturnHomePage}" immediate="false" styleClass="commandButton" />
					<p:commandButton id="iptal" icon="iptal" value="İptal" action="#{sorunController.homePage}" immediate="true" styleClass="commandButton" />

				</p>

			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
