<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="ulkeEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['ulke.edit']}" rendered="#{ulkeController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:textinput label="#{label['ulke.ad']}" value="#{ulkeController.ulke.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="50" />
			<arf:textinput label="#{label['ulke.ulkekod']}" value="#{ulkeController.ulke.ulkekod}" compId="ulkekod" requiredCond="false" id="ulkekodInputText" maxLength="30" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{ulkeController}" formName="ulkeForm" listPanelName="ulkeListPanel" editPanelName="ulkeEditPanel" modelName="Ulke" />
	</p:fieldset>

</ui:composition>