<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="ulkeForm" prependId="false">

				<ui:include src="/_page/form/system/ulke_Edit.xhtml" />

				<p:fieldset id="ulkeFilterPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['ulke.query']}" rendered="#{!ulkeController.editPanelRendered}">
					<p:ajax listener="#{ulkeController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:textinput label="#{label['ulke.ad']}" value="#{ulkeController.ulkeFilter.ad}" compId="adForFilter" requiredCond="false" id="adForFilterInputText" maxLength="50" />

					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{ulkeController}" formName="ulkeForm" listPanelName="ulkeListPanel" filterPanelName="ulkeFilterPanel" modelName="Ulke" />
				</p:fieldset>

				<p:fieldset legend="#{label['ulke.list']}" styleClass="pageFieldSet" id="ulkeListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">

						<p:commandButton id="updateCommand" process="@this" update="@form" icon="webService" action="#{ulkeController.kpsGuncelleme}"
							onclick="if (confirm('Tüm ülke verisi güncellenecek! Bu işlem uzun sürebilir! Emin misiniz?')) {return true} else {return false}"
							 value="KPS'den Güncelle" styleClass="arfCommandButton" />

					</h:panelGrid>
					<p:blockUI block="ulkeTable" trigger="ulkeTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="ulkeTable" value="#{ulkeController.list}" var="ulkeRow" binding="#{ulkeController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{ulkeController.entity}" filteredValue="#{ulkeController.filteredList}" widgetVar="filterTable" rowKey="#{ulkeRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{ulkeController.tableRowSelect}" update=":ulkeForm" />
						<p:ajax event="rowUnselect" listener="#{ulkeController.tableRowCancelSelection}" update=":ulkeForm" />

						<arftags:column val="#{ulkeRow.ad}" header="#{label['ulke.ad']}" width="50" />
						<arftags:column val="#{ulkeRow.ulkekod}" header="#{label['ulke.ulkekod']}" width="50" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{ulkeController}" formName="ulkeForm" listPanelName="ulkeListPanel" pagingOption="false" tableName="ulkeTable"
						addExport="true" addOption="false" updateOption="false" deleteOption="false" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
