<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="universiteForm" prependId="false">

				<ui:include src="/_page/form/system/universite_Edit.xhtml" />
				<p:fieldset legend="#{label['universite.list']}" styleClass="pageFieldSet" id="universiteListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
						<p:commandButton id="universitefakulteCommand" process="@this" icon="child" action="#{universiteController.universitefakulte}"
							rendered="#{universiteController.listRenderedFor('UniversiteFakulte')}" disabled="#{universiteController.universite.RID == null}"
							value="#{label['command.universitefakulte']}" styleClass="arfCommandButton" style="width:200px" />
					</h:panelGrid>
					<div id="#{universiteController.detailPanelDivId}">
						<p:blockUI block="universiteTable" trigger="universiteTable">
							<h:outputText value="#{label['common.loading']}" />
							<br />
							<h:graphicImage library="_image" name="ajax-loader.gif" />
						</p:blockUI>
						<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="universiteTable" value="#{universiteController.list}" var="universiteRow" binding="#{universiteController.table}"
							rowIndexVar="rowIndex" selectionMode="single" selection="#{universiteController.entity}" filteredValue="#{universiteController.filteredList}" widgetVar="filterTable"
							rowKey="#{universiteRow.RID}" resizableColumns="false">

							<p:ajax event="rowSelect" listener="#{universiteController.tableRowSelect}" update=":universiteForm" />
							<p:ajax event="rowUnselect" listener="#{universiteController.tableRowCancelSelection}" update=":universiteForm" />

							<arftags:column val="#{universiteRow.ad}" header="#{label['universite.ad']}" width="10" />
							<arftags:column val="#{universiteRow.webadresi}" header="#{label['universite.webadresi']}" width="5" />
							<arftags:column val="#{universiteRow.ulkeRef.UIString} - #{universiteRow.ilRef.UIString}" header="#{label['universite.ulkeRef']} - #{label['universite.ilRef']}"
								width="5" />
							<arftags:column val="#{universiteRow.durum.label}" header="#{label['universite.durum']}" width="12" />
						</p:dataTable>
						<arf:pagingWithBlockUI controllerClassName="#{universiteController}" formName="universiteForm" listPanelName="universiteListPanel" pagingOption="true"
							tableName="universiteTable" addExport="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" logOption="true" />
					</div>
					<p:outputPanel rendered="#{universiteController.universite.RID != null and universiteController.fakulteDondur}">
						<div id="divright">
							<p:panel header="#{label['fakulte.summary']}">
								<h:panelGrid columns="2">
									<p:blockUI block="universiteFakulteTable" trigger="universiteFakulteTable">
										<h:outputText value="#{label['common.loading']}" />
										<br />
										<h:graphicImage library="_image" name="ajax-loader.gif" />
									</p:blockUI>
									<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="universiteFakulteTable" value="#{universiteController.fakulteler}" var="universiteRow" rowIndexVar="rowIndex"
										rowKey="#{universiteFakulteRow.RID}" resizableColumns="false">

										<arftags:column val="#{universiteRow.ad}" header="#{label['fakulte.ad']}" width="20" />

									</p:dataTable>
								</h:panelGrid>
							</p:panel>
						</div>
					</p:outputPanel>

				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
