<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="universiteEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['universite.edit']}" rendered="#{universiteController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:textinput label="#{label['universite.ad']}" value="#{universiteController.universite.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="100" />
			<arf:dropdown label="#{label['universite.durum']}" listSource="#{enumeratedController.universiteDurumItems}" requiredCond="true" compId="durum"
				value="#{universiteController.universite.durum}" id="durumDropDown" />
			<arf:dropdown label="#{label['universite.ulkeRef']}" listSource="#{universiteController.createSelectItems('Ulke', '', false, 'ad')}" requiredCond="true" compId="ulkeRef"
				value="#{universiteController.universite.ulkeRef}" converterId="#{'ulkeConverter'}" id="ulkeRefDropDown" ajaxEventListener="#{universiteController.handleChange}"
				changeEventUpdateComp="#{':universiteForm:ilRefDropDown:ilRef'}" />
			<arf:dropdown label="#{label['universite.ilRef']}" listSource="#{universiteController.ilItemList}" requiredCond="#{universiteController.universite.ulkeRef.RID == 1}"
				compId="ilRef" value="#{universiteController.universite.ilRef}" converterId="#{'sehirConverter'}" id="ilRefDropDown" />

			<arf:textinput label="#{label['universite.webadresi']}" value="#{universiteController.universite.webadresi}" compId="webadresi" requiredCond="false" id="webadresiInputText"
				maxLength="60" />
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{universiteController}" formName="universiteForm" listPanelName="universiteListPanel"
			editPanelName="universiteEditPanel" modelName="universite" />
	</p:fieldset>

</ui:composition>