<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="universiteFakulteEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['universiteFakulte.edit']}"
		rendered="#{universiteFakulteController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['universiteFakulte.fakulteRef']}" listSource="#{universiteFakulteController.selectItemListFor('Fakulte')}" requiredCond="true"
				compId="fakulteRef" value="#{universiteFakulteController.universiteFakulte.fakulteRef}" converterId="#{'fakulteConverter'}" id="fakulteRefDropDown" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{universiteFakulteController}" formName="universiteFakulteForm" listPanelName="universiteFakulteListPanel"
			editPanelName="universiteFakulteEditPanel" modelName="universiteFakulte" />
	</p:fieldset>

</ui:composition>