<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="universiteFakulteForm" prependId="false">
				<arf:masterPanel controllerClassName="#{universiteFakulteController}" masterLabel="#{label['universiteFakulte.list']}" modelName="universiteFakulte" />
				<ui:include src="/_page/form/system/universiteFakulte_Edit.xhtml" />

				<p:fieldset legend="#{label['universiteFakulte.list']}" styleClass="pageFieldSet" id="universiteFakulteListPanel">
					<p:blockUI block="universiteFakulteTable" trigger="universiteFakulteTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="universiteFakulteTable" value="#{universiteFakulteController.list}" var="universiteFakulteRow"
						binding="#{universiteFakulteController.table}" rowIndexVar="rowIndex" selectionMode="single" selection="#{universiteFakulteController.entity}"
						filteredValue="#{universiteFakulteController.filteredList}" widgetVar="filterTable" rowKey="#{universiteFakulteRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{universiteFakulteController.tableRowSelect}" update=":universiteFakulteForm" />
						<p:ajax event="rowUnselect" listener="#{universiteFakulteController.tableRowCancelSelection}" update=":universiteFakulteForm" />

						<arftags:column val="#{universiteFakulteRow.fakulteRef.UIString}" header="#{label['universiteFakulte.fakulteRef']}" width="10" />
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{universiteFakulteController}" formName="universiteFakulteForm" listPanelName="universiteFakulteListPanel"
						pagingOption="true" tableName="universiteFakulteTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
