<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="uyarinotForm" prependId="false">

				<ui:include src="/_page/form/system/uyarinot_Edit.xhtml" />

				<p:fieldset id="uyarinotFilterPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['uyarinot.query']}" rendered="#{!uyarinotController.editPanelRendered}">
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:dropdown label="#{label['uyarinot.kullaniciRef']}" listSource="#{uyarinotController.selectItemListFor('Kisi')}" requiredCond="false" compId="kullaniciRefForFilter"
							value="#{uyarinotController.uyarinotFilter.kullaniciRef}" converterId="#{'kisiConverter'}" id="kullaniciRefForFilterDropDown" rendered="false" />

						<arf:dropdown label="#{label['uyarinot.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="false" compId="birimRefForFilter"
							value="#{uyarinotController.uyarinotFilter.birimRef}" converterId="#{'birimConverter'}" id="birimRefForFilterDropDown" />

						<arf:dropdown label="#{label['uyarinot.uyaritip']}" listSource="#{enumeratedController.uyariTipiItems}" requiredCond="false" compId="uyaritipForFilter"
							value="#{uyarinotController.uyarinotFilter.uyaritip}" id="uyaritipForFilterDropDown" />

						<arf:calendar label="#{label['uyarinot.tarih']}" value="#{uyarinotController.uyarinotFilter.tarih}" id="tarihForFilterCalendar"
							pattern="#{configurationController.datePattern}" requiredCond="false" compId="tarihForFilter" />

						<arf:calendar label="#{label['uyarinot.gecerliliktarih']}" value="#{uyarinotController.uyarinotFilter.gecerliliktarih}" id="gecerliliktarihForFilterCalendar"
							pattern="#{configurationController.datePattern}" requiredCond="false" compId="gecerliliktarihForFilter" />

						<arf:textinput label="#{label['uyarinot.uyarimetin']}" value="#{uyarinotController.uyarinotFilter.uyarimetin}" compId="uyarimetinForFilter" requiredCond="false"
							id="uyarimetinForFilterInputText" maxLength="100" />

						<arf:dropdown label="#{label['uyarinot.uyariDurum']}" listSource="#{enumeratedController.uyariDurumItems}" requiredCond="false" compId="uyariDurumForFilter"
							value="#{uyarinotController.uyarinotFilter.uyariDurum}" id="uyariDurumForFilterDropDown" />

					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{uyarinotController}" formName="uyarinotForm" listPanelName="uyarinotListPanel" filterPanelName="uyarinotFilterPanel"
						modelName="Uyarinot" />
				</p:fieldset>

				<p:fieldset legend="#{label['uyarinot.list']}" styleClass="pageFieldSet" id="uyarinotListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="uyarinotTable" trigger="uyarinotTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="uyarinotTable" value="#{uyarinotController.list}" var="uyarinotRow" binding="#{uyarinotController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{uyarinotController.entity}" filteredValue="#{uyarinotController.filteredList}" widgetVar="filterTable" rowKey="#{uyarinotRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{uyarinotController.tableRowSelect}" update=":uyarinotForm" />
						<p:ajax event="rowUnselect" listener="#{uyarinotController.tableRowCancelSelection}" update=":uyarinotForm" />

						<arftags:column val="#{uyarinotRow.kullaniciRef.UIString}" header="#{label['uyarinot.kullaniciRef']}" width="14" />
						<arftags:column val="#{uyarinotRow.birimRef.UIString}" header="#{label['uyarinot.birimRef']}" width="14" />
						<arftags:column val="#{uyarinotRow.uyaritip.label}" header="#{label['uyarinot.uyaritip']}" width="14" />
						<arftags:dateColumn val="#{uyarinotRow.tarih}" header="#{label['uyarinot.tarih']}" width="14" />
						<arftags:dateColumn val="#{uyarinotRow.gecerliliktarih}" header="#{label['uyarinot.gecerliliktarih']}" width="14" />
						<arftags:column val="#{uyarinotRow.uyarimetin}" header="#{label['uyarinot.uyarimetin']}" width="14" />
						<arftags:column val="#{uyarinotRow.uyariDurum.label}" header="#{label['uyarinot.uyariDurum']}" width="14" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{uyarinotController}" formName="uyarinotForm" listPanelName="uyarinotListPanel" pagingOption="true" tableName="uyarinotTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
