<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="uyarinotEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['uyarinot.edit']}" rendered="#{uyarinotController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['uyarinot.kullaniciRef']}" listSource="#{uyarinotController.selectItemListFor('Kisi')}" requiredCond="true" compId="kullaniciRef"
				value="#{uyarinotController.uyarinot.kullaniciRef}" converterId="#{'kisiConverter'}" id="kullaniciRefDropDown" />

			<arf:dropdown label="#{label['uyarinot.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="false" compId="birimRef"
				value="#{uyarinotController.uyarinot.birimRef}" converterId="#{'birimConverter'}" id="birimRefDropDown" />

			<arf:dropdown label="#{label['uyarinot.uyaritip']}" listSource="#{enumeratedController.uyariTipiItems}" requiredCond="false" compId="uyaritip"
				value="#{uyarinotController.uyarinot.uyaritip}" id="uyaritipDropDown" />

			<arf:calendar label="#{label['uyarinot.tarih']}" value="#{uyarinotController.uyarinot.tarih}" id="tarihCalendar" pattern="#{configurationController.datePattern}"
				requiredCond="true" compId="tarih" />

			<arf:calendar label="#{label['uyarinot.gecerliliktarih']}" value="#{uyarinotController.uyarinot.gecerliliktarih}" id="gecerliliktarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="gecerliliktarih" />

			<arf:textinput label="#{label['uyarinot.uyarimetin']}" value="#{uyarinotController.uyarinot.uyarimetin}" compId="uyarimetin" requiredCond="true" id="uyarimetinInputText"
				maxLength="100" />

			<arf:dropdown label="#{label['uyarinot.uyariDurum']}" listSource="#{enumeratedController.uyariDurumItems}" requiredCond="false" compId="uyariDurum"
				value="#{uyarinotController.uyarinot.uyariDurum}" id="uyariDurumDropDown" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{uyarinotController}" formName="uyarinotForm" listPanelName="uyarinotListPanel" editPanelName="uyarinotEditPanel"
			modelName="Uyarinot" />
	</p:fieldset>

</ui:composition>