<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<h:body>
		<h:form id="uyeForm" prependId="false">

			<p:blockUI block="uyeTable" trigger="uyeTable">
				<h:outputText value="#{label['common.loading']}" />
				<br />
				<h:graphicImage library="_image" name="ajax-loader.gif" />
			</p:blockUI>
			<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="uyeTable" value="#{uyeRaporlamaController.uyeRaporList}" var="uyeRow" binding="#{uyeRaporlamaController.table}"
				rowIndexVar="rowIndex" rowKey="#{uyeRow.RID}" resizableColumns="false">

				<arftags:column val="#{uyeRow.kisiRef.UIString}" header="#{label['uye.kisiRef']}" width="10" />
				<arftags:column val="#{uyeRow.sicilno}" header="#{label['uye.sicilno']}" width="10" />
				<arftags:column val="#{uyeRow.birimRef.sehirRef.ad}" header="#{label['birim.sehirRef']}" width="10" />
				<arftags:column val="#{uyeRow.uyetip.label}" header="#{label['uye.uyetip']}" width="10" />
				<arftags:column val="#{uyeRow.birimRef.ad}" header="#{label['uye.birimRef']}" width="10" />
				<arftags:columnHtml val="#{uyeRow.iletisimTercih}" header="#{label['uye.iletisimtip']}" width="10" />
				<arftags:numericColumn val="#{uyeRow.uyeAidatBorc}" header="#{label['uyeaidat.borc']}" width="10" />
				<arftags:column val="#{uyeRow.kisiRef.kisiTelefon.UIString}" header="#{label['uye.telefon']}" width="10" />
				<arftags:column val="#{uyeRow.kisiRef.kisiInternetadres.UIString}" header="#{label['uye.email']}" width="10" />

			</p:dataTable>
		</h:form>
	</h:body>
</ui:composition>
