<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<style>
			#uyeRaporlamaTable {
				border-collapse: collapse;
				border: 0px solid #F2F2F2;
			}
			
			#uyeRaporlamaTable td,#uyeRaporlamaTable th {
				height: 25px;
			}
		</style>
		<h:body>
			<h:form id="uyeRaporlamaForm" prependId="false">

				<p:panel id="uyePanel" toggleable="true" header="Üye Kriterleri" collapsed="#{uyeRaporlamaController.uyePanelCollapsed}"
					style="padding:none; -moz-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 2px 2px gray; -webkit-box-shadow: 2px 2px gray; box-shadow: 2px 2px gray; width: 98%; margin-left: 0.5%;
					margin-top: 10px; margin-bottom: 10px;">
					<h:panelGrid id="uyeRaporlamaTable" columns="2" width="102%" style="margin-left:-1%;" cellspacing="0" cellpadding="0" columnClasses="elliYuzde, elliYuzde">

						<arf:dropdownForFilter label="#{label['uye.uyetip']}" listSource="#{enumeratedController.uyeTipItems}" requiredCond="false" compId="uyeTip"
							value="#{uyeRaporlamaController.uyeRaporlamaFilter.uyeTip}" id="uyeTipDropDown" addNullOption="true" />
						<arf:dropdownForFilter label="#{label['uye.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="false" compId="birimRef"
							value="#{uyeRaporlamaController.uyeRaporlamaFilter.secilenBirim}" converterId="#{'birimConverter'}" id="birimRefDropDown" />

						<arf:doubleCalendarForFilter label="#{label['uye.uyeliktarih']}" value="#{uyeRaporlamaController.uyeRaporlamaFilter.uyeliktarih}"
							valueMax="#{uyeRaporlamaController.uyeRaporlamaFilter.uyeliktarihMax}" id="uyeliktarihForFilterCalendar" pattern="#{configurationController.datePattern}"
							requiredCond="false" compId="uyeliktarihForFilter" />

						<arf:dropdownForFilter label="#{label['uye.uyedurum']}" listSource="#{enumeratedController.uyeDurumItems}" requiredCond="false" compId="uyeDurum"
							value="#{uyeRaporlamaController.uyeRaporlamaFilter.uyeDurum}" id="uyeDurumDropDown" addNullOption="true" />

						<arf:dropdownForFilter label="#{label['uye.kayitdurum']}" listSource="#{enumeratedController.uyeKayitDurumItems}" requiredCond="false" compId="uyeKayitDurum"
							value="#{uyeRaporlamaController.uyeRaporlamaFilter.uyeKayitDurum}" id="uyeKayitDurumDropDown" addNullOption="true" />


					</h:panelGrid>
					<h:panelGrid columns="3" width="102%" border="0" style="margin-left:-0.6%;" columnClasses="yirmiYuzde, elliYuzde, otuzYuzde">
						<h:outputText value="#{label['uyeRaporlama.uyeAidatBorcAralik']} : " styleClass="optionalOutputText" style="padding-right:10px" />
						<h:panelGroup>
							<h:inputText id="uyeAidatBorcMin" value="#{uyeRaporlamaController.uyeRaporlamaFilter.uyeAidatBorcMin}" title="#{label['uyeRaporlama.uyeAidatBorcMin']}" required="false"
								styleClass="optionalInputText" size="5" readonly="false" style="width:60px">
								<f:validateDoubleRange minimum="0" maximum="9999999" />
							</h:inputText>
							<h:outputText value=" - " />
							<h:inputText id="uyeAidatBorcMax" value="#{uyeRaporlamaController.uyeRaporlamaFilter.uyeAidatBorcMax}" title="#{label['uyeRaporlama.uyeAidatBorcMax']}" required="false"
								styleClass="optionalInputText" size="5" readonly="false" style="width:60px">
								<f:validateDoubleRange minimum="0" maximum="9999999" />
							</h:inputText>
							<h:outputText value="#{label['uyeRaporlama.uyeAidatBorcNot']} : " styleClass="optionalOutputText" style="padding-left:5px; font-size:10px" />
						</h:panelGroup>
						<h:panelGroup>
							<h:outputText value="#{label['uyeRaporlama.uyeAidatBorcYok']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
							<p:selectBooleanCheckbox id="uyeAidatBorcSifirla" value="#{uyeRaporlamaController.uyeRaporlamaFilter.uyeAidatBorcYok}" title="#{label['uyeRaporlama.uyeAidatBorcYok']}">
								<p:ajax event="change" process="uyeAidatBorcSifirla" update="uyeAidatBorcMax uyeAidatBorcMin" listener="#{uyeRaporlamaController.handleUyeAidatBorcDurumValueChange}" />
							</p:selectBooleanCheckbox>
						</h:panelGroup>
					</h:panelGrid>
				</p:panel>

				<p:panel id="uyeDetayPanelBir" toggleable="true" header="Üye Detay Kriterleri" collapsed="#{uyeRaporlamaController.uyeDetayPanelBirCollapsed}"
					style="padding:none; -moz-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 2px 2px gray; -webkit-box-shadow: 2px 2px gray; box-shadow: 2px 2px gray; width: 98%; margin-left: 0.5%;
					margin-top: 10px; margin-bottom: 10px;">

					<h:panelGrid id="uyeRaporlamaDetayBirTable2" columns="2" width="102%" style="margin-left:-1%;" cellspacing="0" cellpadding="0" columnClasses="elliYuzde, elliYuzde">

						<arf:dropdownForFilter label="#{label['kisikimlik.cinsiyet']}" listSource="#{enumeratedController.cinsiyetItems}" requiredCond="false" compId="cinsiyet"
							value="#{uyeRaporlamaController.uyeRaporlamaFilter.cinsiyet}" id="cinsiyetDropDown" addNullOption="true" />

						<arf:doubleCalendarForFilter label="#{label['kisikimlik.dogumtarih']}" value="#{uyeRaporlamaController.uyeRaporlamaFilter.dogumtarih}"
							valueMax="#{uyeRaporlamaController.uyeRaporlamaFilter.dogumtarihMax}" id="dogumtarihForFilterCalendar" pattern="#{configurationController.datePattern}"
							requiredCond="false" compId="dogumtarihForFilter" />

						<h:panelGrid columns="3" width="100%" border="0" columnClasses="kirkYuzde, otuzYuzde, otuzYuzde" style="min-height:90px">
							<h:outputText value="#{label['uyeRaporlama.uyeCezaDurum']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
							<h:panelGroup id="uyeCezaDurumGroup">
								<h:selectOneMenu id="uyeCezaVarYok" value="#{uyeRaporlamaController.uyeRaporlamaFilter.uyeCezaVarYok}" disabled="false" title="#{label['uyeRaporlama.uyeCezaDurum']}"
									required="false" styleClass="optionalInputText" style="width:60px;">
									<f:selectItems value="#{enumeratedController.varYokTumuItems}" />
									<f:ajax event="valueChange" listener="#{uyeRaporlamaController.handleUyeRaporValueChanges}" render="uyeCezaDurumGroup" execute="uyeCezaVarYok" />
								</h:selectOneMenu>
								<br />
								<h:selectManyListbox id="uyeCezaDurumForFilter" value="#{uyeRaporlamaController.uyeRaporlamaFilter.uyeCezaList}" disabled="false"
									title="#{label['uyeRaporlama.uyeCezaDurum']}" required="false" styleClass="optionalInputText" size="5"
									rendered="#{uyeRaporlamaController.uyeRaporlamaFilter.uyeCezaVarYok.code == 1}">
									<f:selectItems value="#{uyeRaporlamaController.selectItemListForWithoutNullOption('Cezatip')}" />
									<f:converter converterId="cezatipConverter" />
								</h:selectManyListbox>
							</h:panelGroup>
							<p:spacer />
						</h:panelGrid>
						<h:panelGrid columns="3" width="100%" border="0" columnClasses="kirkYuzde, otuzYuzde, otuzYuzde" style="min-height:90px">
							<h:outputText value="#{label['uyeRaporlama.uyeMuafiyetleri']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
							<h:panelGroup id="uyeMuafiyetDurumGroup">
								<h:selectOneMenu id="uyeMuafiyetVarYok" value="#{uyeRaporlamaController.uyeRaporlamaFilter.uyeMuafiyetVarYok}" disabled="false"
									title="#{label['uyeRaporlama.uyeMuafiyetleri']}" required="false" styleClass="optionalInputText" style="width:60px;">
									<f:selectItems value="#{enumeratedController.varYokTumuItems}" />
									<f:ajax event="valueChange" listener="#{uyeRaporlamaController.handleUyeRaporValueChanges}" render="uyeMuafiyetDurumGroup" execute="uyeMuafiyetVarYok" />
								</h:selectOneMenu>
								<br />
								<h:selectManyListbox id="uyeMuafiyetDurumForFilter" value="#{uyeRaporlamaController.uyeRaporlamaFilter.uyeMuafiyetList}" disabled="false"
									title="#{label['uyeRaporlama.uyeMuafiyetleri']}" required="false" styleClass="optionalInputText" size="5"
									rendered="#{uyeRaporlamaController.uyeRaporlamaFilter.uyeMuafiyetVarYok.code == 1}">
									<f:selectItems value="#{enumeratedController.uyeMuafiyetTipItems}" />
								</h:selectManyListbox>
							</h:panelGroup>
							<p:spacer />
						</h:panelGrid>
						<h:panelGrid columns="3" width="100%" border="0" columnClasses="kirkYuzde, otuzYuzde, otuzYuzde" style="min-height:90px">
							<h:outputText value="#{label['uyeRaporlama.uyeOdulleri']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
							<h:panelGroup id="uyeOdulDurumGroup">
								<h:selectOneMenu id="uyeOdulVarYok" value="#{uyeRaporlamaController.uyeRaporlamaFilter.uyeOdulVarYok}" disabled="false" title="#{label['uyeRaporlama.uyeOdulleri']}"
									required="false" styleClass="optionalInputText" style="width:60px;">
									<f:selectItems value="#{enumeratedController.varYokTumuItems}" />
									<f:ajax event="valueChange" listener="#{uyeRaporlamaController.handleUyeRaporValueChanges}" render="uyeOdulDurumGroup" execute="uyeOdulVarYok" />
								</h:selectOneMenu>
								<br />
								<h:selectManyListbox id="uyeOdulDurumForFilter" value="#{uyeRaporlamaController.uyeRaporlamaFilter.uyeOdulList}" disabled="false"
									title="#{label['uyeRaporlama.uyeOdulleri']}" required="false" styleClass="optionalInputText" size="5"
									rendered="#{uyeRaporlamaController.uyeRaporlamaFilter.uyeOdulVarYok.code == 1}">
									<f:selectItems value="#{uyeRaporlamaController.selectItemListForWithoutNullOption('Odultip')}" />
									<f:converter converterId="odultipConverter" />
								</h:selectManyListbox>
							</h:panelGroup>
							<p:spacer />
						</h:panelGrid>
						<h:panelGrid columns="3" width="100%" border="0" columnClasses="kirkYuzde, otuzYuzde, otuzYuzde" style="min-height:90px">
							<h:outputText value="#{label['uyeRaporlama.kisiOgrenimTipleri']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
							<h:panelGroup id="kisiOgrenimTipDurumGroup">
								<h:selectOneMenu id="kisiOgrenimVarYok" value="#{uyeRaporlamaController.uyeRaporlamaFilter.kisiOgrenimVarYok}" disabled="false"
									title="#{label['uyeRaporlama.kisiOgrenimTipleri']}" required="false" styleClass="optionalInputText" style="width:60px;">
									<f:selectItems value="#{enumeratedController.varYokTumuItems}" />
									<f:ajax event="valueChange" listener="#{uyeRaporlamaController.handleUyeRaporValueChanges}" render="kisiOgrenimTipDurumGroup" execute="kisiOgrenimVarYok" />
								</h:selectOneMenu>
								<br />
								<h:selectManyListbox id="kisiOgrenimTipDurumForFilter" value="#{uyeRaporlamaController.uyeRaporlamaFilter.kisiOgrenimList}" disabled="false"
									title="#{label['uyeRaporlama.kisiOgrenimTipleri']}" required="false" styleClass="optionalInputText" size="5"
									rendered="#{uyeRaporlamaController.uyeRaporlamaFilter.kisiOgrenimVarYok.code == 1}">
									<f:selectItems value="#{enumeratedController.ogrenimTipItems}" />
								</h:selectManyListbox>
							</h:panelGroup>
							<p:spacer />
						</h:panelGrid>
						<h:panelGrid columns="3" width="100%" border="0" columnClasses="kirkYuzde, otuzYuzde, otuzYuzde" style="min-height:90px">
							<h:outputText value="#{label['uyeRaporlama.uyeSigortaTipleri']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
							<h:panelGroup id="uyeSigortaTipDurumGroup">
								<h:selectOneMenu id="uyeSigortaVarYok" value="#{uyeRaporlamaController.uyeRaporlamaFilter.uyeSigortaVarYok}" disabled="false"
									title="#{label['uyeRaporlama.uyeSigortaTipleri']}" required="false" styleClass="optionalInputText" style="width:60px;">
									<f:selectItems value="#{enumeratedController.varYokTumuItems}" />
									<f:ajax event="valueChange" listener="#{uyeRaporlamaController.handleUyeRaporValueChanges}" render="uyeSigortaTipDurumGroup" execute="uyeSigortaVarYok" />
								</h:selectOneMenu>
								<br />
								<h:selectManyListbox id="uyeSigortaTipDurumForFilter" value="#{uyeRaporlamaController.uyeRaporlamaFilter.uyeSigortaList}" disabled="false"
									title="#{label['uyeRaporlama.uyeSigortaTipleri']}" required="false" styleClass="optionalInputText" size="5"
									rendered="#{uyeRaporlamaController.uyeRaporlamaFilter.uyeSigortaVarYok.code == 1}">
									<f:selectItems value="#{enumeratedController.sigortaTipItems}" />
								</h:selectManyListbox>
							</h:panelGroup>
							<p:spacer />
						</h:panelGrid>
					</h:panelGrid>
				</p:panel>

				<p:panel id="kisiOgrenimPanel" toggleable="true" header="Üye Öğrenim Kriterleri" collapsed="#{uyeRaporlamaController.kisiOgrenimPanelCollapsed}"
					style="padding:none; -moz-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 2px 2px gray; -webkit-box-shadow: 2px 2px gray; box-shadow: 2px 2px gray; width: 98%; margin-left: 0.5%;
					margin-top: 10px; margin-bottom: 10px;">
					<h:panelGrid id="uyeRaporlamaOgrenimBirTable" columns="2" width="102%" style="margin-left:-1%;" cellspacing="0" cellpadding="0" columnClasses="elliYuzde, elliYuzde">

						<arf:textinput label="#{label['uye.mezuniyettarihi']}" value="#{uyeRaporlamaController.uyeRaporlamaFilter.mezuniyettarihi}" compId="mezuniyettarihi" requiredCond="false"
							id="mezuniyettarihi" maxLength="4" />
							
						<arf:dropdownForFilter label="#{label['kisiogrenim.ogrenimtip']}" listSource="#{enumeratedController.ogrenimTipItems}" requiredCond="false" compId="ogrenimTip"
							value="#{uyeRaporlamaController.uyeRaporlamaFilter.ogrenimtip}" id="ogrenimTipDropDown" addNullOption="true" />
							
						<arf:manyListForFilter id="universiteManyList" label="#{label['kisi.mezunolduguuniversite']}"
							listSource="#{uyeRaporlamaController.selectOrderedItemListWithoutNullOptionFor('Universite','o.ad')}" converterId="#{universiteConverter}" kayitSecLabel="Kayıt Seçiniz"
							size="5" value="#{uyeRaporlamaController.uyeRaporlamaFilter.universiteList}" compId="universite" requiredCond="false" addNullOption="true" />

						<arf:manyListForFilter id="bolumManyList" label="#{label['kisi.mezunoldugubolum']}"
							listSource="#{uyeRaporlamaController.selectOrderedItemListWithoutNullOptionFor('Bolum','o.ad')}" converterId="#{bolumConverter}" kayitSecLabel="Kayıt Seçiniz" size="5"
							value="#{uyeRaporlamaController.uyeRaporlamaFilter.bolumList}" compId="bolum" requiredCond="false" addNullOption="true" />
						<p:spacer />
					</h:panelGrid>
				</p:panel>

				<p:panel id="uyeIletisimPanel" toggleable="true" header="Üye İletişim Kriterleri" collapsed="#{uyeRaporlamaController.uyeIletisimPanelCollapsed}"
					style="padding:none; -moz-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 2px 2px gray; -webkit-box-shadow: 2px 2px gray; box-shadow: 2px 2px gray; width: 98%; margin-left: 0.5%;
					margin-top: 10px; margin-bottom: 10px;">

					<h:panelGrid id="uyeRaporlamaIletisimBirTable1" columns="2" width="102%" style="margin-left:-1%;" cellspacing="0" cellpadding="0" columnClasses="elliYuzde, elliYuzde">
						<arf:dropdownForFilter label="#{label['uye.yasadigiIl']}" listSource="#{sessionUser.sehirItemList}" requiredCond="false" compId="sehirRefAdres"
							value="#{uyeRaporlamaController.uyeRaporlamaFilter.yasadigiIl}" converterId="#{'sehirConverter'}" id="yasadigisehirDropDownAdres" />
						<arf:dropdownForFilter label="#{label['uye.calistigiIl']}" listSource="#{sessionUser.sehirItemList}" requiredCond="false" compId="sehirRefAdres"
							value="#{uyeRaporlamaController.uyeRaporlamaFilter.calistigiIl}" converterId="#{'sehirConverter'}" id="calistigisehirDropDownAdres" />

						<arf:textinput label="#{label['uye.kurumadi']}" value="#{uyeRaporlamaController.uyeRaporlamaFilter.kurumadi}" compId="kurumadi" requiredCond="false"
							id="kurumadiinputtext" maxLength="100" />
					</h:panelGrid>
					<h:panelGrid id="uyeRaporlamaIletisimBirTable2" columns="2" width="102%" style="margin-left:-0.5%;" cellspacing="0" cellpadding="0" columnClasses="elliYuzde, elliYuzde">
						<h:panelGroup>
							<h:outputText value="#{label['uye.telefonAra']} : " styleClass="optionalOutputText" style="padding-right:10px" />
							<p:selectBooleanCheckbox id="telefonyok" value="#{uyeRaporlamaController.uyeRaporlamaFilter.telefonYok}" title="#{label['uye.telefonAra']}" />
						</h:panelGroup>

						<h:panelGroup>
							<h:outputText value="#{label['uye.epostaAra']} : " styleClass="optionalOutputText" style="padding-right:10px" />
							<p:selectBooleanCheckbox id="epostayok" value="#{uyeRaporlamaController.uyeRaporlamaFilter.epostaYok}" title="#{label['uye.telefonAra']}" />
						</h:panelGroup>
					</h:panelGrid>

				</p:panel>



				<p:panel id="listPanel" toggleable="true" header="Gösterilecek Alanlar" collapsed="#{uyeRaporlamaController.listeKriterleriPanelCollapsed}"
					style="padding:none; -moz-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 2px 2px gray; -webkit-box-shadow: 2px 2px gray; box-shadow: 2px 2px gray; width: 98%; margin-left: 0.5%;
					margin-top: 10px; margin-bottom: 10px;">
					<p:panelGrid id="listeleme" style="width:100%">
						<f:facet name="header">
							<p:row>
								<p:column colspan="2" rowspan="1">Üye</p:column>
								<p:column colspan="2" rowspan="1">Üye Detay</p:column>
								<p:column colspan="2" rowspan="1">Üye İletişim</p:column>
								<p:column colspan="2" rowspan="1">Üye Öğrenim</p:column>
							</p:row>
						</f:facet>
						<p:row>
							<p:column>
								<h:outputText value="#{label['uye.sicilno']} : " styleClass="optionalOutputText" style="padding-right:10px" />
							</p:column>
							<p:column>
								<p:selectBooleanCheckbox id="sicilnoyok" value="#{uyeRaporlamaController.uyeRaporlamaFilter.sicilnoyok}" title="#{label['uye.sicilno']}" />
							</p:column>
							<p:column>
								<h:outputText value="#{label['kisikimlik.cinsiyet']} : " styleClass="optionalOutputText" style="padding-right:10px" />
							</p:column>
							<p:column>
								<p:selectBooleanCheckbox id="cinsiyetyok" value="#{uyeRaporlamaController.uyeRaporlamaFilter.cinsiyetyok}" title="#{label['uye.cinsiyet']}" />
							</p:column>
							<p:column>
								<h:outputText value="#{label['uye.isyeri']} : " styleClass="optionalOutputText" style="padding-right:10px" />
							</p:column>
							<p:column>
								<p:selectBooleanCheckbox id="isyeriyok" value="#{uyeRaporlamaController.uyeRaporlamaFilter.isyeriyok}" title="#{label['uye.isyeri']}" />
							</p:column>
							<p:column>
								<h:outputText value="#{label['kisi.mezunolduguuniversite']} : " styleClass="optionalOutputText" style="padding-right:10px" />
							</p:column>
							<p:column>
								<p:selectBooleanCheckbox id="universiteyok" value="#{uyeRaporlamaController.uyeRaporlamaFilter.mouniversiteyok}" title="#{label['kisi.mezunolduguuniversite']}" />
							</p:column>
						</p:row>

						<p:row>
							<p:column>
								<h:outputText value="#{label['uye.ad']} : " styleClass="optionalOutputText" style="padding-right:10px" />
							</p:column>
							<p:column>
								<p:selectBooleanCheckbox id="adyok" value="#{uyeRaporlamaController.uyeRaporlamaFilter.adyok}" title="#{label['uye.ad']}" />
							</p:column>
							<p:column>
								<h:outputText value="#{label['uye.dogumtarihi']} : " styleClass="optionalOutputText" style="padding-right:10px" />
							</p:column>
							<p:column>
								<p:selectBooleanCheckbox id="dogumtarihiyok" value="#{uyeRaporlamaController.uyeRaporlamaFilter.dogumtarihiyok}" title="#{label['uye.dogumtarihi']}" />
							</p:column>
							<p:column>
								<h:outputText value="#{label['uye.isyeriadres']} : " styleClass="optionalOutputText" style="padding-right:10px" />
							</p:column>
							<p:column>
								<p:selectBooleanCheckbox id="isyeriadres" value="#{uyeRaporlamaController.uyeRaporlamaFilter.isadresiyok}" title="#{label['uye.isyeriadres']}" />
							</p:column>
							<p:column>
								<h:outputText value="#{label['kisi.mezunoldugubolum']} : " styleClass="optionalOutputText" style="padding-right:10px" />
							</p:column>
							<p:column>
								<p:selectBooleanCheckbox id="bolumyok" value="#{uyeRaporlamaController.uyeRaporlamaFilter.mobolumyok}" title="#{label['kisi.mezunoldugubolum']}" />
							</p:column>
						</p:row>

						<p:row>
							<p:column>
								<h:outputText value="#{label['uye.soyad']} : " styleClass="optionalOutputText" style="padding-right:10px" />
							</p:column>
							<p:column>
								<p:selectBooleanCheckbox id="soyadyok" value="#{uyeRaporlamaController.uyeRaporlamaFilter.soyadyok}" title="#{label['uye.soyad']}" />
							</p:column>
							<p:column colspan="2" />
							<p:column>
								<h:outputText value="#{label['uye.evadresi']} : " styleClass="optionalOutputText" style="padding-right:10px" />
							</p:column>
							<p:column>
								<p:selectBooleanCheckbox id="evadresi" value="#{uyeRaporlamaController.uyeRaporlamaFilter.evadresiyok}" title="#{label['uye.evadresi']}" />
							</p:column>
							<p:column>
								<h:outputText value="#{label['kisiogrenim.mezuniyettarihi']} : " styleClass="optionalOutputText" style="padding-right:10px" />
							</p:column>
							<p:column>
								<p:selectBooleanCheckbox id="mezuniyettarihiyok" value="#{uyeRaporlamaController.uyeRaporlamaFilter.mezuniyetyiliyok}" title="#{label['kisiogrenim.mezuniyettarihi']}" />
							</p:column>
						</p:row>

						<p:row>
							<p:column>
								<h:outputText value="#{label['uye.birim']} : " styleClass="optionalOutputText" style="padding-right:10px" />
							</p:column>
							<p:column>
								<p:selectBooleanCheckbox id="birimyok" value="#{uyeRaporlamaController.uyeRaporlamaFilter.birimyok}" title="#{label['uye.birim']}" />
							</p:column>
							<p:column colspan="2" />

							<p:column>
								<h:outputText value="#{label['uye.yasadigiilyok']} : " styleClass="optionalOutputText" style="padding-right:10px" />
							</p:column>
							<p:column>
								<p:selectBooleanCheckbox id="yasadigiilyok" value="#{uyeRaporlamaController.uyeRaporlamaFilter.yasadigiilyok}" title="#{label['uye.yasadigiilyok']}" />
							</p:column>
							<p:column>
								<h:outputText value="#{label['kisiogrenim.ogrenimtip']} : " styleClass="optionalOutputText" style="padding-right:10px" />
							</p:column>
							<p:column>
								<p:selectBooleanCheckbox id="ogrenimtipyok" value="#{uyeRaporlamaController.uyeRaporlamaFilter.ogrenimtipiyok}" title="#{label['kisiogrenim.ogrenimtipyok']}" />
							</p:column>
						</p:row>


						<p:row>
							<p:column>
								<h:outputText value="#{label['uye.uyeliktarih']} : " styleClass="optionalOutputText" style="padding-right:10px" />
							</p:column>
							<p:column>
								<p:selectBooleanCheckbox id="uyeliktarih" value="#{uyeRaporlamaController.uyeRaporlamaFilter.uyeliktarihiyok}" title="#{label['uye.uyeliktarih']}" />
							</p:column>
							<p:column colspan="2" />

							<p:column>
								<h:outputText value="#{label['uye.calistigiilyok']} : " styleClass="optionalOutputText" style="padding-right:10px" />
							</p:column>
							<p:column>
								<p:selectBooleanCheckbox id="calistigiilyok" value="#{uyeRaporlamaController.uyeRaporlamaFilter.calistigiilyok}" title="#{label['uye.calistigiilyok']}" />
							</p:column>
							<p:column colspan="2" />
						</p:row>

						<p:row>
							<p:column>
								<h:outputText value="#{label['uyeaidat.borc']} : " styleClass="optionalOutputText" style="padding-right:10px" />
							</p:column>
							<p:column>
								<p:selectBooleanCheckbox id="borc" value="#{uyeRaporlamaController.uyeRaporlamaFilter.aidatborcuyok}" title="#{label['uyeaidat.borc']}" />
							</p:column>
							<p:column colspan="2" />

							<p:column>
								<h:outputText value="#{label['uye.telefon']} : " styleClass="optionalOutputText" style="padding-right:10px" />
							</p:column>
							<p:column>
								<p:selectBooleanCheckbox id="gsmyok" value="#{uyeRaporlamaController.uyeRaporlamaFilter.gsmyok}" title="#{label['uye.telefon']}" />
							</p:column>
							<p:column colspan="2" />
						</p:row>
						<p:row>
							<p:column>
								<h:outputText value="#{label['uye.uyedurum']} : " styleClass="optionalOutputText" style="padding-right:10px" />
							</p:column>
							<p:column>
								<p:selectBooleanCheckbox id="uyedurum" value="#{uyeRaporlamaController.uyeRaporlamaFilter.uyedurumyok}" title="#{label['uye.uyedurum']}" />
							</p:column>
							<p:column colspan="2" />

							<p:column>
								<h:outputText value="#{label['uye.eposta']} : " styleClass="optionalOutputText" style="padding-right:10px" />
							</p:column>
							<p:column>
								<p:selectBooleanCheckbox id="postayok" value="#{uyeRaporlamaController.uyeRaporlamaFilter.postayok}" title="#{label['uye.eposta']}" />
							</p:column>
							<p:column colspan="2" />
						</p:row>

						<p:row>
							<p:column>
								<h:outputText value="#{label['uye.uyetip']} : " styleClass="optionalOutputText" style="padding-right:10px" />
							</p:column>
							<p:column>
								<p:selectBooleanCheckbox id="uyetip" value="#{uyeRaporlamaController.uyeRaporlamaFilter.uyetipiyok}" title="#{label['uye.uyetip']}" />
							</p:column>
							<p:column colspan="2" />
							<p:column colspan="2" />
							<p:column colspan="2" />
						</p:row>
					</p:panelGrid>
				</p:panel>

				<h:panelGrid columns="2" columnClasses="elliYuzde,elliYuzde" style="width: 98%; margin-left: 0.5%; border:1px solid lightgray; height:45px; text-align:center">

					<h:panelGrid columns="3" columnClasses="otuzYuzde,otuzYuzde, otuzYuzde">
						<arf:dropdownForFilter label="#{label['kullanicirapor.list']}" listSource="#{uyeRaporlamaController.kullaniciRaporList}" requiredCond="false" compId="kullaniciraporRef"
							value="#{uyeRaporlamaController.uyeRaporlamaFilter.kullanicirapor}" converterId="#{'kullaniciraporConverter'}" id="kullaniciraporlist"
							ajaxEventListener="#{uyeRaporlamaController.handleChangeKullaniciRapor}" changeEventUpdateComp="#{':uyeRaporlamaForm'}" />

						<p:commandButton id="filterCommandForUyeRaporlama" icon="search" value="#{label['command.query']}" action="#{uyeRaporlamaController.filterUye}" async="true" ajax="false"
							process="@form" update="@form :globalMessages" styleClass="arfCommandButton" onsuccess="uyeRaporDialog.show()" />
					</h:panelGrid>
					<h:panelGrid columns="3" columnClasses="otuzYuzde,otuzYuzde,otuzYuzde">
						<h:outputText value="#{label['kullanicirapor.raporadi']} : " styleClass="optionalOutputText" style="padding-left:50px; padding-right:10px" />
						<h:inputText value="#{uyeRaporlamaController.kullaniciRaporAdi}" required="false" title="#{label['kullanicirapor.raporadi']}" styleClass="optionalInputText"
							maxlength="250" />

						<p:commandButton id="saveKullaniciRaporForUyeRaporlama" icon="save" value="#{label['command.post']}" action="#{uyeRaporlamaController.saveKullaniciRapor}" async="true"
							ajax="true" process="@form" update="@form :globalMessages" styleClass="arfCommandButton" style="margin-left:10px" />
					</h:panelGrid>

				</h:panelGrid>
			</h:form>

			<p:dialog header="#{label['uye.list']}" id="uyeRaporDialogBox" widgetVar="uyeRaporDialog" style="position:absolute; left:5%; top:5%" modal="true"
				visible="#{uyeRaporlamaController.list.size() > 0}">
				<h:form id="uyeRaporSonucForm" prependId="false">

					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="uyeTable" value="#{uyeRaporlamaController.list}" var="uyeRow" binding="#{uyeRaporlamaController.table}" rowIndexVar="rowIndex"
						rowKey="#{uyeRow.RID}" resizableColumns="false">

						<arftags:columnWithRenderedCond val="#{uyeRow.sicilno}" header="#{label['uye.sicilno']}" width="10" renderCond="#{uyeRaporlamaController.uyeRaporlamaFilter.sicilnoyok}" />
						<arftags:columnWithRenderedCond val="#{uyeRow.kisiRef.ad}" header="#{label['uye.ad']}" width="10" renderCond="#{uyeRaporlamaController.uyeRaporlamaFilter.adyok}" />
						<arftags:columnWithRenderedCond val="#{uyeRow.kisiRef.soyad}" header="#{label['uye.soyad']}" width="10"
							renderCond="#{uyeRaporlamaController.uyeRaporlamaFilter.soyadyok}" />
						<arftags:columnWithRenderedCond val="#{uyeRow.birimRef.ad}" header="#{label['uye.birimRef']}" width="10"
							renderCond="#{uyeRaporlamaController.uyeRaporlamaFilter.birimyok}" />
						<arftags:dateColumnWithRndCond val="#{uyeRow.uyeliktarih}" header="#{label['uye.uyeliktarih']}" width="10"
							renderCond="#{uyeRaporlamaController.uyeRaporlamaFilter.uyeliktarihiyok}" />
						<arftags:columnWithRenderedCond val="#{uyeRow.uyedurum}" header="#{label['uye.uyedurum']}" width="10"
							renderCond="#{uyeRaporlamaController.uyeRaporlamaFilter.uyedurumyok}" />
						<arftags:columnWithRenderedCond val="#{uyeRow.uyetip.label}" header="#{label['uye.uyetip']}" width="10"
							renderCond="#{uyeRaporlamaController.uyeRaporlamaFilter.uyetipiyok}" />
						<arftags:columnWithRenderedCond val="#{uyeRow.kisikimlik.cinsiyet.label}" header="#{label['kisikimlik.cinsiyet']}" width="10"
							renderCond="#{uyeRaporlamaController.uyeRaporlamaFilter.cinsiyetyok}" />
						<arftags:dateColumnWithRndCond val="#{uyeRow.kisikimlik.dogumtarih}" header="#{label['kisikimlik.dogumtarih']}" width="10"
							renderCond="#{uyeRaporlamaController.uyeRaporlamaFilter.dogumtarihiyok}" />
						<arftags:columnWithRenderedCond val="#{uyeRow.uyekurum.kurumRef.UIStringShort}" header="#{label['uye.isyeri']}" width="10"
							renderCond="#{uyeRaporlamaController.uyeRaporlamaFilter.isyeriyok}" />
						<arftags:columnWithRenderedCond val="#{uyeRow.uyekurum.kurumRef.kurumAdres.acikAdres}" header="#{label['uye.isyeriadres']}" width="10"
							renderCond="#{uyeRaporlamaController.uyeRaporlamaFilter.isadresiyok}" />
						<arftags:columnWithRenderedCond val="#{uyeRow.uyekurum.kurumRef.kurumAdres.sehirRef.ad}" header="#{label['uye.calistigiilyok']}" width="10"
							renderCond="#{uyeRaporlamaController.uyeRaporlamaFilter.calistigiilyok}" />
						<arftags:columnWithRenderedCond val="#{uyeRow.evAdres.acikAdres}" header="#{label['uye.evadresi']}" width="10"
							renderCond="#{uyeRaporlamaController.uyeRaporlamaFilter.evadresiyok}" />
						<arftags:columnWithRenderedCond val="#{uyeRow.evAdres.sehirRef.ad}" header="#{label['uye.yasadigiilyok']}" width="10"
							renderCond="#{uyeRaporlamaController.uyeRaporlamaFilter.yasadigiilyok}" />
						<arftags:columnWithRenderedCond val="#{uyeRow.kisiRef.kisiTelefon.UIString}" header="#{label['uye.telefon']}" width="10"
							renderCond="#{uyeRaporlamaController.uyeRaporlamaFilter.gsmyok}" />
						<arftags:columnWithRenderedCond val="#{uyeRow.kisiRef.kisiInternetadres.UIString}" header="#{label['uye.email']}" width="10"
							renderCond="#{uyeRaporlamaController.uyeRaporlamaFilter.postayok}" />
						<arftags:columnWithRenderedCond val="#{uyeRow.kisiRef.kisiogrenim.universiteRef.UIString}" header="#{label['kisi.mezunolduguuniversite']}" width="10"
							renderCond="#{uyeRaporlamaController.uyeRaporlamaFilter.mouniversiteyok}" />
						<arftags:columnWithRenderedCond val="#{uyeRow.kisiRef.kisiogrenim.bolumRef.UIString}" header="#{label['kisi.mezunoldugubolum']}" width="10"
							renderCond="#{uyeRaporlamaController.uyeRaporlamaFilter.mobolumyok}" />
						<arftags:columnWithRenderedCond val="#{uyeRow.kisiRef.kisiogrenim.mezuniyettarihi}" header="#{label['kisiogrenim.mezuniyettarihi']}" width="10"
							renderCond="#{uyeRaporlamaController.uyeRaporlamaFilter.mezuniyetyiliyok}" />
						<arftags:columnWithRenderedCond val="#{uyeRow.kisiRef.kisiogrenim.ogrenimtip.label}" header="#{label['kisiogrenim.ogrenimtip']}" width="10"
							renderCond="#{uyeRaporlamaController.uyeRaporlamaFilter.ogrenimtipiyok}" />
						<arftags:numericColumnWithRndCond val="#{uyeRow.uyeAidatBorc}" header="#{label['uyeaidat.borc']}" width="10"
							renderCond="#{uyeRaporlamaController.uyeRaporlamaFilter.aidatborcuyok}" />

					</p:dataTable>
					<p align="center">
						<p:commandLink ajax="false" pageOnly="true" image="pdf" immediate="true" rendered="true" target="newPopup">
							<p:dataExporter type="pdf" target=":uyeRaporSonucForm:uyeTable" fileName="uyeTablePdfExport" excludeColumns="" preProcessor="#{uyeRaporlamaController.preProcessPDF}" />
							<h:graphicImage library="_image" name="pdf.png" width="20px" height="20px" styleClass="exportImage" />
						</p:commandLink>
						<p:commandLink ajax="false" pageOnly="true" image="excel" immediate="true" rendered="true" target="newPopup">
							<p:dataExporter type="xls" target=":uyeRaporSonucForm:uyeTable" fileName="uyeTableXlsExport" excludeColumns="" />
							<h:graphicImage library="_image" name="excel.png" width="20px" height="20px" style="margin-left:4px" styleClass="exportImage" />
						</p:commandLink>
						<p:commandLink ajax="false" pageOnly="true" image="csv" immediate="true" rendered="true" target="newPopup">
							<p:dataExporter type="csv" target=":uyeRaporSonucForm:uyeTable" fileName="uyeTableCsvExport" excludeColumns="" />
							<h:graphicImage library="_image" name="csv.png" width="20px" height="20px" style="margin-left:4px" styleClass="exportImage" />
						</p:commandLink>
					</p>
				</h:form>
			</p:dialog>
		</h:body>
	</ui:define>
</ui:composition>
