<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="uzmanliktipEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['uzmanliktip.edit']}" rendered="#{uzmanliktipController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:textinput label="#{label['uzmanliktip.kod']}" value="#{uzmanliktipController.uzmanliktip.kod}" compId="kod" requiredCond="true" id="kodInputText" maxLength="30" />

			<arf:textinput label="#{label['uzmanliktip.ad']}" value="#{uzmanliktipController.uzmanliktip.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="50" />

			<arf:textinput label="#{label['uzmanliktip.aciklama']}" value="#{uzmanliktipController.uzmanliktip.aciklama}" compId="aciklama" requiredCond="false" id="aciklamaInputText"
				maxLength="200" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{uzmanliktipController}" formName="uzmanliktipForm" listPanelName="uzmanliktipListPanel"
			editPanelName="uzmanliktipEditPanel" modelName="Uzmanliktip" />
	</p:fieldset>

</ui:composition>