<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="uzmanliktipForm" prependId="false">

				<ui:include src="/_page/form/system/uzmanliktip_Edit.xhtml" />

				<p:fieldset legend="#{label['uzmanliktip.list']}" styleClass="pageFieldSet" id="uzmanliktipListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="uzmanliktipTable" trigger="uzmanliktipTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="uzmanliktipTable" value="#{uzmanliktipController.list}" var="uzmanliktipRow" binding="#{uzmanliktipController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{uzmanliktipController.entity}" filteredValue="#{uzmanliktipController.filteredList}" widgetVar="filterTable"
						rowKey="#{uzmanliktipRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{uzmanliktipController.tableRowSelect}" update=":uzmanliktipForm" />
						<p:ajax event="rowUnselect" listener="#{uzmanliktipController.tableRowCancelSelection}" update=":uzmanliktipForm" />

						<arftags:column val="#{uzmanliktipRow.kod}" header="#{label['uzmanliktip.kod']}" width="33" />
						<arftags:column val="#{uzmanliktipRow.ad}" header="#{label['uzmanliktip.ad']}" width="33" />
						<arftags:column val="#{uzmanliktipRow.aciklama}" header="#{label['uzmanliktip.aciklama']}" width="33" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{uzmanliktipController}" formName="uzmanliktipForm" listPanelName="uzmanliktipListPanel" pagingOption="true"
						tableName="uzmanliktipTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
