<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="yayinForm" prependId="false">

				<ui:include src="/_page/form/system/yayin_Edit.xhtml" />

				<p:fieldset id="yayinFilterPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['yayin.query']}" rendered="#{!yayinController.editPanelRendered}">
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:dropdown label="#{label['yayin.yayintip']}" listSource="#{enumeratedController.yayinTipItems}" requiredCond="false" compId="yayintipForFilter"
							value="#{yayinController.yayinFilter.yayintip}" id="yayintipForFilterDropDown" />

					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{yayinController}" formName="yayinForm" listPanelName="yayinListPanel" filterPanelName="yayinFilterPanel"
						modelName="Yayin" />
				</p:fieldset>

				<p:fieldset legend="#{label['yayin.list']}" styleClass="pageFieldSet" id="yayinListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="yayinTable" trigger="yayinTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="yayinTable" value="#{yayinController.list}" var="yayinRow" binding="#{yayinController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{yayinController.entity}" filteredValue="#{yayinController.filteredList}" widgetVar="filterTable" rowKey="#{yayinRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{yayinController.tableRowSelect}" update=":yayinForm" />
						<p:ajax event="rowUnselect" listener="#{yayinController.tableRowCancelSelection}" update=":yayinForm" />

						<arftags:column val="#{yayinRow.ad}" header="#{label['yayin.ad']}" width="33" />
						<arftags:column val="#{yayinRow.yayintip.label}" header="#{label['yayin.yayintip']}" width="33" />
						<arftags:column val="#{yayinRow.aciklama}" header="#{label['yayin.aciklama']}" width="33" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{yayinController}" formName="yayinForm" listPanelName="yayinListPanel" pagingOption="true" tableName="yayinTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
