<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="yayinEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['yayin.edit']}" rendered="#{yayinController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:textinput label="#{label['yayin.ad']}" value="#{yayinController.yayin.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="250" />

			<arf:dropdown label="#{label['yayin.yayintip']}" listSource="#{enumeratedController.yayinTipItems}" requiredCond="false" compId="yayintip"
				value="#{yayinController.yayin.yayintip}" id="yayintipDropDown" />

			<arf:textinputarea label="#{label['yayin.aciklama']}" value="#{yayinController.yayin.aciklama}" compId="aciklama" requiredCond="true" id="aciklamaInputText"
				maxLength="2500" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{yayinController}" formName="yayinForm" listPanelName="yayinListPanel" editPanelName="yayinEditPanel" modelName="Yayin" />
	</p:fieldset>

</ui:composition>