<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="personelEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['ypersonel.edit']}" rendered="#{ypersonelController.editPanelRendered}">
		<br />
		<h:panelGrid columns="1" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['ypersonel.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="true" compId="birimRef"
				value="#{ypersonelController.personel.birimRef}" converterId="#{'birimConverter'}" />

			<arf:textoutput label="#{label['ypersonel.kisiRef']}" compId="kisiRefOutput" value="#{ypersonelController.personel.kisiRef.UIString}"
				rendered="#{ypersonelController.personel.RID != null}" />

			<arf:suggestbox label="#{label['ypersonel.kisiRef']}" methodName="#{ypersonelController.completeMethod}" requiredCond="false" compId="kisiRef"
				value="#{ypersonelController.personel.kisiRef}" id="kisiRefSuggestBox" converterId="#{'kisiConverter'}" modelName="#{'Kisi'}" var="kisiRec" itemValue="#{kisiRec}"
				itemLabel="#{kisiRec}" rendered="#{personelController.personel.RID == null}" />

			<arf:calendar label="#{label['ypersonel.baslamatarih']}" value="#{ypersonelController.personel.baslamatarih}" id="baslamatarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="baslamatarih" />
			<arf:calendar label="#{label['ypersonel.bitistarih']}" value="#{ypersonelController.personel.bitistarih}" id="bitistarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="false" compId="bitistarih" />
			<arf:dropdown label="#{label['ypersonel.durum']}" listSource="#{enumeratedController.personelDurumItems}" requiredCond="false" compId="durum"
				value="#{ypersonelController.personel.durum}" id="durumDropDown" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{personelController}" formName="personelForm" listPanelName="personelListPanel" editPanelName="personelEditPanel"
			modelName="Ypersonel" />
		<br />
		<br />
	</p:fieldset>

</ui:composition>