<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content"> 
		<h:body>
			<h:form id="borcForm" prependId="false">
				<arf:masterPanel controllerClassName="#{borcController}" masterLabel="" modelName="borc" rendered="false" />

				<ui:include src="/_page/form/finans/borc_Edit.xhtml" />

				<p:fieldset id="borcFilterPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['borc.query']}" rendered="#{!borcController.editPanelRendered}">
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

						<arf:dualtextinputForFilter label="#{label['kisi.ad']} - #{label['kisi.soyad']}" requiredCond="false" compId="kisiad" style="width:80px"
							value="#{borcController.borcFilter.ad}" maxLength="10" id="kisiAdSoyadForFilterDualTextInput" requiredCond2="false" compId2="kisisoyad" style2="width:80px"
							value2="#{borcController.borcFilter.soyad}" maxLength2="10" />

						<arf:dropdownForFilter label="#{label['borc.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="false" compId="birimRefForFilter"
							value="#{borcController.borcFilter.birimRef}" converterId="#{'birimConverter'}" id="birimRefForFilterDropDown" />
						<arf:dropdownForFilter label="#{label['borc.odemetipRef']}" listSource="#{borcController.selectItemListFor('Odemetip')}" requiredCond="false"
							compId="odemetipRefForFilter" value="#{borcController.borcFilter.odemetipRef}" converterId="#{'odemetipConverter'}" id="odemetipRefForFilterDropDown" />
						<arf:doubleCalendarForFilter label="#{label['borc.tarih']}" value="#{borcController.borcFilter.tarih}" valueMax="#{borcController.borcFilter.tarihMax}"
							id="tarihForFilterCalendar" pattern="#{configurationController.datePattern}" requiredCond="false" compId="tarih" />
						<arf:textinputForFilter label="#{label['borc.miktar']}" value="#{borcController.borcFilter.miktar}" compId="miktarForFilter" requiredCond="false"
							id="miktarForFilterInputText" />
						<arf:textinputForFilter label="#{label['borc.odenen']}" value="#{borcController.borcFilter.odenen}" compId="odenenForFilter" requiredCond="false"
							id="odenenForFilterInputText" />
						<arf:dropdownForFilter label="#{label['borc.borcdurum']}" listSource="#{enumeratedController.borcDurumItems}" requiredCond="false" compId="borcdurumForFilter"
							value="#{borcController.borcFilter.borcdurum}" id="borcdurumForFilterDropDown" addNullOption="true" />
					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{borcController}" formName="borcForm" listPanelName="borcListPanel" filterPanelName="borcFilterPanel" modelName="Borc" />
				</p:fieldset>

				<p:fieldset legend="#{label['borc.list']}" styleClass="pageFieldSet" id="borcListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
						<p:commandButton id="borcodemeCommand" process="@this" icon="child" action="#{borcController.borcodeme}" rendered="#{borcController.listRenderedFor('Borcodeme')}"
							disabled="#{borcController.borc.RID == null}" value="#{label['command.borcodeme']}" styleClass="arfCommandButton" style="width:150px" />

					</h:panelGrid>
					<p:blockUI block="borcTable" trigger="borcTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="borcTable" value="#{borcController.list}" var="borcRow" binding="#{borcController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{borcController.entity}" filteredValue="#{borcController.filteredList}" widgetVar="filterTable" rowKey="#{borcRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{borcController.tableRowSelect}" update=":borcForm" />
						<p:ajax event="rowUnselect" listener="#{borcController.tableRowCancelSelection}" update=":borcForm" />

						<arftags:column val="#{borcRow.kisiRef.UIString}" header="#{label['borc.kisiRef']}" width="14" />
						<arftags:column val="#{borcRow.birimRef.UIString}" header="#{label['borc.birimRef']}" width="14" />
						<arftags:column val="#{borcRow.egitimRef.UIString}" header="#{label['borc.egitimRef']}" width="14" />
						<arftags:column val="#{borcRow.odemetipRef.UIString}" header="#{label['borc.odemetipRef']}" width="14" />
						<arftags:dateColumn val="#{borcRow.tarih}" header="#{label['borc.tarih']}" width="14" />
						<arftags:numericColumn val="#{borcRow.miktar}" header="#{label['borc.miktar']}" width="14" />
						<arftags:numericColumn val="#{borcRow.odenen}" header="#{label['borc.odenen']}" width="14" />
						<arftags:numericColumn val="#{borcRow.kalan}" header="#{label['borc.kalan']}" width="14" />
						<arftags:column val="#{borcRow.borcdurum.label}" header="#{label['borc.borcdurum']}" width="14" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{borcController}" formName="borcForm" listPanelName="borcListPanel" pagingOption="true" tableName="borcTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset> 
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
