<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="borcEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['borc.edit']}" rendered="#{borcController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['borc.odemetipRef']}" listSource="#{borcController.selectItemListFor('Odemetip')}" requiredCond="true" compId="odemetipRef"
				value="#{borcController.borc.odemetipRef}" converterId="#{'odemetipConverter'}" id="odemetipRefDropDown" />
				
			<arf:dropdown label="#{label['borc.egitimRef']}" listSource="#{borcController.selectItemListFor('Egitim')}" requiredCond="true" compId="egitimRef"
				value="#{borcController.borc.egitimRef}" converterId="#{'egitimConverter'}" id="egitimRefDropDown" />

			<arf:calendar label="#{label['borc.tarih']}" value="#{borcController.borc.tarih}" id="tarihCalendar" pattern="#{configurationController.datePattern}" requiredCond="true"
				compId="tarih" />

			<arf:textinput label="#{label['borc.miktar']}" value="#{borcController.borc.miktar}" compId="miktar" requiredCond="true" id="miktarInputText"
				customValidatorId="#{'bigDecimalValidator'}" />

			<arf:textinput label="#{label['borc.odenen']}" value="#{borcController.borc.odenen}" compId="odenen" requiredCond="true" id="odenenInputText"
				customValidatorId="#{'bigDecimalValidator'}" />

			<arf:dropdown label="#{label['borc.borcdurum']}" listSource="#{enumeratedController.borcDurumItems}" requiredCond="false" compId="borcdurum"
				value="#{borcController.borc.borcdurum}" id="borcdurumDropDown" />
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{borcController}" formName="borcForm" listPanelName="borcListPanel" editPanelName="borcEditPanel" modelName="Borc" />
	</p:fieldset>

</ui:composition>