<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="odemeEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['odeme.edit']}"
		rendered="#{odemeController.editPanelRendered and !odemeController.uploadExcelPanelRendered}">

		<h:panelGrid columns="1" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:suggestbox label="#{label['odeme.kisiRef']}" methodName="#{odemeController.completeMethod}" requiredCond="false" compId="kisiRef" value="#{odemeController.odeme.kisiRef}"
				id="kisiRefSuggestBox" converterId="#{'kisiConverter'}" modelName="#{'Kisi'}" var="kisiRec" itemValue="#{kisiRec}" itemLabel="#{kisiRec}" rendered="#{odemeController.odeme.RID == null}"
				blockComponentId="#{':odemeForm:odemeEditPanel'}" />

			<arf:textoutput label="#{label['odeme.kisiRef']}" compId="kisiRefOutput" value="#{odemeController.odeme.kisiRef.UIString}" rendered="#{odemeController.odeme.RID != null}" />

			<arf:textoutput label="#{label['odeme.birimRef']}" compId="birimRefOutput" value="#{odemeController.odeme.birimRef.UIString}" />

			<arf:textinput label="#{label['odeme.miktar']}" value="#{odemeController.odeme.miktar}" compId="miktar" requiredCond="true" id="miktarInputText" customValidatorId="bigDecimalValidator"
				doubleMin="0.1" />

			<arf:textinput label="#{label['odeme.makbuzno']}" value="#{odemeController.odeme.makbuzno}" compId="miktar" requiredCond="false" id="makbuznoInputText" keyFilterMask="num" />

			<arf:calendar label="#{label['odeme.tarih']}" value="#{odemeController.odeme.tarih}" id="tarihCalendar" pattern="#{configurationController.datePattern}" requiredCond="true" compId="tarih" />

			<arf:dropdown label="#{label['odeme.odemeTuru']}" listSource="#{enumeratedController.odemeTuruItems}" requiredCond="true" compId="odemetip" value="#{odemeController.odeme.odemeTuru}"
				id="odemetipDropDown" />

			<arf:dropdown label="#{label['odeme.odemeSekli']}" listSource="#{enumeratedController.odemeSekliVeznedenItems}" requiredCond="true" compId="odemeSekli" value="#{odemeController.odeme.odemeSekli}"
				id="odemeSekliDropDown" addNullOption="true" updateCompWithoutEvent=":odemeForm:dekontPanel" />

			<p:outputPanel id="dekontPanel">
				<arf:textinput label="#{label['odeme.dekontNo']}" value="#{odemeController.odeme.dekontNo}" compId="dekontNo"
					requiredCond="#{odemeController.odeme.odemeSekli.code == sessionController.odemeSekliBankaVezneCode}" id="dekontNoInputText" maxLength="200" />
			</p:outputPanel>
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{odemeController}" formName="odemeForm" listPanelName="odemeListPanel" editPanelName="odemeEditPanel" modelName="Odeme" />
	</p:fieldset>

	<p:fieldset id="uploadExcelPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['odeme.edit']}"
		rendered="#{!odemeController.editPanelRendered and odemeController.uploadExcelPanelRendered}">

		<p:panel header="#{label['command.excelInsert']}" id="fileUploadPanel" toggleable="true" style="width:100%" rendered="#{empty odemeController.hataMesajlari}">
			<p align="center">
				<h:outputText style="font-weight:bold"
					value="#{label['uye.sicilno']} : #{label['uye.kisiRef']} - #{label['uye.birimRef']}  - #{label['aidat.miktar']} - #{label['uyeodeme.tarih']} - #{label['odeme.odemeTuru']} 
						- #{label['odeme.odemeSekli']} - #{label['odeme.dekontNo']} - #{label['odeme.makbuzno']} - #{label['odeme.makbuzbasilmatarihi']}" />
			</p>
			<p align="left">
				<arf:fileUpload label="#{label['common.excelFile']}" requiredCond="true" compId="#{'odemeDosyaRef'}" allowTypes="/(\.|\/)(xls?x)$/" rendered="#{empty odemeController.hataMesajlari}"
					updateComp="@form :globalMessages" processComp="@parent" sizeLimit="1500000" controllerClassName="#{odemeController}" style="width:700px" />
			</p>
		</p:panel>

		<p:panel id="hataMesajlariPaneli" rendered="#{not empty odemeController.hataMesajlari}" header="#{label['excelUpload.islemSonuclari']}">
			<p:dataTable value="#{odemeController.hataMesajlari}" var="hata" id="excelMesajTable">
				<arftags:column val="#{hata}" header="#{label['excelUpload.islemSonuclari']}" width="99" />
			</p:dataTable>
		</p:panel>
		<p align="center">
			<p:commandButton id="cancelExcelUploadCommandForOdeme" action="#{odemeController.cancel}" process="@this" update="@form :globalMessages" rendered="true" value="#{label['command.cancel']}"
				immediate="true" icon="iptal" styleClass="arfCommandButton" />
		</p>
	</p:fieldset>
</ui:composition>