<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="odemeForm" prependId="false">

				<ui:include src="/_page/form/finans/odeme_Edit.xhtml" />

				<p:fieldset id="odemeFilterPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['odeme.query']}" rendered="#{!odemeController.editPanelRendered
					and !odemeController.uploadExcelPanelRendered}">
					<p:ajax listener="#{odemeController.onToggle}" event="toggle" />
					<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">
						<arf:dualtextinputForFilter label="#{label['kisi.ad']} - #{label['kisi.soyad']}" requiredCond="false" compId="kisiad" style="width:80px" value="#{odemeController.odemeFilter.ad}" maxLength="10"
							id="kisiAdSoyadForFilterDualTextInput" requiredCond2="false" compId2="kisisoyad" style2="width:80px" value2="#{odemeController.odemeFilter.soyad}" maxLength2="10" />
						<arf:textinput label="#{label['kisi.kimlikno']}" value="#{odemeController.odemeFilter.kimlikno}" compId="kimlikno" requiredCond="false" id="kimliknoForFilterInputText" maxLength="25" keyFilterMask="num" />	
						<arf:doubleCalendarForFilter label="#{label['odeme.tarih']}" value="#{odemeController.odemeFilter.tarih}" valueMax="#{odemeController.odemeFilter.tarihMax}" id="tarihForFilterCalendar"
							pattern="#{configurationController.datePattern}" requiredCond="false" compId="tarih" />
						<arf:dropdownForFilter label="#{label['odeme.odemeSekli']}" listSource="#{enumeratedController.odemeSekliItems}" requiredCond="false" compId="odemeSekli" value="#{odemeController.odemeFilter.odemeSekli}"
							id="odemeSekliForFilterDropDown" addNullOption="true" style="width:165px" />
						<arf:textinputForFilter label="#{label['odeme.dekontNo']}" value="#{odemeController.odemeFilter.dekontNo}" compId="dekontNo" requiredCond="false" id="dekontNoForFilterInputText" maxLength="200" style="width:145px" />
					</h:panelGrid>
					<arf:filterBottomWithBlockUI controllerClassName="#{odemeController}" formName="odemeForm" listPanelName="odemeListPanel" filterPanelName="odemeFilterPanel" modelName="Odeme" />
				</p:fieldset>

				<p:fieldset legend="#{label['odeme.list']}" styleClass="pageFieldSet" id="odemeListPanel">
					<p:outputPanel id="raporPanel">
						<h:panelGrid columns="3" width="100%">
							<h:panelGrid columns="4" border="0" width="600px" columnClasses="otuzBesYuzde, onBesYuzde, yediYuzde, kirkUcYuzde">
								<h:outputText value="#{label['odeme.raporTarih']} : " styleClass="requiredOutputText" style="padding-left:5px; " />
								<p:calendar id="raporTarihForFilter" value="#{odemeController.raporTarih}" yearRange="2010:2020" label="#{label['odeme.raporTarih']}" navigator="true" required="true"
									pattern="#{configurationController.datePattern}" showFooter="true" showApplyButton="false">
								</p:calendar>
								<p:commandLink ajax="false" process="raporPanel" update=":globalMessages" action="#{odemeController.gunlukAidatTahsilatSorgusu}">
									<h:graphicImage library="_image" name="pdf.png" id="aidatTahsilatRaporCommand" />
								</p:commandLink>
								<p:message for="raporTarihForFilter" />
							</h:panelGrid>
							<p:commandButton value="Ödeme İptali" id="iptalOdeme" action="#{odemeController.odemeIptal}" ajax="true" process="@this" update="@form :globalMessages"
								onclick="if (confirm('Ödeme iptal edilecektir! Emin misiniz?')) {return true} else {return false}" disabled="#{odemeController.odeme.RID == null}" style="float:right" icon="delete" />

							<p:commandButton value="#{label['command.excelInsert']}" action="#{odemeController.excelYuklemePaneliAc}" ajax="true" process="@this" update="@form" style="float:right" icon="excel" />
						</h:panelGrid>
					</p:outputPanel>

					<p:blockUI block="odemeTable" trigger="odemeTable iptalOdeme">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="odemeTable" value="#{odemeController.list}" var="odemeRow" binding="#{odemeController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{odemeController.entity}" filteredValue="#{odemeController.filteredList}" widgetVar="filterTable" rowKey="#{odemeRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{odemeController.tableRowSelect}" update=":odemeForm :globalMessages" />
						<p:ajax event="rowUnselect" listener="#{odemeController.tableRowCancelSelection}" update=":odemeForm :globalMessages" />

						<arftags:column val="#{odemeRow.kisiRef.UIString}" header="#{label['odeme.kisiRef']}" width="25" />
						<arftags:column val="#{odemeRow.birimRef.UIString}" header="#{label['odeme.birimRef']}" width="15" />
						<arftags:column val="#{odemeRow.makbuzno}" header="#{label['odeme.makbuzno']}" width="10" />
						<arftags:numericColumn val="#{odemeRow.miktar}" header="#{label['odeme.miktar']}" width="10" />
						<arftags:dateColumn val="#{odemeRow.tarih}" header="#{label['odeme.tarih']}" width="10" />
						<arftags:column val="#{odemeRow.odemeTuru.label}" header="#{label['odeme.odemeTuru']}" width="10" />
						<arftags:column val="#{odemeRow.odemeSekli.label}" header="#{label['odeme.odemeSekli']}" width="10" />
						<arftags:column val="#{odemeRow.dekontNo}" header="#{label['odeme.dekontNo']}" width="10" />
						<arftags:dateColumn val="#{odemeRow.makbuzbasilmatarihi}" header="#{label['odeme.makbuzbasilmatarihi']}" width="10" />
						<p:column width="35" style="text-align:center">
							<f:facet name="header">
								<h:outputText value="#{label['odeme.makbuz']}" />
							</f:facet>
							<p:blockUI block="odemeTable" trigger="deneme">
								<h:outputText value="#{label['common.loading']}" />
								<br />
								<h:graphicImage library="_image" name="ajax-loader.gif" />
							</p:blockUI>
							<p:commandLink ajax="false" process="@this" update="odemeTable" action="#{odemeController.hazirMakbuzCikti(odemeRow)}" target="_blank">
								<p:commandButton icon="print" id="deneme" />
							</p:commandLink>
						</p:column>
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{odemeController}" formName="odemeForm" listPanelName="odemeListPanel" pagingOption="true" tableName="odemeTable" addExport="true" addOption="true" updateOption="false"
						deleteOption="false" addSubRecordOption="false" />

				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
