<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" template="/_page/_main/uyemain.xhtml" xmlns:arftags="http://arf.com/column" xmlns:pe="http://primefaces.org/ui/extensions">

	<ui:define name="content">
		<style>
			input[type=text] {
				width: 200px;
				height: 25px !important;
			}
			.ui-panel-title {
				font-size: 16px !important;
			}
			.ui-panel-titlebar {
				height: 26px !important;				
			}
			* {
				font-size: 16px !important;
			}  
			.keypad-clear {
				width: 70px !important;	
				font-size: 14px !important;			
			}
			.keypad-back {
				width: 70px !important;
				font-size: 14px !important;
			}
			.keypad-close {
				width: 70px !important;
				font-size: 14px !important;
			}
		</style>
		<script>
		// <![CDATA[ 
			function setFormValues(){
				alert('set');
				document.getElementById('cardnumber').value = "4282209004348015";
				document.getElementById('cardexpiredatemonth').value = "02";
				document.getElementById('cardexpiredateyear').value = "15";
				document.getElementById('cardcvv2').value = "123";
			}
			function validate(evt) {
				  var theEvent = evt || window.event;
				  var key = theEvent.keyCode || theEvent.which;
				  key = String.fromCharCode( key );
				  var regex = /[0-9]|\./;
				  if( !regex.test(key) ) {
				    theEvent.returnValue = false;
				    if(theEvent.preventDefault) theEvent.preventDefault();
				  }
			}

			function validateForm(){ 
				if(document.getElementById('cardnumber').value.length < 16 || isNaN(document.getElementById('cardnumber').value)){
					alert('Kart numarası hatalı!');
					return;
				}
				if(document.getElementById('cardexpiredatemonth').value.length < 2 || isNaN(document.getElementById('cardexpiredatemonth').value)){
					alert('Kart son kullanma tarihi ay değeri hatalı!');
					return;
				}
				if(document.getElementById('cardexpiredateyear').value.length < 2 || isNaN(document.getElementById('cardexpiredateyear').value)){
					alert('Kart son kullanma tarihi yıl değeri hatalı!');
					return;
				}
				if(document.getElementById('cardcvv2').value.length < 3 || isNaN(document.getElementById('cardcvv2').value)){
					alert('Kart CVV kodu hatalı!');
					return;
				}
				document.getElementById('postform').submit();
			}
			// ]]>
		</script>
		<h:body style="display:none ; overflow:text">
			<p:fieldset id="garantiBankasiAidatOdemeEditStepOne" toggleable="false" styleClass="pageFieldSet" legend="#{label['odeme.edit']}" rendered="#{aidatGarantiController.step == 1}">
				<h:form id="odemeStepOneForm" prependId="false">
					<div style="border: 1px inset lightgray; padding: 20px; margin: auto; width: 210px">
						<h:graphicImage library="_image" name="garantilogo.jpg" width="200" height="63"/>
					</div>
					<p:panel header="Ödenecek Miktar" style="width:55%; margin-left: 22%; margin-top:30px; margin-bottom:100px">
						<p align="center">
						
							<arf:dropdown label="#{label['odeme.adet']}" value="#{aidatGarantiController.odeme.adet}" compId="adet" requiredCond="true" id="adetInputText" customValidatorId="bigDecimalValidator" doubleMin="0.1"
								listSource="#{aidatGarantiController.getIntegerArray(1,41,1)}" style="width: 50px !important"
								ajaxEventListener="#{aidatGarantiController.handleChange}" changeEventUpdateComp=":odemeStepOneForm:miktarPanel" />
								
							<p:outputPanel id="miktarPanel">	
								<arf:textoutput label="#{label['odeme.miktar']}" value="#{aidatGarantiController.odeme.miktar}"  />
							</p:outputPanel>
						</p>
						<p align="center">
							<p:commandButton id="garantiBankasiAidatOdemeEditStepOnePost" action="#{aidatGarantiController.createHash}" value="#{label['command.post']}" ajax="false" process="@form" icon="save" styleClass="arfCommandButton"
								update=":globalMessages" />
							<p:commandButton id="browseCommandForGaranti1" action="#{aidatGarantiController.returnUyeDashboard}" process="@this" update="@this" rendered="true" value="#{label['command.cancel']}" immediate="true" icon="iptal"
								styleClass="arfCommandButton" />
						</p>
					</p:panel>
					<p:blockUI block="odemeStepOneForm" trigger="garantiBankasiAidatOdemeEditStepOnePost">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
				</h:form>
			</p:fieldset>

			<p:fieldset id="garantiBankasiAidatOdemeEditStepTwo" toggleable="false" styleClass="pageFieldSet" legend="#{label['odeme.edit']}" rendered="#{aidatGarantiController.step == 2}">
				
					<div style="border: 1px inset lightgray; padding: 20px; margin: auto; width: 210px">
						<h:graphicImage library="_image" name="garantilogo.jpg" width="200" height="63"/>
					</div>
					
					<p:panel header="Ödeme Onayı" style="width:80%; margin-left: 9%; margin-top:30px; margin-bottom:100px">
						<form action="#{aidatGarantiController.garantiPosUrl}" method="POST" name="postform" id="postform">
							<input name="refreshtime" type="hidden" /> 
							<input type="hidden" name="mode" value="PROD" />
							<input type="hidden" name="apiversion" value="v0.01" /> 
							<input type="hidden" name="terminalprovuserid" value="PROVAUT" /> 
							<input type="hidden" name="terminaluserid" value="#{aidatGarantiController.terminalUserID}" /> 
							<input type="hidden" name="terminalmerchantid" value="#{aidatGarantiController.merchantID}" /> 
							<input type="hidden" name="txntype" value="sales" /> 
							<input type="hidden" name="txnamount" value="#{aidatGarantiController.siparis.tutarGaranti}" /> 
							<input type="hidden" name="txncurrencycode" value="949" /> 
							<input type="hidden" name="txninstallmentcount" value="" /> 
							<input type="hidden" name="orderid" value="#{aidatGarantiController.siparis.siparisno}" /> 
							<input type="hidden" name="terminalid" value="#{aidatGarantiController.terminalID}" /> 
							<input type="hidden" name="successurl" value="#{aidatGarantiController.okURL}" /> 
							<input type="hidden" name="errorurl" value="#{aidatGarantiController.failURL}" /> 
							<input type="hidden" name="customeripaddress" value="#{aidatGarantiController.IPAdresi}" />
							<input type="hidden" name="customeremailaddress" value="#{aidatGarantiController.eposta}" />
							<input type="hidden" name="secure3dhash" value="#{aidatGarantiController.hash}" /> 
							<input type="hidden" name="txntimestamp" value="#{aidatGarantiController.txntimestampalan}" />
							<input type="hidden" name="secure3dsecuritylevel" value="3D" />
								<h:panelGrid columns="2" columnClasses="yetmisYuzde, otuzYuzde" width="100%">
									<h:panelGroup> 
										<table width="99%" cellspacing="10">
											<tr>
											<td style="font-weight:bold; color:red"><h:outputText value="#{label['odeme.miktar']}" /></td>
												<td>
													<h:outputText value="#{aidatGarantiController.odeme.miktar}">
														<f:convertNumber type="currency" currencySymbol="TL" locale="tr_TR" />
													</h:outputText>
												</td>
											</tr>	
											<tr>
												<td style="font-weight:bold">Kart Numarası :</td>
												<td>
													<p:keyboard name="cardnumber" id="cardnumber" onkeypress="validate(event)" keypadOnly="true" maxlength="16"
														clearLabel="Temizle" closeLabel="Kapat" backspaceLabel="Geri">
														<f:validateLength minimum="15" maximum="16" />
													</p:keyboard> 
													<p:message for="cardnumber" />
												</td>
											</tr>
											<tr>
												<td style="font-weight:bold">Son Kullanma Tarihi (AA - YY):</td>
												<td> 
													<h:selectOneMenu name="cardexpiredatemonth" id="cardexpiredatemonth" onchange="validate(event)">
														<f:selectItems value="#{aidatGarantiController.aylar}" var="ay" iemLabel="#{ay}" itemValue="#{ay}"/>
													</h:selectOneMenu>
													
													<h:selectOneMenu name="cardexpiredateyear" id="cardexpiredateyear" onchange="validate(event)" style="margin-left:5px !important">
														<f:selectItems value="#{aidatGarantiController.yillar}" var="yil" iemLabel="#{yil}" itemValue="#{yil}"/>
													</h:selectOneMenu>
												</td>
											</tr>
		
											<tr>
												<td style="font-weight:bold">CVV2:</td>
												<td>
													<p:keyboard name="cardcvv2" id="cardcvv2" onkeypress="validate(event)" keypadOnly="true" maxlength="3"
														size="3" style="width:50px !important" clearLabel="Temizle" closeLabel="Kapat" backspaceLabel="Geri">
														<f:validateLength minimum="3" maximum="3" />
													</p:keyboard>	
													<p:message for="cardcvv2" />
												</td>
											</tr>
										</table>
									</h:panelGroup>
								</h:panelGrid>
							</form>
						<h:form>
							<p align="center">							
								<p:commandButton type="submit" value="#{label['command.onay']}" styleClass="arfCommandButton" icon="approve" onclick="validateForm()" />
								<p:commandButton id="browseCommandForGaranti2" action="#{aidatGarantiController.returnUyeDashboard}" process="@this" update="@this" rendered="true" value="#{label['command.cancel']}" immediate="true" icon="iptal"
									styleClass="arfCommandButton" />							
							</p>
						</h:form>	
					</p:panel>				
			</p:fieldset>
			<pe:ajaxErrorHandler title="Error" body="Server return exception  {error-name} with description {error-message}" button="Hide" widgetVar="myAjaxErrorHandler" buttonOnclick="myAjaxErrorHandler.hide()" />
		</h:body>
	</ui:define>
</ui:composition>