<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="uyeaboneEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['uyeabone.edit']}" rendered="#{uyeaboneController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['uyeabone.yayinRef']}" listSource="#{uyeaboneController.selectItemListFor('Yayin')}" requiredCond="true" compId="yayinRef"
				value="#{uyeaboneController.uyeabone.yayinRef}" converterId="#{'yayinConverter'}" id="yayinRefDropDown" />

			<arf:calendar label="#{label['uyeabone.tarih']}" value="#{uyeaboneController.uyeabone.tarih}" id="tarihCalendar" pattern="#{configurationController.datePattern}"
				requiredCond="true" compId="tarih" />

			<arf:calendar label="#{label['uyeabone.baslangictarih']}" value="#{uyeaboneController.uyeabone.baslangictarih}" id="baslangictarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="baslangictarih" />

			<arf:calendar label="#{label['uyeabone.bitistarih']}" value="#{uyeaboneController.uyeabone.bitistarih}" id="bitistarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="bitistarih" />

			<arf:dropdown label="#{label['uyeabone.uyeabonedurum']}" listSource="#{enumeratedController.uyeAboneDurumItems}" requiredCond="false" compId="uyeabonedurum"
				value="#{uyeaboneController.uyeabone.uyeabonedurum}" id="uyeabonedurumDropDown" />

			<arf:textinput label="#{label['uyeabone.aciklama']}" value="#{uyeaboneController.uyeabone.aciklama}" compId="aciklama" requiredCond="false" id="aciklamaInputText"
				maxLength="200" />
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{uyeaboneController}" formName="uyeaboneForm" listPanelName="uyeaboneListPanel" editPanelName="uyeaboneEditPanel"
			modelName="Uyeabone" />
	</p:fieldset>

</ui:composition>