<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content"> 
		<h:body>
			<h:form id="uyeaboneForm" prependId="false">
				<arf:masterPanel controllerClassName="#{uyeaboneController}" masterLabel="#{label['uye.list']}" modelName="uyeabone" />

				<ui:include src="/_page/form/uye/uyeDetay/uyeabone_Edit.xhtml" />

				<p:fieldset id="uyeaboneFilterPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['uyeabone.query']}" rendered="#{!uyeaboneController.editPanelRendered}">
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:dropdownForFilter label="#{label['uyeabone.yayinRef']}" listSource="#{uyeaboneController.selectItemListFor('Yayin')}" requiredCond="false"
							compId="yayinRefForFilter" value="#{uyeaboneController.uyeaboneFilter.yayinRef}" converterId="#{'yayinConverter'}" id="yayinRefForFilterDropDown" />
						<arf:doubleCalendarForFilter label="#{label['uyeabone.tarih']}" value="#{uyeaboneController.uyeaboneFilter.tarih}"
							valueMax="#{uyeaboneController.uyeaboneFilter.tarihMax}" id="tarihForFilterCalendar" pattern="#{configurationController.datePattern}" requiredCond="false"
							compId="tarih" />
						<arf:doubleCalendarForFilter label="#{label['uyeabone.baslangictarih']}" value="#{uyeaboneController.uyeaboneFilter.baslangictarih}"
							valueMax="#{uyeaboneController.uyeaboneFilter.baslangictarihMax}" id="baslangictarihForFilter" pattern="#{configurationController.datePattern}" requiredCond="false"
							compId="baslangictarih" />
						<arf:doubleCalendarForFilter label="#{label['uyeabone.bitistarih']}" value="#{uyeaboneController.uyeaboneFilter.bitistarih}"
							valueMax="#{uyeaboneController.uyeaboneFilter.bitistarihMax}" id="bitistarihForFilterCalendar" pattern="#{configurationController.datePattern}" requiredCond="false"
							compId="bitistarih" />
						<arf:dropdownForFilter label="#{label['uyeabone.uyeabonedurum']}" listSource="#{enumeratedController.uyeAboneDurumItems}" requiredCond="false"
							compId="uyeabonedurumForFilter" value="#{uyeaboneController.uyeaboneFilter.uyeabonedurum}" id="uyeabonedurumForFilterDropDown" />
						<arf:textinputForFilter label="#{label['uyeabone.aciklama']}" value="#{uyeaboneController.uyeaboneFilter.aciklama}" compId="aciklamaForFilter" requiredCond="false"
							id="aciklamaForFilterInputText" maxLength="200" />
					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{uyeaboneController}" formName="uyeaboneForm" listPanelName="uyeaboneListPanel" filterPanelName="uyeaboneFilterPanel"
						modelName="Uyeabone" />
				</p:fieldset>

				<p:fieldset legend="#{label['uyeabone.list']}" styleClass="pageFieldSet" id="uyeaboneListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="uyeaboneTable" trigger="uyeaboneTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="uyeaboneTable" value="#{uyeaboneController.list}" var="uyeaboneRow" binding="#{uyeaboneController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{uyeaboneController.entity}" filteredValue="#{uyeaboneController.filteredList}" widgetVar="filterTable" rowKey="#{uyeaboneRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{uyeaboneController.tableRowSelect}" update=":uyeaboneForm" />
						<p:ajax event="rowUnselect" listener="#{uyeaboneController.tableRowCancelSelection}" update=":uyeaboneForm" />

						<arftags:column val="#{uyeaboneRow.yayinRef.UIString}" header="#{label['uyeabone.yayinRef']}" width="14" />
						<arftags:dateColumn val="#{uyeaboneRow.tarih}" header="#{label['uyeabone.tarih']}" width="14" />
						<arftags:dateColumn val="#{uyeaboneRow.baslangictarih}" header="#{label['uyeabone.baslangictarih']}" width="14" />
						<arftags:dateColumn val="#{uyeaboneRow.bitistarih}" header="#{label['uyeabone.bitistarih']}" width="14" />
						<arftags:column val="#{uyeaboneRow.uyeabonedurum.label}" header="#{label['uyeabone.uyeabonedurum']}" width="14" />
						<arftags:column val="#{uyeaboneRow.aciklama}" header="#{label['uyeabone.aciklama']}" width="14" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{uyeaboneController}" formName="uyeaboneForm" listPanelName="uyeaboneListPanel" pagingOption="true" tableName="uyeaboneTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset> 
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
