<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="uyeaidatForm" prependId="false">

				<arf:masterPanel controllerClassName="#{uyeaidatController}" masterLabel="#{label['uye.list']}" modelName="uyeaidat" />

				<ui:include src="/_page/form/uye/uyeDetay/uyeaidat_Edit.xhtml" />

				<p:fieldset legend="#{label['uyeaidat.list']}" styleClass="pageFieldSet" id="uyeaidatListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
						<p:commandButton id="uyemuafiyetCommand" process="@this" icon="child" action="#{uyeaidatController.uyemuafiyet}"
							rendered="#{uyeaidatController.listRenderedFor('Uyemuafiyet')}"
							disabled="#{uyeaidatController.uyeaidat.RID == null or uyeaidatController.uyeaidat.uyemuafiyetRef == null}" value="#{label['command.uyemuafiyet']}"
							styleClass="arfCommandButton" />
						<p:commandButton id="uyeodemeCommand" process="@this" icon="child" action="#{uyeaidatController.uyeodeme}" rendered="#{uyeaidatController.listRenderedFor('Uyeodeme')}"
							disabled="#{uyeaidatController.uyeaidat.RID == null}" value="#{label['command.uyeodeme']}" styleClass="arfCommandButton" />

					</h:panelGrid>
					<p:blockUI block="uyeaidatTable" trigger="uyeaidatTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="uyeaidatTable" value="#{uyeaidatController.list}" var="uyeaidatRow" binding="#{uyeaidatController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{uyeaidatController.entity}" filteredValue="#{uyeaidatController.filteredList}" widgetVar="filterTable" rowKey="#{uyeaidatRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{uyeaidatController.tableRowSelect}" update=":uyeaidatForm" />
						<p:ajax event="rowUnselect" listener="#{uyeaidatController.tableRowCancelSelection}" update=":uyeaidatForm" />

						<arftags:column val="#{uyeaidatRow.yil}" header="#{label['uyeaidat.yil']}" width="6" />
						<arftags:column val="#{uyeaidatRow.ay}" header="#{label['uyeaidat.ay']}" width="6" />
						<arftags:filteredNumericColumn filterMatchMode="contains" val="#{uyeaidatRow.miktar}" header="#{label['uyeaidat.miktar']}" width="10" />
						<arftags:filteredNumericColumn filterMatchMode="contains" val="#{uyeaidatRow.odenen}" header="#{label['uyeaidat.odenen']}" width="10" />
						<arftags:filteredNumericColumn filterMatchMode="contains" val="#{uyeaidatRow.kalan}" header="#{label['uyeaidat.kalan']}" width="10" />
						<arftags:column val="#{uyeaidatRow.uyeaidatdurum.label}" header="#{label['uyeaidat.uyeaidatdurum']}" width="20" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{uyeaidatController}" formName="uyeaidatForm" listPanelName="uyeaidatListPanel" pagingOption="false"
						tableName="uyeaidatTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
