<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="uyeaidatEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['uyeaidat.edit']}" rendered="#{uyeaidatController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:spinner label="#{label['uyeaidat.yil']}" value="#{uyeaidatController.uyeaidat.yil}" compId="yil" requiredCond="true" id="yilInputText" min="2013" max="2050" />
			<arf:spinner label="#{label['uyeaidat.ay']}" value="#{uyeaidatController.uyeaidat.ay}" compId="ay" requiredCond="true" id="ayInputText" min="1" max="12" />
			<arf:textinput label="#{label['uyeaidat.miktar']}" value="#{uyeaidatController.uyeaidat.miktar}" compId="miktar" requiredCond="true" id="miktarInputText"
				customValidatorId="bigDecimalValidator" doubleMin="0.1" />
			<arf:textinput label="#{label['uyeaidat.odenen']}" value="#{uyeaidatController.uyeaidat.odenen}" compId="odenen" requiredCond="true" id="odenenInputText"
				customValidatorId="bigDecimalValidator" doubleMin="0.1" />
			<arf:dropdown label="#{label['uyeaidat.uyeaidatdurum']}" listSource="#{enumeratedController.uyeAidatDurumItems}" requiredCond="false" compId="uyeaidatdurum"
				value="#{uyeaidatController.uyeaidat.uyeaidatdurum}" id="uyeaidatdurumDropDown" />
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{uyeaidatController}" formName="uyeaidatForm" listPanelName="uyeaidatListPanel" editPanelName="uyeaidatEditPanel"
			modelName="Uyeaidat" />
	</p:fieldset>

</ui:composition>