<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">
	<ui:define name="content">
		<h:body>
			<h:form id="uyebelgeForm" prependId="false">
				<ui:include src="/_page/form/uye/uyeDetay/uyebelge_Edit.xhtml" />
				<p:fieldset id="uyebelgeFilterPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['uyebelge.query']}" rendered="#{!uyebelgeController.editPanelRendered}">
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:suggestbox label="#{label['uyebelge.kurumRef']}" methodName="#{kurumController.completeMethod}" requiredCond="false" compId="kurumRef"
							value="#{uyebelgeController.uyebelgeFilter.kurumRef}" id="kurumRefSuggestBox" converterId="#{'kurumConverter'}" modelName="#{'Kurum'}" var="kurumRec"
							itemValue="#{kurumRec}" itemLabel="#{kurumRec}" />

						<arf:dropdownForFilter label="#{label['uyebelge.belgetipRef']}" listSource="#{uyebelgeController.selectItemListFor('Belgetip')}" requiredCond="false"
							compId="belgetipRefForFilter" value="#{uyebelgeController.uyebelgeFilter.belgetipRef}" converterId="#{'belgetipConverter'}" id="belgetipRefForFilterDropDown" />
						<arf:doubleCalendarForFilter label="#{label['uyebelge.tarih']}" value="#{uyebelgeController.uyebelgeFilter.tarih}"
							valueMax="#{uyebelgeController.uyebelgeFilter.tarihMax}" id="tarihCalendarForFilter" pattern="#{configurationController.datePattern}" requiredCond="false"
							compId="tarih" />
						<arf:doubleCalendarForFilter label="#{label['uyebelge.basvurutarih']}" value="#{uyebelgeController.uyebelgeFilter.basvurutarih}"
							valueMax="#{uyebelgeController.uyebelgeFilter.basvurutarihMax}" id="basvurutarihCalendarForFilter" pattern="#{configurationController.datePattern}" requiredCond="false"
							compId="basvurutarih" />
						<arf:doubleCalendarForFilter label="#{label['uyebelge.hazirlanmatarih']}" value="#{uyebelgeController.uyebelgeFilter.hazirlanmatarih}"
							valueMax="#{uyebelgeController.uyebelgeFilter.hazirlanmatarihMax}" id="hazirlanmatarihCalendarForFilter" pattern="#{configurationController.datePattern}"
							requiredCond="false" compId="hazirlanmatarih" />
						<arf:dropdownForFilter label="#{label['uyebelge.evrakRef']}" listSource="#{uyebelgeController.selectItemListFor('Evrak')}" requiredCond="false"
							compId="evrakRefForFilter" value="#{uyebelgeController.uyebelgeFilter.evrakRef}" converterId="#{'evrakConverter'}" id="evrakRefForFilterDropDown" />
						<arf:doubleCalendarForFilter label="#{label['uyebelge.teslimtarih']}" value="#{uyebelgeController.uyebelgeFilter.teslimtarih}"
							valueMax="#{uyebelgeController.uyebelgeFilter.teslimtarihMax}" id="teslimtarihCalendarForFilter" pattern="#{configurationController.datePattern}" requiredCond="false"
							compId="teslimtarih" />
						<arf:dropdownForFilter label="#{label['uyebelge.uyebelgedurum']}" listSource="#{enumeratedController.uyeBelgeDurumItems}" requiredCond="false"
							compId="uyebelgedurumForFilter" value="#{uyebelgeController.uyebelgeFilter.uyebelgedurum}" id="uyebelgedurumForFilterDropDown" />
						<arf:textinputForFilter label="#{label['uyebelge.aciklama']}" value="#{uyebelgeController.uyebelgeFilter.aciklama}" compId="aciklamaForFilter" requiredCond="false"
							id="aciklamaForFilterInputText" maxLength="200" />
					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{uyebelgeController}" formName="uyebelgeForm" listPanelName="uyebelgeListPanel" filterPanelName="uyebelgeFilterPanel"
						modelName="Uyebelge" />
				</p:fieldset>

				<p:fieldset legend="#{label['uyebelge.list']}" styleClass="pageFieldSet" id="uyebelgeListPanel">
					<div id="divleft">
						<p:blockUI block="uyebelgeTable" trigger="uyebelgeTable">
							<h:outputText value="#{label['common.loading']}" />
							<br />
							<h:graphicImage library="_image" name="ajax-loader.gif" />
						</p:blockUI>
						<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="uyebelgeTable" value="#{uyebelgeController.list}" var="uyebelgeRow" binding="#{uyebelgeController.table}" rowIndexVar="rowIndex"
							selectionMode="single" selection="#{uyebelgeController.entity}" filteredValue="#{uyebelgeController.filteredList}" widgetVar="filterTable" rowKey="#{uyebelgeRow.RID}"
							resizableColumns="false">

							<p:ajax event="rowSelect" listener="#{uyebelgeController.tableRowSelect}" update=":uyebelgeForm" />
							<p:ajax event="rowUnselect" listener="#{uyebelgeController.tableRowCancelSelection}" update=":uyebelgeForm" />

							<arftags:column val="#{uyebelgeRow.kurumRef.UIString}" header="#{label['uyebelge.kurumRef']}" width="10" />
							<arftags:column val="#{uyebelgeRow.belgetipRef.UIString}" header="#{label['uyebelge.belgetipRef']}" width="10" />
							<arftags:dateColumn val="#{uyebelgeRow.tarih}" header="#{label['uyebelge.tarih']}" width="10" />
							<arftags:dateColumn val="#{uyebelgeRow.basvurutarih}" header="#{label['uyebelge.basvurutarih']}" width="10" />
							<arftags:dateColumn val="#{uyebelgeRow.hazirlanmatarih}" header="#{label['uyebelge.hazirlanmatarih']}" width="10" />
							<arftags:column val="#{uyebelgeRow.evrakRef.UIString}" header="#{label['uyebelge.evrakRef']}" width="10" />
							<arftags:dateColumn val="#{uyebelgeRow.teslimtarih}" header="#{label['uyebelge.teslimtarih']}" width="10" />
							<arftags:column val="#{uyebelgeRow.uyebelgedurum.label}" header="#{label['uyebelge.uyebelgedurum']}" width="10" />
							<arftags:column val="#{uyebelgeRow.aciklama}" header="#{label['uyebelge.aciklama']}" width="10" />
							<arftags:imagePreviewColumn file="#{uyebelgeRow.path}" path="uyebelge" />
							<arftags:downloadColumn val="#{uyebelgeRow}" />
						</p:dataTable>

						<arf:pagingWithBlockUI controllerClassName="#{uyebelgeController}" formName="uyebelgeForm" listPanelName="uyebelgeListPanel" pagingOption="true"
							tableName="uyebelgeTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
					</div>
					<div id="divright">
						<arftags:fullSizeImageViewer file="#{uyebelgeController.uyebelge.path}" path="uyebelge" renderCondition="#{uyebelgeController.detailRendered}" />
					</div>
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
