<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="uyebelgeEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['uyebelge.edit']}" rendered="#{uyebelgeController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:suggestbox label="#{label['uyebelge.kurumRef']}" methodName="#{kurumController.completeMethod}" requiredCond="false" compId="kurumRef"
				value="#{uyebelgeController.uyebelge.kurumRef}" id="kurumRefSuggestBox" converterId="#{'kurumConverter'}" modelName="#{'Kurum'}" var="kurumRec" itemValue="#{kurumRec}"
				itemLabel="#{kurumRec}" rendered="#{uyebelgeController.uyebelge.RID == null}" />

			<arf:textoutput label="#{label['uyebelge.kurumRef']}" value="#{uyebelgeController.uyebelge.kurumRef.UIString}" rendered="#{uyebelgeController.uyebelge.RID != null}" />

			<arf:dropdown label="#{label['uyebelge.belgetipRef']}" listSource="#{uyebelgeController.selectItemListFor('Belgetip')}" requiredCond="true" compId="belgetipRef"
				value="#{uyebelgeController.uyebelge.belgetipRef}" converterId="#{'belgetipConverter'}" id="belgetipRefDropDown" />

			<arf:calendar label="#{label['uyebelge.tarih']}" value="#{uyebelgeController.uyebelge.tarih}" id="tarihCalendar" pattern="#{configurationController.datePattern}"
				requiredCond="true" compId="tarih" />

			<arf:calendar label="#{label['uyebelge.basvurutarih']}" value="#{uyebelgeController.uyebelge.basvurutarih}" id="basvurutarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="basvurutarih" />

			<arf:calendar label="#{label['uyebelge.hazirlanmatarih']}" value="#{uyebelgeController.uyebelge.hazirlanmatarih}" id="hazirlanmatarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="false" compId="hazirlanmatarih" />

			<arf:dropdown label="#{label['uyebelge.evrakRef']}" listSource="#{uyebelgeController.selectItemListFor('Evrak')}" requiredCond="false" compId="evrakRef"
				value="#{uyebelgeController.uyebelge.evrakRef}" converterId="#{'evrakConverter'}" id="evrakRefDropDown" />

			<arf:calendar label="#{label['uyebelge.teslimtarih']}" value="#{uyebelgeController.uyebelge.teslimtarih}" id="teslimtarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="false" compId="teslimtarih" />

			<arf:dropdown label="#{label['uyebelge.uyebelgedurum']}" listSource="#{enumeratedController.uyeBelgeDurumSecilebilenItems}" requiredCond="false" compId="uyebelgedurum"
				value="#{uyebelgeController.uyebelge.uyebelgedurum}" id="uyebelgedurumDropDown" />

			<arf:fileUpload label="#{label['uyebelge.path']}" requiredCond="true" compId="#{'dosyaRef'}" allowTypes="/(\.|\/)(pdf|doc?x|xls)$/" updateComp="@form" processComp="@parent"
				sizeLimit="1500000" controllerClassName="#{uyebelgeController}" style="width:800px" />

			<arf:textinput label="#{label['uyebelge.aciklama']}" value="#{uyebelgeController.uyebelge.aciklama}" compId="aciklama" requiredCond="false" id="aciklamaInputText"
				maxLength="200" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{uyebelgeController}" formName="uyebelgeForm" listPanelName="uyebelgeListPanel" editPanelName="uyebelgeEditPanel"
			modelName="Uyebelge" />
	</p:fieldset>

</ui:composition>