<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="uyebilirkisiEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['uyebilirkisi.edit']}"
		rendered="#{uyebilirkisiController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">


			<arf:dropdown label="#{label['uyebilirkisi.uyeuzmanlikRef']}" listSource="#{uyebilirkisiController.selectItemListForUyeuzmanlik}" requiredCond="true"
				compId="uyeuzmanlikRef" value="#{uyebilirkisiController.uyebilirkisi.uyeuzmanlikRef}" converterId="#{'uyeuzmanlikConverter'}" id="uyeuzmanlikRefDropDown" />

			<arf:dropdown label="#{label['uyebilirkisi.evrakRef']}" listSource="#{uyebilirkisiController.selectItemListFor('Evrak')}" requiredCond="false" compId="evrakRef"
				value="#{uyebilirkisiController.uyebilirkisi.evrakRef}" converterId="#{'evrakConverter'}" id="evrakRefDropDown" />

			<arf:calendar label="#{label['uyebilirkisi.tarih']}" value="#{uyebilirkisiController.uyebilirkisi.tarih}" id="tarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="tarih" />

			<arf:calendar label="#{label['uyebilirkisi.bitistarih']}" value="#{uyebilirkisiController.uyebilirkisi.bitistarih}" id="bitistarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="false" compId="bitistarih" />

			<arf:dropdown label="#{label['uyebilirkisi.uyebilirkisidurum']}" listSource="#{enumeratedController.uyeBilirkisiDurumItems}" requiredCond="false" compId="uyebilirkisidurum"
				value="#{uyebilirkisiController.uyebilirkisi.uyebilirkisidurum}" id="uyebilirkisidurumDropDown" />

			<arf:textinput label="#{label['uyebilirkisi.aciklama']}" value="#{uyebilirkisiController.uyebilirkisi.aciklama}" compId="aciklama" requiredCond="false"
				id="aciklamaInputText" maxLength="200" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{uyebilirkisiController}" formName="uyebilirkisiForm" listPanelName="uyebilirkisiListPanel"
			editPanelName="uyebilirkisiEditPanel" modelName="Uyebilirkisi" />
	</p:fieldset>

</ui:composition>