<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="uyebilirkisiForm" prependId="false">

				<arf:masterPanel controllerClassName="#{uyebilirkisiController}" masterLabel="#{label['uye.list']}" modelName="uyebilirkisi" />

				<ui:include src="/_page/form/uye/uyeDetay/uyebilirkisi_Edit.xhtml" />

				<p:fieldset legend="#{label['uyebilirkisi.list']}" styleClass="pageFieldSet" id="uyebilirkisiListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="uyebilirkisiTable" trigger="uyebilirkisiTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="uyebilirkisiTable" value="#{uyebilirkisiController.list}" var="uyebilirkisiRow" binding="#{uyebilirkisiController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{uyebilirkisiController.entity}" filteredValue="#{uyebilirkisiController.filteredList}" widgetVar="filterTable"
						rowKey="#{uyebilirkisiRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{uyebilirkisiController.tableRowSelect}" update=":uyebilirkisiForm" />
						<p:ajax event="rowUnselect" listener="#{uyebilirkisiController.tableRowCancelSelection}" update=":uyebilirkisiForm" />

						<arftags:column val="#{uyebilirkisiRow.uyeuzmanlikRef.UIString}" header="#{label['uyebilirkisi.uyeuzmanlikRef']}" width="14" />
						<arftags:column val="#{uyebilirkisiRow.evrakRef.UIString}" header="#{label['uyebilirkisi.evrakRef']}" width="14" />
						<arftags:dateColumn val="#{uyebilirkisiRow.tarih}" header="#{label['uyebilirkisi.tarih']}" width="14" />
						<arftags:dateColumn val="#{uyebilirkisiRow.bitistarih}" header="#{label['uyebilirkisi.bitistarih']}" width="14" />
						<arftags:column val="#{uyebilirkisiRow.uyebilirkisidurum.label}" header="#{label['uyebilirkisi.uyebilirkisidurum']}" width="14" />
						<arftags:column val="#{uyebilirkisiRow.aciklama}" header="#{label['uyebilirkisi.aciklama']}" width="14" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{uyebilirkisiController}" formName="uyebilirkisiForm" listPanelName="uyebilirkisiListPanel" pagingOption="true"
						tableName="uyebilirkisiTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
