<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="uyecezaEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['uyeceza.edit']}" rendered="#{uyecezaController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['uyeceza.cezatipRef']}" listSource="#{uyecezaController.selectItemListFor('Cezatip')}" requiredCond="true" compId="cezatipRef"
				value="#{uyecezaController.uyeceza.cezatipRef}" converterId="#{'cezatipConverter'}" id="cezatipRefDropDown" />

			<arf:dropdown label="#{label['uyeceza.evrakRef']}" listSource="#{uyecezaController.selectItemListFor('Evrak')}" requiredCond="false" compId="evrakRef"
				value="#{uyecezaController.uyeceza.evrakRef}" converterId="#{'evrakConverter'}" id="evrakRefDropDown" />

			<arf:calendar label="#{label['uyeceza.baslangictarih']}" value="#{uyecezaController.uyeceza.baslangictarih}" id="baslangictarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="baslangictarih" />

			<arf:calendar label="#{label['uyeceza.bitistarih']}" value="#{uyecezaController.uyeceza.bitistarih}" id="bitistarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="bitistarih" />

			<arf:textinput label="#{label['uyeceza.aciklama']}" value="#{uyecezaController.uyeceza.aciklama}" compId="aciklama" requiredCond="false" id="aciklamaInputText"
				maxLength="200" />
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{uyecezaController}" formName="uyecezaForm" listPanelName="uyecezaListPanel" editPanelName="uyecezaEditPanel"
			modelName="Uyeceza" />
	</p:fieldset>
</ui:composition>