<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="uyecezaForm" prependId="false">

				<arf:masterPanel controllerClassName="#{uyecezaController}" masterLabel="#{label['uye.list']}" modelName="uyeceza" />

				<ui:include src="/_page/form/uye/uyeDetay/uyeceza_Edit.xhtml" />

				<p:fieldset id="uyecezaFilterPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['uyeceza.query']}" rendered="#{!uyecezaController.editPanelRendered}">
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:dropdownForFilter label="#{label['uyeceza.cezatipRef']}" listSource="#{uyecezaController.selectItemListFor('Cezatip')}" requiredCond="false"
							compId="cezatipRefForFilter" value="#{uyecezaController.uyecezaFilter.cezatipRef}" converterId="#{'cezatipConverter'}" id="cezatipRefForFilterDropDown" />
						<arf:dropdownForFilter label="#{label['uyeceza.evrakRef']}" listSource="#{uyecezaController.selectItemListFor('Evrak')}" requiredCond="false" compId="evrakRefForFilter"
							value="#{uyecezaController.uyecezaFilter.evrakRef}" converterId="#{'evrakConverter'}" id="evrakRefForFilterDropDown" />
						<arf:doubleCalendarForFilter label="#{label['uyeceza.baslangictarih']}" value="#{uyecezaController.uyecezaFilter.baslangictarih}"
							valueMax="#{uyecezaController.uyecezaFilter.baslangictarihMax}" id="baslangictarihForFilterCalendar" pattern="#{configurationController.datePattern}"
							requiredCond="false" compId="baslangictarih" />
						<arf:doubleCalendarForFilter label="#{label['uyeceza.bitistarih']}" value="#{uyecezaController.uyecezaFilter.bitistarih}"
							valueMax="#{uyecezaController.uyecezaFilter.bitistarihMax}" id="bitistarihForFilterCalendar" pattern="#{configurationController.datePattern}" requiredCond="false"
							compId="bitistarih" />
						<arf:textinputForFilter label="#{label['uyeceza.aciklama']}" value="#{uyecezaController.uyecezaFilter.aciklama}" compId="aciklamaForFilter" requiredCond="false"
							id="aciklamaForFilterInputText" maxLength="200" />
					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{uyecezaController}" formName="uyecezaForm" listPanelName="uyecezaListPanel" filterPanelName="uyecezaFilterPanel"
						modelName="Uyeceza" />
				</p:fieldset>

				<p:fieldset legend="#{label['uyeceza.list']}" styleClass="pageFieldSet" id="uyecezaListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="uyecezaTable" trigger="uyecezaTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="uyecezaTable" value="#{uyecezaController.list}" var="uyecezaRow" binding="#{uyecezaController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{uyecezaController.entity}" filteredValue="#{uyecezaController.filteredList}" widgetVar="filterTable" rowKey="#{uyecezaRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{uyecezaController.tableRowSelect}" update=":uyecezaForm" />
						<p:ajax event="rowUnselect" listener="#{uyecezaController.tableRowCancelSelection}" update=":uyecezaForm" />

						<arftags:column val="#{uyecezaRow.cezatipRef.UIString}" header="#{label['uyeceza.cezatipRef']}" width="16" />
						<arftags:column val="#{uyecezaRow.evrakRef.UIString}" header="#{label['uyeceza.evrakRef']}" width="16" />
						<arftags:dateColumn val="#{uyecezaRow.baslangictarih}" header="#{label['uyeceza.baslangictarih']}" width="16" />
						<arftags:dateColumn val="#{uyecezaRow.bitistarih}" header="#{label['uyeceza.bitistarih']}" width="16" />
						<arftags:column val="#{uyecezaRow.aciklama}" header="#{label['uyeceza.aciklama']}" width="16" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{uyecezaController}" formName="uyecezaForm" listPanelName="uyecezaListPanel" pagingOption="true" tableName="uyecezaTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
