<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="uyedurumdegistirmeForm" prependId="false">
				<arf:masterPanel controllerClassName="#{uyedurumdegistirmeController}" masterLabel="#{label['uye.list']}" modelName="uyedurumdegistirme" />
				<ui:include src="/_page/form/uye/uyeDetay/uyedurumdegistirme_Edit.xhtml" />
				<p:fieldset legend="#{label['uyedurumdegistirme.list']}" styleClass="pageFieldSet" id="uyedurumdegistirmeListPanel">
					<p:blockUI block="uyedurumdegistirmeTable" trigger="uyedurumdegistirmeTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="uyedurumdegistirmeTable" value="#{uyedurumdegistirmeController.list}" var="uyedurumdegistirmeRow"
						binding="#{uyedurumdegistirmeController.table}" rowIndexVar="rowIndex" selectionMode="single" selection="#{uyedurumdegistirmeController.entity}"
						filteredValue="#{uyedurumdegistirmeController.filteredList}" widgetVar="filterTable" rowKey="#{uyedurumdegistirmeRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{uyedurumdegistirmeController.tableRowSelect}" update=":uyedurumdegistirmeForm" />
						<p:ajax event="rowUnselect" listener="#{uyedurumdegistirmeController.tableRowCancelSelection}" update=":uyedurumdegistirmeForm" />

						<arftags:dateColumn val="#{uyedurumdegistirmeRow.tarih}" header="#{label['uyedurumdegistirme.tarih']}" width="20" />
						<arftags:column val="#{uyedurumdegistirmeRow.kayityapan.UIString}" header="#{label['uyedurumdegistirme.kayityapan']}" width="20" />
						<arftags:column val="#{uyedurumdegistirmeRow.oncekidurum.label}" header="#{label['uyedurumdegistirme.oncekidurum']}" width="20" />
						<arftags:column val="#{uyedurumdegistirmeRow.yenidurum.label}" header="#{label['uyedurumdegistirme.yenidurum']}" width="20" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{uyedurumdegistirmeController}" formName="uyedurumdegistirmeForm" listPanelName="uyedurumdegistirmeListPanel"
						pagingOption="true" tableName="uyedurumdegistirmeTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false"
						exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
