<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="uyedurumdegistirmeEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['uyedurumdegistirme.edit']}"
		rendered="#{uyedurumdegistirmeController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:calendar label="#{label['uyedurumdegistirme.tarih']}" value="#{uyedurumdegistirmeController.uyedurumdegistirme.tarih}" id="tarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="tarih" />

			<arf:dropdown label="#{label['uyedurumdegistirme.kayityapan']}" listSource="#{uyedurumdegistirmeController.selectItemListFor('Kullanici')}" requiredCond="true"
				compId="kayityapan" value="#{uyedurumdegistirmeController.uyedurumdegistirme.kayityapan}" converterId="#{'kullaniciConverter'}" id="kayityapanDropDown" />

			<arf:dropdown label="#{label['uyedurumdegistirme.oncekidurum']}" listSource="#{enumeratedController.uyeDurumItems}" requiredCond="false" compId="oncekidurum"
				value="#{uyedurumdegistirmeController.uyedurumdegistirme.oncekidurum}" id="oncekidurumDropDown" addNullOption="true" />

			<arf:dropdown label="#{label['uyedurumdegistirme.yenidurum']}" listSource="#{enumeratedController.uyeDurumItems}" requiredCond="false" compId="yenidurum"
				value="#{uyedurumdegistirmeController.uyedurumdegistirme.yenidurum}" id="yenidurumDropDown" addNullOption="true" />
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{uyedurumdegistirmeController}" formName="uyedurumdegistirmeForm" listPanelName="uyedurumdegistirmeListPanel"
			editPanelName="uyedurumdegistirmeEditPanel" modelName="Uyedurumdegistirme" />
	</p:fieldset>

</ui:composition>