<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="uyemuafiyetEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['uyemuafiyet.edit']}" rendered="#{uyemuafiyetController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['uyemuafiyet.muafiyettip']}" listSource="#{enumeratedController.uyeMuafiyetTipItems}" requiredCond="false" compId="muafiyettip"
				value="#{uyemuafiyetController.uyemuafiyet.muafiyettip}" id="muafiyettipDropDown" />
			<arf:dropdown label="#{label['uyemuafiyet.evrakRef']}" listSource="#{uyemuafiyetController.selectItemListFor('Evrak')}" requiredCond="true" compId="evrakRef"
				value="#{uyemuafiyetController.uyemuafiyet.evrakRef}" id="evrakRefDropDown" converterId="#{'evrakConverter'}" />
			<arf:calendar label="#{label['uyemuafiyet.baslangictarih']}" value="#{uyemuafiyetController.uyemuafiyet.baslangictarih}" id="baslangictarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="baslangictarih" navigatorRendered="true" />
			<arf:calendar label="#{label['uyemuafiyet.bitistarih']}" value="#{uyemuafiyetController.uyemuafiyet.bitistarih}" id="bitistarihCalendar"
				pattern="#{configurationController.datePattern}" requiredCond="true" compId="bitistarih" navigatorRendered="true" />
			<arf:textinput label="#{label['uyemuafiyet.aciklama']}" value="#{uyemuafiyetController.uyemuafiyet.aciklama}" compId="aciklama" requiredCond="false" id="aciklamaInputText"
				maxLength="200" />
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{uyemuafiyetController}" formName="uyemuafiyetForm" listPanelName="uyemuafiyetListPanel"
			editPanelName="uyemuafiyetEditPanel" modelName="Uyemuafiyet" />
	</p:fieldset>

</ui:composition>