<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="uyemuafiyetForm" prependId="false">

				<arf:masterPanel controllerClassName="#{uyemuafiyetController}" masterLabel="#{label['uyeaidat.list']}" modelName="uyemuafiyet" />

				<ui:include src="/_page/form/uye/uyeDetay/uyemuafiyet_Edit.xhtml" />

				<p:fieldset legend="#{label['uyemuafiyet.list']}" styleClass="pageFieldSet" id="uyemuafiyetListPanel">
					<p:blockUI block="uyemuafiyetTable" trigger="uyemuafiyetTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="uyemuafiyetTable" value="#{uyemuafiyetController.list}" var="uyemuafiyetRow" binding="#{uyemuafiyetController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{uyemuafiyetController.entity}" filteredValue="#{uyemuafiyetController.filteredList}" widgetVar="filterTable"
						rowKey="#{uyemuafiyetRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{uyemuafiyetController.tableRowSelect}" update=":uyemuafiyetForm" />
						<p:ajax event="rowUnselect" listener="#{uyemuafiyetController.tableRowCancelSelection}" update=":uyemuafiyetForm" />

						<arftags:column val="#{uyemuafiyetRow.uyeRef.UIString}" header="#{label['uyemuafiyet.uyeRef']}" width="20" />
						<arftags:column val="#{uyemuafiyetRow.muafiyettip.label}" header="#{label['uyemuafiyet.muafiyettip']}" width="20" />
						<arftags:column val="#{uyemuafiyetRow.evrakRef.UIString}" header="#{label['uyemuafiyet.evrakRef']}" width="20" />
						<arftags:column val="#{uyemuafiyetRow.aciklama}" header="#{label['uyemuafiyet.aciklama']}" width="20" />
						<arftags:dateColumn val="#{uyemuafiyetRow.baslangictarih}" header="#{label['uyemuafiyet.baslangictarih']}" width="14" />
						<arftags:dateColumn val="#{uyemuafiyetRow.bitistarih}" header="#{label['uyemuafiyet.bitistarih']}" width="14" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{uyemuafiyetController}" formName="uyemuafiyetForm" listPanelName="uyemuafiyetListPanel" pagingOption="false"
						tableName="uyemuafiyetTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
