<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="uyeodulEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['uyeodul.edit']}" rendered="#{uyeodulController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['uyeodul.odultipRef']}" listSource="#{uyeodulController.selectItemListFor('Odultip')}" requiredCond="true" compId="odultipRef"
				value="#{uyeodulController.uyeodul.odultipRef}" converterId="#{'odultipConverter'}" id="odultipRefDropDown" />

			<arf:dropdown label="#{label['uyeodul.evrakRef']}" listSource="#{uyeodulController.selectItemListFor('Evrak')}" requiredCond="false" compId="evrakRef"
				value="#{uyeodulController.uyeodul.evrakRef}" converterId="#{'evrakConverter'}" id="evrakRefDropDown" />

			<arf:calendar label="#{label['uyeodul.tarih']}" value="#{uyeodulController.uyeodul.tarih}" id="tarihCalendar" pattern="#{configurationController.datePattern}"
				requiredCond="true" compId="tarih" />

			<arf:textinput label="#{label['uyeodul.aciklama']}" value="#{uyeodulController.uyeodul.aciklama}" compId="aciklama" requiredCond="false" id="aciklamaInputText"
				maxLength="200" />
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{uyeodulController}" formName="uyeodulForm" listPanelName="uyeodulListPanel" editPanelName="uyeodulEditPanel"
			modelName="Uyeodul" />
	</p:fieldset>

</ui:composition>