<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="uyeodemeForm" prependId="false">

				<arf:masterPanel controllerClassName="#{uyeodemeController}" masterLabel="#{label['uyeaidat.list']}" modelName="uyeodeme" />

				<ui:include src="/_page/form/uye/uyeDetay/uyeodeme_Edit.xhtml" />

				<p:fieldset id="uyeodemeFilterPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['uyeodeme.query']}" rendered="#{!uyeodemeController.editPanelRendered}">
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:doubleCalendarForFilter label="#{label['uyeodeme.tarih']}" value="#{uyeodemeController.uyeodemeFilter.tarih}" valueMax="#{uyeodemeController.uyeodemeFilter.tarihMax}" id="tarihForFilterCalendar"
							pattern="#{configurationController.datePattern}" requiredCond="false" compId="tarih" />

						<arf:textinputForFilter label="#{label['uyeodeme.miktar']}" value="#{uyeodemeController.uyeodemeFilter.miktar}" compId="miktarForFilter" requiredCond="false" id="miktarForFilterInputText" />

						<arf:dropdownForFilter label="#{label['uyeodeme.odemetip']}" listSource="#{enumeratedController.odemeTipItems}" requiredCond="false" compId="odemetipForFilter" value="#{uyeodemeController.uyeodemeFilter.odemetip}"
							id="odemetipForFilterDropDown" addNullOption="true" />

						<arf:dropdownForFilter label="#{label['uyeodeme.muafiyetRef']}" listSource="#{uyeodemeController.selectItemListFor('Uyemuafiyet')}" requiredCond="false" compId="muafiyetRefForFilter"
							value="#{uyeodemeController.uyeodemeFilter.muafiyetRef}" converterId="#{'uyemuafiyetConverter'}" id="muafiyetRefForFilterDropDown" />

					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{uyeodemeController}" formName="uyeodemeForm" listPanelName="uyeodemeListPanel" filterPanelName="uyeodemeFilterPanel" modelName="Uyeodeme" />
				</p:fieldset>

				<p:fieldset legend="#{label['uyeodeme.list']}" styleClass="pageFieldSet" id="uyeodemeListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="uyeodemeTable" trigger="uyeodemeTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="uyeodemeTable" value="#{uyeodemeController.list}" var="uyeodemeRow" binding="#{uyeodemeController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{uyeodemeController.entity}" filteredValue="#{uyeodemeController.filteredList}" widgetVar="filterTable" rowKey="#{uyeodemeRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{uyeodemeController.tableRowSelect}" update=":uyeodemeForm" />
						<p:ajax event="rowUnselect" listener="#{uyeodemeController.tableRowCancelSelection}" update=":uyeodemeForm" />

						<arftags:dateColumn val="#{uyeodemeRow.tarih}" header="#{label['uyeodeme.tarih']}" width="20" />
						<arftags:filteredNumericColumn filterMatchMode="contains" val="#{uyeodemeRow.miktar}" header="#{label['uyeodeme.miktar']}" width="20" />
						<arftags:column val="#{uyeodemeRow.odemetip.label}" header="#{label['uyeodeme.odemetip']}" width="20" />
						<arftags:column val="#{uyeodemeRow.muafiyetRef.UIString}" header="#{label['uyeodeme.muafiyetRef']}" width="20" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{uyeodemeController}" formName="uyeodemeForm" listPanelName="uyeodemeListPanel" pagingOption="true" tableName="uyeodemeTable" addExport="true" addOption="true" updateOption="true"
						deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
