<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="uyeodemeEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['uyeodeme.edit']}" rendered="#{uyeodemeController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">


			<arf:calendar label="#{label['uyeodeme.tarih']}" value="#{uyeodemeController.uyeodeme.tarih}" id="tarihCalendar" pattern="#{configurationController.datePattern}"
				requiredCond="true" compId="tarih" />

			<arf:textinput label="#{label['uyeodeme.miktar']}" value="#{uyeodemeController.uyeodeme.miktar}" compId="miktar" requiredCond="true" id="miktarInputText" />

			<arf:dropdown label="#{label['uyeodeme.odemetip']}" listSource="#{enumeratedController.odemeTipItems}" requiredCond="false" compId="odemetip"
				value="#{uyeodemeController.uyeodeme.odemetip}" id="odemetipDropDown" />

			<arf:dropdown label="#{label['uyeodeme.muafiyetRef']}" listSource="#{uyeodemeController.selectItemListFor('Uyemuafiyet')}" requiredCond="false" compId="muafiyetRef"
				value="#{uyeodemeController.uyeodeme.muafiyetRef}" converterId="#{'uyemuafiyetConverter'}" id="muafiyetRefDropDown" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{uyeodemeController}" formName="uyeodemeForm" listPanelName="uyeodemeListPanel" editPanelName="uyeodemeEditPanel"
			modelName="Uyeodeme" />
	</p:fieldset>

</ui:composition>