<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="uyeodulForm" prependId="false">

				<arf:masterPanel controllerClassName="#{uyeodulController}" masterLabel="#{label['uye.list']}" modelName="uyeodul" />

				<ui:include src="/_page/form/uye/uyeDetay/uyeodul_Edit.xhtml" />

				<p:fieldset legend="#{label['uyeodul.list']}" styleClass="pageFieldSet" id="uyeodulListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="uyeodulTable" trigger="uyeodulTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="uyeodulTable" value="#{uyeodulController.list}" var="uyeodulRow" binding="#{uyeodulController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{uyeodulController.entity}" filteredValue="#{uyeodulController.filteredList}" widgetVar="filterTable" rowKey="#{uyeodulRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{uyeodulController.tableRowSelect}" update=":uyeodulForm" />
						<p:ajax event="rowUnselect" listener="#{uyeodulController.tableRowCancelSelection}" update=":uyeodulForm" />

						<arftags:column val="#{uyeodulRow.odultipRef.UIString}" header="#{label['uyeodul.odultipRef']}" width="20" />
						<arftags:column val="#{uyeodulRow.evrakRef.UIString}" header="#{label['uyeodul.evrakRef']}" width="20" />
						<arftags:dateColumn val="#{uyeodulRow.tarih}" header="#{label['uyeodul.tarih']}" width="20" />
						<arftags:column val="#{uyeodulRow.aciklama}" header="#{label['uyeodul.aciklama']}" width="20" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{uyeodulController}" formName="uyeodulForm" listPanelName="uyeodulListPanel" pagingOption="true" tableName="uyeodulTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
