<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="uyesiparisEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['uyesiparis.edit']}" rendered="#{uyeSiparisController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['uyesiparis.uyeRef']}" listSource="#{uyeSiparisController.selectItemListFor('Uye')}" requiredCond="true" compId="uyeRef" value="#{uyeSiparisController.uyesiparis.uyeRef}"
				converterId="#{'uyeConverter'}" id="uyeRefDropDown" />

			<arf:textinput label="#{label['uyesiparis.siparisno']}" value="#{uyeSiparisController.uyesiparis.siparisno}" compId="siparisno" requiredCond="true" id="siparisnoInputText" maxLength="64" />

			<arf:textinput label="#{label['uyesiparis.tutar']}" value="#{uyeSiparisController.uyesiparis.tutar}" compId="tutar" requiredCond="true" id="tutarInputText" maxLength="53" />

			<arf:dropdown label="#{label['uyesiparis.durum']}" listSource="#{enumeratedController.siparisDurumItems}" requiredCond="true" compId="durum" value="#{uyeSiparisController.uyesiparis.durum}" id="durumDropDown" />

			<arf:textinputarea label="#{label['uyesiparis.garantiSecurityCode']}" value="#{uyeSiparisController.uyesiparis.garantiSecurityCode}" compId="garantiSecurityCode" requiredCond="false" id="garantiSecurityCodeInputText"
				maxLength="2500" />

			<arf:textinput label="#{label['uyesiparis.mdstatus']}" value="#{uyeSiparisController.uyesiparis.mdstatus}" compId="mdstatus" requiredCond="false" id="mdstatusInputText" maxLength="10" />

			<arf:calendar label="#{label['uyesiparis.tarih']}" value="#{uyeSiparisController.uyesiparis.tarih}" id="tarihCalendar" pattern="#{configurationController.dateTimePattern}" requiredCond="false" compId="tarih" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{uyeSiparisController}" formName="uyesiparisForm" listPanelName="uyesiparisListPanel" editPanelName="uyesiparisEditPanel" modelName="Uyesiparis" />
	</p:fieldset>

</ui:composition>