<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">
siparis
	<ui:define name="content">
		<h:body>
			<h:form id="uyesiparisForm" prependId="false">


				<p:fieldset id="uyeSiparisFilterPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['uyesiparis.query']}" rendered="#{!uyeSiparisController.editPanelRendered}">

					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

						<arf:suggestbox label="#{label['uyesiparis.uyeRef']}" methodName="#{uyeSiparisController.completeMethod}" requiredCond="false" compId="uyeRef" converterId="#{'uyeConverter'}" modelName="#{'Uye'}"
							value="#{uyeSiparisController.uyeSiparisFilter.uyeRef}" id="uyeRefForFilterDropDown" var="uyeRec" itemValue="#{uyeRec}" itemLabel="#{uyeRec}" />

						<arf:textinput label="#{label['uyesiparis.siparisno']}" value="#{uyeSiparisController.uyeSiparisFilter.siparisno}" compId="siparisno" requiredCond="false" id="siparisnoForFilterInputText" maxLength="64" />

						<arf:textinput label="#{label['uyesiparis.tutar']}" value="#{uyeSiparisController.uyeSiparisFilter.tutar}" compId="tutar" requiredCond="false" id="tutarForFilterInputText" maxLength="53" rendered="false" />

						<arf:dropdown label="#{label['uyesiparis.durum']}" listSource="#{enumeratedController.siparisDurumItems}" requiredCond="false" compId="durum" value="#{uyeSiparisController.uyeSiparisFilter.durum}" id="durumForFilterDropDown"
							addNullOption="true" />

						<arf:textinput label="#{label['uyesiparis.mdstatus']}" value="#{uyeSiparisController.uyeSiparisFilter.mdstatus}" compId="mdstatus" requiredCond="false" id="mdstatusForFilterInputText" maxLength="10" />

						<arf:calendar label="#{label['uyesiparis.tarih']}" value="#{uyeSiparisController.uyeSiparisFilter.tarih}" id="tarihForFilterCalendar" pattern="#{configurationController.dateTimePattern}" requiredCond="false" compId="tarih" />

					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{uyeSiparisController}" formName="uyesiparisForm" listPanelName="uyesiparisListPanel" filterPanelName="uyeSiparisFilterPanel" modelName="Uyesiparis" />
				</p:fieldset>

				<p:fieldset legend="#{label['uyesiparis.list']}" styleClass="pageFieldSet" id="uyesiparisListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="uyesiparisTable" trigger="uyesiparisTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable style="margin-top:10px" id="uyesiparisTable" value="#{uyeSiparisController.list}" var="uyesiparisRow" binding="#{uyeSiparisController.table}" rowIndexVar="rowIndex" selectionMode="single"
						selection="#{uyeSiparisController.entity}" rowKey="#{uyesiparisRow.RID}" resizableColumns="false" emptyMessage="#{label['primefaces.noRecordFound']}">

						<p:ajax event="rowSelect" listener="#{uyeSiparisController.tableRowSelect}" update=":uyesiparisForm:uyesiparisListPanel :globalMessages" />
						<p:ajax event="rowUnselect" listener="#{uyeSiparisController.tableRowCancelSelection}" update=":uyesiparisForm:uyesiparisListPanel :globalMessages" />
						<f:facet name="header">
							<h:outputText value="#{label['uyesiparis.list']}" />
						</f:facet>

						<arftags:column val="#{uyesiparisRow.uyeRef.UIString}" header="#{label['uyesiparis.uyeRef']}" width="14" />
						<arftags:column val="#{uyesiparisRow.siparisno}" header="#{label['uyesiparis.siparisno']}" width="14" />
						<arftags:column val="#{uyesiparisRow.tutar}" header="#{label['uyesiparis.tutar']}" width="14" />
						<arftags:column val="#{uyesiparisRow.durum.label}" header="#{label['uyesiparis.durum']}" width="14" />
						<ui:remove><arftags:column val="#{uyesiparisRow.garantiSecurityCode}" header="#{label['uyesiparis.garantisecuritycode']}" width="14" /></ui:remove>
						<arftags:column val="#{uyesiparisRow.mdstatus}" header="#{label['uyesiparis.mdstatus']}" width="14" />
						<arftags:column val="#{uyesiparisRow.mdstatusText}" header="MD Statüsü Metni" width="14" />
						<arftags:dateTimeColumn val="#{uyesiparisRow.tarih}" header="#{label['uyesiparis.tarih']}" width="14" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{uyeSiparisController}" formName="uyesiparisForm" listPanelName="uyesiparisListPanel"
                                           pagingOption="true" tableName="uyesiparisTable" addExport="true" addOption="false"
						updateOption="false" deleteOption="false" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
