<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="uyeuzmanlikEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['uyeuzmanlik.edit']}" rendered="#{uyeuzmanlikController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">


			<arf:dropdown label="#{label['uyeuzmanlik.uzmanliktipRef']}" listSource="#{uyeuzmanlikController.selectItemListFor('Uzmanliktip')}" requiredCond="true"
				compId="uzmanliktipRef" value="#{uyeuzmanlikController.uyeuzmanlik.uzmanliktipRef}" converterId="#{'uzmanliktipConverter'}" id="uzmanliktipRefDropDown" />

			<arf:textinput label="#{label['uyeuzmanlik.aciklama']}" value="#{uyeuzmanlikController.uyeuzmanlik.aciklama}" compId="aciklama" requiredCond="false" id="aciklamaInputText"
				maxLength="200" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{uyeuzmanlikController}" formName="uyeuzmanlikForm" listPanelName="uyeuzmanlikListPanel"
			editPanelName="uyeuzmanlikEditPanel" modelName="Uyeuzmanlik" />
	</p:fieldset>

</ui:composition>