<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="uyeuzmanlikForm" prependId="false">

				<arf:masterPanel controllerClassName="#{uyeuzmanlikController}" masterLabel="#{label['uye.list']}" modelName="uyeuzmanlik" />

				<ui:include src="/_page/form/uye/uyeDetay/uyeuzmanlik_Edit.xhtml" />

				<p:fieldset legend="#{label['uyeuzmanlik.list']}" styleClass="pageFieldSet" id="uyeuzmanlikListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="uyeuzmanlikTable" trigger="uyeuzmanlikTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="uyeuzmanlikTable" value="#{uyeuzmanlikController.list}" var="uyeuzmanlikRow" binding="#{uyeuzmanlikController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{uyeuzmanlikController.entity}" filteredValue="#{uyeuzmanlikController.filteredList}" widgetVar="filterTable"
						rowKey="#{uyeuzmanlikRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{uyeuzmanlikController.tableRowSelect}" update=":uyeuzmanlikForm" />
						<p:ajax event="rowUnselect" listener="#{uyeuzmanlikController.tableRowCancelSelection}" update=":uyeuzmanlikForm" />

						<arftags:column val="#{uyeuzmanlikRow.uzmanliktipRef.UIString}" header="#{label['uyeuzmanlik.uzmanliktipRef']}" width="25" />
						<arftags:column val="#{uyeuzmanlikRow.aciklama}" header="#{label['uyeuzmanlik.aciklama']}" width="25" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{uyeuzmanlikController}" formName="uyeuzmanlikForm" listPanelName="uyeuzmanlikListPanel" pagingOption="true"
						tableName="uyeuzmanlikTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
