<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="egitimogretmenEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['egitimogretmen.edit']}"
		rendered="#{egitimogretmenController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['egitimogretmen.egitmenRef']}" listSource="#{egitimogretmenController.selectItemListFor('Egitmen')}" requiredCond="true" compId="egitmenRef"
			value="#{egitimogretmenController.egitimogretmen.egitmenRef}" converterId="#{'egitmenConverter'}" id="egitmenRefDropDown" />		
			

			<arf:textinput label="#{label['egitimogretmen.aciklama']}" value="#{egitimogretmenController.egitimogretmen.aciklama}" compId="aciklama" requiredCond="false"
				id="aciklamaInputText" maxLength="500" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{egitimogretmenController}" formName="egitimogretmenForm" listPanelName="egitimogretmenListPanel"
			editPanelName="egitimogretmenEditPanel" modelName="Egitimogretmen" />
	</p:fieldset>

</ui:composition>