<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="egitimdersEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['egitimders.edit']}" rendered="#{egitimdersController.editPanelRendered}">

		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['egitimders.egitimogretmenRef']}" listSource="#{egitimdersController.selectItemListFor('Egitimogretmen')}" requiredCond="false"
				compId="egitimogretmenRef" value="#{egitimdersController.egitimders.egitimogretmenRef}" converterId="#{'egitimogretmenConverter'}" id="egitimogretmenRefDropDown" />

			<arf:calendar label="#{label['egitimders.zaman']}" value="#{egitimdersController.egitimders.zaman}" id="zamanCalendar" pattern="#{configurationController.dateTimePattern}"
				requiredCond="true" compId="zaman" />
			<arf:textinput label="#{label['egitimders.sure']}" value="#{egitimdersController.egitimders.sure}" compId="sure" requiredCond="true" id="sureInputTextForEgitimDers" />
			<arf:textinput label="#{label['egitimders.aciklama']}" value="#{egitimdersController.egitimders.aciklama}" compId="aciklama" requiredCond="false" id="aciklamaInputText"
				maxLength="500" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{egitimdersController}" formName="egitimdersForm" listPanelName="egitimdersListPanel"
			editPanelName="egitimdersEditPanel" modelName="Egitimders" />
	</p:fieldset>

</ui:composition>