<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="egitimkatilimciEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['egitimkatilimci.edit']}"
		rendered="#{egitimkatilimciController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

			<arf:suggestbox label="#{label['egitimkatilimci.kisiRef']}" methodName="#{egitimkatilimciController.completeMethod}" requiredCond="false" compId="kisiRef"
				value="#{egitimkatilimciController.egitimkatilimci.kisiRef}" id="kisiRefSuggestBox" converterId="#{'kisiConverter'}" modelName="#{'Kisi'}" var="kisiRec"
				itemValue="#{kisiRec}" itemLabel="#{kisiRec}" rendered="#{egitimkatilimciController.egitimkatilimci.RID == null}" />

			<arf:textoutput label="#{label['egitimkatilimci.kisiRef']}" value="#{egitimkatilimciController.egitimkatilimci.kisiRef.UIString}"
				rendered="#{egitimkatilimciController.egitimkatilimci.RID != null}" />

				<arf:textinput label="#{label['egitimkatilimci.aciklama']}" value="#{egitimkatilimciController.egitimkatilimci.aciklama}" compId="aciklama" requiredCond="false"
					id="aciklamaInputText" maxLength="500" />
				<arf:dropdown label="#{label['egitimkatilimci.durum']}" listSource="#{enumeratedController.egitimkatilimciDurumItems}" requiredCond="true" compId="durum"
					value="#{egitimkatilimciController.egitimkatilimci.durum}" id="durumDropDown" addNullOption="true" />
				<arf:dropdown label="#{label['egitimkatilimci.katilimturu']}" listSource="#{enumeratedController.katilimTuruItems}" requiredCond="true" compId="katilimturu"
					value="#{egitimkatilimciController.egitimkatilimci.katilimturu}" id="katilimturuDropDown" addNullOption="true" />
				<arf:dropdown label="#{label['egitimkatilimci.katilimbelgesi']}" listSource="#{enumeratedController.katilimbelgesiItems}" requiredCond="true" compId="katilimbelgesi"
					value="#{egitimkatilimciController.egitimkatilimci.katilimbelgesi}" id="katilimbelgesiDropDown" addNullOption="true" />
				<arf:dropdown label="#{label['egitimkatilimci.sertifika']}" listSource="#{enumeratedController.sertifikaItems}" requiredCond="true" compId="sertifika"
					value="#{egitimkatilimciController.egitimkatilimci.sertifika}" id="sertifikaDropDown" addNullOption="true" />
				<arf:textinput label="#{label['egitimkatilimci.sinavnotu']}" value="#{egitimkatilimciController.egitimkatilimci.sinavnotu}" compId="sinavnotu" requiredCond="false"
					id="sinavnotuInputText" maxLength="10" />
				<arf:dropdown label="#{label['egitimkatilimci.sinavbasariDurum']}" listSource="#{enumeratedController.sinavbasariDurumItems}" requiredCond="true" compId="sinavbasariDurum"
					value="#{egitimkatilimciController.egitimkatilimci.sinavbasariDurum}" id="sinavbasariDurumDropDown" addNullOption="true" />
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{egitimkatilimciController}" formName="egitimkatilimciForm" listPanelName="egitimkatilimciListPanel"
			editPanelName="egitimkatilimciEditPanel" modelName="Egitimkatilimci" />
	</p:fieldset>

</ui:composition>