<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="egitimdegerlendirmeEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['egitimdegerlendirme.edit']}"
		rendered="#{egitimdegerlendirmeController.editPanelRendered}">
		<h:panelGrid columns="3" columnClasses="elliYuzde, yirmiBesYuzde, yirmiBesYuzde" styleClass="arfEditGrid">

			<h:outputLabel value="#{egitimdegerlendirmeController.egitimdegerlendirme.soru.label}" />
			<h:panelGrid columns="2" style="margin-top:5px; margin-bottom:5px">  
		       	<h:outputText value="#{label['egitimdegerlendirme.cevap']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
		        <p:selectOneRadio id="options" value="#{egitimdegerlendirmeController.egitimdegerlendirme.cevap}" layout="grid" columns="2">  
		            <f:selectItems value="#{enumeratedController.cevapItems}"/>  
		        </p:selectOneRadio>  
		    </h:panelGrid>  
			<arf:textinput label="#{label['egitimdegerlendirme.aciklama']}" value="#{egitimdegerlendirmeController.egitimdegerlendirme.aciklama}" compId="aciklama" requiredCond="false"
				id="aciklamaInputText1" maxLength="500" />

			<h:outputLabel value="#{egitimdegerlendirmeController.egitimdegerlendirme1.soru.label}" />
			<h:panelGrid columns="2" style="margin-top:5px; margin-bottom:5px">  
		       	<h:outputText value="#{label['egitimdegerlendirme.cevap']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
		        <p:selectOneRadio id="options1" value="#{egitimdegerlendirmeController.egitimdegerlendirme1.cevap}" layout="grid" columns="2">  
		            <f:selectItems value="#{enumeratedController.cevapItems}"/>  
		        </p:selectOneRadio>  
		    </h:panelGrid>  
			<arf:textinput label="#{label['egitimdegerlendirme.aciklama']}" value="#{egitimdegerlendirmeController.egitimdegerlendirme1.aciklama}" compId="aciklama"
				requiredCond="false" id="aciklamaInputText2" maxLength="500" />

			<h:outputLabel value="#{egitimdegerlendirmeController.egitimdegerlendirme2.soru.label}" />
			<h:panelGrid columns="2" style="margin-top:5px; margin-bottom:5px">  
		       	<h:outputText value="#{label['egitimdegerlendirme.cevap']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
		        <p:selectOneRadio id="options2" value="#{egitimdegerlendirmeController.egitimdegerlendirme2.cevap}" layout="grid" columns="2">  
		            <f:selectItems value="#{enumeratedController.cevapItems}"/>  
		        </p:selectOneRadio>  
		    </h:panelGrid>  
			<arf:textinput label="#{label['egitimdegerlendirme.aciklama']}" value="#{egitimdegerlendirmeController.egitimdegerlendirme2.aciklama}" compId="aciklama"
				requiredCond="false" id="aciklamaInputText3" maxLength="500" />

			<h:outputLabel value="#{egitimdegerlendirmeController.egitimdegerlendirme3.soru.label}" />
			<h:panelGrid columns="2" style="margin-top:5px; margin-bottom:5px">  
		       	<h:outputText value="#{label['egitimdegerlendirme.cevap']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
		        <p:selectOneRadio id="options3" value="#{egitimdegerlendirmeController.egitimdegerlendirme3.cevap}" layout="grid" columns="2">  
		            <f:selectItems value="#{enumeratedController.cevapItems}"/>  
		        </p:selectOneRadio>  
		    </h:panelGrid>  
			<arf:textinput label="#{label['egitimdegerlendirme.aciklama']}" value="#{egitimdegerlendirmeController.egitimdegerlendirme3.aciklama}" compId="aciklama"
				requiredCond="false" id="aciklamaInputText4" maxLength="500" />

			<h:outputLabel value="#{egitimdegerlendirmeController.egitimdegerlendirme4.soru.label}" />
			<h:panelGrid columns="2" style="margin-top:5px; margin-bottom:5px">  
		       	<h:outputText value="#{label['egitimdegerlendirme.cevap']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
		        <p:selectOneRadio id="options4" value="#{egitimdegerlendirmeController.egitimdegerlendirme4.cevap}" layout="grid" columns="2">  
		            <f:selectItems value="#{enumeratedController.cevapItems}"/>  
		        </p:selectOneRadio>  
		    </h:panelGrid>  
			<arf:textinput label="#{label['egitimdegerlendirme.aciklama']}" value="#{egitimdegerlendirmeController.egitimdegerlendirme4.aciklama}" compId="aciklama"
				requiredCond="false" id="aciklamaInputText5" maxLength="500" />

			<h:outputLabel value="#{egitimdegerlendirmeController.egitimdegerlendirme5.soru.label}" />
			<h:panelGrid columns="2" style="margin-top:5px; margin-bottom:5px">  
		       	<h:outputText value="#{label['egitimdegerlendirme.cevap']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
		        <p:selectOneRadio id="options5" value="#{egitimdegerlendirmeController.egitimdegerlendirme5.cevap}" layout="grid" columns="2">  
		            <f:selectItems value="#{enumeratedController.cevapItems}"/>  
		        </p:selectOneRadio>  
		    </h:panelGrid>  
			<arf:textinput label="#{label['egitimdegerlendirme.aciklama']}" value="#{egitimdegerlendirmeController.egitimdegerlendirme5.aciklama}" compId="aciklama"
				requiredCond="false" id="aciklamaInputText6" maxLength="500" />

			<h:outputLabel value="#{egitimdegerlendirmeController.egitimdegerlendirme6.soru.label}" />
			<h:panelGrid columns="2" style="margin-top:5px; margin-bottom:5px">  
		       	<h:outputText value="#{label['egitimdegerlendirme.cevap']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
		        <p:selectOneRadio id="options6" value="#{egitimdegerlendirmeController.egitimdegerlendirme6.cevap}" layout="grid" columns="2">  
		            <f:selectItems value="#{enumeratedController.cevapItems}"/>  
		        </p:selectOneRadio>  
		    </h:panelGrid>  
			<arf:textinput label="#{label['egitimdegerlendirme.aciklama']}" value="#{egitimdegerlendirmeController.egitimdegerlendirme6.aciklama}" compId="aciklama"
				requiredCond="false" id="aciklamaInputText7" maxLength="500" />

			<h:outputLabel value="#{egitimdegerlendirmeController.egitimdegerlendirme7.soru.label}" />
			<h:panelGrid columns="2" style="margin-top:5px; margin-bottom:5px">  
		       	<h:outputText value="#{label['egitimdegerlendirme.cevap']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
		        <p:selectOneRadio id="options7" value="#{egitimdegerlendirmeController.egitimdegerlendirme7.cevap}" layout="grid" columns="2">  
		            <f:selectItems value="#{enumeratedController.cevapItems}"/>  
		        </p:selectOneRadio>  
		    </h:panelGrid>  
			<arf:textinput label="#{label['egitimdegerlendirme.aciklama']}" value="#{egitimdegerlendirmeController.egitimdegerlendirme7.aciklama}" compId="aciklama"
				requiredCond="false" id="aciklamaInputText8" maxLength="500" />

			<h:outputLabel value="#{egitimdegerlendirmeController.egitimdegerlendirme8.soru.label}" />
			<h:panelGrid columns="2" style="margin-top:5px; margin-bottom:5px">  
		       	<h:outputText value="#{label['egitimdegerlendirme.cevap']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
		        <p:selectOneRadio id="options8" value="#{egitimdegerlendirmeController.egitimdegerlendirme8.cevap}" layout="grid" columns="2">  
		            <f:selectItems value="#{enumeratedController.cevapItems}"/>  
		        </p:selectOneRadio>  
		    </h:panelGrid>  
			<arf:textinput label="#{label['egitimdegerlendirme.aciklama']}" value="#{egitimdegerlendirmeController.egitimdegerlendirme8.aciklama}" compId="aciklama"
				requiredCond="false" id="aciklamaInputText9" maxLength="500" />

			<h:outputLabel value="#{egitimdegerlendirmeController.egitimdegerlendirme9.soru.label}" />
			<h:panelGrid columns="2" style="margin-top:5px; margin-bottom:5px">  
		       	<h:outputText value="#{label['egitimdegerlendirme.cevap']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
		        <p:selectOneRadio id="options9" value="#{egitimdegerlendirmeController.egitimdegerlendirme9.cevap}" layout="grid" columns="2">  
		            <f:selectItems value="#{enumeratedController.cevapItems}"/>  
		        </p:selectOneRadio>  
		    </h:panelGrid>  
			<arf:textinput label="#{label['egitimdegerlendirme.aciklama']}" value="#{egitimdegerlendirmeController.egitimdegerlendirme9.aciklama}" compId="aciklama"
				requiredCond="false" id="aciklamaInputText10" maxLength="500" />

			<h:outputLabel value="#{egitimdegerlendirmeController.egitimdegerlendirme10.soru.label}" />
			<h:panelGrid columns="2" style="margin-top:5px; margin-bottom:5px">  
		       	<h:outputText value="#{label['egitimdegerlendirme.cevap']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
		        <p:selectOneRadio id="options10" value="#{egitimdegerlendirmeController.egitimdegerlendirme10.cevap}" layout="grid" columns="2">  
		            <f:selectItems value="#{enumeratedController.cevapItems}"/>  
		        </p:selectOneRadio>  
		    </h:panelGrid>  
			<arf:textinput label="#{label['egitimdegerlendirme.aciklama']}" value="#{egitimdegerlendirmeController.egitimdegerlendirme10.aciklama}" compId="aciklama"
				requiredCond="false" id="aciklamaInputText11" maxLength="500" />

			<h:outputLabel value="#{egitimdegerlendirmeController.egitimdegerlendirme11.soru.label}" />
			<h:panelGrid columns="2" style="margin-top:5px; margin-bottom:5px">  
		       	<h:outputText value="#{label['egitimdegerlendirme.cevap']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
		        <p:selectOneRadio id="options11" value="#{egitimdegerlendirmeController.egitimdegerlendirme11.cevap}" layout="grid" columns="2">  
		            <f:selectItems value="#{enumeratedController.cevapItems}"/>  
		        </p:selectOneRadio>  
		    </h:panelGrid>  
			<arf:textinput label="#{label['egitimdegerlendirme.aciklama']}" value="#{egitimdegerlendirmeController.egitimdegerlendirme11.aciklama}" compId="aciklama"
				requiredCond="false" id="aciklamaInputText12" maxLength="500" />

			<h:outputLabel value="#{egitimdegerlendirmeController.egitimdegerlendirme12.soru.label}" />
			<h:panelGrid columns="2" style="margin-top:5px; margin-bottom:5px">  
		       	<h:outputText value="#{label['egitimdegerlendirme.cevap']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
		        <p:selectOneRadio id="options12" value="#{egitimdegerlendirmeController.egitimdegerlendirme12.cevap}" layout="grid" columns="2">  
		            <f:selectItems value="#{enumeratedController.cevapItems}"/>  
		        </p:selectOneRadio>  
		    </h:panelGrid>  
			<arf:textinput label="#{label['egitimdegerlendirme.aciklama']}" value="#{egitimdegerlendirmeController.egitimdegerlendirme12.aciklama}" compId="aciklama"
				requiredCond="false" id="aciklamaInputText13" maxLength="500" />

			<h:outputLabel value="#{egitimdegerlendirmeController.egitimdegerlendirme13.soru.label}" />
			<h:panelGrid columns="2" style="margin-top:5px; margin-bottom:5px">  
		       	<h:outputText value="#{label['egitimdegerlendirme.cevap']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
		        <p:selectOneRadio id="options13" value="#{egitimdegerlendirmeController.egitimdegerlendirme13.cevap}" layout="grid" columns="2">  
		            <f:selectItems value="#{enumeratedController.cevapItems}"/>  
		        </p:selectOneRadio>  
		    </h:panelGrid>  
			<arf:textinput label="#{label['egitimdegerlendirme.aciklama']}" value="#{egitimdegerlendirmeController.egitimdegerlendirme13.aciklama}" compId="aciklama"
				requiredCond="false" id="aciklamaInputText14" maxLength="500" />

			<h:outputLabel value="#{egitimdegerlendirmeController.egitimdegerlendirme14.soru.label}" />
			<h:panelGrid columns="2" style="margin-top:5px; margin-bottom:5px">  
		       	<h:outputText value="#{label['egitimdegerlendirme.cevap']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
		        <p:selectOneRadio id="options14" value="#{egitimdegerlendirmeController.egitimdegerlendirme14.cevap}" layout="grid" columns="2">  
		            <f:selectItems value="#{enumeratedController.cevapItems}"/>  
		        </p:selectOneRadio>  
		    </h:panelGrid>  
			<arf:textinput label="#{label['egitimdegerlendirme.aciklama']}" value="#{egitimdegerlendirmeController.egitimdegerlendirme14.aciklama}" compId="aciklama"
				requiredCond="false" id="aciklamaInputText15" maxLength="500" />

			<h:outputLabel value="#{egitimdegerlendirmeController.egitimdegerlendirme15.soru.label}" />
			<h:panelGrid columns="2" style="margin-top:5px; margin-bottom:5px">  
		       	<h:outputText value="#{label['egitimdegerlendirme.cevap']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
		        <p:selectOneRadio id="options15" value="#{egitimdegerlendirmeController.egitimdegerlendirme15.cevap}" layout="grid" columns="2">  
		            <f:selectItems value="#{enumeratedController.cevapItems}"/>  
		        </p:selectOneRadio>  
		    </h:panelGrid>  
			<arf:textinput label="#{label['egitimdegerlendirme.aciklama']}" value="#{egitimdegerlendirmeController.egitimdegerlendirme15.aciklama}" compId="aciklama"
				requiredCond="false" id="aciklamaInputText16" maxLength="500" />

			<h:outputLabel value="#{egitimdegerlendirmeController.egitimdegerlendirme16.soru.label}" />
			<h:panelGrid columns="2" style="margin-top:5px; margin-bottom:5px">  
		       	<h:outputText value="#{label['egitimdegerlendirme.cevap']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
		        <p:selectOneRadio id="options16" value="#{egitimdegerlendirmeController.egitimdegerlendirme16.cevap}" layout="grid" columns="2">  
		            <f:selectItems value="#{enumeratedController.cevapItems}"/>  
		        </p:selectOneRadio>  
		    </h:panelGrid>  
			<arf:textinput label="#{label['egitimdegerlendirme.aciklama']}" value="#{egitimdegerlendirmeController.egitimdegerlendirme16.aciklama}" compId="aciklama"
				requiredCond="false" id="aciklamaInputText17" maxLength="500" />

			<h:outputLabel value="#{egitimdegerlendirmeController.egitimdegerlendirme17.soru.label}" />
			<h:panelGrid columns="2" style="margin-top:5px; margin-bottom:5px">  
		       	<h:outputText value="#{label['egitimdegerlendirme.cevap']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
		        <p:selectOneRadio id="options17" value="#{egitimdegerlendirmeController.egitimdegerlendirme17.cevap}" layout="grid" columns="2">  
		            <f:selectItems value="#{enumeratedController.cevapItems}"/>  
		        </p:selectOneRadio>  
		    </h:panelGrid>  
			<arf:textinput label="#{label['egitimdegerlendirme.aciklama']}" value="#{egitimdegerlendirmeController.egitimdegerlendirme17.aciklama}" compId="aciklama"
				requiredCond="false" id="aciklamaInputText18" maxLength="500" />

			<h:outputLabel value="#{egitimdegerlendirmeController.egitimdegerlendirme18.soru.label}" />
			<h:panelGrid columns="2" style="margin-top:5px; margin-bottom:5px">  
		       	<h:outputText value="#{label['egitimdegerlendirme.cevap']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
		        <p:selectOneRadio id="options18" value="#{egitimdegerlendirmeController.egitimdegerlendirme18.cevap}" layout="grid" columns="2">  
		            <f:selectItems value="#{enumeratedController.cevapItems}"/>  
		        </p:selectOneRadio>  
		    </h:panelGrid>  
			<arf:textinput label="#{label['egitimdegerlendirme.aciklama']}" value="#{egitimdegerlendirmeController.egitimdegerlendirme18.aciklama}" compId="aciklama"
				requiredCond="false" id="aciklamaInputText19" maxLength="500" />

			<h:outputLabel value="#{egitimdegerlendirmeController.egitimdegerlendirme19.soru.label}" />
			<h:panelGrid columns="2" style="margin-top:5px; margin-bottom:5px">  
		       	<h:outputText value="#{label['egitimdegerlendirme.cevap']} : " styleClass="optionalOutputText" style="padding-left:5px; padding-right:10px" />
		        <p:selectOneRadio id="options19" value="#{egitimdegerlendirmeController.egitimdegerlendirme19.cevap}" layout="grid" columns="2">  
		            <f:selectItems value="#{enumeratedController.cevapItems}"/>  
		        </p:selectOneRadio>  
		    </h:panelGrid>  
			<arf:textinput label="#{label['egitimdegerlendirme.aciklama']}" value="#{egitimdegerlendirmeController.egitimdegerlendirme19.aciklama}" compId="aciklama"
				requiredCond="false" id="aciklamaInputText20" maxLength="500" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{egitimdegerlendirmeController}" formName="egitimdegerlendirmeForm" listPanelName="egitimdegerlendirmeListPanel"
			editPanelName="egitimdegerlendirmeEditPanel" modelName="Egitimdegerlendirme" />
	</p:fieldset>

</ui:composition>