<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="egitimdosyaEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['egitimdosya.edit']}" 
			rendered="#{egitimdosyaController.editPanelRendered}">
	
		<h:panelGrid columns="1" styleClass="arfEditGrid">
			<arf:textinput label="#{label['egitimdosya.ad']}" value="#{egitimdosyaController.egitimdosya.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="200" />
		</h:panelGrid>
		
		<h:panelGrid columns="2" styleClass="arfEditGrid">
			<arf:fileUpload label="#{label['egitimdosya.path']}" requiredCond="true" compId="#{'egitimdosyaRef'}"
				allowTypes="/(\.|\/)(pdf|doc|docx|xls|xlsx|png|jpeg|gif|jpg)$/" updateComp="@parent :egitimdosyaForm:filenamePanel" processComp="@parent" sizeLimit="1500000"
				controllerClassName="#{egitimdosyaController}" style="width:800px" />
			<p:outputPanel id="filenamePanel" rendered="true">
				<h:outputText value="#{kurulDonemToplantiTutanakController.filename}" id="dosyaaditext" />
			</p:outputPanel>
		</h:panelGrid>
		
		<arf:editPanelBottomWithBlockUI controllerClassName="#{egitimdosyaController}" formName="egitimdosyaForm" listPanelName="egitimdosyaListPanel"
			editPanelName="egitimdosyaEditPanel" modelName="Egitimdosya" />
	</p:fieldset>
</ui:composition> 