<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="egitimogretmenForm" prependId="false">
				<arf:masterPanel controllerClassName="#{egitimogretmenController}" masterLabel="#{label['egitim.list']}" modelName="egitimogretmen" />
				<ui:include src="/_page/form/egitim/egitimDetay/egitimogretmen_Edit.xhtml" />

				<p:fieldset id="egitimogretmenFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{egitimogretmenController.collapsed}"
					legend="#{label['egitimogretmen.query']}" rendered="#{!egitimogretmenController.editPanelRendered}">
					<p:ajax listener="#{egitimogretmenController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

						<arf:dualtextinputForFilter label="#{label['kisi.ad']} - #{label['kisi.soyad']}" requiredCond="false" compId="kisiad" style="width:80px"
							value="#{egitimogretmenController.egitimogretmenFilter.ad}" maxLength="10" id="kisiAdSoyadForFilterDualTextInput" requiredCond2="false" compId2="kisisoyad"
							style2="width:80px" value2="#{egitimogretmenController.egitimogretmenFilter.soyad}" maxLength2="10" />
					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{egitimogretmenController}" formName="egitimogretmenForm" listPanelName="egitimogretmenListPanel"
						filterPanelName="egitimogretmenFilterPanel" modelName="Egitimogretmen" />
				</p:fieldset>

				<p:fieldset legend="#{label['egitimogretmen.list']}" styleClass="pageFieldSet" id="egitimogretmenListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="egitimogretmenTable" trigger="egitimogretmenTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="egitimogretmenTable" value="#{egitimogretmenController.list}" var="egitimogretmenRow" binding="#{egitimogretmenController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{egitimogretmenController.entity}" filteredValue="#{egitimogretmenController.filteredList}"
						widgetVar="filterTable" rowKey="#{egitimogretmenRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{egitimogretmenController.tableRowSelect}" update=":egitimogretmenForm" />
						<p:ajax event="rowUnselect" listener="#{egitimogretmenController.tableRowCancelSelection}" update=":egitimogretmenForm" />

						<arftags:column val="#{egitimogretmenRow.egitmenRef.UIString}" header="#{label['egitimogretmen.egitmenRef']}" width="33" />
						<arftags:column val="#{egitimogretmenRow.aciklama}" header="#{label['egitimogretmen.aciklama']}" width="33" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{egitimogretmenController}" formName="egitimogretmenForm" listPanelName="egitimogretmenListPanel" pagingOption="true"
						tableName="egitimogretmenTable" addExport="true" addOption="true" updateOption="false" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
