<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="egitimdegerlendirmeForm" prependId="false">
				<arf:masterPanel controllerClassName="#{egitimdegerlendirmeController}" masterLabel="#{label['egitimkatilimci.list']}" modelName="egitimdegerlendirme" />
				<ui:include src="/_page/form/egitim/egitimDetay/egitimdegerlendirme_Edit.xhtml" />

				<p:fieldset legend="#{label['egitimdegerlendirme.list']}" styleClass="pageFieldSet" id="egitimdegerlendirmeListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="egitimdegerlendirmeTable" trigger="egitimdegerlendirmeTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="egitimdegerlendirmeTable" value="#{egitimdegerlendirmeController.list}" var="egitimdegerlendirmeRow"
						binding="#{egitimdegerlendirmeController.table}" rowIndexVar="rowIndex" selectionMode="single" selection="#{egitimdegerlendirmeController.entity}"
						filteredValue="#{egitimdegerlendirmeController.filteredList}" widgetVar="filterTable" rowKey="#{egitimdegerlendirmeRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{egitimdegerlendirmeController.tableRowSelect}" update=":egitimdegerlendirmeForm" />
						<p:ajax event="rowUnselect" listener="#{egitimdegerlendirmeController.tableRowCancelSelection}" update=":egitimdegerlendirmeForm" />
						
						<arftags:column val="#{egitimdegerlendirmeRow.egitimRef.UIString}" header="#{label['egitimdegerlendirme.egitimRef']}" width="25" />
						<arftags:column val="#{egitimdegerlendirmeRow.soru.label}" header="#{label['egitimdegerlendirme.soru']}" width="25" />
						<arftags:column val="#{egitimdegerlendirmeRow.cevap.label}" header="#{label['egitimdegerlendirme.cevap']}" width="25" />
						<arftags:column val="#{egitimdegerlendirmeRow.aciklama}" header="#{label['egitimdegerlendirme.aciklama']}" width="25" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{egitimdegerlendirmeController}" formName="egitimdegerlendirmeForm" listPanelName="egitimdegerlendirmeListPanel"
						pagingOption="true" tableName="egitimdegerlendirmeTable" addExport="true" addOption="false" updateOption="false" deleteOption="false" addSubRecordOption="false"
						exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
