<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:define name="content">
		<h:body>
			<h:form id="egitimkatilimciForm" prependId="false">
				<arf:masterPanel controllerClassName="#{egitimkatilimciController}" masterLabel="#{label['egitim.list']}" modelName="egitimkatilimci" />

				<ui:include src="/_page/form/egitim/egitimDetay/egitimkatilimci_Edit.xhtml" />

				<p:fieldset id="egitimkatilimciFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{egitimkatilimciController.collapsed}"
					legend="#{label['egitimkatilimci.query']}" rendered="#{!egitimkatilimciController.editPanelRendered}">
					<p:ajax listener="#{egitimkatilimciController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:dualtextinputForFilter label="#{label['kisi.ad']} - #{label['kisi.soyad']}" requiredCond="false" compId="kisiad" style="width:80px"
							value="#{egitimkatilimciController.egitimkatilimciFilter.ad}" maxLength="10" id="kisiAdSoyadForFilterDualTextInput" requiredCond2="false" compId2="kisisoyad"
							style2="width:80px" value2="#{egitimkatilimciController.egitimkatilimciFilter.soyad}" maxLength2="10" />

						<arf:dropdownForFilter label="#{label['egitimkatilimci.durum']}" listSource="#{enumeratedController.egitimkatilimciDurumItems}" requiredCond="false" compId="durum"
							value="#{egitimkatilimciController.egitimkatilimciFilter.durum}" id="durumForFilterDropDown" addNullOption="true" />

						<arf:dropdownForFilter label="#{label['egitimkatilimci.katilimbelgesi']}" listSource="#{enumeratedController.katilimbelgesiItems}" requiredCond="false"
							compId="katilimbelgesi" value="#{egitimkatilimciController.egitimkatilimciFilter.katilimbelgesi}" id="katilimbelgesiForFilterDropDown" addNullOption="true" />

						<arf:dropdownForFilter label="#{label['egitimkatilimci.sertifika']}" listSource="#{enumeratedController.sertifikaItems}" requiredCond="false" compId="sertifika"
							value="#{egitimkatilimciController.egitimkatilimciFilter.sertifika}" id="sertifikaForFilterDropDown" addNullOption="true" />

						<arf:textinputForFilter label="#{label['egitimkatilimci.sinavnotu']}" value="#{egitimkatilimciController.egitimkatilimciFilter.sinavnotu}" compId="sinavnotu"
							requiredCond="false" id="sinavnotuForFilterInputText" maxLength="10" />

						<arf:dropdownForFilter label="#{label['egitimkatilimci.sinavbasariDurum']}" listSource="#{enumeratedController.sinavbasariDurumItems}" requiredCond="false"
							compId="sinavbasariDurum" value="#{egitimkatilimciController.egitimkatilimciFilter.sinavbasariDurum}" id="sinavbasariDurumForFilterDropDown" addNullOption="true" />

					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{egitimkatilimciController}" formName="egitimkatilimciForm" listPanelName="egitimkatilimciListPanel"
						filterPanelName="egitimkatilimciFilterPanel" modelName="Egitimkatilimci" />
				</p:fieldset>
				<h:panelGrid id="kalanKontenjanPanelgrid" columns="3">
					<h:outputLabel value="#{label['egitim.kalanKontenjan']}" />
					<h:outputLabel value="   :   " />
					<h:outputLabel value="#{egitimkatilimciController.kalanKontenjan}" />
				</h:panelGrid>
				<p:fieldset legend="#{label['egitimkatilimci.list']}" styleClass="pageFieldSet" id="egitimkatilimciListPanel">
					<h:panelGrid columns="2" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
						<p:commandButton id="egitimdegerlendirmeCommand" process="@this" icon="child" action="#{egitimkatilimciController.egitimdegerlendirme}"
							rendered="#{egitimkatilimciController.listRenderedFor('Egitimdegerlendirme')}" disabled="#{egitimkatilimciController.egitimkatilimci.RID == null}"
							value="#{label['command.egitimdegerlendirme']}" styleClass="arfCommandButton" />
						<p:commandButton id="egitimnotCommand" process="@this" icon="child" action="#{egitimkatilimciController.katilimNotGuncelle}"
							rendered="#{egitimkatilimciController.listRenderedFor('Egitimkatilimci')}" value="#{label['command.egitimnot']}"
							onsuccess="egitimnotDialog.show()" styleClass="arfCommandButton" />
					</h:panelGrid>

					<p:blockUI block="egitimkatilimciTable" trigger="egitimkatilimciTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="egitimkatilimciTable" value="#{egitimkatilimciController.list}" var="egitimkatilimciRow"
						binding="#{egitimkatilimciController.table}" rowIndexVar="rowIndex" selectionMode="single" selection="#{egitimkatilimciController.entity}"
						filteredValue="#{egitimkatilimciController.filteredList}" widgetVar="filterTable" rowKey="#{egitimkatilimciRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{egitimkatilimciController.tableRowSelect}" update=":egitimkatilimciForm" />
						<p:ajax event="rowUnselect" listener="#{egitimkatilimciController.tableRowCancelSelection}" update=":egitimkatilimciForm" />

						<arftags:column val="#{egitimkatilimciRow.kisiRef.UIString}" header="#{label['egitimkatilimci.kisiRef']}" width="12" />
						<arftags:column val="#{egitimkatilimciRow.katilimturu.label}" header="#{label['egitimkatilimci.katilimturu']}" width="12" />
						<arftags:column val="#{egitimkatilimciRow.durum.label}" header="#{label['egitimkatilimci.durum']}" width="12" />
						<arftags:column val="#{egitimkatilimciRow.katilimbelgesi.label}" header="#{label['egitimkatilimci.katilimbelgesi']}" width="12" />
						<arftags:column val="#{egitimkatilimciRow.sertifika.label}" header="#{label['egitimkatilimci.sertifika']}" width="12" />
						<arftags:column val="#{egitimkatilimciRow.sinavnotu}" header="#{label['egitimkatilimci.sinavnotu']}" width="12" />
						<arftags:column val="#{egitimkatilimciRow.sinavbasariDurum.label}" header="#{label['egitimkatilimci.sinavbasariDurum']}" width="12" />
						<arftags:column val="#{egitimkatilimciRow.aciklama}" header="#{label['egitimkatilimci.aciklama']}" width="12" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{egitimkatilimciController}" formName="egitimkatilimciForm" listPanelName="egitimkatilimciListPanel" pagingOption="true"
						tableName="egitimkatilimciTable" addExport="true" addOption="#{egitimkatilimciController.addbuttondisable}" updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
			
			<p:dialog header="#{label['common.detailEdit']}" widgetVar="egitimnotDialog" width="600" height="400"
				style="position:absolute; left:5%; top:5%" modal="true" id="degerlendirmeDialogUpdateBox" visible="#{egitimkatilimciController.egitimNotuPanelAc}" >
				<h:form id="ktlmForm">
					<h:panelGrid columns="2" border="0"  cellspacing="0" cellpadding="0">				
						<c:forEach style="margin-top:10px" id="egitimkatilimciTable" items="#{egitimkatilimciController.list}" var="egitimkatilimciRow" columns="1"> 
			 				<h:column>
				            	<h:outputText value="#{egitimkatilimciRow.kisiRef.UIStringShort} :" styleClass="requiredInputText"  /> 
					        </h:column>
					        <h:column>
					            <p:inputText value="#{egitimkatilimciRow.sinavnotu}" />
					        </h:column>
						</c:forEach> 
					</h:panelGrid>
					<p align="center" style="margin-top: 20px">
						<p:commandButton id="kaydet" icon="save" value="#{label['command.post']}" styleClass="commandButton" action="#{egitimkatilimciController.notVer}"
							update=":degerlendirmeDialogUpdateBox :egitimkatilimciForm :globalMessages" process=":ktlmForm" ajax="true"/>
						<p:commandButton id="iptall" icon="iptal" value="#{label['command.cancel']}" styleClass="commandButton" action="#{egitimkatilimciController.dialogKapat}"
							update=":degerlendirmeDialogUpdateBox :egitimkatilimciForm :globalMessages" process=":ktlmForm" ajax="true"/>
						<br />
					</p>
				</h:form>
			</p:dialog>
		</h:body>
	</ui:define>
</ui:composition>
