<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="egitimdosyaForm" prependId="false">
				<arf:masterPanel controllerClassName="#{egitimdosyaController}" masterLabel="#{label['egitim.list']}" modelName="egitimdosya" />
				<ui:include src="/_page/form/egitim/egitimDetay/egitimdosya_Edit.xhtml" />

				<p:fieldset id="egitimdosyaFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{egitimdosyaController.collapsed}" legend="#{label['egitimdosya.query']}"
					rendered="#{!egitimdosyaController.editPanelRendered}">
					<p:ajax listener="#{egitimdosyaController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:textinputForFilter label="#{label['egitimdosya.ad']}" value="#{egitimdosyaController.egitimdosyaFilter.ad}" compId="ad" requiredCond="false"
							id="adForFilterInputText" maxLength="200" />

					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{egitimdosyaController}" formName="egitimdosyaForm" listPanelName="egitimdosyaListPanel"
						filterPanelName="egitimdosyaFilterPanel" modelName="Egitimdosya" />
				</p:fieldset>
				<p:fieldset legend="#{label['egitimdosya.list']}" styleClass="pageFieldSet" id="egitimdosyaListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="egitimdosyaTable" trigger="egitimdosyaTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="egitimdosyaTable" value="#{egitimdosyaController.list}" var="egitimdosyaRow" binding="#{egitimdosyaController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{egitimdosyaController.entity}" filteredValue="#{egitimdosyaController.filteredList}" widgetVar="filterTable"
						rowKey="#{egitimdosyaRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{egitimdosyaController.tableRowSelect}" update=":egitimdosyaForm" />
						<p:ajax event="rowUnselect" listener="#{egitimdosyaController.tableRowCancelSelection}" update=":egitimdosyaForm" />

						<arftags:column val="#{egitimdosyaRow.ad}" header="#{label['egitimdosya.ad']}" width="33" />
						<arftags:column val="#{egitimdosyaRow.path}" header="#{label['egitimdosya.path']}" width="33" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{egitimdosyaController}" formName="egitimdosyaForm" listPanelName="egitimdosyaListPanel" pagingOption="true"
						tableName="egitimdosyaTable" addExport="false" addOption="#{egitimdosyaController.egitimTanim}" updateOption="#{egitimdosyaController.egitimTanim}" deleteOption="#{egitimdosyaController.egitimTanim}" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
