<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">


	<p:fieldset id="egitimEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['egitim.edit']}" rendered="#{egitimController.editPanelRendered}">
		<h:panelGrid columns="2" columnClasses="elliYuzde, elliYuzde" styleClass="arfEditGrid">

			<arf:textinput label="#{label['egitim.egitimkodu']}" value="#{egitimController.egitim.egitimkodu}" compId="egitimkodu" requiredCond="true" id="egitimkoduInputText" />
			<arf:dropdown label="#{label['egitim.egitimtanimRef']}" listSource="#{egitimController.selectItemListFor('Egitimtanim')}" requiredCond="true" compId="egitimtanimRef"
				value="#{egitimController.egitim.egitimtanimRef}" converterId="#{'egitimtanimConverter'}" id="egitimtanimRefDropDown" />
			<arf:textinput label="#{label['egitim.ad']}" value="#{egitimController.egitim.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="200" />
			<arf:dropdown label="#{label['egitim.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="true" compId="birimRef"
				value="#{egitimController.egitim.birimRef}" converterId="#{'birimConverter'}" id="birimRefDropDown" />
			<arf:textinputarea label="#{label['egitim.yer']}" value="#{egitimController.egitim.yer}" compId="yer" requiredCond="true" id="yerInputText" maxLength="2500" />
			<arf:textinput label="#{label['egitim.kontenjan']}" value="#{egitimController.egitim.kontenjan}" compId="kontenjan" requiredCond="true" id="kontenjanInputText" />
			<arf:dropdown label="#{label['egitim.durum']}" listSource="#{enumeratedController.egitimDurumItems}" requiredCond="true" compId="durum"
				value="#{egitimController.egitim.durum}" id="durumDropDown" addNullOption="true" />
			<arf:calendar label="#{label['egitim.baslangictarih']}" value="#{egitimController.egitim.baslangictarih}" id="baslangictarihCalendar"
				pattern="#{configurationController.dateTimePattern}"  compId="baslangictarih" />
			<arf:calendar label="#{label['egitim.bitistarih']}" value="#{egitimController.egitim.bitistarih}" id="bitistarihCalendar"
				pattern="#{configurationController.dateTimePattern}"  compId="bitistarih" />
			<arf:booleanbox id="yayindaCheckBox" compId="yayinda" styleClass="optionalInputText" value="#{egitimController.yayinda}"
				label="#{label['egitim.yayinda']}" requiredCond="false" checked="true" />
			
		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{egitimController}" formName="egitimForm" listPanelName="egitimListPanel" editPanelName="egitimEditPanel"
			modelName="Egitim" />
	</p:fieldset>

</ui:composition>