<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:define name="content">
		<h:body>
			<h:form id="egitimForm" prependId="false">

				<ui:include src="/_page/form/egitim/egitimDetay/egitim_Edit.xhtml" />

				<p:fieldset id="egitimFilterPanel" toggleable="true" styleClass="pageFieldSet" collapsed="#{egitimController.collapsed}" legend="#{label['egitim.query']}"
					rendered="#{!egitimController.editPanelRendered}">
					<p:ajax listener="#{egitimController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:textinputForFilter label="#{label['egitim.ad']}" value="#{egitimController.egitimFilter.ad}" compId="ad" requiredCond="false" id="adForFilterInputText"
							maxLength="200" />
						<arf:dropdownForFilter label="#{label['egitim.birimRef']}" listSource="#{sessionUser.birimItemList}" requiredCond="false" compId="birimRef"
							value="#{egitimController.egitimFilter.birimRef}" converterId="#{'birimConverter'}" id="birimRefForFilterDropDown" />
						<arf:textinputForFilter label="#{label['egitim.kontenjan']}" value="#{egitimController.egitimFilter.kontenjan}" compId="kontenjan" requiredCond="false"
							id="kontenjanForFilterInputText" />
						<arf:textinputForFilter label="#{label['egitim.sure']}" value="#{egitimController.egitimFilter.sure}" compId="sure" requiredCond="false" id="sureForFilterInputText" />

						<arf:dropdownForFilter label="#{label['egitim.durum']}" listSource="#{enumeratedController.egitimDurumItems}" requiredCond="false" compId="durum"
							value="#{egitimController.egitimFilter.durum}" id="durumForFilterDropDown" addNullOption="true" />

						<arf:calendarForFilter label="#{label['egitim.baslangictarih']}" value="#{egitimController.egitimFilter.baslangictarih}" id="baslangictarihiForFilterCalendar"
							pattern="#{configurationController.datePattern}" requiredCond="false" compId="baslangictarih" />

						<arf:calendarForFilter label="#{label['egitim.bitistarih']}" value="#{egitimController.egitimFilter.bitistarih}" id="bitistarihiForFilterCalendar"
							pattern="#{configurationController.datePattern}" requiredCond="false" compId="bitistarih" />
					</h:panelGrid>
					<arf:filterBottomWithBlockUI controllerClassName="#{egitimController}" formName="egitimForm" listPanelName="egitimListPanel" filterPanelName="egitimFilterPanel"
						modelName="Egitim" />
				</p:fieldset>
				<p:fieldset legend="#{label['egitim.list']}" styleClass="pageFieldSet" id="egitimListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
						<p:commandButton id="egitimkatilimciCommand" process="@this" icon="child" action="#{egitimController.egitimkatilimci}"
							rendered="#{egitimController.listRenderedFor('Egitimkatilimci')}" disabled="#{egitimController.egitim.RID == null}" value="#{label['command.egitimkatilimci']}"
							styleClass="arfCommandButton" />
						<p:commandButton id="egitimdersCommand" process="@this" icon="child" action="#{egitimController.egitimders}" rendered="#{egitimController.listRenderedFor('Egitimders')}"
							disabled="#{egitimController.egitim.RID == null ||  egitimController.durumKontrolForGerceklesen}" value="#{label['command.egitimders']}" styleClass="arfCommandButton" />
						<p:commandButton id="egitimogretmenCommand" process="@this" icon="child" action="#{egitimController.egitimogretmen}"
							rendered="#{egitimController.listRenderedFor('Egitimogretmen')}"
							disabled="#{egitimController.egitim.RID == null || egitimController.durumKontrolForGerceklesen || egitimController.durumKontrolForIptalEdilen}"
							value="#{label['command.egitimogretmen']}" styleClass="arfCommandButton" />
						<p:commandButton id="egitimdosyaCommand" process="@this" icon="child" action="#{egitimController.egitimdosya}"
							rendered="#{egitimController.listRenderedFor('Egitimdosya')}" disabled="#{egitimController.egitim.RID == null  || egitimController.durumKontrolForGerceklesen}"
							value="#{label['command.egitimNotlari']}" styleClass="arfCommandButton" />
						<p:commandButton id="egitimGunleriCommand" process="@this" icon="child" action="#{egitimController.egitimGunleri}"
							rendered="#{egitimController.listRenderedFor('EgitimGunleri')}" disabled="#{egitimController.egitim.RID == null}" value="#{label['command.egitimgunleri']}"
							styleClass="arfCommandButton" />
						<p:commandButton id="degerlendirmeSonucCommand" update=":sonucForm" process="@this" icon="child" action="#{egitimController.degerlendirmesonuclari}"
							rendered="#{egitimController.listRenderedFor('EgitimDegerlendirmeSonucNonEntity')}" onsuccess="egitimdegerlendirmesonucDialog.show()" 
							disabled="#{egitimController.egitim.RID == null}" value="#{label['command.egitimdegerlendirmesonuc']}"
							styleClass="arfCommandButton" />

					</h:panelGrid>

					<p:blockUI block="egitimTable" trigger="egitimTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="egitimTable" value="#{egitimController.list}" var="egitimRow" binding="#{egitimController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{egitimController.entity}" filteredValue="#{egitimController.filteredList}" widgetVar="filterTable" rowKey="#{egitimRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{egitimController.tableRowSelect}" update=":egitimForm" />
						<p:ajax event="rowUnselect" listener="#{egitimController.tableRowCancelSelection}" update=":egitimForm" />

						<arftags:column val="#{egitimRow.egitimkodu}" header="#{label['egitim.egitimkodu']}" width="8" />
						<arftags:column val="#{egitimRow.ad}" header="#{label['egitim.ad']}" width="8" />
						<arftags:column val="#{egitimRow.egitimtanimRef.UIString}" header="#{label['egitim.egitimtanimRef']}" width="8" />
						<arftags:column val="#{egitimRow.kontenjan}" header="#{label['egitim.kontenjan']}" width="8" />
						<arftags:column val="#{egitimRow.durum.label}" header="#{label['egitim.durum']}" width="8" />
						<arftags:column val="#{egitimRow.birimRef.UIString}" header="#{label['egitim.birimRef']}" width="8" />
						<arftags:column val="#{egitimRow.yer}" header="#{label['egitim.yer']}" width="8" />
						<arftags:column val="#{egitimRow.egitimtanimRef.sure}" header="#{label['egitim.sure']}" width="8" />
						<arftags:dateTimeColumn val="#{egitimRow.baslangictarih}" header="#{label['egitim.baslangictarih']}" width="8" />
						<arftags:dateTimeColumn val="#{egitimRow.bitistarih}" header="#{label['egitim.bitistarih']}" width="8" />
						<arftags:column val="#{egitimRow.yayinda.label}" header="#{label['egitim.yayinda']}" width="8" />
						
					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{egitimController}" formName="egitimForm" listPanelName="egitimListPanel" pagingOption="true" tableName="egitimTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
			
			<p:dialog header="#{label['common.detailEdit']}" widgetVar="egitimdegerlendirmesonucDialog" width="1000" height="600"
				style="position:absolute; left:5%; top:5%" modal="true" id="degerlendirmesonucDialogUpdateBox" visible="#{egitimController.degerlendirmesonuclariPanelAc}" >
				<h:form id="sonucForm">
					<h:panelGrid columns="2" border="0"  cellspacing="0" cellpadding="0">				
						
						<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="degerlendirmesonucTable" 
							rowIndexVar="rowIndex" value="#{egitimController.degerlendirmesonuclistesi}" var="degerlendirmesonucRow" >
				 				<p:column headerText="Soru">
					            	<h:outputText value="#{degerlendirmesonucRow.soru.label}"  /> 
						        </p:column>
						        <p:column headerText="Evet Diyen Kişi Sayısı ">
						            <h:outputText value="#{degerlendirmesonucRow.evetsayisi}"  /> 
						        </p:column>
						        <p:column headerText="Hayır Diyen Kişi Sayısı ">
						            <h:outputText value="#{degerlendirmesonucRow.hayirsayisi}"  /> 
						        </p:column>
						        <p:column headerText="Boş Bırakan Kişi Sayısı ">
						            <h:outputText value="#{degerlendirmesonucRow.bossayisi}"  /> 
						        </p:column>
					     </p:dataTable>
					</h:panelGrid>
					
				</h:form>
			</p:dialog>
		</h:body>
	</ui:define>
</ui:composition>
