<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="egitimdersForm" prependId="false">
				<arf:masterPanel controllerClassName="#{egitimdersController}" masterLabel="#{label['egitim.list']}" modelName="egitimders" />
				<ui:include src="/_page/form/egitim/egitimDetay/egitimders_Edit.xhtml" />
				<p:fieldset legend="#{label['egitimders.list']}" styleClass="pageFieldSet" id="egitimdersListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
					</h:panelGrid>
					<p:blockUI block="egitimdersTable" trigger="egitimdersTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="egitimdersTable" value="#{egitimdersController.list}" var="egitimdersRow" binding="#{egitimdersController.table}"
						rowIndexVar="rowIndex" selectionMode="single" selection="#{egitimdersController.entity}" filteredValue="#{egitimdersController.filteredList}" widgetVar="filterTable"
						rowKey="#{egitimdersRow.RID}" resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{egitimdersController.tableRowSelect}" update=":egitimdersForm" />
						<p:ajax event="rowUnselect" listener="#{egitimdersController.tableRowCancelSelection}" update=":egitimdersForm" />

						<arftags:column val="#{egitimdersRow.egitimogretmenRef.UIString}" header="#{label['egitimders.egitimogretmenRef']}" width="25" />
						<arftags:dateTimeColumn val ="#{egitimdersRow.zaman}" header="#{label['egitimders.zaman']}" width="25" />
						<arftags:column val="#{egitimdersRow.aciklama}" header="#{label['egitimders.aciklama']}" width="25" />
						<arftags:column val="#{egitimdersRow.sure}" header="#{label['egitimders.sure']}" width="25" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{egitimdersController}" formName="egitimdersForm" listPanelName="egitimdersListPanel" pagingOption="true"
						tableName="egitimdersTable" addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" exportToWord="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
