<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column">

	<p:fieldset id="gorevEditPanel" toggleable="false" styleClass="pageFieldSet" legend="#{label['gorev.edit']}" rendered="#{gorevController.editPanelRendered}">
		<h:panelGrid columns="1" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">

			<arf:dropdown label="#{label['gorev.ustRef']}" listSource="#{gorevController.selectItemListFor('Gorev')}" requiredCond="false" compId="ustRef"
				value="#{gorevController.gorev.ustRef}" converterId="#{'gorevConverter'}" id="ustRefDropDown" />

			<arf:textinput label="#{label['gorev.ad']}" value="#{gorevController.gorev.ad}" compId="ad" requiredCond="true" id="adInputText" maxLength="50" />

			<arf:textinput label="#{label['gorev.aciklama']}" value="#{gorevController.gorev.aciklama}" compId="aciklama" requiredCond="false" id="aciklamaInputText" maxLength="500" />

		</h:panelGrid>

		<arf:editPanelBottomWithBlockUI controllerClassName="#{gorevController}" formName="gorevForm" listPanelName="gorevListPanel" editPanelName="gorevEditPanel" modelName="Gorev" />
	</p:fieldset>

</ui:composition>