<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="gorevForm" prependId="false">

				<ui:include src="/_page/form/gorev/gorev_Edit.xhtml" />

				<arf:treePage controllerClassName="#{gorevController}" formName="gorevForm" panelName="gorevTreePanel" modelName="gorev" listLabel="#{label['gorev.list']}"
					treeLabel="#{label['gorev.tree']}" />
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
