<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:arf="http://java.sun.com/jsf/composite/arfComposite" xmlns:arftags="http://arf.com/column" template="/_page/_main/main.xhtml">

	<ui:define name="content">
		<h:body>
			<h:form id="gorevForm" prependId="false">

				<ui:include src="/_page/form/gorev/gorev_Edit.xhtml" />

				<p:fieldset id="gorevFilterPanel" toggleable="true" styleClass="pageFieldSet" legend="#{label['gorev.query']}" rendered="#{!gorevController.editPanelRendered}">
					<p:ajax listener="#{gorevController.onToggle}" event="toggle" />
					<h:panelGrid columns="3" columnClasses="otuzUcYuzde, otuzUcYuzde, otuzUcYuzde" styleClass="arfEditGrid">
						<arf:dropdown label="#{label['gorev.ustRef']}" listSource="#{gorevController.selectItemListFor('Gorev')}" requiredCond="false" compId="ustRefForFilter"
							value="#{gorevController.gorevFilter.ustRef}" converterId="#{'gorevConverter'}" id="ustRefForFilterDropDown" />

						<arf:textinput label="#{label['gorev.ad']}" value="#{gorevController.gorevFilter.ad}" compId="adForFilter" requiredCond="false" id="adForFilterInputText" maxLength="50" />

					</h:panelGrid>

					<arf:filterBottomWithBlockUI controllerClassName="#{gorevController}" formName="gorevForm" listPanelName="gorevListPanel" filterPanelName="gorevFilterPanel"
						modelName="Gorev" />
				</p:fieldset>

				<p:fieldset legend="#{label['gorev.list']}" styleClass="pageFieldSet" id="gorevListPanel">
					<h:panelGrid columns="10" border="0" style="text-align:center" cellspacing="0" cellpadding="0">
						<p:commandButton id="gorevTreeCommand" process="@this" style="width:100px" action="#{gorevController.treePage}" icon="tree" rendered="#{gorevController.listRendered}"
							value="#{label['gorev.tree']}" styleClass="arfCommandButton" />

					</h:panelGrid>
					<p:blockUI block="gorevTable" trigger="gorevTable">
						<h:outputText value="#{label['common.loading']}" />
						<br />
						<h:graphicImage library="_image" name="ajax-loader.gif" />
					</p:blockUI>
					<p:dataTable emptyMessage="#{label['primefaces.noRecordFound']}" style="margin-top:10px" id="gorevTable" value="#{gorevController.list}" var="gorevRow" binding="#{gorevController.table}" rowIndexVar="rowIndex"
						selectionMode="single" selection="#{gorevController.entity}" filteredValue="#{gorevController.filteredList}" widgetVar="filterTable" rowKey="#{gorevRow.RID}"
						resizableColumns="false">

						<p:ajax event="rowSelect" listener="#{gorevController.tableRowSelect}" update=":gorevForm" />
						<p:ajax event="rowUnselect" listener="#{gorevController.tableRowCancelSelection}" update=":gorevForm" />

						<arftags:column val="#{gorevRow.ustRef.UIString}" header="#{label['gorev.ustRef']}" width="33" />
						<arftags:column val="#{gorevRow.ad}" header="#{label['gorev.ad']}" width="33" />
						<arftags:column val="#{gorevRow.aciklama}" header="#{label['gorev.aciklama']}" width="33" />

					</p:dataTable>

					<arf:pagingWithBlockUI controllerClassName="#{gorevController}" formName="gorevForm" listPanelName="gorevListPanel" pagingOption="true" tableName="gorevTable"
						addExport="true" addOption="true" updateOption="true" deleteOption="true" addSubRecordOption="false" />
				</p:fieldset>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
